[2016-04-26 15:59] thisandagain opened #1 "Create Event - Handle blocks with a "next" connection"
#### Use Case
- Assemble a stack of multiple blocks
- Drag to trash
- Undo

[2016-04-26 16:01] thisandagain opened #2 "Remove memoize"

[2016-04-26 16:10] thisandagain opened #3 "Convert to ES6"
Sort out tests and node support for ES6 to ensure that we can still run tests / run the vm headless.

[2016-04-29 20:23] tmickel opened #6 "Add framework for running primitives"

[2016-04-29 20:24] tmickel opened #7 "Connecting to block run events and feedback"
- [x] - Tapping a block toggles its stack
- [x] - Tapping green flag/stop button affects threads
- [x] - Running a block feeds back the stack and block highlight events

[2016-04-29 20:25] tmickel opened #8 "Implementation of control flow primitives"
- [x] - Repeat
- [x] - Forever
- [x] - Wait - addressed in PR, minus arguments
- [x] - Stop
- [x] - Broadcasts
- [x] - Green flag (no-op)

[2016-05-02 22:11] #7 closed, assigned to tmickel

[2016-05-02 22:15] tmickel opened #14 "Something seems wrong with MOVE, possibly"
Inserting blocks into the middle of the stack doesn't seem to be working correctly. The right things are not being executed, and I suspect it is related to MOVE

[2016-05-02 22:25] tmickel opened #15 "Glow behavior when moving around stacks"
Scratch-blocks is very simple about what stacks are glowed - you just tell it which ones to do and it will do it. We need to build in some smart behavior to the VM for when you are moving around executing blocks, which stacks should be glowed. For example, if you start executing a stack, let the execution point go to the bottom of the stack, and then pull off the bottom, the bottom will still be e

[2016-05-02 22:25] #6 closed, assigned to cwillisf

[2016-05-03 02:45] tmickel opened #17 "Not all stacks appear to stop at the same time"
Check out this video:
https://www.dropbox.com/s/k9klrgmntbitr2d/stop.mov?dl=0

At the 3s mark, I hit the stop button. What's going on?

[2016-05-03 18:14] #17 closed, assigned to nobody

[2016-05-03 18:17] tmickel opened #21 "Field values appear to be null"
@thisandagain

[2016-05-03 18:17] #21 closed, assigned to nobody

[2016-05-03 18:37] tmickel opened #23 "Blocks in flyout are actually not running"
Probably because they're not represented in `runtime.stacks`

[2016-05-03 18:37] tmickel opened #24 "Yielding block still glows after thread is stopped"

[2016-05-03 18:59] #8 closed, assigned to tmickel

[2016-05-03 19:56] tmickel opened #27 "Yield at the end of a substack"

[2016-05-03 19:58] #23 closed, assigned to nobody

[2016-05-03 20:44] tmickel opened #29 "Stop motor on red stop button/stop block"

[2016-05-03 20:45] tmickel opened #30 "Implement distance trigger block"

[2016-05-03 20:45] tmickel opened #31 "Take out block glows"

[2016-05-03 20:45] #24 closed, assigned to nobody

[2016-05-03 20:46] tmickel opened #32 "Add time-delay to LED block"

[2016-05-03 21:43] #29 closed, assigned to tmickel

[2016-05-03 21:43] #30 closed, assigned to tmickel

[2016-05-03 21:43] #31 closed, assigned to tmickel

[2016-05-03 21:43] #32 closed, assigned to tmickel

[2016-05-03 21:54] thisandagain opened #34 "WeDo - Double check RGB values for set color block"
Some of the drop-down values don't seem to match up:
- Yellow
- Orange
- Red
- White

[2016-05-03 22:01] tmickel opened #35 "Turn down intervals"
Until we can implement the VM in a WebWorker, running as much computation as we are seems to be hanging the main UI thread...this is mostly visible when dragging blocks around. It won't make it as perfect as we can, but we could improve it slightly by making the blocks execute for less ms.

[2016-05-05 13:02] #34 closed, assigned to thisandagain

[2016-05-05 13:03] #14 closed, assigned to thisandagain

[2016-05-05 17:10] #35 closed, assigned to tmickel

[2016-05-05 17:13] tmickel opened #38 "Distance sensor actually seems not working"

[2016-05-05 19:48] tmickel opened #39 "Strange behavior when running multiple motor blocks at once"
Start the first motor block, then a second. The first one never stops running.

Another possibly the same, possibly different problem: start two motor blocks in a forever. Then start a third motor block. Forever behaves strangely.

[2016-05-05 22:10] tmickel opened #40 "Behavior on tap running stack"
This is something that I think we need to resolve eventually. Right now in Scratch, if you click a running stack, that stack stops. But what happens if it was running a long-running block, like "motor on for 5 secs"? In our current model, the motor would stay on, I think... Perhaps tapping a running stack shouldn't stop it, or we need to think about how to implement stopping it.

[2016-05-09 17:55] #38 closed, assigned to thisandagain

[2016-05-09 18:34] #39 closed, assigned to tmickel

[2016-05-10 16:54] tmickel opened #43 "VM playground"
To accelerate VM playing and develop, we'd like to create a "VM playground."

This will link to scratch-blocks and pre-load a bunch of blocks. Ideally I'd like to create a small tool to explore the AST, step execution and explore the internal state, etc.

[2016-05-19 07:45] greenSnot opened #44 "src/engine/sequencer.js bug?"
What's this in row 68 of src/engine/sequencer?
`activeThread.status === Thread.STATUS_RUNNING;`

[2016-05-23 16:46] tmickel commented on #44
That is a very good question and looks like a bug to me as well.

We wrote this code very quickly to prepare for a prototype demo, hopefully we'll get it fixed up :)

[2016-05-23 16:53] tmickel opened #45 "Restructure code-running to handle arguments"
Currently, args are patched in for our horizontal prototype implementation.

We need to run `blockFunction` with some recursive evaluation so that args are processed before being passed to the outer block.

[2016-05-23 16:54] tmickel opened #46 "Reconsider YieldTimer infrastructure"
We created this infrastructure quickly to try to support the WeDo prototype. I think it should support our thread timing needs, but we'd like to have a discussion about it before we start building on it too deeply, as it's a little bit messy.

[2016-05-23 16:55] tmickel commented on #27
For the right behavior, I think the equivalent is `isLoop` in scratch-flash.

[2016-05-23 16:57] tmickel commented on #44
Permalink: https://github.com/LLK/scratch-vm/blob/2d834de76603756038b46d693c1840f7fd13253d/src/engine/sequencer.js#L68

[2016-05-26 06:22] greenSnot commented on #44
also: https://github.com/LLK/scratch-vm/blob/2d834de76603756038b46d693c1840f7fd13253d/src/engine/sequencer.js#L63  The condition will always be false because of line 55.

[2016-06-01 17:17] #43 closed

[2016-06-01 17:23] tmickel commented on #1
The current behavior when doing the steps above is a TypeError:

[2016-06-01 17:24] tmickel opened #49 "Add block running to playground"
- [x] Green flag and stop buttons as a stub
- [x] Tapping on blocks makes them run
- [x] Blocks feedback with glowing stacks

[2016-06-01 17:26] tmickel opened #50 "Support multiple fields in block representation tree."
Currently, only one field/shadow block is present in the VM's representation. For example, create an addition block. The left field is shown in the tree; the right one is not there.

[2016-06-01 17:28] tmickel opened #51 "Blocks are sometimes not destroyed properly from representation tree"
This seems to happen mostly when you drag a reporter into a shadow block slot.

To reproduce:
-Create a "repeat" block.
-Create an addition block.
-Drag the addition block into the repeat block's shadow space.
-Delete the repeat.

The addition block is still present in the VM's representation.

[2016-06-01 17:41] tmickel commented on #51
Related: on step three of this reproduction (dragging addition into repeat's shadow), an error occurs and the tree appears corrupted:

[2016-06-01 19:45] tmickel opened #56 "Use more accurate timing with performance.now()"
See: https://developer.mozilla.org/en-US/docs/Web/API/Performance/now

Should be polyfilled when not available.

[2016-06-07 16:04] #49 closed, assigned to tmickel

[2016-06-07 17:29] #1 closed

[2016-06-07 17:29] #50 closed, assigned to tmickel

[2016-06-07 17:29] #51 closed, assigned to tmickel

[2016-06-07 17:31] tmickel opened #59 "Refactor change listeners into blocks.js"
These are in index.js currently and have some duplicated code for flyout vs. workspace blocks. Ideally I'd like to refactor it and move it into the Blocks module.

[2016-06-08 20:30] tmickel commented on #2
I'd like to better understand what memoization does for us here. Mostly every time we add a new block it will have a new ID, I think, making the memoization not really help. I think it should save some CPU for undo/redo but at a cost of quite a bit of keeping XML trees around in memory?

[2016-06-08 20:31] tmickel commented on #46
Decision for now: I'd like to remove it until we see the timing issues with not checking timers in the middle of a work period.

[2016-06-08 20:32] tmickel commented on #45
I have a good start on this, will put it in as soon as we land the other PRs.

Firstly, it refactors execution into its own file and function that can be called recursively.

[2016-06-08 20:32] tmickel opened #64 "Split scratch3.js blocks into scratch3_control, scratch3_event."

[2016-06-08 20:33] tmickel opened #65 "Single-stepping debug mode"
It would be great to have a mode of execution where things are stepped by a button in the VM playground. The button would essentially call stepThreads() with a tiny WORK_TIME, to proceed one block per thread every time the button is pushed.

In the long run, it would be good to have single-stepping mode a la Scratch 1.4

[2016-06-08 20:35] tmickel opened #66 "Add targets associated with blocks and execution context"
Need to figure out how to associate blocks with particular targets. As part of this, it would be good to create the "sprite manager" as per our plans, which will store the master copy of data pertaining to all sprites, including x/y position, current costume, etc., and pass this along to the renderer on every frame.

[2016-06-08 20:58] #59 closed, assigned to tmickel

[2016-06-08 21:05] thisandagain commented on #2
After looking at this more deeply I agree. I think we should pull it.

[2016-06-08 21:06] thisandagain commented on #65
👍

[2016-06-08 21:32] tmickel opened #69 "Errors after hooking up flyout events to VM"
almost definitely related to my changes. And possibly how flyout blocks produce weird events.

Also, sometimes:
`vm.js:1391 Uncaught TypeError: Cannot set property 'topLevel' of undefined`

and stacks appears out of sync...

What happened :)

[2016-06-09 03:22] tmickel commented on #69
aahhh!

When blocks are dragged from the flyout, a new CREATE event is generated for them - with a different workspaceId. But then, a DELETE event is fired for the old block in the flyout - which has the same block ID, but a different workspaceId.

Our implementation doesn't consider workspaceId because I assumed the blocks in the flyout would have unique IDs vs. the blocks in the workspace. Not s

[2016-06-09 03:23] tmickel commented on #69
Oh, actually we never saw this in the prototype because flyout blocks were never created/destroyed after the first display of the flyout. This is only really a problem with category switches.

[2016-06-09 12:37] thisandagain commented on #69
Yikes. Tracking the workspace ID along with the block seems like a reasonable way to deal with it. This and #46 might be nice to talk about today.

[2016-06-09 12:49] thisandagain commented on #56
https://github.com/nicjansma/usertiming.js appears to be a decent / maintained polyfill.

Also: https://www.npmjs.com/package/perfnow

[2016-06-09 15:39] tmickel commented on #69
Other options include:
- Modify Blockly to generate a new unique ID for blocks when they're dragged from the flyout to the workspace.
- Tack on workspace ID to block ID in the VM representation (e.g., "workspaceId:blockId") and make sure to parse this correctly as it's going in and out.

[2016-06-09 15:50] #64 closed, assigned to tmickel

[2016-06-10 17:51] tmickel opened #73 "Mark statement inputs in the block representation; update `getInputs` and `getSubstack`"
See discussion: https://github.com/LLK/scratch-vm/pull/72#discussion_r66647273

[2016-06-13 15:03] tmickel opened #74 "Naming of "stack", "substack", "thread.stack", etc."
Some of these names are not like the other. Notably, the "thread stack" is a very different thing from the "block stack." This naming situation has led to awkward situations, like pushing the stack to the stack.

We couldn't immediately decide on what better name to use (original discussion: https://github.com/LLK/scratch-vm/pull/72/files#r66675817) - continuing the discussion here.

[2016-06-13 15:04] tmickel opened #75 "Remove try/catch around block execution"
https://github.com/LLK/scratch-vm/pull/72/files#r66794061

Two reasons:
1. It's not that helpful yet until we have actual extensions implemented.
2. The worry about it being a performance killer.

[2016-06-13 15:14] #45 closed, assigned to tmickel

[2016-06-13 15:16] tmickel commented on #44
I believe this is addressed in the refactor we just merged. Thanks again for the report!

[2016-06-13 15:16] #44 closed, assigned to nobody

[2016-06-13 15:16] tmickel commented on #73
Also related to #74 (should probably wait until we resolve that).

[2016-06-13 15:26] tmickel opened #77 "Implement yielding reporters that return values"
An example of a block that needs this is an "HTTP request" extension block.

How should it work?

Perhaps,
- Mark the thread as yielded, and don't pop the stack to make sure flow control waits on that block.
- Add a `util.report` function that the primitive can execute when it's ready.
- `util.report` somehow bubbles up its value into the caller's arguments object.
- Make sure each reporter is onl

[2016-06-13 15:28] tmickel opened #78 "Implement yielding reporters that block all threads"
(e.g., "color touching color" across a thread boundary).

In Scratch 1.0/2.0, this is handled by ensuring that all operations that need to block all threads are actually performed synchronously. So, one way would be to make sure that the reporter doesn't give up the JS execution thread until it gets its answer (while loop?). The other way would be to have a flag on `util.yield` that specifically d

[2016-06-13 15:30] tmickel opened #79 "Implement custom reporters"
We can create a couple of stub blocks in scratch-blocks and start working on this right away, I think.

[2016-06-13 22:08] towerofnix commented on #79
Title is slightly confusing.. @tjvr noted this: https://scratch.mit.edu/discuss/post/2044070/

[2016-06-13 22:14] tmickel commented on #79
Sorry - I definitely don't mean for this to be a certain confirmation. We have a lot of work to do to determine if it will be included in Scratch 3.0.

But, we want to get started playing with the idea in scratch-vm to make sure we at least have the right code structure in its early stages to support things for this (I did mean "custom reporters").

I appreciate the excitement though :)

[2016-06-13 22:51] rachel-fenichel commented on #74
"substack" -> "branch"?

[2016-06-14 22:20] tmickel commented on #74
I actually like the name "branch" quite a bit - especially with the VM metaphor :)

For the record, here are all the option we've mentioned:
1. block stacks and substacks (called this in 2.0)
2. "connected statement input" like blockly
3. "block statement" like JS (loaded terms...)
4. "compound statement"
5. "connected statement"
6. "sequence" and "subsequence"
7. and "branch"

another one we coul

[2016-06-15 00:25] NoMod-Programming commented on #65
If I may add some insight into this, it might be a good idea to add a slider for speed in a "single-stepping" mode, that way, rather than having to use a button, which can be very cumbersome for large projects, or using a predetermined speed, which may not be the speed needed for debugging a part of a project, the user can choose his/her own speed.

[2016-06-16 17:07] tmickel opened #82 "Use WebWorker when possible"
If WebWorkers are available, it would be great to launch the VM in a worker thread instead of in the main thread. It would be good to do this as soon as possible, so we make sure our implementation isn't accidentally doing main-thread-only tasks, and so that we get the timing right across the two threads.

[2016-06-17 15:37] #75 closed, assigned to nobody

[2016-06-20 19:17] tmickel opened #84 "Implement "wait until""
Best to do this right away, as it's bending my mind a little bit with our current set-up.

[2016-06-20 19:20] tmickel commented on #84
Actually, here is an odd implementation:

This relies on the fact that calling `util.startSubstack` when there is none will push null to the stack, and then wait_until will get executed again when it gets popped. Not elegant, but maybe this block is the "special" case. Suggestions welcome.

[2016-06-20 20:11] tmickel commented on #84
Maybe it would be good to have some kind of flag that says, "return to this block."

[2016-06-22 14:13] tmickel commented on #2
P.S. I think the introduction of the WebWorker makes us need the htmlparser. Because the XML object passed along by Blockly isn't serializable (? - although I haven't fully investigated this exactly), I passed through the XML string instead whiich is parsed inside the worker using your implementation. The memoize, though, I think we still don't need :)

[2016-06-22 16:30] #82 closed, assigned to nobody

[2016-06-29 16:22] itselijahciali opened #86 "Repeat until should be avaliable"
<img width="121" alt="screen shot 2016-06-29 at 11 17 58 am" src="https://cloud.githubusercontent.com/assets/16740188/16460044/2cd7d97a-3deb-11e6-970e-912df80f6882.png">
I think we need [repeat until (...)] blocks in ["scratch3_control.js"](https://github.com/LLK/scratch-vm/blob/develop/src/blocks/scratch3_control.js) `'control_repeat_until': this.repeatUntil`?

[2016-06-29 16:25] tmickel commented on #86
Yep - lots of blocks still need implementation! :)

[2016-06-29 18:27] tmickel commented on #74
@cwillisf @thisandagain Any more thoughts on this? I'm leaning toward "branches."

[2016-06-30 21:54] tmickel commented on #78
Team decided not to do this.

[2016-06-30 21:54] #78 closed, assigned to tmickel

[2016-07-01 11:53] #46 closed, assigned to tmickel

[2016-07-01 11:54] #77 closed, assigned to tmickel

[2016-07-01 15:43] tmickel commented on #27
This seems to only happen if the inside of the substack is not empty.

[2016-07-01 16:36] tmickel commented on #27
Actually, this is `interp.redraw`: a yield only happens if some block caused something visual inside the substack. Talked to Chris and we think we should reproduce this somehow.

[2016-07-03 07:15] jeandrek opened #88 "Empty repeat (for values more than 0) runs forever"
Repeat blocks with values more than zero always run forever, the loopCounter never goes down:
![screenshot from 2016-07-03 19-12-44](https://cloud.githubusercontent.com/assets/13597222/16544234/348d0a90-4152-11e6-9e4d-416d716360cf.png)
My browser / operating system: Linux, Firefox 50.0, Flash 11.2 (release 202)

[2016-07-03 13:51] tmickel commented on #88
Specifically seems to be empty loops - thanks for the report.

[2016-07-05 14:55] tmickel opened #89 "Implement `interp.redraw` equivalent"
In Scratch 2.0, there's a global interpreter flag that tracks whether a block has triggered a sprite's drawn representation to become out-of-date. E.g, a "move 10 steps" block would trigger redraw, but a "set var to 20" wouldn't. The value of this flag determines whether or not a loop yields at the end of a frame (if the interpreter isn't in turbo mode). We need an equivalent flag in scratch-vm, a

[2016-07-13 21:00] tmickel opened #90 "Add block listeners to flyout workspace"
- [x] 1. Context menu needs messages (currently shows up empty).
- [x] 2. Host from 0.0.0.0 instead of 127.0.0.1.
- [x] 3. Add documentation about `make serve`.
- [x] 4. Add a redirect from / to /playground by default
- [ ] 5. Add listeners for the flyout workspace. The underlying issue has been fixed in scratch-blocks, so this should be possible now.

[2016-07-13 21:00] tmickel opened #91 "Deleting a script while it's running is broken"
Currently it basically crashes the entire VM until you stop it manually by clicking the button.

[2016-07-13 21:03] tmickel commented on #90
5. Add listeners for the flyout workspace. The underlying issue has been fixed in scratch-blocks, so this should be possible now.

[2016-07-14 19:22] tmickel opened #92 "Dealing with hat blocks"
How should these be handled in the VM? Should they be done like Scratch 2.0 (where there's an imperative method like `allHatsDo`), more like Scratch extensions (asynchronous vs. synchronous), or some mix?

[2016-07-14 19:42] tmickel opened #93 "Implement project timer"
For the "timer" blocks.
- [ ] Starts counting when the VM is loaded.
- [ ] Resets when a green flag event happens.

[2016-07-14 19:44] tmickel opened #94 "Feed keyboard events from document into VM worker"
To enable the implementation of those blocks.

[2016-07-14 21:23] CosmicWebServices opened #95 "Not on npm?"
![screen shot 2016-07-14 at 5 22 30 pm](https://cloud.githubusercontent.com/assets/10731781/16856354/af2d47ae-49e7-11e6-91fc-88782d24abcd.png)

[2016-07-15 02:03] towerofnix commented on #92
Here are a couple ideas (I know nothing about the VM, so this is pretty much JS pseudocode):

[code]

[code]

The second here is in my opinion better, because for something like this:

![scratchblocks](https://cloud.githubusercontent.com/assets/9948030/16861304/d5805c60-4a15-11e6-9708-43d032768a08.png)

..only one item will be added to `a list`, assuming `broadcast` doesn't cause a yield.

Which i

[2016-07-15 02:19] tmickel commented on #92
Those are all pretty intriguing, thanks! I really personally like your version 2, with the explicit activation. To me that maps pretty well to what hats "seem" to do.

Of course, we need to consider cases like "when loudness > ..." For these cases, something needs to be looking at the sensor data and triggering hats when necessary. Not sure in our current framework where that should live, and whet

[2016-07-15 11:09] towerofnix commented on #92
"when () > ()" shouldn't be too hard to implement - there are two ways:

[code]

[code]

The second would probably be more efficient because it only has one interval, and I'd write the interval creation right below the "when" hat definition (probably in some `vm-on-ready () => vm-on-tick`, again I don't know much about how scratch-vm currently works [:) )](https://xkcd.com/541/).

EDIT: Aren't all

[2016-07-22 17:15] tmickel commented on #95
Correct - the project is a major work in progress :) We'll probably add it once we have more features implemented.

[2016-07-22 18:24] CosmicWebServices commented on #95
OK!

[2016-07-22 19:06] tmickel opened #96 "2.0 loader"
We'd like a 2.0 loader as soon as feasible, so we can start testing things out.
1. Online loader from projects API, including:
2. Load blocks into new blocks structure (including: map old opcodes to new ones), and flow those to scratch-blocks. Flowing to scratch-blocks requires multiple workspaces (multiple sprites).
3. Load sprites into new sprites/targets/clones structure
4. Load SB2s (e.g., JSZ

[2016-08-08 17:37] thisandagain commented on #95
I updated the `README.md` instructions to reflect the proper path for installing the VM until it is released.

[2016-08-08 17:37] #95 closed, assigned to nobody

[2016-08-08 21:27] thisandagain opened #97 "Pen Size Limit"
_Does this belong in scratch-vm?_

In Scratch 2.0, pen size was limited to 255 due to a technical limitation of Flash (see [here](https://github.com/LLK/scratch-flash/blob/5cff62b909856b7d7b3d116a5dcc2b4f03de8482/src/scratch/ScratchSprite.as#L264)). This limit was not imposed in Scratch 1.4. Has any consideration been made as to whether this limit will remain in Scratch 3? The only real reason it

[2016-08-08 21:45] mrjacobbloom commented on #97
Another use case: I tried to re-create Agar.io in Scratch once, and for most characters I used one pen dot for each character, but for large characters I had to use a circle-drawing algorythm

[2016-08-08 21:55] thisandagain commented on #74
👍  for "branches".

[2016-08-09 12:23] tmickel commented on #27
Done except for #89

[2016-08-09 12:23] #27 closed

[2016-08-09 12:23] #66 closed, assigned to tmickel

[2016-08-09 12:24] tmickel commented on #86
An initial implementation is merged.

[2016-08-09 12:24] #86 closed, assigned to tmickel

[2016-08-09 12:25] tmickel commented on #88
Now fixed.

[2016-08-09 12:25] #88 closed, assigned to nobody

[2016-08-09 12:26] tmickel commented on #74
Cool - I think it still makes sense to me. Will do that refactor.

[2016-08-09 13:29] #2 closed

[2016-08-10 15:40] tmickel commented on #73
Hmmm... it seems like it might be impossible to reconstruct this data (e.g., an `isBranch` boolean) from what Blockly gives us. If the statement input is created during a CREATE event, it's easy (since the XML includes whether it's a statement or value input). But, if a block is moved into a statement input during editing, we can't tell if it's a value input or a statement input. Because the origi

[2016-08-10 16:08] tmickel commented on #69
We've fixed the problem in `scratch-blocks` by ensuring blocks always have a unique ID.

[2016-08-10 16:08] #69 closed, assigned to tmickel

[2016-08-10 17:16] #74 closed, assigned to tmickel

[2016-08-12 12:17] thisandagain opened #103 "Test Coverage - Blocks & Utils"
## Blocks
- [x] ./src/blocks/scratch3_operators.js
## Utilities
- [x] ./src/util/cast.js
- [x] ./src/util/color.js
- [x] ./src/util/math-util.js
- [x] ./src/util/timer.js
- [x] ./src/util/uid.js
- [x] ./src/util/xml-escape.js

[2016-08-16 19:59] tmickel commented on #93
initial version completed!

[2016-08-16 19:59] #93 closed, assigned to nobody

[2016-08-19 13:52] dekrain opened #106 "Cannot install on Windows"
NPM logs:

[code]

where `<profile>` is my profile name

[2016-08-22 15:38] tmickel commented on #106
@cwillisf Have you seen something like this before?

[2016-08-22 18:27] cwillisf commented on #106
Hmm... I haven't seen this myself, no. I just tried installing `scratch-vm` with `npm install` on Windows and it went OK for me in a command prompt, but didn't work correctly in a Cygwin shell. It looks like the error I see in Cygwin could be related to what @dekrain is seeing, but it's not quite the same (see below).

@dekrain, one thing you might try is to clear your NPM cache (in `C:\Users\<pro

[2016-08-23 17:05] dekrain commented on #106
I updated npm and **I added git to %path%**
I got a message:

[code]

[2016-08-23 17:06] dekrain commented on #106
In my directory, only `node_modules` dir and package.json was created
Versions of git and npm was the same like above

[2016-08-23 19:35] tmickel commented on #92
Some initial notes:
- [x] - Some hats will restart existing threads (flag clicked, sprite clicked, etc.) and some won't (when key pressed, when _ > _).
- [x] - Some hats are event-triggered (flag clicked, sprite clicked, etc.) and some are edge triggered (when _ > _), which means it's only activated when a value crosses the boundary.
- [x] - Some hats are activated by a caller with matching "param

[2016-08-23 20:38] cwillisf commented on #106
@dekrain good news: it looks like it worked! Check in `node_modules/scratch-vm` and you should see all the `scratch-vm` files. You can also try the instructions from the [README.md](https://github.com/LLK/scratch-vm#readme) to play around with the VM now.

Note that installing `scratch-vm` with `npm install` is best if you'd like to use `scratch-vm` as a part of your own application or library, bu

[2016-08-24 14:25] dekrain commented on #106
When i use `npm install` on downloaded repository, logs:

[code]

,but with cleaned cache, it crash (nothing do)

[2016-08-24 16:12] dekrain commented on #106
Wait, after this message, after waiting a while, finally it worked :smile:

[2016-08-24 16:12] #106 closed, assigned to nobody

[2016-08-24 16:20] dekrain opened #108 "[win] [make] On windows, commands with slash don't working"
example:

[code]

didn't working because of `/` is not `\`

[2016-08-24 16:27] tmickel commented on #108
Hmmm, @thisandagain, any experience with this? I imagine if we switch it to `\`, it would break on OS X/Linux...

[2016-08-24 16:40] dekrain commented on #108
It can be generated automatically, easy be replaced with regexp

[2016-08-24 17:53] dekrain opened #109 "Inputs not loading"
When I click any category, "warning" in console apears:

[code]

screen:
![block bug](https://cloud.githubusercontent.com/assets/19158291/17941597/5a38422c-6a34-11e6-874a-d3327bb678d5.png)

[2016-08-24 17:55] tmickel commented on #109
I think your copy of scratch-blocks is on the "master" branch (500+ commits behind the "develop" branch). If you go to node_modules/scratch-blocks and `git checkout develop`, you will probably have a better time :)

[2016-08-24 18:01] dekrain commented on #109
no, I downloaded `scratch-vm-develop.zip` and I used `npm install`

[2016-08-24 18:06] tmickel commented on #109
your copy of scratch-blocks (not scratch-vm) is definitely out of date. I think `npm install` installs master by default (not sure why) @thisandagain

[2016-08-24 18:06] tmickel commented on #109
yep - but that was installing master, not develop. your screenshot above is definitely showing an out-of-date copy of scratch-blocks.

I think I fixed it in our `package.json`: https://github.com/LLK/scratch-vm/commit/6d773076c517cd8a29fdea900892f07636bb363f

So you can fix this by either switching branches, or redownload and run `npm install` again.

[2016-08-24 18:13] dekrain commented on #109
Yes, It's fine :)

[2016-08-24 18:13] #109 closed, assigned to nobody

[2016-08-24 19:46] dekrain opened #110 "Update readme"
## scratch-vm
#### Scratch VM is a library for representing, running, and maintaining the state of computer programs written using [Scratch Blocks](https://github.com/LLK/scratch-blocks).

[![Build Status](https://travis-ci.org/LLK/scratch-vm.svg?branch=develop)](https://travis-ci.org/LLK/scratch-vm)
[![Dependency Status](https://david-dm.org/LLK/scratch-vm.svg)](https://david-dm.org/LLK/scratch-v

[2016-08-25 12:48] tmickel commented on #110
Would you mind reopening this as a pull request, or otherwise just list what you changed? Can't see the difference here :) thanks!

[2016-08-25 12:48] #110 closed, assigned to nobody

[2016-08-25 15:28] thisandagain commented on #108
@tmickel I've run into this a number of times (particularly at Mozilla). Here is a good overview:
https://gist.github.com/domenic/2790533

TL;DR: We may want to move much of what is in our `Makefile` into `npm` scripts.

[2016-08-26 18:39] jwzimmer-zz opened #112 "User suggested adding panning to Scratch audio"
/cc @ericrosenbaum

Reported via freshdesk no. 54970:

This could be limited to just playback of sounds with panning, but it could also be a customizable effect! : )

[2016-08-27 12:28] towerofnix commented on #112
Stereo sound is pretty important to most games today, especially for atmosphere. Combine dynamic panning and volume changing and you'll be able to get some really nice sounds!

[2016-08-28 16:38] ed-cooper commented on #97
In built support for pen size > 255 should definitely be done - I've never seen a circle filler algorithm even come close to working at the speed of a single pen down and pen up.

As for backwards compatibility, I think the real question is are there actually any projects that take advantage of the limit? Because I can't find any

[2016-08-29 01:10] CosmicWebServices commented on #3
https://babeljs.io

[2016-08-29 16:02] tmickel commented on #79
A couple of notes about implementation of procedures in 2.0:

Behavior is to yield if a call is detected to be recursive:
https://github.com/LLK/scratch-flash/blob/9c0728bfbe2f2ed1cff1c9f3af8d2a55552b99a5/src/interpreter/Interpreter.as#L662

Detecting if a call is recursive seems to do a 5-layer thread stack search: https://github.com/LLK/scratch-flash/blob/5cff62b909856b7d7b3d116a5dcc2b4f03de8482

[2016-08-29 20:52] tmickel opened #113 "Cloning"
I might like to take a shot at implementing the clone blocks this iteration, as another test for the hat blocks and a general test for the sprite/clone infrastructure.

[2016-08-30 05:09] mrjacobbloom commented on #79
~~In Scratch 2, arguments aren't separate for each thread, afaik there's one copy of each argument in memory no matter how many levels of recursion are happening. Would it be possible to fix this in Scratch 3?~~

Edit: it actually looks like this issue was resolved. Never mind!

[2016-08-30 20:19] tmickel commented on #96
It looks like it's going to be fairly sad to translate SB2-format blocks into our current format.

E.g., this:
`["setGraphicEffect:to:", "color", 75]`

Needs to somehow get interpreted into something like:

Notably the distinction between fields/inputs and creating all the relevant shadow blocks...

Could try to read `Blockly.Blocks` and do some magic. But even then some of the information is enco

[2016-08-30 20:35] tmickel commented on #96
after discussing a little with Rachel, maybe something in parsing 2.0's Specs.as will get us close enough

[2016-08-31 19:58] tmickel opened #116 "Stack glow issues"
After merging #107 and #115, a couple of stack glow issues will crop up:
1. VM tries to glow stacks even if they're not in the currently selected target.
2. VM doesn't reglow stacks when the selected target is changed.
3. Edge-activated hats do a lot of flashing as their predicates are evaluated, even if they're not running blocks.

I'd like to resolve these so that stack glowing feels stable.

[2016-08-31 19:59] tmickel commented on #84
There seems like a general method now. although we haven't actually implemented "wait until", seems like too specific of a bug now (haven't implemented lots of blocks)

[2016-08-31 19:59] #84 closed, assigned to tmickel

[2016-09-01 21:16] tmickel commented on #108
@dekrain Feels like this has been resolved by the new script and README updates. Please feel free to reopen if you think this is still a problem!

[2016-09-01 21:16] #108 closed, assigned to nobody

[2016-09-01 21:21] TheBrokenRail opened #118 "Add import/export xml like scratch-blocks to playground?"
It would allow a temporary way to save and load and I don't think it would be too hard to implement seeing as it's based on scratch-blocks and scratch-blocks has one.

[2016-09-01 21:37] tmickel commented on #118
Could, although why not wait until we can import/export full projects?

[2016-09-01 22:13] TheBrokenRail commented on #118
Just so we could have something temporarily, and I made a pull request adding it (I copied some code from scratch-blocks)

[2016-09-02 12:39] tmickel commented on #118
Thanks again @TheBrokenRail for the implementation!

[2016-09-02 12:39] #118 closed, assigned to nobody

[2016-09-02 14:06] tmickel opened #122 "Better handling of shadow blocks"
I think it might help us if we stored shadow blocks in the block representation in a more explicit way.

For example, `inputs: {name: "x", block: "real_block" or null, shadow: "shadow_block"}`
and then the interpretation can select the shadow block when the real block isn't present.

Basically, without storing the shadow block even when the real block is present, encoding the workspace in a good w

[2016-09-02 14:30] TheBrokenRail opened #123 "Add "Create Variable" button to playground"
It would allow you to name your variable and not create one every time you opened the data tab. It's already in scratch-blocks why isn't it in scratch-vm?

[2016-09-02 14:35] TheBrokenRail opened #124 "Why isn't Scratch 3.0 going to save to XML?"
It's Already supported so I don't see a need to use json of something.

[2016-09-02 14:35] dekrain commented on #123
Variables are not yet supported

[2016-09-02 14:36] dekrain commented on #124
2.0 loader not yet merged

[2016-09-02 14:46] tmickel commented on #124
Blockly-style XML really only represents one workspace: the blocks for one sprite, for example. We need a format that supports multiple programmable objects (not to mention other metadata, like costumes, sounds, etc.). The 3.0 format may (or may not be) different from the SB2 JSON format, including maybe switching the block format for each sprite to XML. We haven't figured that out yet.

[2016-09-02 14:46] #124 closed, assigned to nobody

[2016-09-02 14:48] TheBrokenRail opened #125 "A Way To Broadcast messages to clones WHEN broadcasts are implemented?"
Maybe You could hopefully add a "When message [message1] is received and am clone" hat block. It would make interacting with clones a lot easier. (I don't think it would be that hard, just instead of the main sprite receiving the message make the clones receive it)

[2016-09-02 14:52] TheBrokenRail commented on #123
I know but the variable blocks and reporter are there. I know there not implemented. I'm just asking why the create one letter name variable on open data tab is there and not the scratch-blocks method of create variable button

[2016-09-02 15:03] dekrain commented on #123
Maybe if this done, anybody fix it

[2016-09-02 15:04] thisandagain commented on #123
@TheBrokenRail It takes work to implement these things and we simply haven't gotten to this yet. While we appreciate suggestions, please try to have a productive tone and realize that this is a very large project. If you'd like to contribute, please consider sending along a PR.

[2016-09-02 15:05] TheBrokenRail commented on #123
I know but it's already on scratch-blocks a dependency for scratch-vm so it's probally easier to add because you just disable the current variable creation system and enable the one on scratch-blocks

[2016-09-02 15:11] tmickel opened #126 "Add JSDoc for block implementations, `getPrimitives`, `getHats`, etc."
These are mostly missing, but would be very helpful to have.

[2016-09-02 15:13] tmickel opened #127 "Project loaders: SB2 files"
At some point we need to support unpacking SB2 zips and loading them in.

[2016-09-02 15:13] #96 closed, assigned to tmickel

[2016-09-02 15:14] tmickel commented on #96
moving rest to #127

[2016-09-02 15:14] tmickel opened #128 "Project loaders: SB/1.4"
We need to support the 1.4 format. Possibly even 1.4-formatted data could come from the website? But especially for any offline scenario.

[2016-09-02 15:15] tmickel opened #129 "Project loader: tests for SB2 JSON parsing and loading"
We added a parser/loader for SB2 projects; it would be good to add tests to check the JSON is being properly loaded into the relevant VM objects (see #115).

[2016-09-02 15:25] dekrain opened #130 "Add code for 'When [key] pressed' hat"

[2016-09-02 15:36] tmickel commented on #130
And when sprite clicked!

[2016-09-02 15:40] tmickel commented on #125
Here is the workaround in 2.0:
<img width="237" alt="screen shot 2016-09-02 at 11 38 55 am" src="https://cloud.githubusercontent.com/assets/120403/18209486/e6e3fef4-7101-11e6-816a-69be9fab1935.png">
Considering it's not many blocks to accomplish this now, I would guess we probably won't be adding this :)

[2016-09-02 15:40] #125 closed, assigned to nobody

[2016-09-02 15:41] TheBrokenRail commented on #123
Made a Pull Request! (Again code copied from scratch-blocks)

[2016-09-02 15:42] dekrain commented on #123
Pull for clear data category :/

[2016-09-02 15:43] #123 closed, assigned to nobody

[2016-09-02 16:24] TheBrokenRail opened #133 "The Stage is a Sprite (It can move and turn) SB2 Importer [FEATURE or BUG]"
It would be pretty cool as a feature

[2016-09-02 17:14] tmickel commented on #133
Not a feature - definitely a missing piece. We're not distinguishing in the code yet between the stage, sprites, and clones, but we need to.

[2016-09-02 17:17] #94 closed, assigned to tmickel

[2016-09-02 17:17] #92 closed, assigned to tmickel

[2016-09-02 18:08] TheBrokenRail opened #134 "Move Load SB2 To Import/Export Tab (PR)"
I made a PR #142

[2016-09-02 18:15] TheBrokenRail commented on #133
It would be cool though to allow it to move on the x axis to allow side scrolling, or maybe on y and x just only if when it moves and there's no blank area like it can move until the next move would create white area or black basically not stage visible

[2016-09-02 18:44] tmickel commented on #134
Thanks!

[2016-09-02 18:44] #134 closed, assigned to nobody

[2016-09-02 19:12] tmickel opened #136 "Add procedure blocks to SB2 importer"
Missing blocks in scratch-blocks:
- [x]  sensing_of
- [x]  list blocks
- [ ]  Procedures

[2016-09-02 20:30] tmickel opened #139 "Clear graphic effects on green flag and stop"

[2016-09-02 21:36] jeandrek commented on #134
I think the ST get a message then you create a Pull Request so you don't need to make an issue

[2016-09-02 21:53] jeandrek opened #140 "Deleting scripts isn't permanent"
If I delete the script in the stage in the default project, then it still runs, even if I press Stop and then Green Flag again, and if I go to a sprite and then back to the stage, the script reappears.

[2016-09-02 22:06] tmickel commented on #140
Not 100% sure but I think this is a side effect of the bugs from #122. The references are likely a little off in your blocks, and the delete is probably throwing an error (can you give us the console output?)

If so, should be fixed with that PR!

[2016-09-02 22:15] jeandrek commented on #140
I get `TypeError: block is undefined` when I delete it. Then if I press Green Flag, I get lots of

[code]

until I go to a sprite and then maybe back to the stage.

[2016-09-03 00:57] TheBrokenRail opened #141 "Simple Way To Make Blank Project?"
Without Internet

[2016-09-03 15:19] TheBrokenRail commented on #141
Yay, I was able to do it! Check Out My PR!

[2016-09-03 15:19] #141 closed, assigned to nobody

[2016-09-03 16:19] dekrain opened #144 "Add "new sprite", "delete sprite", "rename sprite" mechanisms"

[2016-09-03 19:48] #130 closed, assigned to nobody

[2016-09-03 20:34] tmickel opened #145 "Repeating key hat"
The key hat currently executes once per press, but needs to reactivate for as long as it's pressed.

[2016-09-04 15:54] tmickel commented on #90
Actually would like to wait for https://github.com/LLK/scratch-blocks/issues/21 / general flyout updates to land first, as there seems like a chance the API could change (and you can't really do much with the flyout events until it's always open).

[2016-09-06 13:22] tmickel opened #146 "Simplify evaluation of shadow blocks"
Currently, block implementations have several places with code like this:

That's because the shadow block (menu, or number/string input, etc.) needs to be evaluated by the interpreter. Above, we're treating it just like any block implementation. But I think it would reduce code complexity to do:
- During execution, if we encounter a block with no op function,
- If the block has a single field, an

[2016-09-06 15:03] dekrain opened #147 "Small red dots appear on the left border of some blocks after latest update"
I updated scratch-blocks with `npm update` and this happens:
![scratch blocks bug](https://cloud.githubusercontent.com/assets/19158291/18278814/b98c59e2-7453-11e6-86a6-d0495accdd85.png)
:(

[2016-09-06 15:13] thisandagain commented on #147
Updating title to reflect issue. @dekrain please use more descriptive language and provide more info (Operating System + Version, Browser + Version) when filing issues in the future.

[2016-09-06 15:19] dekrain commented on #147
Issues:
- ~~no input on `key pressed?` block~~
- `When key pressed` doesn't work

[2016-09-06 15:48] tmickel commented on #147
- The red dots are actually "checkboxes" that Rachel put in - but the flyout positioning has become off from a recent scratch-blocks merge with google/blockly. That's a scratch-blocks bug, not scratch-vm.
- The input on "key pressed?" looks fine on my copy. Have you pulled and rebuilt both scratch-blocks and scratch-vm?
- I think "when key pressed" has actually been broken since its implementation

[2016-09-06 16:01] dekrain commented on #147
After last update (merge pull request), inputs fixed, and the checkboxes been before blocks, not BEHIND blocks

[2016-09-06 18:32] #122 closed, assigned to tmickel

[2016-09-06 21:00] tmickel commented on #133
Addressed in #149.

[2016-09-06 21:03] tmickel opened #151 "Document creation of src/import/sb2specmap.js"
I made this through a series of unsaved scripts, but it would be helpful to document it a little more thoroughly.

[2016-09-07 14:07] tmickel opened #153 "Two issues with "toggle script": any hat block should activate its stack when clicked"
- [ ] Scripts that start with edge-activated hats can't currently be started by clicking. This is because the hat is evaluated, and the predicate fails. I think we should just skip the hat block when a user explicitly clicks on a stack starting with an edge-activated hat.
- [ ] "Untoggle" is based on the top-block of the thread, instead of the "script-block" of the thread. If the thread moves onto

[2016-09-07 18:45] dekrain opened #157 "Translations"

[2016-09-07 18:52] tmickel commented on #157
Translations should live in the Scratch UI, not the VM. If everything goes according to plan, I think no translations should be necessary here (but yes here: https://github.com/LLK/scratch-blocks/issues/20), unless we ever translate our documentation.

[2016-09-07 18:52] #157 closed, assigned to nobody

[2016-09-08 12:54] thisandagain opened #159 "Enforce clone limit"
Scratch 2.0 enforces a limit of 300 (301) clones.

[2016-09-08 13:40] #116 closed, assigned to tmickel

[2016-09-08 13:48] #133 closed, assigned to nobody

[2016-09-08 13:49] #15 closed

[2016-09-08 18:11] tmickel opened #161 "Emit target info (sprite info) for editingTarget & allow posting target info for editingTarget"
Would allow the immediate implementation of the "sprite info" pane.

[2016-09-08 18:12] tmickel commented on #147
@dekrain I'm going to move this to scratch-blocks. Thanks for the report!

[2016-09-08 18:12] #147 closed, assigned to nobody

[2016-09-08 18:14] tmickel commented on #140
@Jonathan50: I think this is resolved in the latest updates, minus #91. Please reopen if you experience it again!

[2016-09-08 18:14] #140 closed, assigned to tmickel

[2016-09-08 20:16] tmickel commented on #139
(Actually, this should happen on green flag)

[2016-09-08 21:19] tmickel opened #164 "Renaming clone?"
I've found it a little confusing to think about the name "clone" when we will have "actual" clones and "not-actual" sprite "clones." Maybe we should actually be calling this something like "rendered target"?

[2016-09-08 21:26] towerofnix commented on #164
Is this an internal change, or will it actually affect the editor? Because when I think of "clones", I think of [this](https://d1o51r9qdgnnlz.cloudfront.net/animated_image/fb353f57-8441-4bbd-9543-3776de8ba698/giphy.gif).. basically what a clone is, in Scratch 2.0 anyways.

[2016-09-08 21:27] tmickel commented on #164
It's an internal change only. As far as the UI goes, we'll continue calling things "sprites" and "clones." In the VM, even the first "sprite" and the stage are "clone" objects since they all share the same basic properties. In Scratch 2.0 I think this was called ScratchObject.

[2016-09-09 00:52] mrjacobbloom commented on #159
if performance is better in Scratch 3, would there be any possibility of raising the limit?

[2016-09-09 01:04] jeandrek commented on #159
Is it 300 or 301?

[2016-09-09 18:02] tmickel opened #165 "Drop WebWorker support"
I'm leaning towards feeling we should consider dropping WebWorker support altogether.
- Testing on some projects, performance without the worker is still pretty good. I tried on a project with 300 clones, no worker, and it was hitting 60fps no problem during a block drag. Workspace panning did screech project execution to a halt - down to like 2fps. Block dragging, though was fine - probably 60fps

[2016-09-12 16:36] dekrain opened #167 "[Q] Why default sprite is squirrel?"

[2016-09-12 17:26] tmickel commented on #167
It's just something we've been using for development - why not? :)

[2016-09-12 17:26] #167 closed, assigned to nobody

[2016-09-12 17:27] #146 closed, assigned to tmickel

[2016-09-12 18:19] dekrain opened #169 "[sb2 loader] Multiple scripts"
Try to load project #118312077 (don't browse, just look). This project has some scripts on one sprite, but in playground, it's only one!

[2016-09-12 18:33] tmickel commented on #169
The problem is actually this block:
<img width="164" alt="screen shot 2016-09-12 at 2 32 14 pm" src="https://cloud.githubusercontent.com/assets/120403/18447685/baaf04a4-78f5-11e6-9cbe-51af385af9a9.png">
So far scratch-blocks has the block like this:
<img width="227" alt="screen shot 2016-09-12 at 2 32 53 pm" src="https://cloud.githubusercontent.com/assets/120403/18447720/d5e45648-78f5-11e6-885c-ed

[2016-09-12 18:35] tmickel commented on #169
Moved here: https://github.com/LLK/scratch-blocks/issues/592

[2016-09-12 18:35] #169 closed, assigned to nobody

[2016-09-12 18:36] #145 closed, assigned to nobody

[2016-09-12 18:36] #56 closed, assigned to tmickel

[2016-09-12 18:44] dekrain commented on #169
So scripts `init listeners` and `sprite clicked` don't loaded b/c of this, but `game over` by cloud variable?

[2016-09-12 18:48] tmickel commented on #169
Once "stop other scripts in this sprite" is reached by scratch-blocks, it stops loading other blocks.

[2016-09-12 20:44] tmickel opened #170 "README is out-of-date"
A bunch of stuff has changed - both internal and external API.

[2016-09-12 21:24] tmickel opened #172 "Numbers: float vs int"
Scratch 2.0 and the current VM are handling this case differently:

<img width="148" alt="screen shot 2016-09-12 at 5 20 48 pm" src="https://cloud.githubusercontent.com/assets/120403/18453442/56316298-790d-11e6-8ca2-ca977d2c9a16.png">

In 2.0, the presence of any decimal point - "1.", "1.0", ".0", etc.- will cause the interpreter to label the number as a non-integer. "Pick random" then picks float

[2016-09-12 21:46] mrjacobbloom commented on #172
The same decimal point check is used in variable watcher sliders' min and max

[2016-09-12 23:05] jeandrek commented on #140
It works fine now.

[2016-09-13 16:12] tmickel opened #173 "We need to do some kind of escaping when blocks are output"
To make a problem:
- Create a "say" block.
- Type "<block>" in the text input field.
- Switch to a different sprite.
- Switch back to the original sprite.

The blocks will be broken, because invalid XML was output from the VM.

[2016-09-13 16:14] tmickel opened #174 "Display only threads for the editingTarget's sprite in the playground thread explorer"

[2016-09-13 18:00] tmickel commented on #165
Decision: we're going to drop it for now, and re-evaluate performance concerns in a couple of months.

[2016-09-13 19:39] tmickel commented on #172
Thanks @Airhogs777 - we'll have to remember that!

[2016-09-13 21:51] tmickel opened #178 "XML blocks encoding tests"
- [ ] Check that VM representation is correctly encoded as Blockly XML.
- [x] Check for special characters in fields being XML encoded (e.g., "<", ">", "&").

[2016-09-13 21:53] #172 closed, assigned to nobody

[2016-09-13 21:53] #173 closed, assigned to nobody

[2016-09-13 21:53] #165 closed, assigned to tmickel

[2016-09-14 15:27] dekrain commented on #144
I can do code for this. (Self-assigned)

[2016-09-14 15:52] dekrain commented on #144
Has path (#179)

[2016-09-14 17:39] tmickel opened #180 "Implement variables and lists"
Here are some notes about how variables work in Scratch 2.0:
- Variable can be _per-clone_ ("for this sprite only") or _global_.
- Variable can be list-type or primitive-type.
- _global_ variables only can be cloud/persistent variables. List-type variables cannot be cloud variables.
- A "for this sprite only" variable's data is copied on the instantiation of a clone.
- Variables are created on-the

[2016-09-14 17:44] tmickel commented on #180
- Variables are looked up first locally, then globally: https://github.com/LLK/scratch-flash/blob/master/src/scratch/ScratchObj.as#L461. If not found, they are only created locally.
- Scratch 2.0 stores global variables as variables on the stage. Not sure if I love this.

[2016-09-14 17:45] tmickel commented on #180
- Variable names are case-sensitive.

[2016-09-14 21:02] tmickel commented on #170
Updated to at least not be incorrect :)

[2016-09-14 21:02] #170 closed, assigned to nobody

[2016-09-14 21:09] tmickel commented on #159
Closing since this is now part of #150/#113.

The current limit looks to be 300: https://github.com/LLK/scratch-flash/blob/5cff62b909856b7d7b3d116a5dcc2b4f03de8482/src/primitives/Primitives.as#L35.

Regarding raising the limit: there's a chance Scratch 3.0 will perform better with many clones. There's also a chance it won't. If it does, we may consider raising the limit. But, there may also be som

[2016-09-14 21:09] #159 closed, assigned to nobody

[2016-09-15 17:51] tmickel opened #183 "Move some event handlers to the VM"
I think it may make sense to provide some hooks for users of the VM to easily do these:
https://github.com/LLK/scratch-vm/blob/develop/playground/playground.js#L163

and maybe some of the other event handlers in the playground currently.

[2016-09-15 21:18] tmickel opened #185 "Sprite hidden status doesn't seem to load from SB2"
Test project: https://scratch.mit.edu/projects/121401203/
Playground link: http://localhost:8080/playground/#121401203

[2016-09-15 23:53] #113 closed, assigned to tmickel

[2016-09-17 16:40] TheBrokenRail commented on #91
If it is fixed shouldn't this issue be closed

[2016-09-17 16:50] TheBrokenRail opened #190 "Create A Github Wiki?"
It could include stuff like a roadmap, explaining more about putting it in your own NodeJS app, etc.

[2016-09-18 15:40] tmickel commented on #190
That's a nice idea! I think that would be very helpful.

[2016-09-18 16:06] dekrain opened #192 "Custom blocks issue"
When you drag reporter-defining hat, playground crashes

[2016-09-18 16:07] tmickel commented on #192
Hmm, thanks for the report. I'm not seeing a crash - can you copy the output of the developer tools console, or take a screenshot?

[2016-09-18 16:08] dekrain commented on #192
Yes, I can. Here:

[code]

[2016-09-18 16:09] dekrain commented on #192
Oh, yes. Playground don't crash, only scripts window.

[2016-09-18 16:09] tmickel commented on #192
I believe that's an issue with scratch-blocks, not a scratch-vm issue.

[2016-09-18 16:13] tmickel commented on #91
Yep, missed closing the issue - thanks @TheBrokenRail !

[2016-09-18 16:13] #91 closed, assigned to tmickel

[2016-09-18 16:13] tmickel commented on #192
I'll recreate it over there - thanks!

[2016-09-18 16:13] #192 closed, assigned to nobody

[2016-09-18 16:30] dekrain opened #193 "Create A Github Project?"
I have idea for use new Github feature, project.
For example: (project tree)

[code]

[2016-09-19 13:27] thisandagain opened #194 "Design specification for "SB3""
### Serialization Requirements
- Serialization format must represent the program
- Serialization format must represent the program's current state (backgrounds, variables / lists, sprites, etc.)
- Serialization format must be able to be packaged along side assets (sounds, images, etc.)
- Serialization format should use space efficiently
  - Compression
  - Duplication (see "lists" issue in SB2)

[2016-09-19 13:39] thisandagain commented on #190
We have the beginnings of a Wiki here, but lots more to add!
https://github.com/LLK/scratch-blocks/wiki/

[2016-09-19 13:52] BookOwl commented on #194
What's the state of https://github.com/llk/scratch-parser? Is it anywhere close to useable?

[2016-09-19 13:53] thisandagain commented on #194
@BookOwl It's usable for SB2 projects. In fact, we use it for research quite a bit.

[2016-09-19 13:55] BookOwl commented on #194
Can you please make it public? I would really like to mess around with it.

[2016-09-19 14:22] thisandagain commented on #194
@BookOwl All set. Very much still a work-in-progress. Any contributions would be most welcome!

[2016-09-19 14:35] BookOwl commented on #194
Wow, thank you! :D

[2016-09-19 15:22] PullJosh commented on #194
I would love to see the ability to use Scratch Extensions offline as well. In terms of keeping file size small, it makes sense to host most extensions online, but if users want to explicitly choose to include extension files within their scratch projects, that would be a neat feature to have available.

[2016-09-19 15:33] birdoftheday commented on #194
Not sure if this is related, but one thing I would very much appreciate is the introduction of 'libraries' or 'packages' or something similar. It's very tedious to copy and paste custom blocks from one project to another and a feature of at least being able to import scripts from another project would be nice.

[2016-09-19 16:54] ed-cooper opened #195 "VM shows up as blank"
Just did npm update, VM now shows up as blank on Chrome and Edge (no other browsers to test on)

![image](https://cloud.githubusercontent.com/assets/14095134/18640892/1444f59a-7e92-11e6-9f97-03fdbc6c851d.png)

Running Windows 10
Ran the VM several times before without any issues

Also, none of the buttons do anything

[2016-09-19 16:55] tmickel commented on #195
Did you update your copy of scratch-render?

[2016-09-19 16:59] ed-cooper commented on #194
@birdoftheday Nice idea, but maybe better to place it in the suggestions forum or a separate issue

@thisandagain Also, wouldn't the "username" block also be an exception for using the project without internet? (not that it really affects the file design specification anyway)

[2016-09-19 17:09] ed-cooper commented on #195
Previously I hadn't installed scratch-render (I just followed the installation instructions in the readme for scratch-vm)

I installed it separately just now, re-ran npm update and tried again.

But I still get the same errors?

[2016-09-19 17:11] tmickel commented on #195
Which commit are you on for both scratch-vm and scratch-render (`git rev-parse HEAD`)?

It looks like your VM playground is trying to load render-worker.js, but that was removed here: https://github.com/LLK/scratch-vm/pull/175

[2016-09-19 17:14] dekrain commented on #193
Um... Hello ?

[2016-09-19 17:16] tmickel commented on #193
@dekrain Not exactly sure what you're proposing here. So far we've been using Github issues and milestones to track plans and progress, and that's worked pretty well.

[2016-09-19 17:21] tmickel commented on #194
Re: "Serialization format should use space efficiently" - are we aiming for efficient usage post-compression or pre-compression? For example, the duplication issue shouldn't matter if we're aiming for post-compression, and neither should the verbosity of XML. But if we're aiming for pre-compression efficiency, clearly it would :)

[2016-09-19 17:23] towerofnix commented on #194
@chooper100 a tad meta, but it would probably have something to do with the storage of SB3 projects :P

EDIT: Though it _is_ probably fit for another idea, to keep discussion organized.

[2016-09-19 17:23] #193 closed, assigned to nobody

[2016-09-19 17:26] dekrain commented on #193
Next to the Pull Requests is Projects tab.

[2016-09-19 17:28] tmickel commented on #193
We're not using that right now, we may or may not in the future.

[2016-09-19 17:34] ed-cooper commented on #195
Scratch-vm: 7caf8e588aa61f00b55525a31a50da3c9afae852

For scratch-render, "cd scratch-render" comes up with the system cannot find the file specified (and so I can't do git rev-parse HEAD)

[2016-09-19 17:36] tmickel commented on #195
The scratch-render repo is in `node_modules/scratch-render`.

But anyway, that's a really old commit for `scratch-vm`. What's probably happened is that your scratch-vm is behind but your scratch-render is up-to-date.

Can you run `git pull` and then try again? Your scratch-vm should be on 470f686.

[2016-09-19 18:07] as-com commented on #194
The serialization format should also be efficient to parse, so large
projects would not crash the player or take a very long time to load.

XML is certainly not a fast nor efficient serialization format.

On Mon, Sep 19, 2016 at 1:21 PM Tim Mickel notifications@github.com wrote:

[2016-09-19 18:18] tmickel commented on #194
@as-com Why not? Any benchmarks I've seen say XML parsing is about the same as JSON parsing, only milliseconds of difference. The only inefficiency is in repeated representation - but with compression, that becomes irrelevant :) Any evidence of your claim?

[2016-09-19 18:22] thisandagain commented on #194
@tmickel Yup. Good point. I was thinking of our current issues with lists in SB2. Pre-compression this causes problems with the project upload server (as it sends along the JSON payload uncompressed) but post-compression it doesn't matter. We could upend that entire problem if the JSON payload itself were compressed.

[2016-09-19 18:25] as-com commented on #194
http://www.cs.tufts.edu/comp/150IDS/final_papers/tstras01.1/FinalReport/FinalReport.html

On Mon, Sep 19, 2016 at 2:18 PM Tim Mickel notifications@github.com wrote:

[2016-09-19 18:40] #185 closed, assigned to nobody

[2016-09-19 19:17] tmickel commented on #195
@chooper100 I'm assuming this will be fixed by updating - please reopen if not :)

[2016-09-19 19:17] #195 closed, assigned to nobody

[2016-09-19 19:23] #151 closed, assigned to tmickel

[2016-09-19 20:21] TheBrokenRail commented on #194
In case you decide to use a implementation similar to mine my implementation is available at: TheBrokenRail/scratch-vm on the branch SB3LoadSave, Note: JSON Only

[2016-09-19 21:04] tmickel commented on #161
@rschamp FYI!

[2016-09-19 21:04] tmickel commented on #161
If you have ideas about how this should look!

[2016-09-19 21:07] tmickel commented on #183
@rschamp I'm hoping it can be a little simpler than it is now. Maybe like `vm.attachKeyboard(canvas, document)`, `vm.attachMouse(canvas, document)`, `vm.attachBlocks(blocklyWorkspace)`?

[2016-09-19 21:24] TheBrokenRail commented on #190
No I mean a wiki for scratch-vm not scratch-blocks

[2016-09-20 11:18] towerofnix commented on #161
The sprite info pane is a big topic..

Generally you use it to get some quick info about what the status of a sprite is, but it's _very_ limited:
1. You can only rename a sprite, view its position and direction, change whether it can be dragged in the player, and whether it's shown or not.
2. When getting the info of a sprite, it's actually selected in the scripts pane as well - which, while handy

[2016-09-20 12:10] tmickel commented on #161
@liam4 This issue is intended just for the VM API for providing and setting the data. But you make a good point that what data is get/set could be up for design debate...thanks for the write-up, those should be useful to keep in mind!

@carljbowman ^fyi

[2016-09-20 13:17] rhulha opened #201 "Can I test horizontal blocks yet ?"
I ran StartServerWindows.bat and could play around with the vertical blocks using http://localhost:8080.
However I did not see a way to test the horizontal blocks.
Are they available yet ?

[2016-09-20 13:27] tmickel commented on #201
We don't currently have scratch-vm operating with horizontal blocks. You can test the horizontal blocks in the scratch-blocks package (open tests/horizontal_playground.html). You could also modify the VM playground to use the horizontal blocks (switch the script includes to blockly_compressed_horizontal, blocks_compressed_horizontal, and then update the XML toolbox). The VM should operate perfectl

[2016-09-20 13:27] #201 closed, assigned to nobody

[2016-09-20 14:50] tmickel commented on #128
Reference:

https://github.com/LLK/scratch-flash/blob/5cff62b909856b7d7b3d116a5dcc2b4f03de8482/src/util/ObjReader.as

[2016-09-20 14:57] tmickel opened #202 "Drop `useRound` from Cast.toListIndex"
In Scratch 2.0, this block:
<img width="129" alt="screen shot 2016-09-20 at 10 55 23 am" src="https://cloud.githubusercontent.com/assets/120403/18675572/c5448c78-7f20-11e6-9270-6cc72dc14cb8.png">
Will delete the first item of the list. Because 0.5 is rounded to 1.

However,
<img width="246" alt="screen shot 2016-09-20 at 10 55 57 am" src="https://cloud.githubusercontent.com/assets/120403/18675586/

[2016-09-20 15:47] tmickel commented on #128
This, too:
https://github.com/LLK/scratch-flash/blob/5cff62b909856b7d7b3d116a5dcc2b4f03de8482/src/util/OldProjectReader.as

[2016-09-20 16:19] ed-cooper commented on #202
imo I feel using round is more intuitive

eg. I would expect (item (1.99) of [list v]) to return item 2 of list rather than item 1

(Although this behaviour could easily be worked-around simply by using the "round" block)

[2016-09-20 16:26] mrjacobbloom commented on #202
I'd be fine with either floor or round as long as it's consistent among all blocks that take integers. I guess I'd lean toward floor since C-based languages cast float to int with the floor function

[2016-09-20 19:23] rschamp commented on #183
Since these are for interactions between the VM and a specific platform, I think it would make the most sense to encapsulate these in the GUI that links the vm to the blocks and the environment.

[2016-09-20 21:37] towerofnix commented on #202
Scratch ≠ C, and its lists are 1-based, so with that logic I say ceiling. :P

However I do agree with @chooper100, round is more intuitive.

[2016-09-21 01:55] ed-cooper commented on #202
Going back to the example in the original post, I think what's really important here is that the casting function used is consistent between list blocks - I would consider the fact that the 2 blocks listed affect different items to be a bug with 2.0

[2016-09-21 17:32] tmickel opened #205 "Something's up with stack highlights."
From @picklesrus:
"I replaced the repeat block in Champ99 with a repeat forever block, leaving the old repeat floating the in the workspace.  When I run it, the floating repeat block highlights along with the stack of blocks actually attached to the start block."
Seems bad to me - like something is having the wrong parent set in the block representation?

[2016-09-21 17:40] tmickel commented on #183
Yep - talked about this with Ray, decided we'll hold off on this for now to keep the VM fairly encapsulated.

[2016-09-21 17:40] #183 closed, assigned to nobody

[2016-09-21 19:34] tmickel commented on #202
I think I agree, @chooper100 - having a consistent behavior seems better. We need to investigate if it will break projects...

[2016-09-21 20:31] #174 closed, assigned to tmickel

[2016-09-21 20:44] tmickel opened #206 "ERROR in Entry module not found: Error: Cannot resolve module 'expose'"
Getting this when I run `make serve`, and it appears that the playground no longer updates.

[2016-09-21 20:44] tmickel commented on #206
ah- do I just need to run `npm install`?

[2016-09-21 20:45] tmickel commented on #206
That says:
`├── UNMET PEER DEPENDENCY babel-core@^6.0.0`

`npm ERR! enoent ENOENT: no such file or directory, chmod '/Users/tmickel/Sites/scratch-vm/node_modules/babel-core/node_modules/json5/lib/cli.js'
npm ERR! enoent This is most likely not a problem with npm itself
npm ERR! enoent and is related to npm not being able to find a file.`

[2016-09-21 20:51] tmickel commented on #206
Hmm, I solved this by deleting node_modules and reinstalling. Not sure what's up with that.

[2016-09-21 20:51] #206 closed, assigned to rschamp

[2016-09-21 21:42] tmickel opened #207 "Pause mode"
Would like a pause mode that lets us inspect state at any point the button is pressed.

[2016-09-21 22:07] tmickel opened #208 "Timing (setInterval, rAF, etc.)"
Currently there's a weird mix between the two... doing rAF for renderer draw calls, but using setInterval(tick) to run the scripts. This can't be right...

Which way should we use? Would be nice to think about the timing of each one and what the difference will be in practice, unless anyone already has :)

[2016-09-21 22:16] #180 closed, assigned to tmickel

[2016-09-21 22:25] tmickel opened #209 ""wait until blank" finishes immediately"
But it's "wait until false" - should wait until you stop it or drop some true-value in.

[2016-09-21 22:26] tmickel commented on #209
Oh, this is because the block isn't implemented....

[2016-09-21 22:36] towerofnix commented on #208
I dunno, rAF is literally "request animation frame" so it makes sense for a renderer, and it does make sense for running a block on a tick-based interval to use `setInterval` (since that's exactly what setting an interval is for)..

[2016-09-21 22:37] towerofnix commented on #180
Something I also don't really like - if they could be stored elsewhere, one could make stage-local variables.. (would have to keep that in mind for sb2->sb3!)

[2016-09-21 22:59] rschamp commented on #206
`npm install` would be necessary to get the new `expose-loader` dependency. The babel-core error doesn't make sense to me. I don't know why you would have to delete node_modules and reinstall either.

[2016-09-21 23:09] jeandrek commented on #180
The sprites are children of the stage

[2016-09-22 05:32] mrjacobbloom commented on #208
The VM has a flag that tells the renderer whether or not to update, right?  In that case, I agree with @liam4, the current mix of rAF and setInterval is probably the "most correct" solution.

[2016-09-22 13:14] tmickel commented on #208
To me while it seems logically "most correct" based on what these are literally supposed to be for, I'm not sure if it makes most sense in practice or not.

Since JS and the browser are sharing a single thread of execution, if we had two timers - one running in rAF and one running in setInterval, they are actually competing for the same time. But in every situation (I think) we'll want to run Scra

[2016-09-22 13:33] tmickel commented on #208
For example - if you create a project with a sprite that does "forever turn 1 degrees", in the current version there appears to be a motion stutter every half second or so. If I had to guess I would think this is because the `setInterval` timer becomes misaligned with the renderer's/browser's drawing; the setInterval timer might fire twice before the renderer can draw, for example, which would cau

[2016-09-22 14:06] mrjacobbloom commented on #208
What if you ran the vm code a varying number of times in rAF to accommodate different framerates?

[2016-09-22 15:09] tmickel opened #211 "Keep mutations in the block representation"
This seems to be necessary to implement things like the "stop" block and procedures. We'll need to keep mutation field in the block representation and either the XML, or some object conversion of it.

[2016-09-22 15:20] tmickel commented on #211
Right now I'm thinking we want this in parsed form. For example, the function "call" will have which function it's calling in the mutation:

[code]

Thus maybe we even want to pass the mutations as arguments or something to the block primitives.... @rachel-fenichel

[2016-09-22 19:14] ed-cooper commented on #207
If this was implemented, would we also see the feature make it into the final Scratch UI?
(somewhat similar to Phosphorus' pause button)

[2016-09-22 19:22] tmickel commented on #207
@chooper100 Maybe, maybe not!

[2016-09-22 20:24] tmickel commented on #202
We've decided to use `floor` for all cases, since more projects are using the blocks that use that.

[2016-09-22 21:11] dekrain opened #214 "Webpack issue"
When i run server, it throws errors:

[code]

Changed in #203

[2016-09-22 22:03] cwillisf commented on #208
The advice I usually see for games is that `requestAnimationFrame` should be used to present the next frame of graphics but all other work should be done in other places, such as `setInterval`. That's the inspiration for way `scratch-render` is set up right now, though it's sort of a quick first-pass implementation of that idea. Of course, Scratch is a little different from most games, so it might

[2016-09-22 23:21] tmickel commented on #214
Try deleting your node_modules and running `npm install` again. If that fails, let us know!

[2016-09-22 23:21] #214 closed, assigned to nobody

[2016-09-22 23:23] tmickel commented on #190
@thisandagain Started one here today!

[2016-09-22 23:23] #190 closed, assigned to nobody

[2016-09-22 23:23] #209 closed, assigned to tmickel

[2016-09-22 23:24] tmickel commented on #136
Some thoughts:

[2016-09-23 12:53] kevin-shu commented on #151
Fixed:
https://github.com/OrangeAppleTW/engine.js/commit/7a32373809466d502be1c4bc77e0bfc589834acb

[2016-09-23 21:09] TheBrokenRail opened #215 "Error NPM Install"
OS: Ubuntu 9.04 (It's the only thing that will run on my old desktop)
Node.Js Version: LTS
Error:
npm ERR! git clone --template=/home/connor/.npm/_git-remotes/_templates --mirror https://git@github.com/LLK/scratch-blocks.git /home/connor/.npm/_git-remotes/https-git-github-com-LLK-scratch-blocks-git-43b046a2: fatal: destination directory '/home/connor/.npm/_git-remotes/https-git-github-com-LLK-scra

[2016-09-24 15:18] dekrain opened #216 "[Q] When we/you release 0.2.0 ?"
All in title...

[2016-09-24 19:50] rschamp commented on #216
Until development calms down, we probably won't be adhering to a strict versioning system. Once we have a bit of stability and are out of the "developer preview" state, we will be more systematic about bumping the version number.

[2016-09-24 19:50] #216 closed, assigned to nobody

[2016-09-25 23:14] mrjacobbloom opened #219 "GH-pages: icons missing"
http://llk.github.io/scratch-vm/
The green-flag and repeat-arrow icons are showing for me as the "image missing" icon
![screen shot 2016-09-25 at 5 13 19 pm](https://cloud.githubusercontent.com/assets/2879020/18818944/6cfd406a-8343-11e6-89e5-be9b78abcc06.png)

[2016-09-25 23:15] mrjacobbloom commented on #219
My console is full of 404 errors for image and sound files

[2016-09-26 04:22] tmickel commented on #219
Likely that the URL for media is not quite right, I think...

[2016-09-26 04:29] rschamp commented on #219
Thanks for the report @Airhogs777 — I'm going to close this as a part of PR #218 which hasn't been merged yet.

[2016-09-26 04:29] #219 closed, assigned to rschamp

[2016-09-26 15:31] tmickel commented on #215
Can you try deleting your node_modules directory and then running `npm install`?

[2016-09-26 15:31] #215 closed, assigned to nobody

[2016-09-26 16:01] #202 closed, assigned to tmickel

[2016-09-27 19:01] CosmicWebServices commented on #97
Maybe the pen size cap should be at where it covers the full full screen with just one pen down if that make sense but that may differ for some browsers/computers.

[2016-09-28 15:19] dekrain opened #220 "[feature] Group blocks by target type"

[2016-09-28 15:20] CosmicWebServices commented on #220
Can you explain this a little more...

[2016-09-28 15:26] tmickel commented on #220
@dekrain Hmm, yes, could you explain?

[2016-09-28 16:06] #220 closed, assigned to nobody

[2016-09-28 16:06] dekrain commented on #220
For example, for stage is `change backdrop` and for sprite: `change costume`

[2016-09-28 16:07] CosmicWebServices commented on #220
Ohhh

[2016-09-28 16:08] tmickel commented on #220
That's one of the issues we're tracking here: https://github.com/LLK/scratch-blocks/issues/541 :)

[2016-10-02 17:09] tmickel opened #224 "clone.effects object not always distinct per clone"
Notably check out this project:
https://llk.github.io/scratch-vm/#123738354

The color effect change on the cat also affects the stage (!). The object `Clone.effects` is somehow shared between the cat and the stage...

[2016-10-02 17:16] tmickel commented on #224
I think because `effects` is defined on the Clone, and not instantiations of it, so the instantiations refer to the prototype. Can probably fix by moving `effects` to the constructor.

[2016-10-03 14:16] #224 closed, assigned to tmickel

[2016-10-03 21:04] thisandagain opened #229 "Math - Fix `degToRad` method"
The `degToRad` method is currently written as `(Math.PI * (90 - deg)) / 180` which is incorrect. `(90 - deg)` is being used by the `moveSteps` block but should be factored out as to maintain the universality (and correctness) of the `degToRad` method.

From https://github.com/LLK/scratch-vm/pull/228

[2016-10-03 21:07] thisandagain opened #230 "Cast - `isInt` method should attempt numeric conversion of strings"
The `isInt` method currently evaluates the string `"0.0"` as `false`.

From https://github.com/LLK/scratch-vm/pull/228

[2016-10-03 21:36] tmickel commented on #230
It probably should be better documented and we could discuss, but the original point of `isInt` is to distinguish things like `0.0` from `0` when input by a user. Scratch will treat 0.0, 1.0, 2.0, 1.1, etc. as float values:

<img width="352" alt="screen shot 2016-10-03 at 5 35 04 pm" src="https://cloud.githubusercontent.com/assets/120403/19054987/ceebfa30-898f-11e6-9a1a-35943563c821.png">

In 2.0

[2016-10-03 21:43] tmickel opened #231 "Consolidate XML input/output handlers"
e.g., https://github.com/LLK/scratch-vm/pull/212/files#diff-c2e52c759bccc44bfc3789bbfe5d9b2eR433

The VM outputs trees of XML and when it parses them from (in adapter, blocks.js, etc.). We could consolidate some of this handling into a utility.

[2016-10-03 21:43] #211 closed, assigned to tmickel

[2016-10-03 21:49] tmickel opened #232 "`goog` is not defined"
After merging #212 and our changes to the webpack/build system, there's an error:
https://llk.github.io/scratch-vm/#10015060 (go to the Pico sprite).

<img width="1248" alt="screen shot 2016-10-03 at 5 49 13 pm" src="https://cloud.githubusercontent.com/assets/120403/19055405/ba71b840-8991-11e6-9e82-7139cea3a677.png">

@rschamp

[2016-10-03 21:55] tmickel commented on #232
it seems to be only `goog.array.equals` causing the problem

[2016-10-03 21:58] tmickel commented on #232
I think it's that the procedure blocks expect access to `goog`, but that's not exposed to them under webpack. Considering this is just for experimenting, maybe I'll strip out the `goog` usage in scratch-blocks.

[2016-10-03 22:15] rschamp commented on #232
If goog is required in the procedure blocks, we could provide it to them similarly. I think when I made the shim, the procedure blocks PR wasn't merged yet so I didn't notice it as a dependency.

[2016-10-03 22:15] thisandagain commented on #230
Got it. That seems reasonable.

[2016-10-03 22:15] #230 closed, assigned to thisandagain

[2016-10-04 00:25] tmickel commented on #232
that makes sense-https://github.com/LLK/scratch-blocks/pull/656 :)

[2016-10-04 00:25] #232 closed, assigned to nobody

[2016-10-04 01:55] thisandagain opened #234 "Operators - Should `1/0` equal `Infinity`?"
Follow-up discussion from latest test coverage PR #233 as well as discussion from Scratch 2.0:
https://github.com/LLK/scratch-flash/issues/1060

[2016-10-04 13:12] thisandagain commented on #234
A summary of my thoughts on the subject are here:
https://github.com/LLK/scratch-flash/issues/1060#issuecomment-204765781

[2016-10-04 15:49] tmickel commented on #234
This seems like a tricky topic. Options I see:
1. Throw an error, like Scratch 1.4, Python, etc.
2. Return `undefined`
3. Return `NaN`
4. Return +/- Infinity, as current.

---

Option 1 (errors): I would strongly suspect there are many Scratch 2.0 projects that could end up dividing by zero at some point in their execution - e.g.,:

<img width="294" alt="screen shot 2016-10-04 at 11 19 54 am" src=

[2016-10-04 18:41] #103 closed, assigned to thisandagain

[2016-10-05 00:01] TheBrokenRail opened #240 "Include Assets On Upload to Github Pages"
So The Sprite Has A Image

[2016-10-05 14:10] tmickel commented on #234
P.s, fairly cogent: https://scratch.mit.edu/discuss/topic/220324/?page=1#post-2235372

@carljbowman Thoughts on displaying warnings (not errors) in Scratch?

[2016-10-06 17:50] cwillisf commented on #234
I don't have a strong opinion on what 1/0 should return. IEEE 754 says that it should either return ±infinity or it should throw an exception, and I'm inclined to avoid throwing errors for the same reasons that [@tmickel mentioned](https://github.com/LLK/scratch-vm/issues/234#issuecomment-251428930), so I think I'd default to returning ±infinity. I could probably be convinced to go with one of the

[2016-10-06 22:24] CosmicWebServices opened #245 "Custom Reporters Frese Browser"
### Expected behavior

When I drag custom blocks they should place.
### Actual behavior

They freeze my browser and throw these errors:

[code]
### Steps to reproduce
1. Go to the Scratch VM ([I used this website to do it](https://utils.asun.co/scratch-vm/playground/))
2. Go to More Blocks
3. Drag the custom reporter on already existing blocks (the one with the report[] included)
4. Look at JS con

[2016-10-07 06:47] mrjacobbloom commented on #245
This might be related to LLK/scratch-blocks#610

[2016-10-07 12:22] towerofnix commented on #245
Yeah, not only is it (seemingly) a duplicate of that, it also has to do with scratch-blocks, not scratch-vm :P

[2016-10-07 13:19] CosmicWebServices commented on #245
Yeah I think I will keep this open

[2016-10-07 17:10] tmickel commented on #245
Fixed in scratch-blocks!

[2016-10-07 17:10] #245 closed, assigned to nobody

[2016-10-07 18:40] CosmicWebServices commented on #245
YAY!

[2016-10-08 13:58] TheBrokenRail commented on #240
Has Patch #247

[2016-10-08 20:50] TheBrokenRail opened #249 "Add "stretch" graphic effect"
This would be really easy to implement cause it would just be changing the scale when rendering and adding a few blocks. (For Example Of Base Code See #261)
### Mockup

![capture](https://cloud.githubusercontent.com/assets/17478432/19403308/424e5476-9234-11e6-8759-b232201ea851.PNG)

![capture2](https://cloud.githubusercontent.com/assets/17478432/19410996/d6118178-92c6-11e6-8bfe-0ecdd5e39fa9.PNG)

[2016-10-08 22:16] TheBrokenRail opened #250 "[PR-In-Progress] Custom Reporter Issue"
### Expected behavior

_It would work with yielding blocks and return values_
### Actual behavior

_It just gets stuck_
### Steps to reproduce

_Clone and build my fork and make a custom reporter and run it_
### Operating system and browser

_Windows 10 AU Microsoft Edge_
### Clone It At:

_https://github.com/TheBrokenRail/scratch-vm.git_

[2016-10-09 19:42] tmickel commented on #250
We have to limit issues on this repository to those in the main codebase, not forks. Custom reporters haven't been implemented and any discussion/thoughts about implementation could happen in #79.

[2016-10-09 19:42] #250 closed, assigned to nobody

[2016-10-09 21:22] dekrain opened #251 "[bug] Lists reporters just report its name"
### Expected behavior

Lists should report its contents
### Actual behavior

Lists reports its name
### Steps to reproduce

Just drag list reporter to join block and click it
### Operating system and browser

Tested on Chrome on Windows and Android, but it should can reproduce on every device

[2016-10-09 22:14] tmickel commented on #251
Thanks for the report, that's a good catch. I think it's because we named the `data_list` block to `data_listcontents`. Needs to be updated here:
https://github.com/LLK/scratch-vm/blob/develop/src/blocks/scratch3_data.js#L20

[2016-10-10 13:28] yonghuming opened #252 "how to support chinese"
### Expected behavior

how to select different languages?
### Actual behavior

the scartch vm could not change different language
### Steps to reproduce

just run scratch-vm
### Operating system and browser

client:windows 10,chrome
server:ubuntu 14.04 x64

[2016-10-10 14:36] CosmicWebServices commented on #252
scratch-vm is just a testing environment I think that language translations will be added when Scratch 3 is released.

[2016-10-10 14:54] dekrain opened #253 "On empty project, I can't run scripts"
### Expected behavior

It should just load empty project
### Actual behavior

It actually tries to load project with that id, so it bugs blocks
### Steps to reproduce

Press New project button

[2016-10-10 14:57] CosmicWebServices commented on #253
Same here

[2016-10-10 20:38] tmickel commented on #252
Exactly what @CosmicWebServices said. scratch-vm is intended to be the backend/core for running Scratch projects; we'll be adding languages to the Scratch Blocks and Scratch GUI projects when the time is right: https://github.com/LLK/scratch-blocks/issues/20

[2016-10-10 20:38] #252 closed, assigned to nobody

[2016-10-11 21:12] #251 closed, assigned to tmickel

[2016-10-11 21:52] tmickel opened #255 "Min/max scale doesn't match Scratch 2.0"
Currently it's set to 5%/500% respectively.

However, it appears to have been set based on a function of costume width/height:

https://github.com/LLK/scratch-flash/blob/a931df6ab30e34a1cb2d6f7288f99df1c8f7f49b/src/scratch/ScratchSprite.as#L253

To pull that off, I think we'll need to provide costume/width height from the renderer.

[2016-10-11 22:10] tmickel commented on #255
Verification that this is based on costume size, not raster bounds size: https://scratch.mit.edu/projects/125172893/

[2016-10-13 00:42] TheBrokenRail commented on #79
I made a version of custom reporters that works using stackFrame but it just freezes the block see my branch 'patch-15'

[2016-10-13 01:02] TheBrokenRail commented on #249
Should I make A PR on scratch-blocks that adds the blocks?

[2016-10-13 01:24] champierre opened #260 "How can I start to contribute to the project?"
I developed some ScratchX extensions like Scratch2HTML(https://github.com/champierre/scratch2html), Scratch2MiP(https://github.com/champierre/scratch2mip).

I am interested in Scratch 3.0 very much and want to contribute.
Could you give me guideline or small advice about how I can start to contribute?

[2016-10-13 01:29] tmickel commented on #249
@TheBrokenRail We can't take any PRs that add new feature-related blocks at this time without significant design discussion first.

[2016-10-13 01:34] TheBrokenRail commented on #260
I think there is a file called CONTRIBUTING.md that might help in the root of the project

[2016-10-13 01:38] champierre commented on #260
Thank you very much. Sorry that I missed that. I will look through it.

[2016-10-13 12:44] #260 closed, assigned to nobody

[2016-10-13 13:37] rschamp opened #262 "Remove Makefile"
On Windows, `make` doesn't exist. Move everything in the Makefile to npm scripts for interoperability.

[2016-10-13 17:58] #136 closed, assigned to tmickel

[2016-10-13 21:16] #90 closed, assigned to nobody

[2016-10-13 23:24] CosmicWebServices opened #268 "Day since 2000 code?"
This is the discussion talking about #272

[2016-10-14 00:43] cwillisf commented on #194
It's a minor point, and I'm not sure exactly how to phrase it, but I'd like to add another goal. I'll describe it by describing the Scratch 2.0 behavior that I'd like to avoid.

The Scratch 2.0 `project.json` file contains integer ID numbers for each sound or costume, and another for the pen layer (treated in many ways like a costume). These ID numbers are meaningless when dealing only with the on

[2016-10-14 01:00] tmickel commented on #194
@cwillisf Wow that is pretty shocking actually! Definitely agree.

[2016-10-14 01:03] tmickel commented on #268
@CosmicWebServices Thanks. We'd be happy to take a PR that implements the block, or we'll get around to it eventually.

Please check out the scratch-flash implementation:
https://github.com/LLK/scratch-flash/blob/master/src/primitives/SensingPrims.as#L306

If possible, we should have the same behavior for timezones.

Regarding decimal precision: seems fine to me to have extra precision, but I have

[2016-10-14 01:04] CosmicWebServices commented on #268
OK thanks maybe when I figure out how to do it I will

[2016-10-14 02:29] TheBrokenRail opened #270 "Start Using fs-extra-node instead of wrench"
### Why

_Wrench Is Deprecated_

[2016-10-14 13:01] thisandagain commented on #270
We don't depend on `wrench` directly. It is a sub-dependency. I recommend you take a look at the dependency tree and send along an issue or PR to the maintainers of that package.

[2016-10-14 13:01] #270 closed, assigned to nobody

[2016-10-14 17:05] CosmicWebServices commented on #268
Sorry for the late reply I will work o a pr soon

[2016-10-14 17:29] towerofnix commented on #268
The more precise the days-since-2000 block, the better. It's already crazy (and for good reason - it's a super handy block), going farther isn't going overboard!

IMO.

By the way.. I haven't checked, but does scratch-blocks limit the rendered digits of a reporter block's result bubble?

[2016-10-14 17:36] CosmicWebServices commented on #268
So I should leave the extra digets?

[2016-10-14 17:38] tmickel commented on #268
@liam4 If I remember right, as far as scratch-blocks is concerned, the bubble isn't limited and can display arbitrary HTML.
@CosmicWebServices Yes, that seems fine to me.

[2016-10-14 17:41] towerofnix commented on #268
I feel taken technically :)

I suppose that if it _does_ (or would) do anything, that's in scratch-vm? (i.e. snipping digits from number bubble returns)

[2016-10-14 17:42] dekrain commented on #268
@CosmicWebServices You must rewrite https://github.com/LLK/scratch-vm/blob/develop/src/blocks/scratch3_sensing.js#L26 adding comma and on next line, add

[code]

Next add on end of file, before `module.exports` something like:

[code]

[2016-10-14 17:44] CosmicWebServices commented on #268
Thanks @dekrain when I am done school I will do that.

[2016-10-14 17:45] CosmicWebServices commented on #268
nvm I will do it now

[2016-10-14 17:46] CosmicWebServices commented on #268
The pr is at #272

[2016-10-14 18:39] CosmicWebServices commented on #268
@liam4 or anyone else do you think the extra few decimal places with hurt cross-compatibility?

[2016-10-14 21:03] CosmicWebServices opened #273 "How is Scratch-VM going to interact with audio?"
I am not sure if audio is a thing yet in Scratch-VM but I would like to suggest the use of the library [HowlerJS ](https://howlerjs.com/) which include pretty much everything needed in scratch 2 and more. It is cross compatible and really easy to code. Also, it works with a whole lot of types of audio files (so no longer audio conversions like you see in 2.0).

I don´t know if audio is a discussio

[2016-10-14 21:11] TheBrokenRail commented on #249
Any Discussion or updates about design and stuff?

[2016-10-14 21:33] TheBrokenRail commented on #249
I added a mockup!

[2016-10-14 21:34] ericrosenbaum commented on #273
Hi- we've started working with audio, but it is still at a very early stage. You can see watch our progress on the audio engine [here](https://github.com/LLK/scratch-audioengine).

Thanks for the tip- we're currently using [ToneJs](https://github.com/Tonejs/Tone.js) for prototyping, but that is likely to change.

[2016-10-14 21:36] CosmicWebServices commented on #249
[offtopic] @TheBrokenRail  what is your scratch username

[2016-10-14 21:37] CosmicWebServices commented on #273
Thanks

[2016-10-14 21:41] towerofnix commented on #268
Nah. I don't know why anybody would need to e.g. check the length of the return value of days since 2000..

[2016-10-14 21:43] CosmicWebServices commented on #268
Actually some people used that in my pen challenge also the one line challenge but I think it is fine still.

[2016-10-15 01:24] TheBrokenRail commented on #249
Comments, Questions, Design Questions, What do you think of my mockup (really just a fork of scratch-blocks)?

[2016-10-15 15:13] tmickel opened #274 "VM clear method notes"
For the GUI, we'd like to be able to unload projects from the VM without deleting the whole VM object. Then new projects could be loaded at any time.

Roughly, `clear` method should dispose all the current targets, using `runtime.disposeTarget`. https://github.com/LLK/scratch-vm/blob/3bfd755e6005fcf528a544548e517dce6122c8b0/src/engine/runtime.js#L375 We could actually just do something like "for e

[2016-10-15 16:22] TheBrokenRail commented on #262
It should also be removed all other scratch-\* repositories

[2016-10-15 19:57] rschamp commented on #274
Thanks for writing this up @tmickel!

[2016-10-15 20:16] towerofnix commented on #260
Meta - should this have the question label? :)

[2016-10-17 15:40] thisandagain commented on #164
I think I agree. "Rendered target" is a little clunky but is nice and descriptive (certainly more descriptive than `ScratchObject`).

[2016-10-17 15:56] #229 closed, assigned to thisandagain

[2016-10-17 15:59] #273 closed, assigned to nobody

[2016-10-17 17:26] tmickel opened #281 "Only call `renderer.draw()` when necessary"
Currently we call `renderer.draw` on every tick. But, we can reduce these calls by a lot in some circumstances because we should know exactly when things on the stage have changed. This is at least when the "redraw" flag of the runtime has been set. But also when drawables have finished rendering/loading (which is why I didn't implement this already - not sure if we can do that yet).

[2016-10-17 17:56] #274 closed, assigned to rschamp

[2016-10-17 17:58] #268 closed, assigned to nobody

[2016-10-17 20:31] #240 closed, assigned to rschamp

[2016-10-17 20:39] tmickel commented on #79
After #280 I think we have a feature complete implementation of Scratch 2.0 custom blocks. Will be looking at the custom reporters issue sometime in the future.

[2016-10-17 20:44] #205 closed, assigned to tmickel

[2016-10-17 21:02] tmickel commented on #208
Here is an added complication: apparently browsers limit even `setInterval` to something like 1FPS when the tab is hidden.

That might seem fine at the surface, but I think it means threads with loops - that yield for the tick to allow a redraw - will run much slower than other threads (since ticks happen much less frequently).

Not sure how to address this...

[2016-10-17 21:05] tmickel commented on #208
Maybe, for example, we could detect when this happens and put the project in turbo mode. But that might have other weird implications, haven't thought it through.

[2016-10-17 21:11] mrjacobbloom commented on #208
If it helps, there's an API for detecting whether the tab is visible and firing events when that changes: https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API

[2016-10-17 21:22] towerofnix opened #284 "GH-pages playground is dead"
Dunno what causes the issue, but I had this very same issue earlier when working on another thing using scratch-vm after pulling. Removing node_modules and reinstalling unsurprisingly fixed it!

![screen shot 2016-10-17 at 6 21 54 pm](https://cloud.githubusercontent.com/assets/9948030/19456187/abfeacf4-9496-11e6-8952-273f08aeded8.png)

[code]

[2016-10-17 21:24] thisandagain commented on #284
@rschamp Any ideas?

[2016-10-17 21:34] CosmicWebServices commented on #284
Recompile it?

[2016-10-17 23:32] towerofnix commented on #284
^ Basically the only known solution right now.. though it would also be nice to know what the issue is!

(But it probably wouldn't be a bad idea to rebuild it for now. You can always go back in time using git to figure out what's wrong with the old version, so you can avoid the issue in the future..)

[2016-10-18 00:05] cwillisf commented on #208
I imagine our timers could report arbitrarily long pauses in at least two cases: when a computer goes to sleep or when a phone or tablet switches applications. I don't think we should try to make up for the gap in time; I think we should just take it as a frame that took a REALLY long time to render (or whatever) and do our best to keep calm and carry on.

By extension, I think it's fine to not ha

[2016-10-18 03:19] tmickel opened #285 "Avoid "catch and suppress" in _updateGlows"
Currently put this in to avoid throwing when blocks don't exist. But I think we could easily track when the blocks don't exist, and avoid calling to scratch-blocks.

[2016-10-18 03:21] tmickel opened #286 "Consider refactoring warpMode flag"
Currently, the warpMode flag on a thread is stored in the stack frame. This gets a little messy to transfer around, since we copy the flag every time a new stack frame is pushed or we go to the next block. We could think about ways to make this simpler.

[2016-10-18 03:22] tmickel opened #287 "Fix command blocks that return Promises"
The right behavior for these is to wait until the promise resolves/rejects, and then proceed to the next block (or up the stack, etc.). After the latest sequencer updates, it just breaks - need to work on a fix.

Good example of this is the "say for N secs" block.

[2016-10-18 03:23] #207 closed, assigned to tmickel

[2016-10-18 03:25] #89 closed, assigned to tmickel

[2016-10-18 10:44] CosmicWebServices commented on #284
Is this a github issue? I know the playground is not broken

[2016-10-18 11:01] towerofnix commented on #284
If you directly clone the gh-pages branch, and don't rebuild it, it'll probably be broken there as (though I haven't checked).

[2016-10-18 11:51] CosmicWebServices commented on #284
It is broken

[2016-10-18 13:44] #262 closed, assigned to rschamp

[2016-10-18 14:24] rschamp commented on #284
The tool we're using to publish to gh-pages is not committing all the changes that happen for each build.  Debugging this now.

[2016-10-18 14:26] CosmicWebServices commented on #284
Cool

[2016-10-18 14:42] tmickel commented on #286
Original discussion: https://github.com/LLK/scratch-vm/pull/280#discussion_r83757298

[2016-10-18 14:50] brianharvey commented on #79
Are you guys talking with Jens about this?  We've already been through a lot of the implementation issues about custom reporters and he probably would have useful insights for you.

[2016-10-18 16:05] #284 closed, assigned to rschamp

[2016-10-18 18:16] Tymewalk commented on #255
I don't really understand. What's the problem? Why can't we just cap the min/max to 5/500%?

[2016-10-18 18:33] mrjacobbloom commented on #255
Imagine a 1x1px costume. If it could only grow to 500% of its original size it could only become 5x5px. If the scale limit was based on the size of the costume then you could make it 360x360 (3600%) and it would still fit on the stage, which is what we want.
Now imagine a 360x480px costume. It could become 5x as big as the stage (500%), which is also a problem.

Deciding the scale limits by costum

[2016-10-20 13:40] Tymewalk commented on #255
I'm not sure about minimum size, but maximum can be calculated like so:

[code]

[2016-10-20 13:52] Tymewalk opened #292 "Separate lists and variables in dropdowns"
The current list/variable blocks include both lists and variables in the dropdown.

This can cause problems, as users may be confused when "j" doesn't increment because it's a list.

[2016-10-20 14:10] Tymewalk opened #293 "Implement sound blocks"
### Expected behavior

The sound "meow" or a drum plays.
### Actual behavior

No sound plays.
### Steps to reproduce

Insert any sound block into a script. For this I used "play sound (meow v)" and "play drum (1) for (10) beats".
### Operating system and browser

Ubuntu Linux 14.04 LTS, Firefox 49 and Google Chrome 53.0.2785.143 (Official Build) (64-bit)

[2016-10-20 14:20] CosmicWebServices commented on #293
That is because it was not implemented yet.
You can see the progress of the sound engine [here](https://github.com/LLK/scratch-audioengine)

[2016-10-20 14:21] dekrain commented on #293
@CosmicWebServices you're faster than me.

[2016-10-20 14:22] CosmicWebServices commented on #293
:)

[2016-10-20 14:22] towerofnix commented on #194
(tl;dr below)

As per [this](https://github.com/LLK/scratch-blocks/pull/699#issuecomment-255093765), quoting myself from there:

But I'd like to clear up some things, since I was a little rushed when I was writing that...

---

Basically, I'd like to be able to _set up_ things _before_ running my extension. I'd also like to have variables _local_ to the extension. That's only possible like this (s

[2016-10-20 14:25] CosmicWebServices commented on #194
Also for compression maybe sb3 files whatever they all should be gziped so that there are more space for bigger projects.

[2016-10-20 14:26] CosmicWebServices commented on #194
There may be a better way to compress

[2016-10-20 15:25] tmickel commented on #293
We will hopefully have some demo sound blocks in the VM soon!

[2016-10-20 15:27] tmickel commented on #292
Hey @Tymewalk - thanks for the report. Tracking in: https://github.com/LLK/scratch-blocks/issues/671

[2016-10-20 15:27] #292 closed, assigned to nobody

[2016-10-20 15:36] CosmicWebServices commented on #293
Yay!

[2016-10-20 15:42] tmickel commented on #285
fixed by dropping block glows for now

[2016-10-20 15:42] #285 closed, assigned to tmickel

[2016-10-20 15:47] tmickel commented on #79
@brianharvey It would be great to talk to him as soon as we're ready to implement! I know there are many great ideas in the Snap code. Thanks for mentioning that.

[2016-10-20 19:36] dekrain commented on #194
Something like this:

[code]

?
P.S. I'm working on exporter for this standard
**Edit**: Base32 -> Base64

[2016-10-20 19:38] as-com commented on #194
@dekrain Base32 sounds a bit wasteful. Did you mean Base64?

I don't think putting assets into a JSON file is optimal: many parsers would choke on a 67 MB JSON file.

[2016-10-20 19:41] dekrain commented on #194
Hmm... I thought I heard somewhere Base64 is longer than Base32.

[2016-10-20 19:43] as-com commented on #194
@dekrain Base64 increases filesize by 33%, base32 increases filesize by 60%.

[2016-10-20 19:45] dekrain commented on #194
So, what you recommend for me?

[2016-10-20 19:46] as-com commented on #194
It's probably best to store the assets alongside the JSON, perhaps in a ZIP file, and reference them by filename (which might be its hash).

[2016-10-20 19:57] dekrain commented on #194
Ok, for now I did this:

[code]

[2016-10-21 06:27] ed-cooper commented on #194
Something I'd like to mention in favour of referencing assets by hashes rather than base64 encoding:
Currently, the ST limits the size of the project json file to somewhere around 5MB.
Assuming this policy will continue into Scratch 3, I wouldn't want the space that could be used for scripts to be taken up by unnesecary images (eg. blank bitmaps) even if the size limits were increased.

Keeping th

[2016-10-21 06:30] dekrain commented on #194
So, should I pack it just for ZIP?

[2016-10-21 06:33] dekrain commented on #194
Ok, I'll do it after school.

[2016-10-21 12:12] dekrain commented on #194
Ok, I went back. Now I can complete this.

[2016-10-21 13:59] thisandagain commented on #194
Thanks for the thorough write-up of your thoughts on extensions @liam4 😄

[2016-10-21 15:11] Tymewalk commented on #293
@tmickel Sounds great!

As I don't think they'd be fundamentally redesigned, would it be possible to add sound seeking blocks like [these](https://scratch.mit.edu/discuss/topic/182656/?page=1)?

[2016-10-21 15:18] dekrain commented on #194
I did the base of standard [here](https://github.com/dekrain/scratch-vm/blob/technical/sb3/src/projects/sb3format.json). Is this valid?

[2016-10-21 15:44] tmickel commented on #293
@Tymewalk That's interesting. @ericrosenbaum might have comments/ideas. We can't really know whether particular blocks will be added for 3.0, because we have a long design process, but we are playing with some new sound ideas.

[2016-10-22 02:18] edward789121 opened #296 "make a simpler default project. (at least, stop making new ones)"
### Expected behavior

either one of these:
- make the default project nyan cat or ship it squirrel (:shipit:) repeatedly changing color.
- just stick with any of them for a few months.
### Actual behavior

showing you a new one every time you visit.
### Steps to reproduce

go to https://scratch.mit.edu/projects/119615668 , or view S3 on the web.
### Operating system and browser

Chrome on Windows

[2016-10-22 02:47] towerofnix commented on #296
Actually the testing project is just for, well, testing. It's kind of fun to have a new project there every once in a while, to see what's new with the VM.

In any case obviously that won't be the default project in the future when Scratch 3.0 is released!

[2016-10-22 13:25] edward789121 commented on #296
Good. But I just don't like having 5 minutes to play around with S3, and the next time, it's something else. I think development would be faster if they stuck with the same default project for a while. 'Cause I bet they would have changing sprite names/deleting sprites/etc.!

[2016-10-22 13:46] dekrain commented on #296
Always you can load non-working empty project :P

[2016-10-22 15:42] TheBrokenRail opened #297 "On Empty Project Renderer Not Attached"
### Expected behavior

_The renderer should be attached and the sprite should display._
### Actual behavior

_The renderer is not attached._
### Steps to reproduce

_Create Empty Project_
### Operating system and browser

_Google Chrome On Windows 10 AU_

[2016-10-22 17:05] thisandagain commented on #296
We switch out the project depending on what we are testing, which helps out with development quite a bit. If you would like something else you can load it yourself by adding `/#someprojectid` to the end of the URL.

[2016-10-22 17:05] #296 closed, assigned to nobody

[2016-10-24 16:55] thisandagain commented on #297
We are handling this in the new GUI repo that we will be releasing soon. I'm going to keep this open as a feature request.

[2016-10-24 16:58] dekrain commented on #297
When you publish this? Next week or month?

[2016-10-24 17:19] tmickel opened #299 "Clone ordering"
### Expected behavior

When instantiated, clones of sprites should appear behind the original sprite.
### Actual behavior

Clone appears above the original sprite, obscuring it.
### Steps to reproduce

Make a single clone, then try to change the color effect of the current sprite. Effect is invisible, because the sprite is obscured behind the clone.

[2016-10-24 17:47] tmickel commented on #299
https://github.com/LLK/scratch-flash/blob/a931df6ab30e34a1cb2d6f7288f99df1c8f7f49b/src/primitives/Primitives.as#L183

This is hard to read, but I think it's saying that clones' clones are actually placed in front of the first clone.

[2016-10-24 17:49] tmickel commented on #299
No - they always go behind: https://scratch.mit.edu/projects/127258715/#editor Not sure what that line is referring to.

[2016-10-24 17:52] tmickel opened #300 "Stage can currently clone itself"
### Expected behavior

Using the "create clone of myself" block on the stage should be a no-op.
### Actual behavior

The stage is duplicated, on top of all other sprites.
### Steps to reproduce

Go to a project, and click the "create clone of myself" block in the palette.

[2016-10-24 17:54] CosmicWebServices commented on #300
You should totally keep this :)

[2016-10-24 17:56] tmickel opened #301 "Add motion fence"
### Expected behavior

Sprites should be bounded to the edges of the stage, as in Scratch 2.0's "keep on stage."
### Actual behavior

Sprites can go on forever, with no default bounds.
### Steps to reproduce

Place a sprite and do "forever move 10." It should stop when it is partially off the stage.

[2016-10-24 17:58] tmickel opened #302 "Implement "ask" and "answer" blocks"
These are currently unimplemented. Depends first on https://github.com/LLK/scratch-render/issues/18 (since the "ask" happens in a say bubble), implementing the ask GUI (could feasibly be done outside the stage with floating HTML), and https://github.com/LLK/scratch-vm/issues/287.

_(Update from Paul, exactly one year later)_
I wanted to add a few functionality notes here:

- [ ] There are actually

[2016-10-24 17:59] tmickel opened #303 "Implement "of" block in sensing"
This block is unimplemented, but could be implemented right away.

[2016-10-24 18:03] tmickel opened #304 "Implement video motion sensing"
We need to do at least two things:
- Display the video on the stage (do this in scratch-render?)
- Implement the sensing primitives. Reference: https://github.com/LLK/scratch-flash/blob/master/src/primitives/VideoMotionPrims.as. Personally I might lean toward a direct reproduction of this if possible, i.e., a translation AS3->JavaScript. More documentation at https://llk.media.mit.edu/papers/tony-

[2016-10-24 18:07] tmickel opened #305 "Implement loudness detection"
https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia

We'll need to map microphone values to a value 0-100, like Scratch.

[2016-10-24 18:08] tmickel opened #306 "Implement "username" block"
Can we get this data without being embedded on a *.scratch.mit.edu page, or will it have to read a cookie there?

[2016-10-24 18:09] tmickel opened #307 "Implement "say" and "think" primitives"
Depends on https://github.com/LLK/scratch-render/issues/18 and https://github.com/LLK/scratch-vm/issues/287 (ideally).

[2016-10-24 18:10] thisandagain commented on #304
Agreed.

[2016-10-24 18:11] tmickel opened #308 "Implement monitor manager, show/hide variable/list blocks"
Needs to interact with the scratch-blocks flyout checkboxes and https://github.com/LLK/scratch-render/issues/19 to display monitors when appropriate. Also need to update the SB2 importer to know when to display monitors by default.

[2016-10-24 18:15] thisandagain commented on #306
We'll have to either grab it from the session directly or pass the session to the API which means we'll need to limit it to a `*.scratch.mit.edu` domain unfortunately.

[2016-10-24 20:46] towerofnix commented on #305
Don't forget that if no microphone is detected, or it doesn't have permission to use a microphone, the microphone value is -1.

[2016-10-24 20:53] towerofnix commented on #301
A toggle constant (or whatever) for this in the source might be nice.

[2016-10-24 21:13] towerofnix commented on #303
Here's a test project: https://scratch.mit.edu/projects/127295747/

..Though it depends on smaller feature I'm not 100% sure has been implemented, switching to a costume using the index of that costume.

EDIT: Also there's lots of vector graphics, but I don't think the lack of proper vector graphics rendering ATM _really_ messes up anything.

[2016-10-24 21:18] towerofnix commented on #303
The argument name for "() of" is `OBJECT`. I wonder if that should be `TARGET`?

Also, on the topic of this block, I'd find a "myself" option quite useful, though I'd like to know whether or not that has even a sliver of a chance of being used before implementing it.. no need for unnecessary hype :)

EDIT: "useful" as in "get (variable) of myself", "get [costume name] of myself", and so on.

[2016-10-25 00:37] #303 closed, assigned to nobody

[2016-10-25 00:40] tmickel commented on #303
@liam4 We could switch that to TARGET to be more consistent with the language of the VM. However I wouldn't consider it highest priority.

The thinking with the "myself" is that you could programmatically switch which attributes you're getting, right? With clones, would it return the values for the target clone or the original sprite? Personally I wouldn't be opposed to it but we'll have to have a

[2016-10-25 00:40] tmickel commented on #293
A reminder that this requires implementing "volume of _" in the "of" sensing block.

[2016-10-25 00:42] tmickel commented on #301
@liam4 We have thought about adding {MOTION_STYLE_FENCE, MOTION_STYLE_WRAP, MOTION_STYLE_FREE} in the source. Not clear if we'll actually expose these in the Scratch editor, but would be useful for future experimentation. However, definitely not the highest priority.

[2016-10-25 01:10] towerofnix commented on #301
..This is interesting!

[2016-10-25 01:22] towerofnix commented on #303
@tmickel Yeah, that's the idea.

The dropdown for the attribute would need to be "opened", but I can't really see why not -- the only possibly confusing thing that could happen, I suppose, would be dropping an attribute-getter block (such as "x position") into the dropdown. But it probably wouldn't take anybody longer than ten seconds to figure out that "x position" means (0, 240, 15, etc - visual

[2016-10-25 03:20] #129 closed, assigned to nobody

[2016-10-25 16:55] ed-cooper commented on #301
Yes, wrap and free motion would be useful features in the editor.

I suspect a design discussion might be needed for how wrap should work though

[2016-10-26 10:37] towerofnix opened #312 "Clicking on a dropdown in the flyout triggers the block"
### Expected behavior

The dropdown opens, with no side-effects, as it would be opened in the workspace.
### Actual behavior

The dropdown opens, but the block is also immediately activated.

The drpodown's focus highlight also only appears for an instant.
### Steps to reproduce

Open a category in the flyout that contains a block with a dropdown, and click on the dropdown.

For comparison, clicki

[2016-10-26 11:33] dekrain commented on #312
Yes

[2016-10-26 13:27] tmickel commented on #312
Thanks @liam4 - Definitely see this. I think this issue would be better served in the scratch-blocks repo, so moving it there.

[2016-10-26 13:27] #312 closed, assigned to nobody

[2016-10-26 13:28] tmickel opened #313 "Dragging a block out of a Scratch 2.0 dropdown leaves the block spec as the input"
From @liam4:

![The issue](https://cloud.githubusercontent.com/assets/9948030/19667340/b846bbc4-9a26-11e6-899c-b862c9efa133.gif)

As seen above.

When you drag out a block from a Scratch 2.0 dropdown, a stringified version of the block spec tree is left in the input.

Probably the fix here would be setting the input values to some default value during an SB2 import, but I'm not totally sure what t

[2016-10-26 13:36] tmickel commented on #234
The more I think about this, the more my opinion is that we should leave it as-is, +/- Infinity. It would keep things compatible, and maintains mathematical semantics like Infinity > -Infinity.

@cwillisf Regarding NaN being cast as 0: I think this actually makes sense for Scratch. For example, when you do [move (NaN) steps], the interpreter has to handle this in some way, and I think the most rea

[2016-10-26 14:07] #300 closed, assigned to tmickel

[2016-10-26 14:07] #299 closed, assigned to tmickel

[2016-10-26 14:26] #313 closed, assigned to tmickel

[2016-10-26 14:33] tmickel commented on #112
We have an experiment for this, tracking in #293.

[2016-10-26 14:33] #112 closed, assigned to ericrosenbaum

[2016-10-26 14:41] tmickel commented on #297
Hi,

I'm closing empty project issues for now since they'll be addressed in our upcoming scratch-gui release. @dekrain No promises but it seems this is more likely to be next week than next month (@rschamp).

[2016-10-26 14:41] #297 closed, assigned to nobody

[2016-10-26 14:42] tmickel commented on #253
Closing empty project issues as these will be addressed in our upcoming scratch-gui release.

[2016-10-26 14:42] #253 closed, assigned to nobody

[2016-10-26 14:43] thisandagain commented on #234
I agree with keeping the spec as-is.

[2016-10-26 15:11] dekrain commented on #297
Yay

[2016-10-26 15:19] #164 closed, assigned to nobody

[2016-10-26 15:27] Sigton commented on #112
Awesome! Panning would be a great feature :)

Sigton

[2016-10-26 15:34] tmickel commented on #208
Closing for now as I took the suggestion of @cwillisf and just used `setInterval` for everything. It seems to work pretty well. We should probably continue the discussion about the above ideas and tab-backgrounding issues at some point...

[2016-10-26 15:34] #208 closed, assigned to nobody

[2016-10-26 17:23] cwillisf commented on #234
@tmickel I definitely agree that "move NaN steps" should move 0 steps. My concern is that we "squash" NaN to zero as soon as possible rather than allowing it to propagate through mathematical expressions.

I think if we ever show "NaN" to a user we should be consistent in the way we treat it, which IMO means treating it the same way that IEEE 754 treats it. One specific example: `sqrt(-1) + 0` sho

[2016-10-26 17:27] #144 closed, assigned to tmickel

[2016-10-26 17:36] tmickel commented on #234
@cwillisf I think that should be an easy implementation. Add a new number cast method: https://github.com/LLK/scratch-vm/blob/develop/src/util/cast.js#L25

`Cast.toNumberOperators`, or something, that doesn't have the NaN-squashing property.

However I am slightly nervous that this will break compatibility with Scratch 2.0 and Scratch 1.4 operators. While in Scratch NaN might be squashed early in

[2016-10-26 17:37] tmickel commented on #234
This could be a candidate for compatibility mode, maybe.

[2016-10-26 17:42] cwillisf commented on #234
For what it's worth, Scratch 1.4 reports that `sqrt(-1)` is "Error!" and `sqrt(-1) + 1` is also "Error!".
I do recognize that we might break some Scratch 2.0 projects, though. Compatibility mode might be the right way to go with that. Hmmm...

[2016-10-26 20:12] towerofnix commented on #312
Oops.

[2016-10-27 16:39] #161 closed, assigned to tmickel

[2016-10-28 14:40] CosmicWebServices commented on #304
Well @thisandagain there are some really good javascript libraries that can do what you want and more...

[2016-10-28 18:41] TheBrokenRail commented on #249
Any Comments?

[2016-10-28 18:45] CosmicWebServices commented on #249
Let me look for a minute or two...

[2016-10-28 18:47] CosmicWebServices commented on #249
Does it stretch the whole x or the whole y up and down or just the top of the image or the bottom of the image... If that makes sense?

[2016-10-28 18:48] CosmicWebServices commented on #249
Also, I think the mockup looks great and is understandable but could it be considered a motion block?

[2016-10-28 18:49] TheBrokenRail commented on #306
It could be included in creating the VM object to it to function on more than just *.scratch.mit.edu domains

[2016-10-28 19:29] TheBrokenRail commented on #249
The Whole Axis Stretches and I don't think it would be a motion block because it doesn't change position or rotation and it is a cosmetic effect

[2016-10-28 20:17] TheBrokenRail opened #324 "Add more documentation on wiki about code"
- [ ] Adding Primitives
- [ ] Adding Implementations
- [ ] What JS Objects are for and Their Functions
- [ ] Modifying The Playground

[2016-10-29 21:27] TheBrokenRail commented on #249
@tmickel

[2016-10-30 12:17] TheBrokenRail opened #325 "Not The Full Toolbox on Scratch-GUI"
### Expected behavior

_You see the default toolbox._
### Actual behavior

_You only see 5 categories of the default toolbox._
### Steps to reproduce

_Go to: llk.github.io/scratch-gui_

[2016-10-30 17:46] rschamp commented on #325
This is a prototype for a "microworld" usage of the gui so the limited toolbox is expected.

[2016-10-30 17:46] #325 closed, assigned to nobody

[2016-10-30 17:49] dekrain commented on #325
When `scratch-gui` will published?

[2016-10-31 03:31] jeandrek commented on #325
@dekrain I think I remember @tmickel saying "soon".

[2016-10-31 09:50] dekrain commented on #325
Ok, I will don't ask anymore for this.

[2016-11-01 01:10] dekrain commented on #325
I created program:

[code]

[2016-11-01 01:25] towerofnix commented on #325
Sounds like the type of thing to share on the Scratch 3.0 [discussion thread](https://scratch.mit.edu/discuss/topic/199574/)! (Along with a screenshot of the program, might be nice.)

[2016-11-01 01:31] dekrain commented on #325
Ok, sorry

[2016-11-01 20:39] tmickel opened #326 "Importers: adjust block coordinate calculation so blocks overlap less."
Currently, block coordinates from old projects are multiplied by 1.1 for new scratch-blocks size and shape. However this seems to cause a lot of block overlapping. Pretty sure it might be difficult or impossible to put the blocks in the "right" relative position, so we need to play with the multipliers to make it feel good, at least.

2.0:
![pasted image at 2016_11_01 01_17 pm](https://cloud.githu

[2016-11-07 18:27] tmickel commented on #287
Actually, this appears to work fine - possibly fixed after the removal of single-stepping mode.

[2016-11-07 18:27] #287 closed, assigned to tmickel

[2016-11-07 23:01] tmickel opened #327 "switch backdrop to [next backdrop/previous backdrop] doesn't work as expected"
Demo project: https://llk.github.io/scratch-gui/#128185170

[2016-11-07 23:02] towerofnix commented on #327
I'm guessing "[previous/next] backdrop" is getting evaluated to 0, which is wrapping to the last backdrop..

[2016-11-07 23:14] tmickel commented on #327
@liam4 Yep I bet that is close to right. https://github.com/LLK/scratch-vm/blob/develop/src/blocks/scratch3_looks.js#L97 This code is looking at the calculated `costumeIndex`, but I bet it should be checking the string.

[2016-11-07 23:16] towerofnix commented on #327
You've got 7 days to fix this critical issue. Good luck.

[2016-11-09 15:52] tmickel opened #328 "A broadcast bug"
Something has broken with broadcast, causing it to behave unexpectedly in loops (and possibly other situations).
<img width="443" alt="screen shot 2016-11-09 at 10 51 29 am" src="https://cloud.githubusercontent.com/assets/120403/20144404/8c1ae1ec-a66a-11e6-910f-4703f1b616cc.png">
In the above, I expect it to behave like "forever turn right", but it doesn't seem to execute the broadcast until the l

[2016-11-09 15:59] tmickel opened #329 "gh-pages"
Not high priority, but baffled at why gh-pages is broken. I made the jekyll change from scratch-gui, but now it seems like nothing is getting pushed to gh-pages by Travis - not sure if that was my fault. Anyway I figure you are more qualified to investigate this :)

[2016-11-09 16:22] #327 closed, assigned to tmickel

[2016-11-09 17:07] ed-cooper commented on #328
More specifically, the issue demonstrated here is that when the same message is broadcast, the script execution starts back at the top of the script, even if it is already running.

(Just some proof:)
Swapping the broadcast block for a broadcast and wait block works:

![screen 1](https://cloud.githubusercontent.com/assets/14095134/20147090/8f417848-a69e-11e6-9636-08ec7c509bb1.png)

This example, w

[2016-11-10 16:43] tmickel commented on #328
@chooper100 Thanks for writing that up. I'm not sure if that's quite the issue, but it's definitely on the right track.

In Scratch 2.0 for example, when you make this script:
<img width="358" alt="screen shot 2016-11-10 at 11 39 17 am" src="https://cloud.githubusercontent.com/assets/120403/20185514/5adc6a30-a73a-11e6-913a-eae3addcad0c.png">
If the broadcast doesn't restart the script on the right

[2016-11-10 16:52] tmickel commented on #328
Here is a test project:
https://scratch.mit.edu/projects/130183108/

[2016-11-10 20:05] #328 closed, assigned to tmickel

[2016-11-10 20:11] tmickel commented on #329
lgtm now

[2016-11-10 20:11] #329 closed, assigned to rschamp

[2016-11-14 17:32] #255 closed, assigned to tmickel

[2016-11-14 20:35] TheBrokenRail opened #334 "Dosn't Load On IE And MS Edge"
### Expected behavior

_It should load and work perfectly fine._

### Actual behavior

_Only the HTML Elements Load_

### Steps to reproduce

_Go To Scratch-VM On IE Or MS Edge_

### Operating system and browser

_MS Edge And IE_

[2016-11-14 21:58] CosmicWebServices commented on #334
UGH IE and Edge

[2016-11-14 22:30] TheBrokenRail commented on #334
Edge Is Actually A Really Good Browser

Posted With MS Edge

[2016-11-14 22:32] TheBrokenRail commented on #334
On edge it looks like it has something to do with the default toolbox

[2016-11-22 19:20] tmickel opened #336 "Errors when no sprites are in loaded Scratch 2.0 project"
Presumably, I've made an assumption somewhere that there would be a stage and a first sprite. However this is not always the case: https://llk.github.io/scratch-vm/#125571490

The project functions fine as far as execution, but the blocks loading fails; must be something about setting the editing target.

[2016-11-22 19:22] tmickel opened #337 "Effect not correctly copied to clones"
Demo: https://llk.github.io/scratch-gui/#125767391

In Scratch 2.0, you end up with squares of all different colors.

[2016-11-22 19:28] tmickel commented on #337
A simpler demo:
https://llk.github.io/scratch-gui/#132285226
vs. https://scratch.mit.edu/projects/132285226/ (correct)

[2016-11-22 19:35] tmickel opened #338 "Finish when [sensor] > _ hat block"
Moving this from a TODO comment. Currently, the "when [sensor] > _" hat block has the timer implemented, but it will need to be extended once we have support for video motion and the microphone input.

[2016-11-22 19:37] tmickel opened #339 "Implement "volume" value in Scratch3SensingBlocks.getAttributeOf"
Moving this from a TODO comment.

<img width="148" alt="screen shot 2016-11-22 at 2 37 02 pm" src="https://cloud.githubusercontent.com/assets/120403/20538900/28885734-b0c1-11e6-8aea-5bb4201b01a5.png">

[2016-11-22 19:46] tmickel opened #340 "Reconsider special keys allowed in Keyboard.prototype._scratchKeyToKeyCode"
Moving from TODO comment:

So far the list includes space and the arrow keys. We could expand these to include other special keys where the value is guaranteed to be platform-independent (if they exist).

I would be cautious about this: http://unixpapa.com/js/key.html - but it looks like some things have gotten better recently.

[2016-11-22 19:47] tmickel opened #341 "Prefix opcodes with package name in Runtime.prototype._registerBlockPackages"
Moving from TODO.

[2016-11-22 19:49] tmickel opened #342 "Package privilege and instantiation of block packages"
Moving from TODO comment:

Currently, block packages are passed a reference to `runtime` on instantiation. This is used in many Scratch block implementations, but wouldn't be used, for example, for extension block packages. Should we have some concept of privilege and provide/sandbox packages as appropriate?

[2016-11-22 19:52] tmickel opened #343 "Import watchers/monitors in SB2 importer"
Moving from TODO comment. Currently these are ignored immediately.

[2016-11-22 19:55] tmickel opened #344 "Add Sequencer tests"
Currently, there are no tests for the Sequencer.

[2016-11-22 19:56] tmickel opened #345 "Add Thread tests"
Currently, there are no tests for Thread. There are a bunch of methods in there that could be easily unit-tested and are pretty critical for managing execution.

[2016-11-22 20:13] tmickel opened #347 "Automatically set compatibility mode when importing from SB2"
The compatibility mode flag can be set whenever the VM is importing from SB2, so that projects run at the expected TPS.

[2016-11-23 01:02] towerofnix commented on #343
Excuse me for posting this here, but I've already gotten through writing most of it and I don't have anywhere else to post it - I couldn't find an issue specifically dedicated to watchers anywhere! :)

If/when there *is* a better place to post this, I'd love it if this could be moved there (probably).

---

The basic VM code for this should be fairly easy, but some things to think about:

* Watche

[2016-11-23 02:21] mrjacobbloom commented on #343
Also, watchers reflect the color of data blocks, which can change in 2.0. I don't know all the details, but there are some quirks people have taken advantage of that you might want to consider: https://scratch.mit.edu/projects/977636/

[2016-11-23 13:08] towerofnix commented on #194
It'd be a good idea to have a compatibility mode flag inside the actual SB3 file for when you edit an SB2 project (#347).

A way to toggle compatibility mode would also be nice, for people updating their projects from Scratch 2.0 to use 3.0's 60tps.

[2016-11-27 19:23] dekrain opened #349 "Source map"
Output file `vendor.js` can have source map to better browsing code and debugging.

[2016-11-28 03:44] makerclass opened #350 "how to add a custom block ?"
### Expected behavior

i want to add a custom block on movtion category

[2016-11-28 09:10] dekrain commented on #350
The flyout category of CBs is broken

[2016-11-28 12:04] CosmicWebServices commented on #350
Yeah unforchantly that is the case hopefully it will be fixed soon enogth

[2016-11-28 15:22] makerclass commented on #350
i can add a custom block, But i dont knot how to write the code generate code. In Blockly i can create a new js file. but in scratch vm

in playground.js: i add a block like this

window.Blockly.Blocks['test'] = {
    init: function() {
    this.appendDummyInput()
        .appendField("test");
    this.setInputsInline(false);
    this.setPreviousStatement(true, null);
    this.setColour(210);

[2016-11-28 15:36] rschamp commented on #349
I don't think we've had too many issues with the current method, since we don't use obfuscated code in development.

Adjusting the source mapping can have dramatic effects on the build speed, so if we did change this we would need to do some tests to find which is the best balance between debug-ability and build performance.  If you would like to change the source map for your own development, you

[2016-11-28 15:36] #349 closed, assigned to nobody

[2016-11-28 15:40] tmickel commented on #350
Hi @makerclass:

You've given the block the name "test" here: `window.Blockly.Blocks['test']`. If you change that code to look like `window.Blockly.Blocks['motion_test']`, the VM should know where to look for it. Note also that you'll probably want to add the block to the scratch-blocks toolbox XML, if you haven't already.

[2016-11-28 15:40] #350 closed, assigned to nobody

[2016-11-28 15:47] makerclass commented on #350
got it, thank you very much!! it works well

[2016-11-28 17:03] dekrain commented on #350
And here: `motion_test: this.TEST`

[2016-12-01 14:21] BookOwl opened #352 "Sprite movement is jerky"
I hope that this is the right repo to report this in.
### Expected behavior

The ship sprite's movement should be smooth, just like in Scratch 2.0

### Actual behavior

The sprite's jerks around when trying to rotate or move it.

### Steps to reproduce

1. Load project 133736970 in the VM
2. Hit the green flag button. Since Scratch 3.0 doesn't support when this sprite clicked yet, I modified the p

[2016-12-01 14:37] dekrain commented on #352
Report this to LLK/Scratch-Render

[2016-12-05 22:46] TheBrokenRail commented on #306
It could also be stored on a SQL database and the link could be stored on a cookie or variable (it could be changed), you could also open source the stuff on the SQL server so people could run there own.

[2016-12-17 00:26] TheBrokenRail opened #354 "Make if on edge, bouce block more flexible"
### What

_It changes edge to a dropdown so you can bounce off sprites._

### Why

_So you can bounce off object without learning all the math about calculating the bounce (Simplicity, so younger kids can make more complicated games in scratch)_

### Concept

![capture](https://cloud.githubusercontent.com/assets/17478432/21283730/0374f6aa-c3d6-11e6-80fd-46e32bb09b84.PNG)

### Example Code

[code]

[2016-12-17 15:04] TheBrokenRail opened #355 "Add support for deprecated blocks from 2.0 and 1.4"
(Edited by @thisandagain on 12/24/2016)

https://wiki.scratch.mit.edu/wiki/List_of_Obsolete_Blocks

[2016-12-17 15:22] CosmicWebServices commented on #355
Umm Arent they trying to get rid of hacked block usage...

[2016-12-17 15:27] TheBrokenRail commented on #355
Yes, but just letting the blocks disappear (like they do currently), I don't believe is a good option, may be we should convert the hacked blocks into normal blocks (like forever if turned into a if block inside a forever block)

[2016-12-17 18:04] mrjacobbloom commented on #355
I like that. And counter could be named `counter1` or `counter2` etc. using the same method they use to resolve collisions with costume names

[2016-12-17 20:43] ed-cooper commented on #355
This will also need to include the old 1.4 style sound and drum blocks

[2016-12-18 13:43] CosmicWebServices commented on #355
I feel like if they add features that ATers usually have to hack the blocks for that will be key.

[2016-12-21 13:49] Domiii opened #356 "[sharing] using scratch-vm to list all blocks"
Thank you so much for your earlier help!

In my opinion, learning coding requires working with code and "playing around with it". Of course, the most straight-forward way to do that would be to actually use Scratch to create cool stuff! But sadly that does not work very well for everyone, especially initially.

That is why I am currently producing a bunch of mini apps (some with Firebase as a back

[2016-12-21 19:04] thisandagain commented on #356
Hi @domiii thanks for sharing! Our Facebook and Twitter accounts or simply "help" [at] scratch.mit.edu are all great places to share things you are experimenting with. :-)

[2016-12-21 19:04] #356 closed, assigned to nobody

[2016-12-22 12:08] TheBrokenRail opened #359 "Background flashing a lot in turbo mode (sample project)"
### Expected behavior

_It does not flash._

### Actual behavior

_It flashes constantly kind of looking like it is losing saturation._

### Steps to reproduce

_Open the playground, turn turbo mode on, press green flag._

### Operating system and browser

_Windows 10 Google Chrome_

[2016-12-22 16:32] tmickel commented on #359
I believe this could be the expected behavior for this project in turbo mode at 60FPS. The "compatibility mode + turbo mode" behavior is similar to Scratch 2.0 in turbo mode (https://scratch.mit.edu/projects/119615668/).

The code involved is "forever change color effect by 1".

In non-turbo mode, this means change the color effect once per frame. In turbo mode, this means increase by 1 as many ti

[2016-12-23 14:31] thisandagain opened #360 "Horizontal - Hat blocks with fields do not work"
Hat blocks without fields (such as the "green flag") work well in the horizontal grammar. However, hat blocks with fields (such as the WeDo "tilt" block) do not work as the VM is unable to read the value.

Tracking fix in https://github.com/LLK/scratch-vm/commit/3eff0d38083e6ec9e2baa41eb20dfc801b8067b7#diff-38d875e1d50b3158dc96404b65275a54R411

[2016-12-24 14:12] thisandagain commented on #355
I'm going to modify the scope the scope of this to be more clear. We need to make sure we support the deprecated opcodes from 1.X to 2.0:
https://wiki.scratch.mit.edu/wiki/List_of_Obsolete_Blocks

For "hacked" blocks, we will support a more robust extension paradigm in 3.0 to be discussed soon.

[2017-01-02 04:10] Domiii opened #365 "Concepts: Data + List categories are confusing"
I just realized that you now separate the original `Data` category into `Data` and `Lists`. In terms of computational thinking concepts, lists are also a family of variables and any sort of variable is used to store data. Having a category called `Lists` that is separate from `Data` can quickly become confusing.

I would propose naming the two: `Data: simple` and `Data: lists` instead (...or somet

[2017-01-02 20:05] thisandagain commented on #365
We will be merging `Variables` and `Lists` back together into `Data` (just as we have for Scratch 2.0). We have them split right now just to help with development. Sorry for any confusion!

[2017-01-02 20:05] #365 closed, assigned to nobody

[2017-01-03 07:33] Domiii commented on #365
Thanks a lot! Really awesome! :)

[2017-01-03 14:37] thisandagain opened #366 "Perform hasOwnProperty validation"
From @cwillisf

I would suggest putting something like this at the top of the loop body:
[code]

We're actually missing this sort of check in several places. If you'd like to see the VM explode, try typing something like this into your JS console while the VM is running:
[code]

I'm of the opinion that we should try to fix this, but I'd be happy to discuss if you disagree. Also, even if you agree

[2017-01-03 14:37] #360 closed, assigned to thisandagain

[2017-01-03 16:47] TheBrokenRail opened #367 "Edge/IE Compatibility"
### Expected behavior

_It should load._

### Actual behavior

_It doesn't load and gives error_
[code]

### Steps to reproduce

_Load up playground on MS Edge_

### Operating system and browser

_MS Edge Windows 10_

[2017-01-06 02:17] TheBrokenRail opened #370 "Dynamic Variable Creation Works, Sort Of"
### The Sort Of Part

_It doesn't appear in the variable menu, I understand this is unintended behavior but it is cool for more advanced projects._

### How

_I did this by replacing the data.variable menu shadow with text._

### Drawbacks
- It does not appear in scratch block menus.
- You need to mess with variable getter's shadow to get the value.
- You can set a dynamic variable by dropping a r

[2017-01-06 02:54] mrjacobbloom commented on #370
If you try to access a variable that doesn't exist, it'll be created: https://github.com/LLK/scratch-vm/blob/56ef01745fbb0cc65262438ab27864b435822dd5/src/engine/target.js#L66 This is the same as in Scratch 2.0, probably to make sure that old projects still run correctly. I don't think they're going to remove that, but just like in Scratch 2.0 it's up to the user to figure out how to create hacked

[2017-01-06 12:08] TheBrokenRail commented on #370
Wait, I did some more testing and you can get a custom variables without messing with the shadow and just by dropping in a reporter, since that is kind of not hacked blocks, will that be removed, patched, or implemented fully? And why doesn't it show up in scratch-blocks menus?

[2017-01-06 12:12] TheBrokenRail commented on #370
Currently, unlike the variable getter or set, sensing will not create a variable if it is non-existent, is this intended or not?

[2017-01-06 13:51] griffpatch opened #371 "Loops that do not update the stage should not yield"
### Expected behavior

**IGNORE THIS - IT ISN'T AN ISSUE... SEE NEXT COMMENT**

A loop (forever, or any other type) will yield for a screen refresh between loops, ***but only*** if the scripts within the loop caused a screen update to occur, otherwise they should run at full speed without yielding.

### Actual behavior

Currently, a loop will always yield no matter what occurs within the loop (unl

[2017-01-06 14:31] griffpatch commented on #371
Nope... Ignore that - it works fine... The issue was that the 'stage' still had the initial example scripts on them that toggle the background colour, etc... so this is not an issue... I thought it was odd since I could see code existed to handle this! Sorry :)

[2017-01-06 14:31] #371 closed, assigned to nobody

[2017-01-06 15:32] griffpatch opened #372 ""set size to" block does not work under a "when I start as a clone" hat"
### Expected behavior

Clone will be sized to the specified size.

### Actual behavior

The clone is reset to 100% size regardless of the original sprites size, and the subsequent resize is ignored (also during cloning a large squirrel sprite sometimes flashes on the screen!)

### Steps to reproduce

When Green Flag Clicked
  set size to 10
  repeat 50
    create clone of [this sprite]
    create

[2017-01-06 17:44] tmickel commented on #372
Regarding the squirrels: I believe that is a problem we will see fixed soon. Creating a clone adds an object to the renderer, which initially renders with the default costume/texture (squirrel), until the correct costume is downloaded asynchronously (if cached by the browser, probably 1 frame). We've reworked that whole system, so the costume will be available before the frame is rendered.

The se

[2017-01-06 17:50] tmickel commented on #352
If I'm observing the same problem you are, my guess is that this is related to https://github.com/LLK/scratch-render/issues/62. The movement of the ship appears "jerky" to me when it switches costume: it seems to "jump" to a different location - which I think means something is likely up with the coordinates of the rotation centers with one of the costumes...

[2017-01-06 18:23] tmickel commented on #301
Created this back in November when taking a look for the first time:

https://scratch.mit.edu/projects/132069625/
https://llk.github.io/scratch-vm/#132069625

Just in case that might be helpful in the future :)

[2017-01-06 20:22] TheBrokenRail commented on #367
This needs the has-patch tag as I made a PR that fixes this.

[2017-01-07 01:19] TheBrokenRail opened #374 "What are the purpose of these branches?"
The names of these branches don't exactly explain there purpose.
- feature/audio (Wasn't audio blocks just implemented?
- feature/ios
- bugfix/wedo (bug fix for what?)

[2017-01-07 01:54] thisandagain commented on #374
- `feature/audio` is / was the staging ground for the new audio features. No longer required as of today.
- `feature/ios` is a staging ground for prototypes of Scratch for iOS
- `bugfix/wedo` is a staging ground for implementing the LEGO WeDo 2.0 extension

[2017-01-07 01:54] #374 closed, assigned to nobody

[2017-01-07 02:02] TheBrokenRail commented on #374
Is there eventually going to be a ```feature/android``` branch?

[2017-01-07 02:03] TheBrokenRail commented on #370
My personal opinion on this is to fully implement a proper dynamic variable system.

[2017-01-11 17:14] cwillisf commented on #372
Yep -- it all basically comes down to making sure the renderer has an image before it tries to use that image for rendering, answering size questions, etc. Both the squirrel and the "set size" issue should be fixed once LLK/scratch-render#67 is merged.

[2017-01-12 10:24] griffpatch opened #376 "Import of "1.0" is converted to "1""
### Expected behavior

When importing an existing project, a numeric value of "1.0" should be imported as "1.0".

### Actual behavior

Currently numeric values do not keep their decimal places on import. This prevents the random number generator from calculating floating point numbers when the range is set to -1.0 to 1.0 as the 0's are stripped off.

### Steps to reproduce

Import this project '13

[2017-01-12 10:32] griffpatch opened #377 "Touching sprite works with self"
### Expected behavior

Expected touch 'self' to always trigger... like in Scratch 2

### Actual behavior

I was pleasantly surprised that with multiple clones, the touching 'self' only triggers if the clone is touching another copy of itself. This is by far the better solution, but I just wanted to flag it up as a difference. If you keep this functionality (and I really hope you do) then please ad

[2017-01-12 11:39] CosmicWebServices commented on #376
I think this was a problem for me in scratch 2 actually.

[2017-01-12 11:41] CosmicWebServices commented on #377
I would like this implemented but maybe for cross-compatibility self can be like it was and then there can be self-clone or something like that

-@Icycoder on scratch

[2017-01-12 11:52] griffpatch commented on #377
When I say self, I mean the name of the current sprite (that can only at
present be selected by adding a block into a separate sprite, choosing the
name of the sprite from the drop down in the touching block and then
dragging back to the original sprite.

Since at present this is a completely unusable use-case in scratch 2, and
would be unusable in scratch 3 (if touching non-cloned self triggered

[2017-01-12 18:57] #372 closed, assigned to cwillisf

[2017-01-12 22:16] TheBrokenRail commented on #128
I found a javascript GitHub project that might help https://github.com/trumank/sb.js

[2017-01-13 00:18] TheBrokenRail commented on #128
And from what I see with this library the names are pretty much the same as 2.0 so I think if the licence is compatible if it is detected as a 1.4 file you could use this library and give parseScratchObject the stage object of the return value

[2017-01-14 15:20] griffpatch commented on #301
Oh please please expose a free motion option! :)

[2017-01-14 15:38] griffpatch commented on #249
You could even consider this an effects block named squeeze that multiplies the width. 100% being normal relative to current size, 50% being half width and 100% height still. The only reason for doing it like this is to try to reduce the number of new scratch blocks ;). You still want it to apply 'before' the rotation.

[2017-01-14 15:39] griffpatch commented on #249
Maybe that's a silly idea... You wouldn't want the width to be reset when doing a reset all effects?

[2017-01-14 16:37] TheBrokenRail commented on #249
It actually is not that bad, it would make things simpler to understand for new scratchers and you would think logically if a reset all effects block was used the sprite would return to normal and instead of stretch x/y reporters you could add graphics effects reporters which could be useful for other effects as well.

________________________________
From: griffpatch <notifications@github.com>
Se

[2017-01-14 17:24] TheBrokenRail commented on #249
## Concept 2
![capture](https://cloud.githubusercontent.com/assets/17478432/21956720/6f17d8d4-da54-11e6-9a8d-26baf458773c.PNG)

[2017-01-17 09:09] griffpatch opened #380 "Touching edge sensing block freezes project"
### Expected behavior

Touching edge sensing block freezes project

### Actual behavior

Running default shark project freezes up instantly - Have tracked it down to the 'touching edge' block. Removing the touching edge boolean block from the project flow fixes the freeze. Adding it in at any point on any sprite appears to freeze it again (when it evaluate it).

### Steps to reproduce

Load the de

[2017-01-17 14:59] thisandagain commented on #380
These are all incredibly helpful. Thank you for reporting and please keep it up! We still have a ton of work to do so it might take us a little time to get to these, but having all of these bugs reported with a repro is more helpful that you know. :-)

[2017-01-17 15:24] griffpatch commented on #380
Excellent ;) - Really enjoying watching your progress! Hope you guys are
having fun building the future of Scratch *grin*

On 17 January 2017 at 14:59, Andrew Sliwinski <notifications@github.com>
wrote:

[2017-01-19 02:34] SillyInventor opened #383 "Pen Blocks Request"
### Pen blocks aren't yet implemented

I assume this is already on the todo list. However, per the new contribution guidelines, I wanted to bring up the need for pen block implementation before I went any farther in playing around. My intention is to mock up a concept, so that people over here can play. If the mock up is to your liking, I can make a pull request.

The implementation I was thinking

[2017-01-19 02:46] thisandagain commented on #383
Thanks for the question! Luck would have it that @cwillisf is actually wrapping up the implementation of pen right now which we are tracking here:
https://github.com/LLK/scratch-render/issues/6

[2017-01-19 02:46] #383 closed, assigned to thisandagain

[2017-01-19 02:52] thisandagain commented on #359
This is expected behavior for this project.

[2017-01-19 02:52] #359 closed, assigned to nobody

[2017-01-20 23:59] TheBrokenRail opened #385 "Pen size restricted to 255?"
### Expected Behavior

_It can get bigger than 255 because there is no longer a flash player limitation_

### Actual Behavior

_It get locked at 255._

### Steps to Reproduce

_Place a 255 size dot, then place a 1000 sized dot, no difference._

### Operating System and Browser

_Windows 10 Google Chrome_

[2017-01-21 00:03] mrjacobbloom commented on #385
#97

[2017-01-22 02:20] #385 closed, assigned to nobody

[2017-01-22 02:22] TheBrokenRail opened #386 "3D projects run slower"
### Expected Behavior

_It runs smooth as it did in 2.0 (25-30 FPS)_

### Actual Behavior

_It runs at 2-3 FPS._

### Steps to Reproduce

_Go to https://llk.github.io/scratch-vm/#118602500 and note the FPS (I did not make this project)_

### Operating System and Browser

_Windows 10 Google Chrome_

[2017-01-22 02:46] TheBrokenRail commented on #334
Has PR to fix this in scratch-blocks repository.

[2017-01-22 03:39] tmickel commented on #386
pretty cool that it sort of runs though! :) The nice thing about JavaScript is there are some really neat tools to figure out where things are slow.

In Chrome Developer Tools->Timeline, for 5s:
<img width="590" alt="screen shot 2017-01-21 at 10 35 50 pm" src="https://cloud.githubusercontent.com/assets/120403/22179717/f8716f0c-e029-11e6-80ad-95bcace9feaf.png">

Seems like there are lots of optimiz

[2017-01-22 08:00] ed-cooper commented on #386
lol - so I wasn't the only person who thought that project would be a fun test? 😆

Note that the only reason the project actually works is that I handle clearing the screen myself - otherwise clearing the screen doesn't seem to work?

Is that issue being tracked anywhere as I couldn't see it myself

[2017-01-22 09:52] griffpatch commented on #386
For a performance test just try creating a single loop that increments a
variable and see how the execution time compares in scratch 2 & 3... I
think scratch 2 is currently around 10 times faster? Yet I agree, scratch 3
is really taking shape! It's very satisfying to see complex projects
running :)

On 22 Jan 2017 2:22 a.m., "TheBrokenRail" <notifications@github.com> wrote:

[2017-01-22 14:35] TheBrokenRail opened #387 "If a variable is created in the lookupOrCreateVariable function it is not created on the scratch-blocks side."
### Expected Behavior

_It is created on scratch-blocks as well as on VM._

### Actual Behavior

_It is only created on the scratch-vm side of things._

### Steps to Reproduce

_Create a set variable block that has a text shadow and set the text to a nonexistent variable and run it, the variable will be created on the scratch-vm side but will not appear in any menus._

### Operating System and Bro

[2017-01-22 15:18] TheBrokenRail commented on #386
I tested a less intense 3D project this time a recreation of portal, also has extremely bad FPS unlike 2.0:

https://llk.github.io/scratch-vm/#16158656

[2017-01-22 15:22] TheBrokenRail commented on #386
Portal also doesn't seem to render right in 3.0.

[2017-01-22 15:28] TheBrokenRail opened #388 "Would it be a good idea to add pen shade/color reporters?"
It would make something like touching color [pen color] easier to do and less intensive on scratch, this could be used for taking screenshots of gameplay to display in the corner.

[2017-01-22 15:38] TheBrokenRail commented on #386
This runs better but still slow, also the world designer pixels look odd.

https://llk.github.io/scratch-vm/#67575180

[2017-01-22 15:48] TheBrokenRail opened #389 "Turbo mode is way slower in 3.0 than 2.0."
### Expected Behavior

_3.0 turbo mode is as fast or faster than 2.0._

### Actual Behavior

_It is way slower._

### Steps to Reproduce

_Go to https://scratch.mit.edu/projects/67575180/ and https://llk.github.io/scratch-vm/#67575180 and play them in turbo mode and see which one takes longer to generate the drawing board._

### Operating System and Browser

_Windows 10 Google Chrome_

[2017-01-22 17:05] SillyInventor opened #390 "Clear Block Doesn't Work"
### Expected Behavior

The clear screen block should remove all stamps and pen trails. Discussed in #384 and #386

### Actual Behavior

Doesn't remove them.

### Steps to Reproduce

Stamp, move, clear.

### Operating System and Browser

Windows 7, chrome 55.0.2883.87 m

### Suggested solution
Add the following or similar to block code:
this.runtime.renderer._allSkins[penSkinId]._canvasDirty=true;

[2017-01-22 18:46] thisandagain commented on #390
@SillyInventor Thanks for reporting! Did you want to take this one?

[2017-01-22 18:51] thisandagain opened #391 "Meta - Performance Optimization"
Scratch 3.0 should execute projects as fast or faster than Scratch 2.0. In some places performance is already superior, but we can use this issue to track places where we are seeing bottlenecks. Once a specific performance improvement has been identified an individual issue should be filed and referenced here (meta issue).

## Issues
- [ ] Procedures (`getProcedureParamNames`, `getProcedureDefinit

[2017-01-22 18:52] thisandagain commented on #386
Closing in favor of performance meta bug available here:
https://github.com/LLK/scratch-vm/issues/391

Future performance examples should be added there as comments or new issues created with very specific optimizations / bottleneck descriptions.

[2017-01-22 18:52] #386 closed, assigned to nobody

[2017-01-22 18:53] thisandagain commented on #389
Tracking in #391

[2017-01-22 18:53] #389 closed, assigned to nobody

[2017-01-22 18:54] thisandagain commented on #387
We are aware that significant work is still needed for variables and lists.

[2017-01-22 18:54] #387 closed, assigned to nobody

[2017-01-22 19:10] towerofnix opened #392 ""Set tempo", "change tempo", and "tempo" blocks don't work"
### Expected Behavior

The [global tempo](https://github.com/LLK/scratch-flash/blob/9fbac92ef3d09ceca0c0782f8a08deaa79e4df69/src/primitives/SoundPrims.as#L59-L67) is set or returned.

### Actual Behavior

In the case of the set/change blocks, an error is thrown in the console; the getter block does not return anything.

[code]

The source code of scratch-vm and scratch-audio explain the issue:

[c

[2017-01-22 19:25] luxaritas commented on #391
I know many resource-intensive projects use [Phosphorus](phosphorus.github.io) to compile to native JS. Is it possible to get near (or better than?) the performance of that?

[2017-01-22 20:10] TheBrokenRail commented on #387
Should I make a PR to fix this?

________________________________
From: Andrew Sliwinski <notifications@github.com>
Sent: Sunday, January 22, 2017 10:54 AM
To: LLK/scratch-vm
Cc: TheBrokenRail; Author
Subject: Re: [LLK/scratch-vm] If a variable is created in the lookupOrCreateVariable function it is not created on the scratch-blocks side. (#387)

Closed #387<https://github.com/LLK/scratch-vm/issue

[2017-01-22 20:11] TheBrokenRail commented on #391
Here is another example project, runs better but still pretty slow.
https://llk.github.io/scratch-vm/#67575180

[2017-01-22 20:11] thisandagain commented on #391
@LFP6 It's hard to say for sure, but we should be able to get close.

[2017-01-22 20:13] thisandagain commented on #392
Thanks for reporting! We still have lots of work to do with the audio engine, but these bugs are great to have tracked!

[2017-01-22 20:26] thisandagain commented on #387
No thanks. We have a bunch of work from upstream blockly that we are trying
to land now that will impact this.
On Sun, Jan 22, 2017 at 3:18 PM TheBrokenRail <notifications@github.com>
wrote:

[2017-01-23 15:31] cwillisf opened #393 "Support ARGB for pen"
### Expected Behavior

The `set pen color to {color}` block should support ARGB in the same way that Scratch 2.0 does.

### Actual Behavior

The `set pen color to {color}` block supports only RGB color.

### Steps to Reproduce

![image](https://cloud.githubusercontent.com/assets/7019101/22209848/c905ea04-e155-11e6-8407-364d21376e80.png)

Note that 2147483903 = 0x800000FF = ARGB(128, 0, 0, 255).

I

[2017-01-23 16:58] ed-cooper commented on #393
I wouldn't add ARGB support to set pen color to {number}

In that block, 'color' is being used as a simplification of 'hue', so it doesn't make sense to have it accept RGB values.

Also, how would just define the limit between what is considered a hue and what is considered an ARGB value?

imo this feature is only used by advanced Scratchers so it is best to stick to compatibility over usability

[2017-01-23 18:14] towerofnix commented on #393
This is :+1: but if you can figure out a good way to keep things usable *and* compatible that's always nice too!

[2017-01-23 19:01] SillyInventor commented on #393
It is conceivable that you could check for a 0x string such that 0x800000FF is read as ARGB, while numerical values are read as hue. That would maintain compatibility while giving certain experienced scratchers the ability to use ARGB.

[2017-01-23 19:19] SillyInventor opened #396 "Make a Block Button"
### Expected Behavior

Under More Blocks, there should be a make a new block button. Said button should open a view to create a C-block or reporter with optional inputs. It should then either generate a 'define' block as in Scratch or open a window for editing blocks as in Snap!. There should there after be a block of that name / type that calls that in More Blocks.

### Actual Behavior

There is

[2017-01-23 19:37] TheBrokenRail commented on #390
has patch (#394)

[2017-01-23 19:44] SillyInventor opened #397 "Costume Color Change -- Feature Question"
In _CSnap!_ (a fork of _Snap!_), there was a need for a change pen hue control, but for costumes. Specifically, students wanted to make beads, cornrows, and yarn of any given color, but taking time to make new costumes for each detracted from teaching math / geometry in the limited time allotted.

We added a block that set color by number, and scaled RGB pixel values of costumes by the RGB values

[2017-01-23 20:59] mrjacobbloom commented on #393
Yeah, accepting hex values for pen colors would be far easier to work with than the current system

[2017-01-23 21:34] cwillisf commented on #393
Good point, @chooper100 -- I should probably have phrased that differently. I don't intend to break the hue-setting block that Scratch 2.0 has, but it might be interesting to support direct numeric input for semi-transparent colors somehow. @SillyInventor's suggestion might work, for example, but I don't think we use the `0x` prefix anywhere else in Scratch right now so we might choose a slightly

[2017-01-23 21:47] towerofnix commented on #393
The `0x` prefix syntax has kind of always existed since it's part of Flash's numer casting (and JS, too, I think).

`set pen color to (join [0x] [77AA6666])` will get you a somewhat transparent red color (if you use the color-input block). (IIRC)

[2017-01-23 22:09] jeandrek commented on #393
@SillyInventor Then if you want to manipulate ARGB colors using Scratch's numbers you'll have to convert the number into a string representing the number in hexadecimal, which will be slow and annoying. And it will break compatibility, because you won't be able to use strings representing numbers in hexadecimal for hues anymore.

[2017-01-23 22:10] jeandrek commented on #393
Or&hellip; Scratch could have a first-class "color" data type like Panther?? (And also accept ARGB numbers for compatibility which Scratch 2.0)

[2017-01-23 22:53] SillyInventor commented on #397
Nvm, *looks sheepish* I didn't realize there was a color effect.

[2017-01-23 22:53] #397 closed, assigned to nobody

[2017-01-23 22:56] thisandagain commented on #396
Yeah, we are working on this with the team at Google right now. You can see specs / discussion here:
https://github.com/LLK/scratch-blocks/issues/607

[2017-01-23 22:56] #396 closed, assigned to nobody

[2017-01-23 22:57] thisandagain commented on #393
My recommendation would be to implement this identically to Scratch 2.0 for now in order to maintain compatibility / avoid scope creep.

[2017-01-24 01:54] thisandagain commented on #391
Looks like one of the major issues is actually the "Run without Screen Refresh" option for procedures which is not fully implemented yet. I built a very simple example project that should be able to easily run at 30/60 fps but currently runs at 2-6 fps on my laptop:
https://llk.github.io/scratch-vm/#141490356

Whenever possible we should try to build the simplest possible to demo to show a perform

[2017-01-24 09:01] griffpatch commented on #391
I don't think it's specifically down to the custom blocks.

Here's a simple project that loops for a second, incrementing a variable,
then it outputs the number of times it looped:

http://llk.github.io/scratch-vm/#24115792
https://scratch.mit.edu/projects/24115792/
https://phosphorus.github.io/#24115792

In Scratch 3 it reports only 45,000 per second.
In Scratch 2 it reports 500,000 iterations pe

[2017-01-24 11:09] griffpatch commented on #391
Ok, so I realised that I should probably not jump to conclusions, so I
tried to mitigate the change var from the program to test more generic
runtime performance. This one now spends most of the time just going round
an empty loop.

https://scratch.mit.edu/projects/26886797/
http://llk.github.io/scratch-vm/#26886797
https://phosphorus.github.io/#26886797

In Scratch 3 it reports only 1,200 iterati

[2017-01-24 13:28] thisandagain commented on #391
Yup! Variable lookups do look like they could use some help, but so do
procedure lookups, and (as you note) just thread stepping in general.

[2017-01-24 14:34] griffpatch commented on #391
Interesting that when profiling the JavaScript execution, there are a lot
of "Not optimized" messages, like so:

[image: Inline images 1]

*Warning:*    Not optimized: Function is being debugged
*Function:*   Thread.pushStack @ thread.js:97

I don't know what the "*Function is being debugged*" javascript
optimisation bailout means. From what I read up it implies there is
debugger code in the javas

[2017-01-24 15:11] thisandagain commented on #391
From discussion with @cwillisf:
We've gone back and forth on using `requestAnimationFrame` for thread stepping (see discussion here: https://github.com/LLK/scratch-vm/issues/208). After looking at the timeline & profiler it looks like we might want to investigate further now that we have more of the VM built out.

[2017-01-25 14:51] #390 closed, assigned to nobody

[2017-01-25 15:44] griffpatch commented on #391
I've been playing around trying to find out why things run much slower in
Scratch 3.

In doing so I've been finding plenty of small JavaScript optimisations that
can speed things up a degree.

I've managed to boost general script execution time to be around 200% to
350% in my local build at present, but I've not yet stumbled across
anything to boost it to the level of Scratch 2 (1,000% or more).

[2017-01-25 16:27] thisandagain commented on #391
@griffpatch That sounds fine as a first step. Thanks.

Performance isn't a top priority right now (we still have much to implement) but it's important to check-in every once and a while to make sure we aren't making architectural decisions that would prevent 3.0 from having better performance than the existing system. Thus far, I don't see any blockers and thus we probably won't prioritize a ton o

[2017-01-25 16:50] griffpatch commented on #391
I didn't think you would be worrying to much about optimising things yet.
Some of the fixes are simple array index out of bounds checks that are
currently happening a lot and slow things down in critical code.

Other changes are to remove un-required stack manipulations.

I've removed some constant browser compatibility tests in favour of a one
off check.

I've removed a few dynamically created ob

[2017-01-25 16:51] griffpatch commented on #391
Oh, and I added an initial test of some procedure name parameter caching.

On 25 Jan 2017 4:50 p.m., "Andrew Griffin" <andy@griffpatch.co.uk> wrote:

[2017-01-25 17:00] thisandagain commented on #391
@griffpatch If you could push that branch to your fork (https://github.com/griffpatch/scratch-vm) it would be most appreciated.

[2017-01-25 22:37] griffpatch commented on #391
Ok phew... done that. All my changes are committed to the branch:
https://github.com/griffpatch/scratch-vm/

Thanks,

Griffpatch

On 25 January 2017 at 17:00, Andrew Sliwinski <notifications@github.com>
wrote:

[2017-01-26 08:53] griffpatch commented on #391
I've built a scratch 3 gh-pages for you to compare the difference in
performance on my local fork.

This one is a quick one:

http://llk.github.io/scratch-vm/#141514080
https://griffpatch.github.io/scratch-vm/#141514080

This one is more impressive to watch ;) - But still nowhere near fast
enough to pull it off like in Scratch 2.

http://llk.github.io/scratch-vm/#61991330
https://griffpatch.github

[2017-01-26 12:15] griffpatch opened #398 "Runtime does not exit warp mode if at end of loop"
### Expected Behavior

When a custom block (with run without screen refresh) is called as the last block within a loop (that is not running in warp mode) then you would expect the runtime to yield at the end of the loop and the screen to update.

### Actual Behavior

The runtime continues in warp mode around the outer loop and the screen is not updated in line with the project.

### Steps to Repro

[2017-01-26 13:55] thisandagain opened #399 "Firefox 48 - If on edge bounce broken"
This block is intended to make the sprite turn in the opposite direction when it hits an edge.

What actually happens is that the sprite just keeps moving into the edge of the screen.

To view the error, just make a script saying: 'When green flag clicked, forever, move 10 steps. If on edge bounce.'

This error was viewed in Firefox on Mac OS X 10.6

---
Moved from LLK/scratch-gui#47
/cc @chicken3

[2017-01-26 13:58] thisandagain commented on #399
Cannot replicate in Chrome or latest Firefox. This seems to be specific to an old version of Firefox (see OS version). Moving to backlog.

[2017-01-26 14:00] thisandagain commented on #399
@chicken3600 What version of Firefox are you using?

[2017-01-26 14:03] thisandagain commented on #391
@griffpatch Thanks for all the investigation! This looks good. I'll start to pull in some of your changes soon.

[2017-01-26 18:58] ghost commented on #399
Version 48.0.2

[2017-01-26 21:03] ghost commented on #399
Note: This bug was in scratch-gui and not scratch-vm

[2017-01-26 21:04] towerofnix commented on #399
Wait, does that mean that it works fine in scratch-vm but doesn't work in scratch-gui (for you)?

[2017-01-26 22:12] ghost commented on #399
Yes. Whatever is going I really have no idea(JavaScript is not one of my strengths).

[2017-01-27 10:47] griffpatch commented on #376
This is not actually a Scratch 3 issue as it is also present in Scratch 2 it appears. See this log:

https://github.com/LLK/scratch-flash/issues/1270

[2017-01-27 14:06] griffpatch commented on #391
Hey there,

You will probably have noted that I went a bit mad today with trying to
work out how to use github! I realised too late that my original fork
should then have been branched to allow me to create individual pull
requests for each issue fixed.
I've sorted out separating some issues into their own branches and
submitted pull requests for them (just ones that were marked for wanting
help).

[2017-01-27 16:03] thisandagain commented on #391
@griffpatch This is great! Individuals branches with separate PRs is always preferred. If it's not too much to ask, splitting up your optimization changes into separate PRs would be most helpful. 😄

[2017-01-27 16:13] SillyInventor opened #404 "Volume Doesn't Work For Notes / Instruments"
### Expected Behavior

Volume control should reduce the volume of play note / instrument

### Actual Behavior

Volume only impacts sounds

### Steps to Reproduce

Set volume to 0, play _note __ for __ beats_, you can hear the note per normal.

### Operating System and Browser

Windows 7, 55.0.2883.87 m

### Suggested Solution
You must set the instrument gain node value to change the volume of pree

[2017-01-27 21:14] TheBrokenRail commented on #337
Since this is fixed, shouldn't it be closed?

[2017-01-27 22:08] thisandagain commented on #393
Resolved in https://github.com/LLK/scratch-vm/pull/403

[2017-01-27 22:08] thisandagain commented on #337
Resolved in #401

[2017-01-27 22:08] #337 closed, assigned to thisandagain

[2017-01-28 02:00] CosmicWebServices opened #405 "Pixely images rendered"
### Expected Behavior

Image should not be pixely.

### Actual Behavior

![screenshot 2017-01-27 at 8 57 49 pm](https://cloud.githubusercontent.com/assets/10731781/22393391/82ab595a-e4d3-11e6-9d71-571bb6a748be.png)

### Steps to Reproduce

1. In this case, I opened Scratch GUI but I think it is a rendering issue...
2. Observe the already place scratch cat

### Operating System and Browser

Chromeb

[2017-01-28 14:37] griffpatch opened #407 "Avoid negative index lookups"
### Run-time Optimisation

The thread.stackFrames array is accessed all the time to retrieve the 'parent' stack frame. This is done using as index of [this.stack.length - 1]. However, a lot of the time this evaluated to [-1]. Although this results in null, which is fine, to get to this javascript actually defers from a numeric array lookup to an object lookup using the string "-1". This is roughly

[2017-01-28 14:58] thisandagain commented on #407
Related to #391

[2017-01-28 15:00] thisandagain commented on #405
Moved to LLK/scratch-render#77

[2017-01-28 15:00] #405 closed, assigned to nobody

[2017-01-28 15:09] griffpatch commented on #407
Am I doing this wrong raising an issue log as well as a pull request? - Do I just need the one? and it will be linked back to your 391 issue?

[2017-01-28 16:21] thisandagain commented on #407
Nope! This is perfect.

[2017-01-28 18:17] TheBrokenRail opened #412 "Add full transparency support for pen"
For block example see the Blockly RGB block.

Currently, to make a color using RGBA requires you to use some weird numbers, that new Scratchers probably will not understand, adding a block that allows you to easily make a RGBA color will make making RGBA colors easier and less confusing for new Scratchers.

### Blockly Example
![colour-with](https://cloud.githubusercontent.com/assets/17478432/2239

[2017-01-30 11:02] ghost commented on #399
Actually, I was wrong. It's also broken in scratch-vm for me.

[2017-01-30 16:54] SillyInventor commented on #376
The problem is with the saved script, as the save doesn't include the .0:

![screenshot from 2017-01-30 11-43-58](https://cloud.githubusercontent.com/assets/8440451/22432164/fcc4dd64-e6e1-11e6-8116-f1234d0bf648.png)

The Scratch 3.0 export seems to have this functionality. Try to export to xml with .0, then import, the script will have the needed number of decimals.

![image](https://cloud.githubu

[2017-01-30 16:59] thisandagain commented on #376
Thanks @griffpatch and @SillyInventor. I'm going to close this and track in 2.0:
https://github.com/LLK/scratch-flash/issues/1270

[2017-01-30 16:59] #376 closed, assigned to nobody

[2017-01-30 19:10] thisandagain opened #413 "SB2 Import - Couldn't find SB2 block: Remark: %s"
### Steps to Reproduce

- Load project `https://llk.github.io/scratch-vm/#142330668`
- JS Console
[code]

### Operating System and Browser

MacOS 10.12.2
Chrome 55.0.2883.95 (64-bit)

[2017-01-30 19:39] thisandagain commented on #412
@cwillisf @ntlrsk @carljbowman Any thoughts on this? I like the idea, but I'm wondering where we would put it in the block menu (e.g. "pen", "operators", etc.) and how we would communicate the "alpha" / "transparency" argument.

`(color with red () green () blue () alpha ())` feels too technical
`(color with red () green () blue () transparency ())` is too long

[2017-01-30 19:42] thisandagain commented on #412
I also wonder if RGB is the right color model. In past discussions I've argued for HSV/HSB:
https://en.wikipedia.org/wiki/Comparison_of_color_models_in_computer_graphics

In either case, I wonder if the nascent "color picker" field drop-down may be the better solution to this rather than providing multiple numeric inputs (albeit less powerful).

[2017-01-30 19:53] carljbowman commented on #412
@thisandagain - https://github.com/LLK/scratch-vm/issues/412#issuecomment-276168285 That was my first thought. I would advocate if we explore type of block, we should try out HSV/HSB as an alternative colors space to RGB.

We currently handle transparency within setting/changing a 'shade' value, which is kind of nice because transparency is not directly tied to a color value. Then again just anoth

[2017-01-30 20:00] thisandagain commented on #412
It makes sense being separated, but overloading "shade" to handle transparency feels a little odd to me. Might be something to talk through at our next design meeting.

[2017-01-30 20:11] carljbowman commented on #412
Agreed. I misunderstood, I thought 'shade' only affected transparency. Super awkward that it controls both 'shade' and 'transparency'. Should explore separating those properties.

[2017-01-30 20:11] thisandagain commented on #407
Resolved in #408

[2017-01-30 20:11] #407 closed, assigned to griffpatch

[2017-01-30 20:11] thisandagain commented on #398
Resolved in #406

[2017-01-30 20:11] #398 closed, assigned to thisandagain

[2017-01-30 20:36] #413 closed, assigned to thisandagain

[2017-01-30 21:19] cwillisf commented on #412
My first instinct is to settle on an internal string representation for color -- we could use the current semi-supported input format for the `set color` block if we want -- and then make a block which will generate that output from a color picker. The color picker could support RGB, HSL, HSV, or whatever combination of those things we feel comfortable with.

IMO the trickiest part of this would b

[2017-01-30 21:25] thisandagain commented on #412
Good example project showing how many in the community accomplish RGBA for pen today:
https://scratch.mit.edu/projects/73673560

[2017-01-30 21:36] cwillisf commented on #412
One argument against what I suggested above: currently the pen `set color` block is the only block where it makes sense to choose a semi-transparent color. Adding a new "type" (even if it is just a specific format of string) might be overcomplicating the situation when we could just add a slightly more sophisticated color picker to that particular block. Doing so would make it difficult to store a

[2017-01-30 21:50] thisandagain commented on #412
Agreed. Straw-person proposal:
- Add two blocks to "Pen" category below "shade" blocks
    - `change pen ghost by [10]`
    - `set pen ghost to [50]`

I'm still not 100% on "ghost" as the term here, but that's another conversation. 😅

[2017-01-30 22:04] TheBrokenRail commented on #412
Maybe for the [color] + 1 issue you chould use blockly "output" checks so it only fits in a set color block, and I like the ```set pen transparency/ghost``` idea.

[2017-01-30 23:30] ghost commented on #412
If you're going to stick with the `(color red: () green: () blue: () transparency: ())`, you could replace the words "red", "green", "blue", and "transparency" with icons: a colored circle for each color (![rgb](https://cloud.githubusercontent.com/assets/6393827/22445005/0d81cae4-e70b-11e6-8810-474479b41ca2.png)) and a circle with checkered background (![a](https://cloud.githubusercontent.com/asse

[2017-01-31 20:19] SillyInventor opened #416 "Update Dropdowns When New Sprite Created"
### Expected Behavior

Point toward __, go to __, touching __, and distance to __ should include references to newly created sprites.

### Actual Behavior

They don't.

### Steps to Reproduce

Create sprite, use block.

### Operating System and Browser

Ubuntu 16.04, chrome 56.0.2924.76

I am sure you're already working on this, just adding an issue so I can share our first play test findings / co

[2017-01-31 20:23] SillyInventor opened #417 "Variable / List Monitors"
### Expected Behavior

Checking the box next to variable should cause the value to appear on screen.

### Actual Behavior

It doesn't.

### Steps to Reproduce

Click box.

### Operating System and Browser

Ubuntu 16.04, chrome 56.0.2924.76

I am sure you're already working on this, just adding an issue so I can share our first play test findings / complaints.

[2017-01-31 20:25] thisandagain commented on #417
@rschamp This is probably going to involve work in the blocks, VM, and GUI. Do you want to track it here for now?

[2017-01-31 20:32] SillyInventor opened #418 "Switch To Costume / Backdrop Doesn't Show Correct Names"
### Expected Behavior

Switch to costume __, and switch to backdrop __ should show names for available costumes and backdrops

### Actual Behavior

Names are static and incorrect

### Operating System and Browser

Ubuntu 16.04, chrome 56.0.2924.76

I am sure you're already working on this, just adding an issue so I can share our first play test findings / complaints.

[2017-01-31 21:01] SillyInventor opened #419 "Project Name"
### Expected Behavior

Projects should have names.

[2017-01-31 21:28] rschamp commented on #417
Tracking here makes sense for now I think.

[2017-01-31 22:07] thisandagain opened #420 "Tan Function Rounding Error"
### Expected Behavior

Tan of 90 returns infinite, NaN, or similar. Tan of 180 should give 0.

### Actual Behavior

Because we're converting from degrees to radians, there is a rounding error. Such that you get to nearly 0, and large numbers, but not the exact number / result desired.

### Steps to Reproduce

Input values into mather operation, set to tan, click.

### Operating System and Browser

[2017-01-31 22:08] thisandagain commented on #420
A PR with associated unit test coverage (see "operators" test suite) would be most appreciated.

[2017-01-31 22:09] thisandagain commented on #419
This is related to the overall architecture of how projects will be saved. Will track independently as we get closer to release (we are still a year out) as part of a much larger discussion.

[2017-01-31 22:09] #419 closed, assigned to nobody

[2017-01-31 23:44] SillyInventor commented on #420
Sure.

[2017-02-01 14:12] #420 closed, assigned to nobody

[2017-02-01 19:29] towerofnix opened #425 "Stamping hidden sprite doesn't do anything"
### Expected Behavior

The sprite's costume should be stamped (with graphic effects).

In [the demo project](http://llk.github.io/scratch-vm/#143013722), this should be visible:

![Stage](https://cloud.githubusercontent.com/assets/9948030/22522254/51f3b124-e891-11e6-8197-eca79d32f51f.png)

### Actual Behavior

Nothing is stamped. In the demo project, this is visible:

![Stage (3.0)](https://cloud.

[2017-02-01 20:38] SillyInventor commented on #377
This stems from the line
`if (testID === drawableID) return false;`
in _filterCandidatesTouching in renderer

Changing isTouchingSprite to parse self at the beginning as follows:
[code]
will result in the compatibility / functionality suggested.

Though I prefer it as is.

[2017-02-01 20:43] TheBrokenRail commented on #416
I have a implementation of this that uses Blockly.Blocks.Sprites to hold sprite data, this issue is expanded on in LLK/scratch-blocks#749 my closed pull requests for this are #382 and LLK/scratch-blocks#770

[2017-02-01 22:06] thisandagain commented on #425
@liam4 Nice catch!

[2017-02-01 22:48] griffpatch commented on #377
Me too... Please keep as is!

On 1 Feb 2017 8:38 p.m., "Silly Inventor" <notifications@github.com> wrote:

[2017-02-02 21:09] cwillisf opened #427 "Use scratch-storage"
### Expected Behavior

The VM should use the [scratch-storage](/LLK/scratch-storage) module for loading files. Ideally we should do this in such a way that the storage module could be replaced with a different implementation if necessary.

### Actual Behavior

The VM (actually `playground.js` [here](https://github.com/LLK/scratch-vm/blob/fec9e5b91a1a72f78bc9b860ec6784f2641a4600/playground/playgrou

[2017-02-02 22:24] griffpatch commented on #391
I'm a bit worried that the current Scratch 3 architecture is not going to
be able to be optimised to allow it to run scripts at the same pace as
Scratch 2.

I've been looking through the code, refactoring where possible, conducting
timing tests and googling for people opinions on the fastest approaches
using closures, objects and native functions, but after extensive work I
have not been able to g

[2017-02-02 23:35] cwillisf commented on #391
Thanks for all your work and your thoughts, @griffpatch! I agree with your concern about the current performance of Scratch 3.0 but I believe we'll be able to improve it quite a bit in the future.

In short, the team is aware that Scratch 3.0 isn't as fast as we'd like but we're focusing most of our time and effort on features right now. We may occasionally do some performance work when we notice

[2017-02-02 23:47] griffpatch commented on #391
Well thank you greatly for taking the time to reply at such length :).

That does confirm what I guess I knew, that you were focusing on getting
things working fully first ;). Also of course by not optimising things now
you leave the choice fully open to be more easily rearranged and optimised
later on... With that in mind would it be best for any optimisations I make
to be small in scale for the

[2017-02-02 23:51] towerofnix commented on #427
Ohhh, more repositories! Modularized code is the best.

Any plan on publishing this repo?

[2017-02-03 17:46] cwillisf commented on #427
@liam4 yep! It needs a little bit of work to make it "official" and then scratch-storage will become public like the rest.

[2017-02-03 17:52] SillyInventor opened #430 "Sound Effects Pitch and Pan Don't Effect Instruments"
### Expected Behavior

Pitch and pan effects should change the frequency and speaker side intensity of instruments respectively.

### Actual Behavior

No noticeable change.

### Steps to Reproduce

Play noise or note, change pitch, replay noise or note.

### Operating System and Browser

Ubuntu 16.0.4, Chrome 56.0.2924.87

[2017-02-03 18:20] ericrosenbaum commented on #430
moved to https://github.com/LLK/scratch-audio/issues/18

[2017-02-03 18:20] #430 closed, assigned to nobody

[2017-02-04 20:02] mrjacobbloom commented on #301
"wrap" motion style would be super handy! If you decided to expose that to the user, would motion styles apply to one sprite or the whole project?

[2017-02-05 22:35] griffpatch opened #433 "Broadcasts are case sensitive"
### Expected Behavior

A broadcast in scratch 2 is case insensitive. Some projects (not sure how) broadcast and receive in different case. You would expect these to still trigger.

### Actual Behavior

They do not trigger.

### Steps to Reproduce

You need a project with a broadcast and receiver with the same name, but different case.

See: http://llk.github.io/scratch-vm/#144148381

### Operating

[2017-02-05 22:42] griffpatch opened #434 "Stop this script should not kill thread"
### Expected Behavior

The stop this script block should exit out of a custom block and resume executing the script that called it.

### Actual Behavior

This block is scripted to terminate the entire thread. I do have a fix for this in my local build (but it's based on my already modified code base)

### Steps to Reproduce

### Operating System and Browser

Any

[2017-02-06 09:24] griffpatch opened #435 "Empty or white space strings equal 0"
### Expected Behavior

("   " = 0) should resolve to false.

### Actual Behavior

It resolves to true.

### Steps to Reproduce

Add an equality comparison block to an empty project, enter a 0 on one side and leave the other black. Click it to get the answer 'true'. Try entering an few white spaces on the empty side and repeat... true again. This is because Javascript counts white space as a number

[2017-02-06 19:02] griffpatch opened #436 "`npm run deploy` does not work on Windows"
### Expected Behavior

Deploys the current build to the gh-pages branch in github

### Actual Behavior

From github console:
[code]

from node.js console:

[code]

### Operating System and Browser

Windows 10 pro, PC

[2017-02-06 19:30] rschamp commented on #436
@griffpatch As a temporary work around, you could use the infrastructure we have for auto-deploying from Travis.  To do so:

* Enable your fork on travis-ci.org
* Add a `RELEASE_BRANCHES` env variable (in "Settings" for the repo on Travis), set to `"develop master"` (or `"develop master optimisation/reuseStackForNextBlock"` in this case) — these are the branches Travis watches and deploys from.
*

[2017-02-07 10:03] griffpatch commented on #391
If you want to see something working pretty well, then try out this :)

https://griffpatch.github.io/scratch-vm/#105500895

To get this working I had to:

* Fix "stop this script" form terminating threads
* Fix case insensitive broadcasts
* Fix the "  " == 0 bug.
* Implement sprite fencing (to stop them going offscreen)

The optimisations I've made also make the runtime engine roughly 3 times
quic

[2017-02-07 10:50] griffpatch commented on #326
I think fix for this has already been pulled?

[2017-02-07 10:59] #326 closed, assigned to nobody

[2017-02-07 15:42] rschamp commented on #391
@griffpatch That's impressive! The game is actually fun to play!!  We'd welcome each of those bug fixes as (separate) PRs.

The logic for sprite fencing should be performed in scratch-render and used by the VM. Currently we have nothing, so if you like, please make a PR for a method containing your sprite fencing logic over on scratch-render.

It looks like we're going to have to adjust our lintin

[2017-02-07 15:52] griffpatch commented on #391
It's a little hard to break up some of these optimisations as they are in
some ways dependent on each other...? Or can I branch from each separate PR
branch in a series of hops?

I am aware that it is not ready for pulling as the testing is not there...
and i was wondering about that undefined test.

Also I did place a todo on the fencing code as I knew it was in the wrong
place... Is there any wa

[2017-02-07 16:01] rschamp commented on #391
If there is not a way to split them, interdependent PRs are OK. It's just easier to figure out the history of things later down the line if each PR has a distinct purpose.

To use your fork, you need to use `npm link`:
[code]

This makes a symlink to your local copy of scratch-render in scratch-vm, so when scratch-vm tries to install or use scratch-render it will use what you have locally rather t

[2017-02-08 19:50] SillyInventor opened #441 "Skin Measurements Error"
### Expected Behavior

Scratch VM should run without errors.

### Actual Behavior

Got the error:

![image](https://cloud.githubusercontent.com/assets/8440451/22754478/a5a2c22a-ee0d-11e6-9198-fd28c4310eab.png)

### Steps to Reproduce

Navigate to https://llk.github.io/scratch-vm/ (currently running project 119615668), and press green flag.

### Operating System and Browser

Ubuntu 16.04, chrome 56

[2017-02-09 13:19] thisandagain commented on #434
Resolved in #439

[2017-02-09 13:19] #434 closed, assigned to griffpatch

[2017-02-09 13:19] thisandagain commented on #433
Resolved in #440

[2017-02-09 13:19] #433 closed, assigned to griffpatch

[2017-02-09 16:43] ericrosenbaum commented on #392
The tempo blocks were fixed in https://github.com/LLK/scratch-audio/pull/14. thanks!

[2017-02-09 16:43] #392 closed, assigned to ericrosenbaum

[2017-02-09 17:36] SillyInventor opened #443 "toUperCase Error"
### Expected Behavior

Scratch VM should run without error

### Actual Behavior

Get error:

![image](https://cloud.githubusercontent.com/assets/8440451/22795137/93614756-eec3-11e6-8924-7e2efbd16e6c.png)

### Steps to Reproduce

Press a key not recognized by scratch (like control) while scratch is focused.

### Operating System and Browser

Ubuntu 16.04, Chrome 56.0.2924.87

[2017-02-09 18:10] ericrosenbaum commented on #443
I noticed this error as well. It is triggered by typing a key that is not in the Scratch key events menu. So for example, focus scratch by clicking on the stage or blocks area and then press tab, caps lock, shift, control, option, or command (and probably others).

[2017-02-09 18:26] SillyInventor commented on #443
You could just change it so that keyboard returns an empty string instead of null for unused values.

[2017-02-09 19:11] SillyInventor commented on #443
Do you want a PR for this?

[2017-02-09 21:18] SillyInventor commented on #441
Do you want a PR?

[2017-02-09 22:49] SillyInventor commented on #345
I'm interested in adding some thread testing, would you like a hand?

[2017-02-09 22:50] thisandagain commented on #345
@SillyInventor Yeah! That would be great.

[2017-02-10 02:47] thisandagain commented on #443
@SillyInventor Yes please! 😄

[2017-02-10 02:47] thisandagain commented on #441
@cwillisf any thoughts on this one?

[2017-02-10 02:49] thisandagain commented on #352
Related to #391

[2017-02-10 08:12] griffpatch commented on #377
Maybe we should re-label this one as I don't think it should be flagged as a bug. It may be different behaviour from scratch 2.0, but the behaviour in scratch 2 causes this feature to be unuseable in this configuration anyhow as it always resolves to touching... Therefore it will never be used like that and is safe to be released to work in this new configuration for scratch 3... the way it should

[2017-02-10 09:46] griffpatch commented on #391
I've been taking a look over all the optimisations that I've made in my
fastest build to see what was easy to bring in, but the answer is probably
not a lot more.

The optimisations I have are as follows:

   - Refactor a number of the methods in "blocks.js" to accept a block
   object rather than a blockId (many places that call these already have
   access to the block object and removing the ex

[2017-02-10 13:07] thisandagain commented on #377
I agree. I'm happy to keep it this way and just add a note to our compatibility wiki:
https://github.com/LLK/scratch-vm/wiki/Compatibility

[2017-02-10 13:07] #377 closed, assigned to nobody

[2017-02-10 13:18] thisandagain opened #448 "Add "clone" or sprite name to "touching []" boolean reporter options"
Follow-up from https://github.com/LLK/scratch-vm/issues/377

### Discussion
In Scratch 3.0 the "touching" boolean reporter can distinguish between itself and a clone. This leads to the question of if this new functionality should be exposed to Scratchers in the form of a new default drop-down option for the "touching []" boolean reporter.

### Demo
http://llk.github.io/scratch-vm/#138856666

### R

[2017-02-10 13:23] thisandagain commented on #448
Moved to LLK/scratch-blocks#789

[2017-02-10 13:23] #448 closed, assigned to carljbowman

[2017-02-10 13:48] thisandagain commented on #391
👍  Thanks for the overview @griffpatch . I think I'd be happy to review and land each of these. For caching I'm wondering if we should bring in a module to help reduce the boilerplate like [Memoizee](https://github.com/medikoo/memoizee) or [LRU Cache](https://github.com/isaacs/node-lru-cache).

[2017-02-10 13:49] #345 closed, assigned to nobody

[2017-02-10 13:50] thisandagain commented on #345
We are still not at 100% coverage for `engine/thread` but https://github.com/LLK/scratch-vm/pull/445 gets us close enough to close this for now.

[2017-02-10 14:08] griffpatch commented on #391
I don't think the caching is very difficult, the only thing is making sure
that 'any' invalidation of the scratch blocks invalidates the caching
nicely :)

On 10 February 2017 at 13:48, Andrew Sliwinski <notifications@github.com>
wrote:

[2017-02-10 14:16] thisandagain commented on #391
Not worried about the difficulty, worried about additional code that we need to maintain and test.

[2017-02-10 19:00] #443 closed, assigned to nobody

[2017-02-10 19:04] cwillisf commented on #441
I think this will stop being an issue once we get the renderer out of the business of loading costumes: after that, every `Skin` will always have a valid logical size. That said, I think initializing `_measurements` would make sense even without this bug, so I'd definitely be OK with that as a fix here :)

@SillyInventor, thanks for investigating! If you want to put together a PR for a fix I'd be

[2017-02-10 20:04] #441 closed, assigned to cwillisf

[2017-02-10 22:28] thisandagain opened #450 ""if on edge, bounce" does not work if sprite is hidden"
### Expected Behavior

Hidden sprite should "bounce" when it hits the motion fence

### Actual Behavior

Hidden sprite continues off the screen

### Steps to Reproduce

https://llk.github.io/scratch-vm/#144746540

### Operating System and Browser

Mac OS 10.12.2
Chrome 56.0.2924.87 (64-bit)

[2017-02-10 22:33] thisandagain commented on #393
Still seeing issues with some projects. Example:
http://llk.github.io/scratch-vm/#125372703

[2017-02-10 22:38] thisandagain commented on #450
This may simply be a byproduct of the fence not being implemented yet. Needs investigation.

[2017-02-11 00:18] cwillisf commented on #393
Looks like the issue with [project 125372703](http://llk.github.io/scratch-vm/#125372703) is a failure to correctly stamp the black block costume. Not yet sure if it's stamping in the wrong place, with the wrong amount of transparency, or not effectively stamping at all...

[2017-02-11 00:20] ed-cooper commented on #393
Interestingly, once you click the "show" block in sprite1, the project is fixed.
I suspect this is some deeper issue related to loading of projects into the VM (seeing as it works in Scratch 2)

(EDIT: You have to drag out a new show block from the toolbox, if that wasn't clear)

[2017-02-11 00:21] cwillisf commented on #393
Oh, nice catch, @chooper100!

[2017-02-11 18:21] SillyInventor opened #453 "Throws Error When IsTouching and Stamp Hidden Sprite"
### Expected Behavior

No error. Continues to play.

### Actual Behavior

Stops and gives error:
![image](https://cloud.githubusercontent.com/assets/8440451/22856235/aeb69e4a-f05b-11e6-9d39-31ca50fd6791.png)

### Steps to Reproduce

Navigate to https://llk.github.io/scratch-vm/ , remove show block from start as clone script, press green flag.

### Operating System and Browser

Windows 7, Chrome 56

[2017-02-13 16:12] thisandagain commented on #334
Resolved in https://github.com/LLK/scratch-blocks/pull/762

[2017-02-13 16:12] #334 closed, assigned to thisandagain

[2017-02-13 16:19] thisandagain commented on #334
Blocks issue resolved. Bug with rendering engine filed here:
https://github.com/LLK/scratch-render/issues/85

[2017-02-14 17:19] rschamp opened #455 "SVG costumes don't stamp after "if on edge, bounce" runs"
https://llk.github.io/scratch-vm/#145257756 SVG behavior (broken)
https://llk.github.io/scratch-vm/#145258263 Bitmap behavior (works)

This may be in the renderer but putting here in case it's a combination of the VM + renderer

[2017-02-14 18:19] SillyInventor commented on #453
So the easiest way to fix this is to add an item in drawable.needsConvexHullPoints() for _convexHullPoints is empty, and to use drawable.getFastBounds() in rengerGL.getBounds(). Also fixes #450. Let me know if you want such a change.

[2017-02-14 19:01] SillyInventor commented on #455
This is because _getConvexHullPointsForDrawable doesn't handle non-integer skin sizes.

[2017-02-15 15:45] SillyInventor commented on #344
Do you want a hand with some unit tests for this?

[2017-02-15 16:12] SillyInventor commented on #340
It seems like there is enough consistency to add the following keys:
- Enter
- Tab
- Esc
- Backspace
- Shift
- Control
- Alt
- Insert
- Delete
- Home
- End
- Page Up
- Page Down
- Function Keys

I'd like to add these in, let me know if that's something you want.

[2017-02-15 18:09] cwillisf commented on #453
@SillyInventor, thanks! Any time you feel like you can fix an issue please feel free to put together a pull request. This goes double for any issue with the "help wanted" label, which means we feel it's especially well suited for contributors outside the Scratch team. Also, if an item is in the "Backlog" milestone it usually means that nobody on the team is working on it yet.

Thanks again - we re

[2017-02-15 18:31] thisandagain commented on #344
@SillyInventor Sure! That would be great.

[2017-02-15 18:35] SillyInventor commented on #453
Oh, I see. I just read the Contributor Guidelines and figured I shouldn't make a pull request unless specifically asked.

[2017-02-15 19:46] thisandagain commented on #412
Decision from design discussion:
[code]

These blocks should be added to the bottom of the `pen` category block list.

[2017-02-17 04:06] tmickel opened #464 "Execution bug: can't escape from conditional branches that end with a Promise-resolution-terminating command block"
### Expected Behavior

Some command blocks use Promises to indicate when they're finished. When the Promise resolves, execution should proceed to the next block.

I think the current set of blocks uses this in two places: playing sounds, and say/think (as a demo). But it's conceivable this could be used for extensions and other network-accessing blocks.

If one of these blocks is inside a conditio

[2017-02-17 22:41] TheBrokenRail commented on #412
So would this request become for a RGB block?

[2017-02-18 15:24] #344 closed, assigned to nobody

[2017-02-18 16:26] thisandagain opened #466 "Current playground URL is confusing / error prone"
The current local development URL for the VM playground is:
`http://localhost:8073/playground/`

Navigating to (what is normative for local development) `http://localhost:8073` leads to:
![image](https://cloud.githubusercontent.com/assets/747641/23094744/8dd29b68-f5cc-11e6-84a5-4e5c06f3cffe.png)

Navigating to `http://localhost:8073/playground` (note the lack of trailing `/`) leads to:
![image](ht

[2017-02-18 16:34] thisandagain commented on #393
This is done: http://llk.github.io/scratch-vm/#73673560

[2017-02-18 16:34] #393 closed, assigned to nobody

[2017-02-18 16:54] ghost commented on #399
Please close the issue because it's fixed now.

[2017-02-18 18:03] thisandagain commented on #399
@chicken3600 Did you update your browser?

[2017-02-18 18:03] #399 closed, assigned to nobody

[2017-02-18 18:43] towerofnix opened #467 "Any block with branch(es) will loop depending on the last block in the branch"
### Expected Behavior

Block execution behaves as normal.

### Actual Behavior

In a block formation such as this, the "play sound" block will loop over on itself:

![Demo 1](https://cloud.githubusercontent.com/assets/9948030/23095860/de0ce62c-f5e7-11e6-873c-2ae74f873156.png)

In this script, the "play drum" block loops:

![Demo 2](https://cloud.githubusercontent.com/assets/9948030/23095863/f3ce6e

[2017-02-18 18:57] thisandagain commented on #467
Hi @liam4. I believe that this may be a dupe of https://github.com/LLK/scratch-vm/issues/464, but the screenshots and additional tests are most appreciated. I'm going to keep this open for now, but may close should we decide that this is a duplicate.

[2017-02-18 22:10] TheBrokenRail commented on #393
Still does not seem to be working:
http://llk.github.io/scratch-vm/#73673560
![pen](https://cloud.githubusercontent.com/assets/17478432/23097252/2c971852-f5fd-11e6-89cc-6fd3999e5854.PNG)

Windows 10 Google Chrome

[2017-02-18 23:50] thisandagain commented on #393
That project uses the black "stamp" method for transparency, not RGBA pen.
On Sat, Feb 18, 2017 at 5:10 PM TheBrokenRail <notifications@github.com>
wrote:

[2017-02-19 22:07] SillyInventor opened #471 "Extend Test Coverage"
### Expected Behavior

It's usually best if you have test coverage >90%

### Actual Behavior

Currently around 81%.

Does anyone mind if I add some tests?

[2017-02-20 15:12] rschamp commented on #471
More tests are always welcome!

[2017-02-21 14:55] rschamp commented on #466
I agree. I tried making this work with the single webpack config, but I think the way to accomplish the playground being available at `/` is to use separate configs for running the dev server and building.

[2017-02-22 22:34] SillyInventor opened #478 "The Backdrop Doesn't Change"
### Expected Behavior

After launch the backdrop should change from launch pad to stars ~ 30 seconds in.

### Actual Behavior

It doesn't, and persists until the moon.

### Steps to Reproduce

Navigate to https://llk.github.io/scratch-gui/#104024967/ and press the green flag.

### Operating System and Browser

Ubuntu 16.04, chrome 56.0.2924.87

[2017-02-22 22:48] SillyInventor opened #479 "Sprites not displaying"
### Expected Behavior

Lutin 1, 2, & 3 should have pink images of bubbles, "ok!!!", and "Hazzard!!!" respectively in https://llk.github.io/scratch-gui/#144880441/

### Actual Behavior

All missing.

### Steps to Reproduce

Navigate to https://llk.github.io/scratch-gui/#144880441/

### Operating System and Browser

Ubuntu 16.04, chrome 56.0.2924.87

Not sure if this should be in render, but I'm put

[2017-02-22 23:46] cwillisf commented on #478
The backdrop is changing for me on Windows 10 with Chrome 56.0.2924.87.
I am seeing some problems with text, probably related to #479.