[2018-12-18 18:49] #1773 closed, assigned to fsih

[2018-12-18 22:46] ericrosenbaum commented on #1858
Thanks @knandersen! I guess our options include:

A) Always use the english female voice for kitten, so it sounds the same for everybody
B) Use the language setting, and also localize the word "meow" for that language.

At first glance, B seems better. But the localization part is tricky because we'd need to use the extension's language setting to select the word, not the editor's language setting

[2018-12-19 07:47] XueYuSky opened #1859 "How can I make a extenstion that support serialport devices to scratch?"
### Expected Behavior

If I want to use scratch for my own Harware devices which has serialport on it ,How could I  write a javascript extention that support it?

### Actual Behavior

Actually I try to use npm install serialport ,and I write a .js file that opens a serialpor, But I can just run this file in node.js.
How could I add this to scratch-vm or scratch-gui?

### Steps to Reproduce

If you

[2018-12-19 13:32] greenkeeper[bot] opened #1860 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.27.1` to `4.28.0`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Fwebpack-4.28.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project. It **might not

[2018-12-19 20:16] #1860 closed, assigned to nobody

[2018-12-20 03:24] wwj718 commented on #1859
@XueYuSky  https://scratch3-adapter-docs.just4fun.site/

[2018-12-20 18:26] picklesrus commented on #932
I'm not sure where along the way this got fixed... but it is.

![screen shot 2018-12-20 at 1 23 34 pm](https://user-images.githubusercontent.com/15675877/50303310-b3b40d00-045a-11e9-848b-af94d712c163.png)
![screen shot 2018-12-20 at 1 23 14 pm](https://user-images.githubusercontent.com/15675877/50303341-cc242780-045a-11e9-9447-fb29f3506fbb.png)

[2018-12-20 18:26] #932 closed, assigned to nobody

[2018-12-20 21:01] #128 closed, assigned to mzgoddard

[2018-12-20 22:54] greenkeeper[bot] opened #1863 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.28.0` to `4.28.1`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Fwebpack-4.28.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project. It **might not

[2018-12-21 00:27] Mr-Dave2 commented on #1077
A user in the forums has found another instance of this problem.  https://scratch.mit.edu/discuss/topic/308114/?page=15#post-3355760

This time the problem character is same one that I opened this issue with.  I still don't know the name of this character.  In this newest program it is the character that starts the message name (there is only one message used in this program.)

https://scratch.mit

[2018-12-21 04:12] apple502j commented on #1858
See also: #1702

[2018-12-21 19:22] rschamp commented on #1713
This is expected since we convert SVGs and bitmaps in the VM and then re-hash the contents to get the new MD5.

/cc @paulkaplan @kchadha @thisandagain

[2018-12-21 19:22] #1713 closed, assigned to rschamp

[2018-12-22 01:25] XueYuSky commented on #1859
Thanks for your reply. I'm not farmilar with how to use your python files into Scratch3.0 .

[2018-12-22 02:05] wwj718 commented on #1859
@XueYuSky  The document is [here](https://scratch3-adapter-docs.just4fun.site/dev_guide/helloworld/)(chinese), I just replied to your mail :)

[2018-12-22 08:41] #1679 closed, assigned to nobody

[2018-12-22 09:17] apple502j commented on #577
https://github.com/LLK/scratch-blocks/blob/9624dbe115acd5e033a92683836915f19a4f018b/core/field_textinput.js#L231
Adding maxlength might work, but it may break something else (like say blocks)

[2018-12-22 15:41] greenkeeper[bot] opened #1870 "An in-range update of webpack-dev-server is breaking the build 🚨"
## The devDependency [webpack-dev-server](https://github.com/webpack/webpack-dev-server) was updated from `3.1.11` to `3.1.12`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Fwebpack-dev-server-3.1.12).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack-dev-server is a d

[2018-12-23 01:05] Mr-Dave2 commented on #1663
A user in the forums has posted an issue that looks like another example of this problem.  https://scratch.mit.edu/discuss/topic/324975/?page=1#post-3358515

From the user:
1. Every level is supposed to have the level's name. The levels in 3.0 do not.
2. Every time a color first appears in the game, it's supposed to show a box with text saying “you have found the color
...

I had no  problems with

[2018-12-23 11:31] cotestatnt commented on #1859
I chose to use node.js (serialport) and redirect the data received from the serial on a websocket connection. It works very well!

[2018-12-25 00:44] XueYuSky commented on #1859
@cotestatnt Thanks a lot . At first,I also use node.js(serialport) and can read and write data on a serialport by standalone main.js.  But the problem is I can't redirect the data received from the serial on a websocket connection.  I am learning websocket and will update this method after I do that.
If you have good examples to show how to do this, welecom to post your method.

[2018-12-25 10:56] cotestatnt commented on #1859
@XueYuSky , here you can find my actually implementation. Please take in mind, I'm not an expert programmer (especially with Javascript), I'm sure there's a better method!
For example, doing all the jobs in the same extension script 'index.js' so that it is not necessary to start the wsServer.js script manually.

[https://github.com/cotestatnt/arduino-plus-scratch3](url)

[2018-12-26 16:00] thisandagain opened #1873 "Unicode 'BACKSPACE' stop to read project"
### Expected Behavior

Should be open and run project in v3 as v2.

### Actual Behavior

If a project contains Unicode character 'BACKSPACE' (\u0008), it will not run on Scratch 3.0 beta. The scripts are disappeared after the character and not editable in v3.0 any more.

### Steps to Reproduce

[Unicode Character 'BACKSPACE' (\u0008) ](https://scratch.mit.edu/projects/273360075/)

[Unicode Charact

[2018-12-26 16:01] thisandagain commented on #1873
/cc @ktbee @kchadha

[2018-12-26 19:02] kchadha commented on #1873
This is directly related to #1077. The problem with both of these is that xml does not allow control characters.

One of the problems I was dealing with when I was trying to resolve this issue a while back was -- what is/are the place(s) where we should catch and fix this issue since these illegal characters can sneak into the block XML from a variety of different places (listing just a few below)

[2018-12-27 15:02] BryceLTaylor opened #1875 "Ghost effect not clamped to 0 or 100"
### Expected Behavior

The actual value of the ghost effect should never be less than 0 or greater than 100 as is the case in 2.0.  Any attempt to set it to a number > 100 should set it to 100.  Similarly, any attempt to set it to a number < 0 should set it to 0.

### Actual Behavior

If you run "Change Ghost Effect by 10" repeatedly, the ghost effect can go above 100.  Similarly you can reduce th

[2018-12-27 15:04] thisandagain commented on #1875
/cc @kchadha @ktbee

[2018-12-27 15:08] picklesrus commented on #1875
I'm pretty sure this project is an example of this too: https://scratch.mit.edu/projects/270818825
Notice how once you've clicked true/false, the question shrinks but never quite disappears (see screenshot), but in scratch 2.0 it does.
![screen shot 2018-12-27 at 10 06 20 am](https://user-images.githubusercontent.com/15675877/50484573-2115ef80-09bf-11e9-9ed5-f56c72030e35.png)

[2018-12-27 17:16] kchadha opened #1876 "Rendered target should probably not store extension-specific state"
Related to #954, #1789, LLK/scratch-gui#3817, #1741, and #1731, we should not be saving extension related state in the Rendered Target.

When attempting to fix #1731, after making changes to unload the video extension, I discovered that loading a new project over a project that previously had the video extension loaded was turning video back on. Doing some digging, I found that the RenderedTarget

[2018-12-28 15:27] thisandagain opened #1879 ""change [variable] by (1)" block does not result in NaN when manipulating strings"
### Expected Behavior
Executing the "change [variable] by (1)" block on a variable that is currently set to a string should result in `NaN`

### Actual Behavior
The variable is set to `0`

### Steps to Reproduce
![image](https://user-images.githubusercontent.com/747641/50519879-f3967800-0a8a-11e9-9314-b2d5d0f6f894.png)

### Reference
https://scratch.mit.edu/projects/275276918
https://llk.github.io

[2018-12-28 15:31] picklesrus commented on #1077
Here's another project that runs into this because of the list with the '&' in the name of one of the list names:
https://scratch.mit.edu/projects/167201750/

Attaching a simple sb2 project that reproduces this with a variable having a '&' in it.
[a&b.zip](https://github.com/LLK/scratch-vm/files/2715120/a.b.zip)

[2018-12-28 15:50] apple502j commented on #1879
Wait, compat wiki mentions this.
https://github.com/LLK/scratch-vm/wiki/Compatibility#consistent-type-coercion-when-modifying-variables
Should it be fixed or kept? @thisandagain

[2018-12-28 15:52] thisandagain commented on #1879
@apple502j Yeah. This was one of the very first things we decided to change. I'd like to discuss this.

[2018-12-28 17:08] evhan55 commented on #1744
I believe this is *probably* fixed by this merged PR: https://github.com/LLK/scratch-vm/pull/1781
The error Eric was seeing here in `BT._handleResponse` seems to be the same error that is now safeguarded in that PR.  I will close this for now and we can reopen if someone runs into this again with the EV3.

[2018-12-28 17:08] #1744 closed, assigned to evhan55

[2018-12-28 19:09] picklesrus opened #1880 "Translate language reporter block reports language code instead of name in Hebrew"
### Expected Behavior

It should display the language name

### Actual Behavior

It displays the language code

### Steps to Reproduce

Change language to Hebrew, add translate language reporter block. Click on it.

[2018-12-30 19:22] towerofnix opened #1882 "Refuse to open projects with hacked arguments until a fix is implemented"
It's already [a known issue](https://github.com/LLK/scratch-vm/issues/1030) that projects with hacked arguments successfully open, but do so in a very bad way -- each field that contained a block in 2.0 instead contains the stringified array representing the block.

![In 2.0, the blocks "when green flag clicked: say ((join 'vol' 'ume') of 'stage')](https://user-images.githubusercontent.com/9948030

[2019-01-01 00:51] Mr-Dave2 commented on #1077
I'm adding another example that was mentioned in the forums: https://scratch.mit.edu/discuss/topic/326529/  It looks like this project has a list with the stickied name "<>".  I'm wondering it there should be a new sitckied topic after January 2 that explains to people what is going on if they can't see their scripts.

UPDATE:

Unfortunately this is no longer a good example because the user acted

[2019-01-01 15:22] thisandagain commented on #1882
Thanks for raising this @towerofnix. I'd like to discuss this with the team and we'll post a response here.

[2019-01-02 08:10] Alzter commented on #1882
Please, please do this. Some great projects have been made with hacked blocks and they flat out don't work in 3.0. If they are able to be viewed and edited, they could be saved by the creator and that would permanently break the project even if a patch is later released.

My proposal for how we should go about fixing hacked blocks is to just make most of them work without hacking. Straight up remo

[2019-01-02 08:44] Alzter commented on #1030
I took a glance at the "Gallery of the bizzare" section of the hacked blocks powerpoint and I think that these ideas uncover a goldmine of creative potential. Imagine if some stack blocks could be placed into string, number or even boolean inputs and would "ringify"! It's a bit complex, so I made some mockups below.

![20190102_193758](https://user-images.githubusercontent.com/22513909/50584913-71

[2019-01-02 08:49] Alzter commented on #1882
[Also here's some ideas I had for making hacked blocks usable normally, with mockups included](https://github.com/LLK/scratch-vm/issues/1030#issuecomment-450810120)

[2019-01-02 08:57] joker314 commented on #1030
Hi @Alzter. Thanks for these suggestions. I think I understand the use case of the conditional operator you describe (I assume it's meant to be a reporter shape?), and it'd be a really cool addition... though I think Python's word order seems more intuitive:
[code]
I think it deserves some more discussion in its own issue, as it isn't directly related to hacked blocks.

As for your first suggestio

[2019-01-02 10:20] apple502j commented on #1882
Plz implement this within 2 hours, if possible.
Or, at least give us an option to download 2.0 project without opening 3.0 editor.

[2019-01-02 13:20] towerofnix commented on #1882
@apple502j Unfortunately they're likely very prioritized with the release of 3.0 and so don't have time to work on any non-criticial issues - and while you could say this is critical in that it will be the reason some projects break, it's safe to say it won't affect the majority of Scratch users, and so it doesn't block the release of 3.0.

That said, you can use [this long-standing community-made

[2019-01-02 15:52] picklesrus commented on #1424
I'm actually still seeing this as a problem with a simple set of blocks
<img width="270" alt="screen shot 2019-01-02 at 10 49 27 am" src="https://user-images.githubusercontent.com/15675877/50599444-2326f500-0e7c-11e9-893e-bdbaae567b95.png">

Attached is the SB1
[testdrum.zip](https://github.com/LLK/scratch-vm/files/2721187/testdrum.zip)

The drum block disappears

[2019-01-02 21:45] towerofnix opened #1885 "Notes don't stop when their clone is deleted"
### Expected Behavior

Deleting the clone that started a *note* (from the Music extension) should stop the note's sound.

### Actual Behavior

The note keeps playing.

### Steps to Reproduce

Create a clone of a sprite ("create clone of myself") and have it play a note ("when I start as a clone, play sound for 4 beats"). Then delete it ("when I receive delete, delete this clone").

See this projec

[2019-01-03 10:29] greenkeeper[bot] opened #1886 "An in-range update of docdash is breaking the build 🚨"
## The devDependency [docdash](https://github.com/clenemt/docdash) was updated from `1.0.1` to `1.0.2`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Fdocdash-1.0.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

docdash is a devDependency of this project. It **might not br

[2019-01-03 12:35] thisandagain commented on #1885
/cc @ericrosenbaum

[2019-01-03 12:58] guyhed opened #1887 "Multi-line say block with RTL text is incorrectly ordered"
When you write a text in Say or Think block that occupy more than one line on the stage, that text appears on the stage with the words and **lines** in reverse order.

**This happens in all the old scratch project after the transition to scratch 3.0**

For example the block
![image](https://user-images.githubusercontent.com/1233716/50638675-509c9d00-0f67-11e9-8f89-7e4b12192245.png)
produces this o

[2019-01-03 16:33] chrisgarrity commented on #1887
I created a test project: https://scratch.mit.edu/projects/276896027/

[2019-01-03 19:54] ericrosenbaum opened #1888 "On Windows, microbit stays in connected state after closing browser tab"
### Expected Behavior

After connecting a microbit, when you close the browser tab, the microbit itself enters a disconnected state: the LED matrix begins scrolling the device name in a loop.

### Actual Behavior

On Windows, after connecting a microbit and then closing the browser tab, the microbit does not enter the disconnected state. The LED matrix remains off.

If you open another Scratch tab

[2019-01-04 02:26] KristianMischke commented on #1077
I have the same issue with one of my projects. I searched all over the scratch forums to see if anyone else had the issue until I found it here on github. I generally use "special" characters to identify that a custom block uses that variable as a return value.

Here is the project: https://scratch.mit.edu/projects/113795977/

[2019-01-04 03:48] towerofnix opened #1889 "There should be a BROADCAST runtime event for use by extensions"
In order to support a *hypothetical* extension adding blocks such as "wait until I receive (broadcast)" and "repeat until I receive (broadcast)", the "broadcast" and "broadcast and wait" blocks should emit a `BROADCAST` event (with the name/ID of the broadcast as passed data) on the runtime, which extensions could listen to.

[2019-01-04 13:55] qramo opened #1890 "Duplicated sprite's codes don't work with click to run"
### Expected Behavior

Both scripts can start and continue with click to run.

### Actual Behavior

Duplicated sprite's codes don't work with click to run. And stop other sprite running codes.

### Steps to Reproduce

I put a project made by this way, here:
[https://scratch.mit.edu/projects/277133456/](https://scratch.mit.edu/projects/277133456/)

1. Build some code with "forever" and moving thing

[2019-01-04 14:24] thisandagain commented on #1890
@BryceLTaylor Would you mind doing a repro on this?

[2019-01-04 14:24] thisandagain commented on #1889
/cc @kchadha @cwillisf

[2019-01-04 15:35] qramo commented on #1890
_Thank you for your arrange._

I did not know well inside of code in scratch-vm. So I can only see by DevTools on Chrome.
Each code blocks have unique "data-id" hashes. But it seems same "data-id" hash is in <g> tag of those blocks made by duplicated sprits. I thought it maybe cause of this.

<img width="956" alt="2019-01-05 0 31 00" src="https://user-images.githubusercontent.com/1835068/50695867-

[2019-01-04 16:26] ericrosenbaum opened #1891 "Text to Speech incorrectly censors common words"
### Expected Behavior

The Text to Speech extension should speak common (non-bad-word) phrases in any language.

### Actual Behavior

In English, any phrase containing the word "up" is blocked.

In French, any phrase containing the word "comment" is blocked.

Previously, the word "how" was erroneously blocked in English. Because "comment" in french means "how", I'm guessing that "how" in the other

[2019-01-04 16:45] towerofnix opened #1892 "Add more keys to "key pressed" dropdown"
The "key pressed" dropdown is missing some keys that make it lack a lot of potential.

While keys like "control" and "command" are best left out because they have browser behavior, the following keys don't mess with the browser, and would be useful for typewriter (custom input) and game projects:

* Shift *(Useful general-purpose modifier key. No browser behavior.)*
* Enter *(Frequently used for s

[2019-01-04 17:33] towerofnix opened #1893 "Comments attached to variable blocks are altogether lost upon saving"
### Expected Behavior

All comments are saved/restored when a project is saved/loaded.

### Actual Behavior

Comments attached to variable blocks disappear.

### Steps to Reproduce

Create a project that contains a variable block and attach a comment to it. Save it, then load it. Note that the comment is gone.

### Operating System and Browser

Firefox 65.0b7, Linux (Debian).

[2019-01-05 01:08] abee2 commented on #1077
I fixed "Cat's Step Adventure -Part1-" and "Special character Scratch 3.0 issue".
https://scratch.mit.edu/projects/277244459/
https://scratch.mit.edu/projects/277244998/
I just removed Backspace (\b) from JSON of those projects.
I think it is the same problem of #4190.
https://github.com/LLK/scratch-gui/issues/4190

[2019-01-05 01:19] apple502j commented on #1891
![](https://screenshotscdn.firefoxusercontent.com/images/cf398abd-7097-44e7-81b9-68262b1ab4f9.png)
English, Japanese and Polish worked, but the others didn't.

[2019-01-05 13:57] parnikkapore opened #1894 "Hidden say text doesn't show after subsequent assignment"
This bug is first documented [here](https://scratch.mit.edu/discuss/topic/318477/) pre-2019.
### Steps to Reproduce
Make a script like this:
[code]
### Expected Behavior
The bubble should appear on moueover.

### Actual Behavior
The bubble never appears.

### Operating System and Browser
Firefox 62, Ubuntu 18.04LTS

[2019-01-05 22:38] ZenithRogue opened #1895 "Hacked color picker inputs should be converted to numeric when loading 2.0 project until full support is added"
[In a project I made back in 2015](https://scratch.mit.edu/projects/71983718), I use a hacked custom block ```Define {Color %c}```. Now in 3.0, the project load just fine, but wont be able to properly run. I am sure that other projects use this feature [(in fact, I have another project here that uses it)](https://scratch.mit.edu/projects/94327875)

I think the quickest solution with the conversion

[2019-01-06 01:41] towerofnix commented on #1895
I believe @apple502j did some WIP work on actually implementing color inputs showing up in the custom blocks themselves (rather than converting them to number inputs): https://github.com/LLK/scratch-vm/issues/1030#issuecomment-444095455

(Btw, that same code looks like it could be tweaked to convert color inputs into number inputs if wanted.)

[2019-01-06 03:26] TravisWadeWilliamson opened #1896 "stop this script only"
### Expected Behavior

_Please describe what should happen_

### Actual Behavior

_Describe what actually happens_

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_

[2019-01-06 04:08] apple502j commented on #1896
What do you mean?

[2019-01-06 06:01] TravisWadeWilliamson commented on #1896
Sorrry, new to GitHub. Didn't mean to do this. Would delete but don't see a "delete" button!

[2019-01-06 08:46] Kenny2github commented on #1896
@TravisWadeWilliamson you can close the issue instead, it's the button next to the "Comment" button.

[2019-01-06 22:42] #1875 closed, assigned to nobody

[2019-01-07 07:12] TravisWadeWilliamson commented on #1896
Thanks! Honestly, I don't even know where that came from. It's possible this happened when my cat walked on the keyboard. Fur realz!

[2019-01-07 07:12] #1896 closed, assigned to nobody

[2019-01-07 13:57] thisandagain commented on #1893
/cc @kchadha

[2019-01-07 14:00] thisandagain commented on #1892
/cc @ericrosenbaum @kchadha

[2019-01-07 14:04] griffpatch commented on #1030
The new "item # of list" goes some way to removing the need for a few hacked blocks (thank you for that!), but it still remains a real pain not to be able to detect case of letters (as item # of list has no distinction between a & A). Even just a block for "Is uppercase (var)?" would be excellent :)

[2019-01-07 14:11] TongDaDa commented on #1892
It is useful

[2019-01-07 14:20] ZenithRogue commented on #1895
The purpose of converting to a number input would be to quickly push out a compatibility update. But color inputs would still be preferable

[2019-01-07 15:54] #1858 closed, assigned to nobody

[2019-01-08 08:04] mrjacobbloom commented on #1030
There's some discussion of case detection blocks in #536

[2019-01-08 08:25] griffpatch commented on #536
Of course, having a basic ascii reporter would also be an option... One that returns the ascii value of the first character of the string? (or should it be unicode *grin*). I suppose uppercase is more generic, but perhaps is less useful that ascii. Ok, lets just have an `(ascii value of [Foo])` please :)

[2019-01-08 08:59] TheLogFather commented on #536
See my [String Manipulation Blocks](https://scratch.mit.edu/projects/18838153/) project for a set of blocks that include case-detection, and a lot more besides, and are worded more precisely/clearly.

Combining (the most useful of) these into the dropdown of a `<(string) contains [options v]>` block would provide lots of flexibility, and it's a block that is almost the same as the new one that alr

[2019-01-08 13:24] ZenithRogue commented on #536
Possible menu items with Log's suggestion:

```<(string) contains [uppercase v]>```

```<(string) contains [lowercase v]>```

```<(string) contains [letters v]>```

```<(string) contains [numbers v]>```

[2019-01-08 17:04] kchadha opened #1901 "Project gets saved with invalid value for `currentCostume` resulting in error `cannot find property 'bitmapResolution' of undefined`"
### Expected Behavior

Projects should not get saved in an invalid state.

### Actual Behavior

Sometimes projects get saved in a state where a target's `currentCostume` value is out of range of the actual list of costumes that were serialized for that target.

### Steps to Reproduce

Not sure...

This project is an example of where this happened. These projects are being patched on load (#1900) s

[2019-01-08 23:07] #1424 closed, assigned to nobody

[2019-01-09 17:20] towerofnix opened #1904 "Default "set audio effect" value to 120 or 60"
### Expected Behavior

In order for it to be more apparent that the pitch effect corresponds to octaves of sound, a value like 60 or 120 should be used. 120 is [a full octave](https://github.com/LLK/scratch-vm/pull/926), but it's greater than the 100% max for the pan left/right effect, so 60 might be a more useful value.

Relatedly, perhaps the "change pitch effect" block should be 20, which is a

[2019-01-09 22:40] ericrosenbaum opened #1906 "Video on stage goes gray after mac wakes from sleep"
### Expected Behavior

The video extension camera view on the stage should continue working after a mac has gone to sleep and woken up again.

### Actual Behavior

When the video extension is running with the camera shown on the stage, if the mac goes to sleep, when it wakes up, the camera view is all gray:

<img width="494" alt="screen shot 2019-01-09 at 3 56 07 pm" src="https://user-images.githu

[2019-01-10 18:58] ericrosenbaum opened #1908 "Running Vernier sensor block during connection process causes an error"
### Expected Behavior

Using a Vernier extension block should not cause an error in the console.

### Actual Behavior

During the connection process, after you have clicked "connect" on your device, but before it has connected, if any block that accesses a sensor value runs, you'll get an error in the console:

[code]

### Steps to Reproduce

- Add the GDX-FOR extension, and dismiss the connection

[2019-01-10 20:37] spectranaut commented on #1908
Oh wow I wanted to test this but thought I'd never been able to click through the modal fast enough. Thanks for the steps, @ericrosenbaum :)

[2019-01-11 17:58] ericrosenbaum opened #1910 "Consider refactoring Vernier extension"
We may want to do a bit of refactoring on the Vernier Force and Accel extension to make its structure more similar to the other hardware extensions.

cc @evhan55

[2019-01-11 18:01] ericrosenbaum opened #1911 "Vernier extension localization"
- FACE_MENU needs localized text strings for 'up' and 'down'
- Confirm that everything else that needs localizing has been done ('x' and 'y' etc. do not need localization)

[2019-01-14 19:46] sentry[bot] opened #1917 "Failing to load certain 1.0 projects"
Reported from Sentry, just wanted to link issues as they come up:

Project ID 1292046 fails with "TypeError: Converting circular structure to JSON"
Project ID 1355008

[2019-01-14 19:54] picklesrus commented on #1917
Duplicate of https://github.com/LLK/scratch-sb1-converter/issues/31

[2019-01-14 19:54] #1917 closed, assigned to nobody

[2019-01-14 20:26] thisandagain commented on #1911
/cc @chrisgarrity

[2019-01-14 21:18] asondemita opened #1918 "Incorrect angle of micro:bit "tilt angle""
### Expected Behavior

I thought that the "title angle" block of micro:bit would also return 90 at 90 °.

### Actual Behavior

When angle is 90 °, "title angle" block returns 100.

For reference, the "motor position" block of LEGO EV3 returns 90 at 90 °.

### Steps to Reproduce

![tile_angle_ng](https://user-images.githubusercontent.com/7057616/51141670-45157400-188d-11e9-8b2f-cd8aa93de3f2.png)

#

[2019-01-14 22:35] thisandagain commented on #1918
/cc @ericrosenbaum @khanning

[2019-01-15 01:16] evhan55 opened #1919 "GDX-FOR extension doesn't disconnect properly on scan"
1. Scan for GDX-For: see device appear in scan list named 'GDX-FOR ###'
2. Dismiss connection dialog
3. Scan for micro:bit
4. **Expected**: see device appear in scan list named 'micro-bit device name'
4. **Actual**: see device appear in scan list named 'GDX-FOR ###'

[2019-01-15 01:16] evhan55 commented on #1919
Reported by Ian Honohan @ Vernier

[2019-01-15 01:30] evhan55 opened #1921 "GDX-FOR extension doesn't properly disconnect when user disconnects"
Report from Ian Honohan:
"The disconnection of the GDX-FOR can fail. This is intermittent and I don't have a reproducible workflow for this, yet. It appears that when an initial connection fails or when the user chooses to disconnect from the GDX-FOR, the GDX-FOR continues to flash its green LED, indicating it is still connected to the system. At this point, you cannot reconnect until you cycle th

[2019-01-15 15:31] #1919 closed, assigned to evhan55

[2019-01-15 15:31] #1921 closed, assigned to evhan55

[2019-01-15 15:43] idan-david opened #1922 "Send variables to "startHat""
### Expected Behavior

Send variables to "startHats" and allow the hat function to use them (e.g. to determine whether the hat should be activated or not).

### Actual Behavior

Only an exact match of the parameter is allowed, such as in broadcast and "when I receive" blocks.

### Motivation

For example, will allow to send a string to another stack, which will start by a the hat "When I receive a

[2019-01-15 21:24] BryceLTaylor opened #1926 "pen layer doesn't blend transparent colors with the background properly"
### Expected Behavior

Adding a partly transparent black pen mark to the pen layer should always darken the backdrop.  It should interact with colors behind it in the same way that it interacts with other marks on the pen player.

### Actual Behavior

If you make a black, but mostly transparent mark on the pen layer over a red circle it will lighten the color.  The same mark over the same color re

[2019-01-16 17:16] ericrosenbaum opened #1929 "Hardware Extensions: separate extension cleanup and disconnect"
Per discussion with @evhan55, we decided to make each hardware extension have a "clean up" function, which is separate from the disconnect function. This will allow us to pass the clean up function as the disconnect callback that we pass to the socket object. Then, in `_triggerDisconnectError` (formerly `_sendDisconnectError`) we can always call `disconnect`, and remove the branching.

[2019-01-18 13:53] #1253 closed, assigned to thisandagain

[2019-01-18 21:58] #1590 closed, assigned to evhan55

[2019-01-18 22:10] ericrosenbaum commented on #1908
Fixed by https://github.com/LLK/scratch-vm/pull/1914

[2019-01-18 22:10] #1908 closed, assigned to spectranaut

[2019-01-18 22:26] ktbee commented on #906
Whew! Got to the bottom of this one!

**The reason this doesn't work in Scratch 3:**

The "greater than" hat checks the timer for `timeElapsed` being greater than zero, and it never is because the "greater than" hat would need to check it when it's _exactly_ zero. Usually the closest it will get is something around 0.100. If you change the hat to check for "When timer > .1", the blocks will execut

[2019-01-19 00:32] towerofnix commented on #1892
I've updated the issue description with a proper list of keys I think would be useful (more welcome if anyone has ideas!).

[2019-01-19 08:32] McSinyx opened #1931 "Only some of the cloud variables got saved on Scratch server"
### Expected Behavior

When each cloud variable is set, its new value should be saved.

### Actual Behavior

Only some got saved.

### Steps to Reproduce

I've just created [a project to demonstrate this bug](https://scratch.mit.edu/projects/280852803/). While 10 variables are set, [only 2 got updated on the server](https://scratch.mit.edu/cloudmonitor/280852803/).

### Operating System and Browse

[2019-01-19 08:49] #1931 closed, assigned to nobody

[2019-01-19 13:55] picklesrus opened #1932 "shareSoundToTarget should be resilient to non-existent targets"
### Expected Behavior

shareSoundToTarget shouldn't crash when you call it with a null target. It already checks whether target exists before adding the sound, but not before accessing other properties on the target (i.e. sprite) See the following line of code:
https://github.com/LLK/scratch-vm/blob/develop/src/virtual-machine.js#L1240

Noticed this when trying to debug reordering of sounds crash

[2019-01-19 19:17] ArnoHue opened #1934 "Replace-Item-of-List Block is very slow on large lists (Scratch 3.0 regression)"
### Expected Behavior

Replacing an item in a list should always perform at the same speed, no matter the size of the list (expected runtime complexity O(1)). This was the case in Scratch 2.0

### Actual Behavior

The larger the list, the longer it takes to execute a Replace-Item-of-List block on it. If I read the sourcecode correctly, JS splice() is used. This might be the reason for O(N) runtime

[2019-01-21 03:08] yokobond commented on #1873
The cause of this problem is that the error 'PCData invalid Char value' was returned by DOMParser when making svg text from string in the project at SvgRenderer.loadString(svgString, fromVersion2).

Invalid char like that is not only \u0008 but also \u001c \u001d etc. (ref: https://www.w3.org/TR/xml/#charsets ). These invalid characters can be easily and unconsiously input by the default Japanese

[2019-01-21 19:12] ArnoHue commented on #1934
I also noticed that after I replaced all Replace-Item-of-List blocks in one of my projects with other constructs (involving only AddToList blocks on much smaller lists), previous random stop-the-work-like situations, where the UI would stop repainting for short intervals, did not happen anymore. It's just a guess, but less memory-churn pressure hence less time spent in GC might also be a positive

[2019-01-22 09:53] XueYuSky commented on #1859
Thank you so much , I finally make it after I change some code from you. Because the hardware is not arduino. I designed it by myself with special protocol.   Your answer really helped me!

[2019-01-22 15:58] ktbee commented on #906
Oh whoops, also meant to cc @thisandagain @kchadha

[2019-01-22 16:21] kchadha commented on #906
@ktbee can this issue be fixed by having the `reset timer` block reset all the `when timer >` hats?

[2019-01-22 18:08] mzgoddard commented on #906
@kchadha That won't match the behaviour Scratch 2 has. That would cause the threads to execute twice as often.

[2019-01-22 21:47] ktbee commented on #906
I thought I'd post here [the fix that @mzgoddard and I came up with that is more compatible with Scratch 2's timer logic.](https://github.com/LLK/scratch-vm/compare/develop...ktbee:clock-timer-compat-fix?expand=1) However, @gnarf had a good question about whether we want to copy the  same Scratch logic or if we want to provide the same Scratch 2 behavior more systematically, perhaps by extending t

[2019-01-23 08:19] greenkeeper[bot] opened #1935 "An in-range update of tap is breaking the build 🚨"
## The devDependency [tap](https://github.com/tapjs/node-tap) was updated from `12.3.0` to `12.4.0`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Ftap-12.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

tap is a devDependency of this project. It **might not break your p

[2019-01-23 16:38] kchadha opened #1936 "Remove `this.runtime` check in blockUtility nowObj getter"
As referenced [in a comment ](https://github.com/LLK/scratch-vm/pull/1928#discussion_r249850839) by @mzgoddard in https://github.com/LLK/scratch-vm/pull/1928

Let's get the `this.runtime` check out of the nowObj getter in block-utility.js

[2019-01-23 21:54] griffpatch commented on #982
Awesome 👍 Lets do that stretch thing :)

[2019-01-23 22:59] ericrosenbaum commented on #1891
Fixed!

[2019-01-23 22:59] #1891 closed, assigned to thisandagain

[2019-01-24 09:54] yokobond opened #1939 "Message and variable name including '&' destructs toolbox and blocks"
### Expected Behavior

'&' should be able to use in message or variable names.

### Actual Behavior

When a message or variable contains '&', the message or variable blocks in the Toolbox has no name and blocks in the Code area is empty.

This problem is reported in discussion forum.
[When "&" is included in the message, the existing block disappears. - Discuss Scratch](https://scratch.mit.edu/dis

[2019-01-24 14:52] apple502j commented on #1939
Kind of #1077 and regression of #178

[2019-01-24 16:39] BryceLTaylor commented on #1926
A project came in from the community showing a similar issue: https://scratch.mit.edu/projects/276987518/

[2019-01-24 18:45] ktbee commented on #1451
Here is an example project that shows you can successfully fall into pits at -187 `y position` (the user changed the original project to accommodate the bug): https://scratch.mit.edu/projects/279811694/

This is with the fix from https://github.com/LLK/scratch-render/pull/400

[2019-01-24 19:16] ericrosenbaum opened #1940 "Can't use & character in extension name"
### Expected Behavior

It should be possible to use a reasonable (?) set of characters in the text displayed by extensions, including the extension name.

### Actual Behavior

Adding an `&` character in the name breaks the extension (the blocks silently fail to load).

[2019-01-24 19:17] kchadha commented on #1939
Tracking this in #1077.

[2019-01-24 19:17] #1939 closed, assigned to nobody

[2019-01-24 19:17] ericrosenbaum commented on #1940
Possibly related:
https://github.com/LLK/scratch-vm/issues/1077

[2019-01-24 20:43] kchadha opened #1942 "Pass in reference to runtime when creating `new Blocks` in the tests"
#1941 adds a reference to the `runtime` to the blocks container constructor. Currently we have a lot of tests that create a new blocks container via `new Blocks()`. These references are used in ways that don't actually use the runtime, so they are technically okay, but the tests should be updated to reflect the new API.

e.g. Blocks.changeBlock used to have an optRuntime argument which was technic

[2019-01-25 03:20] ghost commented on #1030
Ok. I'm @Helixable from Scratch. I left because 3.0 broke every one of my projects execept 2. One huge issue was key detection. The enter, tab, shift, and backspace key detection dont work anymore. Anybody know some somple workarounds? or somwthing?

[2019-01-25 03:37] towerofnix commented on #1030
@Helixable that's the "overriding menu options" example here (aka it doesn't work in 3.0, yeah). I'm not sure anybody's figured out a workaround. I made #1892 discussing some more keys that would be useful; if you want to discuss more keys that would be handy, you should comment there.

[2019-01-25 08:37] griffpatch commented on #1030
One of the biggest issues I've had is not that the hacked blocks don't
work, but that some projects now open with scripts missing too... that
makes it very hard to recover them. I assume that due to the fast auto save
feature, that opening them will mean that the original scripts will have
been lost already?

Like this one: https://scratch.mit.edu/projects/126517840/

On Fri, 25 Jan 2019 at 03:37,

[2019-01-25 19:16] #1480 closed, assigned to cwillisf, ktbee

[2019-01-26 04:31] kchadha commented on #1030
@griffpatch, thanks for pointing to that project and reporting this bug. I believe that most instances of "blocks missing" are caused by #1077 (and some of the related issues linked to it). We are actively working to fix that issue.

With the projects affected by #1077, the blocks aren't actually gone, they just aren't getting displayed properly, which means that these project should hopefully rec

[2019-01-26 21:08] towerofnix opened #1948 "Edge-triggered(?) hat blocks make the green flag always look active"
### Expected Behavior

Edge-triggered (extension?) hat blocks shouldn't behave any differently from ordinary hat blocks.

### Actual Behavior

Dragging out any hat block from extensions makes it so that the green flag looks active, as though the project is constantly running, even if you click the stop button. (The buttons do what they're supposed to when clicked, but the flag constantly appears a

[2019-01-27 08:28] apple502j commented on #1725
fixed.

[2019-01-27 08:28] #1725 closed, assigned to nobody

[2019-01-28 02:37] joshyrobot opened #1950 "Extension "Expert Mode""
Extensions should be able to put their blocks into two categories: beginner friendly and "expert". This lets extensions provide more low-level and powerful options to those who know how to use them while not flooding beginners with a bunch of complicated blocks. To enter "expert mode", there could be some toggle either next to each individual extension or in the project as a whole. Then on the ext

[2019-01-28 10:08] apple502j commented on #1950
Solution of #1525

[2019-01-28 14:27] Kenny2github commented on #1950
Though many more experienced Scratchers have been clamoring for features in the category of a separation between "beginner" and "advanced" or "expert", to the Scratch Team that "separation" is more like a segregation. From what I've seen, any kind of separation is unhealthy - I mean, look at New Scratchers vs Scratchers. That's only a technical difference, and it generates so much controversy that

[2019-01-28 14:45] djMax opened #1951 "Point in the currently right direction for embedding scratch UI?"
This is not an issue so much as a documentation pointer request, though perhaps it could result in some more docs. I am hoping to embed Scratch blocks/VM in a project aimed at kids writing "game playing" bots:

https://advent-game-lab.herokuapp.com/

Generally, each game will ask the student to write a function that takes the game state and returns the next move. I started to use Blockly, but it b

[2019-01-28 15:00] enauman opened #1952 "GoGuardian filters causing significant latency on Scratch editor"
We have no luck communicating and troubeshooting with GoGuardian to resolve this, but maybe someone here on the developer side can help us narrow down what is happening between GoGuardian, Chromebooks, and Scratch. Any suggestions are appreciated! This issue is making it very hard to use Scratch in our school.
### Expected Behavior

UI interaction should show immediate response to mouse and touchs

[2019-01-28 15:38] #1847 closed, assigned to chrisgarrity, ericrosenbaum

[2019-01-28 15:40] #1733 closed, assigned to chrisgarrity

[2019-01-28 15:53] ericrosenbaum opened #1953 "Refactor sensor state in Vernier Force and Acceleration extension"
In our other hardware extensions,  the `_peripheral._sensors` object is initialized with default sensor values at extension load. Data from the hardware directly updates these values. The block opcodes can then simply use `_peripheral`'s getters, which are always safe (i.e. whether or not the hardware is connected).

In the vernier extension, we currently have a more complex setup: `_peripheral` h

[2019-01-28 16:52] thisandagain commented on #1934
/cc @mzgoddard @kchadha

[2019-01-28 17:50] TongDaDa opened #1955 "Needless BitMap Object when load more one project"
Scratch run out of memory frequently due to the bitMap Object of _allSkin in Scratch-render project when I load more one project,  I know that scratch is simply run once but I need to load it mutiple time. Perhaps this is not your bug, I just want to quest anwser that how to load multiple project in order and no memory-overflow?

I have find out the bitMap Object of Scratch-Render is persisted in

[2019-01-28 18:15] evhan55 commented on #1953
This sounds worth doing if it maintains or fixes current behavior.
Are there reproducible errors that you are encountering?

I have thought about making something like `ScratchLinkDeviceAdapter` for all extensions at some point, but was waiting for the various connect/disconnect and read/write patterns among all the existing hardware extensions to reach a stable and robust state before adding anot

[2019-01-28 20:20] thisandagain commented on #1950
Thanks for the suggestion. As others have noted, we feel strongly that creating arbitrary notions of "advanced" vs. "novice" does more harm than good in a learning context. That said, we are excited by the opportunity with extensions to incorporate more powerful features in a way that doesn't disrupt or otherwise harm the experience for people who are still getting started with Scratch.

[2019-01-28 20:20] #1950 closed, assigned to nobody

[2019-01-28 20:22] thisandagain commented on #1955
I'm not sure if we can help you here as we only support loading one project at a time in Scratch. In general, we are working on some performance optimizations that should reduce overall memory and CPU/GPU utilization, but you'll need to investigate this yourself. Happy to review any specific suggestions you may have to reduce the memory footprint of skins (costumes).

[2019-01-28 20:22] #1955 closed, assigned to nobody

[2019-01-28 20:28] thisandagain commented on #1952
Oh no! Thanks for reporting @enauman.

Unfortunately we aren't very familiar with GoGuardian so I'm not quite sure what could be causing this. I can say that `VM69 extensions::utils:119` doesn't look like our code, but I would guess that this is referencing a Chrome extension (perhaps GoGuardian). Because we aren't familiar with the technology you are using I don't have any firm recommendations, b

[2019-01-28 20:32] thisandagain commented on #1951
Hi @djMax, we *just* released so we still have some documentation to catch up on. I would take a look at our old "VM playground" which simply merged together the VM and the blocks with a minimal wrapper:

https://griffpatch.github.io/scratch-vm/

This will probably require some updates to get it working with the latest VM, but should at least get you started. The other place I would look for "head

[2019-01-28 20:32] #1951 closed, assigned to nobody

[2019-01-28 20:36] enauman commented on #1952
Thank you, I'm going to have another go at talking to GoGuardian support.

[2019-01-29 00:22] TongDaDa commented on #1955
@thisandagain Thanks

[2019-01-29 02:41] XueYuSky commented on #1859
![scrarachserial1](https://user-images.githubusercontent.com/13450817/51880419-285f5d00-23b2-11e9-8834-7a58a58883f4.JPG)
I write a serial extension recently,it can open a serial port ,send messages,receive messages. But it still has some bugs to fix.

[2019-01-29 04:13] TongDaDa commented on #1955
But, I find out the `clear` function of this project that seems not clear the _allSkin.

It just invoked the `clear` function and some Emit of Extension and penSkin to clear in Runtime module. I was thinking that is Incomplete,

@thisandagain

[2019-01-29 04:18] TongDaDa commented on #1955
Please look at here. 🙋‍♂️🙋‍♂️

[2019-01-29 04:46] TongDaDa commented on #1955
It is your problem, whatever this project run once or more once, the _allSkin data should be cleared, but it has skin-data when the `runtime` run the clear function. How do you think?

This is a problem of VM,  I think the clear function means clear the data of all about VM Data, but the skin of `renderer` is also belong to VM

[2019-01-29 05:16] TongDaDa commented on #1955
Of course, I can create a pull request to repair it and maybe need a lot of time I inspect side-effects, so could you like to help me to find the side-effects when I repair it?

The side-effects are other problem when I run the `this.renderer._allSkin = []` in the clear Function in  `runtime` module, If you are interesting to inspect my changed code and give me some suggestions, I am willing to do

[2019-01-29 21:50] ericrosenbaum opened #1960 "Some edge-triggered hats run on project load"
### Expected Behavior

An edge-triggered hat such as `when distance < 5` should only run when the hat's condition changes from false to true.

### Actual Behavior

The `when distance < 5` hat in both the WeDo and EV3 extensions triggers on project load.

### Steps to Reproduce

- Load the WeDo pufferfish starter project, and note that it plays the zoop sound on load: https://scratch.mit.edu/projec

[2019-01-29 22:31] ericrosenbaum commented on #1953
@evhan55 that sounds like a good plan!

I believe that the status of `ScratchLinkDeviceAdapter` is not tightly coupled to the specific refactor I described above (the changes I described would not touch that adapter). At some point you had suggested (I think) renaming it to something like `VernierGoDirectAdapter` (because it is adapting the Vernier Go Direct module so it can work with Scratch Link

[2019-01-30 02:29] TongDaDa opened #1963 "May be this is your problem?"
here [issue](https://github.com/LLK/scratch-vm/issues/1955#issue-403933247)

[2019-01-30 15:57] #1942 closed, assigned to nobody

[2019-01-30 20:56] kchadha opened #1964 "Separate targets update and project changed"
#1962 starts work toward this and highlights differences between where we want to emit a targets update and where we want to emit a project changed event. These sometimes coincide but not always and it would be explicit about what change occurs where and track these two different kinds of changes separately.

Doing this will also address the comment linked below where we are emitting targets updat

[2019-01-30 20:57] kchadha commented on #1964
Towards resolving LLK/scratch-gui#4275

[2019-01-30 22:00] #1963 closed, assigned to nobody

[2019-01-30 22:01] #1935 closed, assigned to nobody

[2019-02-01 05:13] greenkeeper[bot] opened #1965 "An in-range update of tap is breaking the build 🚨"
## The devDependency [tap](https://github.com/tapjs/node-tap) was updated from `12.5.0` to `12.5.1`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Ftap-12.5.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

tap is a devDependency of this project. It **might not break your p

[2019-02-01 17:19] djMax commented on #1951
Thanks, I'm poking my way around those things and getting a little further but not a lot. No expectation to respond, but for posterity, I'm just trying to get a value BACK out of the VM after a greenFlag and not finding any events that will be useful.

[code]

Then I just have blocks that call move(10) or similar and look for any events firing out of the VM but there don't seem to be any other tha

[2019-02-04 13:19] chrisgarrity opened #1968 "Alt text should match image"
### Expected Behavior

_Please describe what should happen_
The alt text for an image should correspond to the image

### Actual Behavior

_Describe what actually happens_
The alt text for the image showing how to connect a motor is:

The image actually shows the EV3 lying on its back with the screen facing up and the A port on the right.

The question came in from a translator - if this is the wa

[2019-02-04 16:13] #1965 closed, assigned to nobody

[2019-02-04 16:29] thisandagain commented on #1948
/cc @cwillisf @kchadha @ericrosenbaum

[2019-02-04 17:25] thisandagain commented on #1960
/cc @cwillisf @kchadha

[2019-02-04 17:42] thisandagain commented on #1968
/cc @ericrosenbaum @evhan55

[2019-02-04 19:31] #922 closed, assigned to paulkaplan

[2019-02-04 19:38] #1715 closed, assigned to ktbee

[2019-02-04 19:38] paulkaplan opened #1971 "Support `isDiscrete` flag on slider monitors"
Support `isDiscrete` flag on slider monitors
- import `isDiscrete` from sb2 projects
- serialize and import `isDiscrete` flag from sb3 projects
- add `isDiscrete` flag to the [monitor record](https://github.com/LLK/scratch-vm/blob/3dd0d0a657917ff6479c258213a201dbe757754b/src/engine/monitor-record.js) and have it sent to the GUI

[2019-02-04 19:49] #1870 closed, assigned to kchadha

[2019-02-04 19:49] #1863 closed, assigned to kchadha

[2019-02-04 20:31] #1886 closed, assigned to rschamp

[2019-02-04 20:46] towerofnix commented on #1934
For what it's relevant, the fix seems to be as simple as changing `list.value.splice(index - 1, 1, item)` to `list.value[index - 1] = item` in src/blocks/scratch3_data.js; I did this and didn't notice a dramatic performance difference as might be expected, though. But I don't have much experience with working on code performance, so I may well be missing something / not reproducing the case where

[2019-02-04 20:56] ArnoHue commented on #1934
As described before, this has a huge performance impact on projects that depend on a lot of item-replacements in large lists (in particular I experienced more than 100% global speedup by reducing list size - the local speedup might be a lot higher). That's why I provided these test results in the original bug report (please scroll down to "Browserscope"): https://jsperf.com/array-index-vs-splice.

[2019-02-04 21:06] towerofnix commented on #1934
There is no reason (as far as I know) so the change would only be beneficial - worth making regardless of just how well it improves performance. But, you mentioned very high improvements (100%, 1000%) - and when I tested this change I went from ~300,000 times the block was called to ~350,000 times. It might be a more significant change without the overhead of the loop / call counter I used, though

[2019-02-04 21:10] ArnoHue commented on #1934
How large was the list on which you invoked the replace-item block, and on which index? I suppose worst case would be somewhere in the middle of a 200,000 items list. As mentioned, replacing an array item should be O(1), but splice() causes O(N) runtime complexity.

[2019-02-04 21:15] towerofnix commented on #1934
I see - I was only testing on a list of 10,000 items at index 5,000. That's considerably less!

That said, I tweaked my program to run at 200,000 items in the list (tested replacing at 1 and 50,000, to no difference) and it still ran around 300,000 times per 250ms - there was no difference in rate at all (from testing with 10,000 items).

Edit: Here's my test project: https://scratch.mit.edu/proje

[2019-02-04 21:32] ArnoHue commented on #1934
Thanks a lot, please have a look at my remix at https://scratch.mit.edu/projects/284388540/, at least for me (Win10, Chrome) it shows what I mean: 640,000 replacements on a 20-item list, 2,200 replacements on a 200,000-item list with 250ms. Your original project displays 2,700 replacements, not 300,000. Maybe your browser's JavaScript engine has Array.splice() optimized for single item replaces wi

[2019-02-05 00:12] towerofnix commented on #1934
Thanks for your remix! It looks to be system-dependant too, perhaps.. I tested on Firefox/Linux and got 320,000 and 300,000. On Chromium/Linux, I got 520,000 and 520,000 - contrast with your Chrome/Windows, 640,000 and 2,200. Anyway, good to know there is definitely a positive impact on some devices! If you want to, you could make a PR with the code changes I mentioned [above](https://github.com/L

[2019-02-05 00:52] evhan55 opened #1974 "Vernier Extension: rename `scratchLinkSocket` throughout to `ble`"
To avoid potential confusions with the upcoming `ScratchLinkWebSocket` proposed in https://github.com/LLK/scratch-vm/pull/2182.

[2019-02-05 06:02] ArnoHue commented on #1934
OK! Right, worth mentioning is probably that the Windows/Chrome combination might make up what, maybe 80% of Scratchers' client systems? Maybe more? And a supposed 300-fold slowdown as compared to Scratch 2.0 is a quite a performance regression IMHO. Projects depend on having at least a similar performance as in Scratch 2.0.

[2019-02-05 11:51] towerofnix commented on #1934
Yes, agreed - that type of performance improvement will be a pretty big deal to any devices affected, which looks to be potentially a lot of the userbase!

[2019-02-05 13:30] ArnoHue commented on #1934
Thanks. I am not a contributor right now, and would have to set up a local environment. I think it would be more efficient if a ST member implemented it, given that it seems to be a one-liner.

[2019-02-05 16:18] #1953 closed, assigned to evhan55

[2019-02-05 19:47] ericrosenbaum opened #1975 "Vernier gdxfor extension should disconnect on sensor timeout"
### Expected Behavior

When the Vernier Force and Accel sensor powers off or the battery dies, the extension should show a disconnect alert.

### Actual Behavior

No disconnect, yet!

### Steps to Reproduce

- Add the extension and connect
- Power it down by holding down the power button (or, wait for the battery to die, or walk out of BLE range)

[2019-02-05 19:48] ericrosenbaum opened #1976 "Vernier gdxfor sensor should update every 100ms"
- Sensor update interval should be set to 100ms (not faster)
- Move that value into a constant

[2019-02-05 19:53] ericrosenbaum opened #1977 "Vernier gdxfor extension "falling?" reports true while hardware disconnected"
### Expected Behavior

While the Vernier Force and Accel sensor is not connected, the reporter blocks should all report reasonable default values.

### Actual Behavior

The `<falling?>` reporter reports true, while the sensor is not connected.

### Steps to Reproduce

- Load the extension, without connecting to the sensor.
- Clicking the falling? reporter, and it reports true.

[2019-02-06 16:08] greenkeeper[bot] opened #1980 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.29.1` to `4.29.2`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Fwebpack-4.29.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project. It **might not

[2019-02-07 16:40] #1980 closed, assigned to nobody

[2019-02-07 20:25] evhan55 opened #1987 "Vernier gdxfor: global names cleanup"
Would be nice for the globals in the GDXFor extension file to match the naming patterns in the other hardware extensions

[2019-02-07 20:34] ericrosenbaum opened #1988 "Vernier gdxfor tilt values should be 0 when disconnected"
### Expected Behavior

Tilt reporter should report 0 when the device is disconnected.

### Actual Behavior

While disconnected, the tilt reporter reports -90 for "front", 90 for "back", etc.

### Steps to Reproduce

- Add the extension but do not connect to a device
- Click the "tilt" reporter

[2019-02-07 20:54] #1977 closed, assigned to evhan55

[2019-02-07 21:09] evhan55 commented on #1976
Resolved by https://github.com/LLK/scratch-vm/pull/1984

[2019-02-07 21:09] #1976 closed, assigned to evhan55

[2019-02-07 22:23] #1975 closed, assigned to evhan55

[2019-02-08 05:39] greenkeeper[bot] opened #1991 "An in-range update of tap is breaking the build 🚨"
## The devDependency [tap](https://github.com/tapjs/node-tap) was updated from `12.5.1` to `12.5.2`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Ftap-12.5.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

tap is a devDependency of this project. It **might not break your p

[2019-02-08 10:12] griffpatch opened #1992 "Mouse Move Event Performance Issue"
I have noted the projects that use the mouse / touch to interact (more prevalent now that we are moving to mobile devices) can lag a lot when using mouse, but be smooth as silk when using keyboard.

Here is a test I put together: https://llk.github.io/scratch-gui/develop/#285371327

This create 20 full page sprites and then has a single game loop that moves 1 small sprite after the mouse. And that

[2019-02-08 10:15] chrisgarrity commented on #1968
Confirmed that the text is designed for low-vision users, and added context in transifex.

[2019-02-08 10:23] #1968 closed, assigned to chrisgarrity, ericrosenbaum, evhan55

[2019-02-08 13:27] griffpatch commented on #1992
This is a simplified version of the mouse lag in a real game scenario: https://llk.github.io/scratch-gui/develop/#285358924

This is the performance log (running full screen):
![performance](https://user-images.githubusercontent.com/6737342/52480379-6ecb6d80-2ba3-11e9-81a6-8f7325428e19.png)

A: Shows gameplay using keyboard - very little CPU usage
B: Shows no gameplay, but mouse dragging on screen

[2019-02-08 14:15] #1991 closed, assigned to nobody

[2019-02-08 14:16] thisandagain commented on #1992
/cc @mzgoddard @kchadha @paulkaplan @picklesrus

[2019-02-08 17:18] mzgoddard commented on #1992
I think there are two parts to what is causing mouse move/drag lag.

1. We extract the drawable under the mouse when a drag is starting.
2. We decide to not enter the drag state if the stage is fullscreen, the stage is player only, or the drawable is not draggable.

So we do the first and then given the second we do that work with no payoff. The extracted data isn't used. Extracting the drawable i

[2019-02-08 17:56] griffpatch commented on #1992
That sounds extremely positive :), thanks @mzgoddard

On Fri, 8 Feb 2019 at 17:18, mzgoddard <notifications@github.com> wrote:

[2019-02-08 20:27] evhan55 commented on #1845
I am not able to reproduce this today, and I am wondering if it may have been inadvertently fixed by https://github.com/LLK/scratch-vm/pull/1763, but I am not sure

[2019-02-09 22:43] ArnoHue commented on #1934
I tried to get the scratch-blocks build environment working on Window 10, but ran into the same problems around shell process-open, google closure lib, max filename len, etc in build.py that griffpatch and others have reported before. Having worked-around one bug, I just ran into the next. I might have to switch to a Linux box to by able to work on a fork.

[2019-02-10 09:28] griffpatch commented on #1934
My builds are now working in Windows 10. But I'm sorry to say I would not
be much help trying to guide you as to what I did! But perhaps the
knowledge that I got there might give you some hope!?

On Sat, 9 Feb 2019, 22:43 ArnoHue <notifications@github.com wrote:

[2019-02-10 21:49] ArnoHue commented on #1934
Thanks, good to know this is possible and my efforts will not be in vain. The issues and comments created by you and others already helped a lot. Also, I can live without rebuilding scratch-blocks at the moment, as the problem I try to address here is in scratch-vm.

And this is where things got interesting today, as I noticed one machine where the replace-item-block performance was back to normal

[2019-02-12 02:40] evhan55 commented on #1845
Nevermind, reproduced it today, but don't have clear STR

[2019-02-12 14:48] TheLogFather commented on #1934
Here's a potentially related data point for consideration...

In running a list-insert test project on my MacBook, I see a huge difference in performance between Safari (v.fast) vs Chrome/Firefox (v.slow).

Here's the project: https://scratch.mit.edu/projects/41196030/

[2019-02-12 19:10] ericrosenbaum opened #1997 "Localize name of Text to Speech extension"
Looks like we inadvertently failed to localize the name of the Text to Speech extension

[2019-02-12 19:35] ArnoHue commented on #1934
Thanks, I think JS array implementations can vary a lot, even at runtime the engine might decide to apply either an arraylist or a map, depending on the sparsity of data, etc. With an arraylist as backing data structure, I would not be surprised of bad insert performance at the beginning of the list. That's why I always preferred prefilled lists and replace-by blocks where applicable, from which I

[2019-02-13 08:34] griffpatch commented on #1992
I've had a number of conversations with scratchers who have been asking me how to improve their games because they were performing badly, and when talking about their projects it appears to be linked to mouse controlled games. I do suspect that this issue may be the cause. Very simple games become heavily CPU dependent once the mouse gets involved.

[2019-02-13 16:15] TheLogFather commented on #1934
Yes, Scratch Life is affected by list issues with Scratch 3, but mainly on non-Safari (well, as far I can test – only others on my MacBook are FF & Chrome).

Since Scratch 2 had issues with list-insert into large lists (hence the old speed-test demo project linked above) I always tried to avoid it, devising instead some implementation that (nearly always) used list-add and list-replace (both of wh

[2019-02-13 16:19] #1971 closed, assigned to paulkaplan

[2019-02-13 19:18] evhan55 commented on #1845
@ericrosenbaum May have experienced this with the micro:bit on macOS today

[2019-02-13 20:46] #1988 closed, assigned to evhan55

[2019-02-13 21:48] ArnoHue commented on #1934
Thanks, this all sounds very familiar! I also erase and repaint everything now because erasing cells led to anti-alias leftovers, among other issues. I ran Scratch Life, it is very cool! And the startup time looks OK again on Chrome 72 - same Array.splice() issue I guess. Maybe we can continue discussing on Scratch, probably this forum thread? https://scratch.mit.edu/discuss/topic/339096/

[2019-02-14 17:44] ktbee commented on #1743
Thought I'd note something interesting I found while repro-ing: when you don't use the "round" block, the Scratch Cat sprite is able to say the correct distance to the sprite with the numeric name. The "round" block might be part of the culprit here.

![screen shot 2019-02-14 at 12 44 20 pm](https://user-images.githubusercontent.com/7991694/52806168-50a7b680-3056-11e9-9aed-4bd4bd0aa38f.png)

[2019-02-15 15:13] evhan55 commented on #1616
Won't fix

[2019-02-15 15:13] #1616 closed, assigned to evhan55

[2019-02-15 16:44] greenkeeper[bot] opened #2001 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.29.3` to `4.29.4`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Fwebpack-4.29.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project. It **might not

[2019-02-16 00:56] greenkeeper[bot] opened #2004 "An in-range update of tap is breaking the build 🚨"
## The devDependency [tap](https://github.com/tapjs/node-tap) was updated from `12.5.2` to `12.5.3`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Ftap-12.5.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

tap is a devDependency of this project. It **might not break your p

[2019-02-16 03:15] greenkeeper[bot] opened #2005 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.2.2` to `7.3.3`.
- The `devDependency` [@babel/preset-env](https://www.npmjs.com/package/@babel/preset-env) was updated from `7.3.0` to `7.3.1`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Fmono

[2019-02-18 20:13] greenkeeper[bot] opened #2006 "An in-range update of eslint is breaking the build 🚨"
## The devDependency [eslint](https://github.com/eslint/eslint) was updated from `5.14.0` to `5.14.1`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Feslint-5.14.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

eslint is a devDependency of this project. It **might not brea

[2019-02-19 22:30] joker314 commented on #1743
@kchadha Yeah, the "round" block returns a JavaScript Number, whereas the raw variable block returns a JavaScript String. We still need to have the distinction because things like the "switch to costume" blocks take the type of the data into account if there is a costume with a name that is a number.

In Scratch 2.0, it can be seen that double equality (i.e. with type coercion) is used at the leve

[2019-02-20 15:40] kchadha commented on #1743
@ktbee, I think @joker314 meant to tag you in that response.

In regards to @ericrosenbaum's question, I looked at all the places where `getSpriteTargetByName` is used in the VM and it is used solely in block functions with the exception of `isTouchingSprite` which in turn is used by block functions. Thus, I think it's reasonable check if the input has type `number` in that function and convert it

[2019-02-20 18:49] ktbee commented on #1743
Thank you for taking a look @joker314 @kchadha! I also dug into this a bit and have a better sense of @ericrosenbaum's question now. Initially I was thinking the same thing as @kchadha, that we should just always cast the sprite name to a string if we need to in `getSpriteTargetByName` to avoid this issue in the future and to avoid repeating similar logic in multiple blocks. However, we may want t

[2019-02-20 21:10] joker314 opened #2010 "Uneven probability distribution in switching to a random backdrop"
### Expected Behavior

`switch backdrop to [random backdrop v]` has an equal chance of picking all backdrops, except for the current backdrop which should never be picked.

### Actual Behavior
Unless the currently selected backdrop is the penultimate one,
- the last backdrop will never be picked; and
- the backdrop directly after the current backdrop has a higher chance of being picked

This is be

[2019-02-20 22:26] kchadha commented on #1743
@ktbee, I'm fine with fixing it in the original blocks if there is going to be an optimization for the casting. Maybe file an issue for that so that @mzgoddard's work can reference that and this discussion can be tracked.

For fixing it in the original blocks, it would be good to make sure that it's fixed in all of the places that @ericrosenbaum's original description mentions:

[code]

[2019-02-20 22:36] kchadha commented on #1743
@ktbee I'm fine with either approach. If you go with the former, it would be good to track the idea of needing to cast in one place in an issue (so that this discussion can be tracked and @mzgoddard can reference the issue when that's been fixed).

If you decide to fix it in the individual block definitions, it would need to get fixed for the following blocks mentioned in @ericrosenbaum's PR descr

[2019-02-21 14:18] ktbee commented on #1743
Sounds good @kchadha! And thank you for (re)enumerating the blocks that should have the string casting added, I had missed that in @ericrosenbaum's original description. I'll file the optimization issue for @mzgoddard  and add string casting to those blocks.

[2019-02-21 15:40] ktbee opened #2013 "Cast sprite names in one place before passing to getSpriteTargetByName"
### Expected Behavior

All blocks should be able to get a sprite target when passing a name if the sprite exists.

### Actual Behavior

If the sprite name is a number, it might not be able to find the sprite. `getSpriteTargetByName` expects a string, and if a block doesn't cast a name to a string, the sprite target can't be found. We should cast the name to a string in one place instead of multipl

[2019-02-21 15:40] ktbee commented on #2013
@mzgoddard I assigned you this issue since I know this is something you wanted to tackle in your optimization work.

[2019-02-25 15:17] evhan55 opened #2015 "Hardware Extensions: Add RateLimiter to EV3"
When filing PR, include test case

[2019-02-25 15:18] evhan55 opened #2016 "Hardware Extensions: Add TaskQueue to WeDo2"
When filing PR, include test case

[2019-02-25 15:30] evhan55 opened #2017 "WeDo2: Rename 'startBraking' to 'coastAfter'"
Add comment/diagram to help explain the motor/braking/coasting behavior?

[2019-02-25 16:33] kchadha commented on #1992
@mzgoddard, is this issue fully resolved by LLK/scratch-gui#4562?

[2019-02-25 19:02] #2006 closed, assigned to nobody

[2019-02-25 19:02] #2005 closed, assigned to nobody

[2019-02-25 19:02] #2004 closed, assigned to nobody

[2019-02-25 19:02] #2001 closed, assigned to nobody

[2019-02-25 22:27] picklesrus commented on #1077
After @kchadha's change to parser, there are still some things that we need to fix to solve this problem fully.  They're outlined in this doc: https://docs.google.com/document/d/1W5DlZAM4QFuwdeSZHypPDIhd25l6j6kD90uzYBVRLOU/preview
but the key info is copy/pasted here:

Questions:
- What other characters (other than the backspace one) does this happen for?

Known manifestations of this bug
- Contro

[2019-02-26 02:28] #1807 closed, assigned to nobody

[2019-02-28 16:07] picklesrus commented on #1561
Here's an additional list of problems

- loading a project in Bahasa Indonesian reports the current language as “Indonesia” instead of the name of the language in Indonesian
- Both Norwegian languages we have in Scratch (Norsk Bokmal and Norsk Nynorsk) are both missing from the translate menu (Google translate has just one version of Norwegian)
- Loading a project in the following languages report

[2019-03-01 11:08] chrisgarrity opened #2021 "Adding, deleting or moving a monitor doesn't trigger project changed"
### Expected Behavior

_Please describe what should happen_
Adding, deleting and moving monitors should emit a project changed event. This one may be an easy fix.

### Actual Behavior

_Describe what actually happens_
Project doesn't appear to be changed

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_
Add or remove monitors. '

[2019-03-01 11:18] chrisgarrity opened #2022 "Changing costume or backdrop should emit project changed"
### Expected Behavior

_Please describe what should happen_
Selecting a different costume or backdrop in the editor should emit a project changed event. It changes which costume the sprite should have when the project loads. (Probably an easy fix).
Note: switching costumes by running blocks should **not** emit project changed.

### Actual Behavior

_Describe what actually happens_
Switching costum

[2019-03-01 14:31] griffpatch commented on #2022
But only if done manually I assume through the editor, not via executing a
block?
If the scratch runtime changes it while running your project / game... You
don't really want that to trigger a save, right?

On Fri, 1 Mar 2019 at 11:18, chrisgarrity <notifications@github.com> wrote:

[2019-03-01 14:37] chrisgarrity commented on #2022
@griffpatch correct, I'll clarify in the description!

[2019-03-01 16:05] kchadha opened #2023 "Using a monitor to change a variable/list does not trigger project changed"
### Expected Behavior

Changing the value of a variable through a monitor (e.g. adding/deleting items from list monitors, changing value of scalar var using slider) should trigger "save now".

### Actual Behavior

Related to #2021, changing a variable or a list through a monitor does not change trigger project changed state.

Possibly also related to/blocking on LLK/scratch-gui#3652

### Steps to

[2019-03-01 16:07] kchadha opened #2025 "Changing monitor mode doesn't trigger project changed state"
### Expected Behavior

Changing the mode of a monitor (e.g. changing from default to 'large' or 'slider') should trigger 'Save Now' to appear in the menu bar.
### Actual Behavior

It doesn't.
Related to #2021

[2019-03-01 16:15] kchadha opened #2026 "Changing a block or workspace comment doesn't trigger project changed until the comment is un-focused"
### Actual Behavior

Found by @BryceLTaylor in a bug hunt on (02/04/19):

Changing a block/workspace comment's text doesn't trigger project changed state until the user un-focuses the comment (by clicking away from it).

This is tricky issue because scratch-blocks currently does not emit a comment changed event until the comment is un-focused.

### Expected Behavior

Possibly something else... thi

[2019-03-01 16:18] kchadha opened #2027 "Switching to a sprite that has a block comment triggers a project changed state"
### Expected Behavior

Switching sprites should not trigger a project changed state (e.g. "Save Now" appears in menu bar).

### Actual Behavior

Switching to a sprite that has a block comment triggers a project changed state.

[2019-03-01 16:27] kchadha opened #2028 "Duplicating a sprite without any blocks does not trigger project changed state"
### Expected Behavior

Duplicating a sprite should trigger "Save Now" to appear in the menu bar.

### Actual Behavior

Duplicating a sprite that does not have any blocks on the workspace does not trigger a project changed state.

[2019-03-01 16:31] kchadha opened #2029 "Switching between a duplicate sprite and original sprite triggers project changed state"
### Expected Behavior

Switching sprites should not cause "Save Now" to appear in menu bar.

### Actual Behavior

Switching between two sprites (A and B) where A has blocks and B is a duplicate of A, triggers a project changed state and should not. This is related to LLK/scratch-gui#4573

### Steps to Reproduce

1. Create a new project
2. Add blocks to Sprite1
3. Duplicate Sprite1
4. Click "Save N

[2019-03-01 16:41] kchadha opened #2030 "Dragging code triggers project changed even if no change occurred (e.g. drag was cancelled)"
### Expected Behavior

Dragging code but cancelling the action should not trigger "Save Now" to appear in the menu bar.

### Actual Behavior

Dragging code always triggers a project changed state even if:

1) Dragging out of the toolbox and then cancelling the drag by moving the block back to the toolbox to delete it
2) Dragging a block from the toolbox directly to the backpack (no actual change o

[2019-03-01 16:59] kchadha commented on #2022
From previous notes, we think this will require adding a top level VM API to set a target's costume and a change to the GUI to call the new API.

[2019-03-01 17:01] kchadha opened #2031 "Sharing a costume to a target should trigger project changed state"
### Expected Behavior

Sharing a costume to a target (including Stage) should trigger a "Save Now" in the menu bar.

### Actual Behavior

It doesn't.

[2019-03-01 19:37] cwillisf opened #2032 "Ensure Scratch Link connection recovers from flaky network"
### Expected Behavior

- If the extension system tries to connect to Scratch Link and the DNS lookup fails, the Scratch Link connection as a whole will fail.
- If the network connects after this initial failure, possibly because flaky WiFi reconnected or the user connected to a new network, the connection to Scratch Link should start working. Ideally this should work without reloading the editor p

[2019-03-04 16:00] kchadha commented on #1077
Removing the critical label from this issue as the blocks should no longer be disappearing on these projects and we have a workaround for some of the other symptoms of this issue.

cc/ @picklesrus @thisandagain

[2019-03-04 20:29] #1537 closed, assigned to evhan55

[2019-03-06 16:09] paulkaplan opened #2036 "Implement a public collectMetadata function for telemetry"
There is a standard set of project metadata that is sent with telemetry events which is currently created manually, we should move it to the VM where it belongs. Currently this is done on the gui/scratch-desktop branch since only the offline editor uses it. Here is that implementation:

https://github.com/LLK/scratch-gui/compare/scratch-desktop#diff-2e0062a7e2f44684af5a0ef1cf858c52R7

[code]

[2019-03-07 03:20] greenkeeper[bot] opened #2039 "An in-range update of tap is breaking the build 🚨"
## The devDependency [tap](https://github.com/tapjs/node-tap) was updated from `12.5.3` to `12.6.0`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Ftap-12.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

tap is a devDependency of this project. It **might not break your p

[2019-03-07 15:29] cor3ntin opened #2040 "Per-block /block type color in extension"
We would like to assign a color per block type (or, per block) in our extension (Thymio)
Is there a way to do that?
Otherwise, could such feature be considered?

Thanks a lot

[2019-03-07 19:27] ktbee commented on #1451
Fixed by https://github.com/LLK/scratch-render/pull/400 !

[2019-03-07 19:27] #1451 closed, assigned to ktbee

[2019-03-08 20:54] ktbee commented on #1743
Resolved by https://github.com/LLK/scratch-vm/pull/2038

[2019-03-08 20:55] #1743 closed, assigned to ktbee

[2019-03-11 15:00] kchadha commented on #1873
Removing the critical label from this as most issues created because of this character are now more recoverable (by saving and reloading the project) as a result of the changes in LLK/scratch-parser#53.

[2019-03-11 15:20] #2039 closed, assigned to nobody

[2019-03-11 16:13] BryceLTaylor opened #2044 "Touching Color reports false when some colors not selected with eyedropper"
### Expected Behavior

If you set the color of a shape by setting the numbers of its fill, the Touching Color sensing block should report that it's touching that color if its color was set to the same numbers.

### Actual Behavior

Fore some colors, such as blue (60, 100, 100) if you set the color of the Touching Color block by sliding the numbers to that position it will report false.  If you use

[2019-03-11 17:31] BryceLTaylor commented on #1478
Of the originally reported issues, the "Breathe" one from project 169401431, the red sprite not appearing in project 12714608, and the ordering issue from 239873312 appear to be fixed.   The ghosts still don't disappear when you win Pac Man in project 13701368.

[2019-03-13 19:47] ktbee commented on #1283
closed via #2042

[2019-03-13 19:48] #1283 closed, assigned to ktbee

[2019-03-13 22:26] amylh opened #2047 "Renamed list doesn't show updated name"
### Expected Behavior

Once a list is renamed, its graphic should display the updated name.

### Actual Behavior

When a list is renamed, the name displayed on the list's graphic is not updated.

### Steps to Reproduce

See this demo project: https://scratch.mit.edu/projects/293791473/
Or create your own project, make a list, and rename it.

### Operating System and Browser

LinuxMint 18.1, Mozill

[2019-03-14 09:41] apple502j commented on #2047
Duplicate of LLK/scratch-gui#4098

[2019-03-18 18:41] evhan55 commented on #1508
Reopening because of reversion: https://github.com/LLK/scratch-vm/pull/2049

[2019-03-18 21:03] thisandagain commented on #2040
/cc @kchadha @cwillisf

[2019-03-18 21:08] thisandagain commented on #2047
Tracking in LLK/scratch-gui#4098

[2019-03-18 21:08] #2047 closed, assigned to nobody

[2019-03-19 09:33] griffpatch opened #2053 "Assets Failing to Load (on mobile possibly?)"
### Actual Behavior

My recept scratch project 'Generic Red' (https://scratch.mit.edu/projects/292297781/) has had a surprising number of commentators saying that the game would start with missing platforms (equating to missing costumes assets I believe?).

The game works well on mobile, so a lot more mobile users have been using it, and it is often mentioned by people saying they were using mobil

[2019-03-19 12:47] thisandagain commented on #2053
@kchadha @paulkaplan We have seen this a bit in testing with mobile Safari as well, but we still don't quite understand the root cause. Let's discuss.

[2019-03-19 12:47] thisandagain commented on #2053
/cc @BryceLTaylor

[2019-03-19 14:24] evhan55 opened #2054 "Hardware extension status icon doesn't update correctly on some disconnects"
### Expected Behavior

Status icon for a hardware extension should turn orange if connection to it is lost.

### Actual Behavior

Status icon remains green.

### Steps to Reproduce

1. Connect to hardware extension, e.g. micro:bit
2. Quit Scratch Link
3. Disconnect alert appears (expected) but **status icon remains green** (not expected)

### Operating System and Browser

Mac Chrome

[2019-03-19 14:26] evhan55 commented on #2054
Possibly a regression introduced by: https://github.com/LLK/scratch-vm/pull/2043

[2019-03-19 16:19] ericrosenbaum commented on #1911
already fixed

[2019-03-19 16:19] #1911 closed, assigned to ericrosenbaum

[2019-03-20 14:28] #1997 closed, assigned to ericrosenbaum

[2019-03-20 15:01] #2054 closed, assigned to evhan55

[2019-03-21 00:07] rdococ opened #2057 "Allow setting a cloud variable to the current username"
You should be able to set a cloud variable to the username of the person that is currently viewing the project.

Setting a cloud variable to any other string, including any other username, will not work - only setting the cloud variable to the current username, gotten with the (username) block, would work.

This would make recording high scores much easier than it is currently, without removing to

[2019-03-21 00:58] towerofnix commented on #2057
Why not have a block like "user who most recently changed (cloud variable)"? It sounds like it would have the same benefits to me!

[2019-03-21 08:04] griffpatch commented on #2057
Yes, me, theLogFather and many others want this block (but perhaps a drop
down version that also gives the 'time' the block was last updated (in
server time perhaps)

On Thu, 21 Mar 2019 at 00:58, Florrie <notifications@github.com> wrote:

[2019-03-21 11:09] TheLogFather commented on #2057
Yes, "time since [cloudvar v] changed" (given in seconds –and note this form avoids any questions about time-zones and time format), and something like "user changed [cloudvar v]" (which would return blank if project never connected to cloud, e.g. for a New Scratcher –and note that would also provide a much less tedious and more easily comprehensible test that a project has made an initial cloud c

[2019-03-22 21:14] greenkeeper[bot] opened #2062 "An in-range update of tap is breaking the build 🚨"
## The devDependency [tap](https://github.com/tapjs/node-tap) was updated from `12.6.0` to `12.6.1`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Ftap-12.6.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

tap is a devDependency of this project. It **might not break your p

[2019-03-23 03:51] ZenithRogue opened #2064 "Menu formatting in extension documentation"
I am trying to write a [Scratch 2.0 to Scratch 3.0 extension converter](https://github.com/NitroCipher/ext2to3), but am confused by the lack of documentation surrounding the dropdown menus [here](https://github.com/LLK/scratch-vm/wiki/Scratch-3.0-Extensions-Specification).

Here is my [2.0 extension](https://raw.githubusercontent.com/NitroCipher/NitroBlock/master/MainScript.js)

And my [3.0 conver

[2019-03-24 13:10] naddison36 commented on #2064
There are a number of different options from what I've worked out. Try replacing in your code
[code]
with

[code]
Or
[code]
For this to work, you will also have to import the `formatMessage` function by adding
[code]
Or use the following function like is done in the [ev3](https://github.com/LLK/scratch-vm/blob/0b251adacef572d25d193990b0ccd68fae960fba/src/extensions/scratch3_ev3/index.js#L1115) ext

[2019-03-25 14:32] evhan55 commented on #1508
Keeping busy flag for now

[2019-03-25 14:32] #1508 closed, assigned to ericrosenbaum, evhan55, cwillisf

[2019-03-25 14:33] evhan55 commented on #2016
Keep RateLimiter for now

[2019-03-25 14:33] #2016 closed, assigned to evhan55

[2019-03-25 17:52] BryceLTaylor opened #2066 "Edge triggered hats should not trigger when green flag is clicked"
### Expected Behavior

An edge triggered hat,  such as the `When distance < 50` block, should not trigger when the green flag is clicked unless the condition of the hat goes from false to true.

### Actual Behavior

If there is no distance sensor sending data (or no Wedo connected) the `when distance < 50` block value defaults to 0.  When the green flag is clicked the it seems that the hat is brie

[2019-03-25 17:54] #2062 closed, assigned to nobody

[2019-03-25 17:55] thisandagain commented on #2064
Thanks @NitroCipher! This is really neat. As a heads-up: the Scratch 3.0 extension specification is still in very active development and the way menus work may continue to change. Once our extension specification is a little more settled we will publish documentation.

/cc @cwillisf @kchadha

[2019-03-25 18:03] ericrosenbaum opened #2067 "Vernier "when turned face up/down" hat often triggers twice"
### Expected Behavior

The "when turned face [up, down]" hat often triggers twice when you turn the device over.

### Actual Behavior

The hat block should fire once when you turn the device over.

Smoothing the Z axis acceleration didn't help much. I think I'll try using a simple hysteresis approach (e.g. like a Schmitt trigger).

[2019-03-25 20:24] #2067 closed, assigned to ericrosenbaum

[2019-03-25 20:26] kchadha commented on #2066
Possibly related to the changes made in #1834

[2019-03-26 15:03] kchadha commented on #2066
I manually reverted the changes in #1834 and this bug still exists without the changes made in that PR.

[2019-03-26 22:05] BeksOmega opened #2072 "Broadcasts can be De-Synced by Adding a "Wait 0" Delay."
### Expected Behavior

If you add a "wait 0 seconds" block before a broadcast, and the code is running in parrallel with another chunk of code, the two broadcasts should still broadcast at the same time.

### Actual Behavior

The broadcast in the chunk of code with the "wait 0 seconds" block is called second.

### Steps to Reproduce

You can see a minimal example of this built in scratch [here](ht

[2019-03-27 00:39] towerofnix commented on #2072
This is intentional actually! The "wait 0 seconds" block is equivalent to "wait one frame", and this is made good use of in a good deal of projects - changing the block to not yield would certainly break compatibility with many projects (especially since this is the same behavior as in Scratch 2.0).

Edit - Just to share some input on *why* this can be useful, well, it helps to resolve parallelism

[2019-03-27 08:50] griffpatch commented on #2072
Yeah DON'T CHANGE THAT ;) *grin*

On Wed, 27 Mar 2019 at 00:39, Florrie <notifications@github.com> wrote:

[2019-03-27 11:02] griffpatch opened #2073 "Should Scratch 3 collisions be deterministic?"
### Expected Behavior

Playback of gameplay movements recorded into a list should result in the same game play video each time independent of screen resolution.

### Actual Behavior

At full screen / project view sizes the game play changes, I suspect due to differing collision regions / rasterized silhouettes? This may well be something that is the desired behavior based on Scratch 2 compatibilit

[2019-03-27 14:11] BeksOmega commented on #2072
Awesome! When I reported this I was actually secretly thinking "I kind of hope they don't change this because this would be super useful!" So I'm glad to hear it's intentional hehe.

Thanks for writing up such a detailed post! That makes a whole lot more sense than whatever internal schema I had before. Thinking of the broadcasts like a flag rather than a function call or a queue makes a lot of th

[2019-03-27 14:11] #2072 closed, assigned to nobody

[2019-03-27 14:24] TheLogFather commented on #2072
Yes, as above, this is normal and expected behaviour for Scratch 3 (and was same with Scratch 2).

For an overview of the Scratch 2 execution engine, you might find these posts helpful:
https://scratch.mit.edu/discuss/post/2437600/
https://scratch.mit.edu/discuss/post/2413813/
https://scratch.mit.edu/discuss/post/2223919/
https://scratch.mit.edu/discuss/post/2515915/

Scratch 3 is written to run s

[2019-03-28 19:54] ktbee opened #2074 "Investigate removing an update to currentMSecs"
### Expected Behavior

We only update `currentMSecs` when necessary both to match Scratch 2's behavior

### Actual Behavior

We may have an extra update to `currentMSecs` that causes some incompatible behavior. The line in question is here: https://github.com/LLK/scratch-vm/blob/develop/src/engine/sequencer.js#L141

I added this update to `currentMSecs` initially thinking we needed it because of t

[2019-03-28 19:57] kchadha commented on #1661
Marking this issue as needs discussion / needs info (and removing help wanted) since it seems like the actual compatibility issue here is not rounding. Looking at the scratch-flash code, the ghost effect value does not seem to be rounded, so the compatibility issue manifested in this project seems to be caused by something else:
236788917

[2019-03-29 03:37] zhengyongxiong opened #2075 "add a extension erro"
### Expected Behavior

_Please describe what should happen_

### Actual Behavior

_Describe what actually happens_

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_

[2019-03-29 03:37] zhengyongxiong commented on #2075
![image](https://user-images.githubusercontent.com/13392637/55207893-0732b580-5217-11e9-8246-9421d146917f.png)
![image](https://user-images.githubusercontent.com/13392637/55207908-14e83b00-5217-11e9-82d7-b8c9b3e75866.png)

[2019-03-29 03:38] zhengyongxiong commented on #2075
What the hell is going on here?

[2019-03-29 08:36] griffpatch opened #2076 "Collision Hitbox shrinks when sprite selected with mouse?"
### Expected Behavior

Hitbox stays the same when you select a sprite in the editor

### Actual Behavior

Hitbox appears to shrink?

### Steps to Reproduce

See: https://llk.github.io/scratch-gui/develop/#298267285

Play the project then "click on sprite2" in the editor
The point of collision with sprite1 changes.
Pressing green flag resets it again
Also pressing space to change the costume of spr

[2019-03-29 08:49] Kenny2github commented on #2076
Cannot reproduce on Chrome 73.0.3683.86 Windows 10.0.17763.379

[2019-03-29 08:49] griffpatch opened #2077 "Symmetrical hitbox appears to change when flipped"
### Expected Behavior

A pixel perfect symmetrical costume should have a symmetrical hitbox?

### Actual Behavior

It appears to be out by a pixel depending on the object being collided with.

### Steps to Reproduce

See: https://llk.github.io/scratch-gui/develop/#298272564
Run the project then press D to flip cubes direction - hitbox changes.

### Operating System and Browser

Chrome Windows PC

[2019-03-29 09:01] griffpatch opened #2078 "Hitbox changes when switching to fullscreen, but is then fixed"
### Expected Behavior

The hitbox should be identical no matter on the size of the screen to ensure a deterministic experience.

### Actual Behavior

Changing to fullscreen changes the sprites hitboxes / silhouette permanently (until the project is reloaded).

### Steps to Reproduce

See: https://llk.github.io/scratch-gui/develop/#298276061

Play project when loaded for first time and look at HIT

[2019-03-29 09:53] griffpatch commented on #2076
Interesting - here it is on Windows 10 Chrome 73.0.3683.86 (Official Build) (64-bit)

![ezgif com-crop](https://user-images.githubusercontent.com/6737342/55224430-7228c000-5208-11e9-8359-9f1a7b283572.gif)

[2019-03-29 15:17] griffpatch opened #2079 "Altering sound effects (volume, pitch, etc) causes script pause"
### Expected Behavior

When using "set volume to" the project should run smoothly without any imposed delays.

### Actual Behavior

When the volume is set, the game yields one frame (even in a wait without screen refresh block it still yields one frame!?!?!)

### Steps to Reproduce

https://llk.github.io/scratch-gui/develop/#298393452
Click through the scripts referencing the comments.

### Operat

[2019-03-29 15:55] BryceLTaylor opened #2080 "Connecting a stack to a edge triggered hat behaves differently in 2.0 and 3.0"
### Behavior

In 2.0, if there is no code attached to an edge triggered hat, when you then attach code to it while the condition is true, it runs the code, even if it was not previously false.  In 3.0, the condition must have been previously false on an edge triggered hat in order for it to run.

It looks like 2.0 considers the hat to have been false before attaching any blocks.  It has to be the

[2019-03-29 15:56] BryceLTaylor commented on #2080
Possibly related to: https://github.com/LLK/scratch-vm/issues/2066

[2019-03-29 17:01] #906 closed, assigned to ktbee

[2019-03-29 17:12] ktbee commented on #2074
Ended up being resolved by https://github.com/LLK/scratch-vm/pull/1943

[2019-03-29 17:12] #2074 closed, assigned to nobody

[2019-03-30 04:04] apple502j commented on #2079
https://github.com/LLK/scratch-vm/blob/develop/src/blocks/scratch3_sound.js#L330
lol, there is Promise.resolve() with `// Yield until the next tick.`

I blamed and found out #1184 is the cause. ( issue: #1063 )

[2019-03-30 05:38] Kenny2github commented on #2076
Oh, yes, now I can reproduce it. (The project didn't work that way when I tried the first time!).

[2019-03-30 19:39] greenkeeper[bot] opened #2082 "An in-range update of docdash is breaking the build 🚨"
## The devDependency [docdash](https://github.com/clenemt/docdash) was updated from `1.0.3` to `1.1.0`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Fdocdash-1.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

docdash is a devDependency of this project. It **might not br

[2019-04-01 22:51] #2082 closed, assigned to nobody

[2019-04-02 15:25] TheLogFather commented on #1704
Was just wondering if this was meant to have now regressed so that projects with certain 'hacked'(/undefined) blocks no longer load again?

For example:
https://scratch.mit.edu/projects/83967960/ ('hacked' "attribute of sprite" sensor block)
https://scratch.mit.edu/projects/10085324/ (red "undefined" block)

[2019-04-02 15:30] TheLogFather commented on #1704
Also looks like the project I referenced above (https://scratch.mit.edu/projects/148155722/) is broken again too – it loads in this case, and it even runs correctly, but the script with 'hacked' block is invisible (sound like as mentioned in #3579).

[2019-04-02 15:38] TheLogFather commented on #1030
Since this is still open, maybe I should've put this 'hacked'-block load-failure comment/question here, rather than in that closed issue? (Even though it looks like a regression of that one)...
https://github.com/LLK/scratch-vm/issues/1704#issuecomment-479049950

Also, see comment/question that follows the one above (about another case with invisible script)...
https://github.com/LLK/scratch-vm/is

[2019-04-02 20:26] ericrosenbaum opened #2085 "BOOST extension: stalled motor causes rotation block to hang"
### Expected Behavior

When you run the LEGO BOOST "turn motor A for 1 rotations" block, if the motor is physically prevented from rotating (e.g. if it is stalled by too much load), the block should eventually stop yielding, so the stack can continue to the next block. We will need to discuss the exact desired behavior here.

### Actual Behavior

If the motor is stalled, the block appears to yield

[2019-04-02 20:27] ericrosenbaum opened #2086 "BOOST extension: behavior of "rotations" block for 0% power?"
We should consider what the desired behavior is for the "turn motor A for 1 rotations" block, in the case where the motor power has been set at or close to 0%, which will prevent the motor from completing the rotation.

This may be solved by our solution to https://github.com/LLK/scratch-vm/issues/2085

[2019-04-02 22:41] ericrosenbaum opened #2087 "BOOST extension: can't change motor direction while it's running"
### Expected Behavior

While a motor is running, having been started in any of the ways available (motor on, on for seconds, or on for rotations), it should be possible while it is running to change the direction of the motor using the "set motor direction" block. In the case of "on for seconds", the motor should continue running for the remainder of the time. In the case of "on for rotations", th

[2019-04-02 22:42] ericrosenbaum opened #2088 "BOOST extension: can't change motor speed while it's running"
### Expected Behavior

While a motor is running, having been started in any of the ways available (motor on, on for seconds, or on for rotations), it should be possible while it is running to change the speed of the motor using the "set motor speed" block. In the case of "on for seconds", the motor should continue running for the remainder of the time. In the case of "on for rotations", the motor

[2019-04-02 22:47] ericrosenbaum opened #2089 "BOOST extension: default motor speed should be 50%?"
In the EV3 extension, we set the initial value for the power of the motors to 50%, instead of 100% (i.e. not the default value for the input of the block, but the actual value set internally when the extension loads). We should consider doing the same for the BOOST.

This would make the initial experience of the motor moving a bit more gentle. It also gives you room for an increase, so that settin

[2019-04-02 22:48] ericrosenbaum opened #2090 "BOOST extension: color names should be localized"
### Expected Behavior

All text presented by an extension to the user should be localized.

### Actual Behavior

Looks like the color names used by the color reporter are not localized.

[2019-04-02 22:54] ericrosenbaum opened #2091 "BOOST extension: "when color seen" hat not working"
The "when color seen" hat does not seem to trigger at all. I know this was working at some point! maybe the code just got out of sync.

In general, it looks like some cleanup may be needed in how color is represented in the code, to help distinguish between the numeric values reported by the sensor, the values used internally in the menu, the localized names used on the menu, and the localized nam

[2019-04-02 23:44] knandersen commented on #2089
aaah, that's a great point! I assumed that since the default value for the block input was 100, that the initial speed should follow that, but your reasoning makes a lot of sense, and I agree it's a great way of ensuring "something happens", the first time the block is used.

[2019-04-04 01:38] xiaolong2104 commented on #1776
execuse  me，do you solve the problem？？thank you！

[2019-04-04 01:45] xiaolong2104 opened #2092 "how playground working with keyboard？ Thank you very much！！！"
document.addEventListener('keyup', e => {
              // Always capture up events,
              // even those that have switched to other targets.

              /*vm.postIOData('keyboard', {
                  keyCode: e.keyCode,
                  isDown: false
              });*/

              vm.postIOData('keyboard', {
                  key: 'Up',
                  isDown: false

[2019-04-04 03:16] xiaolong2104 opened #2093 "How to control the sprite with keyboard in html canvas??thank you!"
How to control the sprite with keyboard in html canvas??
My project need to control the sprite with arrow button and space ,mouse ...when i load my sb3 file in  playground ,the mouse event work but the keyboard event not work ? I do not know why?
thank you !

// Feed keyboard events as VM I/O events.
          document.addEventListener('keydown', e => {
              // Don't capture keys intended

[2019-04-04 04:55] apple502j commented on #2093
Use Scratch 3.0 GUI to play projects.
https://llk.github.io/scratch-gui/develop/

[2019-04-04 04:56] apple502j commented on #2092
Duplicate of #2093

[2019-04-04 05:00] xiaolong2104 commented on #2093
Thank you,but i want do like this ,run in scratch stage! Use left and right arrow  to control sprite in html cancvas!

https://scratch.mit.edu/projects/298230520/

[2019-04-04 05:01] xiaolong2104 opened #2094 "Use Scratch 3.0 GUI to play projects."
Thank you,but i want do like this ,run in scratch stage! Use left and right arrow to control sprite in html cancvas!

https://scratch.mit.edu/projects/298230520/

[2019-04-04 05:07] xiaolong2104 commented on #2092
Thank you,but i want do like this ,run in scratch stage! Use left and right arrow to control sprite in html cancvas!

https://scratch.mit.edu/projects/298230520/

[2019-04-05 09:26] owenliang commented on #1776
yes，my weichat: meihua90

xiaolong2104 <notifications@github.com> 于 2019年4月4日周四 上午9:38写道：

[2019-04-05 14:43] evhan55 commented on #2091
oooh `colorBucket` rename idea sounds good

[2019-04-05 18:39] knandersen commented on #2091
Yeah I agree about the renaming (addressed in https://github.com/LLK/scratch-vm/pull/2096), and that a cleanup between numeric and string representation could be useful.

The hat-block works for me though! @ericrosenbaum can you give me steps to repro? If it still doesn't work, can you check and see if the reporter works? just to see if it's the entire sensor not working for you.

I do get some fa

[2019-04-06 12:55] apple502j commented on #2079
See Compatibility Wiki:
https://github.com/LLK/scratch-vm/wiki/Compatibility#set-and-change-volume-blocks-now-yield

[2019-04-06 15:19] evhan55 commented on #2091
Here is a video of me testing it yesterday showing some instability:
https://photos.app.goo.gl/qzp2RYTW2RJmDdjz8

And here is a photo of a red candle next to a red LEGO brick, the red candle never reported `red`:
![img_20190405_164606_1024](https://user-images.githubusercontent.com/699840/55671406-b72ea100-585d-11e9-853a-64bdc16366ca.jpg)

Talking with @knandersen, he believes this may be best cas

[2019-04-06 15:20] evhan55 commented on #2091
@knandersen Said he will take this on so I will assign to him.  Please feel free to reassign to me if you'd like me to take it on instead.

[2019-04-06 22:46] griffpatch commented on #2079
This is not what it does though... You can do two graphic operations in a
row and it only yeilds once, however, two set volumes in a row yeilds
twice...?

On Sat, 6 Apr 2019, 13:55 apple502j, <notifications@github.com> wrote:

[2019-04-07 02:44] towerofnix commented on #2094
You'll want to look into embedding [scratch-gui](https://github.com/LLK/scratch-gui/) (see [this file](https://github.com/LLK/scratch-www/blob/develop/src/views/preview/presentation.jsx) for reference - specifically [these properties](https://github.com/LLK/scratch-www/blob/66df143bbc99274fc89541ae5ddea25e5e4e7302/src/views/preview/presentation.jsx#L328-L347)). scratch-gui can only be embedded in

[2019-04-08 13:48] knandersen commented on #2091
@ericrosenbaum @evhan55

Just a few notes about the sensor:

- It is designed to detect certain LEGO bricks (shiny plastic): Bright Red, Blue, Dark Green, Yellow, White, and Black.
- Its range is somewhere between 5-15mm.

After having tested the sensor this morning I feel like it's actually performing as well as I would ever expect it to. I do however feel like I'm biased when testing the sensor,

[2019-04-08 14:01] ericrosenbaum commented on #2091
Just a detail here: this is not so obvious, but hat block opcodes should never have side effects. I noticed that the `ANY` case for the `when color` opcode sets the `previousColor` [here](https://github.com/LLK/scratch-vm/blob/f02433510a14fbabcf5bc0b1ba609c7adb3b9e9a/src/extensions/scratch3_boost/index.js#L1932). The reason this is not okay is that, as soon as you have more than one hat block of t

[2019-04-08 23:27] #2085 closed, assigned to nobody

[2019-04-09 18:25] #2087 closed, assigned to nobody

[2019-04-09 18:25] #2088 closed, assigned to nobody

[2019-04-09 18:25] #2089 closed, assigned to nobody

[2019-04-09 18:33] knandersen opened #2103 "BOOST extension: Motor state handling can be improved"
Based on the work on #2100, it seems like the new possible motor functionality that Boost introduces requires a better way of handling the change of motor states, e.g. changing between time-based and rotation-based commands.

I had a really good chat with @ericrosenbaum earlier today about cleaning up handling what state the motor is in, since the code right now is error-prone and very hard to rea

[2019-04-09 18:40] knandersen opened #2104 "BOOST extension: Optimize the amount of power/torque of motors to enable lower speeds."
Working on the BOOST extension I have tried a few different approaches in terms of how much power (torque) to supply for motors to achieve a target speed.

1. Use same value for power as speed, i.e. `speed=50`, `power=50`. With this setting a motor speed change is experienced very linearly, but for lower speeds the motors have very low torque.
2. Use max power regardless of speed, i.e. `speed=50`,

[2019-04-09 19:43] #2086 closed, assigned to nobody

[2019-04-09 20:16] knandersen opened #2105 "BOOST extension: motor position reporter broken"
In https://github.com/LLK/scratch-vm/commit/6e976f854e312034daf6bf7b2f61be0250b95d86 we broke the motor position reporter, i.e. it doesn't report anything and gives the following error:

`TypeError: this.motor is not a function. (In 'this.motor(portID)', 'this.motor' is undefined)`

[2019-04-09 20:46] #2105 closed, assigned to nobody

[2019-04-09 22:01] ericrosenbaum opened #2108 "BOOST extension: should "set motor speed" block yield for a tick?"
### Expected Behavior

I expected to be able to use a stack like this to smoothly ramp the motor speed up and down:

![Screen Shot 2019-04-09 at 5 56 48 PM](https://user-images.githubusercontent.com/567844/55837960-e14bc180-5af0-11e9-903f-20879c21151a.png)

### Actual Behavior

The stack above produces an erratic behavior, because none of the blocks yield, so they run at thousands of blocks per se

[2019-04-09 22:37] towerofnix commented on #2108
It's worth noting (and re-noting) that, in most cases where you wouldn't want a block to yield, you can simply place it (or rather the containing loop) inside a "run without screen refresh" custom block. (I'm curious if anyone knows when that *wouldn't* be a solution, although that's only a halfway related discussion..!)

[2019-04-10 08:41] apple502j commented on #2108
@towerofnix that's right, as griffpatch said in #2079 (at least for volume block) forcing yield always pauses even inside "run without refresh".

[2019-04-10 09:54] towerofnix commented on #2108
@apple502j Oh, I see. That behavior is wonky, yeah. This comment is especially relevant: https://github.com/LLK/scratch-vm/issues/2079#issuecomment-480543599.

I did a little research and it looks like there are two kinds of "yieldiness" in Scratch 3.0:

* `return Promise.resolve()` - Yield *now*. The entire script will immediately pause, no matter what. This is the same as calling `util.yield()`

[2019-04-10 09:56] towerofnix commented on #2079
See my overview of yielding here: https://github.com/LLK/scratch-vm/issues/2108#issuecomment-481623984

I think we could apply the same thinking here - do `this.runtime.requestRedraw()` instead of `return Promise.resolve()`, for the same reasoning as in my comment there:

[2019-04-10 14:30] #2091 closed, assigned to knandersen

[2019-04-10 14:45] ericrosenbaum commented on #2108
Thanks for your comments folks. For this case, in which the block can trigger sending bluetooth messages as a side effect, I think we do want to prevent turbo mode (or run w/o screen refresh) from preventing the yield, because the bluetooth communication process would not be able to keep up with the VM's maximum speed (i.e. the radio waves themselves are fast lol, but there are bottlenecks potenti

[2019-04-10 15:16] towerofnix commented on #2108
@ericrosenbaum Thanks for this discussion! Why drop messages when we could simply use the most recent message? For example, suppose we have this script:

    set motor speed to 10
    set motor speed to 0
    set motor speed to 30
    set motor speed to 50

If these all run instantaneously (which we'll take as given here), then Scratch will yield once, after the set-to-50 block. If we use a "drop

[2019-04-11 03:36] TheLogFather opened #2109 ""broadcast (expr) and wait" ends if value of (expr) changes"
### Expected Behavior

Broadcast and wait block should always wait until its receiver scripts finish.

### Actual Behavior

If the broadcast block contained an expression, changing the value of that expression (e.g. by changing a var it contains) causes the broadcast-and-wait block to end even if its receivers have not yet finished.

### Steps to Reproduce

Create a script along these lines:
`when

[2019-04-11 13:09] knandersen opened #2110 "BOOST extension: Changing power/direction immediately after timed motor commands makes it run forever"
### Expected Behavior

Changing motor speed/direction immediately after a timed motor command should only change the state of the motor.
<img width="292" alt="Screenshot 2019-04-11 at 09 02 53" src="https://user-images.githubusercontent.com/24595727/55959635-27ac3800-5c39-11e9-835e-58104820c042.png">

### Actual Behavior

Currently it will make the motor run forever. It seems to be related to the

[2019-04-11 17:29] ericrosenbaum opened #2112 "BOOST extension: using multiple "when color any" hats does not work"
### Expected Behavior

It should be possible to use the "when color seen" hat with the "any" option selected in two different stacks at the same time.

### Actual Behavior

If you make two stacks started by "when color any", only one of them will start when the color changes:

![Screen Shot 2019-04-11 at 1 29 01 PM](https://user-images.githubusercontent.com/567844/55978431-d06c8e80-5c5d-11e9-8714-

[2019-04-11 17:32] ericrosenbaum commented on #2112
This is because the "when color" opcode sets the previous value for comparison inside the opcode function, so on a given scratch tick, it works the first time it has run, but not the second time. In general, edge-triggered hat opcodes should not have side effects, to prevent problems like this. Instead, they should depend on checking state information set elsewhere (in this case, probably each tim

[2019-04-11 17:39] ericrosenbaum opened #2113 "BOOST extension: "when color any" hat does not trigger twice in a row for the same color"
### Expected Behavior

It should be possible to show the color sensor any sequence of colors, and have the "when color any" hat trigger on each transition between two colors, or between "none" and a color.

### Actual Behavior

If you show the sensor something red, then take it away, then show it again, it triggers the first time, but not the second time.

I noticed that the hat opcode is returnin

[2019-04-11 17:49] ericrosenbaum opened #2114 "BOOST extension: color reporter design?"
Currently the BOOST extension includes a "color" reporter, which reports a string which is the name of the color the sensor currently sees, such as "red", "yellow", or "none".

If we keep this approach, we'll need to localize these color names. Then the problem would be that if I create code that checks value of the reporter, it will work for me but not for people using the editor in other languag

[2019-04-11 18:49] towerofnix commented on #2114
This is a similar problem to LLK/scratch-blocks#1685 / #1836, btw! Although those discussions don't seem to have gone forward yet.

[2019-04-12 17:55] ericrosenbaum commented on #2114
Decisions from our meeting on this topic:
- Remove the `color` reporter
- Replace it with a boolean reporter: `<seeing [any color] brick?>`
- Change the wording on the hat block to: `when [any color] brick seen`

[2019-04-12 18:03] knandersen commented on #2104
We believe we can address this by developing a curve for how to provide power for different speeds.

Agreed in extension meeting today that this is an enhancement that we can work on later.

[2019-04-13 11:57] towerofnix opened #2116 "Blank bitmap costumes don't move correctly"
### Expected Behavior

A blank bitmap costume is treated the same as a blank vector costume and moves appropriately. Its dimensions should be 2x2, just like blank vector costumes. In the demo project, both red circles should reach the black circles.

### Actual Behavior

Blank bitmap costumes move strangely: any position update fences it to Y >= 0. A blank bitmap costume's dimensions are 480x360.

[2019-04-13 12:31] TheLogFather commented on #2116
~This was already mentioned in https://github.com/LLK/scratch-gui/issues/4409 and is probably the same as https://github.com/LLK/scratch-gui/issues/4233 (which was closed, since that was a similar thing with vector, and was fixed).~
(see next comment!)

I was kinda surprised this hasn't yet been fixed, since it's been known about since only a few days after release of Scratch 3... Here's a demo pr

[2019-04-13 12:43] TheLogFather commented on #2116
Agh, I'm getting references to the two issues mixed up...

The first one (https://github.com/LLK/scratch-gui/issues/4409) is probably the same thing, while the second (https://github.com/LLK/scratch-gui/issues/4233) was the same kind of thing with vector, but was fixed (which is why it's closed).

[2019-04-13 16:20] towerofnix commented on #2116
@TheLogFather Agreed that that's probably the issue here! It lines up with a comment on that project:

[2019-04-13 16:20] #2116 closed, assigned to nobody

[2019-04-13 20:46] mobluse commented on #2109
Here is an unchanged Scratch 2 project that doesn't work in Scratch 3 due to this bug: https://scratch.mit.edu/projects/137676871/

I reported my project as broken in Scratch 3 3rd of January 2019:
https://scratch.mit.edu/discuss/topic/329513/?page=1#post-3378908

[2019-04-15 03:21] crouse12 opened #2117 "npm link problem"
I want to install scratch-gui and scratch-vm.
When I type npm link, there is an error happened.
It said "ENOENT: no such file or directory, open 'C:\Users\crouse\package.json'"
May I know how to solve this problem?
![image](https://user-images.githubusercontent.com/25700616/56105899-2ba9c400-5f71-11e9-8eff-709c8ca23855.png)

[2019-04-15 22:41] #2103 closed, assigned to knandersen

[2019-04-15 22:41] #2110 closed, assigned to nobody

[2019-04-15 22:41] #2108 closed, assigned to nobody

[2019-04-16 09:11] apple502j commented on #2117
Go to `C:\Users\crouse\AppData\Roaming\npm`, delete/rename `node_modules` there, and try again.

[2019-04-16 19:21] cwillisf opened #2120 "Extensionification: All blocks should be implemented using extension system"
# Extensionification!

## Goals

- All blocks in Scratch 3.0 should be entirely defined within `scratch-vm`. Adding a new block should not require modifications in `scratch-gui` or `scratch-blocks`.
- All blocks in Scratch 3.0 should be implemented in the same way. We should not maintain two (or more) different ways to define blocks.
- The extension system should be enhanced such that it becomes p

[2019-04-16 19:44] #2114 closed, assigned to ericrosenbaum

[2019-04-16 19:44] #2090 closed, assigned to ericrosenbaum

[2019-04-16 19:44] #2112 closed, assigned to ericrosenbaum

[2019-04-16 19:44] #2113 closed, assigned to ericrosenbaum

[2019-04-17 19:44] greenkeeper[bot] opened #2121 "An in-range update of scratch-l10n is breaking the build 🚨"
## The devDependency [scratch-l10n](https://github.com/LLK/scratch-l10n) was updated from `3.1.20190417143747` to `3.1.20190417193312`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Fscratch-l10n-3.1.20190417193312).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

scratch-l10

[2019-04-19 13:36] #2094 closed, assigned to nobody

[2019-04-19 14:51] BryceLTaylor commented on #1673
Repro steps from the closed issue:

### Steps to Reproduce

Create a project
Add the text to speech extension
Add the translate extension
Drag out the "Set Language" block
Attach the "Say ___ " block
Drop the "translate ___ to [language]" block in the Say block
Set the "Set Language" block (text to speech) to english
Type a phrase in a language that you know into the "say" block
Set the language i

[2019-04-19 16:46] mzgoddard opened #2124 "Values in monitors can be off by a frame"
https://github.com/LLK/scratch-gui/issues/2945

### Expected Behavior

Execute monitors before any threads during a step of the virtual machine.

### Actual Behavior

Scratch 3 adds threads to execute the monitors. These threads will be placed behind existing threads. If those threads change the values the monitors will report, the monitor values will not match Scratch 2.

### Steps to Reproduce

[2019-04-19 19:57] ericrosenbaum opened #2125 "BOOST extension: setting speed continuously interferes with "turn for rotations""
### Expected Behavior

Setting the BOOST motor speed continuously in a loop should not interfere with the functionality of other blocks.

### Actual Behavior

If you run a stack that sets the motor speed in a loop, and then click the "turn motor for 1 rotation" block, the motor turns one rotation and then freaks out, rapidly jittering for up to several seconds.

### Steps to Reproduce

Click the t

[2019-04-19 20:20] ericrosenbaum opened #2127 "BOOST extension: setting speed continuously can result in motor being "stuck on""
### Expected Behavior

When you use the BOOST "turn motor on for seconds" block, the motor should always stop after the specified number of seconds.

### Actual Behavior

If you run a stack that sets the motor speed in a loop, and then click the "turn motor for 1 rotation" block, about a quarter of the time the motor does not stop, and gets "stuck on".

### Steps to Reproduce

Click the top stack

[2019-04-19 20:23] ericrosenbaum commented on #2127
I believe this is a side effect of our rate limiting approach, combined with the fact that the "set motor speed" block, unlike other blocks, only yields for one tick. We should instead make it yield for     `BoostBLE.sendInterval`, like other commands.

[2019-04-19 20:42] ericrosenbaum commented on #2125
I looked into this a bit- there might be an error in the calculation for remaining rotations to turn, when restarting the turnOnForDegrees command after setting the power.

Also, there's definitely a copy paste error in there- it appears the `false` used as a second argument to `Math.abs` (which makes no sense) was meant for the line below, as an argument to `turnOnForDegrees` (which would disable

[2019-04-20 05:36] Kenny2github opened #2128 "Extension request: Controllers (joysticks)"
### Rationale
Many projects (such as platformers, shooters, or rhythm games) would benefit from using game controller inputs.

### Proposal
[Here](https://en.scratch-wiki.info/wiki/User:Kenny2scratch/Sandbox#Proposed_Controller_Extension) is a rough draft of a set of blocks that could make use of controllers, mostly based off of [Pygame's "joystick" framework](https://www.pygame.org/docs/ref/joyst

[2019-04-20 19:04] benjiwheeler commented on #2128
Do you know any examples of websites that currently take analog controller input? Could be interesting to see how they're doing it. It's unclear to me exactly how that input would appear to the browser; as opposed to binary keypresses, which can just work like keyboard presses.

[2019-04-21 05:03] Kenny2github commented on #2128
There's a JavaScript [Gamepad API](https://developer.mozilla.org/en-US/docs/Web/API/Gamepad_API) which in retrospect I should have based my proposal off of.

[This](https://html5gamepad.com/) website is a good sandbox for what controllers report what values.

[2019-04-21 11:12] griffpatch commented on #2128
Some kind of touch input control would be very welcome, supporting multi
touch for game pad style input.

On Sun, 21 Apr 2019, 06:03 Ken, <notifications@github.com> wrote:

[2019-04-21 13:57] harbaum commented on #2120
One of the most basic features for this is the support for translations. Currently these are in scratch-blocks/msg/messages.js and the translation system supposed to be there doesn't seem to be functional at all.

[2019-04-21 14:05] harbaum opened #2129 "Yielding hats"
Currently there are several solutions for yield'ing reporters or command blocks as e.g. mentioned in #83. It's possible to use `util.yield` as well as promises.

But it seems these mechanisms all don't work for hats. I've tested promises as explained in the comments in #83 as well as util.yield.

The following code does not trigger any action and after a while the framework even stops calling it:

[2019-04-21 17:46] harbaum opened #2130 "Make StatusButton more generic"
Setting "showStatusButton" in an extension makes the little status button dot appear right of the extensions name in the toolbar:

![image](https://user-images.githubusercontent.com/9105084/56473594-bdcc3380-646d-11e9-92fa-718fbaff1f79.png)

This is tightly coupled to scratchlink and enabling this activates major parts of the scratchlink.

There are various other ways to interact with hardware tha

[2019-04-22 09:41] apple502j commented on #2130
No, WebUSB is not popular and not all browsers support it. You should not make your extensions Chromium-only.

[2019-04-22 09:42] apple502j commented on #2129
Currently, hats definition func is expected to return true/false (and if it's true the block runs).

[2019-04-22 09:44] apple502j commented on #2128
@Kenny2github Safari is not on the list so it's hard to implement.

[2019-04-22 14:47] #2121 closed, assigned to nobody

[2019-04-22 15:14] evhan55 commented on #2127
Should also useLimiter false for second part of 'on for'?

[2019-04-22 15:15] ericrosenbaum commented on #2125
@knandersen I know you're busy with other things but any ideas on this one?

[2019-04-22 16:29] #2127 closed, assigned to evhan55

[2019-04-22 18:21] harbaum commented on #2130
I always enjoy people telling me what to do and what not to do. WebUSB is at least supported by chrome and most derived browsers on windows, linux, macos and android. Scratchlink for example does not run on any device i own. I cannot see how that is better.

This request is in no way limited to any technology. Instead it opens the door to whatever technology you like even other scratchlink like we

[2019-04-22 18:29] harbaum commented on #2129
@apple502j No, it runs on the transition from false to true.

I don't see why hats should work fundamentallly different than other blocks.

But you are right and i could work around this. Although promises allow for much nicer solutions.

[2019-04-22 18:34] cwillisf commented on #2120
@harbaum we actually have a separate translation system for Scratch extensions. We're still figuring out the details but documentation on the current iteration is available here and will be updated as we progress:
https://github.com/LLK/scratch-vm/blob/develop/docs/extensions.md#translation

[2019-04-22 18:39] harbaum commented on #2120
Yes, i know. I tried to use it but it had no effect. I then searched the code and found no code that would care for these translations.

[2019-04-22 19:43] towerofnix commented on #2130
(All things considered, [WebUSB](https://wicg.github.io/webusb/) is *not* a proper standard yet - it's still a draft. Yes, browsers (aka chromium) have begun to implement it, but that doesn't mean it's necessarily stable and certainly doesn't mean it's ready for general use. But that's not totally related to the discussion of this feature request.)

[2019-04-22 20:10] evhan55 commented on #2125
There is a quick fix at #2133, not sure if it is ideal but it seems to work for the STR above at various power settings.

[2019-04-22 23:39] greenkeeper[bot] opened #2134 "An in-range update of tap is breaking the build 🚨"
## The devDependency [tap](https://github.com/tapjs/node-tap) was updated from `12.6.2` to `12.6.3`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Ftap-12.6.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

tap is a devDependency of this project. It **might not break your p

[2019-04-23 07:31] harbaum commented on #2130
I fully agree that WebUSB is by no means perfect. But for me it's better than Scratchlink which does not work at all for me.

And to be honest: Being able to control usb hardware from within scratch running in the browser of a smartphone _is_ impressive.

But I am not asking for WebUSB support in Scratch. I am asking for generic support of arbitrary hardware interfaces.

[2019-04-23 15:30] knandersen commented on #2125
I think you're onto something with the copy/paste-error @ericrosenbaum, and I suspect that may actually be the root cause. Because as a result, right now `setMotorPower()` incorrectly changes the `BoostMotor.state`! I can write a fix and test tomorrow!

[2019-04-23 16:17] ericrosenbaum opened #2135 "BOOST extension: motor A position reporter seems reversed"
### Expected Behavior

Turning the motor clockwise should result in the reported motor position increasing.

### Actual Behavior

For motor A (but not for motor B or an external motor), turning the motor clockwise results in the motor position decreasing.

### Steps to Reproduce

Run code that continuously sets a sprite's direction to the motor position:

<img width="306" alt="Screen Shot 2019-04-

[2019-04-23 16:20] ericrosenbaum opened #2136 "BOOST extension: setting speed to 0 after motor is on results in it being stuck on"
### Expected Behavior

A motor should never get stuck on: it should always be possible to stop all motors using the stop button, or to stop motors using the "turn motor off" block.

### Actual Behavior

If you turn a motor on, then set its speed to 0, it will become stuck on. The stop all button does not stop it, and the "turn motor off" block does not stop it.

<img width="256" alt="Screen Shot 2

[2019-04-23 18:28] spectranaut opened #2137 "setCompatibilityMode: set by to `true` default?"
When creating a standalone scratch 3 player (check out an example in this PR for now: https://github.com/LLK/scratch-gui/pull/4729), one will always have to call:
[code]

It took me a while to figure out why everything was broken when this hadn't been set.

Can "compatibility mode" be set by default in the VM?

[2019-04-23 21:36] BryceLTaylor opened #2138 "loops inside Run without screen refresh cause other loops to run slowly and workspace to be unresponsive"
### Expected Behavior

If you have a custom procedure that runs without screen refresh and contains a loop, all loops should run at approximately the usual rate.

### Actual Behavior

If you have a loop in a run without screen refresh custom procedure it will run at full speed and slow any other loops down to a crawl, about 1 time through per second.  While the loops are running the page is very u

[2019-04-24 16:42] ericrosenbaum opened #2142 "Flaky integration tests in execute.js"
The test randomly failing is in:
order-changes-backwards-2-broadcast-and-wait-repeat-message.sb2

[2019-04-24 17:35] TheLogFather commented on #2138
This goes back to a fairly common misunderstanding of what "run without screen refresh" really does, due to 'refresh' and execution of loops not being obviously connected in Scratch until you understand how the script execution engine behaves across scripts.

Technically, non-refresh should probably be named something more akin to "run atomically" (which would be pretty meaningless to the vast maj

[2019-04-24 17:47] TheLogFather commented on #2138
Might be worth noting the responsiveness part of this issue (having explained the vars behaviour) is probably pretty much a duplicate of https://github.com/LLK/scratch-gui/issues/2959 (–and worth reading through https://github.com/LLK/scratch-gui/issues/2959#issuecomment-419589170).

Regarding the first issue, I do wonder if there might be some way to convey to Scratchers what it means to run some

[2019-04-24 18:51] greenkeeper[bot] opened #2144 "An in-range update of scratch-l10n is breaking the build 🚨"
## The devDependency [scratch-l10n](https://github.com/LLK/scratch-l10n) was updated from `3.2.20190424151256` to `3.2.20190424182221`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Fscratch-l10n-3.2.20190424182221).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

scratch-l10

[2019-04-25 09:49] apple502j commented on #2138
It is a known issue in Scratch 2.0 that "yielding blocks"/"forever"/"wait" did not work well with "without refreshing" mode.

[2019-04-25 11:35] towerofnix commented on #2138
Just in addition, and to emphasize, it would be extremely bad if run-without-screen-refresh blocks were changed so that looping blocks still cause Scratch to yield. Virtually the entire point of run-w/o-refresh is to run a script in a single frame, irregardless of how long its process is! (So long as it doesn't take more than 500ms of processing time.) For instance, if you want to do something to

[2019-04-25 15:14] #2135 closed, assigned to evhan55

[2019-04-25 21:01] knandersen commented on #2125
@ericrosenbaum Hmm, this is an interesting problem. Because the Boost hub firmware doesn't have a command to change the properties (speed, power, direction) of an active command, when changing properties in scratch, we use `scratch-vm` to execute a new motor-command with our best guess for how much rotation/time is/was left when the change occurred. Because rotation-based commands are calculated a

[2019-04-26 14:39] BryceLTaylor opened #2151 "changing languages causes inability to change values in variable blocks in toolbox"
### Expected Behavior

If you change a value in a variables block while it's in the toolbox and run it in the toolbox it should run using the value that you just set.

### Actual Behavior

If you change languages and then set the value of a variables block it will use the previously set value.
![changeLanguagesVariables](https://user-images.githubusercontent.com/1088291/56812498-020e5980-6809-11e9

[2019-04-26 15:02] chrisgarrity commented on #1887
@thisandagain I don't think this is fixed. From my test project:
![Screen Shot 2019-04-26 at 11 01 23 AM](https://user-images.githubusercontent.com/399209/56817033-b52f8080-6812-11e9-803f-b82f9a567689.png)

[2019-04-26 15:06] chrisgarrity opened #2152 "RTL text in the backdrop does not render correctly on the stage"
### Expected Behavior
What you see in the paint editor and the stage should match. Images sent in to freshdesk:

![RTL issue](https://user-images.githubusercontent.com/399209/56817184-0b9cbf00-6813-11e9-9e6a-2344744429b7.jpg)

![enter_character](https://user-images.githubusercontent.com/399209/56817190-0dff1900-6813-11e9-9de9-94d74aabe78c.jpg)

This may be related to #1887

[2019-04-26 15:09] evhan55 opened #2153 "BOOST extension: Rename pendingPromiseFunction variable?"
The `pendingPromiseFunction` variable is used to track a Promise that resolves when a motor has reached a desired position after some rotations.  The variable name could be clearer to reflect that fact, perhaps `pendingRotationPromise` ? The comment on lines `#359-#360` also seems inaccurate, saying the variable is used to track duration and not rotation.  This might also require changing the sett

[2019-04-26 15:12] knandersen commented on #2153
Thanks @evhan55, I think this makes a lot of sense! Would you mind creating the PR for it?

[2019-04-26 15:19] evhan55 commented on #2153
@knandersen sure!

However, as I think about it more carefully, I can see further cleanup in general of these vars:

- `pendingTimeoutID`
- `pendingTimeoutStartTime`
- `pendingTImeoutDelay`
- `pendingPositionDestination`
- `pendingPromiseFunction`

3 of those are for duration commands, and 2 of those are for rotation commands.  So I can see all of those being renamed more cleanly to:

- `pendingDu

[2019-04-26 23:34] greenkeeper[bot] opened #2154 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.4.3` to `7.4.4`.
- The `devDependency` [@babel/preset-env](https://www.npmjs.com/package/@babel/preset-env) was updated from `7.4.3` to `7.4.4`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Fmono

[2019-04-27 02:45] cyx2015s opened #2155 "Single character list export and import bug"
### Expected Behavior

If a list's all items are single character, export them and import them back will be the same.
![expected](https://user-images.githubusercontent.com/31377746/56843833-00ac6200-68d9-11e9-9db5-1ffe31d1d106.PNG)

### Actual Behavior

I don't want to say anything.
![actually](https://user-images.githubusercontent.com/31377746/56843842-1b7ed680-68d9-11e9-9850-e5604d475e92.PNG)
I

[2019-04-27 07:55] griffpatch commented on #2155
I also have this same problem for double quotes in lists of single
characters.

On Sat, 27 Apr 2019, 03:45 cyx2015s, <notifications@github.com> wrote:

[2019-04-27 11:54] apple502j commented on #2155
Duplicate of LLK/scratch-gui#4329

[2019-04-27 14:43] towerofnix commented on #2155
This should be fixed by this PR when it is merged: https://github.com/LLK/scratch-gui/pull/4582

[2019-04-27 22:16] evhan55 commented on #2136
After speaking with @knandersen , here is a larger set of scenarios/examples to be testing for this bug:
- setting speed to **0 just once** while a motor is running
- setting it to **0 -> another value -> back to 0** continuously while a motor is running

<img width="602" alt="Screen Shot 2019-04-27 at 6 15 05 PM" src="https://user-images.githubusercontent.com/699840/56855636-7a177500-6918-11e9-92

[2019-04-28 10:26] #2155 closed, assigned to nobody

[2019-04-28 19:23] knandersen commented on #2136
Just to make sure it's recorded in git history, @evhan55 and I had a conversation about the functionality of the `resetState`-argument in the motor-functions.

It was introduced in https://github.com/LLK/scratch-vm/commit/3f0816bac8523551c97f8d3bc8688d9506d9db14 . Without it, running the program below, the `turn motor A for 20 rotations`-stack would lose it's highlight after clicking the `set moto

[2019-04-29 14:09] BryceLTaylor commented on #1890
This appears to have been fixed.  I seem to recall @kchadha doing some work to make sure duplicated blocks have unique ids a while ago.  Closing this issue.

[2019-04-29 14:09] #1890 closed, assigned to BryceLTaylor

[2019-04-29 14:58] ericrosenbaum commented on #2125
Based on our discussion last week, the new plan is to make the "set speed" and "set direction" blocks not dynamically update an ongoing rotations command. They should still set the internal state so that the next rotations command reflects the change.

[2019-04-29 17:06] adroitwhiz opened #2157 "There's an Internet Explorer polyfill in the codebase, but Scratch doesn't support Internet Explorer"
### Expected Behavior

The codebase shouldn't contain polyfills exclusively for browsers it doesn't intend to support

### Actual Behavior

There's a polyfill for `Number.isNaN()` which is only necessary for Internet Explorer (explicitly ["NOT supported"](https://scratch.mit.edu/info/faq)).

[2019-04-29 18:00] #2136 closed, assigned to evhan55

[2019-04-29 18:17] #2125 closed, assigned to evhan55

[2019-04-29 18:35] ericrosenbaum opened #2158 "BOOST extension: code should distinguish between speed and power"
### Expected Behavior

There's a distinction between "motor power" (i.e. torque) and "motor speed" (i.e. rotations per second) that should be clear if those parameters are used separately in the code.

### Actual Behavior

The BOOST extension code currently uses wording internally that creates some confusion between power and speed:

- The block is labeled "set motor speed"
- The opcode called by

[2019-04-29 18:42] ericrosenbaum commented on #2158
cc @evhan55 @knandersen

[2019-04-29 19:19] evhan55 commented on #2158
Agreed that this clarification in the code would be good! 👍

[2019-04-30 20:33] BryceLTaylor commented on #2053
I can confirm that this is happening on both ios Safari and ios Chrome.  It's ALSO happening on mac Safari.  The first time you load it, the platforms don't appear, but if you reload the page they WILL appear.  The text on the main menu items also frequently don't appear.

I've seen this kind of issue before.  It might be the same as this one: https://github.com/LLK/scratch-vm/issues/1663.    Also

[2019-05-02 15:55] ericrosenbaum opened #2162 "BOOST extension: battery died and "on for rotations" block is stuck highlighted"
Just noting this bug for discussion- we should discuss whether it is severe enough to warrant a fix:

The BOOST battery died while a "turn for rotations" block was running. The “on for rotations” block was stuck highlighted after the disconnection. The highlight can be cleared using the stop button.

[2019-05-03 00:35] towerofnix opened #2165 ""(string) contains (digit, uppercase, lowercase...)" block"
This is a feature request, inspired by https://github.com/LLK/scratch-vm/issues/536#issuecomment-452222644 (actually stolen from that :))!

There should be a block which looks much like the existing "(string) contains (substring)" block, but with a dropdown menu instead of a second text input. This block would check if any of the characters in the passed string match the option picked from the dro

[2019-05-03 07:19] knandersen commented on #2162
ah, that's an interesting edge case! It makes sense that the block gets stuck, since it's waiting to hear back from a hub that is no longer available.

One way of solving this could be to make sure that all `BoostMotor`-instances in the `Boost.motors`-array have their state cleared as part of the deinitialization in the `Boost.disconnect`-callback? since there's a regular check against the hub in

[2019-05-03 07:24] apple502j commented on #2165
Question:
* Should uppercase/lowercase be internationalized?
* Are full-width digits considered as digits?
* Does whitespace contain CR, LF, zero-width, or full-width?
* What is considered "letters"?

[2019-05-03 10:35] harbaum commented on #2129
It seems a workaround is the way to go.

[2019-05-03 10:35] #2129 closed, assigned to nobody

[2019-05-03 14:45] towerofnix commented on #2165
@apple502j Thanks for the input!

Probably. If someone wants to confirm that every letter is uppercase/lowercase *and* matches a list of their own supported characters for their program (e.g. characters in a font), they can just check if an actual list of supported characters contains that character (and the character matches the wanted case). Beyond that, I don't see any reason not to internation

[2019-05-03 14:50] towerofnix commented on #2129
@harbaum out of curiosity's sake why did close this issue? They may have just not gotten around to reviewing your suggestion yet; is there a reason besides this attention being as yet not commented on?

[2019-05-03 16:01] apple502j commented on #2165
@towerofnix if you define letters as `uppercase + lowercase`, CJK letters (no uppercase, no lowercase) are omitted.

[2019-05-03 16:25] CreativeComputerLab opened #2166 "Question: Can a project automatically be opened by specifying a url parameter?"
In scratchx 2 a project and its extension could be opened via a url paramater like so:
http://scratchx.org/scratch.html?url=http://myserver/myprojects.sbx&url=http://myserver/myextension.js

Is this yet possible in Scratch3? Even if its just the project only without extension support.

[2019-05-03 17:53] towerofnix commented on #2165
@apple502j Oh, right. In that case again, there are unicode tables for a list of letter. But.. I'd love to think of a cleaner solution. The "Other letters" category supposedly contains [around 120,000 entries](https://www.compart.com/en/unicode/category/Lo), and I wouldn't want to stick that in the code. Could there be some other way, preferably built into JS but otherwise using a Unicode node dep

[2019-05-03 21:27] towerofnix commented on #2166
In the Scratch 3.0 playground - https://llk.github.io/scratch-gui/ - you can use `#projectID` to load a project from the Scratch website (even if the project is unshared). There's no builtin way to load a project from URL, though.

[2019-05-04 09:56] CreativeComputerLab commented on #2166
Thanks for that. That's a useful workaround for me.  If the team think this feature is worth having, I would like to contribute. I just need a quick pointer in the code to where URLs are parsed and another pointer to where projects are loaded.

[2019-05-04 17:40] benjiwheeler commented on #2166
I don't totally understand the feature you're looking for. Putting this into the "user stories" design approach might be helpful for me to know what you're suggesting. Can you tell me a sequence of steps a user might take, what you want the result to be, and what the result actually is that's not meeting the user's expectations?

[2019-05-06 16:08] towerofnix opened #2167 "typeError: projectAsset is null, prevents opening any Scratch 3.0 project in current scratch-vm"
### Expected Behavior

scratch-vm can open Scratch 3.0 projects.

### Actual Behavior

It can't!

### Steps to Reproduce

Try to open any Scratch 3.0 project in scratch-vm's playground:

* https://llk.github.io/scratch-vm/#297837040
* https://llk.github.io/scratch-vm/#303998775
* https://llk.github.io/scratch-vm/#307179954

Scratch 2.0 projects still work:

* https://llk.github.io/scratch-vm/#1300

[2019-05-06 16:16] towerofnix commented on #2167
Can repro in Chromium as well (`TypeError: Cannot read property 'data' of null`), so it's not an issue tied to browser.

[2019-05-06 17:55] mzgoddard commented on #2167
We probably need to update the scratch storage configuration in vm. Project urls were changed/updated in GUI a while ago and VM has lagged behind in getting that update.

[2019-05-13 06:41] eqot commented on #2128
According to [Can I use](https://caniuse.com/#feat=gamepad), Gamepad API has been supported by Safari as well.
I just verified an example at [the website](https://html5gamepad.com) that DualShock4 works in Safari as expected including analog inputs.

[2019-05-13 14:08] evhan55 commented on #1845
@ericrosenbaum and others may have experienced this with the BOOST on Windows on Scratch Day

[2019-05-14 13:17] Steve-xmh opened #2169 "Can't load project's assets"
I've installed `scratch-vm` by `npm`.
When I tried to run function `.loadProject()`, it says it couldn't find storage module and failed to load assets which inside project like this:
![image](https://user-images.githubusercontent.com/39523898/57700691-1073c680-768d-11e9-9203-3e8eab0a19b3.png)
It seems that it can't find module `scratch-storage`, but it still here in node_module folder:
![image](ht

[2019-05-14 15:22] towerofnix commented on #2169
I believe you have to connect storage manually, by calling the `vm.attachStorage` function:

[code]

[2019-05-15 06:39] wlylgg opened #2170 "variables and 'ask and wait' can not be show on canvas"
### Expected Behavior

load sb3 file,all element work well

### Actual Behavior

variables and 'ask and wait' can not be show on canvas

### Steps to Reproduce

<body>
    <script src="../../node_modules/scratch-vm/dist/web/scratch-vm.js"></script>
    <script src="../../node_modules/scratch-storage/dist/web/scratch-storage.js"></script>
    <script src="../../node_modules/scratch-svg-renderer/dis

[2019-05-15 13:25] paulkaplan opened #2172 "Generalize scratch-link connection method"
Right now, the code for managing the connection to scratch-link sessions is tightly coupled to web-sockets, and is not configurable. We need to be able to decouple the `BLE`/`BT` IO objects used by extensions from WebSocket connections, and allow the VM to be configured to use a different way of communicating with a scratch-link service.

We are experimenting with a few different ways of doing thi

[2019-05-15 21:20] kchadha commented on #2151
@paulkaplan and I spent some time looking into this and found that this is probably a long standing issue and there isn't an immediately obvious "quick" fix. The issue seems to stem from all of the blocks in the toolbox getting re-created when switching languages. This includes the plugged in shadow block with text input for variable and list blocks. The scratch-vm does not expect new blocks with

[2019-05-16 13:09] TheLogFather opened #2173 "Value of timer block no longer updates between refresh"
### Expected Behavior

Timer gives actual time reasonably well, and esp. can be used during non-refresh.

### Actual Behavior

Timer isn't updated until next refresh. In particular, this means it can't be used to exit from a non-refresh loop (until the next time it passes the half second non-refresh limit, at which point there's a refresh and timer does get updated).

### Steps to Reproduce

Creat

[2019-05-16 15:28] ktbee commented on #1478
The final broken Pac Man project in this issue (13701368) was fixed by https://github.com/LLK/scratch-vm/pull/1648 !

[2019-05-16 15:28] #1478 closed, assigned to ktbee

[2019-05-16 15:34] d-siganos commented on #2079
@griffpatch seems like this has been fixed now

[2019-05-17 15:54] evhan55 commented on #1974
cc: @paulkaplan
re: #2172

Tagging you on this issue because I'll probably be closing this issue soon. But, I wanted you to know it had been on my radar to rethink these class names, in case you decide to completely change them during your work on refactoring these for future Scratch Link platform support.

[2019-05-17 17:20] greenkeeper[bot] opened #2174 "An in-range update of webpack-dev-server is breaking the build 🚨"
## The devDependency [webpack-dev-server](https://github.com/webpack/webpack-dev-server) was updated from `3.4.0` to `3.4.1`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Fwebpack-dev-server-3.4.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack-dev-server is a devD

[2019-05-21 15:55] mraerino commented on #1674
@khanning is there any way to get the sources for compiling the microbit hex?
we are trying to use hardware similar to the microbit

[2019-05-21 16:27] greenkeeper[bot] opened #2176 "An in-range update of scratch-storage is breaking the build 🚨"
## The devDependency [scratch-storage](https://github.com/LLK/scratch-storage) was updated from `1.3.1` to `1.3.2`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Fscratch-storage-1.3.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

scratch-storage is a devDependency of thi

[2019-05-21 18:59] kchadha opened #2177 "Review changes from closed performance PR"
We closed #2147 with the possibility of reviewing and pulling in all or parts of the changes at a later time (particularly post-extensionification). Tracking this effort here so the closed PR does not get lost.

[2019-05-22 09:40] #2170 closed, assigned to nobody

[2019-05-22 13:04] ErikMejerHansen opened #2178 "Set Tempo does not work for values under 20"
### Expected Behavior

Setting the tempo to 10 should produce a slower drum beat than setting tempo to 20.

### Actual Behavior

Setting tempo to value below 20 has the same effect as setting the tempo to 20.

### Steps to Reproduce
Create a program where you set the tempo to a value below 20.
Then compare to the same program where the value is set to 20.
![image](https://user-images.githubusercon

[2019-05-22 18:10] ericrosenbaum commented on #2178
We clamp the tempo range from 20 to 500 bpm [here](https://github.com/LLK/scratch-vm/blob/d2f0cf5caf6153a38da3827a4640ecf76c299547/src/extensions/scratch3_music/index.js#L711), so this is expected behavior.

It's a compatibility feature, because Scratch 2.0 does the same thing [here](https://github.com/LLK/scratch-flash/blob/646523e6846ad0dd993213a38b46fe2ea511d026/src/scratch/ScratchStage.as#L92)

[2019-05-22 18:11] #2178 closed, assigned to nobody

[2019-05-22 18:22] ericrosenbaum opened #2179 "Loading a project with invalid extension hangs at the "loading" animation"
### Expected Behavior

If you load a project with an invalid extension (i.e. containing a block with an opcode for an extension that is not officially supported by Scratch), you should end up in a reasonable error state, such as the "oops" page.

### Actual Behavior

Currently, if you load an sb3 containing an invalid extension, the editor or viewer gets stuck forever at the blue "loading" animati

[2019-05-22 20:23] #2153 closed, assigned to evhan55

[2019-05-23 00:00] greenkeeper[bot] opened #2180 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.32.1` to `4.32.2`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Fwebpack-4.32.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project. It **might not

[2019-05-24 12:52] paulkaplan commented on #1887
Just a note, I updated the title to be more specific about the problem. I believe the fixes for the say bubble will be different from the one for backdrops/costumes (https://github.com/LLK/scratch-vm/issues/2152) so lets leave these as two separate issues.

From testing locally, it looks like https://github.com/LLK/scratch-render/pull/451 fixes the say bubble problem (by totally reimplementing say

[2019-05-24 12:57] #1887 closed, assigned to nobody

[2019-05-27 09:39] xiaolong2104 opened #2185 "How to send sb3 file data to php server?THK"
I want to send sb3 data to php server.server get data save it to sb3 file .How to do this?thank you!

this.props.vm.saveProjectSb3().then(content => {

            console.log( content );
            /*const url = window.URL.createObjectURL(content);
            //alert(url);
            saveLink.href = url;

            // TODO user-friendly project name
            // File name: project-DATE-TIM

[2019-05-29 05:19] adroitwhiz opened #2186 ""Say" and "Think" bubbles have different numeric precision"
### Expected Behavior

"Say" and "Think" bubbles should display the same output when given the same input, with the only difference being the shape of the bubble.

### Actual Behavior

~While visions of floating-point precision errors drift through Scratch Cat's thoughts, he is too shy to vocalize them~
"Say" bubbles are limited to 2 decimal digits of numeric precision, but "think" bubbles are not

[2019-05-29 10:43] adroitwhiz commented on #1894
@paulkaplan Can you confirm that https://github.com/LLK/scratch-render/pull/451 fixed this?

[2019-05-29 10:44] adroitwhiz commented on #1195
@towerofnix Is this fixed in https://llk.github.io/scratch-gui/develop/?

[2019-05-29 11:20] towerofnix commented on #1195
@adroitwhiz It does seem to be! Thanks!

[2019-05-29 11:20] #1195 closed, assigned to nobody

[2019-05-31 02:15] evhan55 opened #2190 "SPIKE Prime extension: automatic pairing on Windows is failing"
### Expected Behavior

SPIKE Prime device should launch a pairing dialog on Windows the first time you try to connect to the device from the extension.

### Actual Behavior

On early prototypes of this extension, the SPIKE Prime device does not launch a pairing dialog on Windows the first time you try to connect to the device from the extension, and connection fails.

### Steps to Reproduce

Using

[2019-05-31 02:17] evhan55 commented on #2190
Oh whoops this is for `scratch-link`

[2019-05-31 02:17] #2190 closed, assigned to evhan55

[2019-05-31 16:04] evhan55 commented on #1576
Closing as wontfix

[2019-05-31 16:04] #1576 closed, assigned to evhan55

[2019-06-01 01:27] xiaolongchengithub commented on #1037
connectBluetooth () {
        try {
            navigator.bluetooth.requestDevice({
                filters: [{ namePrefix: "BBC micro:bit" }],
                optionalServices: [UART_SERVICE_UUID]
                }).connect();

            return "success"
        } catch (e) {
          return 'eroor!';
        }

      }

      pair(){
        this.server =  this.uBitDevice.gatt.connect();

[2019-06-03 09:20] LCINA opened #2193 "run npm start failed"
### Expected Behavior

In `develop` branch.
run `npm start` succeed.

### Actual Behavior

run  `npm start` failed

### Steps to Reproduce

1. run `yarn` or `npm i` shell. Then install succeed.

2. run `npm start` failed. The error message is as follows.

    Module not found: Error: Can't resolve 'scratch-svg-renderer' in '/Users/xxx/Desktop/work/code/LLK/scratch-vm/src/playground'
     @ ./src/p

[2019-06-03 09:50] LCINA commented on #2193
I tried to change `"scratch-svg-renderer": "lastest"` to `"scratch-svg-renderer": "0.2.0-prerelease.20190523193400"` in `package.json`, then ran success.

[2019-06-03 14:35] evhan55 commented on #1293
We implemented `set power` but decided not to implement the rest of the features (`all motors` option, `rotate by degrees` and `set position` for now.

[2019-06-03 14:35] #1293 closed, assigned to ericrosenbaum, evhan55

[2019-06-03 14:42] evhan55 commented on #1591
Could be unrelated to Scratch Link, and be OS-level.

[2019-06-03 14:46] evhan55 commented on #1987
Actually these globals seemed to be named in the same style.

[2019-06-03 14:46] #1987 closed, assigned to evhan55

[2019-06-03 14:57] evhan55 commented on #1651
cc: @thisandagain Tagging you as I un-assign myself, to put on your radar that the hardware extension JSDocs don't generate properly

[2019-06-04 21:13] #2015 closed, assigned to evhan55

[2019-06-04 21:15] kchadha opened #2195 "Remove core blocks from extension-manager."
### Expected Behavior

Should not be able to load projects referencing core example extension blocks.

### Actual Behavior

Currently this is possible.

We should also add a test to ensure that only the extensions we expect to be available are.

[2019-06-06 01:42] adroitwhiz opened #2198 "Trig functions stringify then unstringify their inputs"
### Expected Behavior

The words "string" and "trigonometric function" should not be anywhere near each other

### Actual Behavior

The current implementations of the `sin`, `cos`, and `tan` functions (but not the `asin`, `acos`, and `atan` functions) stringify inputs to 10 _decimal_ digits then un-stringify them.

This was introduced in #422 so that values which should be 0 but aren't due to roun

[2019-06-06 01:49] adroitwhiz opened #2199 "Trig functions lose precision at large angles"
### Expected Behavior

Since trigonometric functions are periodic, they should output the same values for angles modulo 360.

### Actual Behavior

At very large angles, trigonometric functions (as implemented in the underlying JavaScript VM) accumulate rounding error.

Here's a [test case](https://scratch.mit.edu/projects/315387057/). Mash the spacebar enough and the problem will manifest. Note th

[2019-06-06 18:47] paulkaplan opened #2200 "Extension generated category XML does not include category separators"
It looks like the category XML that is statically generated right now (in make-toolbox-xml.js in GUI) uses separators between each category, but the XML for the extension categories does not automatically do this. Thus extension categories look squished together.

/cc @carljbowman

Build in categories:
![image](https://user-images.githubusercontent.com/654102/59058161-072fe100-886a-11e9-9ebb-0d5fe

[2019-06-10 00:51] ecc521 commented on #2199
Even though the numbers are less than Number.MAX_SAFE_INTEGER, we are still encountering issues with floating point integers.

For example, try running Math.sin(360/180*Math.PI) -  You will not get zero, but rather a number very close to zero (-2.4492935982947064e-16)

As you double the angle, you can see that the difference from zero is doubling. This happens because when converting from degrees

[2019-06-10 11:13] QinJhonny opened #2205 "jszip unpack project error"
### Expected Behavior

the project file should be opened successfully.

### Actual Behavior

but it tells me that `Failed to unzip and extract project.json, with error: {}`. what's strange is that If I unzip the project file and  rezip it and then rename it with .sb3  extension name. it works again. the project would be opened  successfully. I doubt that it dues to the module of jszip. thanks!

##

[2019-06-10 11:23] QinJhonny commented on #2205
[toFix0610.1.sb3.zip](https://github.com/LLK/scratch-vm/files/3271809/toFix0610.1.sb3.zip)

[2019-06-10 18:51] ntlrsk commented on #1213
Just an update and reaffirming that this feature from 2.0 would be very helpful to have again for tutorials and in general, especially for beginners (for example, after adding a sound or adding "score" variable to immediately see it appear as the default on the blocks (like the story in Mitch's LLK book where the boy could tell right away after making the variable how to use it).

[2019-06-12 14:23] evhan55 commented on #2017
Closing as wontfix: https://github.com/LLK/scratch-vm/pull/2207

[2019-06-12 14:23] #2017 closed, assigned to evhan55

[2019-06-12 20:42] audetto opened #2208 "Scratch 3 extensions doc: broken links"
This page

https://github.com/LLK/scratch-vm/blob/develop/docs/extensions.md

contains broken links to the wiki.

Moreover, it describes how to create an extension, but it says nothing about how to activate it.

[2019-06-13 15:53] #2134 closed, assigned to nobody

[2019-06-13 15:53] #2144 closed, assigned to nobody

[2019-06-13 15:53] #2154 closed, assigned to nobody

[2019-06-13 15:54] #2180 closed, assigned to nobody

[2019-06-13 15:54] #2176 closed, assigned to nobody

[2019-06-13 15:55] #2174 closed, assigned to nobody

[2019-06-13 16:56] bat-pixel commented on #1952
Have you made any progress with this issue?

[2019-06-13 20:18] enauman commented on #1952
A little, in that they do acknowledge there is a problem. It appears GoGuardian filters are evaluating every scratch block (or the code behind it), severely slowing down the responsiveness of Scratch on managed Chromebooks. Their development team said they saw the problem and said they would work on a fix. That was months ago and we have not gotten an update. The recording function doesn't work at

[2019-06-14 03:57] adroitwhiz opened #2209 "ergonomics issue: BlockUtility.stackTimerFinished is unnecessarily complex"
### Expected Behavior

Code should not be unnecessarily complex

### Actual Behavior

It is in the case of BlockUtility.stackTimerFinished, which performs a lot of weird branching stuff:
[code]

All this could be replaced with:
[code]

Wouldn't it be nice if someone created a PR to do that?

This might also improve performance, but this *is* an idle loop, so that doesn't really matter.

[2019-06-14 05:11] apfeuti opened #2210 "Lego Boost extension: Add support for distance-sensor"
### Expected Behavior

We should have a possibility to retrieve the distance-value from the Lego Boost vision-sensor.

Having a possibility to get the distance-sensor-value from the MoveHub, greatly improves the possibilities what can be done with Lego Boost and Scratch.
Eg:

- Stop a robot (or drive into another direction) before he hits a wall or some other obstacle -> we can write some Scratch-

[2019-06-14 05:11] apfeuti commented on #2210
### Solution proposal

According to https://github.com/JorgePe/BOOSTreveng/blob/master/ColorDistanceSensor.md the color-sensor can be put into a "color and distance (0x08)" mode, where not only the color is reported but also the distance.

I've implemented it on my fork like this:
https://github.com/LLK/scratch-vm/compare/LLK:develop...apfeuti:feature/LegoBoost-support-distance

This adds two new

[2019-06-18 00:31] greenkeeper[bot] opened #2212 "An in-range update of webpack-dev-server is breaking the build 🚨"
## The devDependency [webpack-dev-server](https://github.com/webpack/webpack-dev-server) was updated from `3.7.1` to `3.7.2`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Fwebpack-dev-server-3.7.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack-dev-server is a devD

[2019-06-18 02:04] evhan55 commented on #1974
Resolved via https://github.com/LLK/scratch-vm/pull/2194

[2019-06-18 02:04] #1974 closed, assigned to evhan55

[2019-06-19 04:18] #709 closed, assigned to cwillisf

[2019-06-20 17:31] BryceLTaylor opened #2213 "Downloading and uploading a particular project with the pen extension to staging fails to re-load"
### Expected Behavior

A project with the pen extension uploaded to staging should be able to be loaded after saving.

### Actual Behavior

The project https://scratch.mit.edu/projects/276932192 on production, when downloaded and uploaded again (as project https://scratch.ly/projects/1300004143) would not load.  It continued to load forever and looking in the console gave these errors:
![Screen Sh

[2019-06-20 18:09] BryceLTaylor commented on #2213
While loading the project into staging I got these errors in the console:
![Screen Shot 2019-06-20 at 2 08 01 PM](https://user-images.githubusercontent.com/1088291/59871212-f94b8700-9364-11e9-8fe6-9fe939291688.png)
![Screen Shot 2019-06-20 at 2 08 21 PM](https://user-images.githubusercontent.com/1088291/59871216-fc467780-9364-11e9-918c-eed9d8d6f556.png)

[2019-06-20 18:16] BryceLTaylor commented on #2213
Uploading another project that only has the blocks from the pen extension in it works fine.  it is the default project with one of each of the blocks from the pen extension added to it.
https://scratch.ly/projects/1300004171/

[2019-06-20 19:11] BryceLTaylor commented on #2213
After reverting the PRs mentioned above the error persists on staging.  It is most assuredly something else.

[2019-06-20 22:31] rschamp commented on #2213
This was an issue with our Fastly config, which was resolved on production but not in staging. We had a regex to recognize asset URLs but it did not recognize mp3 URLs. After resolving that and purging the 404ing asset URL, this project can be uploaded, saved and reloaded.

[2019-06-20 22:31] #2213 closed, assigned to nobody

[2019-06-24 10:02] apple502j opened #2215 "LEGO Boost firmware update 2.0.00.0017 breaks extension functionality"
https://twitter.com/ooba/status/1142967014761254912
According to this tweet, a recent firmware update changed Boost port IDs:
A 0, B 1, C 2, D 3
Therefore old IDs (defined at https://github.com/LLK/scratch-vm/blob/develop/src/extensions/scratch3_boost/index.js#L96 ) won't work. However, if the firmware is not updated, old IDs must be used - so it's hard to define it as constant.

[2019-06-25 21:44] evhan55 commented on #2215
@apple502j Thank you for alerting us to this tweet! Do you have a LEGO Boost with the latest firmware?

[2019-06-26 01:09] sunkechenjing opened #2216 "How to run opcode directly in scratch?"
I have successfully compiled GUI block and vm. All modules can run normally and add new blocks. Next, I want to try whether I can program without graphical blocks. One of my ideas is to send opcode directly to VM in Gui source code. I've tried calling the vm. greenflag instruction to run the program in the target role. But I want to call the internal functions of VM to realize the functions of rol

[2019-06-26 07:54] apple502j commented on #2216
Well, this is not how Scratch is made for...

[2019-06-26 07:54] apple502j commented on #2215
Nope sorry @evhan55

[2019-06-26 16:35] evhan55 commented on #2215
@apple502j Okay, thank you for letting us know!

[2019-06-27 00:57] evhan55 commented on #2215
@ericrosenbaum

I have tested the latest LEGO Boost Firmware `2.0.00.0017` and it seems that the motor ports did indeed change from:

[code]

to:

[code]

It looks like the Boost connect behavior has changed as well and is not incompatible with the Scratch 3 / Scratch Link connection flow as currently designed for Boost, and other miscellaneous sensor values seem to give errors in the console.  It

[2019-06-27 01:03] evhan55 commented on #2215
@apple502j Thank you!  It seems you are correct about this being a critical bug in the Scratch 3 LEGO Boost extension!  Thanks for bringing this issue to our attention.

[2019-06-27 01:40] evhan55 commented on #2215
Some issues I noticed so far in preliminary testing:

1. Connection flow seems broken and behaves like this, in a reproducible way, now:
- Click connect within the extension to connect to Boost
- Press button on Boost
- Scratch says 'connected' but Boost connection light keeps blinking, blocks don't work
- Scratch alert comes up saying 'Boost has disconnected'
- Click connect within the extension

[2019-06-27 18:39] evhan55 commented on #2215
@cwillisf @ericrosenbaum To update to the latest Boost firmware:

- Download the LEGO Boost mobile app on the Google Play or iOS App store
- Turn Bluetooth on mobile device
- Open the app
- Run a sample project within the app
- It will prompt to connect to / update firmware on Boost

[2019-06-27 20:01] #1929 closed, assigned to evhan55

[2019-06-27 23:02] adroitwhiz opened #2217 ""Say () for () secs" block desynchronizes"
This is *not* a duplicate of #904, given that I cited that bug in my PR fixing this and it was closed for not fixing that bug.

### Expected Behavior

Actions of duplicate sprites stay in sync.

### Actual Behavior

In projects using the "say/think () for () secs" block, actions will desynchronize. In addition, there's a significant timing difference between "say/think" and "wait" blocks.

### Ste

[2019-06-28 16:09] #1568 closed, assigned to evhan55

[2019-06-30 00:55] crouse12 opened #2218 "How to change the color of extension block"
I create some extension blocks for scratch3. In the previous version, I can use
      colour: '#696969',
      colourSecondary: '#A9A9A9',
      colourTertiary: '#696969',
to modify the color of extension block.
However, I found these three parameters cannot do it. May I know how to modify the color of extension color now?

[2019-06-30 07:39] ghost opened #2219 "Replace Item "Last" Missing"
I have a small question about Scratch Lists.

In Scratch 3.0, the block of replaceitem last is no longer available. I cannot find any information about this and I actually need the block for the Scratch Wiki article of [Global Highscores](https://en.scratch-wiki.info/wiki/Global_High_Scores).

Any help would be appreciated.

ross

[2019-06-30 17:26] ErikMejerHansen commented on #2218
Looks like they where renamed to `color1`, `color2` and `color3`.

[2019-06-30 23:26] crouse12 commented on #2218
thanks.
In addition, I found that I cannot put a variable block into the menu of my block. May I know how to modify it?

![image](https://user-images.githubusercontent.com/25700616/60403566-83031c00-9bd1-11e9-98bb-be62320ece61.png)

[2019-07-01 08:10] apple502j commented on #2219
well you can replace it with `(length of [list v])`
Duplicate of LLK/scratch-blocks#1335

[2019-07-01 09:19] ErikMejerHansen commented on #2218
I'd have a look at https://github.com/cwillisf/scratch-vm/blob/aae7607e10735a74b7aa9d519b4ef21c9878a976/docs/extensions.md#accepting-reporters-droppable-menus where they have a nice example of how to create menu that accepts reporters.

[2019-07-01 15:33] benjiwheeler opened #2220 "Need to safely handle case where bitmap fails to load"
If the bitmap loading in `scratch-vm/src/import/load-costume.js`'s `fetchBitmapCanvas_()` function fails, we don't return any value from the promise.

This may be causing an error in `loadBitmap_()`, where we attempt to access the `fetched.assetMatchesBase` property without considering that `fetched` may never have received any value.

Example of a project that may be hitting this problem: https:/

[2019-07-01 16:23] knandersen commented on #2215
Thanks for reporting this @apple502j and for doing some great initial investigation @evhan55!

1. I've been digging into this issue as I wasn't able to connect to the hub using Scratch, but I could connect using a generic BLE debugging app for Mac (using `BlueSee`). I noticed that with the new firmware, the hub now advertises with two UUIDs rather than just one - let's call them `UUID-A` and `UUID

[2019-07-02 02:12] crouse12 commented on #2218
Thank you very much.

[2019-07-04 19:02] kruncher opened #2223 "Dynamic drop-down menu in custom block"
### Expected Behavior

Each time the drop-down is opened, the menu is rebuilt using the dynamic menu function.

### Actual Behavior

The dynamic menu function is invoked multiple times whilst the extension is being added; but is then never invoked again.

### Steps to Reproduce

1. I cloned `scratch-vm` and `scratch-gui` locally.
2. I duplicated the "micro:bit" extension and hooked this up.
3. Ins

[2019-07-05 05:04] greenkeeper[bot] opened #2224 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.4.5` to `7.5.0`.
- The `devDependency` [@babel/preset-env](https://www.npmjs.com/package/@babel/preset-env) was updated from `7.4.5` to `7.5.0`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Fmono

[2019-07-09 00:19] crouse12 opened #2226 "How to create a 8*8 ArgumentType.MATRIX"
I find official microbit blocks has a ArgumentType.MATRIX.
![image](https://user-images.githubusercontent.com/25700616/60850398-c12bbb80-a221-11e9-9aff-3c22bfa42939.png)
Recently, I want to create extension blocks for MAX7219. MAX7219 has 8X8 led on it. May I know how to create a new  ArgumentType.MATRIX for 8*8 led? Is it possible to create a new ArgumentType in Scratch3?
![image](https://user-im

[2019-07-11 21:09] knandersen opened #2230 "LEGO BOOST Move Hub firmware 2.0.00.0017 breaks connection flow"
### Expected Behavior

LEGO BOOST Move Hubs should appear with advertisement data and be connectable.

### Actual Behavior

As mentioned in #2215, with the recently released firmware version 2.0.00.0017, BOOST Move Hubs appear in a seemingly improperly initialised state for a few seconds before properly advertising. If Scratch Link on the host device (e.g. MacBook, PC) detects it before it's prope

[2019-07-11 21:17] knandersen commented on #2230
We have identified two solutions to this problem:

1. New firmware that prevents the Move Hub from advertising the non-connectable MAC-address would solve this problem without any changes to `scratch-vm` or `scratch-link`
2. By providing `scratch-link` a filter to only connect to Move Hubs that have the appropriate BLE advertising data, it will never attempt to connect to the non-connectable MAC-a

[2019-07-11 21:30] knandersen commented on #2230
Blocked by https://github.com/LLK/scratch-link/pull/120

[2019-07-11 21:54] knandersen opened #2232 "LEGO BOOST Move Hub firmware 2.0.00.0017 breaks time-based motor commands"
### Expected Behavior

`turn motor [PORT] for 1 seconds` should make the motor turn for 1 second.

### Actual Behavior

The motor turns on for a splitsecond, stops, and then runs for the remaining duration.

### Steps to Reproduce

Connect to a LEGO BOOST Move Hub running firmware version 2.0.00.0017 and issue a time-based motor command.

### Operating System and Browser

MacOS 10.14.5
Scratch Lin

[2019-07-12 10:11] leonardo-xu commented on #1776
您的微信搜不到。麻烦能详细一下说明是怎么解决的吗？谢谢

[2019-07-12 11:13] leonardo-xu commented on #2092
遇到了同样的问题，你解决了吗？

[2019-07-14 02:02] wangpengli opened #2233 "When use the LEGO BOOST extension , error command for the motor-A"
### Expected Behavior

I use block which have a command for the motor-A , the motor-A should turn 5s.

### Actual Behavior

no any happend.

### Steps to Reproduce

I chaned the param to motor-D, the extern-motor turned.

### Operating System and Browser

windows 10.

[2019-07-14 02:03] wangpengli commented on #2233
when the moto-D turned , I checked the model, the extern-motor plug in the port C

[2019-07-14 03:57] apple502j commented on #2233
Duplicate of #2215

[2019-07-14 09:45] wangpengli commented on #2233
yes, got it , I check the same code in another boost , which not update with the boost app, the motor block have no problem. thank you .

[2019-07-14 18:05] ghost commented on #2219
Alright, thank you for the info.

[2019-07-14 18:05] #2219 closed, assigned to nobody

[2019-07-15 07:41] aeons opened #2234 "Allow extensions to specify optional validators/restrictors for inputs"
When specifying a text argument for a block in an extension, it would be nice to be able to specify custom validators and restrictors for the argument.

##### Example
[code]

The input field in `scratch-blocks` already has this functionality (albeit not currently exposed in `fromJson`).

Maybe allowing the same for numbers could be useful as well, like the predefined types already defined in `scra

[2019-07-15 14:19] #2117 closed, assigned to nobody

[2019-07-15 14:41] thisandagain commented on #2234
/cc @kchadha @cwillisf @picklesrus

[2019-07-17 12:02] greenkeeper[bot] opened #2236 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.35.3` to `4.36.0`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Fwebpack-4.36.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project. It **might not

[2019-07-17 14:58] greenkeeper[bot] opened #2237 "An in-range update of scratch-l10n is breaking the build 🚨"
## The devDependency [scratch-l10n](https://github.com/LLK/scratch-l10n) was updated from `3.3.20190711005050` to `3.3.20190717144934`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Fscratch-l10n-3.3.20190717144934).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

scratch-l10

[2019-07-18 15:11] kchadha opened #2238 "Flaky Unit Test in blocks_control.js"
### Expected Behavior

Tests should not be flaky.

### Actual Behavior

The following test failed in a cron job in travis after passing the regular build on develop:

https://travis-ci.org/LLK/scratch-vm/jobs/560503930#L319

[2019-07-22 17:29] kchadha opened #2241 "Flaky unit test in blocks_sensing.js"
### Expected Behavior

Tests should not be flaky.

### Actual Behavior

The unit test for the loudness block is flaky, particularly here:
https://github.com/LLK/scratch-vm/blob/develop/test/unit/blocks_sensing.js#L198-L202

Here is the raw log from a travis build:
[flaky-unit-test-vm.txt](https://github.com/LLK/scratch-vm/files/3418558/flaky-unit-test-vm.txt)

[2019-07-29 12:02] aeons opened #2244 "Asynchronous reporters do not work in edge activated hats"
### Expected Behavior

An edge activated hat with an asynchronous reporter in it, should start its stack when the reporter makes the condition in the hat become true.

### Actual Behavior

The actual block implementation is never called, but the stack is started, as if the hat returned true. (when the reporter returns a promise)

### Steps to Reproduce

![image](https://user-images.githubuserconte

[2019-07-29 18:03] mzgoddard commented on #2244
I think https://github.com/LLK/scratch-vm/blob/develop/src/engine/runtime.js#L1751 is the cause.

[2019-07-31 13:48] adroitwhiz opened #2248 "Global variable lookups are slow"
### Expected Behavior

Global variable lookups should be relatively fast, as Scratchers commonly use variables in tight loops.

### Actual Behavior

Looking up a global variable in the VM requires calling `getTargetForStage`, which loops over every target until it finds the stage. Fixing this would likely require adding a `stage` property to the runtime which could replace `getTargetByStage`, but

[2019-08-02 13:41] #2233 closed, assigned to nobody

[2019-08-02 13:42] knandersen commented on #2215
Motor/port-issues fixed in #2215. Closing this issue since the remaining connection-issues are addressed in a separate issue #2230.

[2019-08-02 13:42] #2215 closed, assigned to ericrosenbaum, cwillisf

[2019-08-02 13:43] #2232 closed, assigned to knandersen

[2019-08-07 08:47] bnetz commented on #1064
As we are using Scratch in higher educational levels like K1/K2 it would make sense to implement return values in custom blocks, because this is a very vital concept in programming.

[2019-08-11 07:05] skyistumbling opened #2255 "Multiple clones playing same audio clip produces a stutter effect"
When you have multiple clones playing the exact same audio clip at the same time via the
"Play sound () until done" block, it produces an stuttering sound by what we think is the audio engine restarting the sound on an interval;  what should of course be happening is both of the clones over lapping the audio clip.

**Example**
![image](https://user-images.githubusercontent.com/45320357/62830554-91

[2019-08-12 10:29] PJH610 opened #2256 "How do you turn building blocks into code"
### Expected Behavior

_Please describe what should happen_

### Actual Behavior

_Describe what actually happens_

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_

[2019-08-12 18:43] BryceLTaylor opened #2257 "Seagulls MAP shows regression, the sprite with the word Breathe doesn't hide"
### Expected Behavior

This was already reported in issue https://github.com/LLK/scratch-vm/issues/1478 and was fixed.  I'm not sure when but we seem to have had a regression on the part of the issue related to the Seagulls Map.

At some point in this project https://scratch.mit.edu/projects/169401431/ the sprite "PART 13 rocks" switches to a costume that says Breathe and is supposed to hide a mom

[2019-08-12 18:43] BryceLTaylor commented on #2257
@ktbee Sorry to get this song stuck in your head again, but it's back.

[2019-08-12 19:04] BryceLTaylor commented on #2257
From the old issue:
from @mzgoddard In 169401431: Breathe does not disappear because there is a race condition in the wait blocks. There are 2 separate when I receive hats, the first that fires waits 0.4 seconds and then shows the Breathe text. The second when I receive hat hides the Breathe text. The 0.4 second timer should complete and show Breathe before the second hat executes. Instead the 0.4

[2019-08-13 02:56] apple502j commented on #2256
Scratch itself does not have the feature (intended). If you want to make it, parse ScratchBlocks XML.

[2019-08-14 05:47] linushp opened #2260 "iphone can not display svg with base64 bigmap image."
like the svg image : https://wscdn.xiaoma.cn/db/ef/ce/dbefcee9284998c31464e130517f4fe2.svg

If we use the svg image above , It can not be display in ios device (iphone )..

you can see the URL :  http://dev-m-world.xiaomawang.com/test.html

[2019-08-14 05:47] linushp commented on #2260
android device is ok

[2019-08-14 08:38] linushp commented on #2260
I have  know  the reason .

[2019-08-15 13:21] paulkaplan opened #2261 "Set volume in a loop causes crunchy/clicky static"
### Expected Behavior

_Please describe what should happen_
Set volume should smoothly adjust the currently playing sounds volume.

### Actual Behavior

_Describe what actually happens_
Using a stack like this, I get lots of static/crunchiness
![image](https://user-images.githubusercontent.com/654102/63097203-d5a85580-bf3d-11e9-9abf-ccc9d89ad480.png)

### Steps to Reproduce
[Set Volume Bug (1).sb3

[2019-08-15 13:32] ericrosenbaum commented on #2261
Thanks @paulkaplan! possibly a duplicate of https://github.com/LLK/scratch-audio/issues/111

Lets find a time to look together at https://github.com/LLK/scratch-audio/pull/118/files, which may be part (or all?) or the fix for this and other related issues

[2019-08-15 15:25] #2261 closed, assigned to ericrosenbaum

[2019-08-17 16:38] ftarlao commented on #1064
I perfectly agree that adding return values, will be very VERY useful!

[2019-08-18 04:03] Kenny2github commented on #1064
A "reporter" in Scratch is precisely a block that returns a value. These blocks can be placed into other blocks that take inputs. Custom reporters, then, would indeed be custom blocks that return values. As such this really is a duplicate of #79 but I appreciate bringing it up again to garner more attention :)

[2019-08-19 15:36] ericrosenbaum opened #2263 "Disconnecting a running stack leads to broken behavior"
### Expected Behavior

Clicking a running (highlighted) stack should always stop it.

### Actual Behavior

If you disconnect a running stack, so that e.g. a forever loop is running in the detached part, and then click the still-running fragment, it does not stop. Instead, there are now two "copies" of the stack running in the VM (for example, if the stack causes a turn of 10 degrees per frame, it

[2019-08-25 01:21] adroitwhiz opened #2267 "Scratch 1.x projects should use clockwise whirl effect"
### Expected Behavior

In projects created in Scratch 1.x, positive "whirl" effect values should correspond to a clockwise whirl.

In later versions of 2.0, positive "whirl" means counterclockwise (an inconsistency introduced when certain graphic effects were reimplemented under a different API), but in all versions of 1.x, a positive "whirl" effect goes clockwise.

### Actual Behavior

A positive

[2019-08-27 05:56] linushp opened #2268 "why pack all music together ?"
node_modules/scratch-vm/src/extensions/scratch3_music/index.js

so many mp3 files .....

[2019-08-27 08:20] apple502j commented on #2268
Because they are used in scratch-vm, specifically Music Extension.

[2019-08-29 20:27] chrisgarrity opened #2270 "console errors for English translations of extension blocks"
### Expected Behavior

There should not be translation warning messages in the console for English when extensions are loaded. It's not visible because the default is English in any case, but it seems bad to have lots of warning messages.

_Note: I thought this was already documented, so this could be a _

### Actual Behavior

When an extension is added, the warning message `Translation for "messa

[2019-08-30 19:39] BryceLTaylor opened #2271 "Certain Key Up events are missed with combinations of keys"
### Expected Behavior

Any key that triggers a key down event should trigger a key up event when it's released

### Actual Behavior

Some key combinations will cause the key up to not trigger when released.  This causes the reporter for <key [a] pressed> to report true after the keys are released.

### Steps to Reproduce

On mac in any browser, pressing command-a will cause the a key to be pressed

[2019-08-30 21:01] mzgoddard commented on #2271
For the meta key on Mac, this is expected behaviour. There is no keyup events while meta is pressed (I think on windows the windows key is meta and not ctrl). So we can't detect exactly when the key was released in combination with meta.

There will be repeated keydown events until the key is released. We could use that to detect a key timeout but that'll generally be at least many 100s of millise

[2019-09-03 12:22] CreativeComputerLab commented on #2166
Hi @benjiwheeler,
As a user I would like to be able to open up a scratch project directly by specifying a URL to it.
For example, the current dev environment the URL http://localhost:8601/ opens up a fresh Scratch project.   I would like to be able to use the following URL to open up my project:
       http://localhost:8601?url=http://localhost:8601/projects/myProject.sb3

The 'myProject.sb3' proj

[2019-09-03 13:01] hyansuper opened #2272 "Feature request: collaborative editting"
I just came up with this very immature idea, and I understand this feature may be super hard to implement:
multiple computers(or webpages) in the same network collaborating on the same project and all the pages are synchronousd. An example scenaro: a teacher is showing the students how to scratch, while the students can observe what is going on on the teacher's page, and even the students can get

[2019-09-04 08:29] dolmen commented on #2208
I found this page in the wiki : https://en.scratch-wiki.info/wiki/Scratch_Extension

I agree the documentation on extensions for Scratch 3.0 needs serious update to be useful.
Currently it contains many uncertains things. The wiki page refers to a Scratch 2.0 document dated september 2013 (6 years ago) as "drafted". Does it applies to Scratch 3.x ? Or should we still use [Remote Sensors Protocol](

[2019-09-06 07:08] audetto commented on #2208
It still leaves the final question un-answered.
How to enable it.

You either modify the the vm source code or use someone's modified scratch on line.

They should at least allow an easy path to enable them on a local installation without the need to mess around with the vm code.

[2019-09-08 20:06] helderman opened #2273 "Pen Colors repeat each 101 numbers rather than each 100 numbers"
### Expected Behavior

Pen colors 0, 100, 200, 300 ... should all be red.

### Actual Behavior

Instead, pen colors 0, 101, 202, 303 ... are red.
Full explanation (by Scratch-Minion) can be found in the Scratch forum:
https://scratch.mit.edu/discuss/topic/369220/

### Steps to Reproduce

Draw a line with a pen color of 5000. Notice it is not red.
Demonstrated in this project (by Scratch-Minion):
h

[2019-09-09 12:29] toyfoo opened #2275 "Documentation contains broken link"
On [this page](https://github.com/LLK/scratch-vm/blob/develop/docs/extensions.md) https://github.com/LLK/scratch-vm/blob/develop/docs/extensions.md
links are pointing to "For documentation regarding other aspects of Scratch 3.0 extensions see this Extensions page on the wiki.". However, "this Extensions page" link is broken.

[2019-09-09 13:47] apple502j commented on #2275
Duplicate of #2208

[2019-09-10 09:25] weijiahui1 opened #2276 "how to extension scratch3_microbit"
Excuse me?
‘src/extensions/scratch3_microbit/index.js’  Under this folder。
The _onMessage method will get 20-digit arrays. What do the last 10 digits mean and how can we extend them?

[2019-09-10 14:48] apple502j commented on #2276
I think it's from the hardware - from the Scratch HEX file, which is closed source. You can't extend.

[2019-09-11 03:43] weijiahui1 commented on #2276
How can I extend more code blocks and commands on this basis?

[2019-09-11 04:29] apple502j commented on #2276
Making from scratch? You need your own HEX

[2019-09-11 04:35] weijiahui1 commented on #2276
HEX what? How to own this？

[2019-09-11 07:06] apple502j commented on #2276
.hex file. As I mentioned before it's closed source. Nobody except ST knows how, and not sure if they'll tell you about it.

[2019-09-11 14:49] benjiwheeler commented on #2273
I checked out Scratch-Minion's project ( https://scratch.mit.edu/projects/327014325 ) and verified this. If you continuously increment pen color by 101, it's always red. If you use 100, the color cycles through the rainbow.

[2019-09-11 15:41] benjiwheeler commented on #2273
The current 3.0 behavior also appears to be inconsistent with Scratch 2.0.

Note that from 2.0 to 3.0, we changed the pen color range size from 200 to 100; still, you can see that continually incrementing by 200 used to keep the color red:

![image](https://user-images.githubusercontent.com/3431616/64712154-bcd18800-d488-11e9-8083-8be30306e157.png)

So in 2.0, the period size for pen colors to cyc

[2019-09-11 15:44] benjiwheeler commented on #2273
Looking into `MathUtil.wrapClamp`, it seems to me like we _might_ want to reconsider how it works.

Its current code is:

[code]

I think that's more understandable by rewriting it like this: (note I'm not proposing this change, just understanding it)
[code]
I think this is built around the assumption that if you kept incrementing n by 1, you'd want `max` and `min` to be distinct stopping points.

[2019-09-12 21:15] helderman commented on #2273
One more thing: I see a similar effect with the legacy block 'set pen color to (number)' - which should only exist in projects that were migrated from Scratch 2.0 to 3.0, not in new Scratch 3.0 projects. Colors cycle at a period of 202 instead of 200.

[2019-09-14 17:30] AmazingMech2418 commented on #1892
I recently submitted a PR to add the backspace and shift keys. The enter key is already supported.

[2019-09-16 13:06] thisandagain commented on #2273
/cc @kchadha @cwillisf

[2019-09-19 14:33] hyansuper commented on #2244
I found that the REPORTER block can link to an async function, or a function that returns a Promise object, but the HAT block can't
[code]
[code]
now the HAT block will block and don't execute the block below it

[2019-09-19 15:16] soleimaniha commented on #1426
Hi,
Is the mentioned link, still working?
If not, is there a new way to load the plugins in linux?

[2019-09-19 18:58] kchadha commented on #1077
Adding to the "Known Manifestations of this Bug" section above:

- Control character custom block name (or added block labels) causes erroneous empty red hat block to appear on the workspace in place of custom procedure definition block:

![control-char-in-custom-block](https://user-images.githubusercontent.com/1786240/65272816-b40a3300-dad4-11e9-93e5-902f557ef428.gif)

[2019-09-19 19:06] kchadha commented on #1077
Another helpful note for debugging/testing, the backspace control character can be copy pasted from this webpage:

http://www.unicode-symbol.com/u/0008.html

There is a small text field under the description of the character for easy copy-pasting:

![image](https://user-images.githubusercontent.com/1786240/65273382-e4060600-dad5-11e9-8db7-3619a665a9b3.png)

[2019-09-23 15:12] alexwenbj opened #2281 "The move speed is faster than Scratch GUI VM"
### Expected Behavior
The sprite's  "move x steps speed" in this "pure" VM is the same as the Scratch GUI VM

For example,
[code]
program, the sprite should move at the same speed in this "pure" VM or in Scratch GUI VM.
### Actual Behavior
In this "pure" VM, the sprite moves faster than it in the Scratch GUI VM.

### Steps to Reproduce
![image](https://user-images.githubusercontent.com/12047524/65

[2019-09-23 15:55] BryceLTaylor opened #2282 "Creating and deleting a clone in the same When I start as a clone stack crashes Scratch"
### Expected Behavior

If you build this stack:
![Screen Shot 2019-09-23 at 11 40 22 AM](https://user-images.githubusercontent.com/1088291/65440950-8cc6a500-ddf7-11e9-9772-f9968bbdc77b.png)
And click the green flag it should not crash Scratch.

### Actual Behavior

Scratch freezes and nothing you click is responsive.  After a minute or so it pops up with a "page not responsive" dialog:
![Screen Sh

[2019-09-23 16:16] apple502j commented on #2282
This is a known bug since 2.0 😜
Aaaand why did you remove [help wanted]?

[2019-09-23 16:23] apple502j commented on #2282
My thoughts on it:

1) Clone 1 (for short, C1) produced
2) C1 makes C2
3) C1 dies and C2 makes C3
4) C2 dies and C3 makes C4
...
(causes high CPU usage)

[2019-09-24 09:09] alexwenbj opened #2283 ""Ask ... and wait" & "show variable" not work in scratch-vm VM"
### Expected Behavior
Show a prompt to accept user input for the block "Ask ... and wait",and show variable in the top-left side of canvas when check the variable.

### Actual Behavior

Does not show the prompt input and not show the variable in the canvas.

### Steps to Reproduce
1. Create a variable
2. Check the variable check-box.
3. Add "Ask what is your name and wait" block to a sprite.
4. Ru

[2019-09-24 11:06] apple502j commented on #2283
This is because those things are handled in Scratch GUI.

[2019-09-24 11:34] Kenny2github commented on #2282
Well of course, a forever loop has a 1/FPS delay, giving plenty of time for the clone to delete itself. What is interesting is that:
![image](https://user-images.githubusercontent.com/28599280/65506636-a1419500-defe-11e9-8ce6-8d939482e8b0.png)
![image](https://user-images.githubusercontent.com/28599280/65506672-b0284780-defe-11e9-81d9-f6e62663701b.png)
*doesn't* crash it, suggesting that, indeed

[2019-09-24 23:08] alexwenbj commented on #2283
@apple502j Thank you.I know, but I don't understand, if the VM can't execute the project completely, what is the meaning of the existence of this standalone VM?

[2019-09-25 05:01] apple502j commented on #2283
VM runs project, send signals to GUI part and receives it. i.e. VM is blind.

[2019-09-25 06:10] alexwenbj commented on #2283
@apple502j Yeah,I know.What I want is just play the project, not need the editor GUI.The VM with GUI editor js file size is too large to me, so I think maybe I can use the VM only, but it doesnot support all the features.One more problem, see #2281 .

[2019-09-25 22:19] towerofnix commented on #2281
scratch-vm runs at 60 frames per second by default. To match Scratch's 30fps, you'll need to call `vm.setCompatibilityMode(true)` in your own project.

[2019-09-26 02:46] alexwenbj commented on #2281
@towerofnix Thank you!

[2019-09-26 02:46] #2281 closed, assigned to nobody

[2019-09-27 01:26] alexwenbj commented on #2283
@apple502j By the way,Where i can find all the VM APIs except review the source code?For example,how can I get the API for send "Ask...and Wait" signal and receive the answer, and so on.Thank you very much.

[2019-09-27 06:46] apple502j commented on #2283
@alexwenbj Why do you not review all the code?

[2019-09-27 06:48] alexwenbj commented on #2283
@apple502j I think maybe there is a simple way.

[2019-09-27 13:35] apple502j commented on #2283
Not really, and you can just search.

[2019-09-27 14:18] #2283 closed, assigned to nobody

[2019-09-27 16:01] alexwenbj opened #2284 "When parse the variable monitor, what event will be trigger?"
I want to know when the VM parsed the the variable/list monitor,what event will be trigger?I only find the vm.runtime.requestAddMonitor() ,this function will trigger any event just like SAY or ANSWER? If yes,what is the event? Thank you.

[2019-09-28 06:07] #2284 closed, assigned to nobody

[2019-09-29 09:39] alexwenbj commented on #2053
Yes, this happened on iOS.I think maybe the assets number is too large,or assets file size is too large?

[2019-09-29 10:24] alexwenbj commented on #2053
Maybe this is not a loading problem,it is a render problem.I can see all the assets has been loaded,but can't see in stage.

[2019-09-29 20:52] cshaa opened #2285 "Add min, max and clamp blocks to Operators"
### Requested feature
Functions `min` (returning the lowest of two values), `max` (returning the greatest of two values) and `clamp` (returning a value that is between two bounds, or the closest bound) should be included in the Options tab.

### Block design
![obrazek](https://user-images.githubusercontent.com/1671665/65839272-8fe7f680-e30b-11e9-9b5b-40eaf8c196dd.png)

### Motivation
Any time you

[2019-10-01 14:57] alexwenbj opened #2287 "When variable changed by slider,how to trigger the change event to the stage?"
I want to define my own player,and meet this problem about variable show and change.
For example,I defined a global variable name "num",it can be changed by the slider, another sprite( will say the "num" value.When I change the "num",how can I inform the sprite to say this new value?（Generally speaking,I want to inform all the cases related to this variable, here just for example)

<img width="222