[2017-02-22 23:49] cwillisf commented on #479
I think this is a problem with text handling in our SVG code, so I'm moving it to scratch-render. Thanks for the report, @SillyInventor!

[2017-02-22 23:49] #479 closed, assigned to nobody

[2017-02-24 16:40] SillyInventor commented on #478
I think this was a result of not all the images loading or not loading quickly enough. It happened a few times in a row, but I can't reproduce it anymore.

[2017-02-24 16:40] #478 closed, assigned to nobody

[2017-02-26 17:42] thisandagain opened #481 "Clones don't inherit pen color"
Reported by a Scratcher in the forums:

### Expected Behavior

- Clones should inherit pen color from the sprite which created them

### Actual Behavior

- They inherit the default "blue" pen color

### Operating System and Browser

Mac OS 10.12.3  |  Chrome Version 56.0.2924.87 (64-bit)

[2017-02-27 04:55] Vanrao opened #482 "npm install- not working on windows"
Please help me get this running. Working fine on Ubuntu.
### Operating System and Browser

Windows 10

[2017-02-27 07:58] bates64 commented on #482
You're going to have to actually give us the error or it's gonna be _pretty_ hard to help you :)

[2017-02-27 08:31] benajaero commented on #482
Have you installed node and npm?

[2017-02-27 08:40] Vanrao commented on #482
npm install fails by throwing error in line number:471 in module.js
Error: Cannot find module 'copy-webpack-plugin'

@Blaze349 I have installed both. Set up the path variables also.

[2017-02-27 13:57] thisandagain commented on #482
Hi @Vanrao ! Could you please share the complete contents on the `npm-debug` log?

[2017-02-27 21:32] benajaero commented on #482
Try this.
`npm install --save-dev copy-webpack-plugin`

Or:
`sudo npm install --global webpack`

[2017-03-01 17:06] thisandagain opened #484 "New Sprite Not Always Visible"
### Expected Behavior

After selecting new sprite, said sprite should appear.

### Actual Behavior

Works sometimes, but not always. Eg. apple doesn't load.

### Steps to Reproduce

Start blank project, click new sprite, click apple.

### Operating System and Browser

Ubuntu 16.04, chrome 56.0.2924.76

---
Moved from LLK/scratch-gui#54
/cc @SillyInventor

[2017-03-01 20:29] SillyInventor commented on #481
This can be fixed by copying _customState and _events from renderedTarget to newClone in makeClone.

[2017-03-02 13:47] #455 closed, assigned to nobody

[2017-03-02 16:05] rschamp opened #488 "Validate sprite renames"
Empty sprite names should be rejected, and duplicate sprite names should be updated with a counter.

An invalid sprite name shouldn't throw an error, it just shouldn't rename the sprite. Maybe return `true`/`false` if successful?

[2017-03-02 16:21] #484 closed, assigned to thisandagain

[2017-03-02 16:31] #453 closed, assigned to nobody

[2017-03-02 16:32] thisandagain commented on #450
Resolved in LLK/scratch-render#94

[2017-03-02 16:32] #450 closed, assigned to nobody

[2017-03-02 17:13] Vanrao commented on #482
Thank you. It worked :)

[2017-03-02 17:13] #482 closed, assigned to nobody

[2017-03-02 21:47] thisandagain opened #489 "Switching to undefined costume switches to last costume"
From a Scratcher:

[2017-03-06 18:23] thisandagain commented on #139
To match Scratch 2.0, the stop button should also reset graphic effects.

[2017-03-06 18:28] thisandagain opened #492 "Hidden sprites don't stamp (they do in 2.0)"
Reported via internal playtest 3/3/17.

### Expected Behavior

A hidden sprite should stamp, as it does in 2.0, unless we intentionally want to change that behaviour in 3.0?

### Actual Behavior

A hidden sprite doesn't stamp, while it does in 2.0 (e.g. Project ID 77009574).

### Steps to Reproduce

Use Project ID 77009574 to view the behaviour.

### Operating System and Browser

_Mac & Chrome_

-

[2017-03-06 18:38] thisandagain opened #493 "Change in pen size when cloned"
Reported during internal playtest 3/3/17.

### Expected Behavior

I would expect pen size not to change in the cloned pen drawings, especially since no pen size blocks were used.

### Actual Behavior

In @christanbalch's project, the lines of the squares are smaller for the cloned squares versus the non-clones. There's no pen size blocks in the scripts.
<img width="780" alt="screen shot 2017-03-03

[2017-03-06 18:48] mrjacobbloom commented on #492
I vote to definitely keep this behavior the way it was in 2.0

[2017-03-07 18:56] #492 closed, assigned to paulkaplan

[2017-03-07 18:56] thisandagain commented on #194
Work from @morantsur and myself can be found here:
https://github.com/LLK/scratch-vm/compare/develop...morantsur:develop

[2017-03-07 19:34] #139 closed, assigned to paulkaplan

[2017-03-08 00:24] TheBrokenRail commented on #412
Should I make a separate request for a RB block?

[2017-03-08 00:48] TheBrokenRail commented on #194
Looks great but, how will offline files work, and can you add import/export SB3 to the playground, and you could include vector images inside the JSON, as vector images are typically pretty small.

[2017-03-09 20:10] SillyInventor commented on #489
I think this is because Cast.toNumber is different from Interpreter.asNumber. Specifically, toNumber will return 0, instead of NaN, so you will never get an input that won't return a costume.

[2017-03-09 21:02] SillyInventor commented on #493
This is caused by the same thing as #481 and should have the same solution.

[2017-03-09 22:37] ericrosenbaum opened #500 "Should the <key [x] pressed?> boolean reporter accept an input?"
The < key [space] pressed > boolean reporter does not accept an input in 2.0, but currently in 3.0 it does.

I got excited for a minute about this because it could become a feature: you could for example loop through a list of letters, to check if each is pressed, rather than using separate if statements. This already works in 3.0 for letters, but numbers seem to be treated as ascii codes, so they

[2017-03-09 23:04] mrjacobbloom commented on #500
note that some Scratch 2.0 projects use a hacked <key [] pressed> blocked already, which might break if the functionality changes. I believe Griffpatch wrote a key->ascii project that detects keys not in the list

[2017-03-09 23:09] ed-cooper commented on #500
Overall, I think this would be beneficial

**Reasons for:**
- A lot of people hacked this block in Scratch 2.0 for convenience (allowing them to loop through keys) or to access keys that were not otherwise exposed (eg. backspace)
- It is confusing to less experienced Scratchers how people got reporters in the block (as they don't understand 'hacked blocks')
- Scratch 2.0 (indirectly) supports this

[2017-03-10 02:42] towerofnix commented on #500
I agree that this probably isn't a very likely case. More likely than dropping a variable named '10' into the "move steps" block, but not by much.

[2017-03-14 16:28] tmickel opened #501 "SB2 import: some imports seem broken"
### Expected Behavior
Demo:
https://scratch.mit.edu/projects/150198954/
https://llk.github.io/scratch-gui/#150198954

In this project, the math operators looked like this in 2.0:
<img width="186" alt="screen shot 2017-03-14 at 12 21 05 pm" src="https://cloud.githubusercontent.com/assets/120403/23910602/ad94e130-08b0-11e7-9995-bd7df845bc1f.png">
but look like this when imported into 3.0:
<img width

[2017-03-14 16:32] tmickel commented on #501
(p.s. looks like the VM is actually still running `asin(sin(9))` even though it shows up in the blocks as `abs(abs(9))`. It appears to not be `= 9` because of a rounding/float problem in 3.0, where it `= 8.9999...`).

[2017-03-14 18:57] mrjacobbloom commented on #501
Likely an unintended side-effect of LLK/scratch-blocks#829 so you'll probably find the same issue for effects blocks and rotation style

[2017-03-14 19:19] thisandagain commented on #501
Thanks @tmickel . Good catch. We'll take a look next week after we get through testing on Thursday (our testing this round doesn't include imports from 2.0).

[2017-03-15 17:20] benajaero commented on #436
I don't believe that you can touch a file in windows. It is a bash command.

[2017-03-17 13:30] towerofnix commented on #435
I believe this is fixed?

Test project ID: [150822401](https://scratch.mit.edu/projects/150822401/)

Scratch 2.0:

![Scratch 2.0](https://cloud.githubusercontent.com/assets/9948030/24045065/902b289a-0afc-11e7-9014-75e589658fad.png)

Scratch 3.0, on [an old version](https://github.com/LLK/scratch-vm/tree/635de4113d652fa321c45eb04bf6056d6309da86):

![Old Scratch 3.0](https://cloud.githubusercontent.

[2017-03-17 14:28] ericrosenbaum opened #502 "Large number input to "set pitch effect" causes an error"
### Expected Behavior

Values that you input to the sound effects should be clamped to reasonable max and min values.

### Actual Behavior

The audio engine tries to use very large values passed from the VM, which can cause web audio errors.

### Steps to Reproduce

Drag out a "set pitch effect block" and a "play sound" block

Put a large number such as 100000 into the set pitch effect block

Clic

[2017-03-17 19:46] thisandagain commented on #435
Resolved in #438

[2017-03-17 19:46] #435 closed, assigned to griffpatch

[2017-03-17 22:06] ericrosenbaum opened #503 "Clamp inputs to sound blocks"
Several sound blocks need their inputs clamped to reasonable ranges. These include:

- Note value for the "play note" block
- Duration in beats for the "play note", "play drum", and "rest" blocks
- Set and change tempo
- Set and change effect (each effect needs its own range)

[2017-03-19 00:16] Laphatize commented on #501
I noticed the same issue, it mainly doesn't work with projects that use "custom blocks".

[2017-03-20 13:45] rschamp commented on #301
Fixed by #459

[2017-03-20 13:45] #301 closed, assigned to nobody

[2017-03-20 16:03] thisandagain opened #505 "Clone limit not being enforced properly"
### Expected Behavior

- VM should limit number of clones for an individual sprite to 301

### Actual Behavior

- VM limits number of clones for an individual sprite to 302

### Steps to Reproduce

- https://scratch.mit.edu/projects/151234984/
- https://llk.github.io/scratch-gui/#151234984

### Operating System and Browser

MacOS 10.12.3  |  Chrome Version 57.0.2987.98 (64-bit)

[2017-03-20 18:28] thisandagain commented on #505
The more I look at this the more it smells like a race condition. I'm able to get a clone limit of `333` on iOS using Safari.

[2017-03-20 18:45] benajaero opened #506 "Feature: Custom reporter blocks"
Currently scratch doesn't allow for custom reporter blocks.

Custom reporter blocks would be blocks similar to the abs() block in scratch. Could this be a feature in Scratch 3.0?

[2017-03-20 19:18] benajaero commented on #505
I think the problem is that in the ones sprite
`(abs of (i)) + 1`
The plus one causes it to go one more than the actual value.
Also why is it abs in the vm but floor in the Scratch 2.0 editor?

[2017-03-20 19:38] rschamp commented on #488
@carljbowman @thisandagain I'm curious what we think about all-whitespace sprite names? In 2, we don't care if a sprite only differs in name by trailing whitespace (leading to 2 names that look identical). We also allow all whitespace sprite names, so you can name a sprite `' '` and a different sprite `'  '`.  Do we want to prevent this in 3?

[2017-03-20 19:38] thisandagain commented on #506
Tracking in #79

[2017-03-20 19:38] #506 closed, assigned to nobody

[2017-03-20 23:10] tmickel commented on #501
Not sure about custom blocks - those are pretty untouched as far as 3.0 development.

Another thing I noticed though: variables are sometimes broken on the import. That's because they were previously using an input, like this:
[code]

But, scratch-blocks was updated to have variables on a particular field:
https://github.com/LLK/scratch-blocks/blob/develop/blocks_vertical/data.js#L66

The mismatch

[2017-03-20 23:45] tmickel commented on #505
For more fun: https://llk.github.io/scratch-vm/#151234984 - I consistently get 300 on the VM playground, 302 on the GUI, and 301 in scratch-flash. 30fps vs. 60fps in the VM playground (which is the only difference I could think of between GUI/VM playground) seems to have no effect.

The code around cloning is a little bit spaghetti, and unfortunately, currently intertwined with Drawable initializa

[2017-03-21 11:30] #488 closed, assigned to paulkaplan

[2017-03-21 21:48] #502 closed, assigned to ericrosenbaum

[2017-03-21 21:48] #503 closed, assigned to ericrosenbaum

[2017-03-23 13:52] paulkaplan opened #510 "Adding costumes and backdrops to the VM does not load them to the renderer"
_Revised the content of this issue to be more specific & complete._

The introduction of scratch-storage moved the responsibility for downloading the skins and preparing them for rendering from the renderer into the vm. Although the transition worked for the initial project load, the public API (through `vm.addCostume` and `vm.addBackdrop`) were broken. Previously you were able to use the public A

[2017-03-23 22:34] #489 closed, assigned to nobody

[2017-03-24 05:10] #427 closed, assigned to cwillisf

[2017-03-27 15:10] paulkaplan opened #511 "Sounds are not being loaded into the VM"
Introduced (intentionally) in https://github.com/LLK/scratch-vm/pull/498/files as a `@todo`. Just wanted to file an issue for this so that we remember. To reproduce right now, just try to `play sound <meow>` on the default project and see it doesn't work.

[2017-03-27 15:12] paulkaplan commented on #511
@ericrosenbaum I know we had started working on this, make sure to tag this issue when you make a PR.

[2017-03-28 09:00] griffpatch commented on #467
I think this issue is fixed in PR #472

[2017-03-31 15:11] paulkaplan opened #515 "Costume and sound data must be reported with sprite info"
In order for the GUI to present sound and costume data in the tabs, we need to report not only the current costume but all costumes, as well as all sounds. I am labeling this a `bug` because until it is resolved we will not be able to play sounds or display costume thumbnails in GUI.

## Questions
How can we report the costume and sound data in a way that supports

1. Displaying a costume thumbnai

[2017-03-31 15:11] #511 closed, assigned to cwillisf

[2017-04-03 20:51] #510 closed, assigned to paulkaplan, cwillisf

[2017-04-04 20:10] cwillisf opened #518 "Connect to Scratch Device Manager"
In order to access hardware devices, the VM should be able to connect to the Scratch Device Manager.
Some of the code will be similar to that found here:
https://github.com/LLK/scratchx/tree/gh-pages/scratch_extensions

[2017-04-04 20:46] cwillisf opened #519 ""Quirks mode" SVG import"
### Expected Behavior

Many Scratch 2.0 SVG images have incorrect bounds or offset information. The VM (or perhaps the GUI, or some other import-related module) should "fix up" such an SVG when necessary before handing it off to the renderer.

Handling the fix-up outside the renderer means that we know when to apply the fix-up (only when importing a broken SVG) and also means that an alternative r

[2017-04-04 22:05] ericrosenbaum opened #520 "Clock face draws incorrectly"
### Expected Behavior

This 100% pen [project](https://scratch.mit.edu/projects/141331752) draws a working clock, and in Scratch 2.0 it looks like this:

<img width="479" alt="screen shot 2017-04-04 at 6 00 12 pm" src="https://cloud.githubusercontent.com/assets/567844/24680883/9f1d3f24-1960-11e7-8a7c-01315a7f3897.png">

### Actual Behavior

In Scratch 3.0 it currently looks like [this](https://llk

[2017-04-05 10:46] rasmushaglund opened #521 "Size property behavior in Scratch 3.0 not compatible with 2.0"
### Expected Behavior

Size measurement should be the same in Scratch 3.0 and 2.0 to ensure backward compatibility. In 2.0 size is defined as float while in 3.0 the property is rounded to integer.

### Actual Behavior

Size differs between versions making some edge cases result in Scratch 2.0 projects not being compatible with 3.0.

### Steps to Reproduce

Run and compare this identical project in

[2017-04-05 10:52] rasmushaglund commented on #521
https://github.com/LLK/scratch-vm/blob/develop/src/sprites/rendered-target.js#L301-L308

[2017-04-05 17:02] rasmushaglund opened #523 "Can't import/export XML in Playground"
### Expected Behavior

Should be able to import/export XML

### Actual Behavior

Importing/exporting XML in playground result in an error

### Steps to Reproduce

Navigate to http://llk.github.io/scratch-vm/ or http://localhost:8073/playground/ (latest master) and pressing "Export to XML" or "Import from XML".

Both actions result in `Uncaught ReferenceError: workspace is not defined`

### Operati

[2017-04-05 17:12] TheBrokenRail commented on #523
Now that ```workspace``` is no longer a global variable it needs to go to ```Scratch.workspace``` instead.

[2017-04-05 17:18] rasmushaglund commented on #523
Sounds good, I can fix it and create a pull request.

[2017-04-05 20:15] rasmushaglund commented on #481
Fixed in https://github.com/LLK/scratch-vm/pull/525. For some reason it wasn't automagically referenced in this ticket.

[2017-04-05 23:14] cwillisf commented on #523
Resolved by #524 -- thanks, @rasmushaglund!

[2017-04-05 23:14] #523 closed, assigned to nobody

[2017-04-06 13:31] rasmushaglund commented on #471
What kind of tests are needed? Are we looking for more detailed integration tests perhaps?

[2017-04-06 15:45] #515 closed, assigned to paulkaplan, cwillisf

[2017-04-06 16:07] paulkaplan commented on #520
I've simplified this down to the following project:
![screen shot 2017-04-06 at 12 06 36 pm](https://cloud.githubusercontent.com/assets/654102/24764184/87bafc24-1ac1-11e7-834d-81c995f807f0.png)

[2017-04-06 16:13] paulkaplan commented on #520
Seems to have to do with the fact that there is a 0x0 px costume. When I duplicate the sprite and add a 3x3 px dot costume, it works in 3.0:
![screen shot 2017-04-06 at 12 12 56 pm](https://cloud.githubusercontent.com/assets/654102/24764458/65b7bcce-1ac2-11e7-8772-5fc543903366.png)

I believe this is being caused by incorrect "fencing", I think coming from the renderer function `getFencedPositionO

[2017-04-06 21:58] cwillisf commented on #521
Reopening since #522 made `set size` act like Scratch 2.0, but the `size` reporter still needs work.

Specifically, the Scratch 2.0 `size` reporter returns an integer even when the internal size value might have a fractional component. See also: https://github.com/LLK/scratch-flash/blob/develop/src/primitives/LooksPrims.as#L244

@tmickel shared this example on #522:

[2017-04-07 14:56] rschamp commented on #471
@rasmushaglund If you run `npm run coverage` you will get a coverage report that looks like this:
![image](https://cloud.githubusercontent.com/assets/1512021/24805701/b5051be6-1b80-11e7-85d0-b652f4e96112.png)

You can use that as a guide to find which parts of the project are not covered by tests.

[2017-04-07 14:57] rschamp commented on #471
Both unit and integration tests are helpful, but unit tests are the easiest for us to verify.

[2017-04-07 18:58] SillyInventor commented on #471
I have been busy on other projects. Thank you for picking up the torch. What I did is in #527.

[2017-04-08 16:48] rasmushaglund commented on #521
Ah I see, I'll see if I can fix that right away.

[2017-04-08 17:39] rasmushaglund commented on #521
Now the above example is working at least, let me know if you find any more places that needs to change.

[2017-04-10 17:46] cwillisf commented on #521
Between #522 and #528 I believe this is now fixed.

@rschamp @paulkaplan: In the long term I'd like to consider other possible solutions to this, such as removing the rounding from the reporter in favor of rounding in the GUI combined with adding a tolerance to the `=` operator. We'd have to control that sort of change with a compatibility flag, though, since it would change project behavior in so

[2017-04-10 17:47] #521 closed, assigned to nobody

[2017-04-12 17:46] rschamp opened #530 "Update to ES6"
To get this repository in line with most of the other 3.0 repositories, update the syntax and build process to use ES6.

To maintain testability, restrict the syntax to what Node 6 (LTS) supports.

[2017-04-12 17:48] rschamp opened #531 "Re-instate the worker"
Use a worker for "the sequencer and down" + the core block implementations.
When we have them, use a worker per extension.

[2017-04-12 22:19] TheBrokenRail opened #532 "No Glow on blocks (I do not mean stack glow)"
### Expected Behavior

_Blocks should glow when running._

### Actual Behavior

_They just stack glow._

### Steps to Reproduce

_Make a forever loop with wait blocks in it and run it._

### Screenshot

#### What Should Happen
![glow1](https://cloud.githubusercontent.com/assets/17478432/24981838/814386aa-1fac-11e7-960e-11f7f874becd.PNG)
#### What Does Happen
![glow2](https://cloud.githubuserconten

[2017-04-14 00:16] ericrosenbaum commented on #520
Looks related to https://github.com/LLK/scratch-render/issues/53

[2017-04-17 23:26] CosmicWebServices opened #533 "Text blocks"
There is an old issue on Text blocks that has not been discussed in a while (as far as I know) and that issue should be at a scratch 3 repo.

Old issue: https://github.com/LLK/scratch-flash/issues/1142

[2017-04-17 23:56] rschamp commented on #530
Dupe of #3

[2017-04-17 23:56] #530 closed, assigned to nobody

[2017-04-18 16:36] CatsAreFluffy opened #536 "Case detect block"
Right now, the only ways to detect case are slow or require hacks (which should be creatable in the editor, but that's another story). A case detection block (like <[x] is uppercase?>/<[x] is lowercase?>) would be a fast and intuitive way to detect case.

[2017-04-19 22:53] CosmicWebServices commented on #536
Maybe it can be a dropdown for lowercase or uppercase.. make it simpler

[2017-04-20 01:01] mrjacobbloom commented on #536
Maybe also a block to convert to upper/lower case?

Also, how would this handle multi-letter strings? Would `<[Foo] is uppercase?>` check if it's all uppercase or contains any uppercase letters (or only check the first letter?). It might work better to do `<letter (1) of [Foo] is uppercase?>` to avoid those kinds of ambiguities

[2017-04-20 16:15] rschamp opened #537 "Use ES6 lint rules for the root"
Since we're moving our base Node version to 6, we can use ES6 syntax everywhere in the project. Less context-switching = nicer experience = convert our tests to ES6.

[2017-04-20 18:35] CatsAreFluffy commented on #536
Maybe it should just be an all letters check. I think `<letter (1) of [Foo] is uppercase?>` is too long and clunky (it's just `(letter (1) of [Foo])`+`<[F] is uppercase>`. Plus making it a multi-letter check moves the check loop to Javascript (or maybe even native code, depending on implementation) instead of being in Scratch, which would be much slower.

[2017-04-20 18:46] CatsAreFluffy commented on #520
Seems like the sprite is constrained to the +x-y quadrant (except for the digital time, for some reason, seems to be clamped to +y)

[2017-04-20 18:59] CatsAreFluffy opened #538 "Project crashes quickly"
### Expected Behavior

https://phosphorus.github.io/#21944330
Cycling background with hyperspace effect angry face. _I was a noob back then, ok? That's why it's not shared._

### Actual Behavior

https://llk.github.io/scratch-gui/#21944330/
Same as 2.0 but loops error:
Uncaught TypeError: Cannot read property 'skin' of undefined
    at RenderWebGL.getSkinSize (scratch-render.js:9669)
    at Render

[2017-04-20 21:06] #3 closed

[2017-04-21 15:37] CatsAreFluffy commented on #520
The 3.0 version of the project fails to load for me (no scripts exist)

[2017-04-21 17:02] thisandagain opened #543 "Cannot load projects"
### Expected Behavior

Should be able to load existing Scratch projects via the `/#{project_id}` path convention.

### Actual Behavior

Either:
- Project does not load (hangs)
- Project loads and then is immediately replaced by the default project
- Project loads but blocks are not visible

### Steps to Reproduce

Load any of the following (you may need to refresh and make multiple attempts):
http

[2017-04-21 22:49] cwillisf commented on #543
@lifeinchords brought to my attention another, hopefully related problem today: the sprite info report event goes crazy, causing extreme CPU load when switching your edit target sprite. On Firefox in particular, this winds up causing `TypeError: attempting to access detached ArrayBuffer` deep inside `lodash.defaultsdeep`.

This project is a good repro case:
https://llk.github.io/scratch-gui/#14485

[2017-04-24 18:07] paulkaplan opened #545 "Reporter monitors"
Tracking for first iteration of https://github.com/LLK/scratch-vm/issues/417

The VM will be responsible for tracking monitors' state:

- position on the stage
- view style (labeled, condensed, slider, legacy?)
- reference to value being tracked

For the first iteration, we need to have:

- [ ] A public API for managing monitors (creating, destroying and updating properties like position)
- [ ] A

[2017-04-24 18:07] paulkaplan commented on #417
I'm going to close this one in favor of the first iteration milestone in this new issue: https://github.com/LLK/scratch-vm/issues/545

[2017-04-24 18:07] #417 closed, assigned to paulkaplan, rschamp, cwillisf

[2017-04-24 18:58] rschamp commented on #543
@cwillisf Would you log that separately?

The issues of loaded projects being replaced by the default project and blocks not being visible issue has been fixed by https://github.com/LLK/scratch-gui/pull/325 and #542 respectively.  I think the hanging issue has was also fixed by https://github.com/LLK/scratch-gui/pull/325, although a couple of the example projects are large and have non-standard pr

[2017-04-24 18:58] #543 closed, assigned to rschamp

[2017-04-24 19:21] cwillisf commented on #543
High CPU load while switching sprites has been filed as LLK/scratch-gui#329

[2017-04-26 14:08] #537 closed, assigned to rschamp

[2017-04-27 13:55] rschamp commented on #538
It looks like this issue is caused when the clone is deleted in the same frame as the size is trying to be changed. If you get rid of the "delete this clone" block, there's no error.

[2017-04-27 15:09] paulkaplan opened #546 "Newly added sprite does not display on stage"
### Expected Behavior

_Please describe what should happen_
Adding a sprite through the library should make it appear on the stage.
### Actual Behavior

_Describe what actually happens_
It doesn't
![add-sprite--broken](https://cloud.githubusercontent.com/assets/654102/25490138/eba99a82-2b39-11e7-8ef0-54981094eacd.gif)

[2017-04-27 16:40] #546 closed, assigned to paulkaplan

[2017-04-28 17:54] CatsAreFluffy commented on #538
Well, now we know what's causing the issue :D There should be a thread for
tracking project compatibility in 3.0.

[2017-04-28 18:44] rschamp commented on #538
We have this document: https://github.com/LLK/scratch-vm/wiki/Compatibility

To be clear though this is a bug in the VM, we shouldn't throw any exceptions while running a project.

[2017-05-01 14:08] thisandagain opened #550 "Discussion - Many larger projects do not load / unusable"
Filing an issue to track this as it's something we should discuss. Many mid-sized projects (such as the one below) currently cannot be loaded into the GUI. I haven't spent too much time in the profiler yet, but a cursory glance shows that we are burning through memory and CPU even when the editor is idle.

## Examples
#### Mid-level Complexity Project
- `https://llk.github.io/scratch-gui/#15512864

[2017-05-05 12:28] thisandagain opened #553 "Add blocks to set drag mode for sprites"
Due to the removal of the "draggable" toggle in the sprite info pane, users will still need a way to toggle the draggable behavior of a sprite. Should we match the behavior found in the "set rotation style" block and add a new block to the "Motion" category? Or do we need to add a second level of "depth" to the sprite info pane (similar to what we have today in 2.0)?

/cc @carljbowman @ntlrsk

[2017-05-05 13:51] mrjacobbloom commented on #553
I'd vote for both options:

- It's important to have draggable status indicated (if not toggleable) in the info pane because there's literally no way to distinguish between a draggable- and non-draggable sprite in the editor, and any differences between the editor and the player should be clearly marked so that users know what they're sharing
- I'd also support a new block because it'd be nice for

[2017-05-05 19:10] thisandagain opened #554 "Add performance benchmarking suite"
It can currently be a little difficult to work through refactors on the VM because we don't have a way to track performance regressions. Building a simple benchmark suite based on how we are currently doing integration testing shouldn't be too difficult.

/cc @rschamp @cwillisf @fsih

[2017-05-08 16:20] rasmushaglund commented on #380
Where can I find the shark project?

[2017-05-08 16:23] rasmushaglund commented on #464
This is fixed, right?

[2017-05-08 17:37] cwillisf opened #557 "Cloning _customState: clones don't inherit correct pen state"
### Expected Behavior

When a rendered target is cloned, the new clone should inherit the pen state of the original. That includes:
- the size and color of the pen,
- whether the pen is down or not,
- and the events which implement drawing on move.

We should implement this in such a way that the cloning code doesn't have to "know about" pen implementation details. Ideally we should allow a block

[2017-05-08 17:39] cwillisf commented on #481
Partially resolved by #555, tracking remained in #557

[2017-05-08 17:39] #481 closed, assigned to nobody

[2017-05-08 17:39] cwillisf commented on #493
Partially resolved by #555, tracking remained in #557

[2017-05-08 17:39] #493 closed, assigned to cwillisf

[2017-05-08 17:46] rschamp commented on #464
Yes, thanks.

[2017-05-08 17:46] #464 closed, assigned to nobody

[2017-05-11 21:52] rschamp commented on #550
The serialization fix only addressed the issue with adding a new sprite in the simple project. There is still work to be done for the mid-level complexity project performance. Though I wonder if we need a general purpose issue like this for it, or should we investigate and file more specific performance issues?

[2017-05-11 23:03] cwillisf commented on #550
IMO the performance problems we were having before were bad enough to count as "broken" rather than just "not done yet" so this issue was justified at the time. If we've improved to just "not done yet" levels of performance problems (have we?) then I would be OK with closing this. If not, I'd prefer to leave this open until we identify the main things that are pushing into "broken" territory.

[2017-05-12 18:18] thisandagain commented on #554
From conversation with @fsih today – a few items to focus on first:

- General thread stepping times
- Variable getter / setter times
- Custom procedure times
- Custom procedure (run without screen refresh) times
- Broadcast times
- Block getters / setters (CRUD cycle)

[2017-05-12 21:21] fsih opened #564 "Make monitors work for per-sprite variables like x position"
### Expected Behavior

Different sprites' x position monitors have different names (e.g. apple x position) and record to separate monitors

### Actual Behavior

The 2 sprites' x positions share one monitor and overwrite each other

### Steps to Reproduce

Check the box next to x position for 2 different sprites and move them around
Relevant part of code: https://github.com/LLK/scratch-vm/pull/560/

[2017-05-12 21:25] fsih opened #565 "Figure out how to translate labels for monitors"
### Expected Behavior

Monitor labels should change based on the language that the rest of Scratch is in. The decimal point in number monitors should change to a comma in some countries. Also we should truncate the numbers after the decimal.

### Actual Behavior

Things are in English

### Steps to Reproduce

Check the check box next to a reporter block, say x position
Relevant code: https://githu

[2017-05-12 21:32] fsih opened #566 "Persist monitor state like its position and whether the checkbox is checked"
Maybe too many things for one issue?

### Expected Behavior

1. When you check a check box next to a reporter block, change categories, and come back, the checkbox should still be there.

2. In the variables category, when you make a new variable, other variables should stay in the same checked/unchecked state.

3. When you create a brand new monitor, it should appear below the monitors already on

[2017-05-12 21:50] #550 closed, assigned to paulkaplan, rschamp, cwillisf

[2017-05-15 14:47] fsih opened #570 "Only emit MONITORS_UPDATE action if the state has changed since last step"
This shouldn't have visible side effects, but will be more efficient.

Relevant code: https://github.com/LLK/scratch-vm/pull/560/files#diff-38d875e1d50b3158dc96404b65275a54R691

[2017-05-15 18:40] SillyInventor commented on #418
resolved by #80

[2017-05-15 18:40] #418 closed, assigned to nobody

[2017-05-15 18:48] SillyInventor commented on #404
Resolved by LLK/scratch-audio#26

[2017-05-15 18:48] #404 closed, assigned to ericrosenbaum

[2017-05-15 18:51] SillyInventor opened #571 "List of Costumes in Costumes Tab Doesn't Update"
### Expected Behavior

Should display all costumes of sprite.

### Actual Behavior

Doesn't show last costume added.

### Steps to Reproduce

1. go to https://llk.github.io/scratch-gui/
2. go to costumes
3. go to add costumes
4. select costume

### Operating System and Browser

Ubuntu 16.01, Chrome 58.0.3029.110

[2017-05-16 01:21] SillyInventor commented on #571
Should have put this in gui.

[2017-05-16 01:21] #571 closed, assigned to nobody

[2017-05-17 18:17] ericrosenbaum opened #572 "Crash on sending too many commands via Lego WeDo extension"
### Expected Behavior

When using the Lego WeDo 2.0 extension, I should be able to safely run a stack that sends commands in a forever loop, such as this one:

<img width="314" alt="screen shot 2017-05-17 at 2 09 17 pm" src="https://cloud.githubusercontent.com/assets/567844/26169119/89919882-3b0a-11e7-8143-c129c9ccb71c.png">

### Actual Behavior

In the case of the stack above, the code ran correc

[2017-05-18 21:27] ericrosenbaum commented on #572
I have a workaround for this- just adding a short wait time (200ms) to each block that sends a message to the wedo seems to prevent it. Even with that, though, it's probably still possible to trigger this bug and the resulting OS crash. I'll file another bug for scratch device manager, where maybe we should be throttling messages somehow.

[2017-05-21 18:21] TheBrokenRail commented on #416
This was fixed by LLK/scratch-gui#343

[2017-05-21 18:57] towerofnix commented on #416
~~Note that *this* issue was fixed by that PR, but costume and sound blocks still have the same issue (that is, when the sprite's costume/sound list is modified, those changes aren't reflected in the block dropdown).~~

edit: I wonder why..? That PR looks to be a general fix, you'd think it would apply to costume and sound blocks..

edit 2: Of note, clicking "duplicate" on the block fixes it. Is t

[2017-05-22 20:36] #545 closed, assigned to rschamp

[2017-05-22 20:47] #501 closed, assigned to nobody

[2017-05-23 14:56] mewtaylor opened #577 "Limit length of custom procedure names"
I just found a 2.0 custom procedure which has a name that is roughly all the lyrics to "All Star" by Smash Mouth (great song), and another one that was no fewer than 500 words in length. It might be worthwhile to limit this field's length in the future, no matter how much I love seeing a custom procedure used to honor one of the greatest songs of this century thus far.

[2017-05-24 15:49] CatsAreFluffy opened #578 "Uncaught TypeError: Cannot read property 'getFastBounds' of undefined"
### Expected Behavior
https://scratch.mit.edu/projects/156140411/
Project works.

### Actual Behavior
https://llk.github.io/scratch-gui/#156140411
After a few seconds:
Uncaught TypeError: Cannot read property 'getFastBounds' of undefined
    at https://llk.github.io/scratch-gui/gui.js:109072:48
    at Array.filter (native)
    at RenderWebGL._filterCandidatesTouching (https://llk.github.io/scratch

[2017-05-25 14:19] chrisgarrity opened #580 "Angle bracket character in block menu gets converted to HTML entity"
(Not sure if I am putting this issue in the correct repo)

### Expected Behavior

Characters in menu blocks should not change to HTML entities.

### Actual Behavior

In Lego Wedo extension, there is a hat block like this:

"When distance [<, >] [50]"

Where the less than and greater than symbols are choices in a menu (block definition is [here](https://github.com/LLK/scratch-gui/blob/556b665e41209

[2017-05-25 14:21] rschamp commented on #580
@cwillisf I suspect this is due to escaping in `blocksToXML`? I assigned to you since it's related to the extensions work, but happy to work with you on this.

[2017-05-25 14:24] chrisgarrity commented on #578
@cwillisf any ideas?

[2017-05-25 16:56] cwillisf commented on #580
Ha! That's a fun one :)
Actually @ericrosenbaum did the XML side of this, but I'm happy to dig into it as well. It's tempting to say "won't fix" since this code probably won't be around forever, but a) it would be nice to fix this for the playtest and b) we'll need to look out for this with the real extension mechanism once we get there.

[2017-05-25 17:08] cwillisf commented on #578
What's happening is that the VM is asking the render if (something) is touching any clone of a particular sprite, but at least one of the clones in the list doesn't have a drawable ID. That could mean that the clone in question has already been deleted but has not been properly cleaned up from the sprite's clone list, or it could mean that the clone in question was just created and doesn't yet hav

[2017-05-26 14:40] rschamp opened #582 "SB3 serialization exports clones"
### Expected Behavior

_Please describe what should happen_
SB3s should not contain clones.

### Actual Behavior

_Describe what actually happens_
They do.

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_
Save an SB3 of the default project.
Make a clone and save an SB3 of the default project.
Observe the clone saved in the seco

[2017-05-30 14:12] #416 closed, assigned to nobody

[2017-05-30 14:13] #367 closed, assigned to nobody

[2017-05-30 14:24] #582 closed, assigned to rschamp

[2017-05-30 18:23] #570 closed, assigned to fsih

[2017-05-31 11:26] paulkaplan opened #586 "Variable rename and delete does not work"
Scratch-blocks has it's own rename/update management but it isn't getting sent to the vm. so creating and renaming variables does not work correctly. This will depend on scratch-blocks variable create/update/destroy events.

[2017-06-02 03:48] greenSnot commented on #79
https://github.com/LLK/scratch-blocks/issues/904 This is the easiest way to add custom block(procedure) I think.

[2017-06-02 17:24] #566 closed, assigned to paulkaplan, fsih

[2017-06-05 12:28] paulkaplan opened #589 "Block not defined in blockToXML"
During our internal playtest, many projects eventually stopped being able to switch sprites, the error in the console was

[code]

I'm not sure why it is happening, but when `blockToXML` is called, some block is not defined.

Need to investigate and create a repro test case, as I don't have a way to repro beyond just using the app for a while.

[2017-06-05 13:22] jwzimmer-zz commented on #578
@cwillisf we also have https://github.com/LLK/scratch-render/issues/78 open, not sure if we want both cases or not?

[2017-06-05 13:29] jwzimmer-zz opened #590 "Uncaught type error: cannot read property "next" or "input" of undefined"
### Expected Behavior

The project should continue to play, regardless of pitch block.

### Actual Behavior

Saskia encountered a bug during the Catch Game Internal playtest (6/2/17):

Her project froze and was no longer playable.

<img width="431" alt="screen shot 2017-06-05 at 9 17 11 am" src="https://cloud.githubusercontent.com/assets/1320456/26785606/4379eb62-49d1-11e7-810e-4d47200a2991.png">

[2017-06-05 17:00] #293 closed, assigned to ericrosenbaum

[2017-06-05 17:03] #126 closed, assigned to nobody

[2017-06-05 18:40] ericrosenbaum opened #591 ""Pick random" value as input to "wait" is ignored"
### Expected Behavior

The "pick random" block should output a number that the "wait" block can use as a number of seconds.

### Actual Behavior

The value from the "pick random" block seems to be ignored, and the "wait" block always waits one second.

### Steps to Reproduce

Create and run this stack:

<img width="286" alt="screen shot 2017-06-05 at 2 34 19 pm" src="https://cloud.githubuserconten

[2017-06-05 18:43] thisandagain commented on #591
This also feels like a blocker for the upcoming play test.

[2017-06-05 18:59] ericrosenbaum commented on #591
I have a clue about this. Logging the value of the input (args.DURATION) in the wait block implementation [here](https://github.com/LLK/scratch-vm/blob/ecf535f4c3d4f5820ea969bb23a24ff4f6f4770b/src/blocks/scratch3_control.js#L76-L88), shows it running dozens of times, once per frame, with a different random value each time.

So, it seems to be re-evaluating the inputs every frame as it waits. So I

[2017-06-05 19:06] AnmAtAnm opened #592 "Pixel Quest Game fails: Messages not received"
### Expected Behavior

Load https://llk.github.io/scratch-gui/#62306380
When I click the "Start" button, the main menu should go away, music should play, etc.

### Actual Behavior

 * Variable StartGame does gets set (click was registered)
 * "musicbleh" and "startlevel" messages not received by clouds, background, etc. (verified by an edited version)

### Steps to Reproduce

 * Load https://llk.g

[2017-06-05 19:18] ericrosenbaum commented on #591
The "rest" block (in the sounds category) is implemented using a Promise and setTimeout, which you can see [here](https://github.com/LLK/scratch-audio/blob/19e1136e3b3a44a041f0f89eea2d2a19ec238175/src/index.js#L289-L301). This is equivalent to the example shown above, but behaves correctly:

<img width="296" alt="screen shot 2017-06-05 at 3 09 02 pm" src="https://cloud.githubusercontent.com/assets

[2017-06-05 19:59] jwzimmer-zz commented on #589
Further details from the playtest:

### Expected Behavior

Clicking on a sprite should bring up the blocks associated with that sprite.

### Actual Behavior

Reported by Shruti and others during the Catch Game internal playtest (6/2/17):

Several people ran into this, including @chrisgarrity. It looked like the scripts from one sprite were overwriting the scripts for another, since when you clicke

[2017-06-05 21:11] ericrosenbaum commented on #591
@tmickel @thisandagain @rschamp before we close this I want to confirm that this doesn't cause some other problem! specifically, is there a difference between using the stackframe timer like [this ](https://github.com/LLK/scratch-vm/blob/ecf535f4c3d4f5820ea969bb23a24ff4f6f4770b/src/blocks/scratch3_control.js#L76-L88 )and using a promise like [this](https://github.com/LLK/scratch-audio/blob/19e1136

[2017-06-05 21:42] fsih commented on #591
https://github.com/LLK/scratch-vm/commit/e49f076fa1cf2f15839755f1edea471c5f19f249

Looks like this commit did the opposite, going from a promise to a  stack frame. It's unclear why though

[2017-06-06 04:46] tmickel commented on #591
Ahah...what a problem. Sorry about this.

Some more exposition regarding the "wait" blocks: I think this is a pretty interesting problem actually. On the one hand we have "wait until <>"-type blocks which _demand_ that the input is re-evaluated every frame; on the other hand we have "wait () secs" which should only evaluate the input once. Actually the best solution is probably to inform the inter

[2017-06-06 12:07] towerofnix commented on #591
I'm new to how the interpreter for Scratch 3.0 works, so I might be getting any of this wrong :)

Do inputs for blocks that pause the interpreter get evaluated *every time* the interpreter ticks that block? If so, *why?* What block ever needs to get a new value, past the first tick it's run?

It looks like you already save data on the stack frame, e.g. in the `glide` definition:

[code]

So.. in t

[2017-06-06 14:10] tmickel commented on #591
@liam4 All of that is more or less right. The inputs probably _shouldn't_ be evaluated every tick by default.

But, there is at least one case where the input _must_ be evaluated every tick: "wait until <boolean>". "repeat until <boolean>" is similar, although complicated by the fact that it steps into/out of the branch.

The tricky bit will be covering both cases in a clear way.

P.s. in the Scra

[2017-06-06 14:55] towerofnix commented on #591
The 2.0 interpreter is pretty similar to the way I'd do it, yeah. Evaluate arguments on demand. I think that would theoretically make things the least complicated and most explicitly clear; though it would, of course, take a bunch of refactoring!

[2017-06-06 14:57] tmickel commented on #591
could be worth trying :) also might have performance benefits. the original reason for this way was having a good API for Scratch extensions (which maybe shouldn't have to evaluate their own inputs) and have the default blocks use the same API. But maybe something could satisfy everything...

[2017-06-06 19:12] paulkaplan commented on #589
So far this is the simplest repro I can figure out. Still kind of baffled by this though.
![block-to-xml-error](https://user-images.githubusercontent.com/654102/26847266-6059624a-4aca-11e7-9515-7d7dc9e7bc2d.gif)

Steps:
1. Add a block with a shadow field (e.g. "move __ steps")
2. Add a reporter into that shadow field (e.g. "x position")
3. Duplicate the block by right clicking
4. Connect the two b

[2017-06-07 06:21] mrjacobbloom commented on #591
I don't know too much about Snap! but I know that they make the distinction between code that's passed as a value (evaluated once) or as raw code (to be handled some other way), I believe that's what the rings are for. Someone back me up here since I don't know what I'm talking about

[2017-06-07 10:46] towerofnix commented on #591
@mrjacobbloom funnily enough that's was the topic of what I originally had written as a response to this thread, but it became really long and inconvenient..

Basically Snap<i>!</I> distinguishes between *normal* inputs and *unevaluated* inputs. They both look the same to the user, but unevaluated inputs actually give the implementation the *block* in the input, rather than the *value* of the bloc

[2017-06-07 12:03] paulkaplan commented on #590
I _believe_ this has the same root cause as https://github.com/LLK/scratch-vm/issues/589 : the vm block list gets out of sync with what is on the workspace because of block ID collisions.

@rschamp we could make these VM functions resilient to missing blocks by doing more asserting when we look up blocks, but I would rather know the root cause (which I believe is https://github.com/LLK/scratch-blo

[2017-06-07 12:39] paulkaplan commented on #589
@rschamp I think I've got a handle on this now.

It seems that scratch-blocks allows duplicate IDs for obscured shadow blocks ([confirmed here](https://github.com/LLK/scratch-blocks/issues/926)). When a block with a duplicated obscured shadow is deleted, the VM deletes the shadow block from its block cache.

It would seem from the [code comment](https://github.com/LLK/scratch-vm/blob/develop/src/e

[2017-06-07 12:47] thisandagain commented on #589
Thanks for tracking this down @paulkaplan ! I agree that we should resolve the root cause in `scratch-blocks` after consulting with the Google team.

/cc @picklesrus @rachel-fenichel

[2017-06-07 16:12] jwzimmer-zz opened #595 "When tilted any wedo block does not trigger"
**Note: this bug is in @ericrosenbaum's local repo ATM**

### Expected Behavior

1) When tilted any should trigger any time a tilt axis changes from not tilted to tilted
2) The When tilted any block should trigger when tilted

### Actual Behavior

Currently the block stack doesn't ever seem to get triggered

<img width="1280" alt="screen shot 2017-06-07 at 12 06 03 pm" src="https://user-images.git

[2017-06-07 16:55] cwillisf opened #596 "Clean up WeDo 2.0 blocks & support code"
### Expected Behavior

The WeDo 2.0 blocks and related support code in `src/blocks/scratch3_wedo2.js` should be well organized to serve as an example for extension authors dealing with slightly more complex hardware.

### Actual Behavior

Comments from @rschamp:

[2017-06-08 03:23] greenSnot opened #597 "Suggestion: Real local variables"
There are few kinds of local variable:
1) sprite-scope, Like scratch2.0
2) block(group)-scope, or rootblock-scope, like closure-scope
[code]
3) statement-scope, strict local variable, like
[code]

I think (2) is better, that makes local variable in each recursion available and more convenient than strict local variable.
[code]

[2017-06-08 11:00] towerofnix commented on #597
Ah, to clarify:

![demo](http://i.imgur.com/i4cQ941.png)

Local variables take a lot of work to get right... and, of course, in languages like JavaScript, they've caused [plenty of confusion](https://stackoverflow.com/questions/111102/how-do-javascript-closures-work), so:

* You want good documentation for how (script-) local variables work. This documentation should be understandable to kids who

[2017-06-08 16:05] greenSnot commented on #597
@liam4  You don't need to create a variable at the top because all the variables had declared in toolbox.They can choose local/global at that time.

[2017-06-08 20:53] #591 closed, assigned to fsih

[2017-06-09 21:39] paulkaplan commented on #589
fixed by https://github.com/LLK/scratch-blocks/pull/936

[2017-06-09 21:39] #589 closed, assigned to paulkaplan

[2017-06-09 21:39] paulkaplan commented on #590
Fixed by https://github.com/LLK/scratch-blocks/pull/936, but we'll keep an eye out for any such issues during the playtest monday

[2017-06-09 21:39] #590 closed, assigned to paulkaplan

[2017-06-10 19:49] TheBrokenRail opened #599 "Custom Shape in Extensions (SUGGESTION)"
### Read This First

_https://github.com/LLK/scratch-vm/wiki/Extensions-Proposal_

### Why

_Currently the extensions proposal only supports ```command```, ```reporter```, ```hat```, ```Boolean```, and ```hat```, while this is useful for most cases, there may be some odd cases (lambdas, c-hats, etc) where this is not optimal._

### The Suggestion

_My suggestion is to add a ```custom``` shape wher

[2017-06-11 04:23] Andrewyg opened #600 "Error when preparing the environment running npm install"
### Expected Behavior

According to the README after I run `npm install https://github.com/LLK/scratch-vm.git` I should have an environment for developing
### Actual Behavior

I run the npm install command but it cames out error and in my experience after npm install should be a Project name not URL

### Steps to Reproduce

open powershell or cmd run the command provide by README.md `npm install h

[2017-06-12 17:22] jwzimmer-zz opened #601 "Variable stops increasing eventually, but should go up to "infinity""
### Expected Behavior

The value should go up until it displays "infinity"; it shouldn't get stuck at a specific numerical value and stop increasing.

### Actual Behavior

The value gets fairly large quickly in the stack as shown, then slows down in its rate of increase. If you edit the value in the forever loop for how much the value is increasing by, you can lower the value to get the increase o

[2017-06-12 19:17] jwzimmer-zz opened #603 "Dragging a sprite doesn't bring it to front layer"
### Expected Behavior

In 2.0, when you drag a sprite, it goes to the front/ top layer.

I'm not sure if we want the 2.0 behaviour in 3.0 or not, since it can be annoying to re-layer your sprite if you just want to adjust the position a bit to see how it looks.

### Actual Behavior

Reported by Shruti during the Catch Game Internal Playtest II (6/12/17):

### Steps to Reproduce

Add a 2nd sprite t

[2017-06-12 19:28] jwzimmer-zz opened #604 "Uncaught TypeError: Cannot read property 'variables' of undefined"
This has the same symptom as https://github.com/LLK/scratch-blocks/issues/842, so I'm not sure if it should be tracked separately, but I went ahead and filed it since it had a different error in the console.

### Expected Behavior

I should see a different set of blocks for each sprite/ backdrop.

### Actual Behavior

My scripting area doesn't re-render when I switch between sprites. I had no spri

[2017-06-12 19:30] jwzimmer-zz opened #605 "Uncaught SyntaxError: Unexpected token P in JSON at position 0"
### Actual Behavior

I saw this error at the same time as I saw https://github.com/LLK/scratch-vm/issues/604. This error appeared in the console first, followed by the error in 604 (multiple times). I'm not sure how my project got into this state.

[code]

<img width="1280" alt="screen shot 2017-06-12 at 3 31 11 pm" src="https://user-images.githubusercontent.com/1320456/27051460-32d2985a-4f84-11e7

[2017-06-12 19:41] ericrosenbaum opened #606 "Extension prototype checklist"
This is a checklist for work on the extensions prototype (the corresponding checklist for work in the GUI is [here](https://github.com/LLK/scratch-gui/issues/298)).

**Wedo**

- [x] "Set motor direction" should take effect while a motor is running (either due to the "motor on" or "motor on for secs" blocks)
- [x] Detect that the device manager has disconnected from the wedo (e.g. after the OS goes

[2017-06-12 19:45] mrjacobbloom commented on #601
I'd prefer no limit until JS hits infinity -- that's the same as it is in 2.0, and it allows for more precise math. Maybe show fewer significant digits if it's in e-notation?

[2017-06-12 19:47] jwzimmer-zz commented on #601
I did eventually hit "Infinity" as a value with Stack 2, so maybe the question in this case shouldn't be whether there should be a size limit (it should just be "infinity"), but instead to investigate why Stack 1 stops increasing the variable value at some point - maybe that's just the bug...

[2017-06-12 19:57] cwillisf commented on #518
This is done at a prototype level as of #549 and #556

[2017-06-13 17:59] rschamp commented on #603
Tracking in https://github.com/LLK/scratch-gui/issues/161

[2017-06-13 17:59] #603 closed, assigned to nobody

[2017-06-13 22:35] cwillisf commented on #578
Fixed by LLK/scratch-vm#598

[2017-06-13 22:35] #578 closed, assigned to nobody

[2017-06-13 22:40] ericrosenbaum opened #607 "Browser locks up on sending speech synthesis commands too fast"
### Expected Behavior

It should be possible to call the speech extension block "speak" many many times very fast without locking up the browser.

### Actual Behavior

A stack like this one causes the browser to lock up:

<img width="212" alt="screen shot 2017-06-13 at 6 34 36 pm" src="https://user-images.githubusercontent.com/567844/27107724-a73cbf0c-5067-11e7-9ee1-f6596a36030e.png">

### Steps t

[2017-06-15 14:27] thisandagain commented on #604
@paulkaplan Can you investigate?

[2017-06-15 15:18] rschamp commented on #600
Thanks for your report @Andrewyg. It looks like you don't have Git installed, which is required to install from GitHub.

Also, the README is out of date. Installing via git will no longer work as expected, since we are not storing the build in git, and instead publishing it to NPM.

The method you were attempting will not set up a development environment for scratch-vm, but is what you would want

[2017-06-15 15:18] #600 closed, assigned to rschamp

[2017-06-15 15:55] jwzimmer-zz opened #610 "Edge-triggered hat blocks don't run their entire stack"
### Expected Behavior

Hat block should execute the entire thread associated with it when triggered, not just the first block under it.

### Actual Behavior

The hat block runs the 1st block in its stack, but not the others.

Note: noticed with @ericrosenbaum on his github page showing his extension fork.

### Steps to Reproduce

- Use the WeDo 2.0
- When distance < 50 block
- Drag out two of the

[2017-06-15 20:56] TheBrokenRail commented on #606
Will extensions block code (or normal block code in general) be sandboxed so it can only access scratch related APIs and not be able to access XHTTP, document, etc? And if so will you be able to add your own extension to a scratch 3.0 project and publish it with that extension on the website, (not ScratchX)? And if you want to make more advanced extensions that are not sandboxed maybe only sandbox

[2017-06-15 21:05] ericrosenbaum commented on #606
These are great questions. We are at an early stage with extensions for Scratch 3.0, so we don't know the answers yet- sorry!

[2017-06-15 23:02] cwillisf commented on #595
@ericrosenbaum, can we close this?

[2017-06-16 15:18] ericrosenbaum commented on #595
yup, fixed it

[2017-06-16 15:18] #595 closed, assigned to ericrosenbaum, cwillisf

[2017-06-16 20:37] jwzimmer-zz commented on #610
@morantsur also reported (something that sounds like) this during the Extensions Internal Playtest (6/16/17):

[2017-06-16 20:44] jwzimmer-zz opened #615 "WeDo 2 not connecting - briefly connects, then disconnects"
Reported during Extensions Internal Playtest (6/16/17).

### Expected Behavior

The WeDo should be able to connect to the SDM & Scratch. It should remain connected while the user is active.

### Actual Behavior

Several people were unable to connect. At least one of them was eventually able to connect, but two others were not.

The behaviour we observed was that the SDM would briefly show that it

[2017-06-16 21:03] ericrosenbaum commented on #610
This bug does not actually seem to be related to the restartExistingThreads being true (I've now set all of the extension hats to have restartExistingThreads false). It does seem to be specific to hats with edgeActivated set to true.  I thought it might have something to do with having two copies of the same hat running, but I can't reproduce it just by trying that.

[2017-06-16 21:08] jwzimmer-zz opened #616 "Type error: cannot set property 'next' of undefined; block stacks deleted"
Reported during Extensions Internal Playtest (6/16/17).

**TL;DR:** Block stacks were deleted (when using speech & WeDo extensions). This has the same "cannot set property 'next' of undefined" error as in https://github.com/LLK/scratch-vm/issues/590, which was fixed, but does not have the "cannot read property 'input' of undefined" error from that case. (If it's preferable to re-open #590 instead

[2017-06-16 21:10] jwzimmer-zz opened #617 "Speech recognizer randomly quits"
### Expected behavior

Speech recognizer should not stop recognizing speech.

### Actual behavior

Sometimes the speech reporter stops updating.

Screenshots from one of the times when it stopped:
<img width="1280" alt="screen shot 2017-06-15 at 2 35 35 pm" src="https://user-images.githubusercontent.com/1320456/27198231-535590ca-51df-11e7-98f0-f4aa16a3db13.png">
<img width="1280" alt="screen shot

[2017-06-16 21:11] jwzimmer-zz opened #618 "Speech recognition did not ever start working"
Reported during Extensions Internal Playtest (6/16/17).

### Expected Behavior

The Speech extension should have working speech synthesis and recognition.

### Actual Behavior

@thisandagain's speech recognition never worked:

@ericrosenbaum said:

### Steps to Reproduce

I am not sure.

### Operating System and Browser

_We were all looking at https://ericrosenbaum.github.io/scratch-gui/ via Chro

[2017-06-16 21:14] jwzimmer-zz commented on #617
Screenshots from when I encountered this during the Extensions Internal Playtest, 6/16/17:

Note I also encountered the "network" error that @thisandagain encountered in https://github.com/LLK/scratch-vm/issues/618.

<img width="1245" alt="screen shot 2017-06-16 at 4 57 39 pm" src="https://user-images.githubusercontent.com/1320456/27245004-348697f6-52b7-11e7-9ade-219f71d1f308.png">
<img width="124

[2017-06-19 16:16] ericrosenbaum commented on #606
Closing this since we've completed the internal playtest

[2017-06-19 16:16] #606 closed, assigned to ericrosenbaum

[2017-06-19 17:09] cwillisf commented on #615
If you're able to get this to happen again, please check for messages in the JS console window of the browser running the editor. My current suspicion is that this is a CORS problem, related to editing the SDM config file, but seeing the console output should confirm/reject that.

[2017-06-19 17:32] cwillisf commented on #615
Also, I just filed LLK/scratch-device-manager#76 since I think CORS issues will continue to grow in importance as we continue work on Scratch 3.0

[2017-06-22 14:27] rschamp commented on #153
For July: clicking hats should run their scripts without evaluating the hat first

[2017-06-22 14:55] carljbowman commented on #610
This is a dupe of https://github.com/LLK/scratch-vm/issues/153

[2017-06-22 14:56] #610 closed, assigned to nobody

[2017-06-22 15:58] paulkaplan opened #622 "Monitor label is not updated when a variable is renamed"
Since https://github.com/LLK/scratch-vm/pull/614 will make variable renaming work, we need to properly support it!

Monitor labels should change when the name of the variable changes

[2017-06-22 16:00] paulkaplan opened #623 "Monitor not removed when variable is deleted"
Because https://github.com/LLK/scratch-vm/pull/614 will fix variable deleting, we need to support it with monitors!

Monitors should go away when the variable they are attached to is deleted.

[2017-06-24 16:29] jiangbo2015 opened #625 "can it support react-native?"
### Expected Behavior

work well when use in react-native

### Actual Behavior
can't resoleve scratch-vm
![image](http://www.jiangbobo.cn/bug.png)
You can open this link [https://github.com/jiangbo2015/DD/blob/master/src/img.png](https://github.com/jiangbo2015/DD/blob/master/src/img.png)

### Steps to Reproduce

**use it in react-native, if I don't use vm in reducers/gui.js, that work well**
[code

[2017-06-27 14:33] #518 closed, assigned to cwillisf

[2017-06-27 15:22] ericrosenbaum opened #626 "Drums and instruments should wrap-clamp using 1-indexing"
### Expected Behavior

When selecting a drum or an instrument using a reporter block dropped onto the menu, the value of the reporter should always result in a drum or instrument being selected, wrapping the number if it is out of range. For example, since there are 18 drums, selecting drum 19 using a variable should play drum 1, drum 0 should give drum 18, etc.

### Actual Behavior

The code assu

[2017-06-27 15:31] ericrosenbaum opened #627 "Sounds selected by reporter should be 1-indexed"
### Expected Behavior

When you select a sound in the "play sound" or "play sound until done" block by dropping a reporter onto the menu, it should treat the sprite's sounds a 1-indexed list, and wrap-clamp appropriately.

This bug is similar to https://github.com/LLK/scratch-vm/issues/626.

### Actual Behavior

The sounds are selected using 0-indexing.

### Steps to Reproduce

Create a sprite wit

[2017-06-27 23:39] marisaleung opened #628 "Dropdown uses old variable."
### Expected Behavior
When a variable dropdown is changed to a different variable, the new variable is used when the block is run.

### Actual Behavior
When a variable dropdown is changed to a different variable, the first one is still referenced when the block is run.
![variable-dropdowns-broken](https://user-images.githubusercontent.com/27254516/27614350-e2f9b614-5b55-11e7-9e80-ad1715dd5f64.gif)

[2017-06-28 05:37] #557 closed, assigned to cwillisf

[2017-06-28 16:10] #586 closed, assigned to paulkaplan

[2017-06-28 16:11] paulkaplan commented on #604
I haven't been able to reproduce this. @jwzimmer could I get some help finding a repeatable way to get this?

[2017-06-29 15:44] rschamp commented on #625
@jiangbo2015 It looks like you're attempting to use `scratch-gui` in React Native?  Would you please re-post the image in "Actual Behavior"? It looks like GitHub lost it, so I can't tell what the error is.  While we aren't explicitly supporting React Native, we're interested in knowing what issues there are right now.

[2017-06-29 19:19] paulkaplan opened #630 "Need public API for changing a sound/costumes name"
For the costume/sound editors, we need a way for the GUI to trigger a name change.

It should use the same duplicate validation that the sprites use (i.e. add number on duplicate). That will address some of the recording numbering issues from the playtest with the sound editor.

[2017-06-29 19:33] paulkaplan opened #631 "Need public API for retrieving data (sample rate, samples) for a sound"
For the sound editor, I'll need a way to retrieve the raw data for a sound. At the least we will need sample rate and channel data.

[2017-06-30 01:25] jiangbo2015 commented on #625
**Yes, thanks for your comments. I want to use scratch-gui in React Native**
**But, React Native can't resoleve scratch-gui, because RN not run on browser environment**

[2017-07-05 08:16] OOOOOldZhu opened #632 "i think this repository need to suport chinese launguage and other launguage . thx"
i think this repository need to suport chinese launguage and other launguage . thx

[2017-07-06 14:12] carljbowman commented on #632
Tracking in #477

[2017-07-06 14:12] #632 closed, assigned to nobody

[2017-07-06 17:21] #628 closed, assigned to marisaleung

[2017-07-06 17:28] paulkaplan commented on #627
@ericrosenbaum do you think this should be done for the sound playtest milestone?

[2017-07-06 17:54] SillyInventor commented on #604
Could not replicate on Mac OS Sierra 10.12, Chrome 59.0.3071.115.

[2017-07-06 17:55] jwzimmer-zz commented on #604
@paulkaplan I'll try to repro it 👍

[2017-07-06 18:12] SillyInventor commented on #601
This is because, for int input, random returns:
`return low + parseInt(Math.random() * (high + 1 - low), 10);`
But to quote the JS specs for parseInt:

To solve this problem you must deal with it as a string.

[2017-07-06 20:14] SillyInventor commented on #592
Click is selecting 'white screen' rather than start button. Perhaps because pick is ignoring ghost effect.

[2017-07-06 20:18] SillyInventor commented on #467
Should be closed?

[2017-07-06 21:22] towerofnix commented on #467
I believe so, yes; the issue isn't happening anymore. Thanks for reminding!

[2017-07-06 21:22] #467 closed, assigned to nobody

[2017-07-07 15:59] rschamp commented on #625
For now, scratch-gui will not be supporting React Native and is intended for a browser environment. If there are places in scratch-gui where we could improve compatibility with React Native without changing the functionality, please make suggestions and/or pull requests on the scratch-gui repo.

[2017-07-07 15:59] #625 closed, assigned to nobody

[2017-07-07 18:48] cwillisf opened #635 "Support Scratch extensions"
Scratch 3.0 should support importing an extension file which defines and implements a new set of blocks.

Information on Scratch 2.0 extensions can be found here:
- https://github.com/LLK/scratchx/wiki

The current proposal for Scratch 3.0 extensions can be found here:
- https://github.com/LLK/scratch-vm/wiki/Extensions-Proposal
- https://github.com/LLK/scratch-vm/wiki/Extension-translation-straw-

[2017-07-11 17:48] thisandagain commented on #572
This should probably *also* be handled by the device manager.

[2017-07-11 17:56] thisandagain commented on #538
Fixed! Great job.

[2017-07-11 17:56] #538 closed, assigned to rschamp

[2017-07-11 19:15] fsih commented on #153
@tmickel I don't understand what the second check box means, can you give repro steps?

[2017-07-11 21:20] tmickel commented on #153
Sure! I don't remember precisely all the weird behavior that happens because of this. But one such repro... Start with this:
<img width="330" alt="screen shot 2017-07-11 at 5 16 43 pm" src="https://user-images.githubusercontent.com/120403/28091096-b92ccc10-665c-11e7-9685-83ae2e0da689.png">
The left forever is running (i.e. cat is spinning).

Drag the left blocks into the right forever. The glow sn

[2017-07-11 21:53] fsih commented on #153
For the first issue, this seems to be working already. I tried every hat block and the only one that didn't work was "when timer > 10", which must be a different bug, because timer is much greater than 10.

<img width="477" alt="screen shot 2017-07-11 at 17 51 57" src="https://user-images.githubusercontent.com/2855464/28092534-c0c5604a-6661-11e7-8bd0-5d2e7f66cfd0.png">

(So I guess https://github.

[2017-07-11 21:57] fsih commented on #153
Thanks Tim!

In Scratch 2.0 when you add the outer forever, the inner one stays glowing, and you can toggle the glow on the outer one, so that's cool

[2017-07-13 12:09] griffpatch opened #638 "Loaded Project's have broken variable assignments"
### Expected Behavior

Loading an existing project in Scratch 3 should have working variable assignment blocks.

### Actual Behavior

Existing variable assignments [set (var) = "value"] do not assign their values, whereas newly created ones, and duplicated versions (of the bad ones) do work.

### Steps to Reproduce

Both variables stay at 0 rather than being assigned any values.

Both values are a

[2017-07-13 12:14] griffpatch opened #639 "Clicking a variable should show it's current value"
### Expected Behavior

If you single click a variable, a reporter bubble should appear containing its current value.

### Actual Behavior

No value bubble appears (this used to work, but I think may have been lost when the double border around variables was removed?)

### Steps to Reproduce

Nothing happens.

It's value is reported in a bubble.

### Operating System and Browser

Chrome win 10

[2017-07-13 13:00] #630 closed, assigned to paulkaplan

[2017-07-13 14:28] rschamp commented on #639
Tracking in LLK/scratch-gui#519

[2017-07-13 14:28] #639 closed, assigned to nobody

[2017-07-13 19:08] #626 closed, assigned to ericrosenbaum

[2017-07-13 19:08] #627 closed, assigned to ericrosenbaum

[2017-07-13 21:00] jwzimmer-zz commented on #604
### Unable to repro

The closest I got to repro'ing was when I encountered the errors here: https://github.com/LLK/scratch-gui/issues/544#issuecomment-315391007. I added some blocks to the project - to the backdrop & to a sprite - but they were not (visible) in the scripting pane when I switched back between those assets to check if they were saved. When I checked the console, I saw the errors in

[2017-07-14 16:02] #604 closed, assigned to paulkaplan, jwzimmer-zz, cwillisf

[2017-07-17 12:45] paulkaplan commented on #638
@marisaleung do you happen to have any ideas about this?

[2017-07-17 13:10] paulkaplan commented on #638
This appears to be a bug in the way the VM imports the `VARIABLE` field. Looking at the block representation in the vm playground, the imported block has a variable field with value as the name.
![image](https://user-images.githubusercontent.com/654102/28269273-7a0510c0-6acf-11e7-9eba-97d2f52ff475.png)

The block representation of a newly added block looks like this
![image](https://user-images.gi

[2017-07-17 14:57] paulkaplan commented on #638
And there is another problem: when you click the checkbox, the monitor that is created is not associated with the variable. It creates a new variable.

[2017-07-17 15:07] #623 closed, assigned to fsih

[2017-07-17 15:07] #622 closed, assigned to fsih

[2017-07-17 18:15] cwillisf opened #642 "Load extension JS in a Web Worker"
When the VM receives a request to load an extension, that extension's JavaScript code should be loaded into a new Web Worker. That Worker should also include some extension support code to allow the extension to communicate with the rest of the Scratch editor.

[2017-07-17 18:18] cwillisf opened #643 "Register extension blocks with scratch-blocks & the VM"
When an extension loads and registers with the extension system, its blocks should be registered with the VM and scratch-blocks so that:
- the user can find the new extension blocks in the toolbox / block palette and
- the blocks can run correctly when placed in a block stack in the project's code.

This should be implemented in such a way that we avoid / fix #580

See also: https://github.com/LLK

[2017-07-17 18:20] cwillisf opened #644 "Expose Device Manager interface to extensions"
Hardware extensions will need access to the [Device Manager interface](https://github.com/LLK/scratch-vm/blob/develop/src/io/deviceManager.js). The API may need to change slightly in order to make it comfortable to use through the message dispatch system.

[2017-07-17 18:26] cwillisf opened #645 "Add translation support for extension strings"
The support code in extension workers should provide a way to translate strings.

See proposal: https://github.com/LLK/scratch-vm/wiki/Extension-translation-straw-cat

[2017-07-17 18:27] cwillisf commented on #635
Closing this in favor of a Project:
https://github.com/orgs/LLK/projects/6

[2017-07-17 18:27] #635 closed, assigned to cwillisf

[2017-07-20 19:26] cwillisf commented on #642
Completed in a [feature branch](//github.com/cwillisf/scratch-vm/tree/feature/extensions); will be merged after #643

[2017-07-20 19:26] #642 closed, assigned to cwillisf

[2017-07-24 13:38] paulkaplan opened #650 "Add sound / costume doesn't give unique names to assets"
### Expected Behavior

_Please describe what should happen_
Adding the same costume or sound several times should give the duplicates unique names (i.e. using `StringUtil#unusedName`)

### Actual Behavior

_Describe what actually happens_
It simply adds the asset with the original name, without considering if already exists.

### Steps to Reproduce

_Explain what someone needs to do in order to se

[2017-07-24 13:48] paulkaplan opened #651 "Need public API for modifying sound data"
The flip side of https://github.com/LLK/scratch-vm/issues/631

A few things of note came up during the sound editor prototype:
- [ ] Sound data is keyed by "md5" (actually, filename) in the audio engine. That means if you import multiple of the same sound, and edit one of the sounds by just swapping out the audio buffer in the audio engine, it would modify all of the sounds.
- [ ] Right now nothin

[2017-07-26 12:41] #650 closed, assigned to nobody

[2017-07-26 13:19] #631 closed, assigned to paulkaplan

[2017-07-26 14:18] #651 closed, assigned to paulkaplan

[2017-07-26 18:04] fsih opened #654 "If you run a script and add to the top of it, the added script doesn't get run"
Branched from https://github.com/LLK/scratch-vm/issues/153 (notes from tmickel)

### Actual Behavior

 "Untoggle" is based on the top-block of the thread, instead of the "script-block" of the thread. If the thread moves onto a different script, this can lead to weird behavior.

### Expected Behavior
Talked to Andrew about this, we think a reasonable fix would be:
- When script is added to the begi

[2017-07-26 18:06] fsih commented on #153
Moved second issue to its own issue: https://github.com/LLK/scratch-vm/issues/654
This issue is now just about bullet 1.

[2017-08-04 17:15] #153 closed, assigned to fsih

[2017-08-05 19:19] paulkaplan opened #656 "Need public API for duplicating sprites, sound and costumes"
In order to create context menus in the GUI that can duplicate assets, we first need public API for duplicating sprites, sound and costumes.

Implementation note: make sure that the assets do not collide, so they can be edited separately. This shouldn't be a problem for sounds, but it may be an issue for costumes.

cc @cwillisf I might need your help on getting costume duplication working correctl

[2017-08-09 01:39] Micircle opened #658 "Async output_boolean block runs with problem"
Such as:
![2017-08-09 09 33 54](https://user-images.githubusercontent.com/13041273/29101667-5ffe17b6-7ce6-11e7-8a1f-7dff196a1143.png)
![2017-08-09 09 34 51](https://user-images.githubusercontent.com/13041273/29101671-6811887a-7ce6-11e7-99c5-d7ccde52cd3d.png)

These will be loop but can't go next block.

[2017-08-10 00:38] thisandagain commented on #412
Tracking implementation in https://github.com/LLK/scratch-gui/issues/602

[2017-08-10 00:38] #412 closed, assigned to nobody

[2017-08-10 13:35] tmickel commented on #658
@thisandagain Seems like the Promises in `execute.js` keep causing some issues - I'd be happy to do a slight refactor sometime to fix issues like this and maybe improve performance, if it makes sense?

[2017-08-10 13:40] thisandagain commented on #658
@tmickel Agreed. I think that would be great.

[2017-08-10 16:48] CatsAreFluffy commented on #601
Wait, why is `parseInt` being used for rounding?

[2017-08-10 17:12] CatsAreFluffy opened #661 "(Playground) Watchers don't appear"
### Expected Behavior

Variable watchers work in Scratch GUI ([click](https://llk.github.io/scratch-gui/#170945846) and enable watcher)

### Actual Behavior

But they don't in the playground (add a variable and enable watcher)

### Steps to Reproduce

See above

### Operating System and Browser

Mac OS 10.11.6 Chrome 59

[2017-08-10 18:00] thisandagain commented on #661
Variable monitors are implemented in the GUI. You will need to use the GUI to use them.

[2017-08-10 18:00] #661 closed, assigned to nobody

[2017-08-17 03:17] youngonlyforyou opened #664 "how i can change the all the block 's language to other language ? Team should give many plan"
how i can change the all the block 's language to other language ? Team should give many plan

[2017-08-17 06:33] thisandagain commented on #664
Tracking in https://github.com/LLK/scratch-www/issues/1467

[2017-08-17 06:33] #664 closed, assigned to nobody

[2017-08-21 18:20] ericrosenbaum opened #665 "Speech Recognition extension prototyping"
Tasks for the next phase of prototyping a speech recognition extension:

- [x] Use a “start listening” block to enable recognition for a single utterance
- [ ] Add UI sounds to indicate start and end of recognition
- [ ] Update the icon on all "when I hear" hats while listening
- [x] Gather all inputs on "when I hear" hats on the start listening event
- [ ] Make the speech reporter monitor appear

[2017-08-21 18:31] ericrosenbaum opened #666 "Speech synthesis extension prototyping questions"
- [ ] Should we separate this from speech recognition into its own extension?
- [ ] To really do this across platforms, I guess we need to set up a server-side speech synth? e.g. [MaryTTS](https://github.com/marytts/marytts)

[2017-08-21 19:14] ericrosenbaum opened #667 "Lego WeDo extension improvements"
- [ ] Change tilt axis labels "up" and "down" to "front" and "back"
- [ ] Change the input to the "set light color" block to a color picker
- [ ] All menus should be non-droppable (i.e. for menus to select motor, motor direction, or tilt direction, do not allow a reporter to be dropped onto the input)
- [ ] Decrease the extra latency that we added to command blocks (this reduces risk of an OS cras

[2017-08-22 14:03] SillyInventor commented on #605
Unable to reproduce as with #604

[2017-08-23 17:26] jwzimmer-zz commented on #638
There still seems to be a bug here, where the variable-setting blocks in an imported project don't work properly (Chrome 60, Mac OS El Capitan, GUI).

**To repro:**
- Load 147710357 in the GUI editor
- Check the monitors in Data so the variables are displayed on the stage
- Add a stack that changes the value of one of the variables, effect1, to 10 in the backdrop scripting area
- Click the main st

[2017-08-24 14:46] rschamp commented on #605
Thanks @SillyInventor. I will close for now. We can re-open if this gets reported again.

[2017-08-24 14:46] #605 closed, assigned to nobody

[2017-08-24 16:24] #601 closed, assigned to nobody

[2017-08-25 15:02] CatsAreFluffy commented on #661
So what does the VM playground use for rendering? An old version of Scratch
GUI?

[2017-08-25 15:21] rschamp commented on #661
The VM playground is a bare bones implementation of hooking up the VM to the blocks (scratch-blocks) and the stage (scratch-render). It only exists as a developer tool for building features into the VM before they are exposed to the GUI.  Originally it served as a demonstration of the VM, before the GUI existed.

The GUI provides reusable components that hook up the VM to the renderer, blocks etc.

[2017-08-25 19:21] CatsAreFluffy commented on #661
That makes sense.

On Fri, Aug 25, 2017 at 8:21 AM, Ray Schamp <notifications@github.com>
wrote:

[2017-08-31 03:37] joshlory commented on #425
No longer repros?

<img width="1263" alt="screen shot 2017-08-30 at 8 36 07 pm" src="https://user-images.githubusercontent.com/413693/29905321-ea2fc8ac-8dc2-11e7-8d23-e476188d214f.png">

[2017-08-31 14:20] rschamp commented on #425
I wonder what fixed this... good work mystery PR!

[2017-08-31 14:20] #425 closed, assigned to cwillisf

[2017-09-03 22:21] towerofnix opened #672 "Text in costumes from 1.4 SBs converted to SB2s is not loaded"
(This is related to #128, but is partially specific to 1.4 SBs which were imported to 2.0, then loaded in 3.0.)

### Expected Behavior

The costume's text displays; for example:

![2.0 screenshot](https://user-images.githubusercontent.com/9948030/30006800-80803258-90d7-11e7-99f5-6708963ec556.png)

### Actual Behavior

The costume's text does not display:

![3.0 screenshot](https://user-images.gith

[2017-09-03 22:26] thisandagain commented on #672
@towerofnix Thanks for reporting. This is a 1.X edge case that is good to have tracked.

[2017-09-03 22:26] thisandagain commented on #672
/cc @rschamp @cwillisf

[2017-09-03 23:43] towerofnix commented on #672
(Note, mainly to self: I've put a little work into starting a bug fix [here](https://github.com/towerofnix/scratch-vm/tree/old-text-costumes); I can't continue much more without design/implementation discussion, though.)

[2017-09-04 08:14] xmeow commented on #658
This is very important to any blocks with async output, especially for those interact with hardwares.
After stepping into the code, I found that the 'waitingReporter' flag of if-else block didn't clear properly and re-enter the if-else loop infinitely.
There is a quick fix by resetting the 'waitingReporter' to the outermost thread stack.
[code]
code locate at https://github.com/LLK/scratch-vm/blob

[2017-09-04 15:57] tmickel commented on #658
That seems like the right bug to me @xmeow!

The cleanest place to put the reset might be here:
https://github.com/LLK/scratch-vm/blob/bf97383b423df673397992e7d01250814523377d/src/engine/thread.js#L210
I.e., as soon as the value is filled in.

[2017-09-05 14:24] ericrosenbaum commented on #520
fixed by https://github.com/LLK/scratch-render/pull/156

[2017-09-05 14:24] #520 closed, assigned to nobody

[2017-09-14 20:34] #643 closed, assigned to cwillisf

[2017-09-20 04:11] joseeph commented on #625
could we just include vm&scratch-blocks in UIwebview

[2017-09-21 12:55] #656 closed, assigned to paulkaplan

[2017-09-29 18:57] SillyInventor opened #683 "Import Doesn't Display Variable Monitors"
### Expected Behavior

A visible monitor in a saved Scratch 2 project should remain visible.

### Actual Behavior

It doesn't load.

### Steps to Reproduce

- Make any project with a visible variable monitor in 2.0
- Load said project into 3.0
- Note that the monitor is missing

### Operating System and Browser

Ubuntu 17.03, Chrome 61.0.3163.100

### Cause

The parseScratchObject function doesn't

[2017-10-02 14:34] rschamp commented on #683
Thanks for the report and suggested solution @SillyInventor!

[2017-10-03 20:29] kyleplo commented on #79
Would this be anything like what you are thinking?
![scratchblocks](https://user-images.githubusercontent.com/31634240/31147416-e0350092-a857-11e7-9412-a351d41056a9.png)

[2017-10-03 20:54] brianharvey commented on #79
If they're called "reporters," the return block should be called "report"! :)  But yeah, that's great!  Now on to first class lists...

[2017-10-04 23:13] cwillisf commented on #644
This is no longer a priority since we introduced a way to load extensions in the main thread (without a worker sandbox).

We'll still need to do this before we can support third-party hardware extensions, but I'm putting it in the backlog for now.

[2017-10-04 23:26] cwillisf opened #688 "Promises always yield"
### Expected Behavior

It should be possible to run a particular opcode many times per tick as long as the implementation function runs quickly.

### Actual Behavior

If the opcode implementation returns a promise, it can only run once per tick.

### Steps to Reproduce

1. Load an extension which runs in a worker
2. Find a block in that extension which runs quickly and doesn't impact any visual el

[2017-10-04 23:27] cwillisf commented on #688
Possibly related: #658

[2017-10-04 23:53] cwillisf opened #689 "Extensions: drop-down menus"
Implement drop-down menus for extensions.

For example, the `getInfo()` snippet below should display a drop-down menu. See [the extension spec](https://github.com/LLK/scratch-vm/wiki/Extensions-Proposal) for more detail, including more advanced examples.
[code]

[2017-10-05 03:32] tmickel commented on #688
Hmm, interesting. As far as I know, Promises only resolve when the JS event loop is idle, right? So in order to accomplish something like the above, the execution JS (i.e. interpreter) would have to yield the event loop. How do you know whether to yield the event loop or to continue executing other threads? Maybe like... anytime there is a Promise returned, drop out of execution and do a setTimeou

[2017-10-06 16:53] cwillisf opened #692 "Save & Load extension references with project"
### Expected Behavior

Saving a project which uses an extension then later loading that same project in a different editor session should result in loading the extension as a side effect.

### Actual Behavior

The user must explicitly load the extension in addition to loading the project.

### Steps to Reproduce

1. Load Scratch 3.0
2. Load an extension
3. Build a project using extension blocks
4.

[2017-10-06 17:26] cwillisf opened #693 "Monitors for extension reporters"
### Expected Behavior

It should be possible to monitor the value of an extension reporter.

### Actual Behavior

It's not possible to monitor the value of an extension reporter.

### Steps to Reproduce

1. Load an extension with at least one reporter.
2. Try to activate a monitor for a reporter provided by that extension.
3. ![can't](http://i0.kym-cdn.com/photos/images/original/000/451/651/823.gi

[2017-10-06 17:30] cwillisf opened #694 "Prevent loading two copies of the same extension"
### Expected Behavior

The user should be prevented from loading a second copy of a particular extension.

### Actual Behavior

Loading a second copy of an extension causes duplicate blocks and other internal runtime/VM issues.

### Steps to Reproduce

1. Load an extension using the extension library
2. Load the same extension again
3. Note the duplicate blocks

[2017-10-06 18:00] ericrosenbaum opened #695 "Add property in extension spec for hats: restartExistingThreads"
### Expected Behavior

You should be able to specify that an extension hat block does or does not restart existing threads started by that hat when it activates.

### Actual Behavior

It's not available yet.

[2017-10-06 18:09] ericrosenbaum opened #696 "Add property in extension spec for hats: edgeActivated"
### Expected Behavior

You should be able to specify that an extension hat block is activated on an edge (i.e. it activates when its function, which is called every frame, returns true after returning false) or on an event (i.e. it activates when its function is called).

### Actual Behavior

It's not available yet.

[2017-10-06 18:39] rachel-fenichel opened #697 "Create two blocks when importing a procedure from SB2"
Current XML for a custom block definition and call:
[code]

New XML for the same block definition and call:

[code]

Looks like this now:
![image](https://user-images.githubusercontent.com/13686399/31292957-50d7ce9a-aa8a-11e7-9cd8-ad087013695b.png)

In the new definition the inner "say something" block is a shadow block of type `procedures_callnoreturn_internal`.  It is connected to the input `cus

[2017-10-06 21:00] rachel-fenichel opened #699 "Implement argument reporters in the VM"
See https://github.com/LLK/scratch-blocks/issues/1102 and https://github.com/LLK/scratch-blocks/issues/1110

On the VM side:
- [x] Track duplication of argument reporters as they are dragged out of the define block
- [x] If used in a custom block with that argument name, they act like local variables
- [ ] If used in a custom block without the argument name, evaluate to zero/the empty string/false

[2017-10-08 14:54] thisandagain commented on #699
@paulkaplan Adding you to this as per the current schedule for Custom Procedures.

[2017-10-08 14:57] thisandagain commented on #696
@cwillisf @ericrosenbaum Is this blocking? Putting in the October milestone but feel free to push back to November or December if it is not blocking progress on the extensions playtest.

[2017-10-08 14:58] thisandagain commented on #693
@ericrosenbaum @cwillisf Does this feel like a blocker for you?

[2017-10-09 16:28] ericrosenbaum commented on #696
If I understand correctly, the default behavior is edgeActivated, which we use for most things, so this is not blocking anything as far as I know. I'll push it back to November for now.

[2017-10-09 19:16] ericrosenbaum commented on #693
Monitors are helpful for e.g. playing with WeDo sensors etc, but we can definitely run a workshop without them- so, not a blocker.

[2017-10-11 17:37] #697 closed, assigned to paulkaplan, rachel-fenichel

[2017-10-11 20:01] ericrosenbaum opened #702 "Long string in "say" block causes an error"
### Expected Behavior

You should be able to enter a long string into the say block and get a reasonable behavior, such as the say bubble rendering truncated text.

### Actual Behavior

The GUI locks up if you enter text that is more than a few words long.

### Steps to Reproduce

In the "say" block, type something like: "word word word word word word".

Definitely do not paste in the lyrics, in t

[2017-10-11 20:39] ericrosenbaum opened #704 "Color of menu field in extension blocks is incorrect"
### Expected Behavior

Menu input fields on extension blocks should be the color #FF6680.

### Actual Behavior

The menu input field shows up in red (#FF0000):
<img width="189" alt="screen shot 2017-10-10 at 2 57 15 pm" src="https://user-images.githubusercontent.com/567844/31465667-99746660-aea2-11e7-9058-25e1c4d0d545.png">

Compare to a non-extension menu:
![motion](https://user-images.githubuser

[2017-10-11 20:47] ericrosenbaum opened #705 "Extension hat blocks not working"
### Expected Behavior

Extension blocks that are hats should activate on an edge as expected.

### Actual Behavior

The Lego WeDo 2.0 extension hats "When distance < 50" and "When tilted any" do not activate.

### Steps to Reproduce

- Load the current extension prototype: https://ericrosenbaum.github.io/scratch-gui/extensions-oct2017/
- Add the Lego WeDo extension
- Connect a Lego WeDo (note that

[2017-10-11 20:53] ericrosenbaum opened #706 "Extensions should receive stop button event"
### Expected Behavior

If a Lego motor is running, you should be able to stop it by pressing the stop button.

Generally, extensions should have a function that gets called on the stop event.

### Actual Behavior

The stop button is not yet hooked up to extensions.

[2017-10-11 21:11] ericrosenbaum opened #707 "The "tilted?" boolean reporter is not the right shape"
### Expected Behavior

Extension blocks that are boolean reporters should have the usual hexagonal shape.

### Actual Behavior

Currently the "tilted?" boolean reporter in the Lego WeDo extension is rounded, not hexagonal.

[2017-10-11 21:41] ericrosenbaum opened #708 "Should the Lego WeDo "set motor power" block not turn on the motor?"
Currently, the Lego WeDo extension block "set motor power" sets the motor power and also turns the motor on. The WeDo extension in Scratch 2.0 also had this behavior. The motor turning on can seem unexpected, if you already have the mental model of "motor power" being an internal setting that applies to future motor commands. If you do not have this mental model, you might expect setting the motor

[2017-10-11 22:15] cwillisf opened #709 "Let extensions make non-droppable menus"
### Expected Behavior

Any Scratch 3.0 block should be possible to build in an extension.

### Actual Behavior

It's currently not possible to make a drop-down menu which cannot be overridden by inserting a reporter. That is, all extension menus currently accept reporters.

Note that another way to fix this would be to make all Scratch 3.0 menus accept reporters...

[2017-10-11 22:41] cwillisf commented on #688
I believe resolving a promise happens synchronously, whenever the promise's resolve or reject function is called. I believe messages coming from workers will only arrive during the event phase (does anyone know the proper name for this?), which could cause similar behavior for worker-based extensions. We could probably optimize that such that only reporters exhibit this behavior, and if that's not

[2017-10-12 01:29] tmickel commented on #688
hmm :) i should dig further into exactly what happens when a promise resolves. I'm not sure what you mean by they resolve synchronously but I'm not confident either.

Does this match your expectation?
[code]

Output:
message 0
message 2
message 1

p.s. hope things are going well!!!!!! not trying to cause problems here just to save you time if possible ;p

[2017-10-12 12:08] #702 closed, assigned to paulkaplan

[2017-10-12 19:28] cwillisf commented on #688
Interesting - that's not the result I expected. Hmmmmmm...

[2017-10-12 19:45] ChampikaF opened #710 "Touching color white always returns "true""
### Expected Behavior

Should only return true when touching white, otherwise false

### Actual Behavior

Always returns true

### Steps to Reproduce

https://llk.github.io/scratch-gui/#179622724
Click on the "touching color" block - it will return true

### Operating System and Browser

Mac OS Chrome 61

[2017-10-13 02:46] towerofnix commented on #709
Should there be a central issue for this? (Probably in scratch-blocks or scratch-gui.) I've brought up whether or not *all* menus should be droppable several times on various issues; it's a bit of a pain to search through each Scratch repository to find them. (Also, there's no convenient place for anybody to join in on discussion about the topic at the moment.)

[2017-10-13 12:00] griffpatch opened #711 "The '(variable name) of (sprite name)' reporter block is broken"
### Expected Behavior

The '(variable name) of (sprite name)' reporter blocks would return the variables value.

![image](https://user-images.githubusercontent.com/6737342/31545290-92e0d8a4-b016-11e7-9306-022412cb5486.png)

![image](https://user-images.githubusercontent.com/6737342/31545298-9f8ff67a-b016-11e7-96ce-7ea98a6ef39b.png)

### Actual Behavior

This used to work, but must have broken at s

[2017-10-13 13:57] towerofnix commented on #711
Hm, that's interesting. I recall implementing the OF block myself (https://github.com/LLK/scratch-vm/pull/311); I'll take a look (but I don't guarantee I'll find a solution :) ).

[2017-10-13 14:11] towerofnix commented on #711
It looks like variables are now prefixed by an ID in the variables array..

![Screenshot of sprite.variables object](https://user-images.githubusercontent.com/9948030/31550234-0b0199be-b007-11e7-90c1-51304043a071.png)

I'll have to look at the commit that made that change. I'm guessing there's a dedicated function on sprites to get the value of a local variable.

[2017-10-13 14:47] towerofnix commented on #711
Discussion on behaviour is needed.

Every variable in a project has a unique ID - this doesn't change, even if the variable is renamed. I believe this is used to make renaming variables easy (though correct me if I'm wrong).

At the moment, a simple change is to make the "(property) of (sprite)" block search the variables object for a variable whose name is the same as `args.PROPERTY`.

The other

[2017-10-13 16:49] #689 closed, assigned to cwillisf

[2017-10-13 16:55] ericrosenbaum opened #712 "What to do when we remove an extension?"
We'll need a way to remove an extension once it's been added. This will be probably done from a menu in the flyout next to the category name.

What should we do if there are blocks from that extension in the project? I can think of these options:

A) We check for the presence of extension blocks, and provide a message explaining that the user has to remove them before they can remove the extension

[2017-10-13 17:11] ericrosenbaum opened #714 "Making clones really fast locks up the browser"
### Expected Behavior

It should be possible to create and delete clones safely in any way you try it, including making clones that clone themselves when they start, because the clone limit prevents an excessive total number from being created.

### Actual Behavior

Certain simple stacks can cause the browser tab to completely lock up.

### Steps to Reproduce

Here's an example (try at your own ri

[2017-10-13 17:56] rachel-fenichel opened #715 "Custom procedure deletion"
Deleting a custom procedure should remove it from the VM.

Removing the block from the VM should also remove the corresponding custom command block from the toolbox.

The scratch-blocks work for custom procedure deletion is tracked in https://github.com/LLK/scratch-blocks/issues/1130

[2017-10-13 18:16] rachel-fenichel commented on #715
Scratch-blocks will decide whether a procedure can be deleted, and will delete all necessary blocks in the workspace.

Scratch-vm will delete the procedure when its corresponding `procedure_callnoreturn_internal` block is deleted.

[2017-10-13 18:20] rachel-fenichel opened #716 "Custom procedure identifiers"
What is the unique identifier for a custom procedure?

Scratch 2.0 uses the `procCode`, which is not unique: a user can create two different procedures with the same name, and they'll collide.

See https://github.com/LLK/scratch-blocks/issues/607#issuecomment-259808561 and the following comments for more context.

If there's a unique identifier that is not the `procCode` it will need to be passed

[2017-10-13 18:47] paulkaplan commented on #716
We can follow the recommendation of @cwillisf and de-dupe `procCode` in the VM and maintain `procCode` as the unique identifier.

We can de-dupe the procCode on sb2-import, and make sure that the procedure create/edit modal ends by going to the VM for a blocks refresh, instead of going directly back to scratch-blocks. That way the duplication checking can be kept entirely within the VM.

[2017-10-13 20:59] rachel-fenichel opened #717 "Custom procedure category in the toolbox"
In Scratch 2.0:
![image](https://user-images.githubusercontent.com/13686399/31566265-a3e07b84-b01e-11e7-8eb2-a9b28f3c1330.png)

This category contains one custom command block per defined procedure, and a "Make a Block" button.

[2017-10-13 23:03] #705 closed, assigned to ericrosenbaum, cwillisf

[2017-10-14 14:04] griffpatch commented on #714
Should creating a clone within a 'when i start as a clone' be treated the same as the recursive procedure call (where there is a check and the thread is set to yield)?

[2017-10-14 17:37] rasmushaglund opened #719 "Missing Scratch.Storage in Playground"
### Expected Behavior

It should be possible to run Playground

### Actual Behavior

It's not possible to run Playground because of the javascript error 'Uncaught TypeError: Scratch.Storage is not a constructor'

### Steps to Reproduce

Open Playground in a browser

### Operating System and Browser

61.0.3163.100 (Official Build) (64-bit) on Linux

[2017-10-14 17:37] rasmushaglund commented on #719
I think this is an issue related to Webpack. If someone give me a pointer I can try fixing it.

[2017-10-16 16:57] towerofnix commented on #717
Scratch 2.0 doesn't really do any sorting on the list of custom blocks in this category - it tends to be finicky, sometimes putting the most recently dragged block at the top of the list and sometimes seeming to order the list based on the positions of the procedure definitions in the workspace. I recommend sorting this list alphabetically, so it's easy to find the custom block you're looking for

[2017-10-16 19:25] jwzimmer-zz opened #720 "WeDo 2 reconnection should not require reloading the WeDo extension"
### Expected Behavior

If the WeDo 2.0 is disconnected, it should prompt you to re-connect it without requiring you to re-load the extension itself.

### Actual Behavior

At the workshop on 10/16/17, the Wedo extension did not attempt to reconnect so we had to reload it in order to reconnect.

### Steps to Reproduce

Unknown.

### Operating System and Browser

_Mac, Chrome, https://ericrosenbaum.g

[2017-10-16 19:28] jwzimmer-zz opened #721 "Make the color picker input non-droppable"
### Expected Behavior

You should not be able to drop into the color picker swatch (but we should continue to support 2.0 projects that use a hex value). /cc @ericrosenbaum for details.

### Actual Behavior

Dropping a block onto set color block with color picker causes an error.

### Steps to Reproduce

Drop a block into the color picker input.

### Operating System and Browser

_Mac, Chrome, htt

[2017-10-16 19:56] thisandagain commented on #709
We had a long conversation about this today after a play test. We believe it is important for some blocks to have non-droppable menus to avoid confusion and error states.

[2017-10-16 19:57] thisandagain commented on #709
/cc @ericrosenbaum @jwzimmer

[2017-10-16 20:49] mrjacobbloom commented on #721
Why not? There are use cases for setting pen color to a number. All of the projects in https://scratch.mit.edu/studios/1440810/ draw an image by pulling pixel data from a list and setting the pen to that color. Storing/drawing images in this way would be far harder if you had to set hue/saturation/brightness manually

[2017-10-17 00:50] thisandagain commented on #307
Resolved in https://github.com/LLK/scratch-vm/pull/691

[2017-10-17 00:50] #307 closed, assigned to cwillisf

[2017-10-17 01:47] Kenny2github commented on #721
Inputting a hex color in 2.0 is as simple as this:
[code]
since "0xffffff" + 0 = 16777215 and the "set pen color to [color]" accepted reporters that reported a decimal color.
I think this behavior should be duplicated in 3.0.

[2017-10-17 13:53] ntlrsk commented on #708
Yeah, this is one where either choice turns out not to be what many people expect. We have tried just having it set the state (which I feel is more logical), but often when we've tested that with kids and educators, I've seen them click the block and ask "Why didn't it work?" So that's why we implemented it this way.

Maybe for example setting the brightness of a light -- or setting a heater to ma

[2017-10-17 13:57] #708 closed, assigned to ericrosenbaum, thisandagain, ntlrsk

[2017-10-17 13:58] ntlrsk commented on #708
Though I think if there were a **change motor power by** block then we would make "set motor power" just to set the state.

[2017-10-17 14:47] msintov commented on #719
I wonder if there a workaround available to get past this issue before it's fixed? Thanks so much in advance for advice.

[2017-10-17 15:02] paulkaplan commented on #719
@cwillisf it looks like this is due to the change in https://github.com/LLK/scratch-storage/commit/c1f66ce1322b0b07d8581067055d815ae9c8b3b. Can you look into this?

[2017-10-17 21:40] #719 closed, assigned to rschamp

[2017-10-17 23:45] msintov opened #723 "After renaming a variable on the workspace, exported JSON doesn't reflect blocks on workspace"
### Expected Behavior

After renaming a variable on the workspace then exporting to JSON, importing that JSON on a new workspace should show the new variable name.

### Actual Behavior

The old variable name shows after importing the JSON.

### Steps to Reproduce

1. Load playground in browser
2. Create new variable "TestVariable"
3. Drag new "TextVariable" oval block as well as "set x to 0" data

[2017-10-19 20:24] regcole opened #726 "Pen blocks not included in runtime"
### Expected Behavior

When user uses pen blocks, the pen vm should use the functions as described in `scratch-vm/src/blocks/scratch3_pen.js`

### Actual Behavior

Console error is thrown as op_codes are not wired through any sort of `getPrimitives` method and the `scratch3_pen` is not included as a default package in `runtime.js`
[code]

### Steps to Reproduce

Use the following blocks:
[code]

#

[2017-10-19 20:26] thisandagain commented on #726
Tracking in https://github.com/LLK/scratch-gui/issues/792

[2017-10-19 20:26] #726 closed, assigned to nobody

[2017-10-21 21:11] MegaApuTurkUltra commented on #709
Can this be a feature that advanced users are allowed to disable? It's a pain to manually edit JSON

[2017-10-23 08:02] seyna commented on #307
Sorry guys, probably I'm wrong but I'm not sure, but where are the say/think blocks?

In official link [http://llk.github.io/scratch-vm/](http://llk.github.io/scratch-vm/) I can't find them.

I tried to download and build myself, but also in vain. If there anyone could help? Thank you very much!

[2017-10-23 08:32] Kenny2github commented on #307
@seyna the say/think blocks are not in the master branch yet, try the link https://llk.github.io/scratch-vm/develop

[2017-10-23 08:36] mrjacobbloom commented on #307
That link is broken but they're working here: https://llk.github.io/scratch-gui/develop/

[2017-10-23 09:38] seyna commented on #307
@Kenny2github I've downloaded the repository and build one using develop branch, however I still can't see say/think blocks.

@mrjacobbloom thank you for sharing the link, it does render blocks correctly, however I also need runtime which is provided by scratch-vm.

[2017-10-23 09:45] griffpatch opened #728 "Say/think bubbles stop moving with sprite"
### Expected Behavior

Say / Think bubbles always stay attached to the sprite they originated from (See: #691)

### Actual Behavior

Say / Think bubble can become fixed in their position and not move with their sprite / clone

### Steps to Reproduce

* Create a stack: When Green Flag Clicked -> Move (10) steps -> Say "Hello!" for (2) seconds.
* Click the green flag a couple of times
* Move the spr

[2017-10-24 12:40] #728 closed, assigned to paulkaplan

[2017-10-25 16:42] paulkaplan commented on #723
Thanks for this thorough report.

The problem with the `_getBlockParams` not working seems to be caused by the regression of this PR https://github.com/LLK/scratch-blocks/pull/1002 in scratch blocks, which got lost in a merge/refactor shuffle. I'll submit a PR to scratch blocks reimplementing that shortly. (Update: here https://github.com/LLK/scratch-blocks/pull/1182)

The actual import/export pro

[2017-10-25 17:35] paulkaplan commented on #723
I'm going to check with the blockly team about the change event problem, it seems to be an upstream bug as well.

[2017-10-25 17:44] paulkaplan commented on #723
@msintov Here is a the patch I referred to in the scratch-blocks issue. It fixes the issue and I'll make a PR out of it if the timeline for the upstream fix is long.

[code]

[2017-10-25 17:45] msintov commented on #723
@paulkaplan Thank you so much!! I'll try it.

[2017-10-27 00:53] TheBrokenRail opened #732 "Extension menus are too Bright"
### Expected Behavior

_They are darker than the outside block_

### Actual Behavior

_They pop out way too much_

### Steps to Reproduce

_Load Pen Extension in Scratch-GUI_

### Operating System and Browser

_Chrome_

### Screenshot
![motion](https://user-images.githubusercontent.com/17478432/32083305-c09f8988-ba8f-11e7-9afa-7786bbfaf89a.PNG)
![extesnion](https://user-images.githubusercontent.co

[2017-10-27 21:18] rschamp opened #733 "API `loadProject` should accept objects"
### Expected Behavior

_Please describe what should happen_
Passing an object (a parsed JSON representation of a project) to `loadProject` should work.

### Actual Behavior

_Describe what actually happens_
It fails with a warning `Failed to parse project. Non-string supplied to fromJSON`.

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavi

[2017-10-27 22:01] ericrosenbaum opened #734 "Auto-load pen extension"
### Expected Behavior

Some extensions, including pen and others to come soon, include blocks that were not extensions in Scratch 2.0. We need to detect that a project includes these blocks and load the extension automatically.

(This is distinct from https://github.com/LLK/scratch-vm/issues/692)

### Actual Behavior

The extension is not loaded.

### Steps to Reproduce

Load a pen project from Sc

[2017-10-30 16:53] ericrosenbaum opened #735 "Extensions should be able to define hidden blocks for compatibility"
### Expected Behavior

Because of changes in the set of blocks between 2.0 and 3.0, we need to provide support for compatibility with older projects. Part of this support involves the ability to define 2.0-compatible blocks that do not show up in the palette, but which can load in a project that uses them.

### Actual Behavior

Extensions cannot yet define hidden blocks.

[2017-10-30 17:04] cwillisf commented on #732
Tracking in #704.
@TheBrokenRail, I added your extra comparison screenshot over there. Thanks!

[2017-10-30 17:04] #732 closed, assigned to ericrosenbaum, cwillisf

[2017-10-30 17:08] ericrosenbaum opened #736 "Pen extension should support 2.0 pen blocks"
### Expected Behavior

Scratch 3.0 should be able to load projects that use 2.0 pen blocks.

### Actual Behavior

Loading a 2.0 project with pen blocks does not work.

There's a set of Scratch 2.0 pen blocks that the 3.0 pen extension needs to provide compatibility support for (note that the first two look similar to blocks in 3.0, but have a different range, so we need to provide distinct legacy

[2017-10-30 23:59] towerofnix commented on #735
So, basically hacked blocks :)

I wonder if it would be better to transform old projects to use new, functionally equivalent blocks? That way there's no mysterious 2.0 "legacy" blocks floating around (which will inevitably be backpacked and used in new projects, because people love using hacked blocks).

[2017-10-31 05:05] mrjacobbloom commented on #735
What about conversions to different ranges? It might be confusing to open an old project in Scratch 3.0 and see something like `change pen [color v] by ((variable) * (0.3922))`

[2017-10-31 16:00] thisandagain opened #738 "Investigate performance issues in "Floating Blocks" project"
### Expected Behavior

- Project should run at 30fps on testing Chromebook

### Actual Behavior

- Project runs slowly

### Steps to Reproduce

- https://scratch.mit.edu/projects/130041250/

[2017-10-31 16:02] thisandagain opened #740 "Investigate performance issues in "Stacky Build" project"
### Expected Behavior

- Project should run at 30 fps on testing Chromebook (2016 Samsung Chromebook 3)

### Actual Behavior

- Project runs slowly (5 – 10 fps)

### Steps to Reproduce

https://scratch.mit.edu/projects/155128646/

[2017-10-31 16:07] thisandagain opened #741 "Investigate performance issues in "Bouncy Heros" projects"
### Expected Behavior

- Project should run at 30fps on testing Chromebook

### Actual Behavior

- Project runs slowly

### Steps to Reproduce

https://scratch.mit.edu/projects/173918262/

[2017-11-01 00:58] towerofnix commented on #738
This project also runs very slowly in Scratch 2.0 for me - possibly the heavy use of color effects.

[2017-11-01 01:01] towerofnix commented on #738
In Scratch 3.0, this project runs at 60fps (30fps in compatibility mode) for me, once the ghost-effect transition of the text finishes. While the text is ghost-ing, the project runs very slowly (5-10fps).

[2017-11-01 04:33] Tymewalk opened #742 "Saturation slider sets its position to 0 when hitting 100"
When setting the saturation slider on a color dropdown to 99, it will jump back to 0, while still saying it's set to 99 or 100 (and the color appearing as such.)

### Expected Behavior

The slider should remain at the right side of the bar, as it is set to 99.

### Actual Behavior

The slider jumps to the left side of the bar, but still is set to and reports 99.

### Steps to Reproduce

* Grab any

[2017-11-01 04:39] Tymewalk commented on #710
Just confirmed on Ubuntu Linux 16.04 LTS, Firefox 55.0.

For some reason, moving the Saturation slider out and then back to the left side gives it a saturation value of 2, and it still reports true when it's set that way. I don't know if that's intended based on how `touching color []?` is supposed to work, or why it can't go lower than 2.

[2017-11-01 06:23] Kenny2github commented on #742
Cannot reproduce on Chrome 61 on Windows 8. Are you using https://llk.github.io/scratch-gui or https://llk.github.io/scratch-gui/develop ? The latter has the most updated changes.

[2017-11-01 06:27] Kenny2github opened #743 "Setting color menu sliders to zero sets others to zero too"
### Expected Behavior

When you drag the "saturation" slider all the way to the left, all other sliders should remain where they were.

### Actual Behavior

When you drag the "saturation" slider all the way to the left, then close the color menu and open it, the "color" slider is zero too.

### Steps to Reproduce

1. Navigate to https://llk.github.io/scratch-gui/develop
2. Drag out any color block

[2017-11-01 06:31] Kenny2github commented on #743
Actually, it seems like the "brightness" slider affects the other two in the same way!

[2017-11-01 08:17] griffpatch commented on #738
I don't think it's the ghosting.
If I remove the ghosting script then it still runs just as slow... For me
it's all in the cloning code. As more squares are cloned, it gets slower
and slower until finally they all 50 clones are created and then it bursts
into life.
If you remove the scripts that allow the squares to move around then the
cloning happens much much faster too, so perhaps something to

[2017-11-01 08:20] griffpatch commented on #738
Ok got it... It's the if on edge bounce block. Don't know why, but if you
remove that from the movement loop then the whole things runs great.

On 1 November 2017 at 08:17, Andrew Griffin <andy@griffpatch.co.uk> wrote:

[2017-11-01 09:10] griffpatch commented on #738
So digging deeper:

When a sprite is 'cloned', the rendered-target.makeClone() function is
called.
This 'invalidated' the costumes convex hull bounds
(scratch-rendered.setConvexHullDirty)
However, what is a real killer is that it appear to do this for all the
clones rather than just itself? so the more clones there are, the more
times this is called (which is why it starts to grind to a half after

[2017-11-01 11:52] towerofnix commented on #742
Yeah, it looks like https://llk.github.io/scratch-gui/ is what you're using, since I can reproduce the bug there. It's been fixed, though, in the develop version @Kenny2github linked.

[2017-11-01 11:59] #742 closed, assigned to nobody

[2017-11-01 12:02] towerofnix commented on #743
The cause of this makes sense - when you've set the saturation to zero, hue has no effect, so "color" is zero. Likewise, when brightness is set to zero, the only possible color is pure black. Neither of the other two sliders have effects, so they're set to zero.

"Set to zero" is worth understanding, though - I doubt Scratch actually intentionally sticks those slider values to zero. Chances are, S

[2017-11-01 12:04] thisandagain commented on #714
@mzgoddard This might be something to look at as part of #738

[2017-11-01 12:55] thisandagain opened #744 "Investigate performance issues in "Sprite Caching Benchmark" project"
### Expected Behavior

- Project should run at 30fps on testing Chromebook

### Actual Behavior

- Project runs slowly

### Steps to Reproduce

https://scratch.mit.edu/projects/14844969/

[2017-11-01 14:15] paulkaplan commented on #735
@cwillisf I see the `filter` property on blocks is designed to allow sprite/stage specific blocks. Do you think that could be used? Perhaps an empty array for "no targets"?

[2017-11-01 18:04] paulkaplan commented on #638
@jwzimmer can you try your repro case on develop again to make sure this is still a problem?

[2017-11-01 19:11] paulkaplan commented on #638
I tried following the instructions for your repro case but in the 4th step (activate the main cat sprite) the monitors do in fact update. I believe this was fixed by a vm change that was previously "recreating" local variables as global variables when you switched sprites.

[2017-11-01 19:43] jwzimmer-zz commented on #638
I duplicated part of the stack from the screenshot and tried to re-create the repro described above, and don't see the described behaviour.  The value of the monitor does seem to update correctly whether I alter the value under another asset or drag stacks into the stack when it's active.
<img width="1274" alt="screen shot 2017-11-01 at 3 41 41 pm" src="https://user-images.githubusercontent.com/13

[2017-11-01 20:02] #638 closed, assigned to mewtaylor, fsih

[2017-11-01 20:15] mzgoddard commented on #738
@griffpatch One link we can add to that is `makeClone` calls `updateAllDrawableProperties`, which includes `rotationCenter`, which calls `skin.setRotationCenter` in `RenderWebGL`.

Adding your mentioned error margin to `setRotationCenter` will reduce the `setConvexHullDirty` calls done to zero a frame while the project is making clones. Each new clone will still go through the costly step of build

[2017-11-01 20:20] #736 closed, assigned to ericrosenbaum, paulkaplan, cwillisf

[2017-11-01 21:16] Tymewalk commented on #710
I wasn't using the development version, so the buggy slider is already fixed. It still returns true on the development version for saturation <2 or brightness >96 though, which I'll assume is intended.

[2017-11-01 21:36] rachel-fenichel opened #747 "Scratch-vm should provide argument IDs when serializing procedure mutators"
Context from scratch-blocks: https://github.com/LLK/scratch-blocks/issues/1195

Scratch Blocks is going to keep blocks connected to the correct inputs when procedure calls are mutated.  To do so, arguments need IDs as well as names and default values.  These are provided by scratch-vm.  The next time I land procedure code it's going to be looking for an `argumentid` attribute on the mutator.  Here

[2017-11-01 22:12] griffpatch commented on #738
I do wonder why the convex hull is not stored against the costume rather
than within the sprite / clone? If it was stored on the costume and
invalidated there too then it would be super fast to retrieve it once it
was first created. I guess it depends whether an effect has been applied
that causes the shape to change? Then each clone might have a different
convex hull? Is that it? Size and rotatio

[2017-11-02 01:07] mzgoddard commented on #740
This project is heavily bound by the virtual machine's internal performance. The virtual machine's performance is dependent on how it has been written in javascript and some of the data structures used. `execute` in `scratch-vm/src/engine/execute` and `Sequencer#stepThreads` in `scratch-vm/src/engine/sequencer` are responsible.

## `execute`

The `execute` function is being deoptimized by at least

[2017-11-02 02:48] mzgoddard commented on #738
@griffpatch Yeah its shape changes due to effects that need a convex hull per target. Changes to effects like fisheye, spiral, and pixelate set the convex hull to dirty.

I don't think size and rotation or flipping horizontally result in needing a new convex hull. The same points are used in those cases as they get multiplied against the Drawable's transformation matrix. And those resulting points

[2017-11-02 04:29] #694 closed, assigned to cwillisf

[2017-11-02 07:04] griffpatch commented on #738
That is what I wondered, and going by the fact that most sprites don't have
an effect like whirl enabled, then maybe we could cache a vanilla convex
hull for each costume (calculated just in time) and not stored on scratch
server or anything. Cache against internal costume id and invalidated on
costume edit. Then use this of sprite has no effects applied, otherwise
calculate as we currently do (ex

[2017-11-02 09:07] griffpatch commented on #740
From my own experiments I've found that many optimisations have lead to small increases in performance, often far less that I hoped. Things I've tried:

* Replacing StackFrame & Stack with a single linked list with the top node as the root of the list. This would mean that the head of the stack 'was' the currently executing stackframe object so no new lookups were required. This resulted in a smal

[2017-11-02 13:36] griffpatch opened #748 "Travis Deployment Error"
Hi, I wanted to publish my optimised version of the Scratch-vm to make it easy to compare with the official development release. I followed the steps from https://github.com/LLK/scratch-gui/wiki/Publishing-to-GitHub-Pages, but although my build was successful in travis, it they reported that it failed to deploy:

![image](https://user-images.githubusercontent.com/6737342/32328591-54935088-bfd2-11e

[2017-11-02 14:09] mzgoddard opened #749 "Runtime Inspector"
Need a way to discover where the VM is spending time on opcodes and threads during a step. Many operations are quick and hard to get a handle on time spent in them and overhead for them in tools like Chrome's inspector performance tab.

Goal: Build an API of hooks to record opcodes and thread usage. This could be a single or set of simple hooks that are called during a frame's operation. The hooke

[2017-11-02 14:18] boazsender opened #750 "Consider creating a scratch-vm performance benchmark"
To help track performance improvement or regressions, a tool that can run a project in a browser and record information from #749 will give us regular recorded information that can be stored and used to compare performance between different versions of the vm, renderer, and gui.

It could be useful to run a project with a renderer but without rendering to test how many steps a second it can perfor

[2017-11-02 14:27] #735 closed, assigned to ericrosenbaum, cwillisf

[2017-11-02 14:44] griffpatch commented on #740
If it's any help, here is a test setup showing the optimisations in action (takes 12 seconds to run):

http://llk.github.io/scratch-vm/#141514080
https://griffpatch.github.io/scratch-vm/#141514080

[2017-11-02 14:46] tmickel commented on #740
My personal recommendation is, if possible, to try dropping the `util` object altogether, instead passing the `thread` object to blockFunction calls. Most of the methods in `util` are just proxies to the `thread` object; some are proxies to `sequencer` or `runtime` (which the blockFunction calls already have access to).

[2017-11-02 14:49] griffpatch commented on #740
If it can be removed then I'd say absolutely! All of my optimisations have
assumed keeping the existing framework incase it impacted 3rd party
modules, etc...

On 2 November 2017 at 14:46, Tim Mickel <notifications@github.com> wrote:

[2017-11-02 15:09] #711 closed, assigned to nobody

[2017-11-02 15:28] mzgoddard commented on #750
Here is a spreadsheet with some devices I'm testing with and there respective scores in the (deprecated) Google Octane benchmark and (2015) Unity 3D's WebGL benchmark. I'm using these to have a relative handle on the performance of the devices in regards to JavaScript performance and WebGL (and JavaScript) performance.

https://docs.google.com/spreadsheets/d/1Jo3wyZw6l3ey9-FKX87FGgpqPAkz8NCVhmA6zl

[2017-11-02 19:27] mzgoddard commented on #741
Bouncy Heros shows some [similar problems](https://github.com/LLK/scratch-vm/issues/740#issuecomment-341288496) like Stacky Build (#740) in `execute` and `stepThreads`. It also has regular frame stutter (Stacky Build has a little of this) where getProdcedureParamName and getProcedureDefinition spend a lot of time building up the info to start a procedure.

## `execute` and `stepThreads`

Bouncy He

[2017-11-02 19:57] mzgoddard commented on #740
[code]
https://github.com/LLK/scratch-vm/compare/develop...griffpatch:optimise_root#diff-6175aeaffc8aee750c94d0db41b34718R262

@griffpatch The real win for popping out those classes will be documenting them. `stackFrame` as is and `StackFrame` as a class won't import any negligible or no recordable difference in performance. Pulling out the `executeRecord` definitely helps but its hard to measure

[2017-11-02 19:58] mzgoddard commented on #740
This was just one example of what can deoptimize functions. Its also easy to illustrate. I'm having read `execute` closely enough to say if this is specifically what is deoptimizing it.

[2017-11-02 20:45] mzgoddard commented on #744
This project spends a lot of time in overhead with `execute` like https://github.com/LLK/scratch-vm/issues/740#issuecomment-341288496and #741 and `getProcedure*` calls like https://github.com/LLK/scratch-vm/issues/741#issuecomment-341532400. After those functions `needsConvexHullPoints` in `Drawable` is another contributor. `scratch-vm`'s isPromise spends a lot of time likely due to it being deopt

[2017-11-02 21:15] tmickel commented on #740
Think that makes sense. Agree that it is also a style question. At any rate I would focus a lot of effort on addressing that spot one way or another. Removing the `util` altogether in a branch at some point improved execution speed dramatically for me. I believe changing the internal values on a static instance would have a similar effect.

I believe there are examples where this is not quite true

[2017-11-03 13:48] #747 closed, assigned to paulkaplan

[2017-11-03 19:15] #704 closed, assigned to cwillisf

[2017-11-03 20:54] cwillisf opened #757 "Deserialized extension block menus always select default"
### Expected Behavior

Saving (serializing) a project, then loading it (deserializing) again, should result in the same values in all blocks in the project.

### Actual Behavior

Any extension block containing a drop-down menu resets to the default value for that dropdown.

### Steps to Reproduce

1. Load project 105661210 in both Scratch 2.0 and 3.0, in different windows or tabs
2. Compare the va

[2017-11-03 20:59] #734 closed, assigned to ericrosenbaum, cwillisf

[2017-11-06 09:04] griffpatch opened #760 "Broadcast and wait should not yield when dirty until return?"
Here is a simplified project demonstrating a feature that I use in most of my scratch projects that acts differently in Scratch 2 & 3.

https://llk.github.io/scratch-gui/develop/#184390187

In Scratch 2 you can execute blocks that update the screen and then issue a broadcast and wait without the Scratch runtime yielding to do a screen update until the broadcast and wait completes.

In Scratch 3 th

[2017-11-06 13:08] thisandagain commented on #760
@mzgoddard This might be a good / low hanging issue to prioritize.

[2017-11-06 14:26] paulkaplan commented on #760
I have a slightly simplified repro of the "broadcast and wait always yielding":
https://llk.github.io/scratch-gui/develop/#184450398

![image](https://user-images.githubusercontent.com/654102/32445676-81f6fcb4-c2d4-11e7-9e5b-9df5dc2b116d.png)

This project runs _very_ slowly, even though in 2.0 it runs at full speed.

[2017-11-06 14:27] paulkaplan commented on #760
I believe this may be related to this issue? https://github.com/LLK/scratch-vm/issues/688

[2017-11-06 14:27] paulkaplan commented on #688
Is this the same issue as this one?
https://github.com/LLK/scratch-vm/issues/760

[2017-11-06 14:38] thisandagain commented on #366
Resolved in #446

[2017-11-06 14:38] #366 closed, assigned to nobody

[2017-11-06 14:38] griffpatch commented on #688
I'm not sure... although I did wonder about that... but do broadcast and
waits actual use promises? I couldn't find anywhere obvious that linked
into the promises from the broadcast and wait code...

On 6 November 2017 at 14:27, Paul Kaplan <notifications@github.com> wrote:

[2017-11-06 14:40] griffpatch commented on #760
I'm not sure... although I did wonder about that... but do broadcast and
waits actual use promises? I couldn't find anywhere obvious that linked
into the promises from the broadcast and wait code...

[2017-11-06 14:41] paulkaplan commented on #714
FWIW this also crashes the scratch 2 editor :)

[2017-11-06 15:49] ericrosenbaum opened #763 "Error on running a WeDo block when WeDo is not connected"
### Expected Behavior

When the WeDo is not connected, it should be possible to run WeDo extension blocks without errors (they should no-op).

### Actual Behavior

WeDo extension blocks run without a WeDo connected cause errors.

### Steps to Reproduce

Add the WeDo extension, but do not connect a WeDo via Scratch Device Manager.

Clicking on the WeDo extension block "turn motor on" causes the err

[2017-11-06 21:12] mzgoddard commented on #740
@tmickel Yeah I did a thorough scan through the blocks and saw that and its sibling using util asynchronously. A small change should let us make this rule. Another option would be to provide a method to make a copy the async methods can depend on. Since the async blocks that'd need that are less frequent that wouldn't be a performance issue and they can opt-in to it instead of execute assuming tha

[2017-11-06 21:39] griffpatch commented on #760
Ok, so I have a fix for this, although I'm not sure if there are any ramifications.

See comit: 1b1bfed125745d5fc20db98ff8ee5f866d8d67bc

When a broadcast and wait executes, it ends up in an unending loop doing the same checks over and over for 1/60th of a second because the thread is active, but the thread.stack is an empty list.

If you add the empty stack check to the isActiveThreads then all t

[2017-11-06 21:45] griffpatch commented on #740
Yes I can, although I don't admit to knowing whether how I cached things
was done in a way that you would like, I was making the changes more as a
guide to what could be done... not the right way of doing it ;)
But I don't mind creating the PR so that it can then be reviewed.

Griffpatch

On 6 November 2017 at 21:12, mzgoddard <notifications@github.com> wrote:

[2017-11-06 22:02] paulkaplan commented on #760
Oh wow cool @griffpatch. I do wonder if that check should go inside of `isActiveThread` or if it should just be another condition in that `some` function

[2017-11-06 22:21] griffpatch commented on #760
Yes, I don't know either, please do have a rummage and see if you can
fathom it... I don't have a lot of time to look deeper, but after debugging
a while this was my first idea to try that might work...

On 6 Nov 2017 22:02, "Paul Kaplan" <notifications@github.com> wrote:

[2017-11-06 22:52] mzgoddard commented on #760
@paulkaplan @griffpatch broadcastAndWait and switchBackdropAndWait are the only parts of the vm that use `isActiveThread`. The current test checks if the thread is in the list of current runtime.threads. runtime.threads is not updated until the end of Sequencer.stepThreads after which scratch is going to do a render update and wait for the next frame.

Seems like there are three solutions:

1. Fil

[2017-11-06 22:54] mzgoddard commented on #760
Relevant stepThreads code:

https://github.com/LLK/scratch-vm/blob/b0870518a4ffe7cf991159ea1101d4d4c6a26ba8/src/engine/sequencer.js#L54-L55

[2017-11-06 22:55] mzgoddard commented on #760
Relevant isActiveThread code:

https://github.com/LLK/scratch-vm/blob/b0870518a4ffe7cf991159ea1101d4d4c6a26ba8/src/engine/runtime.js#L686-L688

[2017-11-07 08:24] griffpatch commented on #760
Turns out my fix is not good. It breaks the broadcast and wait when the receiving hat block takes more than one cycle to execute:

This project should cycle back and forward and not move across the screen... but it does now! oops...

https://griffpatch.github.io/scratch-vm/#184656394

What is happening is that the broadcast and wait is simply 'not' waiting, such that a subsequent broadcast is exec

[2017-11-07 08:50] griffpatch commented on #760
@mzgoddard I think you are spot on there, as it turns out though I think 2 & 3 do not work as expected... It seems that the broadcast and wait thinks that no threads are started until after the initial loop through the threads is complete perhaps? so your option one of post filtering after each loop works very well, whereas my initial fix of checking for empty thread stacks is floored. I moved the

[2017-11-07 09:25] griffpatch commented on #760
With regard to improving performance of the doneThreads... can you see any issue with this refactor: 90f82c3611af05f01ee134d6e83897c27d11cbae ?

It appears to run much faster with the same result as far as my analysis can go right now?

Griffpatch

[2017-11-07 15:37] mzgoddard commented on #740
@griffpatch No worries. We'll figure it out in the PR review.

[2017-11-07 19:28] mzgoddard commented on #760
@griffpatch https://github.com/LLK/scratch-vm/pull/758 was the filtering change merged in just a bit ago today. Its performance improvement changes the vm's behaviour as little as possible. I'm not sure yet what side-effects filtering earlier may have.

Theory wise, `splice` may well have similar issue compared with the prior `indexOf` implementation. Inside that loop they can take exponential tim

[2017-11-07 19:31] mzgoddard commented on #760
@griffpatch I think this is actually two bugs with one symptom. Your original change in isActiveThread is a fix for one bug. And the second bug is `Runtime.startHats`. `startHats` doesn't add restarted threads to the list of new threads that is returned to and relied on by `broadcastAndWait`. That lets `broadcastAndWait` think no threads were started though they are in the `runtime.threads` list.

[2017-11-08 09:11] griffpatch commented on #740
I have updated and added a PR for my caching scripts #770
The resulting speed up for general block execution is pretty good.
See if you would prefer to store the cache in a different way or not, and we need to ensure the invalidation works as intended under 'all' circumstances.

[2017-11-08 21:01] fsih commented on #564
Same as https://github.com/LLK/scratch-gui/issues/749

[2017-11-08 21:01] #564 closed, assigned to mewtaylor, fsih

[2017-11-08 22:31] griffpatch opened #773 "Use of requestAnimationFrame to smooth framerates"
### Expected Behavior

Projects that are capable, should run at a steady 30 or 60fps locked to the screen refresh for smooth animations.

### Actual Behavior

Mostly seen on projects with a steady movement / scrolling, screen will stutter (for two reasons)
1. Garbage collection - this is an irregular stuttering.
2. Timer / screen vsync moire - Where the 30 or 60fps javascript timer slowly moves in

[2017-11-09 03:35] thisandagain commented on #773
/cc @rschamp @mzgoddard @tmickel

[2017-11-09 03:36] thisandagain commented on #773
Related to https://github.com/LLK/scratch-vm/issues/208

[2017-11-09 03:37] thisandagain commented on #391
Closing as we are now tracking these issues in other areas / individual tickets. 🎉

[2017-11-09 03:37] #391 closed, assigned to nobody

[2017-11-09 04:49] tmickel commented on #773
interesting! would love to see demos of idea number 2.

@griffpatch are you sure it's a GC you're seeing, and not the calculation of two processing-steps before rAF calls a render? maybe my guesses in #208 were off-base... here is what I was thinking there, and a possible solution (maybe the processing step could be cancelled and rescheduled if it comes before the previous frame is rendered):
<img

[2017-11-09 10:16] griffpatch commented on #773
Oh cool - I had not seen that conversation (#208). But reading through it I see that the conclusion was to go back to using just setInterval for the time being.

My approach was to run all the step processing and rendering within the requestAnimationFrame block. I've also seen many articles on whether this should be done or not, and most seemed to suggest this method... I've uploaded my changes to

[2017-11-09 12:58] griffpatch commented on #710
This issue is occurring because of how we detect the color under a sprite.
* First we set up a detection canvas (g1)
* Fill it white (background color)
* Then we paint the sprites & background under the sprite masking them to the shape of the original sprite we are detecting against.
* Finally we look to see if there are any pixels in the resulting image that closely match the color we were lookin

[2017-11-09 15:05] paulkaplan opened #774 "In range update for webpack-dev-server does not work"
### Expected Behavior

_Please describe what should happen_

Clean install right now gives webpack-dev-server@2.9.4, which does not compile correctly when using npm start.

### Actual Behavior

_Describe what actually happens_

I'm on webpack-dev-server@2.4.1, which works. Had to downgrade from 2.9.4 (which is in-range for the package.json) to 2.4.1 to get npm start to work.

### Steps to Reproduc

[2017-11-09 16:05] paulkaplan commented on #774
The cause of the failure on newer versions of webpack-dev-server is this error:
https://github.com/webpack/webpack-dev-server/issues/1101

Note the caveats section of https://github.com/webpack/webpack-dev-server#caveats

May need to update uglifyjs?

[2017-11-09 16:57] fsih opened #775 "Undefined variable appears when deleting variable and changing sprites"
### Expected Behavior

No undefined variables

### Actual Behavior

undefined variable appears

### Steps to Reproduce

1. Go to Data. Create a variable.
2. Drag "set x to" block to workspace
3. In the dropdown, delete variable
You can also delete variables by right clicking on them in the flyout and choosing delete

all appears well

4. Add a new sprite or change to the costume tab
5. Return to t

[2017-11-09 16:58] fsih commented on #775
From @paulkaplan:
The reason this is happening is because the monitored block for the variable reporter is not being deleted when the variable is deleted. The VM is actually running the opcode for getVariable, which runs a lookupOrCreateVariable, emphasis on the Create part. The variable was deleted but then re-created. vm/scratch3_data.js only passes the variable ID to lookupOrCreateVariable, whi

[2017-11-09 20:27] ericrosenbaum opened #776 "Blocks menu separator for extensions"
### Expected Behavior

The extension spec should include a way to add a separator between blocks, to create groupings within a category. This exists in the core blocks toolbox ([here](https://github.com/LLK/scratch-gui/blob/develop/src/lib/make-toolbox-xml.js#L3)).

### Actual Behavior

It's not possible to add the separator in an extension as far as I know.

[2017-11-09 20:59] griffpatch commented on #249
I noticed that to be able to implement stretch blocks using this method was actually quite easy as all the work required is already done in scratch-render. So here is a branch with working 'scalex & scaley' blocks.

https://github.com/griffpatch/scratch-vm/tree/stretch

Running from this branch, try loading project: #185360912

I implemented a scalex & scaley graphics effect using the existing sca

[2017-11-09 20:59] mzgoddard commented on #773
@cwillisf mentioned in https://github.com/LLK/scratch-vm/issues/208#issuecomment-249041649 one of the recommendations I normally go with, of doing all the work you can in rAF callbacks. That works well as long your frame times are less than the browser has selected. 16ms on 60hz screens, 33ms on 30hz screens etc. If your frames take longer than that to run you can't really get smooth rendering wit

[2017-11-09 21:04] griffpatch commented on #773
One thing I didn't account for is slow rAF where we still want to keep the
step running even though a frame got missed... This could be accounted for
too.
Did you try out the demo links to see how they compare on your systems?

On 9 November 2017 at 20:59, mzgoddard <notifications@github.com> wrote:

[2017-11-10 13:39] Grinthy commented on #553
Yeah, I agree with the above.

[2017-11-10 13:42] thisandagain commented on #553
@carljbowman This is a detail that we dropped. We should sort out a fix next month.

[2017-11-10 13:44] Grinthy commented on #532
I don't see any difference, other than the 2nd image's background being black, but that not related.

Can you elaborate?

[2017-11-13 15:24] fsih opened #778 "The queueing of questions works differently from 2.0"
### Steps to Reproduce
- Drag 3 'ask <answer> and wait' blocks to the workspace. Put 'answer' or 'timer' in the text field.
- Click on all 3
![image](https://user-images.githubusercontent.com/2855464/32633790-eac03a7c-c576-11e7-9e5c-5700fd6647ac.png)
Behavior in 2.0: The question is nothing, then your first answer, then your second answer
Behavior in 3.0: The question is nothing all 3 times
If you

[2017-11-13 19:17] mzgoddard opened #781 "Rework pushReportedValue for performance"
### Expected Behavior

Run faster than it does now.

### Actual Behavior

While not itself slow, `Thread.pushReportedValue` is called a lot in Scratch projects so they can return a value to a higher level of the Thread stack. This makes it a prime opportunity to have a large performance gain from a fairly small amount of code distributed in `thread.js` and `execute.js`.

`Thread.pushReportedValue`

[2017-11-14 14:55] #302 closed, assigned to paulkaplan, cwillisf

[2017-11-15 15:54] fsih opened #786 "If you drop some blocks into the ask and wait text field, it doesn't glow"
### Expected Behavior

Ask and wait block glows

### Actual Behavior

It doesn't glow, even though the question prompt is shown.
![image](https://user-images.githubusercontent.com/2855464/32634354-2ebafbfc-c579-11e7-9c22-f5927c3814cb.png)

### Steps to Reproduce

1. Drag ask and wait block to workspace
2. Drop the 'answer' or 'timer' blocks into the text field
3. Click on the stack

### Operating

[2017-11-16 22:20] #775 closed, assigned to mewtaylor, fsih

[2017-11-16 22:26] fsih opened #790 "Monitors can cause undefined variables to appear"
### Steps to Reproduce
1. Create a (global) variable on Sprite1
2. Drag it out to the workspace
3. Add a sprite Sprite2
4. Delete the variable from Sprite2.
Note: This deletes the monitor block that monitors the variable, even though the block was actually not deleted globally because it still exists in sprite 1.

5. Switch to sprite1.
6. Turn on the monitor for the variable in sprite 1
Note: This

[2017-11-16 22:34] fsih opened #791 "Monitors memory leak"
runtime.monitorBlocks keeps a reference to all blocks with unique IDs created for the flyout and doesn't delete them. If you switch tabs and come back, flyout block are recreated, and monitor blocks grows.

monitorBlocks should only be storing monitored blocks, which have fixed IDs and therefore don't get duplicated when switching tabs and coming back. Paul proposes having engine/blocks.js take a

[2017-11-17 17:32] #774 closed, assigned to nobody

[2017-11-20 14:03] #717 closed, assigned to paulkaplan

[2017-11-20 15:37] thisandagain commented on #744
This project is now running at > 30 fps in the VM Playground on our testing hardware.

[2017-11-20 15:37] #744 closed, assigned to mzgoddard

[2017-11-20 15:37] thisandagain commented on #740
This project is now running at > 30 fps in the VM Playground on our testing hardware.

[2017-11-20 15:37] #740 closed, assigned to mzgoddard

[2017-11-20 15:37] thisandagain commented on #738
This project is now running at > 30 fps in the VM Playground on our testing hardware.

[2017-11-20 15:37] #738 closed, assigned to mzgoddard

[2017-11-20 15:39] ericrosenbaum opened #795 ""Answer" should be cleared on green flag"
### Expected Behavior

In Scratch 2, when you press the green flag, the value of the "answer" reporter is set to an empty string.

### Actual Behavior

The value of "answer" is not reset when you click the green flag.

### Steps to Reproduce

Click the checkbox next to the "answer" block to show its monitor.
Click the "ask" block, type in an answer, and hit enter so you see your answer in the moni

[2017-11-20 16:02] chrisgarrity opened #796 "Loudness doesn't work on Firefox"
### Expected Behavior

Checking and unchecking the loudness monitor shows and hides the monitor.

### Actual Behavior

Checking the loudness monitor gets a console error:

[code]

Subsequent unchecking has no effect.

### Operating System and Browser

_e.g. Mac OS 10.12.6 Firefox Quantum 57.0 (64-bit)

[2017-11-20 16:06] thisandagain opened #797 "Investigate performance issues in "Dolphins 3D" project"
### Expected Behavior

- Project should run at 30fps on testing Chromebook

### Actual Behavior

- Project runs slowly

### Steps to Reproduce

https://scratch.mit.edu/projects/115870836
https://llk.github.io/scratch-vm/#115870836

[2017-11-20 16:06] thisandagain opened #798 "Investigate performance issues in "KChip-8" project"
### Expected Behavior

- Project should run at 30fps on testing Chromebook

### Actual Behavior

- Project runs slowly

### Steps to Reproduce

https://scratch.mit.edu/projects/101101588/
https://llk.github.io/scratch-vm/#101101588

[2017-11-20 16:07] thisandagain commented on #798
@mzgoddard 😉

[2017-11-20 16:13] thisandagain opened #799 "Investigate performance issues in "Dynamic Maurer Rose" project"
### Expected Behavior

- Project should run at 30fps on testing Chromebook

### Actual Behavior

- Project runs slowly

### Steps to Reproduce

https://scratch.mit.edu/projects/84592772/
https://llk.github.io/scratch-vm/#187694931

[2017-11-20 16:44] thisandagain opened #800 "Investigate performance issues in "3D Solar System" project"
### Expected Behavior

- Project should run at 30fps on testing Chromebook

### Actual Behavior

- Project runs slowly

### Steps to Reproduce

https://scratch.mit.edu/projects/89811578/
http://llk.github.io/scratch-vm/#89811578

[2017-11-20 18:24] thisandagain opened #801 "Investigate performance issues in "Pixel Art Maker" project"
### Expected Behavior

- Project should run at 30fps on testing Chromebook

### Actual Behavior

- Project runs slowly

### Steps to Reproduce

https://scratch.mit.edu/projects/139193539/
http://llk.github.io/scratch-vm/#139193539

[2017-11-20 18:52] thisandagain opened #802 "Remove / replace "got" from DeviceManager IO module"
We have been removing the `got` module from our dependencies throughout 3.0. There is still one instance hanging around here:
https://github.com/LLK/scratch-vm/blob/3970883e45810fe6163ffd8213077df321fb817c/src/io/deviceManager.js#L1

/cc @cwillisf @rschamp

[2017-11-20 19:05] mrjacobbloom commented on #740
When I play a few rounds on scratch-gui the project has a bug where layers aren't correctly deleted between rounds. I can't reproduce this bug on 2.0

[2017-11-22 00:56] radioblahaj opened #812 "Seems To Glitch"
### Expected Behavior

To Work Perfectly
_Please describe what should happen_

### Actual Behavior
Glitched While Using, I Was Trying to use it, but it won't let me
_Describe what actually happens_
Glitched when i was using and wasn't working
### Steps to Reproduce
Fix Glitch
_Explain what someone needs to do in order to see what's described in *Actual behavior* above_

### Operating System and Br

[2017-11-22 01:16] thisandagain commented on #812
Can you please be more descriptive? Unfortunately, this is not enough information to be useful.

[2017-11-22 01:16] #812 closed, assigned to nobody

[2017-11-23 08:59] griffpatch opened #813 "When I Receive Blocks breaking Scratch 3 / Blockly"
### Expected Behavior

When loading a project containing <When I Receive [test1]> Blocks the GUI doesn't die, and receiver blocks are visible in GUI.

Load this project, switch to costumes then back to scripts:
https://llk.github.io/scratch-gui/develop/#188325200

### Actual Behavior

* Load Project
* Notice the broadcast block is visible, but the receiver block directly underneath does not appear

[2017-11-23 15:51] thisandagain commented on #813
Thanks @griffpatch. This appears to be a regression that was introduced recently. @kchadha can you investigate?

[2017-11-25 17:12] sjhuang26 opened #816 "Ask-and-wait in stage formatted incorrectly"
### Expected Behavior

When an ask-and-wait block in the stage is executed, the question should appear next to the text input like it does in Scratch 2:
![image](https://user-images.githubusercontent.com/29558846/33232744-3d4d2e94-d1d9-11e7-98f0-b6feec2725bb.png)

### Actual Behavior

The question appears in a speech bubble in the top-left corner of the stage:
![image](https://user-images.githubus

[2017-11-27 15:13] ericrosenbaum opened #819 "Music extension drum and instrument menus cause errors"
### Expected Behavior

I just want to choose cowbell or saxophone, without pesky errors.

### Actual Behavior

The menus in the music extension blocks that let you select a drum or instrument cause an error in several situations: changing the selection on the menu and then: deleting the block, duplicating the block, or switching sprites. The error in each case is `Uncaught TypeError: Failed to exe

[2017-11-27 16:46] ericrosenbaum opened #821 "Should we have a StackFrame Timer abstraction?"
The implementations of some blocks require them to wait (yielding the thread in the VM) for a specific amount of time. One way to do this is by resolving a promise using a javascript setTimeout, but this is very imprecise. We have a utility, util.stackFrame.timer, that helps provide more precise timing, but the way we use it is a little complicated:

- Check if it needs initialization, and if so,

[2017-11-27 17:02] ericrosenbaum opened #822 "Should we have an abstraction for "custom state"?"
In order for blocks to store state information (such as pen color) in a sprite, we use a "custom state" mechanism. The pattern is:

- Create a "state key" string to identify the state info
- Create a default state object, with initial values for all the fields (in most cases these must be carefully configured to match the actual default state, such as the initial pen color, which is set elsewhere)

[2017-11-27 20:17] #802 closed, assigned to thisandagain

[2017-11-27 22:10] #819 closed, assigned to ericrosenbaum

[2017-11-28 09:20] felix2ch opened #824 "If_else enter loop when reporter is promise"
If_else block condition input from a promise reporter, It will run continually.

[2017-11-28 18:23] thisandagain commented on #824
Hi @felix2ch, it is really hard to understand your issue. Can you please file a new issue and please fill out all of the fields in the template. In order to help we need:

- A clear description of the issue
- Steps to reproduce the issue if at all possible
- Information about your browser and operating system

[2017-11-28 18:23] #824 closed, assigned to nobody

[2017-11-28 19:07] mrjacobbloom commented on #824
This sounds kind of like #464 but without more details that's just a shot in the dark

[2017-11-29 01:58] felix2ch opened #827 "Can't escape from conditional branches that condition contains a promise reporter"
<img width="320" alt="screen shot 2017-11-29 at 9 44 18 am" src="https://user-images.githubusercontent.com/6711220/33353743-4c34b31e-d4ea-11e7-8622-9b2bd0e3eec3.png">

Show as upon image, replace volume with a reporter return promise and let the condition be true, then the if block will execute repeatedly.
If_else block has same behaviour.

As @mrjacobbloom said, It maybe related with #464.

[2017-11-29 15:13] kchadha opened #828 "Reactivate integration tests after sb2 import support for broadcast blocks"
### Expected Behavior

Three integration tests, test/integration/(data | event | motion).js should be running and should pass once SB2 import is implemented for broadcast blocks.

### Actual Behavior

The integration tests are currently skipped because they are failing without implementation for translating SB2 broadcasts to new SB3 broadcasts.

[2017-11-29 17:12] kchadha commented on #813
We are currently missing the functionality to import projects from SB2 that have broadcast message blocks because the ability to translate sb2 broadcasts into typed variables has not been implemented yet. This should be fixed once I get SB2 imports working with broadcast message blocks.

[2017-11-29 18:44] #707 closed, assigned to ericrosenbaum, cwillisf

[2017-11-29 18:44] #710 closed, assigned to cwillisf

[2017-11-29 18:49] #749 closed, assigned to mzgoddard

[2017-11-29 18:50] #750 closed, assigned to mzgoddard

[2017-11-29 20:20] kchadha commented on #760
@mzgoddard This issue was referenced in #768, is it fixed or is there more to do?

[2017-11-29 20:30] kchadha opened #830 "Double-clicking on broadcast and wait doesn't perform action after block."
### Expected Behavior

Double clicking on broadcast and wait block (when receiver hat is present and has code to run, and broadcast and wait has a block underneath to run after waiting) should execute the same as clicking the block once (as in Scratch 2.0).

### Actual Behavior

Double clicking on the broadcast and wait block performs the action in the receiver but does not perform the action afte

[2017-11-30 09:03] greenkeeper[bot] opened #833 "An in-range update of eslint is breaking the build 🚨"
## Version **4.12.1** of [eslint](https://github.com/eslint/eslint) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/LLK/scratch-vm/compare/greenkeeper%2Feslint-4.12.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Ver

[2017-11-30 14:59] paulkaplan commented on #607
Closing this since speech extension will have a different backend from when this bug was reported.

[2017-11-30 14:59] #607 closed, assigned to ericrosenbaum

[2017-11-30 15:14] paulkaplan commented on #352
This seems to have been fixed by some of the recent optimization work. Runs smooth for me. Closing.

[2017-11-30 15:14] #352 closed, assigned to nobody

[2017-11-30 15:18] paulkaplan commented on #380
The shark project was the old default vm playground project. It has since changed, but testing the touching-edge block seems to work ok now. Closing.

[2017-11-30 15:18] #380 closed, assigned to nobody

[2017-11-30 16:53] kchadha opened #834 "TypeError: Cannot read property 'isConnected' of null"
### Actual Behavior

Loading project #176077569 and switching to the "Maze Runner" sprite causes a type error:

![image](https://user-images.githubusercontent.com/1786240/33443166-e674f382-d5c4-11e7-9249-6b453ce9d2a7.png)

### Steps to Reproduce

Load https://llk.github.io/scratch-gui/develop/#176077569
Click on the "Maze Runner" sprite
See error logged in console.

### Operating System and Browse

[2017-11-30 21:56] ericrosenbaum opened #835 "Drum and instrument blocks load from sb2 with numbers instead of strings"
### Expected Behavior

Drum and instrument menus should have a consistent appearance.

### Actual Behavior

The music extension blocks "play drum" and "set instrument" have menus with strings containing the instrument names that looks like this ("strings only"):

<img width="274" alt="screen shot 2017-11-30 at 3 02 29 pm" src="https://user-images.githubusercontent.com/567844/33452242-924a992c-d5df

[2017-11-30 22:56] ericrosenbaum opened #836 "Stacks of music blocks drift and get out of sync"
### Expected Behavior

The timing of play note, play drum and rest blocks should be precise enough that you can make multiple loops that play different rhythms and melodies at the same time, and they stay synchronized.

For example, these two stacks should stay synchronized, with the bass drum (2) and cowbell (11) playing simultaneously every time:

<img width="215" alt="screen shot 2017-11-30 at

[2017-11-30 23:13] ericrosenbaum opened #837 "Saved tempo in sb2 is not used"
### Expected Behavior

When we load an sb2 file, we should load the tempo setting stored in the project.

It appears that the Stage object in the sb2 has a tempoBPM property. On loading the sb2, we can store this value in the stage, and then the music extension loads, when can check for this property in the stage and set it in the music extension's custom state.

### Actual Behavior

The tempo sto

[2017-11-30 23:19] mrjacobbloom commented on #836
Web Audio has a timing api you might be able to take advantage of in some capacity: https://www.html5rocks.com/en/tutorials/audio/scheduling/

[2017-12-01 15:47] ericrosenbaum commented on #836
@mrjacobbloom Web Audio timing is amazing! We're using it e.g. [here](https://github.com/LLK/scratch-vm/blob/63698dad8ad16daabeb4a23d350eab7ef72c4e9e/src/extensions/scratch3_music/index.js#L634) to schedule the release timing for each note.  We can't use it to schedule future notes, though. This is because the VM controls the sequencing of blocks, and we don't generally know in advance what's goin

[2017-12-01 15:55] ericrosenbaum opened #839 "Make sure "go to front" is a no-op for the stage"
### Expected Behavior

The "go to front" block should not have any effect when used on the stage.

### Actual Behavior

Right now, the master branch does not have toolbox filtering for the stage, so it still has the "go to front" block. It actually causes the backdrop to go in front of the sprites, which is very confusing.

This is a weird bug that will basically go away for a long time (because w

[2017-12-01 16:19] fsih commented on #839
What if we keep this feature but when you do it all the places that say "backdrop" change to "frontdrop"

[2017-12-01 16:35] paulkaplan commented on #834
This is actually a scratch-blocks issue: the block definitions have been commented out, they should be reinstated and then not shown in the toolbox until ready.

[2017-12-01 16:50] mrjacobbloom commented on #836
Oh cool! But yeah I guess that's still an issue -- would it be possible, if there haven't been any non-music "_ and wait" blocks since the last music block, to keep a tally of the total number of beats and adjust to match the tempo?

[2017-12-01 16:51] #828 closed, assigned to kchadha

[2017-12-01 17:03] #816 closed, assigned to paulkaplan

[2017-12-01 18:15] #834 closed, assigned to paulkaplan

[2017-12-04 14:07] isabela-angelo opened #843 "Sound blocks"
Hello!
I was using an old version of VM and some days ago I got errors when trying to play sound blocks. Then I tried to use the latest version and now it is a log warning like "vm warn Could not get implementation for opcode: sound_playdrumforbeats".

### Expected Behavior
The expected behavior is playing the sound :)

### Actual Behavior

A get this in the console "vm warn Could not get implemen

[2017-12-04 16:41] #795 closed, assigned to nobody

[2017-12-04 16:42] #839 closed, assigned to nobody

[2017-12-04 17:48] ericrosenbaum commented on #843
We have moved the music blocks (including play drum, play note, rest, set instrument, set tempo) into an extension. In the GUI, you load it from the extension library (go [here](https://llk.github.io/scratch-gui/develop/) and click on "extensions" at the bottom left). The music extension is auto-loaded when a project is loaded that uses any of the music blocks. Depending on what you're doing, you

[2017-12-04 18:34] rschamp opened #844 "Argument reporters report as `null` when clicked"
### Expected Behavior

_Please describe what should happen_
When I click on an uninitialized argument reporter, it should report 0, like in 2.0.

### Actual Behavior

_Describe what actually happens_
They report `null`

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_
Make a custom procedure with an argument (number/text or bool

[2017-12-04 20:23] isabela-angelo commented on #843
Hi Eric!
Thanks for the help!
I will try to load the extension on startup.

[2017-12-04 20:23] #843 closed, assigned to nobody

[2017-12-05 02:30] wenyiweb opened #846 "vm Could not get implementation for opcode: sound_playdrumforbeats"
### Expected Behavior

_Please describe what should happen_

### Actual Behavior

_Describe what actually happens_

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_

[2017-12-05 03:13] felix2ch opened #847 "Can't load saved json file"
I got exception below when open it.

Uncaught (in promise) TypeError: Cannot read property 'shadow' of undefined
    at Blocks.blockToXML (gui.js:20679)
    at Blocks.blockToXML (gui.js:20697)
    at Blocks.blockToXML (gui.js:20693)
    at gui.js:20663
    at Array.map (<anonymous>)
    at Blocks.toXML (gui.js:20662)
    at VirtualMachine.emitWorkspaceUpdate (gui.js:41903)
    at gui.js:41423

[2017-12-05 03:20] felix2ch commented on #827
It looks so like #658

[2017-12-05 20:44] ericrosenbaum commented on #846
Sorry about that- we've moved the music blocks into an extension. Please see my comment here: https://github.com/LLK/scratch-vm/issues/843#issuecomment-349044192

[2017-12-05 20:44] #846 closed, assigned to nobody

[2017-12-05 20:52] ericrosenbaum opened #848 ""Go to" and "glide to" block menus should default to "random position""
### Expected Behavior

The "go to" and "glide to" blocks have a menu that includes each other sprite, the mouse pointer, and random position. The default value on the block should be "random position", because that does something visible and different each time you click on it, so it helps people learn by tinkering.

### Actual Behavior

Currently the menu defaults to "mouse pointer".

[2017-12-05 21:21] mzgoddard commented on #760
@kchadha I don't believe anything else is needed for this. #768 should be good.

[2017-12-05 21:32] ericrosenbaum opened #849 ""Switch backdrop to" block is missing next and previous items"
### Expected Behavior

In Scratch 2.0, The block "switch backdrop to" (available to stage and sprites) has a menu that includes the current backdrops, plus "next backdrop" and "previous backdrop":

<img width="265" alt="screen shot 2017-12-05 at 4 27 18 pm" src="https://user-images.githubusercontent.com/567844/33631839-b3f00d0c-d9d9-11e7-97fa-20bb7b1dafa4.png">

### Actual Behavior

The Scratch 3.

[2017-12-06 09:55] wenyiweb commented on #846
thank you,

[2017-12-06 16:19] paulkaplan commented on #699
Interesting, the scratch 2 behavior of args outside of the define stack is... not what I expected. All types evaluate to 0 (not empty string/false for string/booleans)

![arg-outside-stack-scratch-2](https://user-images.githubusercontent.com/654102/33671983-0df308de-da77-11e7-84a5-9b37e0f63094.gif)

@thisandagain I'm worried about changing the behavior of that in case any old projects rely on it?

[2017-12-06 16:52] #699 closed, assigned to paulkaplan

[2017-12-06 21:29] kchadha commented on #813
Fixed with #829.

[2017-12-06 21:29] #813 closed, assigned to kchadha

[2017-12-06 21:52] chrisgarrity opened #851 "Changing a string variable by 1 assumes the string is zero"
In Scratch 2.0 if you set a variable to a string then try to change the value by 1 the monitor shows `NaN`.

Currently in Scratch 3.0 it seems to convert the string to 0 and add 1.

[2017-12-06 22:45] mrjacobbloom commented on #851
related to https://github.com/LLK/scratch-vm/pull/187#discussion_r79498341 https://github.com/LLK/scratch-vm/wiki/Compatibility

[2017-12-07 12:28] sjhuang26 commented on #848
I agree. I don't see any drawbacks to this change, but it would help beginners learn the mechanics of the block faster.

[2017-12-07 14:17] chrisgarrity commented on #851
👍 , closing as this is an expected difference from 2.0

[2017-12-07 14:17] #851 closed, assigned to nobody

[2017-12-07 18:50] ericrosenbaum commented on #848
Moved to https://github.com/LLK/scratch-gui/issues/1009

[2017-12-07 18:50] #848 closed, assigned to nobody

[2017-12-08 05:04] towerofnix opened #852 "How should color sensing work when the sprite is hidden?"
(Moved to LLK/scratch-render#212)

### Expected (2.0) Behavior

"Touching color" returns true when the sprite overlaps the given color, regardless of whether or not the sprite is hidden. "Touching sprite" returns true if the sprite overlaps the other sprite, *and* the sprite is shown; if it is hidden, "touching sprite" returns false.

### Actual Behavior

"Touching color" returns false when the sp

[2017-12-08 05:20] towerofnix commented on #852
Funnily enough this seems in the same vein of Scratch's development as the just-made PR https://github.com/LLK/scratch-render/pull/211 (which I didn't see until now). Ping @paulkaplan since you'll probably have an idea on this?

[2017-12-08 15:42] paulkaplan commented on #852
Going to close and reopen this on scratch render. Thanks @towerofnix

[2017-12-08 15:42] #852 closed, assigned to nobody

[2017-12-10 23:12] davidaylaian opened #853 "duplicateCostume and duplicateSound functions"
Right now, there is a [duplicateSprite](https://github.com/LLK/scratch-vm/blob/58dd57fe48d15561c7e7c29aca11eaff9d22e65a/src/virtual-machine.js#L510) function.
There should also be a duplicateCostume function so that [you can right click on a costume to duplicate it](https://github.com/LLK/scratch-gui/issues/923), but right now there isn't one. There should be a duplicateSound function, too.

[2017-12-10 23:39] davidaylaian commented on #853
Nevermind, it's probably a better idea to just have the gui do it using the already existing functions.

[2017-12-12 14:29] rschamp commented on #833
A rebuild was green, so this is a lie.

[2017-12-12 14:29] #833 closed, assigned to nobody

[2017-12-12 17:21] paulkaplan opened #855 "Pen project incompatibility"
### Expected Behavior

_Please describe what should happen_
https://scratch.mit.edu/projects/113451797/#editor

### Actual Behavior

_Describe what actually happens_
https://llk.github.io/scratch-gui/develop/#113451797

![image](https://user-images.githubusercontent.com/654102/33898574-de14ea32-df36-11e7-8f95-b9635a70fbd3.png)

---

@ericrosenbaum I believe this is an issue with the translation of

[2017-12-12 18:08] towerofnix commented on #855
Probably - note that attaching blocks which set saturation and brightness make the program work:

!["set pen saturation" and "set pen brightness" placed before "set pen hue"](https://user-images.githubusercontent.com/9948030/33900715-606f34ee-df67-11e7-8a0d-e749187c4e19.png)

[2017-12-12 18:19] thisandagain commented on #855
I was able to create a more minimal repro of this here:
https://llk.github.io/scratch-gui/develop/#192978361

The thing to note is "set the pen color to [white]" which causes the saturation and brightness values in the underlying pen state to be set in a way that is inconsistent with Scratch 2.0.

[2017-12-12 19:10] thisandagain commented on #855
This points to a larger issue of the way we have "coupled" HSB together with the state of the color that is selected in Scratch 3.0. This is leading to this issue and needs some discussion to resolve.

[2017-12-13 18:58] paulkaplan opened #856 "Calling deleted custom block with arguments causes error"
[code]

To repro:
- create a block with an arg
- drag the call block out
- drag the definition to the toolbox to delete
- try triggering the call block
- `Uncaught TypeError: Invalid attempt to destructure non-iterable instance`

[2017-12-13 20:50] paulkaplan opened #858 "Warp needs to be parsed from string on definition mutation"
Since the `warp` property is on the definition block mutation, and all mutation properties are just read as strings from XML, we need to `JSON.parse` the warp property in order to use it correctly. We are using the string 'false' (which is truthy) resulting in all custom procedures being warped.

[2017-12-13 23:28] towerofnix opened #861 "Projects with old 1.4 "midiInstrument:" block fail to open"
### Expected Behavior

Project opens and editor loads. (Behavior for `midiInstrument:` is not 100% certain yet - see LLK/scratch-audio#13.)

### Actual Behavior

Editor crashes, with this error in the console:

[code]

I recall projects with this block opening at some point in the past? That might be my bad memory, though.

### Steps to Reproduce

Open a project which uses the `midiInstrument:` 1.

[2017-12-14 14:16] paulkaplan opened #862 "Stop all sounds doesn't work?"
### Expected Behavior

_Please describe what should happen_

Stop all sounds should stop all playing sounds **on all sprites**

### Actual Behavior

_Describe what actually happens_

Only stops sounds playing on this sprite

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_

1. Add a long sound to the cat sprite (e.g. "birthday b

[2017-12-14 15:22] ericrosenbaum commented on #862
Good catch- this is a long-standing uncaught issue. I'll have to figure out how to implement- should I make a new runtime event (STOP_ALL_SOUNDS)? Or something else?

[2017-12-14 20:21] kchadha commented on #830
A few observations that @paulkaplan and I made:

This behavior is actually unrelated to the 'broadcast and wait' block, and can be seen by trying to "double-click" on the following stack in scratch 2 vs. scratch 3:

![image](https://user-images.githubusercontent.com/1786240/34007452-cb03263a-e0cf-11e7-9561-ca5c7449a35a.png)

In scratch 2, double clicking on this stack will still turn the cat after

[2017-12-14 22:06] #856 closed, assigned to paulkaplan

[2017-12-15 08:21] griffpatch opened #865 "Scroll Wheel runtime detection is broken"
### Expected Behavior

Moving the scroll wheel while a project is running should trigger the "when up and down arrow pressed?"
hat blocks (but not the <key up/down pressed?> detection blocks. (See: https://scratch.mit.edu/projects/229142/ or https://llk.github.io/scratch-gui/develop/#193724034).

This functionality was also recently broken in the Scratch 2 (most likely when the keyboard code was c

[2017-12-15 18:40] #858 closed, assigned to nobody

[2017-12-15 19:40] paulkaplan opened #866 "Ask block doesn't work with "pick random" input"
[code]

[2017-12-15 20:10] cwillisf commented on #865
Good news: this will be fixed in version 459 and above, which we are planning to release very soon.

Edit: oops, I didn't realize this was in the 3.0 VM repository. Anyway, the Scratch 2.0 bug will be fixed very soon ;)

[2017-12-18 19:49] ericrosenbaum commented on #862
Okay, the plan is to iterate over all targets call stopAll

[2017-12-18 19:52] #866 closed, assigned to paulkaplan

[2017-12-19 22:08] thisandagain commented on #835
We had talked at some length about trying our best to remove the style of menu from 1 from Scratch. My leaning is towards option 2 as well.

[2017-12-19 22:13] thisandagain commented on #847
Tracking in #194

[2017-12-19 22:13] #847 closed, assigned to nobody

[2017-12-20 16:01] thisandagain commented on #827
Tracking in https://github.com/LLK/scratch-vm/issues/688

[2017-12-20 16:01] #827 closed, assigned to nobody

[2017-12-20 16:06] thisandagain commented on #553
@paulkaplan @carljbowman @ericrosenbaum Resolving this is a blocker for the preview release.

[2017-12-20 16:13] thisandagain commented on #748
@griffpatch Are you still having trouble with this? We've made a number of changes to the way the VM builds that I hope will help here.

[2017-12-20 16:14] #748 closed, assigned to rschamp

[2017-12-20 18:28] #844 closed, assigned to paulkaplan

[2017-12-20 19:44] #733 closed, assigned to thisandagain

[2017-12-20 20:15] #862 closed, assigned to ericrosenbaum

[2017-12-20 21:52] thisandagain commented on #715
Related to https://github.com/LLK/scratch-blocks/issues/1287

[2017-12-20 21:57] thisandagain commented on #706
@ericrosenbaum My instinct is to not label this as `critical` (blocking release) because the play note blocks now have a limit on them. Do you agree?

[2017-12-20 21:59] thisandagain commented on #553
From conversation today:
- Add block to the "Sensing" category after the `mouse y` reporter
- `set drag mode [draggable / not draggable]`

[2017-12-21 16:02] thisandagain commented on #695
@ericrosenbaum Is this needed for the preview release?

[2017-12-21 17:07] ericrosenbaum commented on #695
I think it's not needed for preview. If it includes just the music and pen extensions, there are no hats in there at all.

[2017-12-21 23:28] cwillisf commented on #855
Arright... I investigated this pretty thoroughly just now and here's what I found.

### Terminology

These color spaces have many names; I'll be using the same terms as the [Wikipedia article on HSL and HSV](https://en.wikipedia.org/wiki/HSL_and_HSV). In particular, I'll call these color spaces HSL and HSV (as opposed to, say, HSB). I'll refer to the components of the HSL color model as Hue, Satur

[2017-12-21 23:51] thisandagain commented on #855
Amazing investigation and write-up as always @cwillisf. Can you, Paul, and Eric get together tomorrow to decide if it's worth to sink a half day in this or just revert as per discussion?

[2017-12-22 17:19] paulkaplan commented on #855
I'm not sure about this. One problem is that using the eyedropper to set the pen color to any gray on the "inside" of the cone cannot be represented accurately by the scratch 2 model, so any project that does that and then changes hue/shade will have a behavior where the pen color first gets **pushed** out to the skin of the cone, then continues changing based on that new, representable, color. Pr

[2017-12-22 18:28] cwillisf commented on #855
@paulkaplan and I just talked this through and found a very simple fix that doesn't require changing the color model. PR coming soon...

[2017-12-27 13:49] paulkaplan commented on #715
No more vm work is needed to support this. Closing.

[2017-12-27 13:49] #715 closed, assigned to paulkaplan

[2017-12-27 16:30] #855 closed, assigned to nobody

[2017-12-28 17:54] paulkaplan commented on #553
@thisandagain I implemented the three parts of this (vm, blocks and toolbox in the GUI) but as a note, I didn't realize that the drag mode only impacted the player. Two things from that:
1. Will other people be confused by that? Using the block in the editor has no effect.
2. We don't have a player right now, so the block doesn't actually do anything. is that ok for now? should impact "fullscreen

[2017-12-28 19:06] TheBrokenRail commented on #249
Any Updates?

[2017-12-29 14:47] #553 closed, assigned to paulkaplan

[2018-01-02 23:37] apple502j commented on #861
Ok, just edited specmap!

[2018-01-02 23:44] apple502j commented on #861
#883
Here. added to specmap.

[2018-01-03 00:04] apple502j commented on #796
Me too. Also Recording Sound is not working.
"needing permission", but I HAVE agreed.
microphone is not broken.
firefox quantu 57.0.3 with win7 home premium 64bit SP1
![Another website is OK](https://screenshots.firefoxusercontent.com/images/41b4b52f-c8f2-4ca5-9bd8-ec54df3861f8.png)

[2018-01-04 12:28] towerofnix commented on #796
This issue is older but I made [a more detailed issue](https://github.com/LLK/scratch-audio/issues/67) in scratch-audio a little while ago.

[2018-01-06 01:39] TheBrokenRail opened #885 "Won't Load on Edge"
### Expected Behavior

_Project loads on Edge_

### Actual Behavior

_Nothing Loads and the stage is white_

### Steps to Reproduce

_Open the benchmark on Edge_

### Operating System and Browser

_Windows 10 Edge_

[2018-01-06 03:55] greenkeeper[bot] opened #886 "An in-range update of webpack-dev-server is breaking the build 🚨"
## Version **2.10.0** of [webpack-dev-server](https://github.com/webpack/webpack-dev-server) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/LLK/scratch-vm/compare/greenkeeper%2Fwebpack-dev-server-2.10.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      webpack-dev-server
    </td>
  <

[2018-01-06 20:03] BookOwl opened #887 "Pen colors are different in 3.0 than 2.0"
### Expected Behavior

The pen should handle colors the same in Scratch 3.0 as in Scratch 2.0

### Actual Behavior

In Scratch 3.0 the `set color to (number)` block doesn't work the same as it does in 2.0

### Steps to Reproduce

Run https://scratch.mit.edu/projects/196307621/ in the VM https://llk.github.io/scratch-gui/#196307621 . In Scratch 2.0 the circles are colored, in Scratch 3.0 the circle

[2018-01-06 20:16] towerofnix commented on #887
~~The problem seems to be that "set color to (number)" is being split into these two blocks here:~~ (see [below](https://github.com/LLK/scratch-vm/issues/887#issuecomment-355783490))

![Set pen color to white / set pen hue to color](https://user-images.githubusercontent.com/9948030/34643550-5a85ac72-f2fc-11e7-869c-3ba37d87819f.png)

If we look at the dropdown for "set pen color to (white)", we see

[2018-01-06 22:42] BookOwl commented on #887
@towerofnix, actually, _I_ added the "set pen color to (white)" block. I needed it in Scratch 2.0 to get the "set color to (number)" to actually change the color.

[2018-01-07 05:16] greenkeeper[bot] opened #888 "An in-range update of eslint is breaking the build 🚨"
## Version **4.15.0** of [eslint](https://github.com/eslint/eslint) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/LLK/scratch-vm/compare/greenkeeper%2Feslint-4.15.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>
      Current Ver

[2018-01-09 21:27] paulkaplan commented on #887
I see those projects doing the same thing?

![pen-color](https://user-images.githubusercontent.com/654102/34744064-eb3c626a-f559-11e7-894d-c39d32eb6d1a.gif)

(p.s. you can use `/compatibility-testing.html#<project-id>` to see the side-by-side mode. note it only works only for public projects, and you may need to manually add the domain to the list of ok flash domains)

[2018-01-10 14:40] BookOwl commented on #887
Well, it seems to be working now for me too. The GUI is a newer version than what I first tested it on though, so I guess that one of the recent commits must have fixed it.

[2018-01-10 14:40] #887 closed, assigned to nobody

[2018-01-10 14:53] towerofnix commented on #887
@paulkaplan Perhaps the compatibility-testing page should be mentioned at the start of the [Compatibility](https://github.com/LLK/scratch-vm/wiki/Compatibility) wiki page? That way people interested in seeing compatibility changes will be prompted to compare projects themselves (and of course, those people would probably be the ones most interested in testing compatibility).

[2018-01-10 14:58] paulkaplan commented on #887
Great idea @towerofnix, I'll do that.

[2018-01-10 21:55] ericrosenbaum opened #892 "In sensing block "property of sprite", volume doesn't work"
### Expected Behavior

The sensing block "volume of sprite" should report the current volume of the sprite.

### Actual Behavior

The block does not report anything.

[2018-01-11 15:01] ericrosenbaum commented on #892
This is a weird one, because the volume of a target is stored using custom state in Scratch3SoundBlocks. I can think of two ways to fix it, but not sure about either:

- Find a way for Scratch3SensingBlocks to access the custom state in Scratch3SoundBlocks. Not sure how this would work. It sort of breaks the model for custom state I think.

- Move the "volume" property out of custom state, and put

[2018-01-11 19:37] cwillisf commented on #892
I can think of a third way, but it involves breaking some rules. We could theoretically make it so that an internal extension is allowed to put blocks in another category, so that the "volume of sprite" can be provided by the sound extension even though it shows up in the sensing category.

Assuming we don't do that, this could be solved in a few ways:
- The "volume of sprite" block could request

[2018-01-12 02:49] TheBrokenRail commented on #354
Any News?

[2018-01-12 02:53] TheBrokenRail commented on #249
Any News?

[2018-01-12 13:56] thisandagain commented on #249
@TheBrokenRail We'll evaluate this and many other feature requests over the coming months. Please do not bump old requests.

[2018-01-12 15:33] thisandagain commented on #885
Resolved in https://github.com/LLK/scratch-gui/pull/1222

[2018-01-12 15:33] #885 closed, assigned to nobody

[2018-01-12 15:33] #886 closed, assigned to nobody

[2018-01-12 21:55] kchadha opened #895 "Duplicating/Cloning a sprite w/sprite-specific variables throws (non-fatal) type error."
### Expected Behavior

Duplicating or cloning a sprite should copy over variables correctly.

### Actual Behavior

Variables aren't serialized correctly when cloning or duplicating a sprite so their toXML function cannot be accessed from the emitWorkspaceUpdate, causing the following TypeError:

[code]
#### Additional Notes
`RenderedTarget.duplicate()` and `RenderedTarget.makeClone` both call `JSO

[2018-01-16 16:31] ericrosenbaum commented on #305
closed by https://github.com/LLK/scratch-vm/pull/513

[2018-01-16 16:31] #305 closed, assigned to ericrosenbaum

[2018-01-16 20:57] ericrosenbaum commented on #796
resolved by https://github.com/LLK/scratch-audio/pull/70

[2018-01-16 20:57] #796 closed, assigned to nobody

[2018-01-17 16:15] kchadha opened #899 "Clamping sound pitch effect"
### Expected Behavior

Executing blocks with valid inputs should most often have perceivable effects to the user.

### Actual Behavior

Setting the pitch to a really big negative number takes a long time to execute with no perceivable effect to the user.

The pitch effect should possibly be clamped to reasonable bounds so that effects can be perceived and code doesn't just seem to be hanging.

###

[2018-01-17 20:43] ericrosenbaum opened #902 "Music extension does not play sounds on Safari"
### Expected Behavior

The music extension blocks "play note" and "play drum" should play sounds.

### Actual Behavior

On Safari, they don't work.

### Operating System and Browser

Mac OS 10.12.6 Safari 11.0.2

[2018-01-18 02:56] mrjacobbloom commented on #354
This could also match the touching block with options for each edge individually

[2018-01-18 13:46] thisandagain opened #904 "Scratch 3.0 projects slowly get off sync"
### Expected Behavior

In 2.0, the actions of the duplicate sprites stay in sync

### Actual Behavior

In 3.0, the costume changes slowly get out of sync, and the speech bubble changes get out of sync faster.

Consider this project:
https://scratch.mit.edu/projects/198464093/
https://llk.github.io/scratch-gui#198464093

They get out of sync especially fast in Edge, but it happens on other browsers

[2018-01-18 13:46] thisandagain commented on #904
/cc @mzgoddard

[2018-01-18 16:03] mzgoddard commented on #904
Fixed the scratch-gui link

[2018-01-18 20:17] fsih commented on #904
I updated the project so that they're saying the same thing, so it's easier to compare

[2018-01-18 21:36] ericrosenbaum opened #905 "Mouse X and mouse Y report incorrect coordinates in full screen mode"
### Expected Behavior

Mouse X and mouse Y reporters should report consistently across stage modes.

### Actual Behavior

In full screen mode, the mouse x and mouse y values are incorrect.

[2018-01-18 22:08] rschamp opened #906 ""when timer > 0" hat + "reset timer" block doesn't make a loop"
In 2.0, this runs forever after starting:
![image](https://user-images.githubusercontent.com/1512021/35123870-fc8e5112-fc71-11e7-9276-287e966421e3.png)

But in 3.0, it stops after a finite number of times.

[2018-01-19 01:11] towerofnix commented on #905
This was just yesterday fixed by #889 (which is not in the master/non-develop branch yet).

[2018-01-19 13:35] thisandagain commented on #905
Resolved in https://github.com/LLK/scratch-vm/pull/889

[2018-01-19 13:36] #905 closed, assigned to nobody

[2018-01-22 13:55] Kenny2github commented on #743
Bump since this is past milestone!

[2018-01-22 13:56] thisandagain commented on #743
@Kenny2github Please don't bump issues. This is in the January milestone which is due at the end of the month and many issues will be pushed in February.

[2018-01-22 14:01] Kenny2github commented on #743
@thisandagain Oh, sorry - the milestone said it was [past due by four days](https://github.com/LLK/scratch-vm/milestone/24) so I thought it was appropriate to bump.

[2018-01-22 15:40] kchadha opened #909 "Go through blocks list and update xml on var_rename"
### Expected Behavior

Renaming a variable should update the block xml (for each block using that variable) to reflect the new name of the variable.

### Actual Behavior

The variable model gets updated so that the variables list stays up-to-date, but the xml for each block that uses the variable keeps the old name.

This issue is mentioned in [scratch-blocks#1350](https://github.com/LLK/scratch-b

[2018-01-22 16:13] #902 closed, assigned to ericrosenbaum

[2018-01-22 16:35] ericrosenbaum opened #910 "Music extension stops playing notes on Safari"
### Expected Behavior

The music extension should be able to play an unlimited number of drum and instrument sounds.

### Actual Behavior

On Safari, after you've played about 30 sounds, it stops working.

This is due to the concurrency counter never getting decremented, because the audioBufferSourceNode's onended event (usually) does not fire.

### Steps to Reproduce

- Add the music extension
-

[2018-01-22 17:44] paulkaplan opened #912 "Renaming a costume, sound or sprite stops blocks using those names from working"
### Expected Behavior

_Please describe what should happen_

If you have a "forever => play sound 'meow'", and then rename the "meow" sound in the sound editor, the loop stops playing sounds. Same for costume blocks and the "touching <sprite name>" blocks.

These updates should update the blocks that are referring to them.

[2018-01-22 19:41] morantsur opened #913 "Missing an API to add monitors (not through scratch-blocks)"
the VM needs to be able to display a monitor for variables that do not appear in the blocks pallete.

For now, needed for the microworlds project, where we want to show the value of a variable before the user can see the blocks that control it. But this will also be needed later for a "player mode" which won't have block palette associated with it.

[2018-01-22 20:03] kyleplo commented on #910
I can't recreate this in Chrome on Windows 10.

[2018-01-23 16:03] kchadha commented on #912
Looking into this, I found that the dropdown menu options correctly update, but the currently selected field option does not. One remedy for this would be to update the xml of any block that could refer to a costume, sound, or sprite name every time one of these changes. This does not seem like a good option to me because there is no set list of all the blocks that would be affected by these chang

[2018-01-23 19:07] kchadha commented on #912
@rachel-fenichel Since this discussion possibly affects scratch-blocks, do you have any thoughts about this?

[2018-01-24 20:44] kchadha opened #918 "Broadcast Message Name Capitalization"
This is a question about broadcast message name capitalization that came up as a result of the work in [scratch-blocks#1360](https://github.com/LLK/scratch-blocks/pull/1360). This is being created as an issue so that the question can get some discussion and that both the question and response are documented somewhere.

In Scratch 2.0, users can create new messages with different capitalizations of

[2018-01-24 20:45] kchadha commented on #918
cc @thisandagain @paulkaplan @carljbowman

[2018-01-25 23:03] ericrosenbaum opened #919 "Should clones be able to start their own copy of a sound?"
This [PR](https://github.com/LLK/scratch-vm/pull/891), “Audio effects state for clones,” introduced a new behavior that need discussion and possible changes.

It is related to the behavior of a clone starting a sound when another clone or the parent sprite has already started that same sound. In 2.0, the sound restarts. After the above PR, a new copy of the sound starts playing (with the clone's e

[2018-01-26 18:00] #910 closed, assigned to ericrosenbaum

[2018-01-26 21:57] rachel-fenichel commented on #912
This decision sounds good to me.

Per discussion with @kchadha this only works because it's not currently possible to edit one of these names while it's being displayed on a block.
If that ever happens we'll need to do something more aggressive to make sure the name is updated on all blocks on the rendered workspace.

[2018-01-29 13:40] paulkaplan commented on #912
What about the "touching <sprite name>" block, which can be edited through the sprite name field on the right while the blocks tab is visible.

[2018-01-29 14:30] #723 closed, assigned to rachel-fenichel

[2018-01-29 14:30] #909 closed, assigned to kchadha

[2018-01-29 14:37] kchadha commented on #912
Correct me if I'm wrong because I haven't thought long and hard about this, but it just so happens to be that the "touching" block refers to all sprite *other* than the one that is currently selected. To edit the name of any sprite this block can refer to, you would have to switch to one of those other sprites (so the block stops being visible in the workspace, because the workspace switches to th

[2018-01-29 14:44] paulkaplan commented on #912
aha! good point :)

I'm concerned about the amount of work it would take to move all of the menus to an ID system. Do you have a solid idea of that?

Also @thisandagain i think we should promote this to a critical issue, because it is currently stopping any renaming from functioning on costumes/sounds/sprites when there are existing blocks.

[2018-01-30 11:04] apple502j opened #922 "10240 limit for variables"
### Expected Behavior
Variables never have over 10240 charactors in 2.0. If we can, it may be able to make the PC crashed
![](https://i.gyazo.com/739479b0ec94dd98e3b9475ad6d5ef8e.png)
### Actual Behavior
It can have.
![](https://gyazo.com/aa32627abdefeb7822f0b3979724e25c.png)
### Steps to Reproduce
program: see image
### Operating System and Browser
win7 homepremium 64bit SP1
firefox 58.0.1

[2018-01-30 13:01] towerofnix commented on #922
How would having a lot of characters in a variable make a computer crash?

I honestly think this feature of Scratch 2.0 is an unnecessary limitation. Having a lot of text in a variable doesn't inherently do anything bad - and it certainly dosen't crash the computer. After all, it's just a few more string bytes. Costumes and sounds, and even the project JSON/XML (which can obviously greater than 10

[2018-01-30 16:21] mrjacobbloom commented on #922
Also, fwiw I believe the limitation was actually with the join block, there are projects that use other tricks to create long variables and those projects would break if this limit was placed on variables themselves

[2018-01-30 20:59] kchadha opened #923 "Clicking on certain custom procedure blocks from SB2 project yields (non-fatal) type error"
### Expected Behavior

Clicking on a custom procedure block should not cause a type error.

### Actual Behavior

Sometimes, clicking on a custom procedure block of an imported SB2 project causes a type error:

[code]
seems to be  coming from this [line of code](https://github.com/LLK/scratch-vm/blob/develop/src/engine/thread.js#L280).

### Steps to Reproduce

1. Open up project #10128407 in scratc

[2018-01-30 21:57] kchadha opened #924 "Regression introduced in SB2 Minecraft project"
### Expected Behavior

Running project #10128407 should start the character off on the ground. This is working correctly in preview.scratch.mit.edu but not working in the current state of develop.

### Actual Behavior

Character starts off in the sky and falls to the ground.
This is a recently introduced regression by [this commit](https://github.com/LLK/scratch-vm/commit/6b7582f1c70ce4f90a0ca5eb9

[2018-01-30 22:25] towerofnix commented on #308
This is closed, but the `data_showvariable` (etc) blocks are not actually implemented? LLK/scratch-blocks#1276 tracks showing the blocks when they're implemented in the VM, but I don't think there's an issue (besides this one, but it's closed) for tracking the VM code itself.

[2018-01-31 20:58] kchadha commented on #924
cc @mzgoddard

[2018-01-31 21:37] kchadha commented on #924
This project has a regression as well that might be related.
Compare:
[Correct Behavior] https://preview.scratch.mit.edu/#10761768
vs.
[Broken Behavior] https://llk.github.io/scratch-gui/develop/#10761768

[2018-01-31 21:40] ericrosenbaum commented on #899
Currently the pitch effect is clamped from -600 to 600. It is 120 steps per octave, so that's from -5 octaves to +5 octaves of pitch shifting. Maybe that's too much. :D

The issues at extreme parts of the range include:

- At extreme low values, you can't hear anything (mentioned above)
- At extreme low values, the sound is too long (also mentioned above). Pitch effect of -600 is shifted down 5 oc

[2018-01-31 21:46] kchadha commented on #924
Also this?

[Correct behavior] https://preview.scratch.mit.edu/#56667360
vs.
[Broken behavior] https://llk.github.io/scratch-gui/develop/#56667360

[2018-01-31 22:12] kchadha commented on #924
[Correct Behavior] https://preview.scratch.mit.edu/#21554369
vs.
[Broken Behavior] https://llk.github.io/scratch-gui/develop/#21554369

[2018-02-01 16:15] kchadha opened #927 "Green Flag seems to clear out sound effects"
### Expected Behavior

Pressing the green flag should not clear out existing sound effects.

### Actual Behavior

It does (example below).

### Steps to Reproduce

1. Open a new project in 3.0
2. Drag out a `play sound (Meow v) until done` block and click to execute it.
3. Drag out a `set volume to (100) %` block, and change the input to `10`. Enable the monitor for the volume reporter.
4. Click o

[2018-02-01 16:16] kchadha commented on #927
Related question that should perhaps be a separate issue. Should setting the volume to 10% and then clearing sound effects result in the volume reporter re-setting its value to 100?

[2018-02-01 16:52] mrjacobbloom commented on #927
They should probably parallel the graphic effects? (Limited) discussion of when to clear graphic effects happened in #139 and LLK/scratch-gui#198

[2018-02-01 19:26] kchadha commented on #927
In Scratch 2.0, both the green flag button and the stop button clear out graphic effects, but the same is not true for sound effects like volume and tempo. The behavior described above is an inconsistency between Scratch 2.0 and 3.0.

[2018-02-01 19:27] #899 closed, assigned to ericrosenbaum

[2018-02-01 23:47] thisandagain commented on #577
@kchadha Good edge case re: SB3 and validation.

[2018-02-01 23:48] thisandagain commented on #554
Resolved in #901 🎉

[2018-02-01 23:48] #554 closed, assigned to nobody

[2018-02-01 23:48] thisandagain commented on #471
Closing this in favor of more focused issues addressing specific test coverage areas.

[2018-02-01 23:48] #471 closed, assigned to nobody

[2018-02-01 23:59] thisandagain commented on #924
Pushing to March milestone for when @mzgoddard returns. :-)

[2018-02-02 14:30] kchadha commented on #912
After talking with @paulkaplan, we decided that it's best to update the XML to reflect the renames for each block on any of the sprites workspaces that reference the sprite/sound/costume name.
Going with the unique id solution described above would break the following functionality:

1. use a `play sound [Meow v] until done` block on the workspace
2. delete the sound 'Meow' from the sound editor
3

[2018-02-02 18:48] kchadha opened #929 "Figure out why push reported work is causing bugs"
This is a follow up issue from #924 to figure out what is causing the regression from the push reported work. This work is being reverted in #928.

Below are examples of projects that fail due to this work, specifically [this commit](https://github.com/LLK/scratch-vm/commit/6b7582f1c70ce4f90a0ca5eb986d96771414d86b).

https://llk.github.io/scratch-gui/develop/#10128407
https://llk.github.io/scratch

[2018-02-02 18:51] kchadha commented on #924
The push reported work, including the commit that seems to be causing this regression, was reverted in #928. Tracking this issue in #929.

[2018-02-02 18:51] #924 closed, assigned to nobody

[2018-02-02 19:21] mzgoddard commented on #904
I kept thinking about this issue and forgetting to at least write what I think is contributing to this. The wait block uses `setTimeout`. A 0.015 second wait will wait one frame. A 2 second wait will wait approximately 60 frames. At 30 FPS, the frames tick about every 33 milliseoncds with `setInterval`. `setTimeout` and `setInterval` can't guarantee that they'll run exactly X milliseconds after th

[2018-02-09 16:42] cpseager commented on #667
Please also consider 'this way/that way/other way' (rather than 'this way/that way/reverse') for motor direction. Children seem to expect reverse to be the 'backwards' direction (as in forwards/backwards), not to swap direction.

[2018-02-12 16:53] #912 closed, assigned to paulkaplan, thisandagain, kchadha

[2018-02-12 19:36] ericrosenbaum commented on #837
Notes on this:

There's a related problem for "set instrument", thought tempo is global and instrument is custom state per-sprite.

We will need to load the tempo and instrument from sb2 files, store them in the VM somewhere, and then load them at the time the music extension loads

We also need to consider how to save these properties in SB3.

[2018-02-12 20:36] towerofnix commented on #837
Ah, good!

[2018-02-12 20:38] ericrosenbaum commented on #837
oops (fixed)

[2018-02-12 20:53] ericrosenbaum opened #932 "SB2 with sprite called "Stage" loads blocks with menus showing "_stage_""
### Expected Behavior

It's possible to have a sprite called "Stage" in Scratch 2.0. Projects that use blocks that refer to this sprite in a menu should display its name correctly as "Stage."

### Actual Behavior

In an SB2 with a sprite called "Stage", the blocks with menus referring to it load displaying its name as `_stage_`:

![screen shot 2018-02-12 at 3 51 27 pm](https://user-images.githubus

[2018-02-13 13:28] thisandagain opened #935 "Investigate performance issues in "Super Mario Bros. 1-2" project"
### Expected Behavior

- Project should run at 30fps on testing Chromebook

### Actual Behavior

- Project runs slowly

### Steps to Reproduce

https://scratch.mit.edu/projects/203354232/
http://llk.github.io/scratch-vm/#203354232

[2018-02-13 13:29] thisandagain commented on #935
@mzgoddard Here is a really good stress test project. I'm skeptical that we'll ever be able to get it up to 30 fps, but probably interesting to look at nonetheless. 😄

[2018-02-15 19:28] CatsAreFluffy commented on #919
I'd say that the old behavior is less intuitive, since why would all clones share one speaker?

[2018-02-16 16:16] ericrosenbaum opened #937 ""Failed to register primitives" error on auto-loading an extension"
### Expected Behavior

Extensions should be able to auto-load when importing a project, without console errors.

### Actual Behavior

When I load an SB2 that contains a pen block, causing an extension to auto-load, I see this error in the console:

`vm Failed to register primitives for extension on service extension.0.pen: {}`

The same sort of thing happens for the music extension.

Note that the

[2018-02-20 00:59] CoolGames opened #938 "Scratch3_music uses MIDI note values where experimental Roland uses scale letter"
### Expected Behavior

I can play a scale for example if I start at E1 then step through 12 notes in Key of  E at tempo 60 for 1 beat per note and .25 beat rest and play on external MIDI device.
If I switch to another Key or tempo all notes behave correctly and play on the external MIDI in the new key.

### Actual Behavior

 I can play a scale if I know how to do MIDI in Scratch3 , but an experime