[2019-10-01 19:32] fsih opened #2288 "updateDrawable sometimes does not know about the drawable it is passed"
Fix whatever's wrong in the VM which causes updateDrawable to not know about the drawable it is passed, then add a warning or throw.
Right now this happens so much on some projects that a warning or exception here can hang the browser.

https://github.com/LLK/scratch-render/issues/216#issuecomment-351814175

(From @mzgoddard: https://github.com/LLK/scratch-render/pull/469/files#r328734189)

[2019-10-03 17:17] jokuha commented on #1445
New to scratch (and still fairly new to EV3) – thank you for the efforts, my daughter and me love it.

Now, is there any chance to get the IR distance sensor working? It indeed still seems to be putting out zero distance no matter what(?).

[2019-10-06 00:36] SheepTester commented on #2287
Assuming you have access to `vm` and know the `targetId` and `variableId` of the variable,
[code]
It seems you want to play a project without using scratch-gui, but you'll still need to make some GUI elements by listening and posting to the VM since they don't come with the VM; I've tried to do this before [here](https://github.com/SheepTester/words-go-here/blob/master/htmlifier/template.html) if

[2019-10-06 01:03] liugyer commented on #2275
Will this problem be solved?

[2019-10-06 02:10] alexwenbj commented on #2287
@SheepTester Yeah,As you said,I want to play project without scratch-gui. I can get the variable changed by slider, but I CAN NOT let the related sprites response this change, for example, for most simple example,just let a sprite say the variable.I will take a look your implement for some reference.Thank you very much.

[2019-10-07 02:00] #2287 closed, assigned to nobody

[2019-10-11 06:47] King-hb opened #2290 "How do I bind a block to a custom event? (that is how to parse the block)"
### Expected Behavior

_Please describe what should happen_

### Actual Behavior

_Describe what actually happens_

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_
![image](https://user-images.githubusercontent.com/14026774/66629649-f8e93b80-ec34-11e9-9aca-c63

[2019-10-17 09:44] griffpatch opened #2294 "List Reporters cause large sb3 file size"
### Actual Behavior

I have been reaching the limit of file size when trying to save my projects in scratch. I discovered that deleting all the contents of my lists helped, but not always. This led me to nosey around in the sb3 file, and I discovered that if you have viewed a large list (list reporter) in your project. Then hide it again BEFORE deleting all the contents, the content is persisted i

[2019-10-23 01:07] towerofnix opened #2295 "Clones can't show their own local variable/list monitors"
(This is more of a feature suggestion / discussion place, since details need to be worked out and this is a very low priority request.)

When a clone of a sprite runs the "show variable" (or "show list") block with one if its own "for this sprite only" (local) variables (or lists) passed, instead of the monitor which corresponds to that clone's variable, what is shown is the monitor that correspon

[2019-10-31 14:43] apple502j opened #2297 "Stage can stamp"
### Expected Behavior
Stage should do nothing for stamp block.

### Actual Behavior
It stamps.

### Steps to Reproduce
1. add a white background and black background
2.
[code]

### Operating System and Browser
Firefox 70 (x64) Windows 10

[2019-11-02 13:27] #1859 closed, assigned to nobody

[2019-11-07 02:53] Ryuurock commented on #2053
When will you fix this problem please? @thisandagain

[2019-11-07 02:53] Ryuurock commented on #2053
When will you fix this problem please? @thisandagain

[2019-11-07 06:24] Ryuurock commented on #2053
Consider using canvg? https://github.com/canvg/canvg After my test, using this library to render svg will be no problem.

[2019-11-07 09:53] griffpatch commented on #1892
Not being able to use backspace has been a real step back for any text input based projects that are using anything other than the 'ask' block. I'd certainly vote up the request to add a backspace character to the dropdown... if not at least support detecting it the old way using the ascii backspace char! (drop down prefered)

[2019-11-07 14:25] apple502j commented on #1892
@griffpatch The old way breaks Scratch 3.0's XML parsing. It cannot handle Backspace unicode char.
Backspace dropdown is possible.

[2019-11-12 12:56] #2157 closed, assigned to nobody

[2019-11-18 21:22] #1673 closed, assigned to ericrosenbaum

[2019-11-18 21:22] #1678 closed, assigned to ericrosenbaum

[2019-11-18 21:24] ericrosenbaum opened #2305 "BOOST extension "turn for rotations" block displays incorrectly in Spanish"
### Expected Behavior

The BOOST extension's "turn for rotations" block should have a numeric input for rotations.

### Actual Behavior

In Spanish, the input is broken:

![Screen Shot 2019-11-18 at 4 21 42 PM](https://user-images.githubusercontent.com/567844/69095122-aebb5d00-0a1f-11ea-9c6d-fbb88470b09a.png)

This appears to be due to a copy/paste error in the translation:
![Screen Shot 2019-11-1

[2019-11-18 22:10] chrisgarrity commented on #2305
@ericrosenbaum I've changed the translations, so they should get picked up this week when I do an update of the blocks. There's an existing issue: https://github.com/LLK/scratch-l10n/issues/84 on scratch-l10n to add checking for extension placeholders.

[2019-11-18 22:11] ericrosenbaum commented on #2305
@chrisgarrity thanks!

[2019-11-19 14:26] hyansuper commented on #2244
Any updates on this issue?

[2019-11-19 14:39] hyansuper commented on #2129
similar issue https://github.com/LLK/scratch-vm/issues/2244 and https://github.com/LLK/scratch-vm/issues/970

How do you work around this problem please? @harbaum
I have a customed HAT block that needs to sleep for 2 seconds and check a variable, how can I get around this problem? the below sleep code don't work:
[code]
thank you!

[2019-11-19 14:47] hyansuper commented on #2129
Hi, @harbaum
I have a customed HAT block that needs to sleep for 2 seconds and check a variable, how can I get around this problem? the below sleep code don't work:
[code]
thank you!

[2019-11-25 23:07] chrisgarrity commented on #2305
Verified as fixed in the translation, closing.

[2019-11-25 23:07] #2305 closed, assigned to nobody

[2019-12-04 15:46] benjiwheeler commented on #2290
Looks like your project is cool!

However, this issue does not seem to be a specific and answerable.

Please get more familiar with the code, and ask questions when there's something we or others could help answer.

[2019-12-04 15:46] #2290 closed, assigned to nobody

[2019-12-06 06:16] s524797336 commented on #913
Make a block that can get this "microworlds" variable value, attach a set variable block to it, then put a forever around those two, maybe a solution?
When "player mode", just hide block palette, run vm, and monitor will show on the stage.

[2019-12-09 21:05] paulkaplan opened #2307 "Remove 0x0 hack in updateBitmap"
`ImageData` type of objects cannot have a width/height of zero, so together with https://github.com/LLK/scratch-paint/pull/932 we can remove this hack https://github.com/LLK/scratch-vm/blob/f31c630f9d195aafdcfdfb47542ad931e184e00a/src/virtual-machine.js#L881-L883

/cc @kchadha @fsih

[2019-12-12 19:04] benjiwheeler commented on #2169
@steve-xmh did @towerofnix's answer solve your problem?

[2019-12-14 23:55] benjiwheeler commented on #1189
Another possibility is to make a random language reporter, but then (for the most obvious use case) users would have to know to plug it into the main block.

[2019-12-15 07:30] apple502j opened #2308 "touching mouse-pointer shoud not return true when mouse is outside stage"
It is possible to abuse this to make anti-remixer or something.

Pros:
* Prevents abusing it

Cons:
* Some project breaks - but who needs it?

[2019-12-16 02:01] benjiwheeler commented on #2308
@apple502j, do you have steps to replicate this? I tried, but `touching mouse pointer` seemed to only return false when the mouse was outside the stage.

![Dec-15-2019 03-02-51](https://user-images.githubusercontent.com/3431616/70873951-f0d3b200-1f7d-11ea-8eda-109a770a812c.gif)

[2019-12-16 02:23] apple502j commented on #2308
I'll contact-us you

[2019-12-17 16:45] benjiwheeler commented on #2308
Looks like this is already filed here, and I see how to repro it: https://github.com/LLK/scratch-gui/issues/5243

[2019-12-17 16:45] #2308 closed, assigned to nobody

[2019-12-18 22:04] kchadha commented on #1068
Closing because it seems like this issue is fixed now.

[2019-12-18 22:05] #1068 closed, assigned to nobody

[2019-12-22 04:25] Steve-xmh commented on #2169
Solved, thanks for help!

[2019-12-22 21:59] #2169 closed, assigned to nobody

[2019-12-25 02:09] errenxing opened #2310 "getListContents list.value.join('')"
### Expected Behavior

contents joined together with no separator

### Actual Behavior
contents joined together with comma separator

[2019-12-25 07:49] apple502j commented on #2310
It's because you didn't put comma? If you pass empty string it will join without separator

[2019-12-30 20:49] kchadha commented on #2142
Another instance of this test being flaky spotted here:

https://travis-ci.org/LLK/scratch-vm/jobs/630981517#L1013

[2020-01-01 02:05] towerofnix opened #2311 "Change the default project loaded in the benchmark to not be a seizure-inducing flashing rainbow image"
### Expected Behavior

The default project shouldn't be seizure-inducing.

### Actual Behavior

It probably is, seeing as it's a very quickly flashing rainbow image.

### Steps to Reproduce

Open the VM benchmark (watch out for flashing image obviously: http://llk.github.io/scratch-vm/).

### Operating System and Browser

N/A.

[2020-01-07 02:35] errenxing commented on #2310
// Determine if the list is all single letters.
// If it is, report contents joined together with no separator.
 // If it's not, report contents joined together with a space.

above is the official notes

[2020-01-07 02:38] #2310 closed, assigned to nobody

[2020-01-07 02:39] errenxing commented on #2310
thanks,
var a = [1,2,3]
var b = a.join('') // "123"
var c = a.join() // "1,2,3"

[2020-01-15 13:28] paulkaplan opened #2312 "Sound sample rate/count metadata does not always match the asset"
### Expected Behavior

_Please describe what should happen_

The  `sound.rate` and `sound.sampleCount` in the serialized sb3 `target.sounds<>` array should always match the sample rate and sample count which is stored in the asset WAV file.

### Actual Behavior

_Describe what actually happens_

Sometimes these properties are different from what is in the WAV file, particularly if the sound file i

[2020-01-15 13:37] paulkaplan opened #2313 "`md5ext` property missing from serialization sometimes"
### Expected Behavior

_Please describe what should happen_

There is a property on costumes called `md5ext` which we are serializing into sb3 files. It should be present consistently.

### Actual Behavior

_Describe what actually happens_

Sometimes, specifically when adding backdrops from the library, the `md5ext` property is not included in the serialized project

1. Login to scratch and create

[2020-01-31 05:49] adroitwhiz opened #2315 "Why does code for starting `control_start_as_clone` hats live in initDrawable?"
### Expected Behavior

Code for starting `control_start_as_clone` hat blocks should live in a clone-related place in the codebase.

### Actual Behavior

Currently, `RenderedTarget.initDrawable`, whose documentation seems to indicate it is renderer-related ("Create a drawable with the this.renderer"), is [responsible for starting `control_start_as_clone` hat blocks](https://github.com/LLK/scratch-v

[2020-01-31 07:56] apple502j commented on #2315
This code can be moved between L1007-L1008 of the same file (rendered-target.js)

[2020-02-04 12:59] glenpike commented on #1124
This might be useful - just seen some extensions which have to do the same to the scratch-vm

[2020-02-05 16:02] apple502j opened #2317 "Graphic Effects can have Infinity as argument"
### Expected Behavior
Infinity should be handled as 0 or max value of the effect
### Actual Behavior
Giving Infinity as argument causes unexpected graphic effect such as grayscale sprite (when color effect is used)
### Steps to Reproduce
Run `set color effect to (1/0)`.

### Operating System and Browser
Any

[2020-02-06 07:52] kevintu2007 opened #2318 "Modules: 'fs' and 'child_process' are default modules in node.js. why compiled error as "Module not found: Error: Can't resolve 'child_process' or 'fs' in '\Scratch3\scratch-vm\src\extensions\.."?"
[Issue Description]

D:\Scratch3\scratch-vm\src\extensions\scratch3_test

[index.js]
  :
//add these default modules, as no required extra npm install
const fs = require('fs');
const childprocess = require('child_process');

after D:\Scratch3\scratch-vm\npm run watch

[got errors result]
   :
bytes {benchmark} [not cacheable] [built]
        + 504 hidden modules

    ERROR in ./src/extensions/scra

[2020-02-06 08:51] apple502j commented on #2318
Extensions are executed in your browser. Only compiling is done in Node.js.
If you want access to file, you may want to use `<input>` tag (in scratch-gui).

[2020-02-06 09:32] kevintu2007 commented on #2318
Thanks! could you hint to use <input> tag (in scratch-gui) for the case?

why conduct to apply these two modules in extension block thus
(1) 'fs': read data of a i.e. json file from a stored path.
(2) 'child_process':
i.e.
var exec = require('child_process').exec;
var filename = 'test.py'
exec('python'+' '+filename, function(err,stdout,stderr){
  :
Thanks!

[2020-02-06 20:54] paulkaplan commented on #2312
Of note, this is done explicitly in https://github.com/LLK/scratch-vm/blame/develop/src/import/load-sound.js#L30-L31 Seemed to be part of this PR https://github.com/LLK/scratch-vm/pull/1060 but not exactly sure what the motivation there was.

[2020-02-06 20:56] paulkaplan commented on #2312
My feeling on this is that the fact that these things are serialized at all is kind of an accident... if anything, the duration would be useful metadata in terms of research/analytics.

[2020-02-07 07:52] apple502j opened #2320 "Sounds can't be stopped if it's playing on already-deleted clones"
### Expected Behavior
Stop button, `stop [all v]` or `stop all sounds` blocks should all stop the sounds playing.

### Actual Behavior
This script puts the sound into the "unstoppable" state.
![image](https://user-images.githubusercontent.com/33279053/79600818-bee87d00-8122-11ea-8a9d-c04ebaeb0834.png)

### Steps to Reproduce
See above.

### Operating System and Browser
Firefox 72.0.2, Windows 10

[2020-02-11 16:41] #2318 closed, assigned to nobody

[2020-02-12 15:36] knandersen commented on #2230
For some reason this issue was not closed when the associated PRs were merged.

[2020-02-12 15:36] #2230 closed, assigned to knandersen

[2020-02-17 06:00] adroitwhiz opened #2324 "Do pre-existing monitor blocks ever exist during deserialization?"
In #1686, `deserializeMonitor` [was added, which checks for existing monitor blocks](https://github.com/LLK/scratch-vm/pull/1686/files#diff-35528b8c179a308ffa56ce087ed40052R1080). [That code still exists.](https://github.com/LLK/scratch-vm/blob/cd1890f77e155b36b24f70eea0409ed9546ec2ca/src/serialization/sb3.js#L1129)

However, #1818 removes all monitor blocks when a project is unloaded. As such, wi

[2020-02-17 06:01] adroitwhiz commented on #2324
/cc @kchadha @picklesrus

[2020-02-18 20:59] peabrainiac opened #2326 "Is this still being actively maintained?"
This is more of a question than an actual issue with the code. Sorry if this isn't the right place to post this, but I don't know where else to ask.
I've been trying to see if I can help with a few optimizations here and there, but often noticed that these were already implemented as pull requests months ago but haven't been merged or updated ever since. Examples of this are #2239 and #2260 .

So,

[2020-02-23 08:26] apple502j opened #2327 "PREVIOUSLY_SUPPORTED_LIST is outdated"
`scratch-translate-extension-languages` has outdated PREVIOUSLY_SUPPORTED_LIST. These languages are now supported, so it needs to be removed:
* `ab`
* `be`
* `ht`
* `nn`
* `uz`

[2020-02-27 18:56] knandersen commented on #2210
Hi @apfeuti, sorry we haven't gotten back to you earlier. We discussed putting in blocks for the distance-sensor while developing the extension, but decided not to. In the end we wanted the smallest block palette that enabled the widest range of projects, so it wasn't a technical issue, but rather a design decision.

Thanks for reaching out though, and for submitting the PR.

[2020-02-27 18:56] #2210 closed, assigned to ericrosenbaum

[2020-02-27 20:05] apfeuti commented on #2210
@knandersen Thanks for your explanation. I understand that Scratch should be as simple as possible. But it's anyway hard to understand: The Mindstorm- and WeDo-Extensions are supporting the distance-sensor. A lot of cool stuff, like self-driving, is not possible with Scratch and the Lego Boost - too bad.

[2020-02-27 20:39] #1934 closed, assigned to nobody

[2020-03-10 12:00] BrightLin commented on #616
Excuse  @paulkaplan  How did you solved it?
[code]
![delete-var](https://user-images.githubusercontent.com/15828392/76310094-1831e500-6309-11ea-83c8-fd10a202c97b.gif)

[2020-03-10 13:37] apple502j opened #2331 "Extensions cannot be removed if its stage monitor had been shown"
### Expected Behavior
Extensions without its blocks should not be serialized, or should be skipped in deserialization.

### Actual Behavior
The monitor block for it will be kept during serialization and deserialization, making it impossible to remove without modifying JSON.

### Related Code
https://github.com/LLK/scratch-vm/blob/develop/src/serialization/sb3.js#L1168 - Deserialization of monitors

[2020-03-12 05:21] brodycritchlow commented on #2326
@peabrainiac

Yes,

The project is still being actively maintained.  I hope. But when you have school, work, barely enough collaborators and 300+ issues. And more projects to work on that adds up to a busy work day. And it might be 1-2 lines of code for you, but they have to check if this could make a venerability, check their fix, make sure the fix didn't add any more bugs.

I believe this was a

[2020-03-12 17:18] apple502j opened #2332 "project.json with certain modifications can cause Scratch to break"
### Expected Behavior
project.json should not break Scratch, for example make Scratch not respond, or fail to load default projects after that. Because uid generator only generates uid with length 20, those cannot happen without project.json modifying, but this should be either invalidated by parser or correctly handled.

### Actual Behavior
Behavior A: Infinite loop and error inside `execute.js`

[2020-03-14 09:16] daikifukumori opened #2334 "WeDo 2.0 isTilted-any function fails the threshold comparison"
### Expected Behavior

Only when the sensor steeply tilts (which means that the tilt sensor value is more than TILT_THRESHOLD=15), the following behaviors are expected:
- _isTilted function returns true
- "when tilted any"-block is triggered
- "tilted any ?"-block returns true

### Actual Behavior

Even when the tilt sensor value is less than TILT_THRESHOLD=15, the following behaviors happen:
- _i

[2020-03-17 14:47] BryceLTaylor commented on #2332
@apple502j Can you please add reproduction steps including how you load the project in this situation?  Is it possible to end up saving such a project onto the server?

[2020-03-17 14:57] adroitwhiz commented on #2332
1. Create a new project
2. Download it via File > Save to your computer
3. Open the `.sb3` file as a `.zip` (you may need to rename it)
4. Open the `project.json` file inside of it
4a. The start of it should look something like
[code]
5. Replace the variable ID (the string of random characters followed by `-my variable` with `"toString"`, like so:
5a.
[code]
6. Save the `project.json` file and ens

[2020-03-17 15:43] BryceLTaylor commented on #2332
Since this only affects the edited project json and a user can't get into the state without editing it, I'm closing this issue.

[2020-03-17 15:43] #2332 closed, assigned to nobody

[2020-03-23 15:34] ericrosenbaum opened #2337 "Sounds don't play on Mac Safari + bluetooth headphones + google hangouts"
This is related to https://github.com/LLK/scratch-gui/issues/5524

On Mac Safari, if you're using bluetooth headphones, you have a google hangout running that is accessing your microphone, the blocks that play sounds do not work. The "play sound until done" block also stays highlighted forever.

### To repro:

1. turn on bluetooth headphones
- On Mac Chrome:
2. Start or enter a google hangout with

[2020-03-24 08:34] apple502j opened #2338 "Backdrop number stage monitor don't appear after creating new project"
### Expected Behavior
Backdrop number stage monitor appears when checkbox is on

### Actual Behavior
Backdrop number stage monitor does not appear the first time, but if you un-check and check again, it appears

This may have something to do with #2324

### Steps to Reproduce
- Show "backdrop number" stage monitor
- click New
- Click the checkbox for showing backdrop number stage monitor again
- I

[2020-03-24 08:44] apple502j opened #2339 "Monitor is not visible but the checkbox is ticked after creating new project"
### Expected Behavior
If a monitor is not visible, the checkbox should be unticked. (related to #1758 )

### Actual Behavior
If the monitor is global (non-sprite specific) the checkbox is ticked but monitor is invisible. To show the monitor, you need to untick and tick again.

This is different from #2338 because:
1) No error on console.
2) In 2338, the checkbox looks unticked, but in this issue i

[2020-03-25 08:39] apple502j opened #2340 "Answer is not cleared by making new project"
### Expected Behavior
Making new project should clear answer

### Actual Behavior
It keeps the answer unless
1) it was changed by ask block
2) green flag was pressed (#795)

### Steps to Reproduce
1) click ask block
2) type something and click the button
3) click File->New
4) click answer block

### Operating System and Browser
Windows 10 Firefox 74

### Compatibility info
On Scratch 1.4, it clear

[2020-03-25 19:26] cwillisf opened #2342 "suggestion: don't use bare floating point for math operations"
### Expected Behavior

Clicking on a `+` block with 0.1 and 0.2 as its arguments should show 0.3 as the result.

### Actual Behavior

Clicking on a `+` block with 0.1 and 0.2 as its arguments shows 0.30000000000000004 as the result.

Example:
![image](https://user-images.githubusercontent.com/7019101/77573768-66f58800-6e8e-11ea-9045-a5caddd399af.png)

Similar results can be seen with `asin of 0.5`

[2020-03-25 19:42] adroitwhiz commented on #2342
Right now, there's a lot of interpreter overhead in the VM, so I suspect math-heavy projects may not *appear* to be impacted. However, I'm concerned that under a more-optimized future version of this VM, or under [current alternative VM implementations which want to remain Scratch-compatible](https://github.com/forkphorus/forkphorus), decimals could become a bottleneck.

Also, GC pressure could be

[2020-03-25 21:24] fsih commented on #2342
What if we change all the math to base 2

[2020-03-26 06:17] apple502j commented on #2342
@fsih Support (if it's totally normal)

[2020-03-26 10:53] adroitwhiz commented on #2342
@apple502j [Sorry, no can do](https://en.wikipedia.org/wiki/Denormal_number)

[2020-03-30 17:21] cwillisf opened #2345 "feature request: something like "remote sensor connections" in Scratch 1.4"
This question came in from an educator and I think it'd be a great idea for a new extension:

We might or might not want to follow the same [remote sensors protocol](https://en.scratch-wiki.info/wiki/Remote_Sensors_Protocol) but either way I think this could be a great stopgap until we can get third-party extensions going.

[2020-03-30 17:57] cwillisf commented on #2345
Note that because browser-based JavaScript in general cannot connect to a raw TCP socket, we basically have two choices for connecting to an external app / bot / etc.:
1. require the external application to connect using the WebSockets protocol in order to communicate directly with the Scratch extension, or
2. use Scratch Link as a go-between: the external application to talk with Scratch Link ove

[2020-04-04 10:38] apple502j opened #2346 "Counter is not cleared by making new project"
### Expected Behavior
Counter (a hidden control block)'s value should be cleared when runtime is disposed.

### Actual Behavior
Counter is not cleared.

### Steps to Reproduce
You can get counter blocks by exporting the sprite on https://scratch.mit.edu/projects/45834258/editor/. After exporting it,
1) Import it.
2) Click increase counter block.
3) Click File->New.
4) Click counter block and see i

[2020-04-04 10:46] apple502j opened #2347 "Timer is not reset by making new project"
### Expected Behavior
Timer should be reset by making new project

### Actual Behavior
Timer does not reset

### Steps to Reproduce
Open a project and AFK for a while (like 1 minute). Create a new project and timer is not reset.

### Operating System and Browser
any

note: this is not a problem on /blocks/scratch3_sensing.js, unlike #2340

[2020-04-04 21:54] chewi commented on #1525
Sorry to drag this up but I need to express how I'm feeling about this. I was really excited to check out Scratch 3 for the first time and find that you can work with the micro:bit without it being tethered via USB like it was in Scratch 2. I was then so disappointed to find it only supports a tiny number of features. I was looking forward to driving my Kitronik servo motors. :disappointed:

Scrat

[2020-04-05 07:47] Kenny2github commented on #2346
TIL Scratch 3.0 actually still implements those blocks

[2020-04-10 10:51] cshaa opened #2350 "Proposal: Collision masks"
# The Problem
In professional game development, the **collision shapes of objects rarely exactly correspond to the rendered sprite**. There are many reasons for this, but most importantly it's to uncouple the gameplay from the artwork and animations. This way the animators have freedom to make the characters swing hands, for example, without having to worry they'll ruin the gameplay by making the

[2020-04-10 11:00] Kenny2github commented on #2350
A lot of well-made platformers on Scratch currently use separate "hitbox" sprites, which have all the collision and game mechanics tied to them; then the animated, displayed sprite is just doing
[code]
I don't think we necessarily need built in masks.

[2020-04-13 19:52] BryceLTaylor commented on #2350
There are a variety of solutions that you can do to implement this concept in Scratch right now, like the one @Kenny2github mentioned.  You can also make a hitbox costume and in a "run without screen refresh" block you can switch to that costume, check collisions, and then switch back.  You can also make AABBs using lists.

[2020-04-13 20:02] #2350 closed, assigned to nobody

[2020-04-17 17:32] qucchia commented on #2294
This is true: it means that the contents of the list is actually saved in two places, making it reach the file size limit more easily.

It is possible to pass the limit of 200,000 items by:
1. Manually adding items by clicking on the list and pressing enter.
2. Importing a text file that has more than 200,000 lines.
3. Importing an SB3 or SPRITE3 file that has a list with over 200,000 items.
Unfor

[2020-04-17 17:34] qucchia commented on #2320
This seems to be fixed now.

[2020-04-17 17:56] apple502j commented on #2320
@qucchia It's still not fixed; on FF75 Windows 10

[2020-04-17 18:02] apple502j commented on #2320
Also found a similar bug:
![image](https://user-images.githubusercontent.com/33279053/79599506-9790b080-8120-11ea-97ae-2b2eb85b23ef.png)

[2020-04-17 18:15] apple502j commented on #2320
This happens if both
1) sound is playing when the clone is deleted
2) the clone is already deleted when the stop action is performed

[2020-04-17 19:09] DaniloJust commented on #1525
Hello, I agree with chewi. We would get so much options for creative applications when we can combine more sensors of the micro:bit hardware and scratch. Can we somehow help to extend the extension?

[2020-04-22 01:25] houcy opened #2352 "clone counter bug: become minus value when delete a sprite from stage"
### Expected Behavior

As we know, the max clones number is 300 and the value is hardcoded in runtime.js
static get MAX_CLONES () {
        return 300;
}

So the expected behavior is that the max clones number of all sprites in stage should be 300.

### Actual Behavior
Actually, sometimes the max clones number exceeds 300.  The root cause is that when add anohter sprite into stage, then delete tha

[2020-04-22 02:01] apple502j commented on #2352
Duplicate of #505

[2020-04-30 18:42] adumont commented on #1859
Would you mind sharing the link please? Thanks in advance.

[2020-05-01 18:22] adroitwhiz opened #2355 "Placing a string beginning with "#" in a block's color input causes the VM to stop running scripts"
### Expected Behavior

You should never be able to cause the VM to error out and stop executing scripts simply by executing normal blocks

### Actual Behavior

If you drop any reporter returning a string beginning with the "#" character into a block's color input, and then execute that block, an error appears in the browser console and all scripts will stop executing until the green flag is presse

[2020-05-01 19:15] BryceLTaylor commented on #2355
While the console is filling up with errors, other loops stop running.  By clicking the block again, the other loops will start running again.

This test project shows that https://scratch.mit.edu/projects/391047180/

Clicking the green flag starts the cat spinning.  Then if you click the touching color block the cat stops and the console starts filling with errors.  If you click the block again,

[2020-05-07 11:58] apple502j opened #2357 "Clones are not properly deleted when deleting sprite"
### Expected Behavior
If you delete a sprite, all of their clones would be deleted as well
### Actual Behavior
Some clones remain
### Steps to Reproduce
- Make a clone
- Delete the parent sprite
- The clone is still on the stage
### Operating System and Browser
Windows 10, Firefox 76

Thanks 4096bits for [reporting this](https://scratch.mit.edu/discuss/post/3990567/)!
My browser / operating system

[2020-05-11 13:35] curlyz commented on #734
Fyi, I ran into this problem and come up with a dirty approach.
Step 1: Scan all the blocks to determine what extension is needed ( eg: 'music')
Step 2: Modify the constructor of ExtensionManager to get that object ( window.ExtensionManager = this; )
Step 3: call this anywhere to add extension : window.ExtensionManager.loadExtensionURL('music')

I hope that someone will come up with a more secure

[2020-05-12 19:25] adroitwhiz opened #2398 "What is BlockCached._shadowOps?"
### Expected Behavior

Code in the codebase should... do something

### Actual Behavior

The `BlockCached` class has a `_shadowOps` property, which is an array that is pushed to in 3 different places [across these lines](https://github.com/LLK/scratch-vm/blob/develop/src/engine/execute.js#L275-L378), but, as far as I can tell, never read from.

What is this supposed to do? How was it intended to b

[2020-05-12 20:35] #2398 closed, assigned to nobody

[2020-05-13 04:26] apple502j opened #2401 "Timer.relativeTime is unused"
[Timer.relativeTime](https://github.com/LLK/scratch-vm/blob/develop/src/util/timer.js#L78) is not used [anywhere](https://github.com/LLK/scratch-vm/search?q=relativetime&unscoped_q=relativetime) (except for test mocks). Also, this code is the same as `Timer.time` 😛

We should remove unnecessary code to make files smaller.

[2020-05-13 04:55] adroitwhiz commented on #2401
Looks like this was introduced in https://github.com/LLK/scratch-vm/pull/410.

[2020-05-14 20:14] fsih commented on #2357
@carljbowman @kathymakes what's the correct behavior here? In 2.0, when you delete a sprite, the clones remain. In 3.0, when you delete a sprite, we delete half of the clones (Can I use Thanos as a verb)

[2020-05-16 19:29] godmar opened #2410 "Links to Scratch 3.0 extensions broken"
I would like to get information about Scratch 3.0 extensions.  On the [Scratch Extensions](https://en.scratch-wiki.info/wiki/Scratch_Extension) website is a link to [this repo](https://github.com/LLK/scratch-vm/blob/develop/docs/extensions.md). The [linked-to page](https://github.com/LLK/scratch-vm/blob/develop/docs/extensions.md), which is part of this repo, contains a broken link in this passage

[2020-05-17 06:09] adroitwhiz opened #2412 "Shadow blocks should be better handled when interoperating with scratch-blocks"
### Expected Behavior

scratch-blocks and the VM should both treat shadow blocks the same way, to prevent bugs like #1530 and #1091.

### Actual Behavior

Currently, scratch-blocks attempts to pull a fast one on us by emitting a "delete" event for a shadow block when it is "obscured" by plugging another block into its corresponding input. If the shadow is later "unobscured" by removing that block

[2020-05-18 04:01] apple502j opened #2413 "Runtime.getBlocksJSON is unused"
`Runtime.getBlocksJSON` is unused. This is added in #675 but it's not used anywhere in scratch-gui or scratch-vm.

[2020-05-18 04:16] apple502j opened #2414 "RenderedTarget.setSay is unused"
`RenderedTarget.setSay`, which only logs something, is currently unused. (Actual code for rendering the bubble is in `scratch3_looks` and scratch-render.)

[2020-05-18 05:34] adroitwhiz commented on #2414
This traces back to https://github.com/LLK/scratch-vm/commit/460760bd06cd5893e1a5f710a555e23316bf9e3e. Say/think bubbles were implemented in https://github.com/LLK/scratch-vm/pull/691 but that PR didn't remove the old stub `setSay`.

[2020-05-18 10:10] apple502j opened #2417 "Base64Util.arrayBufferToBase64 is unused"
`Base64Util.arrayBufferToBase64` is unused since those extensions now use uint8array.

[2020-05-18 10:18] apple502j opened #2418 "ENA-196: TaskQueue is unused"
`TaskQueue` is unused. It was previously used as a rate limiter for extensions, but `RateLimiter` is used now.

[2020-05-18 10:46] adroitwhiz commented on #2317
Looks like 2.0 also handles this weirdly:
![image](https://user-images.githubusercontent.com/25993062/82204642-43215200-98d3-11ea-8081-5de0e67b108f.png)
(This is in 2D/Pixelbender mode)

[2020-05-18 16:26] fsih commented on #2417
Thanks for helping us find code cleanups! Much appreciated!

[2020-05-19 19:48] #2414 closed, assigned to nobody

[2020-05-19 20:11] #2010 closed, assigned to nobody

[2020-05-21 19:47] fsih opened #2424 "Variables with the same name as properties make the (var) of (sprite) block confused"
### Expected Behavior
???

Maybe the second 'size' in the list should be Sprite1: size ?

### Actual Behavior
<img width="268" alt="Screen Shot 2020-05-21 at 15 42 15" src="https://user-images.githubusercontent.com/2855464/82599399-35412a80-9b7a-11ea-84cc-13ba8e3b0aa4.png">

### Steps to Reproduce
1. Name a variable "size"
2. In another sprite, drag out the (var) of (sprite) block and choose size

[2020-05-21 19:47] fsih commented on #2424
Somewhat related: https://github.com/LLK/scratch-vm/pull/2330

[2020-05-21 21:03] adroitwhiz commented on #2424
Looks like this might be the same as https://github.com/LLK/scratch-gui/issues/5488

[2020-05-22 02:19] fsih commented on #2424
Confused about it having both prio-high and priority 4

[2020-05-22 19:15] BryceLTaylor commented on #2297
Scratch 2 hangs when you try to stamp with the backdrop.  It does not stamp.

[2020-05-22 19:20] BryceLTaylor commented on #2297
It's also worth noting that in 2.0 the stamp block is not available to the stage and to try it you must "share the love" to it.

[2020-05-23 03:31] #2334 closed, assigned to nobody

[2020-05-23 15:53] godmar commented on #1846
I am new to scratch and just noticed this phenomenon as well.  As soon as you turn on practically any Scratch program, your laptop's fan will kick in. Based on a [quick analysis of the code](https://github.com/LLK/scratch-vm/blob/develop/src/engine/sequencer.js#L70-L168) it appears that Scratch is aiming for 75% CPU usage, which results in the 80% you and also I are seeing.

I am somewhat surprise

[2020-05-25 16:49] apple502j opened #2429 "Local variables are shared between sprites"
### Expected Behavior
Local variables should not be shared between sprites

### Actual Behavior
https://scratch.mit.edu/projects/398917160/ has a local variable `~LOCAL_A` that is shared between sprite A and B.  The creator didn't say they uploaded the sprite or used backpack, so not #1766 or #1375

**WARNING: THE PROJECT LAGS, SEE BELOW FOR WHY**

You can see that it's the same sprite because it

[2020-05-26 14:28] BryceLTaylor commented on #2429
I was able to reproduce this issue by dragging the same sprite with a variable out of my backpack twice.  The two sprites can access their own copy of the variable separately (changing the value in one doesn't change it in the other.) It does, however, interfere with monitors.  You can only show the monitor for one of the two monitors.  It looked to me like it was for the first one, but I haven't

[2020-05-26 14:47] apple502j commented on #2429
@BryceLTaylor The backpack one is #1375 - and the user said they didn't use code from backpacks

[2020-05-27 16:12] apple502j opened #2434 "Shadow block opcodes are not properly validated"
By modifying the JSON file, any block can be set as "shadow block". They do not appear anywhere in the workspace, but they still execute, allowing codes to be hidden. This can be exploited in a lot of ways.

Example: https://scratch.mit.edu/projects/388355119 - it does not show any blocks because they are shadow blocks. However, the project can still run.

My solution would be to have list of "all

[2020-05-27 19:45] fsih opened #2435 "Global variable names are not updated in '(var) of (sprite)' block when renamed"
### Expected Behavior
Subset of https://github.com/LLK/scratch-gui/issues/4392
When a variable is renamed, all occurrences of that variable in the code on the workspace should update

### Actual Behavior
When a global variable is renamed, the variable name is not updated in occurrences of the (var) of (sprite) block, which will cause the block to start reporting '0' instead of the variable's value

[2020-05-27 19:46] #2435 closed, assigned to nobody

[2020-05-27 20:45] ericrosenbaum commented on #2410
Hi @godmar- thanks for your question. Our documentation for extensions is incomplete- sorry about that. We hope to work on it at some point in the future, assuming we can balance that against other priorities.

The wiki you're referring to is maintained by volunteers outside the scratch team, so I'm not very familiar with it's contents, sorry.

re: extending scratch with HTTP requests, that is a f

[2020-05-28 20:36] ericrosenbaum opened #2444 "WeDo extension calculates tilt angle incorrectly"
### Expected Behavior

The LEGO WeDo extension blocks that use values from the tilt sensor should measure tilt angles in degrees.

### Actual Behavior

It appears that the WeDo sends values to Scratch from its tilt sensor that range from 0 to 255. These values do not correspond to an angle in degrees. They're probably time-averaged accelerometer values.

One way you can see that this is the case i

[2020-05-29 00:59] fsih commented on #2334
Related: https://github.com/LLK/scratch-vm/issues/2444 we are calling 256ths "angles"
I guess that explains why those constants weren't labeled; we didn't know what they were :p

[2020-05-29 14:39] BryceLTaylor opened #2448 "Set Voice To input is droppable but expected inputs don't match expectations"
### Expected Behavior

If you drop a variable reporter into the input for the block "Set Voice To" then if you input the names of the voices as they appear on the blocks, then it should change the voice to that name.

Alternatively accepting non-case sensitive strings of the names would make sense.

### Actual Behavior

Since it accepts the EXACT id string used by the vm, which is case sensitive,

[2020-05-29 14:48] ericrosenbaum commented on #2448
Basically, at the time this extension was created, extensions menus did not have the option not to accept dropped inputs ("droppability"). the fact that you can set the voice if you happen to know the exact id string used in the VM is not really a feature, more like an unintended side effect.

If we wanted to turn it into a feature, we would want it to be case-insensitive, but it would also need t

[2020-05-29 15:21] daikifukumori commented on #2444
I do not think that Scratch calculates tilt angle "incorrectly".
In my understanding, Scratch just [reads the value](https://github.com/LLK/scratch-vm/blob/58c460b16d73af85a73d4f3bb4d81a663b7fa42c/src/extensions/scratch3_wedo2/index.js#L780-L781) of BLE data. The unit of the data is already in degrees. For example, when the angle of the tilt sensor is 30 degrees, the BLE data sent out from the til

[2020-05-29 15:28] ericrosenbaum commented on #2448
Another idea would be to make the droppability work like it does in the music extension's "set instrument" and "play drum" menus, which include numbers in the menu items (e.g. "(1) piano") which work as dropped inputs. no localization issue. So we could do e.g. "(1) alto, (2) tenor" etc.

[2020-05-29 15:31] ericrosenbaum commented on #2448
It's worth noting as well that there are several blocks in the core, and at least a dozen other blocks  in the extensions, that have this issue (i.e. droppable menus where if you know the VM id string in English, you can set it using a variable, but otherwise droppability does not work). it seems more relevant in some cases than others- this specific one of setting the voice with a variable would

[2020-06-01 15:11] ericrosenbaum commented on #2444
thanks for the explanation @daikifukumori, and sorry that we seem to have gotten confused about this!

[2020-06-01 15:11] #2444 closed, assigned to nobody

[2020-06-01 15:57] ericrosenbaum commented on #2448
So we can indeed access the translated voice names for the current locale, like this:
```Object.keys(this.VOICE_INFO).map(v => this.VOICE_INFO[v].name)```

Which e.g. for spanish returns `["contralto", "tenor", "chillido", "gigante", "gatito"]`

We could check against that list to set the voice using a dropped string. There's still a potential problem here though: supposing we did that, and people

[2020-06-03 14:09] BryceLTaylor commented on #2424
Sorry, that was a clear example of a mis-click.

[2020-06-04 17:00] adroitwhiz opened #2457 "VM recording/replay tests"
Currently, compatibility testing is error-prone--writing compatibility tests requires a priori knowledge of which VM behavior is prone to breakage, leading to gaps in test coverage. This means that changes to the VM could potentially break compatibility of real-world projects without causing tests to fail.

There should be a way to deterministically record a series of inputs into the VM and play t

[2020-06-05 06:41] apple502j commented on #2297
WAI per https://github.com/LLK/scratch-gui/issues/2174#issuecomment-639068681

[2020-06-05 06:41] #2297 closed, assigned to nobody

[2020-06-07 12:16] hyansuper opened #2463 "Help: detect motion from remote camera"
I've roughly read the source code of [video sensing](https://github.com/LLK/scratch-vm/blob/develop/src/extensions/scratch3_video_sensing/) extension, [src/io/video.js](https://github.com/LLK/scratch-vm/blob/develop/src/io/video.js) and [scratch-gui/src/lib/video](https://github.com/LLK/scratch-gui/tree/develop/src/lib/video), to implement an extension that show remote camera video and detect moti

[2020-06-07 13:53] apple502j commented on #2463
Its public API is `VirtualMachine.setVideoProvider`, which is called [when the stage initializes](https://github.com/LLK/scratch-gui/blob/develop/src/containers/stage.jsx#L64)

[2020-06-09 14:52] fsih commented on #2186
Decisions from design:
**Phase 1 - Say/Think/Ask Bubbles**
We agree that all three of these bubbles should round (unlike 2.0 where Ask did not round) and that all three should to the same degree of precision (unlike current 3.0 implementation).
Right now, it feels like the main tension between the following:
Biasing towards a lower floor by rounding to a lesser degree of precision. Thinking about

[2020-06-10 19:43] BryceLTaylor commented on #2463
Thank you @apple502j

[2020-06-10 19:43] #2463 closed, assigned to nobody

[2020-06-13 09:45] hyansuper opened #2473 "customized extensions failed to load"
### Expected Behavior
I tried to add a customized extension:https://github.com/kebhr/scratch3-tello, it used to work a year ago. so I think maybe something has changed with the latest scratch3, that's why I am asking this here instead of the tello extension
### Actual Behavior
when I click the customized extension, its blocks did not show, instead, an error in the console in chrome:
[code]
the err

[2020-06-13 11:21] apple502j commented on #2473
index.jsは呼び出されていますか。/is index.js executed?

[2020-06-13 12:58] hyansuper commented on #2473
thanks for your fast reply.
I put `console.log('*****')` at first line in index.js and it's not shown in console when I click the extension. I think index.js is not executed. why is that?

[2020-06-13 13:09] apple502j commented on #2473
try adding console.log to extension-manager.js L150 - does it run?

[2020-06-13 13:26] hyansuper commented on #2473
No, I add console.log at [here](https://github.com/LLK/scratch-vm/blob/develop/src/extension-support/extension-manager.js#L150) but I don't see the message printed in browser's console.
Other builtin extensions can work but also no printed message

[2020-06-13 13:55] apple502j commented on #2473
Are there any errors on the browser console?

[2020-06-13 14:34] hyansuper commented on #2473
yes, errors are as I described above

[2020-06-13 14:36] apple502j commented on #2473
So, no errors other than that? strange. try console.log in extension-manager but next time in line 157

[2020-06-13 14:49] hyansuper commented on #2473
I put console.log at line 157 and also at first line in the `loadExtensionURL (extensionURL)` function, still no coresponding output in browser console. seems like the function `loadExtensionURL (extensionURL)` is not called at all?
ps: I actually don't know if extension-manager.js is run on browser or on nodejs server side

[2020-06-13 15:02] apple502j commented on #2473
Any code will run on browser side.

[2020-06-13 15:48] hyansuper commented on #2473
Oh, I had some problem with npm linking, scratch-gui did not link to my scratch-vm folder but installed its own scratch-vm, somehow still shows the tello extension in the extensions page, making me think that npm linking is right, but it's not.
Thank your and really sorry to bother you

[2020-06-13 15:48] #2473 closed, assigned to nobody

[2020-06-15 12:50] hyansuper opened #2475 "How to show peripheral connection status icon"
I am making a customized extension for my robot connected via websocket. How do I show the connection status icon above all the extension blocks and change the icon according to peripheral connection status?
I read [io.ble.js#L63](https://github.com/LLK/scratch-vm/blob/develop/src/io/ble.js#L63), so I tried putting `runtime.emit(runtime.constructor.PERIPHERAL_CONNECTED);` in my extension block con

[2020-06-16 19:10] ericrosenbaum commented on #2475
Hi @hyansuper! You may just need to set the `showStatusButton` property to true in your extension (like the one [here](https://github.com/LLK/scratch-vm/blob/b67ba75d8b1df4268a9d6727bbc4f32f153c9131/src/extensions/scratch3_microbit/index.js#L591)). Other changes may also be needed to get it fully working- feel free to re-open this issue or create a new one, but I will close this for now.

[2020-06-16 19:10] #2475 closed, assigned to nobody

[2020-06-16 20:00] #2186 closed, assigned to nobody

[2020-06-18 15:07] BoomerScratch opened #2485 "504 gateway timeout at text to speech extension"
### Expected Behavior

TTS works.

### Actual Behavior

A 504 error occurs when using the text to speech tenor voice. I'm not sure if this needs to be reported, or this is a duplicate, but a lot of people are posting bug reports about the TTS extension on the bugs and glitches forum.
[log](https://github.com/LLK/scratch-vm/files/4799352/default.log)

### Steps to Reproduce

1. Add the TTS extensio

[2020-06-18 15:16] ericrosenbaum commented on #2485
thanks @BoomerScratch - we're investigating

[2020-06-18 21:19] ericrosenbaum commented on #2485
We've deployed a fix- looks like it's working fine now.

[2020-06-18 21:19] #2485 closed, assigned to nobody

[2020-06-22 14:25] #2340 closed, assigned to nobody

[2020-06-22 14:25] #2346 closed, assigned to nobody

[2020-06-22 14:25] #2347 closed, assigned to nobody

[2020-06-30 04:00] apple502j opened #2501 "Comments are not deleted when blocks it's attached to get deleted"
### Expected Behavior
If a comment is visually gone, it's logically gone.

### Actual Behavior
There is no code deleting the comment when the block gets deleted. However, Blockly does not render comments with blockId if there is no block associated with it, so you cannot see this on the workspace.

### Steps to Reproduce
- Add a block
- Right-click it and add comment
- Delete the block
- Export pr

[2020-07-02 01:49] apple502j commented on #2429
One possible repro:
- https://scratch.mit.edu/discuss/post/4175550/

[2020-07-11 06:21] sugar-tong opened #2515 "ArgumentType.MATRIX"
I find official microbit blocks has a ArgumentType.MATRIX.
image
Recently, I want to create extension blocks for MAX7219. MAX7219 has 8X8 led on it. May I know how to create a new ArgumentType.MATRIX for 8*8 led? Is it possible to create a new ArgumentType in Scratch3?
image

[2020-07-14 06:09] apple502j commented on #2120
@BryceLTaylor hm, adroitwhiz said "RIP extensionification" https://github.com/LLK/scratch-gui/issues/4400#issuecomment-627797933 - is it true?

[2020-07-14 18:44] cwillisf opened #2517 "extension ID filters should be consistent"
### Expected Behavior

There should be a clear definition of what constitutes a legal extension ID and all places in the code which filter extension IDs should match that.

### Actual Behavior

The newly-introduced extension ID sanitizer (from #2476) doesn't match the previously-existing code [here](https://github.com/LLK/scratch-vm/blob/da68c4faf68014bfdfdb1af263910940d96ddd3a/src/extension-suppo

[2020-07-17 04:46] houcy commented on #2352
When will this pr closed?

[2020-07-17 05:15] apple502j commented on #2352
@houcy you can close it yourself.

[2020-07-20 22:39] 2br-2b opened #2526 "Pan left/right doesn't effect extension blocks"
### Expected Behavior

[When green flag clicked
set [pan left/right v] effect to (100)
play note (60) for (0.25) beats
speak (hello)](https://scratchblocks.github.io/#?style=scratch3&script=When%20green%20flag%20clicked%0Aset%20%5Bpan%20left%2Fright%20v%5D%20effect%20to%20(100)%0Aplay%20note%20(60)%20for%20(0.25)%20beats%0Aspeak%20(hello))

(I would post a Scratch blocks image, but Github isn't le

[2020-07-21 05:50] MatataLab opened #2524 "the latest google chrome version 84.0.4147.89 can't establish connection with scratch-link"
### Expected Behavior

after I update google chrome version 84.0.4147.89 on my windows 10 version 1909.  I can't establish connection with scratch-link,
here is the log(I use microbit):

[code]

and then I tried it with Microsoft edge, It will not happen this error.
and I also tried google chrome version 83.0.4103.106, It also will not happen this error.

I’m not sure if this is a issue with Googl

[2020-07-21 07:54] apple502j commented on #2524
@MatataLab  Scratch Link was recently updated. Did you update it?
Cannot repro on Scratch Link 1.3.57 (949d6ed)

[2020-07-21 09:15] BoomerScratch commented on #2526
Should be moved to LLK/scratch-vm or LLK/scratch-audio.
I think it's not a bug.
Possible duplicate of LLK/scratch-audio#18.

[2020-07-21 11:29] YanMinge commented on #2524
Yes, I have update the scratch-link version to 1.3.57.
It seems that this issue is only related to the Google Chrome version.

This issue will not happen again if I used browser edge or roll back the Google Chrome version to  83.0.4103.106. It has nothing to do with the version of scratch-link

[2020-07-21 11:31] Explosion-Scratch commented on #2526
Intresting. Also, @BoomerScratch that issue is like 3 years old and it was about scratch 2.0, which is now obsolete.

[2020-07-21 11:43] apple502j commented on #2526
@Explosion-Scratch It can't be a Scratch 2.0 issue because pan effect is 3.0 thing (also, Scratch 3.0 development started in 2016!)

[2020-07-21 13:15] Explosion-Scratch commented on #2526
@apple502j Thanks, I wasn't thinking right (in my defense I hadn't had my morning coffee yet) :P

[2020-07-21 13:17] 2br-2b commented on #2526
Thanks! I'll put it in Scratch-VM. I would do Scratch-Audio, but I think this is an issue with the extensions, not the sound processes (though I could be wrong)

Edit: since there's already an issue in LKK/scratch-audio, I'll file an issue there

[2020-07-21 13:48] 2br-2b commented on #2275
See https://github.com/LLK/scratch-vm/pull/2436

[2020-07-21 13:50] 2br-2b commented on #2410
Duplicate of https://github.com/LLK/scratch-vm/issues/2208

[2020-07-21 15:16] apple502j commented on #2524
Can repro now on Chrome 84, Scratch Link 1.3.57 - I think I messed something 7 hours ago
also @BryceLTaylor This is probably LLK/scratch-link issue

[2020-07-22 15:44] ericrosenbaum commented on #2526
We initially decided not to do this (i.e. not to make the pan effect work for sounds from extensions) for a design reason: we wanted the extensions to be functionally separate from the core blocks. It seemed potentially confusing to have something that a core block does (such as setting the pan value) alter something that an extension does (such as playing a musical note).

From the start, there w

[2020-07-23 16:41] 2br-2b commented on #2526
Yeah, I'm not sure that just applying the effects to the extensions is necessarily the best idea. I would like the effects to be applied to extensions, but just making it apply now would probably break some animations.

Maybe we could make separate effects blocks for the effects for the extensions? I also don't think this is the best idea, as it would probably overcomplicate things, but maybe have

[2020-07-23 19:33] ericrosenbaum commented on #2515
We have PR's from a contributor for an 8x8 matrix, but I haven't had the chance to review and merge them yet. You can have a look and use them locally if you want:
https://github.com/LLK/scratch-blocks/pull/1977
https://github.com/LLK/scratch-vm/pull/2246

[2020-07-23 19:34] #2515 closed, assigned to nobody

[2020-07-23 20:44] cwillisf commented on #2524
Tracking this in LLK/scratch-link#179

[2020-07-23 20:44] #2524 closed, assigned to nobody

[2020-07-26 07:17] Richienb opened #2533 "Request: Type definitions for extensions"
It would be useful for there to be Typescript definitions so that Intellisense would work when developing extensions.

[2020-07-27 05:09] apple502j commented on #2533
Currently Scratch does not use TypeScript. Maybe you can convert https://github.com/LLK/scratch-vm/blob/develop/src/extension-support/extension-metadata.js to TypeScript definitions?

[2020-07-27 05:11] Richienb commented on #2533
@apple502j Are there definitions for the `Scratch` variable exposed to global?

[2020-07-27 05:13] Richienb commented on #2533
Also, where should I put the type definitions?

[2020-07-27 05:29] apple502j commented on #2533
this is example:

[code]

[2020-07-27 05:30] Richienb commented on #2533
@apple502j And where should I put the typings?

[2020-07-27 05:53] Richienb commented on #2533
@apple502j [BlockType](https://github.com/LLK/scratch-vm/blob/develop/src/extension-support/extension-metadata.js#L18), [ReporterScope](https://github.com/LLK/scratch-vm/blob/develop/src/extension-support/extension-metadata.js#L23) and [ArgumentType](https://github.com/LLK/scratch-vm/blob/develop/src/extension-support/extension-metadata.js#L33) is not declared.

[2020-07-27 08:17] apple502j commented on #2533
@Richienb They are all string enums.
Again, **TypeScript is not supported, so there is no place to put typings.**

[2020-07-27 08:19] Richienb commented on #2533
@apple502j What are the possible values for the enums?

[2020-07-27 08:50] apple502j commented on #2533
See argument-type.js, block-type.js and target-type.js at https://github.com/LLK/scratch-vm/tree/develop/src/extension-support

[2020-07-27 14:16] lintense commented on #2429
Hi guys!
This issue is not directly related to the backpack but solving it should help (and maybe fix) the backpack one.
(I'm thinking about https://github.com/LLK/scratch-vm/issues/1766 for instance)

The current issue is two fold and is indeed very easy to reproduce:

Part 1
1-Create a new project
2-In the default sprite: create a new LOCAL variable named "V"
3-Duplicate the default sprite
4-In

[2020-07-27 14:27] lintense commented on #1766
Hi guys, I suggest you merge this issue with
https://github.com/LLK/scratch-vm/issues/2429

[2020-07-27 16:15] apple502j commented on #1766
@lintense This is not #2429 . The author said they never uploaded sprites.

[2020-07-27 19:50] lintense commented on #1766
Ok, let me explain a bit:

This current bug is caused by a conflict among local variables.
But https://github.com/LLK/scratch-vm/issues/2429 is actually touching the heart of the local variables issue.
IMHO resolving #2429 would fix this one as a side effect.

Please read my comment on #2429 on how to reproduce both issues.

[2020-07-28 00:05] apple502j commented on #1766
There are 3 issues:
#1766 - sprite upload
#1375 - backpack
#2429 - unknown causes

So solving #2429 does not solve these, since we do not know how #2429 is caused

[2020-07-28 00:30] lintense commented on #1766
Hi again, and thanks for your patience!

Here is my take:

#1766 - No two distinct variables in a given project should have the same ID.
- Local variables from 2 distinct sprites (even if they are copies of each other) are distinct.

#1375 - Resolve Variable Conflict Issues When Adding Code From the Backpack
- From what I can tell:
	a) 2 Global variables can be merged -> Conflict solved.
	b) 2 Loc

[2020-07-28 01:04] lintense commented on #1766
Regarding your previous comment: This is not #2429 . The author said they never uploaded sprites.

Step to reproduce:

Part 1
1-Create a new project
2-Create a copy of the defaut sprite (aka Sprite2)
3-Go in Sprite1 and Create a new LOCAL variable "v"
4-Go in Sprite2 and Create a new LOCAL variable "v"
Result: Both local variable are visible in the animation view and their value can be change inde

[2020-07-28 01:17] apple502j commented on #1766
While the sprite ID idea seems good, we have to understand that project.json limit exists. (On Scratch 3.0 server, 5MB is the limit - which can be easily exceeded if you have lots of scripts)
Every block that references the variable (except sensing_of) stores variable ID somehow, so this is not going to work because some existing projects wouldn't save because effectively the length of ID doubles.

[2020-07-28 01:22] apple502j commented on #1766
Note: duplicating sprite does not cause ID conflict (and they should not) - see https://github.com/LLK/scratch-vm/blob/develop/src/engine/target.js#L432 and https://github.com/LLK/scratch-vm/blob/develop/src/sprites/rendered-target.js#L996

[2020-07-28 01:27] lintense commented on #1766
apple502j: While the sprite ID idea seems good...
lintense: Maybe the "actual name" (Sprite ID + local var name) can be put into some lookup table that can be consulted when uploading/duplicating/creating and would then return a shorter ID. (Remember, this only has to be done for local variable hence limiting the size of such a table)

apple502j: The core problem is, when a variable is added, some

[2020-07-28 01:33] apple502j commented on #1766
@lintense I read the code and it doesn't seem like it causes ID conflict. I made a local variable, duplicated sprite, set the variable to 1 on the old sprite, and on the second sprite I checked the variable value which was 0.

You are making problems more complicated... we just need to modify uploading/duplicating/creating codes so that IDs are randomized...

[2020-07-28 01:46] lintense commented on #1766
@apple502j As long as the local variables with the same name are distinct this should be fine.

I'm not a proponent of randomized ID. Indeed, how can you insure there will be no collisions? But this is aside the point...

[2020-07-28 04:36] apple502j commented on #1766
@lintense Mathematics ensure that it's very (*100000) unlikely to get ID collision. There are 617141927185296106289002325476403184801 (87^20) possible IDs. If you are worried about random ID collision, you should be more worried about IPv6 address collision, because there are 340282366920938463463374607431768211456 (2^128) possible IPv6 addresses.

[2020-07-28 09:00] Richienb commented on #2533
@apple502j Are `ArgumentType`, `BlockType` and `TargetType` all properties of `Scratch`?

[2020-07-28 09:01] apple502j commented on #2533
@Richienb yes.

[2020-07-28 15:15] lintense commented on #1766
@apple502j  So what is the status as of now? Do you have enough info to keep going? Tell me when this would be available so I can help you with quality control.

apple502j: Mathematics ensure that it's very (*100000) unlikely to get ID collision: Still... You must be aware that these randomized IDs are meant to be used in distributed system where no centralized ID provider is available (who's comp

[2020-07-31 13:05] apple502j opened #2541 "Video motion value for sprite is always zero until the sprite is interacted"
### Expected Behavior
As long as the user accepts video, video motion value is set correctly.

### Actual Behavior
Until the sprite is interacted, motion for the sprite is always 0 and direction is always -1. Values for stage are correct. There is no error on console.

"Interacting" includes:
- dragging, either on editor or on player (by set drag mode)
- clicking the sprite
- using say block, thin

[2020-08-03 11:09] Richienb commented on #2533
PR opened at https://github.com/DefinitelyTyped/DefinitelyTyped/pull/46522

[2020-08-05 09:01] Ryuurock opened #2545 "Events about variable updates"
https://github.com/LLK/scratch-vm/blob/5f101256434b21035e55183d4e0e4c2d1e5936fa/src/blocks/scratch3_data.js#L54-L65

Should the targetUpdate event or monitorUpdate event be triggered here? Variables that are not currently displayed cannot detect change events

[2020-08-05 09:04] apple502j commented on #2545
Monitor events are triggered in the monitor thread - at https://github.com/LLK/scratch-vm/blob/develop/src/engine/execute.js#L89

[2020-08-06 01:10] Ryuurock commented on #2545
Undisplayed variable updates will not trigger events

[2020-08-06 04:14] apple502j commented on #2545
@Ryuurock  Yes, for performance reasons. Vanilla scratch does not need such events

[2020-08-07 05:44] ronilan opened #2553 ""When I Receive" will stop execution of blocks initiated by message when a subsequent message is received"
### Expected Behavior

When a message is received all blocks below `When I Receive` should execute. When two messages are sent one after the other all blocks below `When I Receive` should execute twice. Same for any number of messages.

Above should be independent of what the blocks are.

Specifically, in cases where `When I Receive` has a `wait` block attached, a subsequent message may be receive

[2020-08-07 06:29] apple502j commented on #2553
Potentially intended behavior since the block is set to "restart existing threads" - https://github.com/LLK/scratch-vm/blob/develop/src/blocks/scratch3_event.js#L60

[2020-08-07 06:44] ronilan commented on #2553
I see how it can be deliberate since `When this sprite clicked` acts the same (see here: https://scratch.mit.edu/projects/416353576/) Not sure if this is the desirable behavior. It breaks user expectations (and limits some basic things). Was it same in Scratch 2.0?

[2020-08-07 07:15] apple502j commented on #2553
There is no option to run twice. It's either "stop and restart" or "don't run at all".

[2020-08-10 02:50] #2545 closed, assigned to nobody

[2020-08-10 17:54] ericrosenbaum commented on #2541
e.g. my falling sprites project seems broken: https://scratch.mit.edu/projects/276660492/

[2020-08-10 18:19] apple502j commented on #2541
@ericrosenbaum @BryceLTaylor Can you bump this to priority 2? Search shows that [15 issues are marked with High Severity, Medium Impact and priority 2](https://github.com/search?q=org%3Allk+label%3A%22High+Severity%22+label%3A%22Medium+Impact%22+label%3A%22priority+2%22&type=Issues) while [9 issues are marked with priority 3](https://github.com/search?q=org%3Allk+label%3A%22High+Severity%22+label%

[2020-08-11 16:33] R4356th opened #2554 "Modding text strings by numbers returns 0"
### Expected Behavior

NaN should be returned when trying to mod text by numbers.

### Actual Behavior

Text strings return 0 when modded by numbers.

### Steps to Reproduce

Try to mod a text string by a number.

### Operating System and Browser

Chrome Version 84.0.4147.125 (Official Build) (64-bit), Windows 10 and [possibly others](https://scratch.mit.edu/projects/393758715/#comments-143057891)

[2020-08-11 17:30] towerofnix commented on #2554
I think it's worth discussing the context around this idea before deciding to implement it.

First off, there's a fair bit of discussion about NaN already in issue #234, though all there is a few years old by this point.

As far as this issue goes, I wonder what other blocks return NaN in Scratch 3.0? The only example that comes to mind is "sqrt (-1)", which is pretty inaccessible. Exposing the ar

[2020-08-13 15:07] zoebentley opened #2558 "Icons on Extension blocks should be more exportable"
### Expected Behavior

All icons on extension blocks should be visible when exporting images for tutorials.

### Actual Behavior

When exporting SVG of blocks, some extension icons export in a way such that they do not appear in Adobe Illustrator.

<img width="365" alt="Screen Shot 2020-08-13 at 10 59 22 AM" src="https://user-images.githubusercontent.com/37678690/90151249-82393500-dd54-11ea-986f-b

[2020-08-17 22:15] Richienb commented on #2533
[`@types/scratch-env`](https://www.npmjs.com/package/@types/scratch-env) has been published! Thanks for all the help!

[2020-08-17 22:15] #2533 closed, assigned to nobody

[2020-08-18 20:11] #1739 closed, assigned to nobody

[2020-08-20 12:49] apple502j opened #2563 "log option of operator_mathof should use log10"
### Expected Behavior
log block should use log10 instead of log + dividing by LN10

### Actual Behavior
log block does not use log10, which can lead to precision issues that can be solved easily - e.g. log of 1000 is not 3

### Source Code
https://github.com/LLK/scratch-vm/blob/develop/src/blocks/scratch3_operators.js#L146

This should be changed to
[code]

Math.log10 should be available on all su

[2020-08-20 21:11] #2541 closed, assigned to ericrosenbaum

[2020-08-21 10:04] ghost commented on #1064
Actually, C-style variables can be useful as well. But I am not creating a task for it. That means adding a boolean type, which is either true or false. Nextly, it seems that the for loops of scratch are always `for _ in ...` type, I recommend adding a block which looks something like this:
[code]
which is like this:
[code]
Plus, the break statement might be useful.
This can be used for something

[2020-08-21 10:19] ghost commented on #1064
I do not think so. I recommend adding a checkbox labeled "Block can return value", plus a return type, which should hopefully look like this:

- [x] Block has a return value
Type of value:
- [x] Boolean
- [x] Number(Int on platforms)
- [x] text(String or char)
- [x] List (Array of things)
In the first case, it makes the block hexadecimal, in the second case to the fourth case, the block is round.

[2020-08-21 13:41] towerofnix commented on #1064
I'm curious what this specifically has to do with the concept of giving custom blocks the ability to return values? Certainly your ideas would be useful, but they don't seem directly connected to return values, so it seems they'd be better discussed as separate issues.

Regarding reporters: "reporter" is a term for round- or hexagonal-shaped blocks, which are implemented as part of the program by

[2020-08-22 01:05] ghost commented on #1064
Because the <> shape is mostly boolean operators and the round stuff is usually of the int, string, or array type. This is the best I can think of while not turning it into a "visual version of C or Swift", although I am thinking of an app which can generate Swift code from blocks.

[2020-08-22 23:46] mrjacobbloom commented on #1064
Some definitions, just to make sure, we're all on the same page:

* A **boolean variable** (what you're proposing) is a user-created variable in the Variables (orange) palette that has the `<angle>` shape and can only be set to true or false.
* A **custom reporter** (the topic of this issue) is an extension to the My Blocks (pink) palette that allows a user to create a custom procedure that return

[2020-08-23 17:50] Joeclinton1 opened #2566 "Question: How would you use profiler.js to time the duration of a stack?"
I have been reading through the code for profiler.js, but i can't figure out how to get the time elapsed between starting to execute a thread and stopping the thread execution.

I'm sure there is a simple way, but there isn't any documentation available.

On the same note, could someone explain what frames and records are?

Thankyou.

[2020-08-23 23:55] Joeclinton1 commented on #2566
Ok, I figured out how to do it.

`Runtime.enableProfiling((frame)=>{
            if(frame.id == 1 ){
                console.log(frame)
                console.log(frame.selfTime)
                Runtime.disableProfiling();
                return
            }
        });
Runtime._pushThread(topBlockId, opts.target, opts);
`

[2020-08-23 23:55] #2566 closed, assigned to nobody

[2020-08-24 03:45] ghost commented on #1064
### For people claiming this task
Firstly, a return value is suggested, and also different types of return values. Blocks with a `bool` return type should be of an angle type, and numbers and strings should be round.
Secondly, the for-in loop can be used for iterating over arrays or to use the value `i` in other scripts.
Thirdly, there is also a suggestion for a break statement.

[2020-08-24 18:14] apple502j commented on #2317
~~Why reopen?~~ forgot the PR is reverted

[2020-08-24 21:28] fsih commented on #2317
Design considerations @carljbowman
What currently happens in Scratch 3.0 at +infinity? Bolded effects feel like they might be unintended behavior
- **Color effect becomes black (different on different computers)**
- **Fisheye has giant single-color circle appear on top of sprite**
- **Whirl effect cuts out giant circle from middle of sprite**
- **Pixelate turns into 1 pixel that's usually transpar

[2020-08-26 08:08] apple502j opened #2568 "Performance: cache getListContents and getItemNumOfList"
These two are very expensive because it runs for-loop every time it gets called. Maybe we can cache the results.

- Make an API to manipulate lists through runtime - scratch-gui manipulates list values directly, which is not ideal for this situation.
- Add caching
- Add cache invalidating
- listContainsItem use getItemNumOfList

[2020-08-26 08:25] ghost opened #2569 "Feature Request: Inline JS"
Just like C can use the `__asm__` for inline assembly, we can have inline JS code as a block, in a new category, known as the technical category. This category can have inline code blocks that accept inputs. The only way that this code can report values is to use the return keyword. The block can be shaped like this:
<Run JS function [NAME] (Inputs)> if the return value is boolean, and
(Run JS fun

[2020-08-26 09:08] apple502j commented on #2569
Scratch is designed to be a language that can be run safely - running JavaScript will not be safe. You can mod it but, be careful of the dangers of XSS!

[2020-08-26 09:30] apple502j opened #2570 "Performance: in Cast.compare, check === first"
By checking `v1 === v2` first in Cast.compare, performance can be boosted. According to my test, this should not change the behavior of Cast.compare.
[code]

[2020-08-26 14:53] apple502j commented on #2570
In the node environment, this makes comparing exactly same stuff approx. 250x faster:
(tested by comparing pair of `abc`, `123` and `Infinity` one million times x 100)
[code]

[2020-08-27 00:16] ghost commented on #2569
Well, we can have potentially dangerous stuff like `document.write` removed.

[2020-08-27 03:34] apple502j commented on #2569
There are ways to bypass this. `safe-eval` has unpatched sandbox escape and I know others too.

[2020-08-27 04:10] apple502j opened #2571 "Performance: Cast.toString should not call String if it's already string"
for util/cast.js
[code]
is approx. 7x faster. This function is called in many places, so it's good to boost performance a bit.
[code]

[2020-08-27 05:08] ghost commented on #2569
I mean that we can have safe-eval removed as well.

[2020-08-27 06:17] apple502j commented on #2569
Hm what? I mean, there is no safe way to implement this because it's practically impossible to remove dangerous stuff.

[2020-08-27 15:11] ericrosenbaum commented on #2569
I agree that this is potentially unsafe for Scratch, no matter how it is implemented. For people who are interested in combining blocks with javascript, you can try the Snap! programming language, which has functionality much like what was suggested here: a block that lets you enter and run javascript functions, get their return values, etc. https://snap.berkeley.edu/search?query=javascript

[2020-08-27 15:11] #2569 closed, assigned to nobody

[2020-08-27 15:15] ericrosenbaum commented on #2569
see also: https://snap.berkeley.edu/project?user=pkmnq&project=Why%20running%20arbitrary%20JavaScript%20is%20bad

[2020-08-27 19:03] apple502j opened #2574 "Sequencer.retireThread is not erasing thead.stackFrames"
### Expected Behavior
Sequencer.retireThread erases `stackFrames`

### Actual Behavior
It does not, it sets `thread.stackFrame` (unused anywhere else) instead of actual attribute `stackFrames`. This may have caused some memory leaks, but I'm not sure.

### Steps to Reproduce
1. Read source code.
2. Debug thread code.
3. https://github.com/LLK/scratch-vm/blob/develop/src/engine/sequencer.js#L355

[2020-08-27 19:19] apple502j opened #2575 "Performance: introduce peekStack/peekStackFrame caching"
peekStack/peekStackFrame may be optimized by using caches. The cache value can be updated when we `push` (because it's just the last item of the array)

[2020-08-28 00:30] apple502j opened #2576 "Runtime.startHats calls goToNextBlock on retired threads"
### Expected Behavior
goToNextBlock is not called for retired threads, since they don't have a stack to go to

### Actual Behavior
goToNextBlock gets called for retired threads. This is unnoticeable because of a bug in retireThread (#2574)

### Steps to Reproduce
1. Read source code of execute.js
2. Find that the thread can retire
3. Add this code to startHats forEach loop to confirm
[code]
### Op

[2020-08-28 05:27] apple502j opened #2577 "Procedures named with Object prototype attr names cause crash upon executing"
### Expected Behavior
Scratch should not crash, especially in the thread (because it does not show the blue screen and consume memory by spamming browser console)

### Actual Behavior
It crashes

### Steps to Reproduce
Make a procedure named "hasOwnProperty" or something else in the object prototype.

### Operating System and Browser
any

### Fixes
Procedure related cache attributes need to use pr

[2020-08-28 14:37] apple502j opened #2579 "Cast.isInt should use modulo instead of parseInt for checking if it's int"
`!(value % 0)` is way faster than `value === parseInt(value, 10)`, and should be used in `Cast.isInt`.

My testing (100 times, one million times):
parseInt: average 312.87, min 277, max 493
modulo: average 0.77, min 0, max 3

[2020-08-30 15:29] Richienb opened #2582 "Incorrect menu documentation"
### Expected Behavior

The extension menu documentation in https://github.com/LLK/scratch-vm/blob/develop/docs/extensions.md#defining-a-menu should match with the jsdocs in https://github.com/LLK/scratch-vm/blob/develop/src/extension-support/extension-metadata.js#L39

### Actual Behavior

Both sources describe different behaviour.

### Steps to Reproduce

The first source outlined this:

[code]

H

[2020-08-31 06:46] houcy opened #2583 "incorrect behavior of moveSteps and pointInDirection blocks"
### Expected Behavior
Create a simple program with moveSteps and pointInDirection blocks, the full program looks as blow(pseudo code):

when click green flag
move to x(0) y(0)
loop forever:
     face to 90 degree
     move 100 steps
     face to 180 degree
     move 100 steps
     face to -90 degree
     move 100 steps
     face to 0 degree
     move 100 steps

The expected behavior is that the sp

[2020-08-31 09:07] apple502j commented on #2583
It actually moves (is obvious when you have pen) - it's just so fast that it can finish in one frame.
I think this is working as intended. You can slow it down using "wait 0 seconds" block - so try it. Please do not make motion blocks wait for one tick, we sometimes need fast render too.

[2020-08-31 09:17] houcy commented on #2583
hmm, the behavior is weird, the sprite at best shows moving around very fast which is our expected behavior. Maybe you can add wait 0 second block at the background in hidden and show the expected behavior implicitly to user. Users don't care the internal implementation but the actual behavior. This way it can make sense.

[2020-08-31 09:37] apple502j commented on #2583
For me it does not make sense for motion blocks to yield, because the block does not say it waits. If you want to see sprites moving, pen can be used to track their trails.

[2020-08-31 12:28] houcy commented on #2583
Let's think this problem from users' point of view. Users want to see the sprite is moving instead of staying in place. Sometimes, users also dont' want to see the trails. In a word, moving, not in still and without trails. That's the users'  expectation. The second, from physics point of view, move x steps with some speed in a certain time. But in code implementation, the sprite moves to destinat

[2020-08-31 12:54] apple502j commented on #2583
It actually moves, but does not appear as moving, because the blocks inside forever loop are executed in one frame. "the sprite moves to destination directly" is just visual thing.
This is a big breaking change and should not be introduced lightly.

(also, if i remember correctly, "wait 0 secs" does not actually wait for 0 seconds - it waits for one frame. you can wait for 1/30 secs if you want, a

[2020-08-31 13:06] houcy commented on #2583
Yes, this is a big change, I agree with you here. The best option is to keep everything remaining the same. Thanks for your kindly reply!

[2020-08-31 14:25] #2583 closed, assigned to nobody

[2020-09-03 15:41] BryceLTaylor commented on #2576
@apple502j can you explain what problems this causes for a user?

[2020-09-03 15:45] apple502j commented on #2576
@BryceLTaylor Currently none, but this should be fixed when we fix #2574

[2020-09-03 19:52] #2355 closed, assigned to nobody

[2020-09-03 21:13] ericrosenbaum commented on #2582
As far as I can tell the documentation [here](https://github.com/LLK/scratch-vm/blob/develop/docs/extensions.md#defining-a-menu) is correct and complete. It describes all the different ways you can specify menus, with examples. It appears to match the jsdoc information [here](https://github.com/LLK/scratch-vm/blob/develop/src/extension-support/extension-metadata.js#L39).

Maybe I misunderstood you

[2020-09-04 10:55] Richienb commented on #2582
@ericrosenbaum
The jsdocs do **not** document the expected behaviour.

`ExtensionMenuMetadata` can be either `ExtensionDynamicMenu` or `ExtensionMenuItems`:
https://github.com/LLK/scratch-vm/blob/7c652246dfe7f54a40db681eed65a6e7a0fc68d6/src/extension-support/extension-metadata.js#L39

`ExtensionDynamicMenu` must be a string:
https://github.com/LLK/scratch-vm/blob/7c652246dfe7f54a40db681eed65a6e7a0

[2020-09-04 17:45] cwillisf commented on #2582
I took another look and I do see one or two places where the documentation in `extensions.md` and in `extensions-metadata.js` diverge. We should definitely get these back in sync, but I don't think the priority will be especially high for us until we start working toward third-party extensions again.

It looks like the main problem is that `extension-metadata.js` only documents the "shorthand" cas

[2020-09-06 02:33] Richienb commented on #2582
@cwillisf `terminal` or `isTerminal`?

https://github.com/LLK/scratch-vm/search?q=terminal&unscoped_q=terminal

[2020-09-08 17:51] apple502j opened #2596 "Thread.waitingReporter is unused"
`Thread.waitingReporter` looks unused. Found when writing Scratch Wiki article for the sequencer, when searching for the behavior of https://github.com/LLK/scratch-vm/blob/develop/src/engine/sequencer.js#L266

[2020-09-11 05:15] apple502j opened #2599 "getProcedureParamNamesAndIds is unused"
`getProcedureParamNamesAndIds`, defined in blocks.js and block-utilities.js, is unused.

[2020-09-16 08:18] shycoded opened #2603 "a"

[2020-09-16 16:46] apple502j commented on #2603
Programming is not a skill you can get just by googling for 2 weeks. Also, because Scratch is based on JavaScript, not everything can be ported to Python. (how do we move the cat?)

[2020-09-16 21:52] #2109 closed, assigned to ericrosenbaum

[2020-09-24 20:58] BryceLTaylor commented on #2579
Can a user notice the difference in speeds you describe here?  If so, on what devices and with what projects?

[2020-09-24 20:58] BryceLTaylor commented on #2575
Can a user notice the difference in speeds you describe here?  If so, on what devices and with what projects?

[2020-09-24 21:03] BryceLTaylor commented on #2571
Can a user notice the difference in speeds you describe here?  If so, on what devices and with what projects?

[2020-09-24 21:07] BryceLTaylor commented on #2570
Can a user notice the difference in speeds you describe here?  If so, on what devices and with what projects?

[2020-09-24 21:08] BryceLTaylor commented on #2568
Can a user notice the difference in speeds you describe here?  If so, on what devices and with what projects?

[2020-10-01 17:35] ericrosenbaum commented on #2603
@shycoded good luck! I'm going to close this issue- please open a new issue if you have a more specific question.

[2020-10-01 17:35] #2603 closed, assigned to nobody

[2020-10-01 17:45] ericrosenbaum commented on #2553
This is the "expected" behavior (even if it seems unexpected!). it matches Scratch 2.0, so we need to keep it as-is to preserve compatibility with existing projects.

[2020-10-01 17:45] #2553 closed, assigned to nobody

[2020-10-08 19:59] fsih opened #2618 "Should svg-renderer be run on imported assets?"
SVG renderer contains fix-ups that guarantee some things about the format of SVGs that are uploaded to Scratch. However, right now those fixups are only run if you're uploading something known to be from Scratch 2. Should we be running fixup-svg on all uploaded SVGs?

[2020-10-08 20:13] apple502j commented on #2618
Where does it executed? gui/src/lib/file-uploader.js, like bitmap plugin? Or server side?

[2020-10-22 17:51] MarcusOtter opened #2643 "Set size does not work if sprite is small (<10px width)"
### Expected Behavior

I expect the sprite to be sized to X when I use the "Set size to X%" block.
This is not the case when the width of the sprite is small. I don't know exactly what width, but less than 10 px does the trick.
This seems like buggy behavior to me.

### Actual Behavior

It gets set to seemingly arbitrary values, for example, in my repro below, I try to resize the lowercase letter

[2020-10-22 18:07] apple502j commented on #2643
Works as intended. Sprites cannot be too small or too large.
There's a way to bypass this by switching costumes - but who needs a costume that small?

[2020-10-22 18:21] MarcusOtter commented on #2643
Thanks for the reply @apple502j
In my use case, I'm making a simple text renderer. I just made ~100 costumes (one for each character) with default text size, only to realize that some of the characters got different sizes than others. For example, i, L, and ! behaved differently than o, m, e, etc.
It took some debugging to figure out what the problem was. I will have to resize all 100 characters t

[2020-10-22 18:28] MarcusOtter commented on #2643
I think this is a related discussion, and as @apple502j says it seems intentional, so I'm closing this issue.
https://github.com/LLK/scratch-gui/issues/533

The workaround of changing the costume to a large one, changing the scale, and then changing to the desired sprite works well.

[2020-10-22 18:28] #2643 closed, assigned to nobody

[2020-10-22 21:03] BryceLTaylor commented on #2576
If we find that this causes user facing problems we can reopen this issue, but until then, I'm closing it.

[2020-10-22 21:03] #2576 closed, assigned to nobody

[2020-10-22 21:03] BryceLTaylor commented on #2574
If we find that this causes user facing problems we can reopen this issue, but until then, I'm closing it.

[2020-10-22 21:03] #2574 closed, assigned to nobody

[2020-10-24 12:17] SunnyChen-T commented on #2210
Can someone help on supporting distance sensor for lego boost? Or there is a political reason not to do so?

[2020-10-24 15:02] aetinx commented on #2577
When an issue has both "High severity" and "Low impact" tags. LOL.

[2020-10-27 03:09] leonardo-xu commented on #2170
Hi!How to solve this problem? Thanks!

[2020-10-27 03:13] leonardo-xu commented on #2170
你好，我也遇到了同样的问题，请问是怎么解决的？还有，如果添加audioengine?多谢

[2020-10-27 03:34] apple502j commented on #2170
This is not impossible, but so hard that nobody tried it.

[2020-10-27 04:13] SunnyChen-T opened #2651 "Lego Boost extension: Add support for distance-sensor"
### Expected Behavior
Please help to approve the work by apfeuti on #2299  and add support for distance-sensor for Lego Boost.  It would really be appreciated by many people who think that is a basic but essential function for Lego Boost.

https://scratch.mit.edu/discuss/topic/374009/

[2020-10-29 18:42] BryceLTaylor commented on #2651
This appears to be a duplicate of https://github.com/LLK/scratch-vm/issues/2210

[2020-10-30 09:45] apple502j opened #2661 "Clone-parent desync when costume number changes, leading to crash in some cases"
### Expected Behavior
Some actions, like deleteCostume or reorderCostume, changes the current costume number, on all cloned RenderedTarget of Sprite.

### Actual Behavior
De-sync occurs, because clones don't notice when the costume number changes. Crash occurs when the last costume is deleted, the clone's costume is the deleted one, and the clone executes "costume name" block.

### Steps to Reprod

[2020-10-31 22:38] tomrow opened #2662 "Music extension does not respond to Stop All Sounds"
### Expected Behavior

Notes and drums should cease when Stop All Sounds is activated

### Actual Behavior

Notes and drums continue to play. This is inconsistent with old versions of scratch and may cause compatibility issues.

### Steps to Reproduce

![image](https://user-images.githubusercontent.com/10169982/97791383-8e9d9300-1bc9-11eb-8503-6c00b9dc351d.png)

### Operating System and Browser

!

[2020-11-04 14:33] RokCoder opened #2669 "Performance degradation when moving sprite within non-refresh loop"
### Expected Behavior

Movement of a sprite within a non-refresh loop should not impact upon performance

### Actual Behavior

Movement of a sprite within a non-refresh loop impacts upon performance. This is a fairly recent regression and is most noticeable in pen-based projects that move the pen many times per frame.

### Steps to Reproduce

This is a stripped down project that displays the behav

[2020-11-04 14:42] RokCoder opened #2670 "Pen position (or size) has altered since the release of Scratch 3.0"
### Expected Behavior

Projects displaying pen should display the same now as they did in Scratch 2.0 and, indeed, the same as they originally did with Scratch 3.0

### Actual Behavior

The positioning or size of the pen seems to have altered when drawing lines

### Steps to Reproduce

Apologies for the worst reproduction ever. Use this project (https://scratch.mit.edu/projects/360544527/), select

[2020-11-04 14:44] RokCoder opened #2671 "Pen size or position has altered since Scratch 2.0 (at least several months after 3.0 was released)"
### Expected Behavior

Projects displaying pen should display the same now as they did in Scratch 2.0 and, indeed, the same as they originally did with Scratch 3.0

### Actual Behavior

The positioning or size of the pen seems to have altered when drawing lines

### Steps to Reproduce

Apologies for the worst reproduction ever. Use this project (https://scratch.mit.edu/projects/360544527/), select

[2020-11-04 15:38] #2671 closed, assigned to nobody

[2020-11-04 15:38] RokCoder commented on #2671
Accidentally opened issue twice

[2020-11-05 19:01] BryceLTaylor commented on #2669
@RokCoder  Can you describe the performance impact?  What is that project supposed to be showing me?  What does it show you?

[2020-11-05 19:04] BryceLTaylor commented on #2670
@RokCoder can you share a screenshot of what you're seeing?  It's either too subtle for me to notice or I'm not experiencing the same thing you are on my computer.

[2020-11-05 23:19] RokCoder commented on #2670
![Screenshot 2020-11-05 at 23 12 31](https://user-images.githubusercontent.com/20208339/98307059-e1f25580-1fbc-11eb-8b0c-bbe8416e0d09.png)

This is a screenshot taking on a MacBookPro (Chrome) after starting a "Just Driving" game without accelerating at all. Notice the green line across the track and all the black lines on the side above that. Originally these artefacts were not present. There sho

[2020-11-05 23:34] RokCoder commented on #2669
<img width="483" alt="Screenshot 2020-11-05 at 23 28 21" src="https://user-images.githubusercontent.com/20208339/98307924-d3a53900-1fbe-11eb-8082-b6d5c9f97691.png">
It is expected that the animation should run at 30fps when updating the sprite's x coordinate in a non-refresh loop the same as it does when updating a variable in a non-refresh loop. This was the outcome in Scratch 2.0 and in the earl

[2020-11-06 08:22] RokCoder commented on #2669
It's also worth noting the comment from @kriblo -

"Out of curiosity, I ran a quick test to see how other sprite-appearance-altering blocks would fare... For instance, setting the size of the sprite to a random number between 99 and 101, 2000 times each iteration, in a non-refresh block, yields a result similar to when updating a variable (around 10 seconds)."

I also noted that the performance re

[2020-11-06 08:53] apple502j commented on #2669
Doesn't seem to be able to repro on Firefox 82, both are around 10sec

[2020-11-06 10:53] RokCoder commented on #2669
That is interesting! I just tested on Safari and it doesn't repro there either. It has a large impact in Chrome though.

[2020-11-06 11:11] kriblo commented on #2669
I tested it on Edge version 86.0.622.63 and it doesn't repro. My Windows Chrome version, were this issue is obvious, is 86.0.4240.183.

[2020-11-06 11:41] RokCoder commented on #2669
So it seems Chrome specific (also apparent on MBP Chrome Version 86.0.4240.75). Hopefully this is something that can be addressed as it's unfortunately not a nominal performance degradation.

[2020-11-06 22:21] DabDatBass commented on #2165
`<[foo] contains [Special Character v]?>`

*necroposts*

[2020-11-07 11:00] crouse12 opened #2677 "How to change extension block color"
In the previous version, I can change the menu color. I can create the block like this.
![image](https://user-images.githubusercontent.com/25700616/98439188-18e67980-212b-11eb-8113-d81e3e9eb288.png)
However, I found that the new block extension only has color1 and color.
![image](https://user-images.githubusercontent.com/25700616/98439221-5ea34200-212b-11eb-9f63-aad3151308bb.png)
I cannot change t

[2020-11-07 11:10] apple502j commented on #2677
This is because there are two types of menu input. Previous default was that you can drop a block inside. Default value was changed so that it no longer accepts blocks by default. See documentation.

[2020-11-07 11:41] crouse12 commented on #2677
Thanks

[2020-11-07 12:06] crouse12 opened #2678 "Menu problem"
I'm building some blocks for scratch 3.0.
I want to have the following menu feature.
If one block's menu change selected option without clicking this block, the other block's menu items changed, too.
This menu feature is useful for microbit.
When we close microbit's led screen, we can use more pins.
I have try the dynamic menu.
However, it cannot do it.
May I know how to do it?

[2020-11-07 15:08] apple502j commented on #2678
Why not make two blocks, but make the other one non-functional?

[2020-11-08 06:00] crouse12 commented on #2678
Just want to have better function for my extensions.
In the following video, I use the dynamic menu.
However, it needs to click the first one block, and then the other block's menu items change.

https://www.youtube.com/watch?v=8_aH2U2AtA0&feature=youtu.be

[2020-11-09 15:32] GrahamSH-LLK commented on #2210
A political reason????????????

[2020-11-09 21:02] benjiwheeler opened #2682 "Don't call hasOwnProperty directly on our objects"
There was a recent security warning that warned against calling property functions on your own objects that you assume have been inherited from Object.prototype. E.g., don't do `obj1.hasOwnProperty(propName)`.

Instead, you can call the original function, e.g. `Object.prototype.hasOwnProperty.call(obj1, propName)`.

We should make this change in scratch-vm. There are something like 50-70 instances

[2020-11-09 21:04] benjiwheeler commented on #2682
Try updating package-lock:

[code]

...then running the linter.

[2020-11-10 02:34] apple502j commented on #2682
While this does not result in a severe problem if used only in client-side (you can just reload), crash is still a problem. "Prototype pollution" in these days are more severe than "using hasOwnProperty" but they are not the same thing.

<details><summary>What is Prototype Pollution?</summary>
Prototype pollution is a way of directly modifying Object.prototypes, so that any mitigations (besides fr

[2020-11-10 18:17] benjiwheeler commented on #2682
Thanks @apple502j, but I don't quite follow your point -- what are you suggesting we do? Or are you just pointing out that this change alone does not address the deeper problem?

[2020-11-10 18:33] benjiwheeler commented on #2577
This combination means "when it happens it's bad, but it seldom happens".

[2020-11-10 18:34] benjiwheeler commented on #2577
@apple502j Do you have repro steps? I don't totally understand what the problem is.

[2020-11-10 20:03] adroitwhiz commented on #2577
Create a custom block named `hasOwnProperty`, then run it:

![image](https://user-images.githubusercontent.com/25993062/98727263-ac0af380-2365-11eb-9176-cdb156e6588c.png)

The VM will silently crash and the console will become filled with errors.

[2020-11-10 23:10] apple502j commented on #2682
Those crashes are rare and is not something we need to fix ASAP. It's still nice to bump dependencies though.

[2020-11-12 19:49] #2677 closed, assigned to nobody

[2020-11-12 21:56] BryceLTaylor commented on #2678
We do not support blocks being affected by the state of another block.

[2020-11-12 21:56] #2678 closed, assigned to nobody

[2020-11-17 09:46] RokCoder opened #2696 "Clicking on arithmetic expression yields different result to watcher"
### Expected Behavior

Clicking on arithmetic expression or variable should display same result as watcher

### Actual Behavior

![image](https://user-images.githubusercontent.com/20208339/99398363-3a3e2700-28dc-11eb-9b52-967e563bc557.png)

![image](https://user-images.githubusercontent.com/20208339/99398421-4cb86080-28dc-11eb-86c5-00646ffb17c6.png)

### Steps to Reproduce

Enter expression as abo

[2020-11-17 09:47] RokCoder commented on #2696
Possibly related to https://github.com/LLK/scratch-vm/issues/1484 ?

[2020-11-17 09:48] adroitwhiz commented on #2696
See also https://github.com/LLK/scratch-vm/issues/2342

[2020-11-17 20:17] RokCoder commented on #2670
Checking the project today the issue seems to have been resolved. I haven't closed this ticket because I'm curious as to which recent commit that might have fixed this? https://github.com/LLK/scratch-vm/pull/2203 ?

[2020-11-17 20:24] RokCoder commented on #2669
This issue now appears to have been fixed. Is this a result of https://github.com/LLK/scratch-vm/pull/2203?

[2020-11-19 02:25] pyericz opened #2703 "Missing return value from `makeMessageContextForTarget`."
The following `makeMessageContextForTarget` method in `engine/runtime.js` has no return value.

[code]

The `context` should be returned. Here is a fixed version

[code]

[2020-11-19 19:43] BryceLTaylor commented on #2703
@pyericz can you describe what a user experiences when this issue is encountered?

[2020-11-20 03:25] pyericz commented on #2703
Well, I think that depends on how to design an extension. The `context` is used for making target-specific message, which means that your extension has to be target-specific. Besides, the context is usable only in `maybeFormatMessage` function, where the first parameter `maybeMessage` has to be an object which contains `id` and `default` fields. All of those strict restrictions make it hard to pro

[2020-12-02 12:38] ssavas06 opened #2735 "scratch mobile bluetooth connection"
I want to make an scratch based mobil app. Firstly I will build scratch-gui and then make it an mobile app with Cordova.
How can I use scratch-vm bluetooth librarie (scratch-vm\src\io\bt.js)
I can use it on pc and connect an ardunio. But It wants scratch link when I run it on an android tablet.

[2020-12-08 16:39] apple502j commented on #2357
Duplicate of LLK/scratch-gui#2931

[2020-12-08 16:39] #2357 closed, assigned to nobody

[2020-12-16 13:01] Tom-cy commented on #937
anyone know what hell

[2020-12-17 20:41] BryceLTaylor commented on #2670
Since it seems to be fixed, I am going to close this issue.

[2020-12-17 20:41] #2670 closed, assigned to nobody

[2020-12-17 21:00] BryceLTaylor commented on #2669
Since it appears to have been fixed, I'm closing this issue.

[2020-12-17 21:00] #2669 closed, assigned to nobody

[2020-12-20 06:27] crouse12 opened #2765 "Ip camera"
Hi there,
Video sensing can show usb camera video. Is it possible to show  IP camera video?
Thanks a lot for a hint.

[2020-12-22 18:54] soumitya0 opened #2772 "add onClick Event on FieldDropdown"
[Check this Image
](https://res.cloudinary.com/dx7a4fyl4/image/upload/v1608662512/blocklyBLOCK_ky59od.png)
**QUERY**: add onClick Event on FieldDropdown  (check the above image)  **RED DropDown**

**AIM**:  When I click the Red FieldDropdown, onClick event call and perform some action.

**CODE**:

      getInfo() {
      return {
            id: "soft",
            name: "soft",
            blocks

[2020-12-25 03:29] BrightLin opened #2776 "'if' and 'if-else' condition block run on loop when reject into start branch."
the program cannot stop.  see pictures below:
![image](https://user-images.githubusercontent.com/15828392/103117149-21c3e800-46a4-11eb-9bab-6945286c5f75.png)

modified the motion opcode:
![image](https://user-images.githubusercontent.com/15828392/103116982-64d18b80-46a3-11eb-8f33-7fc1c2522e11.png)

why set thread status to running when reject?
![image](https://user-images.githubusercontent.com/158

[2020-12-25 14:24] apple502j commented on #2776
Promises returned should never reject.

[2020-12-29 05:06] soumitya0 commented on #2772
In scratch-vm floder

`src/virtual-machine.js`

blockListener() lineNo: 1264

    `  blockListener(e) {
        this.BISOFT_TERN.ALL_PORTS_MENU(e.newValue);
        console.log(e);
        this.Block.deleteBlock(e.blockId);
        if (this.editingTarget) {
            this.editingTarget.blocks.blocklyListen(e);
        }
    }`

whenever any event occurred in workSpace  this method will call

so

[2021-01-05 18:34] BryceLTaylor commented on #2776
@BrightLin Can you provide reproduction steps?  Can you get this to happen in the current scratch editor?

[2021-01-07 19:01] ericrosenbaum commented on #2765
You would need to make the IP camera show up as a webcam, which web browsers (I think) do not generally support.

As a workaround, you might be able to use software that can create a "virtual camera" from another input, such as OBS. It's a bit complex to set up. But then you would be able to select that virtual camera from the browser, and Scratch would use it for video sensing.

Please re-open th

[2021-01-07 19:01] #2765 closed, assigned to nobody

[2021-01-07 22:07] #2772 closed, assigned to nobody

[2021-01-08 01:15] crouse12 opened #2799 "Put ipcam mjpeg stream on scratch"
I find p5.js, opencv.js and some libraries can read ipcam mjpeg stream.
https://discourse.processing.org/t/show-webcam-stream/1337/7
Does anyone know how to put ipcam mjpeg stream on scratch using p5 for video sensing?
Or
Does anyone know how to upload backdrop by using an extension block?

[2021-01-11 03:16] JimEverest opened #2805 "Question: Why does the micro:bit extension have to route to Scratch link instead of using web-bluetooth-api directly?"
I am confused with the micro:bit extension for why does it have to route to Scratch link instead of using web-bluetooth-api? I think most OS/Browser have released the capability to allow the Web Bluetooth API communicates with BLE devices directly.

I am not sure if this is the right place to came up this question, Sorry if I am doing it not right, thanks.

[2021-01-11 05:26] apple502j commented on #2805
Not every browser supports WebBluetooth. Safari said no IIRC and Firefox does not.
Reminder: If it doesn't work on Firefox 57, we don't use.

[2021-01-12 10:17] Topppy commented on #2260
Same problem. Could you describe the reason please? Thanks @linushp

[2021-01-14 20:55] cwillisf commented on #2805
Indeed: when we started implementing this stuff, no browsers fully supported Web Bluetooth yet as it was still experimental. As @apple502j mentioned, even now some of the browsers we support don't have Web Bluetooth support and it's unclear whether or not they will implement it any time soon.

In theory we could use Web Bluetooth in those cases where it's supported and fall back onto Scratch Link

[2021-01-14 20:55] #2805 closed, assigned to nobody

[2021-01-21 18:45] ericrosenbaum commented on #2799
See my previous answer for a possible workaround: https://github.com/LLK/scratch-vm/issues/2765

[2021-01-23 20:21] towerofnix opened #2834 "(Feature Request) Better sprite communication: "Broadcast and wait" should run instantaneously inside no-refresh custom blocks"
(This is a feature request.)

Since the introduction of custom blocks in Scratch 2.0, "run without screen refresh" custom blocks have had a strange "edge case" behavior revealing awkward internals of the Scratch programming language. It's easy to demonstrate, as in the below script:

![demo-run-without-screen-refresh](https://user-images.githubusercontent.com/9948030/105612603-b4cf6b00-5d93-11eb-9

[2021-01-23 22:41] apple502j commented on #2834
Questions:
- does it work with "switch backdrop to and wait" too?
- what if the broadcast yields? (the "freezing" occurs because of Scratch's strange behavior with yield.)
- what if the broadcast spawns a new broadcast?

[2021-01-23 23:30] towerofnix commented on #2834
Makes sense to, yeah! I forgot about that block but yes, it would make sense to implement that too.

Keeping the code relatively general (to support both "and wait" blocks) would be a good thing to keep in mind while writing an implementation.

The broadcast would be run like an extension of the blocks in the run-without-screen-refresh: a "repeat 10" would be the same as repeat 10 regularly behave

[2021-01-23 23:57] crouse12 commented on #2799
I know.
However, I want to do it directly.
Scratch 3.0 can upload image to scratch stage, so i think we can put ipcam stream to scratch stage by using ml5 or opencv.js.
Do you know how to do it?

[2021-01-26 15:45] ggenije opened #2839 "JSON maximum size"
I don't know is this place for asking this , but anyways...

The maximum size of JSON in .sb3 is 5MB, is there a particular reason for that, why it's not 10 MB for example.
The 5MB is too small,
Also we know that assets can occupy much more server space , so that isn't the problem.

Also is there a chance for increasing it?

[2021-01-28 20:56] rschamp commented on #2839
We need some limit, and based on our analysis the current limit is sufficient for the vast majority of projects. We may consider increasing it in the future but aren't immediately planning to.

[2021-01-28 20:56] #2839 closed, assigned to rschamp

[2021-01-30 00:11] pawelbura commented on #2210
@knandersen please take a look at @apfeuti answer - this is so true, there is no need to get rid of distance sensor as it give much more possibilities to Scratch

@apfeuti thanks for this PR, I'll try to build Scratch project locally to test it, but I agree that it should be possible out of the box in Scratch

[2021-01-30 00:29] pawelbura commented on #2651
@SunnyChen-T I support that.
This sensor is so needed!

[2021-01-30 00:55] towerofnix commented on #2834
In case this issue gets prioritized or reviewed sooner or later, here's a sketch of the implementation details.

1. **API:**
    * The API for starting hat blocks, used by [`broadcastAndWait`](https://github.com/LLK/scratch-vm/blob/93780400cd05ce9da2c081ac0f3c96fbb6a5af01/src/blocks/scratch3_event.js#L92-L134) and [`switchBackdropAndWait`](https://github.com/LLK/scratch-vm/blob/93780400cd05ce9da2c

[2021-01-30 01:38] PullJosh commented on #2834
Absolutely brilliant! 😃 I would love to see this added to Scratch. Replace a buggy behavior with an intuitive and useful one that enables Scratchers to learn more about programming. I see no downside (other than the implementation effort).

[2021-01-30 17:01] pawelbura commented on #2651
And PR is ready, the only thing to accept it.
I've tested PR by @apfeuti #2299 and it works. Changes only on 1 file responsible for Lego Boost. And distance sensor works!

[2021-01-31 00:26] apple502j commented on #2651
Note that the reason of the rejection - "smallest block palette" - does not make sense. **Extensions are made to make block palette smaller** and expand them later. This is why you removed Pen from the default palette. This is just Scratch Team not wanting to add any blocks because "it's one more block", and is not a good design choice.

[2021-01-31 02:34] SunnyChen-T commented on #2651
Sorry I don't get the point. From a WiFi/BT IC designer's point of view, if essential features are not supported, neither Scratch nor LEGO could claim LEGO BOOST supported in Scratch. People think it is deceiving when they bought the product  and realized something not working as claimed after lots of time and effort. Obviously the decision making was terribly wrong. My kid's project was died anyw

[2021-01-31 10:09] apfeuti commented on #2210
You're welcome. Nice to see that other enthusiasts can use my distance-extension. I'm still hoping that the Scratch-Team will rethink their decision and support distance-sensor for Lego Boost in the near future - because it's so a fundamental feature for any robot.

[2021-02-02 02:47] JimEverest commented on #2805
Yah, it makes sense. Thanks for your explain, @cwillisf !

[2021-02-02 18:42] rschamp opened #2851 "Preserve project json metadata: `meta.origin`"
A project saved with an `origin` key in the `meta` section of the JSON should preserve the value when saved. Currently it's removed.

Don't create a default for this value. It should just be preserved if it's present.

(For CSFirst version of Scratch)

[2021-02-02 18:51] apple502j commented on #2851
Listing stuff
- [ ] runtime should hold the origin - perhaps `runtime.projectOrigin` ?
- [ ] runtime should clear it when it's disposed
- [ ] serialization/sb3.js should set the runtime attr and serialize the runtime attr
- [ ] add origin to scratch-parser

[2021-02-03 14:11] RokCoder opened #2852 "Intermittent "Something went wrong" message could offer more detail (Project ID: 339207237)"
### Expected Behavior

Project should load or, at least, exit gracefully

### Actual Behavior

Project usually brings up the "something went wrong" message at least once

![image](https://user-images.githubusercontent.com/20208339/106757449-4195e680-6628-11eb-9e30-65242090cff8.png)

This project contains a LOT of assets so is likely related to that but any loading issue should be trapped and displ

[2021-02-04 12:09] mikesk8 commented on #2210
I have recently got Boost and wanted to move beyond basic app programming and start using Scratch. However, a distance sensor is a core and fun feature. Without it we are loosing a lot from this Lego set. Would be amazing to get it!

[2021-02-04 12:14] mikesk8 commented on #2651
This sensor is a fundamental part of Boost. Without it the whole Lego set loses 50% of fun. If this is already done, what is the problem statement of not adding it? My understanding of Scratch Boost support was to support it and not limit half of its features.

[2021-02-04 21:30] BryceLTaylor commented on #2852
Duplicate of https://github.com/LLK/scratch-gui/issues/5844

[2021-02-04 21:30] #2852 closed, assigned to nobody

[2021-02-05 15:49] apple502j opened #2863 "How "sandboxed" should sandboxed extensions be?"
Currently, scratch-vm supports loading non-builtin extensions, and they are sandboxed in a Worker. However, it is not obvious how sandboxed they are intended to be.

Specifically:
- What function can the worker invoke? e.g. `Runtime.emit`, `Runtime.startHats`, etc
- Should they be able to use functionality intended for "core"/e16n extensions?
- Should they be able to control the Blockly XML?

[2021-02-12 07:04] apple502j opened #2873 "Consider loading sounds files as static files instead of embedding"
Currently, sound files are embedded in the JavaScript file, and accounts for around 10% of scratch-gui bundle. Serving them as static files could reduce bundle size and allow sounds to be cached for more than a week (or whatever Scratch's deployment cycle is)

[2021-02-12 16:24] apple502j opened #2879 "What should happen to disposed targets when the block is running as a promise?"
Title explains most stuff.

There are several promise blocks that delay the execution of the block (instead of using it as a substitute for util.yield or requestRedraw):

- say/think for secs
- ask and wait
- start sound until done
- TTS
- peripheral blocks

Luckily, none of the blocks crash if the target is disposed while the block is running as a promise. However, this is easy to introduce (Scra

[2021-02-14 18:43] MarkKocherovsky opened #2880 "Custom extension not appearing in block choices"
I'm trying to make a test extension for Scratch 3.0. My code in ``scratch-vm/src/extensions/scratch3_testextension/index.js`` is as follows:

[code]

This is copied from the text2speech extension and changed to just have one block that moves a sprite 10 steps.

I included the following code in ``scratch-gui\src\lib\libraries\extensions\index.jsx``

[code]
The extension does appear in the extension

[2021-02-15 00:25] apple502j commented on #2880
By default, extensions are not loaded unless you click that on the extension library.

[2021-02-15 13:38] MarkKocherovsky commented on #2880
That's what I was doing.

[2021-02-15 13:56] apple502j commented on #2880
Is extension-manager.js (on VM) modified?

[2021-02-18 16:16] MarkKocherovsky commented on #2880
I've got this

[code]
This still isn't working correctly.

[2021-02-18 16:28] ericrosenbaum commented on #2880
Sorry you're having trouble. Another thing to check is whether you have correctly linked the GUI to your local version of VM. There are instructions for doing that in the readme on the GUI repo.

[2021-02-18 17:04] MarkKocherovsky commented on #2880
I've ran the instructions as given [here](https://github.com/LLK/scratch-gui/wiki/Getting-Started#example-scratch-gui-vm-and-blocks-linked%5D(https://github.com/LLK/scratch-gui/wiki/Getting-Started#example-scratch-gui-vm-and-blocks-linked)). I went and used the instructions [here as you suggested](https://github.com/LLK/scratch-gui/blob/develop/README.md#developing-alongside-other-scratch-reposito

[2021-02-18 17:09] ericrosenbaum commented on #2880
can you share any errors you're getting in the console when you try to load the extension?

[2021-02-18 18:01] MarkKocherovsky commented on #2880
It's not giving me any errors.

I've got a ``scratch-vm/src/extensions/scratch3_testextension/index.js`` file, and I've edited ``scratch-gui\src\lib\libraries\extensions\index.jsx`` and ``scratch-vm/src/extension_support/extension_manager.js``. Perhaps I'm missing a component?

[2021-02-18 18:30] ericrosenbaum commented on #2880
Based on what you've described I can't think of something that would be going wrong that would not produce an error in the web browser's javascript console. Are you sure there's no error there?

One way to verify that the linking process has worked is to look at the relevant directory in your operating system. So you'll need to navigate to the scratch-gui folder, open the node_modules folder, and

[2021-02-18 18:33] ericrosenbaum commented on #2879
Thanks for noting the bug in Scratch Lab- I've filed that one in the Scratch Lab repo

[2021-02-18 18:36] apple502j opened #2890 "Remove nets and use native fetch"
scratch-vm uses `nets` to fetch remote resources. However, all supported browsers support `fetch`, and there is no reason to add `nets` (besides [causing issues with Scratch Desktop](https://github.com/LLK/scratch-desktop/issues/157).)

Just like scratch-storage, nets should be removed and native `fetch()` should be used. If Node support is required for unittests, we can probably add `node-fetch`

[2021-02-18 19:08] MarkKocherovsky commented on #2880
I thought you meant the ubuntu console; the browser console returns the following errors:

[code]
[code]
[code]

index.js:74 is ``Scratch.extensions.register(new Scratch3TestExtensionBlocks);`` which is the name of the class.

[2021-02-18 19:14] apple502j commented on #2880
You are making "unsandboxed" extension, which does not have Scratch global. You add extension by exporting a class.

To load sandboxed extension, `extensionId` in scratch-gui needs to be URL, iirc. You currently cannot save projects with sandboxed extensions (they won't be serialized)

[2021-02-18 19:15] MarkKocherovsky commented on #2880
So what should I use instead of that line?

[2021-02-18 19:17] apple502j commented on #2880
Unsandboxed extension: `module.exports = (class that implements the extension)`
Sandboxed extension: on GUI, make `extensionId` actual URL that leads to the extension file.

Currently there is no pros for using sandboxed extension if you are modding yourself.

[2021-02-18 19:50] MarkKocherovsky commented on #2880
Alright, it is working now. I also had to remove ``filter: [TargetType.SPRITE]`` in the block.

![image](https://user-images.githubusercontent.com/67556945/108412877-5497e180-71f8-11eb-9e84-3085add2c8af.png)

It is not yet localized; it is meant to move the sprite 10 steps.

However, I am now getting the following error when I try and run the program:

[code]

which corresponds to

[code]
The spri

[2021-02-18 19:51] apple502j commented on #2880
`testMove(_, util)`?

[2021-02-18 19:53] MarkKocherovsky commented on #2880
I mean in my blocks code:

[code]

[2021-02-18 19:57] MarkKocherovsky commented on #2880
This is working! Thanks very much to everyone for their help!

![image](https://user-images.githubusercontent.com/67556945/108415644-cfaec700-71fb-11eb-829a-b07fec07ec4f.png)

[2021-02-18 20:13] #2880 closed, assigned to nobody

[2021-02-18 21:38] rschamp commented on #2890
Which browsers were you considering as supported?

[2021-02-18 21:45] adroitwhiz commented on #2890
The ones listed on the [FAQ page](https://scratch.mit.edu/info/faq):

The [MDN page for the Fetch API](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API#browser_compatibility) lists all those browsers as supporting it:
![image](https://user-images.githubusercontent.com/25993062/108425569-a0eb1d80-7208-11eb-86d7-f8b55d03acaf.png)

[2021-02-18 21:48] adroitwhiz commented on #2890
Note that I [already removed `nets` from `scratch-storage` last June](https://github.com/LLK/scratch-storage/pull/113), leaving only the Fetch API, and thus far nothing seems to have broken, so it should be fine to remove it here as well.

[2021-02-19 19:25] rschamp commented on #2890
Great, thanks!

[2021-02-21 04:30] hyansuper commented on #2223
https://github.com/LLK/scratch-vm/blob/develop/docs/extensions.md this instruction tells about dynamic menu, have you tried that?@kruncher

[2021-02-28 19:11] MarkKocherovsky opened #2914 "Uncaught DOMException when importing tf models"
I'm trying to import a tensorflow model into my scratch extension using the instructions [here](https://github.com/googlecreativelab/teachablemachine-community/blob/master/libraries/image/README.md). Here is my code:

[code]

``toggleVideo`` is currently unused. When I load the extension in scratch, the console returns the following error (and the block does not appear): ``Uncaught (in promise) DO

[2021-03-01 02:42] Kouzeru commented on #2198
The faster way instead of doing some type conversion is by using Math.round(value*10e15)/10e15

Its also preferable to have 15 precision digits instead of 10 digits to make the accurate calculations upon complex projects, while still retaining correct behavior of producing correct result having sin(360*n)

[2021-03-01 05:17] apple502j commented on #2914
You are writing a "sandboxed extension" which does not have access to DOM.

[2021-03-01 14:16] MarkKocherovsky commented on #2914
That matches what I've found online. Is there a way to do what I'm trying to do with a sandboxed extension, or should I unsandbox it? If so, how would I go about it?

[2021-03-01 14:34] apple502j commented on #2914
Sandboxed extensions cannot access most of the APIs - I mean, you can do calculations and fetch() calls but that's it - you can't access runtime or camera.

"Unsandboxed extension" is just "modding Scratch". Clone scratch-gui and this repo, add files, and see how things work. (Files to check include src/lib/libraries/extensions/index.jsx on GUI and src/extensions/extension-manager.js on VM, the so

[2021-03-01 17:14] MarkKocherovsky commented on #2914
So, as I understand, I should just create a github repo and push my ``index.jsx`` and this index.js to it, and then call the github url in my local ``extension-manager``?

[2021-03-02 01:13] apple502j commented on #2914
No. You have to clone this repo & scratch-gui then mod them (basically do what other extensions do)

[2021-03-02 01:35] MarkKocherovsky commented on #2914
I'm not sure I understand; That's what I was already doing when I got this error.

[2021-03-02 01:36] apple502j commented on #2914
You have to include the extension itself in the clone. You can't load from URL.

[2021-03-02 01:55] MarkKocherovsky commented on #2914
That's already what I'm doing. I have the following files made or edited on my local build: ``scratch-vm/src/extensions/scratch3_palmreader/index.js``, ``scratch-vm/src/extension-manager/index.jsx``, and ``Scratch-gui\src\lib\libraries\extensions\index.jsx``.

The extension appears in the menu in localhost:8061, but loading it returns the error in the original post.

I just want to know how I can

[2021-03-02 02:26] apple502j commented on #2914
importScripts should never be called. Are you sure you modified `extension-manager` to load the extension from the clone?

[2021-03-02 16:01] MarkKocherovsky commented on #2914
This is what I have:

[code]

Right, now, I am trying to work with ``PalmReader``.

[2021-03-03 00:08] apple502j commented on #2914
What is in index.jsx then?

[2021-03-03 14:51] MarkKocherovsky commented on #2914
[code]

[2021-03-03 15:23] apple502j commented on #2914
Hmm, not sure why it's not working. If you put console.log in random places in extension-manager, do they fire? (could be npm link issue)

[2021-03-03 19:30] KaeroDot commented on #2210
@knandersen: "we wanted the smallest block palette" That is a lousy explanation. The basic Scratch got more than 100 blocks. Number of atomic programming blocks in the Lego boost android software is 78. There is more than 100 other specialized blocks. The actual Lego boost for scratch got only 12 blocks. The possibility to change the light on the boost hub is implemented, albeit not so important f

[2021-03-03 19:51] MarkKocherovsky commented on #2914
They do not return anything. If this is an npm link issue, what would be best way of checking?

[2021-03-04 02:07] apple502j commented on #2914
Okay, let's redo linking.

1) Run `npm install` on both clones
2) Run `npm link` on VM
3) Run `npm link scratch-vm` on GUI

[2021-03-04 02:22] MarkKocherovsky commented on #2914
I've done this and am getting an error, but it's possible I may have broken it. I accidentally ran ``npm link`` in GUI instead of ``npm link scratch-vm`` and it became stuck, so I cancelled the command and continued as normally. Now, when I run ``npm start``, I get this error:

[code]

I have also tried ``npm install import-local``, which did not fix the error.

[2021-03-04 05:20] apple502j commented on #2914
Try deleting node_modules on both then do it again.

[2021-03-04 07:26] adroitwhiz opened #2925 "Block caching/optimization tech debt"
### Expected Behavior

The codebase should be easy to understand, and should not contain any dead code

### Actual Behavior

The 2017-2018 optimization work done across many PRs to speed up block execution has introduced a lot of technical debt into the codebase. There's a lot of dead code of the worst kind: code where you really have to think about whether it's *really* dead. This increases the m

[2021-03-04 16:02] MarkKocherovsky commented on #2914
Alright, the DOM exception is gone (I think), meaning that it was a link problem. However, I've now got this error: ``lib.min.js:411104 Uncaught TypeError: Cannot assign to read only property 'exports' of object '#<Object>'" with the line ``module.exports = Scratch3PalmReaderBlocks;``. Presumably, I should replace that with code for an "unsandboxed" extension?

[2021-03-04 16:25] ericrosenbaum commented on #2210
Hi @KaeroDot this is just a reminder to follow our [community guidelines](https://github.com/LLK/scratch-www/wiki/Community-Guidelines) on Scratch repositories. Just like on the Scratch community, we care about making our repos constructive and respectful.

The Scratch team and our many community contributors work very hard to make the experience of programming Scratch as wonderful as we can. We a

[2021-03-04 20:07] apple502j commented on #2914
@MarkKocherovsky That line is correct, but there are some more that I pointed out:

- You need to use CJS require not ESM
- Async function is not supported in this repo, use Promise

[2021-03-05 01:47] fleXible commented on #2651
Today was first time I tried Lego Scratch after finding it by chance by reference from a Python library. My first impression was total suprise to be able to program my Boost from laptop.
But I just spent the last hour looking for all the blocks I know from the iPad Boost App, just to realize most of them are not available.

Honestly, I do understand focusing on the most essential blocks first. But

[2021-03-05 15:50] MarkKocherovsky commented on #2914
I've fixed the CJS and ESM, but I'm having a bit of trouble with my Promise function:

[code]
This returns ``Uncaught (in promise) TypeError: model.getTotalClasses is not a function``. It also does this outside of the promise. If this isn't a general problem with my JS, then I can ask in the tensorflow repo instead.

[2021-03-05 15:56] dalelane commented on #2914
I think it's because `tmImage.load(modelUrl, metadataUrl);` returns a promise, not a model.
[code]

[2021-03-05 16:04] dalelane commented on #2914
I think creating promises is over-complicating it a little. If I was you, I would rewrite your original code:

[code]

as something more like this:

[code]

(and btw, I think that last `return` is important, because you don't want the invocation of your block to complete until the promise resolves, otherwise Scratch will immediately do to the next code block in your script, potentially before the

[2021-03-05 18:30] MarkKocherovsky commented on #2914
That seems to be working without error. I'd like to thank @dalelane and @apple502j for their help!

[2021-03-05 18:31] #2914 closed, assigned to nobody

[2021-03-07 20:32] adroitwhiz opened #2933 "Incorrect documentation for handleReport"
### Expected Behavior

The codebase's documentation should be correct

### Actual Behavior

The documentation for `handleReport` has gotten out of sync with the actual method signature, and ESLint didn't catch it because of a comment placed between the JSDoc comment and the method definition.

[2021-03-07 21:19] adroitwhiz opened #2935 "Spurious log output during tests"
### Expected Behavior

Logging during tests should be kept minimal to make it easy to spot where and how tests fail.

### Actual Behavior

There are ~~four~~ five different kinds of spurious log warnings that flood the console, making it nigh impossible to look through:

`storage warn Deprecation: Storage.addWebSource has been replaced by addWebStore.`

`[DEP0005] DeprecationWarning: Buffer() is d

[2021-03-08 17:57] adroitwhiz opened #2944 "Make the Makey Makey "when key pressed" block into an event block"
### Expected Behavior

The Makey Makey extension's "when key pressed" block should function like the one in the Events category--it should fire immediately when you press a key, and match the key-repetition behavior of the host system (i.e. if you hold down a key, it will fire once, then after a short delay, begin firing repeatedly).

### Actual Behavior

The Makey Makey "when key pressed" block i

[2021-03-08 19:10] #2890 closed, assigned to nobody

[2021-03-10 17:21] MarkKocherovsky opened #2958 "Uncaught reference to defined model within extension class."
I'm trying to use predict() to return predictions from my tensorflow model. within a scratch extension My code is as follows:

[code]

``model`` and ``maxPredictions`` are global variables defined by ``let model, labelContainer, maxPredictions;``. However, when I run my code, getXCoord throws the following error: ``Uncaught TypeError: Cannot read property 'predict' of undefined``.

If I try the fo

[2021-03-10 17:24] adroitwhiz commented on #2958
Try `this.importModel()`

[2021-03-10 17:40] dalelane commented on #2958
I think there are a couple of problems here:

1) the `importModel` function isn't returning a model object.
Currently it's returning a promise that resolves to nothing. If you want to return the model, you need to add a `return model` in your final `then` method.
e.g.
[code]

2) the `importModel` function is asynchronous
The `model` variable in your `getXCoord` function is a promise. That means th

[2021-03-12 19:01] MarkKocherovsky commented on #2958
Alright, that's working, but I'm now getting this error:

``index.js:120 Uncaught (in promise) TypeError: Cannot read property 'renderer' of undefined``

[code]

[2021-03-14 00:26] MarkKocherovsky commented on #2958
Alright, that's working, but I'm now getting this error:

``index.js:120 Uncaught (in promise) TypeError: Cannot read property 'renderer' of undefined``

[code]

[2021-03-14 01:03] adroitwhiz commented on #2958
[In JavaScript, anonymous functions (like the one in your promise callback) bind the `this` value to `window`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/this).

If you want `this` to refer to the extension class, you need to use an [arrow function](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions), which does not bind `th

[2021-03-14 01:05] adroitwhiz commented on #2958
(While the bug lies in code provided by @dalelane, and JavaScript's behavior here is definitely confusing, this seems to be veering off of "help interfacing with the scratch-vm API" into "help understanding how JavaScript works in general"--are there others at LTU who may be able to better assist you?)

[2021-03-14 13:13] towerofnix commented on #2331
One place this has come up in the wild for me is this "minimalist categories" platformer project I made (based off of other people's different approaches): https://scratch.mit.edu/projects/413336108/

It's a little misleading for the music extension to show up below the project when I don't actually use any music blocks! :)

I left a note in the Notes and Credits about this...

...but I think some

[2021-03-14 14:37] apple502j commented on #2331
@towerofnix Okay gonna write a quick fix

[2021-03-15 18:01] MarkKocherovsky commented on #2958
As I understood, part of the issue is in my call to the webcam through scratch, so I figured this would be the best place about that. I'm using code from the video sensing extension, but I'm getting ``Uncaught (in promise) ReferenceError: target is not defined``. in the line ``const prediction = model.predict(this.runtime.renderer._allDrawables[target.drawableID]);``, where the argument in predict

[2021-03-15 18:09] adroitwhiz commented on #2958
The error is indeed correct-- the `target` variable is not defined. Look a bit closer at the function you copy-pasted the code from, and the functions which call it.

[2021-03-15 18:28] MarkKocherovsky commented on #2958
Alright, I've got this:
[code]
``util`` is still undefined, but I'm not sure where it's defined in the first place, based on the other extensions. Do I need to pass ``args, util`` and leave the arguments empty?

[2021-03-15 18:43] adroitwhiz commented on #2958
In JavaScript, function arguments are passed by position--it doesn't matter what you name them. So yes, the first argument, which you've named "util", will be what other blocks name `args`. You need the function signature to be `args, util`.

Note that this will only work if `getXCoord` is a function corresponding to a block. If `getXCoord` is a utility function called by *other* block functions,

[2021-03-15 18:57] MarkKocherovsky commented on #2958
Alright, the function is nearly working. I'm still getting a JS error, but I'm not sure it's due to Scratch. Again, I'd like to thank everyone for their assistance; it means a lot to me!

[2021-03-15 18:57] #2958 closed, assigned to nobody

[2021-03-16 20:59] fsih opened #2969 "Playground not working?"
### Expected Behavior
Playground runs projects

### Actual Behavior
Pressing run doesn't seem to do anything
Here are the console errors
<img width="328" alt="Screen Shot 2021-03-16 at 16 58 08" src="https://user-images.githubusercontent.com/2855464/111378922-e4567180-8678-11eb-8563-90a46804ed4d.png">

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *A

[2021-03-16 21:01] adroitwhiz commented on #2969
Try http://127.0.0.1:8073/playground/

EDIT: I think it's the trailing slash that does it

[2021-03-18 20:49] kchadha commented on #2969
@fsih Could you confirm what @adroitwhiz mentioned above and close this issue if it works?

[2021-03-22 16:25] KaeroDot commented on #2651
LEGO is officially supporting scratch through its The LEGO Foundation. Maybe if every one of us would write to the LEGO support, someone at LEGO would notice the missing feature?

[2021-03-23 20:55] fsih opened #2983 "Errors in scratch-vm travis build: in-publish not found"
### Expected Behavior
Scratch-vm should build

### Actual Behavior
We install a version of npm that is not compatible with our version of node on Travis, and it causes build errors
<img width="1011" alt="Screen Shot 2021-03-23 at 16 52 43" src="https://user-images.githubusercontent.com/2855464/112216788-4aeb0a80-8bf8-11eb-94f1-ce7044f28f6e.png">

See https://travis-ci.org/github/LLK/scratch-vm/job

[2021-03-23 21:08] cwillisf commented on #2983
Looking into this, it turns out it's because npm 7.7.0 no longer works with Node 8. We need to either stop building on Node 8, or stop installing `npm@latest`

[2021-03-23 21:23] #2983 closed, assigned to nobody

[2021-03-25 20:39] mxmou commented on #2944
The difference between the blocks is quite well known so removing it would change the behavior of existing projects that expect it.

[2021-03-28 20:40] MarkKocherovsky opened #2995 "Questions about global variables, scratch variables, and loops with variables"
I'm trying to import a tensorflow model to a global variable called ``model``, but I'm not sure exactly how to handle this, as it uses promises. This is my code so far, based on my research:

[code]
``importModel`` and ``getXCoord`` log ``model`` correctly, but then logs the following on repeat:

[code]

I'm also having difficulty using scratch loops with this method. If I use a repeat block, then

[2021-03-28 22:57] adroitwhiz commented on #2995
If I remember correctly, you can't use `async`/`await` syntax in `scratch-vm`. It looks like you're not `await`ing anything, so you don't need to make any of your functions `async`. Try removing the `async` keyword.

[2021-03-28 23:42] adroitwhiz commented on #2995
A second thing I just noticed: you need to return the promise so that the VM can wait for it to finish:

[code]

[2021-03-29 17:23] MarkKocherovsky commented on #2995
Alright, I have this code:

[code]
However, I still have three concerns:

1. The calculation itself is slower than I would like.
2. The result does not show in the variable display box, even though it is logged correctly:

![image](https://user-images.githubusercontent.com/67556945/112875155-cf72d880-9091-11eb-901c-407ab4cf2bac.png)

![image](https://user-images.githubusercontent.com/67556945/1128

[2021-03-29 17:43] adroitwhiz commented on #2995
You don't seem to understand how promises work. I had some trouble understanding them when I first learned about them as well. [This MDN tutorial](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Using_promises) may help out.

Essentially, a `Promise` represents a value that will be returned at some future point in time. When you call `.then` on a `Promise`, you are giving it a callba

[2021-03-29 17:46] adroitwhiz commented on #2995
As an aside, it looks like `createImageBitmap` is completely unnecessary. The "result" of `createImageBitmap` is passed in as the `webcamImage` variable, but you're immediately overwriting it here:

[code]

[2021-03-30 16:23] MarkKocherovsky commented on #2995
@adroitwhiz

Alright, this seems to be working fine:

![image](https://user-images.githubusercontent.com/67556945/113021199-576be780-9151-11eb-87a2-7d1cd9c71108.png)

![image](https://user-images.githubusercontent.com/67556945/113020601-bda43a80-9150-11eb-9d3f-75a0fb02c4e1.png)

![image](https://user-images.githubusercontent.com/67556945/113020626-c432b200-9150-11eb-99f1-cf449a8b85ca.png)

As a la

[2021-03-31 00:13] adroitwhiz commented on #2995
Yes, you should be able to use the [Fetch API](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API/Using_Fetch) to do this. Since this is an "unsandboxed" extension, you shouldn't run into any problems.

[2021-04-01 15:51] RokCoder opened #3008 "Altering sound effects (volume, pitch, etc) yields within non-refresh custom block"
### Expected Behavior

A custom block should never yield (other than when completing or timing out). I should be able to alter volume and pitch within a non-refresh block without incurring extra frames running. Because of this incorrect behaviour, complex sound effects cannot be implemented at present.

### Actual Behavior

Making a non-refresh custom block with multiple sound-altering blocks in i

[2021-04-01 16:52] apple502j commented on #3008
Duplicate of #2079

[2021-04-01 17:34] fsih commented on #2925
The triage team is having a hard time prioritizing this issue since it's a bit too broad. Can you make more specific issues for the PRs, e.g. "remove x dead code path" or "refactor y for clarity"?

[2021-04-01 17:34] #2925 closed, assigned to nobody

[2021-04-01 18:24] adroitwhiz commented on #2925
I didn't want to clutter up the issue tracker but I can. The issues will basically just be copies of the PR descriptions, though.

[2021-04-01 20:29] kchadha commented on #2079
Combining this issue with #3008

[2021-04-01 20:29] BryceLTaylor commented on #3008
Closing as duplicate

[2021-04-01 20:29] #3008 closed, assigned to nobody

[2021-04-01 20:39] fsih commented on #2969
Yup it works!

[2021-04-01 20:39] #2969 closed, assigned to nobody

[2021-04-01 22:36] fsih commented on #2925
I think that's ok

[2021-04-06 16:27] #2995 closed, assigned to nobody

[2021-04-06 16:59] MarkKocherovsky opened #3017 "localhost/:1 Uncaught (in promise) DOMException: Failed to execute 'importScripts' on 'WorkerGlobalScope': The script at 'http://localhost:8601/DSPMEL' failed to load."
I'm trying to make a new extension that would import a tensorflow model using a URL passed to an ``Import Model`` block by the user. However, I'm getting a ``localhost/:1 Uncaught (in promise) DOMException: Failed to execute 'importScripts' on 'WorkerGlobalScope': The script at 'http://localhost:8601/DSPMEL' failed to load.`` error upon import. A previous extension I did with similar code (the new

[2021-04-06 17:07] dalelane commented on #3017
The key bit in the error there for me is "Uncaught (in promise)".

Essentially, you have no error/exception handling. Something went wrong, an exception was thrown, but you haven't caught it.

If you catch your exceptions, you can debug them, or at least log them to give you a clue where the exception is coming from and what the cause of the error is.

[2021-04-06 17:12] dalelane commented on #3017
Looking at your code, you're still sort of mis-using promises in my opinion

For example:
[code]

That's a bit of a weird structure... I would do something more like this (but it's more a stylistic thing, perhaps - it just feels a bit convoluted the way you've got it above, with multiple `return`s).

[code]

This would then allow you to add error handling, as I said above

[code]

[2021-04-06 17:18] dalelane commented on #3017
Similarly your `getClass` method is structured in a way that makes error handling more complicated because of the way you're nesting/embedding your functions, and storing/reusing the `tmImage.load` promise.

Where you have:
[code]

Instead I would do:
[code]

[2021-04-06 17:18] MarkKocherovsky commented on #3017
That code is not actually running yet, because this error pops when the extension is selected.

[2021-04-06 17:22] dalelane commented on #3017
I think it's still worth fixing that, as the current code is a bit confusing because of the way that it reuses the `model` variable.

[code]

My general point, however, is - you have an uncaught exception. If you catch exceptions everywhere things can go wrong, you will be on a solid path to identifying the source of your bug.

[2021-04-06 17:25] dalelane commented on #3017
If you'd rather not do that, then I guess a workaround would be to put a debugger break-point at line 27 in here: https://github.com/LLK/scratch-vm/blob/d01f04bd3e1ad2596624dff24d6a30990a58a198/src/extension-support/extension-worker.js#L26-L28

And in the caught exception you might get a stack-trace or some more detail about the source of the error.

[2021-04-06 18:49] MarkKocherovsky commented on #3017
I've altered the code as you suggested, but the error has not changed. However, it has the following stack trace:

[code]
I've not had to deal with ``extension-library.jsx`` before; I'm not even able to find it.

[2021-04-06 19:21] apple502j commented on #3017
If your extension stops at importScript, you did the registration wrong as the code is meant to be executed "unsandboxed". It usually means `index.jsx` or `extension-manager.js` is wrong. This time it's a simple typo.

![image](https://user-images.githubusercontent.com/33279053/113766447-64dc2f80-9758-11eb-8a58-19c8db8b3d4c.png)

[2021-04-07 14:07] MarkKocherovsky commented on #3017
It was that simple, good job catching it.

[2021-04-07 14:07] #3017 closed, assigned to nobody

[2021-04-09 04:01] kotepillar opened #3018 "How to detect running blocks"
Hi, I am a programmer, I have some experience about refactoring scratch-gui: https://github.com/LLK/scratch-gui
Now, I want to make a auto learning test for some user, For example, I prompt the user use go-to-block to control a sprite to some position.
When user use go-to-block and click start button, the sprite move to the position.
Now I will tell the user that the work is done.

How to detect t

[2021-04-09 04:23] apple502j commented on #3018
You can either statically analyze the code (easy but sometimes yields wrong result) or analyze during execution (hard but reliable) - for the former, just check values of `target.blocks._blocks`, for the latter modify code in https://github.com/LLK/scratch-vm

[2021-04-09 07:41] kotepillar commented on #3018
Method1: check target.blocks._blocks
I can listen scratch-vm stop event, and check target-blocks, but if test need use forever blocks, stop event never trigger.
So I came up with the second idea： when the sprite reach a position then trigger blocks detection, but now there is new question: how to check sprite move to the target position? Use a thread check target position forever?

[2021-04-09 08:55] apple502j commented on #3018
Static analysis: you check the fact that specified blocks exist. You can do it at any time.
Dynamic analysis: you check the fact that clicking the green flag causes the sprite to move to the location (like after a second.)

Note that there are infinite answers for simple questions like "how to move sprites to x:100, y:0" - which is hard to cover using static analysis.

[2021-04-09 10:04] kotepillar commented on #3018
So I think I can use both static analysis and dynamic analysis to confirm user used the correct blocks. At first, I will check target sprite position every second. If  sprite move to target position. Then use static analysis check blocks.
of course move to specified position can use multiple ways realize it. But i will prompt user use specified blocks realize it.
Of course there still have a big p

[2021-04-11 09:08] RokCoder commented on #2271
Is there any movement on this bug? The shift key is particularly problematic on an emulator I'm working on. The user constantly finds keys typed with shift are auto-repeating if the key is released before the shift.

[2021-04-12 18:11] kchadha commented on #2851
![](https://github.trello.services/images/mini-trello-icon.png) [Track "origin" field in project.json (to track Scratch for CSFirst projects that get uploaded to the Scratch Online Community)](https://trello.com/c/O1ddo5Um/199-track-origin-field-in-projectjson-to-track-scratch-for-csfirst-projects-that-get-uploaded-to-the-scratch-online-community)

[2021-04-12 18:27] adroitwhiz opened #3031 "Remove dead code path from `RuntimeScriptCache`"
The `RuntimeScriptCache` is used by `Runtime.startHats` to filter only the hat blocks matching the specified opcode and fields, aka non-droppable menus on blocks (e.g. 'event_whenkeypressed', where {'KEY': 'SPACE'}).

Each RuntimeScriptCache object holds data related to one hat block: its opcode and uppercase versions of all its fields (so that field matching is case-insensitive: you can broadcast

[2021-04-12 18:30] adroitwhiz opened #3032 "Remove dead code path from `BlocksExecuteCache.getCached`"
The `BlocksExecuteCache.getCached` function returns a "cached" version of a block given a block container, a block ID, and an optional constructor function for the "cached block" type. Because all three call sites pass in that constructor function, we can remove the logic that handles the case where it's *not* passed in.

[2021-04-12 18:37] adroitwhiz opened #3033 "`BlockCached` contains many unnecessary member variables/properties"
The `BlockCached` class is an internal representation of a block which precomputes a lot of execution data in order to make repeated execution faster (e.g. evaluating "shadow blocks", unrolling recursion). Currently, it contains many member variables which are never read outside of its constructor function. Those member variables could be turned into regular variables inside the constructor functi

[2021-04-12 18:43] adroitwhiz opened #3034 "Block inputs are cached in two different places"
PR #770 introduced caching of block inputs in the blocks container--each container caches the result of a `getInputs` call for a given block, and then returns the cached result.

However, a later PR (#917) added the `BlockCached` class, which stores its own `inputs` and removes the need to call the block container's `getInputs` method in the first place.

This makes the block container's `getInput

[2021-04-17 13:13] RokCoder commented on #2271
There's a fix for this by @garbomuffin in TurboWarp -
https://github.com/TurboWarp/scratch-vm/commit/fbec54a0c978192039234d2842e66f3ed4f02374 and https://github.com/TurboWarp/scratch-vm/commit/9d69b93f461e55acc4f2deb73f9e9bcfe88e30ac

[2021-04-17 13:17] RokCoder commented on #2079
There's a fix for this by @garbomuffin in TurboWarp at https://github.com/TurboWarp/scratch-vm/commit/b84800ad0baae6907d3e4b2515eeb3a448d04a23

[2021-04-22 20:31] BryceLTaylor commented on #2944
Since some people's projects rely on the current behavior, we will not fix this.

[2021-04-22 20:31] #2944 closed, assigned to nobody

[2021-04-22 21:07] #2212 closed, assigned to nobody

[2021-04-22 21:07] #2224 closed, assigned to nobody

[2021-04-22 21:07] #2236 closed, assigned to nobody

[2021-04-22 21:07] #2237 closed, assigned to nobody

[2021-04-23 12:11] Tacodiva opened #3047 "List and variable data in project.json "value" feild of "monitors" sometimes gets out of sync with real variable data."
### Expected Behavior

The value field of monitors should stay in sync with the contents of their corresponding variable.

### Actual Behavior

In some cases, the values get out of sync causing weird behavior with project saving.

### Steps to Reproduce

Create these scripts.
![image](https://user-images.githubusercontent.com/27910867/115868639-1af58800-a480-11eb-91bc-b6b3940802c6.png)
Double clic

[2021-04-24 20:01] RokCoder opened #3049 "Variable type specifiers ('%s' or '%b') manually entered in custom block title cause issues"
### Expected Behavior

The user should be able to enter any custom block name without issue

### Actual Behavior

Entering %s or %b either at the beginning of a custom name or after a space in a custom name appears to lock up. You can still close the custom block dialog with the 'X' but the blocks listed in the main column are generally collapsed upon one another at that point.

### Steps to Repro

[2021-04-24 20:02] RokCoder commented on #3049
There are some similarities with https://github.com/LLK/scratch-vm/issues/2577 but I believe this is likely to be a separate issue.

[2021-04-24 20:09] apple502j commented on #3049
Duplicate of LLK/scratch-blocks#2107

[2021-04-29 20:40] BryceLTaylor commented on #3049
Closing as duplicate

[2021-04-29 20:40] #3049 closed, assigned to nobody

[2021-05-03 21:01] BryceLTaylor commented on #2696
This is not exactly the same as #2342 but it has the same root cause and would be addressed at the same time.  I'm closing this one as a duplicate.

[2021-05-03 21:01] #2696 closed, assigned to nobody

[2021-05-10 16:18] #2851 closed, assigned to nobody

[2021-05-14 17:51] cwillisf opened #3099 "costume duplication makes potentially-unsafe changes to asset objects"
### Expected Behavior

The `assetId` for a costume object should match its costume data, or be removed.
The `assetId` for an asset object should match its contents, or be removed.

### Actual Behavior

Duplicating a costume can in theory lead to a costume object containing an asset ID which does not match its costume data. This was an important part of the root cause of the SVG question-mark issue

[2021-05-14 18:23] cwillisf opened #3100 "npm-published packages should follow semver"
### Expected Behavior

Scratch projects published to npm should use semver version numbers >= 1.0 so that dependents can control when to accept breaking changes.

### Actual Behavior

This repository uses "prerelease" version numbers like `0.2.0-prerelease.YYYYMMDDhhmmss` which contain no information about breaking changes.

[2021-05-16 16:19] apple502j commented on #2220
Bump, see also https://scratch.mit.edu/discuss/post/5207123 (reproable in Chromium-based browser, not in Firefox. Is this another strange bug?)

[2021-05-17 19:15] BryceLTaylor commented on #2554
The current behavior is fine.  We'd prefer to return 0 than NaN.

[2021-05-17 19:15] #2554 closed, assigned to nobody

[2021-05-23 18:24] mobluse commented on #2109
It seems this bug was fixed now, because my old Scratch 2 project (see above) started to work in the right way.

[2021-06-06 18:36] AmazingMech2418 commented on #2577
Can reproduce.

Judging by the errors thrown, it is an internal React error dealing with how this code processes custom blocks. Seems like something might use the name of the custom block with either subscript or dot notation to get a property from an object, and since the property is in the Object prototype, it would already be defined and might throw an error. Clearly not method pollution though

[2021-06-06 18:43] apple502j commented on #2577
Wrong analysis; this is probably VM cache misbehaving, e.g. https://github.com/LLK/scratch-vm/blob/develop/src/engine/blocks.js#L228

[2021-06-06 18:45] AmazingMech2418 commented on #2577
That's the same line I found the error to be in. It uses subscript notation with the key as the name of the custom block, so if it is in the Object prototype, it might throw an error.

[2021-06-06 18:45] AmazingMech2418 commented on #2577
Actually, sorry, it was https://github.com/LLK/scratch-vm/blob/607cd2d392b0d16eb14e3512de9ac6741f2dfe3d/src/engine/blocks.js#L264 where I found it to be.

[2021-06-06 18:48] AmazingMech2418 commented on #2577
Wait, the issue is that the procedure is not undefined, but is not defined as it should be.

It is defined in the prototype rather than by scratch-vm, so it treats it as a properly cached name or definition, and when run, it throws an error since it is treating a function as if it was an array.

[2021-06-06 18:52] AmazingMech2418 commented on #2577
Some ways to fix this include:
* Modifying cache to not use objects with keys, such as maybe a custom dictionary type that stores an array of keys and an array of values, although this would harm performance
* Adding a string to the front and/or end of keys in the cache for custom blocks to prevent accidentally calling a prototype-defined function
* Modifying the cache system to not use the proced

[2021-06-06 19:16] apple502j commented on #2577
Object.create(null) is enough

[2021-06-06 19:27] AmazingMech2418 commented on #2577
I'm not sure what you mean... The issue is that the names are already defined through the prototype, so it never gets defined as a procedure for the Scratch project.

[2021-06-06 19:30] AmazingMech2418 commented on #2434
I'm not really sure what you mean by this. Honestly, it can be a useful feature for adding things like cheat codes, but in a way that someone can't find them as easily, but I don't see how it could be exploited.

[2021-06-06 19:44] apple502j commented on #2434
Ability to hide code is not a feature Scratch intends to have.

[2021-06-06 20:15] AmazingMech2418 commented on #2434
Shadow blocks to keep people from being able to reuse certain pieces of code would fall under not being able to be remixed and stuff, but shadow blocks to hide cheat codes to improve gameplay is a valid reason to keep them.

[2021-06-06 20:59] AmazingMech2418 commented on #2337
Maybe is this an issue with accessing the audio drivers in Safari? Given how specific the bug is to using a Mac, running Scratch on Safari, and running the Google Hangouts on Chrome, it seems like it might be a bug of an external application, such as Safari or even MacOS in general. If someone can reproduce this on another OS, that could make it a Scratch bug, but the audio not playing seems like

[2021-06-06 22:35] AmazingMech2418 commented on #2282
I'll have to investigate where tomorrow probably, but I think the issue here is an infinite loop. Probably somewhere in either sequencer or runtime, but I still have to investigate that. It seems like what's happening is that every clone is being created and destroyed in one single iteration of the sequencer, but finding the actual place in the code where this happens is a bit trickier, especially

[2021-06-07 13:47] P3nny opened #3146 "Request for documentation - Broken link in docs/extensions.md"
We launched a scratch adaption for a german public broadcaster: https://programmieren.wdrmaus.de / https://github.com/wdr-data/code4maus
As a next step we would like to do a video tutorial series - and use the scratch-music extension for this, but we are having difficulties in integrating the music-extension in our scratch adaptation (codewise).

Unfortunatly the link in this documentation file is

[2021-06-07 14:51] AmazingMech2418 commented on #2282
It clearly isn't this loop that's running the infinite loop:
https://github.com/LLK/scratch-vm/blob/607cd2d392b0d16eb14e3512de9ac6741f2dfe3d/src/engine/sequencer.js#L88-L91

Here, the timer should take over and prevent a crash, like with run without screen refresh forever loops.

It could potentially be this thread:
https://github.com/LLK/scratch-vm/blob/607cd2d392b0d16eb14e3512de9ac6741f2dfe3d/sr

[2021-06-07 17:07] AmazingMech2418 commented on #2682
In general, prototype pollution is more dangerous than method pollution, but method pollution is still extremely dangerous. Generally, method pollution is easier to mitigate by just not using properties directly on the objects, as is requested by this issue, but if not done, it can allow for DoS attacks if done on server-side. If this is done here, it is likely also done on server-side in some way

[2021-06-07 17:08] AmazingMech2418 commented on #2682
I would like to mention that this might not have been completely fixed by LLK/scratch-www#4002 and a payload of `__proto__` might cause the same issues, as well as potential prototype pollution.

[2021-06-07 18:55] AmazingMech2418 commented on #2282
By the way, if you use a loop 1 time block around the create clone thing, it also doesn't crash. It seems like any control structure will keep it from crashing.

Edit: The reason for this is that the control structure in `stepThread` will cause the block to not be executed yet.

[2021-06-07 19:10] AmazingMech2418 commented on #2282
The strange thing with this though, is that all scripts are run at once as long as there isn't a control structure. And it's only when the clones stop being created that everything stops.

[2021-06-07 20:06] AmazingMech2418 commented on #2282
I think this is where the issue is:
https://github.com/LLK/scratch-vm/blob/607cd2d392b0d16eb14e3512de9ac6741f2dfe3d/src/engine/sequencer.js#L192

While this is great for optimization, with clones, it causes a phenomena sort of similar to infinite tail-end recursion, creating an infinite loop and hanging the editor.

I believe this code essentially speeds things up so that all scripts that don't in

[2021-06-07 20:21] ericrosenbaum commented on #3146
Hi- hopefully we can help!

Sorry about the broken link. It actually points to a private repo and the page it links to does not actually contain the info you need.

The problems you're running into will depend on exactly how your own code is set up. You should not need to modify or build scratch-blocks. The extensions are inside of scratch-vm, and loaded by scratch-gui. The music extension should

[2021-06-07 20:22] AmazingMech2418 commented on #2294
These are possible, but dynamically adding to the list to make it larger than 200,000 items is not. Though, unfortunately, it does not seem like the list limit could be increased since it could cause the tab to run out of memory or might exceed the project storage limits. However, it could be possible that lists be greater than this length dynamically, but that the lists are not saved in the SB3 f

[2021-06-07 23:52] AmazingMech2418 commented on #2073
This issue seems to be in scratch-renderer.

Seems like there is already an issue there too: https://github.com/LLK/scratch-render/issues/656

[2021-06-19 07:33] apple502j opened #3174 "Renaming a sprite causes blocks to update, even if the name didn't change"
### Expected Behavior
Renaming a sprite should not check for references in blocks if the name didn't change. `VM.renameSprite` should early return in case `oldName === newUnusedName`.

### Actual Behavior
Renaming a sprite checks for references in blocks even if the name didn't change. This causes performance issues with projects that have many blocks.

### Steps to Reproduce
1. "Rename" a sprite

[2021-06-21 17:28] #2735 closed, assigned to nobody

[2021-06-24 13:58] BryceLTaylor commented on #3174
@apple502j does this cause any noticeable issues for the user?  What do they see?

[2021-06-24 14:03] apple502j commented on #3174
@BryceLTaylor Lag; while this is hard to notice for most cases, it's still a useless computation.

[2021-06-24 17:41] ericrosenbaum commented on #3146
Closing this - feel free to add comments if you want to document your solution to help others, or you can open a new issue if you have more questions.

[2021-06-24 17:41] #3146 closed, assigned to nobody

[2021-08-02 20:47] sinanthottan opened #3267 "Custom extension fails to load in production"
Hi all,

Can someone help me solve this issue?
I have created an extension for our hardware, it fails to load in production (hosted using Docker). Referred Microbit extension file to create the extension. Error in console shows: "DataCloneError: The object could not be cloned."

Extension works well in local machine, connecting successfully to the hardware and everything works as expected.

To rep

[2021-08-03 02:22] apple502j commented on #3267
This is due to an error in central-dispatch.js L130; we need to pop twice and the condition is different

[2021-08-03 07:41] sinanthottan commented on #3267
Thank you, but I am not so good with this. How do we fix it?
Also found error at extension-worker.js L24.
To debug I cloned microbit and renamed it to microbit2. Even that does not work on production, but works perfect in locally

[2021-08-03 11:15] apple502j commented on #3267
Well, there are two extensions: unsandboxed and sandboxed. All built-in ones are unsandboxed.

Extension implementers can implement both of them. Sandboxed extensions can be loaded on any mod that supports custom extensions. Unsandboxed extensions are just hard-coded mods. Sandboxed extensions cannot use many of the features, such as DOM or access to the full virtual machine of Scratch.

Dispatch

[2021-08-03 11:59] sinanthottan commented on #3267
@apple502j  thank you for the detailed explanation. I did not know about these things

I think, I did the same as you mentioned above. Cloned gui and vm. updated extension-manager.js
`junkbot: () => require('../extensions/scratch3_junkbot')`
Also updated extensions/index.jsx at GUI to list the extensions.
What I additionally did was, like you see above, copied scratch3_microbit/index.js and update

[2021-08-03 18:41] sinanthottan commented on #3267
@apple502j
- cloned `scratch-vm` and run command `npm link`
- cloned `scratch-gui` and run command `npm link scratch-vm`
- added `junkbot: () => require('../extensions/scratch3_junkbot')` to `src/extension-support/extension-manager.js` at `scratch-vm`
- copied and updated `scratch3_microbit/index.js` to `scratch3_junkbot/index.js` at `scratch-vm`
- added the extension name to  `src/lib/libraries/e

[2021-08-04 05:42] apple502j commented on #3267
Can you send the full error traceback?

[2021-08-05 06:30] sinanthottan commented on #3267
Sure, but where do I find it?

[2021-08-05 07:28] apple502j commented on #3267
On browser console?

[2021-08-05 16:09] sinanthottan commented on #3267
ExtensionWorker/</< http://codebricks.junkbot.co/extension-worker.js:140:24

[2021-08-05 17:31] apple502j commented on #3267
Okay, two things:
- you are using unsandboxed extensions, and
- Scratch must be served under HTTPS.

[2021-08-06 13:06] sinanthottan commented on #3267
@apple502j thank you so much for your support. Finally it's working. Discarded the docker deployment.
Deployed at aws ec2 server on nginx. setup ssl certificate.
assume the issue was something related to `npm build`, so deployed with `npm start` on aws ec2 server. Luckily it worked.
`npm install` on docker was throwing an unknown error which I was not able to fix.

https://code.junkbot.co - Create

[2021-08-09 13:24] #3267 closed, assigned to nobody

[2021-08-30 11:12] renovate[bot] opened #3310 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/scratchfoundation/scratch-vm).

## Deprecations / Replacements

These dependencies are either deprecated or have replacements available:

| Datasour

[2021-09-04 02:55] AlexisGoodfellow commented on #2401
Hi! I've been looking over the codebase to get a lay-of-the-land and see if there's any low-hanging fruit I could help with. It looks like this issue is fixed by an open PR (#2416) that is approved to merge and has been for many months.

I took a brief look over the codebase with a good-ol' `grep -r` to see if there's been any changes or newly introduced usages of the `relativeTime` function - so

[2021-09-04 03:13] AlexisGoodfellow commented on #2935
It seems like this could be fixed with proper environment separation using a mechanism like `NODE_ENV`.

Depending on how the logging is already done (and if there are numerous tests which consume log output), it might be worth considering disabling `minilog` entirely in testing environments. That might look something like changing `src/util/log.js` to do the following:

[code]

If that can't be d

[2021-09-10 04:36] Tacodiva commented on #2429
...over a year later. I have worked what is happening in laggy projects that causes this bug! You can repeat my steps using this project https://scratch.mit.edu/projects/568668981/
In the project above, the cat sprite is setup with two local variables and a large amount of `Move 10 steps` blocks to cause lag when switching to it. The bear sprite is empty.

1. Have the bear sprite selected
2. Switc

[2021-09-10 14:12] apple502j commented on #2429
@Tacodude7729 Thanks for the repro! Yes, I can now reliably reproduce the issue. I think this is related to Blockly auto-creating variables, but checking editingTarget at the wrong time.

[2021-10-19 20:50] renovate opened #3354 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Cannot find preset's package (github>whitesource/merge-confidence:beta)

[2021-10-19 21:32] #3354 closed, assigned to nobody

[2021-10-21 19:47] #2776 closed, assigned to nobody

[2021-10-21 20:45] BryceLTaylor commented on #2339
This only affects the Answer, Loudness, Timer, and Username blocks.  Several other blocks, i.e. x position, volume, etc. don't stay checked after File New.

[2021-10-22 13:13] RixInGithub opened #3358 "Extension creating won't work D:"
My script website is [this link](https://rixxyx.rixthetyrunt.repl.co/beta.js).
My original website is [this, another, link](https://rixxyx.rixthetyrunt.repl.co/).
But, when I run this in [Turbowarp](https://turbowarp.org/editor?extension=https://rixxyx.rixthetyrunt.repl.co/beta.js), the extension won't run. But what did I do wrong? Even in DevBlocks the extension isn't working!

[2021-10-22 13:57] apple502j commented on #3358
You have to define that function like `getInfo`:

[code]

[2021-10-22 14:02] RixInGithub commented on #3358
Still not.

[2021-10-22 14:12] RixInGithub commented on #3358
Also, is it OK to use custom color on RixxyX blocks like this?:
[code]

[2021-10-22 15:03] RixInGithub commented on #3358
It IS:
[code]

[2021-10-22 15:07] RixInGithub commented on #3358
If RixxyX ever worked, I'm gonna test somehow like this:

[code]

[2021-10-23 10:05] RixInGithub commented on #3358
@apple502j Did you saw my comments? I really need help ( ,Uw`U^^ )

[2021-10-23 11:17] apple502j commented on #3358
Can you post the full source code after the fix?

[2021-10-23 17:00] RixInGithub commented on #3358
It's always [here](https://replit.com/@RixTheTyrunt/RixxyX?v=1), in Replit. That's why it's a repl!

I was supposed to use Replit before joining GitHub

[2021-10-23 17:02] apple502j commented on #3358
@RixInGithub You need to use ArgumentType, etc. exposed as `Scratch.ArgumentType`, and not require.

[2021-10-23 17:03] RixInGithub commented on #3358
What do you mean?

[2021-10-23 17:10] RixInGithub commented on #3358
[code]

[2021-10-23 17:14] RixInGithub commented on #3358
Or you can access it's [raw code](https://rixxyx.rixthetyrunt.repl.co/beta.js) any time!

[2021-10-23 21:30] Regelink commented on #2128
[This fork](https://github.com/UchiwaFuujinn/scratch-vm) of scratch-vm implements a gamepad extension. You can test it [here](https://uchiwafuujinn.github.io/scratch3webmidi/). After adding the extension, I was able to use one gamepad.

[2021-11-04 20:09] solanoepalacio opened #3386 "VM Fails to load some projects (404)"
### Description
I am developing a simple platform aimed at helping Occupational Therapists in the rehabilitation of neurological patients using games to train cognitive areas.

I started experimenting with including some scratch based games into the platform to try to speed up our game release pipeline and to allow the health professionals to easily and quickly adapt the games to their patient nee

[2021-11-04 20:45] #2326 closed, assigned to nobody

[2021-11-04 20:48] #2315 closed, assigned to nobody

[2021-11-04 20:49] rschamp commented on #2315
@tmickel Any idea?

[2021-11-22 04:14] Saket-hub-ui opened #3429 "Code Connectivity with Scratch"
How to connect this code to scratch? @question

[2021-11-27 11:57] ggenije opened #3436 "Global custom blocks"
### History
This feature hasn't been discussed since [_scratch-flash_](https://github.com/LLK/scratch-flash/issues/782) , and my personal opinion is that it is worthy to reconsider it again.
I will try my best to represent you my vision how it should be implemented.
Also it's important to mention that this feature isn't only my personal desire, it have [decent number of supporters](https://scratch

[2021-11-29 16:54] BryceLTaylor commented on #3429
I'm not entirely sure what you mean. Scratch-vm is a dependency of [Scratch-gui](https://github.com/LLK/scratch-gui), which is the code for the editor code.  So it is deeply connected to Scratch already.

[2021-11-29 16:54] #3429 closed, assigned to nobody

[2021-11-29 18:22] Saket-hub-ui commented on #3429
Yes but they are not getting added.

On Mon, 29 Nov 2021 at 22:24, Bryce Taylor ***@***.***> wrote:

[2021-11-30 00:57] adroitwhiz commented on #3429
I think [`npm link`](https://docs.npmjs.com/cli/v8/commands/npm-link) may be what you're after.

[2021-12-05 17:09] ShipmasterKyle commented on #3436
Scratch would 100% benefit from having this feature. I hope they add it soon.

[2021-12-05 17:25] lucid-boop commented on #3436
this seems interesting, but i think instead of a "from (sprite) call (func)" block, scratch would add a feature where you can see global custom blocks in other sprites(just the custom block, none of that fancy "call" stuff)

[2021-12-05 18:17] ggenije commented on #3436
That is an alternative solution, but main problem with that implementation is possible ambiguity between custom blocks, i.e. when you're trying to define two same global custom block in different sprites.
Additionally, I think my solution is more concise, which mean user don't have to search for the desired global custom block in each other sprite when target script is in known sprite.
Also my way

[2021-12-09 21:42] BryceLTaylor commented on #3436
Thanks for your suggestion and your thorough writeup, but we are not likely to add this feature.

[2021-12-09 21:42] #3436 closed, assigned to nobody

[2021-12-13 13:43] jhLeo-ECNU commented on #3017
So, MarkKocherovsky, I have the same problem with your "Uncaught (in promise)…… ".
I sincerely hope you can tell how to fix it? This is really important for me as it's my graduation project……
My index.jsx and extension-manager.js is as follows:
![image](https://user-images.githubusercontent.com/63724126/145822931-ca7e1958-95ab-4564-bffd-8c6df1c20e1a.png)
![image](https://user-images.githubusercont

[2021-12-13 14:34] MarkKocherovsky commented on #3017
I recommend you follow dalelane 's advice outlined in this comment thread; they worked for me.

[2021-12-13 14:51] jhLeo-ECNU commented on #3017
Oh! Thanks for the advice but I'm a fool! My "./scratch-vm" can not even successfully compiled…… I'll figure out what's wrong and try again!

[2022-02-04 19:31] rschamp commented on #3386
Hi, this is strange behavior. Are you still seeing it? A working example would be helpful.

[2022-02-08 09:33] Norbiros opened #3498 "Move sprite to top layer"
I was creating addon for scratch, and i found 1 problem:
**How U can change sprite's layer?**
I didn't found anything or any examples, only `https://github.com/LLK/scratch-vm/tree/develop/src/engine/stage-layering.js`

[2022-02-08 09:50] apple502j commented on #3498
https://github.com/LLK/scratch-vm/blob/develop/src/sprites/rendered-target.js#L846

[2022-02-08 09:54] Norbiros commented on #3498
Thanks you very much 😺
`Apple here, apple there, apple can help everywhere!`

[2022-02-08 10:42] #3498 closed, assigned to nobody

[2022-02-13 09:31] RixInGithub opened #3506 "Question: How do you make those huge gaps between blocks like in Motion?"
Hello, coding and Scratching guys,

I want to know ( because I didn't found it in the source code ) how do you do those huge gaps like below:

![That huuuge gap](https://user-images.githubusercontent.com/87478581/153747018-e76ea581-aa95-4cda-a535-dcd41c8df94c.png)

I really wonder how, because I want to make a gap between:

![The normal gappy](https://user-images.githubusercontent.com/87478581/153

[2022-02-13 11:46] apple502j commented on #3506
See https://github.com/LLK/scratch-vm/blob/f5cb041cba940e3f10903409e963162a37e65bb5/src/extensions/scratch3_microbit/index.js#L625

[2022-02-13 12:16] RixInGithub commented on #3506
Thanks!

![That another big gappy by @apple502j](https://user-images.githubusercontent.com/87478581/153752571-39651c3f-a3c0-4f4e-b530-6be2394c1523.png)

[2022-02-17 18:12] #3506 closed, assigned to nobody

[2022-02-24 15:49] attachi20 opened #3525 "how i hide motion_movesteps element in blocks Motion ?"

[2022-02-24 21:13] #3525 closed, assigned to nobody

[2022-02-26 03:01] edwinjosechittilappilly opened #3526 "how to create a custom extension for scratch that can get a response from the REST API"
Hi all
I am using scratch for teaching kids,
I  had developed some REST API that returns some numbers. I  would Like to know how can I add an extension or a new block that accesses the REST API and returns the value.

[2022-02-26 04:03] apple502j commented on #3526
Translate Extension does exactly that: https://github.com/LLK/scratch-vm/blob/develop/src/extensions/scratch3_translate/index.js

[2022-03-03 18:14] ericrosenbaum commented on #3526
thanks @apple502j ! I agree that the translate extension is a good example. Please open a new issue if you have further questions.

[2022-03-03 18:14] #3526 closed, assigned to nobody

[2022-03-21 04:30] Liz433 commented on #1855
Hi is this bug still open? I would be interested in working on it!

[2022-04-10 19:43] llunariis opened #3598 "How is BlockType.BUTTON supposed to be used?"
I am writing a Scratch extension, and I want to know what the `BlockType.BUTTON` string does.

[2022-04-15 05:42] kingraham612 commented on #2345
I am very interested in this functionality - has anything ever come of this?  I am a researcher studying how young children with disabilities use powered wheelchairs. I have a powered wheelchair with a joystick that I can read real-time values from using python. Can I use these values to control a Scratch program?

[2022-04-15 16:21] towerofnix commented on #3598
Check out [`test/unit/extension_conversion.js`](https://github.com/LLK/scratch-vm/blob/f405e59d01a8f9c0e3e986fb5276667a8a3c7d40/test/unit/extension_conversion.js) for an example, and [`src/extensions-upport/block-type.js`](https://github.com/LLK/scratch-vm/blob/f405e59d01a8f9c0e3e986fb5276667a8a3c7d40/src/extension-support/block-type.js#L11-L14) for its official description: "A button (not an actu

[2022-04-16 06:16] ArnoHue commented on #2271
I ran into the same issue today (after users reported my Linux terminal project got stuck on certain input), namely shift-key release prior to main key release causing key-pressed to return true forever (even after project restart). Several Scratch forum postings reported that issue as well in the past. Backporting the TurboWarp bugfix would be highly appreciated.

[2022-04-18 20:36] #3598 closed, assigned to nobody

[2022-05-10 15:58] mbonani opened #3631 "blocks with menu are not reload correctly from old project"
### Expected Behavior

old project that have blocks with menu are not reloaded correctly in extension

### Actual Behavior

it loads all menu with the first item of the menu

### Steps to Reproduce

this happens in our Thymio extension, scratch project made in our ThymioSuite 2.1.5 are not load correctly in Thymio 2.2.0.
We made a big update to follow your development between this two version.
We

[2022-05-10 22:51] apple502j commented on #3631
Since you are modding the VM anyway I recommend adding a hackfix to the loading logic - src/serialization/sb3.js if I remember correctly.

[2022-05-12 05:00] ArtificialElements commented on #982
And nothing has come of this?.. It would be a tremendous help if the Scratch Team could add sprite deforming in any of those forms. The possibilities! I think the creative potential of a high quality deform block would well outweigh the problem solving skills  gained by trying to write your own that probably runs so slow, or is such low quality, or simply too big, to use anyways.

[2022-05-13 11:36] ghost opened #3636 "Command extension"
How can I code a command extension, that for example change a variable?

[2022-05-14 09:30] ggenije opened #3639 "Pls delete this topic, it was my mistake (was bug report)"
EDIT:
It's is my mistake, just ignore.

[2022-05-19 17:11] #3639 closed, assigned to nobody

[2022-05-19 17:46] ericrosenbaum commented on #3631
Sorry you're having trouble with this. We did change the default behavior, and that requires a small change to each extension in order to keep their behavior the same. I'm not sure we have a way to help you load your users' old projects correctly - but @apple502j 's suggestion to check for the problem when loading the project and fix it at that stage might work for you.

[2022-05-19 17:46] #3631 closed, assigned to nobody

[2022-05-19 17:49] ericrosenbaum commented on #3636
Please have a look at our documentation about extensions, here:
https://github.com/LLK/scratch-vm/blob/develop/docs/extensions.md

[2022-05-19 17:49] #3636 closed, assigned to nobody

[2022-05-24 08:00] mxmou opened #3663 ""Show" requests a redraw but "hide" does not"
### Expected Behavior

The "show" and "hide" blocks would behave as in Scratch 2:
* "show" would always request a redraw;
* "hide" would request a redraw if the sprite was not already hidden.

### Actual Behavior

"Hide" never requests a redraw.

### Steps to Reproduce

Run "program 5" from [this forum topic](https://scratch.mit.edu/discuss/topic/607096/) in both Scratch 2 and Scratch 3. Scratch 3

[2022-05-24 08:02] mxmou commented on #3663
If there are existing Scratch 3 project that rely on this behavior, it might be better to not change this. It has existed since `requestRedraw` was implemented (#280).

[2022-05-25 18:14] RixInGithub opened #3666 "My timer is slower than Scratch's timer"
Hello, coding and Scratching guys,

since the past year's November, [RixxyX's project was good as dead](https://rixxyx.rixthetyrunt.repl.co), to be honest. So, I sat down to my chair and thought that I wouldn't let this happen. And, I *did sorta* that what I wanted, but, I see, when I make code like:

[code]

I see, that the process took... **51.32** seconds, instead of 2?! As described in the tit

[2022-05-28 12:21] traincrisis commented on #1414
Ow, that is bad bug

[2022-06-04 13:57] CST1229 commented on #3666
Your time block increments every time it is used, and the wait until block runs every frame (1/30th of a second). As such, your script essentially waits for 2000 frames (66.6... seconds, i have no explanation why it took 51.32 seconds for you, possibly inconsistent framerate) instead of 2 seconds.

[2022-06-10 06:59] #2234 closed, assigned to nobody

[2022-06-12 15:24] TheRobertOne commented on #2995
I have a problem that I used `async/await`，then show an error `regeneratorRuntime is not defined`，so why can't use `async/await` in scratch-vm，and what are the alternatives?

[2022-06-15 09:49] RixInGithub commented on #3666
How could I make it increment every **millisecond**, not frame?

[2022-06-15 12:40] traincrisis commented on #1030
Receive not recieve

[2022-06-17 13:47] DolevArtzi commented on #2914
I experienced the same error as op, and this also fixed the error for me. To clarify, I believe that `scratch-vm` and `scratch-gui` were what was being referred to as

as those are the directories that I ran `npm install` in.

[2022-07-13 11:08] edwinjosechittilappilly opened #3691 "How to create a custom block that saves the screenshot to the costume. Especially when using a webcam. how can we capture images in scratch?"
We are trying to capture images using the video sensig module and to use it as the current costume.
Any suggestion on how to achieve that?

[2022-07-14 15:38] cwillisf commented on #3663
Thanks for reporting this! Since it has been this way for so long and might affect existing projects, like you said, we'd like to leave it as it is.

[2022-07-14 15:38] #3663 closed, assigned to nobody

[2022-07-24 20:44] tdamsma commented on #2651
Just want to add that I was equally surprised and disappointed about the missing distance sensor. The reasoning is weird;either you add an extension to support new features, or you keep it simple and don't add extensions. But adding an extension that just supports a random subset of essential functionality is just plain wrong and confusing.

[2022-07-28 17:15] ericrosenbaum commented on #3691
Interesting question! We are not likely to exploring saving images automatically, especially from the webcam, because there would be trouble with both privacy and file size.

If you just want to try it out, there something similar available in Snap!, blog post about it here: https://forum.snap.berkeley.edu/t/paste-a-sprite-on-another-sprite/709

[2022-08-05 17:54] AmazingMech2418 opened #3705 "Extension Worker Fails"
### Expected Behavior

Projects containing experimental extensions should load, even if they are unable to be shared.

### Actual Behavior

Experimental extensions with most extension codes seem to trigger a service worker for extensions, which returns a 403 error. Extension codes that match with existing opcodes, such as "motion" or "data", with built-in extensions, with "math" (appears to be fro

[2022-08-11 20:43] #3691 closed, assigned to nobody

[2022-08-11 21:01] cwillisf commented on #3705
It's cool that you're digging into our extension system! However, we currently don't support loading experimental extensions in the official versions of Scratch.

If you'd like to keep working on experimental extensions, I recommend building your own version of Scratch. You can check out one of our official extensions, like the pen extension for example, for an example of how to make an "official"

[2022-08-11 21:01] #3705 closed, assigned to nobody

[2022-08-19 11:32] ggenije opened #3715 "Firefox running "game loop" at 22 FPS"
### Expected Behavior

The FPS should be ~30 like in google chrome

### Actual Behavior

The FPS is ~22 even without performance demands.

### Steps to Reproduce

Use firefox.
[firefox 22 fps.zip](https://github.com/LLK/scratch-vm/files/9381760/firefox.22.fps.zip)
rename .zip to .sb3

I don't have any extensions , I tested it on freshly installed firefox on multiple devices (laptop and two PCs).

[2022-08-22 16:17] BD103 opened #3718 "`project.json` reference"
Hello! Is there a reference for `project.json`'s format? I'm designing a programming language that compiles to an SB3 file, but I have been struggling on figuring out what everything means in `project.json`.

If there isn't a reference, are there any places in the code that would be a good place to look? (Especially for blocks, since there are some confusing things with them.)

Thanks,
~BD103

[2022-08-25 14:46] cwillisf commented on #3715
Strange... I tried this out on my development computer and:

- in Firefox Developer Edition v105.0b2, I got a pretty consistent 30 fps
- thinking it might be version-specific, I installed the regular version of Firefox and got ~22 fps there
- now I'm getting 22 fps in the Developer Edition as well (!!!)
- in both versions of Firefox, continuously moving my mouse over the Scratch editor boosts it t

[2022-08-25 16:01] cwillisf commented on #3718
That sounds like a cool project! There's no formal documentation on the `project.json` format, but you can use `src/serialization/sb3.js` to help explain some of its details. For example, check out the comment on the `compressInputTree` function!

Also, you might have figured this out already, but some of the strange-looking strings in the file are just randomized identifiers. As long as the ident

[2022-08-25 16:01] #3718 closed, assigned to nobody

[2022-08-25 22:30] BD103 commented on #3718
Thank you! I found [Scratch Parser](https://github.com/LLK/scratch-parser), which provided a very helpful schema for `project.json`. The info about unique identifiers is incredibly useful, as now I won't have to recreate an MD5 hash.

My last question is what happens when you try to load a malformed SB3 file? Will I get an error message for debugging, or will I need to try something else?

[2022-08-26 18:11] adroitwhiz commented on #3715
It might have something to do with timer resolution? I remember there being some [animation issues relating to rounding off timer precision to 100ms](https://bugzilla.mozilla.org/show_bug.cgi?id=1589060).

[2022-08-30 23:21] RealDTC112 commented on #1952
mine lags too, i hate goguardian WHY does it exist in the first place

[2022-09-02 15:39] alanlance commented on #2651
Shock! Lego's decision not to support distance and orientation sensors is really disappointed, and it doesn't take into account the mood of the children at all!

[2022-09-03 13:59] pawelbura commented on #2651
and PR is ready, all they need is to accept merge request! Really strange :(

[2022-09-04 11:39] PhilippeLeLong commented on #2651
Please add this feature, programming on the Android app is a pain and the PC software was discontinued. The only reason I could think of not to add the distance sensor is to force people to buy the robot inventor set.
@pawelbura is there a convinient way to install your version of the scratch integration?

[2022-09-05 06:51] KaeroDot commented on #2651
[PhilippeLeLong](https://github.com/PhilippeLeLong): the improved version is by [apfeuti](https://github.com/apfeuti), see the first comment on this page. Unfortunately the installation of his version is not so convenient and simple as running the scratch online.

Do not count on adding this feature into the main branch of the scratch. [knandersen](https://github.com/knandersen) clearly said the f

[2022-09-05 13:52] pawelbura commented on #2651
@PhilippeLeLong as @KaeroDot said, it's not my PR but @apfeuti 's.
I've managed to build it according to this instruction: [https://github.com/LLK/scratch-vm/pull/2299#issuecomment-716856501](https://github.com/LLK/scratch-vm/pull/2299#issuecomment-716856501)
But it requires some effort.

[2022-09-11 15:32] osturnus commented on #2651
It's very unfortunate situation.
I agree, LEGO makes superb real-world building blocks and toys, but they are consistently not good at apps. Maybe full implementation of BOOST in Scratch would just show much clearly how clumsy, buggy and unfriendly official LEGO BOOST app is.

[2022-09-15 22:19] functionsio opened #3739 "NFT Collection Extension (Automated Canvas Image Download)"
### Expected Behavior

Requesting automated canvas image download block for student use in generating NFT collections on web application. (Pull Request incoming soon.)

### Actual Behavior

Automated canvas image download block does not exist.

### Steps to Reproduce

Unable to find block via extensions.

### Operating System and Browser

Ubuntu 20.04

### Other

I've tried creating a new topic on

[2022-09-21 20:50] AmazingMech2418 opened #3749 "Error Saving Project With `\b`"
### Expected Behavior

All projects should be able to save.

### Actual Behavior

If a project has `\b` as an input or value stored in a variable, the project won't save, a downloaded copy will fail to load, and an error will show in the console when attempting either of these.

### Steps to Reproduce

Create a project with `\b` in a variable or input for any block and try to save it.

This should

[2022-09-21 20:58] AmazingMech2418 commented on #3386
This seems like a possible server outage. Can't reproduce on the example not-working project you included...

[2022-09-22 14:21] cwillisf commented on #3749
Thanks for the quality report! I'm curious: how did you find this? :D

[2022-09-22 16:11] mxmou commented on #3749
Looks like a duplicate of LLK/scratch-parser#56 (loading) and LLK/scratch-www#3497 (saving).

[2022-09-22 16:14] cwillisf commented on #3739
Hi there! I'm excited to see another person experimenting with extensions! I don't think we're likely to add this feature to Scratch, but you're certainly welcome to work on it in your own fork!

We have a very high bar when it comes to adding features to Scratch, including extensions. We try to follow the principles listed here: https://scratch.mit.edu/developers#principles

In the case of this e

[2022-09-22 16:14] #3739 closed, assigned to nobody

[2022-09-22 16:20] functionsio commented on #3739
Thanks for the feedback!

Are there any plans to develop a core canvas image download block (for the
web) anytime in the near future?

On Thu, Sep 22, 2022 at 10:15 AM Christopher Willis-Ford <
***@***.***> wrote:

[2022-09-22 18:48] ggenije opened #3752 "Is it safe to use hacked and not intended features."
I wonder is it safe in terms, do you planning it removing support for it in any point in future for hacked blocks,
especially for "while" block.
Also I found out that you can play "item of (list)" as boolean input, which is pretty useful for me, but I'm afraid you could remove this feature, which would ruin my projects.
Also it would be also useful you can place variables also in boolean inputs.

[2022-09-25 11:13] functionsio commented on #3739
More discussion on this on the Scratch forums: https://scratch.mit.edu/discuss/topic/631160/?page=1#post-6623288. Thanks.

[2022-09-26 20:41] PPPDUD commented on #3752
I am not an ST member, but I have used a certain glitch to see if a sprite is touching a clone of itself, and it hasn't broken yet.

[2022-09-26 20:47] PPPDUD opened #3759 "Add JSON blocks"
One block would be called "encode list [insert list here]. It would be a reporter block that reports the JSON equivalent of the list. Then there would be a stack block known as "decode JSON list (var) to [insert list here]", which would clear the selected list, and then convert (var) to a list, the results going into the selected list.

Sorry for any confusion :) !

[2022-09-27 08:43] griffpatch commented on #3752
I think there are some relatively safe hacked blocks, like the touching
self trick.
But from experience, when we moved from Scratch 2 to Scratch 3, a lot of
hacked blocks stopped working and some of my projects won't load to fix
them... So, I'd advise not including them in any project that you would
mind losing some time down the road.

On Mon, 26 Sept 2022 at 21:41, PPPDUD ***@***.***> wrote:

[2022-09-27 14:57] benjiwheeler commented on #3759
Closing this as needing a more thorough description. @PPPDUD if you'd like to reopen it, please add more detail!

[2022-09-27 14:57] #3759 closed, assigned to nobody

[2022-09-27 15:05] benjiwheeler commented on #3752
We don't officially support any "hacked blocks" functionality. That said, we generally want to keep projects working, and when we transitioned to Scratch 3, we did spend a bunch of time making sure that some of the common forms of hacked blocks and unintended features kept working. (Sorry @griffpatch that we missed a bunch, or decided not to support some.) It's also probably going to be a long tim

[2022-09-27 15:05] #3752 closed, assigned to nobody

[2022-09-27 18:03] PPPDUD commented on #3759
One block would be called "encode list [insert list here]. It would be a reporter block that reports the JSON equivalent of the list. Then there would be a stack block known as "decode JSON list (var) to [insert list here]", which would clear the selected list, and then convert (var) to a list, the results going into the selected list.

Sorry for any confusion :) !

[2022-09-28 16:19] functionsio commented on #3739
Bump. More discussion here. https://scratch.mit.edu/discuss/topic/631160/?page=1#post-6623288. cc @cwillisf
[screen-capture (3).webm](https://user-images.githubusercontent.com/59425276/192832108-65029ae2-f78b-4ea6-8ab5-010a830b4345.webm)

[2022-09-28 16:44] showierdata9978 commented on #3666
You could multiply it by 1000 (milliseconds are 1000 times smaller then seconds)

[2022-09-30 11:39] willywillycow opened #3762 "Issue with is-touching Block"
### PLEASE DOWNLOAD AND OPEN THIS PROJECT FIRST

[测试作品.sb3.zip](https://github.com/LLK/scratch-vm/files/9683503/sb3.zip)

### Expected Behavior

When you click the green flag, the script in the dot sprite runs and detects touching the square sprite, and the sprite says "true".

When you click the script in the dot sprite, it runs and detects touching the square sprite, and the sprite says "true".

[2022-10-06 16:04] cwillisf commented on #3762
I'm sorry the `is touching` block is trying to run around and desert you! Seriously though, we're no stranger to bugs, but they don't always come with such detailed repro steps. I appreciate your effort to make sure we both know what's been going on.

[2022-10-17 19:14] AmazingMech2418 commented on #3749
Thank you! I was actually working on a lambda calculus implementation in Scratch, using "`\`" as the lambda symbol (since the actual lambda isn't on most keyboards), and having a parameter of b led to part of the code being `\b.<stuff here>`, and I then noticed it wouldn't save, so I looked through the error messages and figured out what the issue was.

[2022-10-19 10:18] willywillycow opened #3783 "Objects Drawn With Brush Tool Cannot Be Joined After Adding Outline to Them, Even if Removing the Outline Afterwards"
### Expected Behaviour

When you draw two separate objects with the same colour using the brush tool in vector mode, you can combine them by drawing another object with the same colour over them. This should work if you add outline to them, or at least removing the outline after you added it.

### Actual Behaviour

When you draw two separate objects with the same colour using the brush tool in vec

[2022-10-19 10:26] willywillycow commented on #3783
In addition, this effects me **_ALOT_**, like a real **_LOT_**, because I make alternate history as the main content. I discovered that it would look better to add outline to the borders, and now yeah turns out it doesn’t work, because then I would be unable to edit them.

[2022-11-17 19:19] RGBProductions commented on #1952
GoGuardian exists to protect students from content that is either malicious or not school appropriate, but in this case it might be overly protective against something that isn't dangerous to begin with.

[2022-11-25 19:12] tapiov opened #3814 "npm start => Error: error:0308010C:digital envelope routines::unsupported"
### Expected Behavior

1. npm start would start without error
Scratch VM playground would open a project

### Actual Behavior

1. Emits error and fails to start
Error: error:0308010C:digital envelope routines::unsupported

### Steps to Reproduce

Use latest Node-JS LTS 18.12.1 x64
npm start

-- Probably caused by updated Node-JS so trying legacy SSL provider option
set NODE_OPTIONS=--openssl-legac

[2022-11-26 08:14] mxmou commented on #3814
The playground stopped working because the API for loading a project was recently updated.