[2018-08-09 17:53] towerofnix commented on #1439
Looks like all the (SB3) issues are related to a particular procedure call block, "kill scripts". Here's the excerpt from the project.json:

![The JSON code for project.targets[7].blocks['Abh0i;C4yIjO-LNA4fS*']](https://user-images.githubusercontent.com/9948030/43916423-eb83b134-9be3-11e8-9899-cf374037dcbb.png)

[2018-08-09 19:24] kchadha commented on #1439
@towerofnix, thanks for reporting this issue. I just submitted a PR to fix this issue on scratch-parser. Once that's landed (and the update propagates through scratch-vm to scratch-gui), you should be able to load that project again. As a temporary fix, you might be able to manually patch your project by replacing all the instances of `warp: "null"` with `warp: "false"`

[2018-08-09 19:30] hyperobject opened #1440 "Project ID 105250254 fails to load"
### Expected Behavior
Loading [project 105250254](https://scratch.mit.edu/projects/105250254) in Scratch 3.0 should work. The [parent project](https://scratch.mit.edu/projects/105186001/) should also load in Scratch 3.0.

### Actual Behavior
The "Oops! Something went wrong." page shows up for both projects.

### Steps to Reproduce
Go to https://llk.github.io/scratch-gui/develop/#105250254 or https

[2018-08-09 22:17] joker314 commented on #1307
The project.json contains a `\`, I believe to avoid ambiguities about the `@` symbol's special meaning (like `@greenFlag`). However, in Scratch 3.0, this doesn't appear to be done.

Based on the [`escape`](https://github.com/LLK/scratch-flash/blob/74ae0cbc0427d6acc0508e41a73a324f84ebc8c4/src/util/ReadStream.as#L112-L114) function in scratch-flash, I believe only the `\`, `%`, and `@` characters ar

[2018-08-10 01:02] joker314 commented on #1010
Note that the numbers for which Scratch breaks are actually safe integers (i.e., `Number.isSafeInteger(2147483648)` is `true`.

This is because that number is `2 ** 31`, but `Number.MAX_SAFE_INTEGER` is `2 ** 53 - 1`.

This is a problem that should only affect `setTimeout`, because it [apparently](https://stackoverflow.com/questions/3468607/why-does-settimeout-break-for-large-millisecond-delay-val

[2018-08-10 04:15] joker314 commented on #1152
Perhaps this issue should be closed due to PR #1154 being merged. Also to be closed: #1151 (per #1153)

[2018-08-12 01:52] nekketsuuu opened #1444 "EV3: Show the unit of `distance` block"
### Expected Behavior

* The return value of `distance` block is displayed in centimeters.
* Or, we can decide which unit is used for `distance` block.

### Actual Behavior

`distance` block always returns a value between 0 and 100.

The ultrasonic sensor can measure distances between 1 cm and 255 cm, and also between 1 in and 100 in.
In Japan, we rarely measure distances in inches. So I (Japanese

[2018-08-12 02:55] nekketsuuu opened #1445 "EV3 Feature request: Enable IR sensors"
### Expected Behavior

We can use [45509 EV3 Infrared Sensor](https://shop.lego.com/en-US/EV3-Infrared-Sensor-45509) in Scratch 3.0 EV3 extension.

Although [5003400 LEGO MINDSTORMS Education EV3 Core Set](https://education.lego.com/en-us/products/lego-mindstorms-education-ev3-core-set-/5003400) does not contain the IR sensor, [31313 MINDSTORMS EV3](https://www.lego.com/en-us/mindstorms/products/m

[2018-08-12 03:20] nekketsuuu opened #1446 "EV3: `brightness` block measures by blue light, not by red light"
### Expected Behavior

When using `brightness` block, the color sensor measures it by red light.
The official page [45506 EV3 Color Sensor](https://shop.lego.com/en-CA/EV3-Color-Sensor-45506) also says that

### Actual Behavior

`brightness` block measures it by blue light.

<del>Also the measured value is low. In my environment, it's between 1 and 26 when using `brightness` block, although the po

[2018-08-12 03:34] nekketsuuu commented on #1446
I found that the extension measures brightness using the ambient mode (in [this line](https://github.com/LLK/scratch-vm/blob/ec41b4a11372e0943949e7cd0b4a3180beb8e34a/src/extensions/scratch3_ev3/index.js#L102)). Therefore EV3 uses blue light to measure. Is there any reasons to use the ambient mode (by blue light), not the reflect mode (by red light)? Personally I use the ambient mode not so much.

[2018-08-12 10:07] nekketsuuu opened #1447 "EV3 Feature request: Add more motor-related blocks"
### Expected Behavior

[The EV3 Software](https://www.lego.com/en-us/mindstorms/downloads/download-software) has the following blocks to turn motors.

* "Single motor turn for some rotations/degrees" blocks. These blocks are useful to turn a motor more precisely than turning for some seconds. Also, we can hide some complex logic (such as brakes or PDI controllers) in these blocks. But sometimes th

[2018-08-12 10:49] nekketsuuu commented on #1287
@evhan55 I'm sorry for starting a new discussion in this closed issue. I opened a new issue above, so let's continue the discussion there.

[2018-08-12 11:27] nekketsuuu opened #1448 "EV3: Set power after turning a motor doesn't change the current motor speed"
### Expected Behavior

The following program rotates a motor at power 50% at first, and then rotates it at power 100%.

![set_speed_after_turn](https://user-images.githubusercontent.com/4374702/44000919-7c49126e-9e63-11e8-8592-1711de04b3b9.png)

### Actual Behavior

That rotates the motor at power 50% to the end.

I know why this happens, but this is counterintuitive, isn't it?

Here is a list of

[2018-08-12 13:39] JensLehmann commented on #533
Has there been an update on this issue which I think is quite important for Scratch 3.0?

[2018-08-13 15:40] #1439 closed, assigned to kchadha

[2018-08-13 17:35] BryceLTaylor opened #1450 "Some 2.0 Projects won't open in 3.0"
Some 2.0 projects fail to load in 3.0 giving this error:
![screen shot 2018-08-13 at 1 24 33 pm](https://user-images.githubusercontent.com/1088291/44047607-d5fc74c4-9efc-11e8-8e62-6788232d5d84.png)

219549113
`Error: Failed to load project from server [id=#219549113]: TypeError: Cannot read property 'id' of undefined`
`gui Unhandled Error: Error: Failed to load project from server [id=#219549113]:

[2018-08-13 18:06] BryceLTaylor opened #1451 "You don't die when you fall into pits"
Many projects use the position of a sprite on the edge of the stage to determine events, such as if you are on the bottom edge, you die.  In 3.0 the position of the sprite when it stops moving (so you don't lose the sprite) is different than it is in 2.0.

For example, in [this project](https://beta.scratch.mit.edu/#236930544):  When the player sprite falls off the edge it stops at y = -181.  In t

[2018-08-13 18:14] kchadha opened #1452 "Importing SB2 Projects with workspace comments converted from block comments"
### Expected Behavior

Importing a project into 3.0 should preserve block comments and workspace comments, and comments that were converted from being a block comment to a workspace comment. Saving and loading these projects should also work.

### Actual Behavior

Sometimes this is not the case.. see repro below.

### Steps to Reproduce

1. Create a new 2.0 project.
2. Drag out two different block

[2018-08-13 21:12] ericrosenbaum opened #1454 "WeDo 2.0 extension should cast and clamp all input args"

[2018-08-13 21:13] ericrosenbaum opened #1455 "WeDo 2.0 extension should set LED to blue on connecting"

[2018-08-13 21:14] ericrosenbaum opened #1456 "WeDo2 extension should rate-limit message sends"

[2018-08-13 21:18] ericrosenbaum opened #1457 "WeDo 2.0 extension should parse incoming messages using port table"
(instead of message length)

[2018-08-13 21:18] LiFaytheGoblin opened #1458 "(Scripts with) variables with non-letter or number names don't get imported correctly"
### Expected Behavior

When there is a variable in a 2.0 project with the name ", <, &, ~ and the like, it is supposed to be transferred to 3.0, especially because it is possible in the 3.0 editor to create variables with such names. Scripts, that contain these variables, should also be transferred normally.

### Actual Behavior

A variable with a name like the ones described above does not get tr

[2018-08-13 21:21] ericrosenbaum opened #1459 "WeDo 2.0 extension should handle two of the same sensor"
If two of the same sensor are plugged in (i.e. two distance sensors, or two tilt sensors), we should do something consistent (probably just always report the value of the sensor that was most recently plugged in).

[2018-08-13 21:23] ericrosenbaum opened #1460 "WeDo 2.0 "set motor direction" block should work while a motor is running"

[2018-08-13 21:23] ericrosenbaum opened #1461 "WeDo 2.0 distance sensor should report 0 - 100 in steps of ten"

[2018-08-13 21:24] BryceLTaylor opened #1462 "Gradients point in wrong direction in 2.0"
When loading projects from 2.0 that use gradients in vector drawings, sometimes the gradients are drawn the in the wrong direction.

For example in the project 118805754 ( [3.0 version](https://beta.scratch.mit.edu/#118805754) [2.0 version](https://scratch.mit.edu/projects/118805754/#editor)  [Comparison](https://llk.github.io/scratch-gui/develop/compatibility-testing.html#118805754)  ) if you set

[2018-08-13 21:26] ericrosenbaum opened #1464 "WeDo 2.0 extension - consider using battery level in some way?"
We may want to notify the user in some way that the battery level is low

[2018-08-13 21:28] ericrosenbaum opened #1465 "WeDo 2.0 extension should hide the "play note" block"
We should keep the block implementation for legacy projects, but hide it from the blocks menu.

[2018-08-13 21:31] ericrosenbaum opened #1466 "Rename functions related to Scratch Link communication"
The aim is to make function names simpler and more consistent. This includes extension code, io code and runtime code.

[2018-08-13 21:51] kchadha commented on #1450
Some notes on the specific failures:

**ID 219549113:**
Tracking the origin for the error, it seems to be an sb2 import issue (possibly another hacked block case):
![image](https://user-images.githubusercontent.com/1786240/44156346-b5786ac8-a07d-11e8-80ac-5b1fe5fde77f.png)

Here is the custom procedure definition with the block causing the issue...
![image](https://user-images.githubusercontent.co

[2018-08-13 22:06] kchadha commented on #1458
Some notes:

- only some of the variable names in 238960387 are truly failing (others are not showing up because an earlier variable name failed). These are special characters like `<` or `>` which are HTML/XML characters, `"`, and `'`
- one part of the failure is because in the sb2 importer, we construct uids for the variables in the format `{uid for target}-{name of variable}`. These IDs need to

[2018-08-13 23:04] picklesrus commented on #1202
After reading the code for the examples in https://kaliatech.github.io/web-audio-recording-tests/dist/#/test1 and the discussions on the bugs on that page, I figured out the main problem here is that I was reusing the mediaStream.  If I call getUserMedia for every listenAndWait block, it works fine in desktop Safari (don't currently have an ipad to test with).  Tab switching is still problematic a

[2018-08-14 16:19] #1421 closed, assigned to hyperobject

[2018-08-14 18:36] #1422 closed, assigned to hyperobject

[2018-08-14 18:44] ericrosenbaum commented on #1292
Just a note for the cleanup: @chrisgarrity noticed that there is a copy-paste error. not a functional problem, just a misnamed block arg [here](https://github.com/LLK/scratch-vm/blob/f9814a5f884df836da4da8f249a27e5ea9861460/src/extensions/scratch3_ev3/index.js#L970-L983) and [here](https://github.com/LLK/scratch-vm/blob/f9814a5f884df836da4da8f249a27e5ea9861460/src/extensions/scratch3_ev3/index.js#

[2018-08-14 18:50] kchadha opened #1470 "Deleting Sprite with Local Variable Creates New Local Variable on Other Sprites"
### Expected Behavior

Deleting a sprite should delete all its local variables and they should not mysteriously appear in other sprites.

### Actual Behavior

Deleting a sprite with a local variable and then switching between sprites twice makes local variable of deleted sprite get created in all subsequent sprites. These new local variables all have the same name and ID.

[2018-08-14 19:51] evhan55 commented on #1292
@ericrosenbaum @chrisgarrity thanks for the catch!

[2018-08-14 20:21] BryceLTaylor commented on #1410
This can be seen in [this project:](https://llk.github.io/scratch-gui/develop/compatibility-testing.html#238938875)
As well as this one: 228613336

[2018-08-14 20:40] BryceLTaylor opened #1472 "Using Pen to render text sometimes results in missing letter parts"
In these two projects: 42202752 and 236281041 Text is drawn to the stage using the pen tool.  In 3.0, the some of the letters are drawn incorrectly.  It looks like it is not drawing some of the lines.
42202752:
![screen shot 2018-08-14 at 4 37 58 pm](https://user-images.githubusercontent.com/1088291/44117169-7fb33ff0-9fe0-11e8-84ba-a1ad32b2adf7.png)

236281041:
![screen shot 2018-08-14 at 4 36 48

[2018-08-14 20:48] BryceLTaylor commented on #1450
10118230
15200040

The above two projects appear to open in the comparison but not in the editor.

[2018-08-14 21:19] BryceLTaylor opened #1473 "Repeat blocks handle decimals differently in 3.0"
It appears that if you put a decimal in a repeat block (Repeat 3.5 times) in 2.0 it seems to round to the nearest integer while 3.0 seems to use floor and always round down.  You can see that in this project:
https://llk.github.io/scratch-gui/develop/compatibility-testing.html#238650956
In which I change several variables by 1 in repeat loops that all have decimals in them.

![screen shot 2018-08-

[2018-08-14 21:27] BryceLTaylor opened #1474 "Several projects are missing text when imported into 3.0"
Text in costumes of some sprites is missing in 3.0

235389000
![screen shot 2018-08-14 at 5 23 26 pm](https://user-images.githubusercontent.com/1088291/44119284-cac8862a-9fe6-11e8-9a09-21bce1d3f371.png)

237991516
![screen shot 2018-08-14 at 5 24 06 pm](https://user-images.githubusercontent.com/1088291/44119303-dde82346-9fe6-11e8-9500-71bbe41ed781.png)

93279933
![screen shot 2018-08-14 at 5 26 02

[2018-08-14 23:16] towerofnix commented on #1473
Fix is changing `Math.floor` to `Math.round` here: https://github.com/LLK/scratch-vm/blob/f9814a5f884df836da4da8f249a27e5ea9861460/src/blocks/scratch3_control.js#L52

I can make a PR if (this is labelled help-) wanted :P

Edit: Oops I accidentally made the PR (with a unit test) anyways. Sorry. #1475

[2018-08-14 23:33] towerofnix commented on #1474
This may have to do with #672 - it looks like these projects were originally created in Scratch 1.4.

[2018-08-14 23:34] picklesrus commented on #1395
I'll take this one. We need to reset the text we're looking for in the hat's edge trigger on the green flag event.  We are currently only resetting it at the beginning of a listenAndWait block.

[2018-08-15 03:07] BryceLTaylor opened #1477 "Text in costumes gets cut off sometimes in 3.0"
https://llk.github.io/scratch-gui/develop/compatibility-testing.html#138935858
![screen shot 2018-08-14 at 5 32 55 pm](https://user-images.githubusercontent.com/1088291/44119766-2577aa96-9fe8-11e8-80ed-d9d3888082a5.png)
The text in the end screen of the animation is cut off where it says "Comment Ideas down below..."

This project:
https://llk.github.io/scratch-gui/develop/compatibility-testing.ht

[2018-08-15 03:57] BryceLTaylor opened #1478 "Some When I receive show/hide stacks don't trigger in 3.0"
In this project the word Breathe appears and does not disappear.
https://llk.github.io/scratch-gui/develop/compatibility-testing.html#169401431
<img width="995" alt="screen shot 2018-08-14 at 11 28 28 pm" src="https://user-images.githubusercontent.com/1088291/44130200-52ba5f26-a01a-11e8-9103-20cfaa2acdf2.png">

The project uses broadcasting for each part and for some reason that sprite doesn't tri

[2018-08-15 11:43] #1152 closed, assigned to nobody

[2018-08-15 11:43] #1151 closed, assigned to nobody

[2018-08-15 13:02] BryceLTaylor opened #1479 "Images get truncated when imported from 2.0"
Some images get cut off on the edges when imported from 2.0

This project:
https://llk.github.io/scratch-gui/develop/compatibility-testing.html#50182430
Has a very zoomed in image of a race track that has the edge of part of the road cut off.
![screen shot 2018-08-07 at 2 34 51 pm](https://user-images.githubusercontent.com/1088291/44131137-def8d568-a01e-11e8-94bd-e0e6ca6bd942.png)

[2018-08-15 13:16] BryceLTaylor opened #1480 "Some images are blurry on the stage in 3.0"
This project
https://llk.github.io/scratch-gui/develop/compatibility-testing.html#226561187
has one sprite with a vector image that is made of a series of squares.  In the paint editor and in Scratch 2.0 the lines are clear, but on the stage in 3.0 they blur together.

![screen shot 2018-08-15 at 1 39 32 pm](https://user-images.githubusercontent.com/1088291/44163265-e6a35a00-a090-11e8-8587-7cebee2

[2018-08-15 14:57] rschamp commented on #1306
Addressed in LLK/scratch-render#314

[2018-08-15 14:57] #1306 closed, assigned to gnarf, mzgoddard

[2018-08-15 14:57] kchadha commented on #1458
Tracking in #1077

[2018-08-15 14:57] #1458 closed, assigned to nobody

[2018-08-15 16:05] fsih commented on #778
I think this might be related to tmickel's comments at https://github.com/LLK/scratch-vm/issues/591

He mentions that the issue has come up before, in repeat blocks and in wait blocks (and potentially here now). We have always worked around the problem to avoid refactor, but the "underlying problem" is, currently in Scratch 3.0, input blocks are resolved and then the resulting value is passed  to

[2018-08-15 16:49] tmickel commented on #778
Tough problem :) Another option for this particular case could be to create some kind of lock around all  blocks of one type, so that you never enter into an ask-and-wait block until others complete (instead of enqueueing the ask blocks in `Scratch3SensingBlocks`).

[2018-08-15 17:53] BryceLTaylor opened #1483 "Touching color is triggered more often in 3.0 in this project (soccer game)"
In this project:
https://llk.github.io/scratch-gui/develop/compatibility-testing.html#41536212

Each team scores more often than they should.  The project uses touching color to see if the ball is touching a block of color in the goal to determine who has scored.

I believe that touching color is sometimes being triggered on the uniforms of the players in 3.0, possibly due to the color threshold b

[2018-08-15 18:00] BryceLTaylor opened #1484 "Variable Monitors show much more precision in 3.0"
In this project:
https://llk.github.io/scratch-gui/develop/compatibility-testing.html#89410319
The monitor showing the High Score variable shows many more decimal places in 3.0 than in 2.0:
![screen shot 2018-08-07 at 10 47 21 am](https://user-images.githubusercontent.com/1088291/44164260-8cf05f00-a093-11e8-83d4-c15dc58c5035.png)

[2018-08-15 18:08] evhan55 opened #1485 "WeDo2/micro:bit block menus need localization"

[2018-08-15 18:16] kchadha commented on #1470
This issue only exists if the local variable was being monitored before the sprite was deleted.

[2018-08-15 18:21] #1423 closed, assigned to ericrosenbaum

[2018-08-15 21:26] mrjacobbloom commented on #1473
This could relate to the discussion in #202, though in this case compatibility is probably more important than consistency

[2018-08-16 15:30] evhan55 commented on #1461
Resolved by #1481

[2018-08-16 15:30] #1461 closed, assigned to evhan55

[2018-08-16 15:30] evhan55 commented on #1460
Resolved by #1481

[2018-08-16 15:30] #1460 closed, assigned to evhan55

[2018-08-16 15:30] evhan55 commented on #1455
Resolved by #1481

[2018-08-16 15:30] #1455 closed, assigned to evhan55

[2018-08-16 15:31] evhan55 opened #1488 "WeDo2 should not clear LED light on stop button"
options:
- set it back to blue
- leave it as is

[2018-08-16 15:31] evhan55 commented on #1459
Resolved by #1481

[2018-08-16 15:31] #1459 closed, assigned to evhan55

[2018-08-16 15:32] evhan55 commented on #1457
Resolved by #1481

[2018-08-16 15:32] #1457 closed, assigned to evhan55

[2018-08-16 15:32] evhan55 commented on #1454
Resolved by #1481

[2018-08-16 15:32] #1454 closed, assigned to evhan55

[2018-08-16 15:33] evhan55 opened #1489 "WeDo2 set light color block should wrap values to 0-100"

[2018-08-16 15:33] evhan55 commented on #1380
@ericrosenbaum should we consider this resolved?

[2018-08-16 15:33] LiFaytheGoblin opened #1490 "Switch costume/backdrop to boolean value switches to costume nr. 0 or 1"
### Expected Behavior

Using a switch costume or backdrop to block with a parameter that is a boolean block in 2.0 will switch to a backdrop or costume named 'true' or 'false'. It should do the same in 3.0.

### Actual Behavior

In 3.0, it switches to the costume/backdrop number 0 (last costume/backdrop) or 1.

### Steps to Reproduce
Found in 86981455
See project 239254767 for a simple example (th

[2018-08-16 16:19] evhan55 opened #1491 "WeDo2 should use 'startNotifications' over BLE instead of 'read'"
Using the new Scratch Link

[2018-08-16 16:21] evhan55 commented on #1488
@ntlrsk @ericrosenbaum Should this stay the same color or go back to blue?

[2018-08-16 17:07] ericrosenbaum commented on #1488
I think it should stay the same color

[2018-08-16 18:18] evhan55 commented on #1491
Make sure to be backwards compatible:

- try 'startNotifications'
- then try 'read' with 'startNotifications' flag
- then catch OSX and Windows errors

[2018-08-16 20:48] joker314 commented on #1490
In Scratch 2.0, here was the algorithm (it's a little quirky):

- If the argument is of type number (and not just pretending to be one), treat it as an index
  - `switch backdrop to (1)` is a **string**, not a number. This does not apply to it.
  - `switch backdrop to ((0) + (1))` is a **number**, so this rule _would_ apply.
  - If the number is **NaN** or **Infinity**, treat it as the first costu

[2018-08-16 21:04] Mr-Dave2 commented on #1473
Dup of  Repeat block treats its argument differently than in Scratch 2.0 #1083

[2018-08-16 21:28] #1470 closed, assigned to nobody

[2018-08-16 22:55] joker314 commented on #1490
In Scratch 2.0,

`switch background to (0 - 1000)`

Is worse than a `wait 1000000 seconds`. It prevents _any other block_ from finishing/doing its action (but if a loop was started before you initiated the attempted backdrop change, that loop will function as normal even after the "hang", which is very unique behaviour).

Do we want to preserve this bug for compatibility? It seems very unintuitive

[2018-08-16 23:32] joker314 commented on #1490
I believe these are some (additional?) issues:

- 2.0 hanging bug exists
- `switch backdrop to [previous backdrop]` must still go the previous backdrop, even if there's another backdrop that's called "previous backdrop" (it doesn't)
- `switch backdrop to [next backdrop]` must still go the next backdrop, even if there's another backdrop that's called "next backdrop" (it doesn't)

**EDIT**: I'd be h

[2018-08-16 23:52] joker314 commented on #1490
The fix might require a little bit of refactoring. In Scratch 2.0, `set backdrop to [next costume]` and `set costume to [next backdrop]` were no-ops (unless there were costumes/backdrops with those names).

In Scratch 3.0, "next backdrop" in a costume block (etc.) works correctly. I don't think this is correct.

The aforementioned difference that is caused by the private function `_setCostumeOrBac

[2018-08-17 15:40] evhan55 opened #1492 "WeDo2 use of `startNotifications` should be backwards compatible"
To make backwards compatible:

try 'startNotifications'
then try 'read' with 'startNotifications' flag
then catch OSX and Windows errors

[2018-08-17 16:13] evhan55 commented on #1371
@BryceLTaylor is this still happening for you?

[2018-08-17 16:21] evhan55 commented on #1363
Could no longer reproduce, so closing because it might be resolved.

[2018-08-17 16:21] #1363 closed, assigned to evhan55

[2018-08-17 16:22] evhan55 commented on #1295
@ericrosenbaum Should we consider this closed and open new issues as specific cases come up?

[2018-08-17 17:33] LiFaytheGoblin commented on #1450
662083

has not such a complicated/big script, still crashes.

error message:
<img width="558" alt="screen shot 2018-08-17 at 1 32 42 pm" src="https://user-images.githubusercontent.com/5471273/44280215-1170e800-a222-11e8-9a08-c939f5097acb.png">

MacOS, Chrome

[2018-08-17 18:04] ericrosenbaum opened #1495 "Edge-triggered hat only triggers in duplicated sprite, not original"
### Expected Behavior

Hat blocks should always trigger as expected, even after duplicating sprites.

### Actual Behavior

Using the hat blocks in the micro:bit extension, which are edge-triggered hats, if I create a stack triggered by the "when button pressed" hat, and then duplicate the sprite, the hat only fires when I press the button in the newly duplicated sprite, not the original.

This pro

[2018-08-17 18:04] ericrosenbaum commented on #1495
cc @khanning @cwillisf @kchadha this is not specific to the extension, but happens with all edge-triggered hats

[2018-08-17 18:12] ericrosenbaum opened #1496 "Putting a reporter block in another block then reloading workspace causes crash"
### Expected Behavior

It should be safe to make copies of my mathematicses.

### Actual Behavior

If you nest a reporter inside of another reporter (e.g. using operator blocks), then duplicate it, and switch to the costumes tab and back, it crashes with `Shadow block cannot be a top-level block.`

### Steps to Reproduce

- Drag out a `+` block and nest another `+` block inside it
- Duplicate it
-

[2018-08-17 20:37] kchadha commented on #1450
@LiFaytheGoblin, that project that you mentioned there is actually a Scratch 1.4 project. We don't support importing those yet.

[2018-08-18 22:26] AmazingMech2418 commented on #1496
I'm pretty sure that would be in scratch-gui or scratch-blocks...

[2018-08-18 22:29] AmazingMech2418 commented on #1496
https://github.com/LLK/scratch-blocks/blob/698af3fcbb5e18a0e32cc2ead7713b77e20c809b/core/xml.js#L467

[2018-08-18 22:34] AmazingMech2418 commented on #1496
It's also not just if it is duplicated. I think the problem is that shadows for the blocks are appearing above the block it is nested into. Even reporters inside of stacks throw the error.

[2018-08-20 02:09] #1489 closed, assigned to evhan55

[2018-08-20 02:09] #1491 closed, assigned to evhan55

[2018-08-20 02:09] #1488 closed, assigned to evhan55

[2018-08-20 12:58] amylh opened #1499 "Comments attached to custom block definitions in 2.0 do not attach to correct blocks in 3.0"
### Expected Behavior

In Scratch 3.0, comments should attach to the same blocks as in the 2.0 version of the project.

### Actual Behavior

Comments attached to custom block definitions in 3.0 are attached to the wrong blocks, usually the blocks below the correct ones.

### Steps to Reproduce

Open any project containing comments attached to custom block definitions. Compare the comments in 2.0 a

[2018-08-20 13:08] towerofnix commented on #1499
I would venture to guess this might have to do with importing comments which are attached to custom block definitions.

[2018-08-20 13:35] #1328 closed, assigned to gnarf, mzgoddard

[2018-08-20 13:35] thisandagain commented on #1328
Resolved in https://github.com/LLK/scratch-vm/pull/1335

[2018-08-20 13:46] thisandagain commented on #1418
Yeah. This kind of stuff with emoji is always a little tricky. Luckily, there are a few NPM packages that have already done the legwork for handling this that we may want to consider:

https://www.npmjs.com/package/emoji-aware

[2018-08-20 13:56] thisandagain commented on #1424
/cc @ericrosenbaum @kchadha

[2018-08-20 14:07] thisandagain commented on #1425
/cc @kchadha @rschamp

[2018-08-20 14:09] thisandagain commented on #1426
We currently do not have plans to support Scratch Link on Linux, but would be very happy to review a community lead submission once the source code for Scratch Link is available as open source. Thanks!

[2018-08-20 14:18] LiFaytheGoblin commented on #1433
Another one: 216897461

[2018-08-20 14:24] thisandagain commented on #1428
@chrisgarrity Any thoughts on this?

[2018-08-20 14:32] thisandagain commented on #1429
Hi @micircle. Unfortunately I can't quite understand what you are asking here. Can you please use the issue template? https://github.com/LLK/scratch-vm/blob/develop/.github/ISSUE_TEMPLATE.md

[2018-08-20 14:32] thisandagain commented on #1430
@BryceLTaylor Can you please attempt a repro?

/cc @kchadha

[2018-08-20 14:42] kchadha commented on #1430
@ascii, @BryceLTaylor I just submitted a fix for this in #1486 which should have landed on beta on Friday

[2018-08-20 14:43] #1430 closed, assigned to BryceLTaylor

[2018-08-20 14:48] amylh opened #1500 "Inconsistent behavior with "touching (mouse-pointer)" block"
### Expected Behavior

In the example project below, each of the buttons should 'pop' (i.e. grow to a certain size) when touching the mouse-pointer, and shrink (back to a certain size) otherwise.
See https://scratch.mit.edu/projects/165201011/ for an example.

### Actual Behavior

In 3.0, unless extra blocks are included in the script, the buttons do not react to the mouse-pointer.
In the example,

[2018-08-20 14:57] joker314 commented on #1418
In JavaScript, the juggling emoji is two characters (a "surrogate pair").

[code]

The two characters it's made from actually aren't two halves of the byte. Instead, they're determined through mathematical formulae. (There are entire Unicode blocks for high and low surrogate pairs).

Emojis can be longer than 2 characters, though, for example: modifiers (to determine skin tone, gender, direction,

[2018-08-20 15:00] #1353 closed, assigned to evhan55

[2018-08-20 15:00] #1358 closed, assigned to evhan55

[2018-08-20 15:00] #1373 closed, assigned to evhan55

[2018-08-20 15:03] joker314 commented on #1418
Yup.

![Length of juggling emoji block results in 2](https://user-images.githubusercontent.com/18113170/44348410-feb91600-a4a2-11e8-99da-3cac6bdc6620.png)

[2018-08-20 15:04] joker314 commented on #1418
Yup.

![Length of juggling emoji block results in 2](https://user-images.githubusercontent.com/18113170/44348410-feb91600-a4a2-11e8-99da-3cac6bdc6620.png)

[2018-08-20 15:07] ericrosenbaum commented on #1465
Resolved by https://github.com/LLK/scratch-vm/pull/1487

[2018-08-20 15:07] #1465 closed, assigned to ericrosenbaum

[2018-08-20 15:13] ericrosenbaum commented on #580
No longer a problem!

[2018-08-20 15:13] #580 closed, assigned to ericrosenbaum

[2018-08-20 15:18] kchadha opened #1501 "Monitor Save/Load"
### Expected Behavior

Monitor state should be saved and loaded.
E.g.
- position on stage,
- mode (big, slider, slider min/max)

### Actual Behavior

It isn't yet.

[2018-08-20 15:31] AmazingMech2418 commented on #1472
I think it may be a problem with the pen down/up blocks...

[2018-08-20 15:44] kchadha opened #1502 "Restored sprites, costumes, and sounds should get put back in their original position"
Though the current behavior of a  restored sprite/costume/sound getting added to the end of the respective sprite/costume/sound list matches 2.0 behavior, it was noted by multiple people in multiple smoke tests that it should get added back in its original position.

[2018-08-20 17:36] joker314 commented on #1418
Yup.

![Length of block returns 2 for juggling emoji](https://user-images.githubusercontent.com/18113170/44356672-aab92c00-a4b8-11e8-819a-de6fb9be9132.png)

[2018-08-20 17:46] thisandagain commented on #1436
@cwillisf @ericrosenbaum If I remember correctly we do not yet have a way of doing block separators in extensions. Can you confirm?

[2018-08-20 17:48] kyleplo commented on #1436
@thisandagain There is a way: https://github.com/LLK/scratch-vm/blob/develop/src/extensions/scratch3_microbit/index.js#L691

[2018-08-20 17:56] thisandagain commented on #1444
/cc @ericrosenbaum @evhan55

[2018-08-20 17:57] thisandagain commented on #1445
/cc @ericrosenbaum @evhan55

[2018-08-20 18:01] thisandagain commented on #1446
/cc @ericrosenbaum @evhan55

[2018-08-20 18:02] thisandagain commented on #1447
/cc @evhan55 @ericrosenbaum

[2018-08-20 18:04] thisandagain commented on #1436
@ericrosenbaum Can you advise on where/if you would like block separators?

[2018-08-20 18:08] thisandagain commented on #1448
This is actually a bit of confusion / lack of clarity of how the motor and power blocks work using the EV3. Essentially "set power" will only affect subsequent motor commands due to limitations within the EV3's firmware. I'm going to close this, but this is certainly something we will continue to discuss.

[2018-08-20 18:08] #1448 closed, assigned to nobody

[2018-08-20 18:08] thisandagain commented on #1448
/cc @evhan55 @ericrosenbaum

[2018-08-20 18:23] thisandagain commented on #1462
/cc @fsih

[2018-08-20 18:23] thisandagain commented on #1462
/cc @cwillisf

[2018-08-20 18:29] thisandagain commented on #1472
/cc @kchadha @cwillisf

[2018-08-20 18:30] thisandagain commented on #1473
Tracking in https://github.com/LLK/scratch-vm/issues/1083. @towerofnix I added "help wanted" to that issue. :-)

[2018-08-20 18:30] #1473 closed, assigned to nobody

[2018-08-20 18:31] thisandagain commented on #1474
Confirmed. Tracking in https://github.com/LLK/scratch-vm/issues/672

[2018-08-20 18:31] #1474 closed, assigned to nobody

[2018-08-20 18:32] thisandagain commented on #1477
This is a pretty common complaint we are seeing in the forums. Flagging for discussion.

[2018-08-20 18:32] towerofnix commented on #1473
@thisandagain Ah right, updated the PR so it auto-closes that issue once it's merged!

[2018-08-20 18:40] fsih commented on #1462
I think I've seen this before in https://github.com/LLK/scratch-render/issues/236

[2018-08-20 18:44] thisandagain commented on #1462
Thanks @fsih. Tracking in https://github.com/LLK/scratch-render/issues/236

[2018-08-20 18:44] #1462 closed, assigned to thisandagain, fsih, cwillisf

[2018-08-20 18:47] thisandagain commented on #1478
/cc @kchadha @rschamp

[2018-08-20 19:28] thisandagain commented on #1485
/cc @chrisgarrity

[2018-08-20 19:53] thisandagain commented on #1499
/cc @kchadha

[2018-08-20 19:54] thisandagain commented on #1500
@BryceLTaylor Do you mind creating a minimal repro of this?

/cc @kchadha @rschamp

[2018-08-20 20:43] evhan55 opened #1504 "WeDo2: Distance sensor not being cleared on device disconnect"

[2018-08-20 20:47] evhan55 opened #1505 "WeDo2 motor power between 0-30ish doesn't power the motor"

[2018-08-20 20:58] evhan55 commented on #1456
From smoke test:
- LED doesn’t stop flashing when you press the ‘stop’ button, after using ‘forever > set LED color to random’
- “Forever set motor power” will cause the wedo to become unresponsive (much like “forever set light color”)
- Turbo mode breaks things?

[2018-08-20 21:07] ericrosenbaum opened #1506 "WeDo2 could not re-connect after disconnect due to mac sleep"
### Expected Behavior

After disconnecting from the WeDo (due to the laptop going to sleep), it should be possible to reconnect.

### Actual Behavior

After the mac woke up from sleep, the WeDo was disconnected but I was not able to reconnect.

### Steps to Reproduce

- Connect to a WeDo 2.0
- Put the computer to sleep for several minutes by closing it
- Wake it up
- Note that sensor values (e.g.

[2018-08-20 21:10] ericrosenbaum commented on #1506
cc @cwillisf we're not sure what's happening here, but we were able to repro it- let us know if you have any ideas!

[2018-08-20 21:12] ericrosenbaum opened #1507 "Edge triggered hats can trigger continuously after duplication"
### Expected Behavior

An edge-triggered hat (such as "when tilted left") should trigger a stack to run once, at the moment the tilt value crosses the threshold in that axis.

### Actual Behavior

If you duplicate a sprite with an edge triggered hat, then change the input on the duplicated hat, both hats will now trigger 30 times per second, instead of once.

In the gif below, at first with just o

[2018-08-20 21:17] evhan55 commented on #1492
Possibly need to separate out the Windows error on `read` if it ever gets added to Scratch Link

[2018-08-20 22:16] evhan55 opened #1508 "Hardware Extensions: Add TaskQueue to microbit"
microbit

[2018-08-20 22:58] joker314 commented on #1418
A cool thing is Array.from() which utilises the feature that JavaScript's strings are iterators which handle surrogate pairs automatically.

[code]

This then gives one the ability to find characters by index, as well as to compute length.

However, there are some weird things. The female astronaut emoji 👩‍🚀 can be created by combining the woman emoji 👩 and a rocket 🚀 using a zero-width joiner. So

[2018-08-21 02:48] Robomandude commented on #1410
It should be noted that this issue also affects note blocks from the music extension.

[2018-08-21 15:06] BryceLTaylor commented on #1500
This appears to be unrelated to clones entirely.  It seems to be a problem only with the touching mouse pointer block, but only if it's on the mouse-pointer option.  I repeated it with just the cat in this project:
https://beta.scratch.mit.edu/#239837384

The green cat has a `move 0 steps` block after it runs and you can mouse over it.  The red cat (which is another sprite) does not. However, if y

[2018-08-21 15:06] evhan55 opened #1510 "WeDo2 stop button gives console error if device not connected"

[2018-08-21 15:20] ericrosenbaum commented on #1496
thanks @amazinigmech2418 - I think you're right that it is not related to duplication, so it's even more severe (i.e. more likely or more frequent). The crash exists on beta. all you have to do is put a reporter into a command block, and switch to costumes and back:

![reporter-crash](https://user-images.githubusercontent.com/567844/44411270-1ee4e580-a534-11e8-948d-fa37a4c79d24.gif)

[2018-08-21 16:58] #1083 closed, assigned to nobody

[2018-08-21 17:53] AmazingMech2418 commented on #1472
Can reproduce on Windows 10 and Chrome.

[2018-08-21 19:42] BryceLTaylor commented on #1478
Related to this issue: https://github.com/LLK/scratch-vm/issues/1053

Also, note this project:
https://llk.github.io/scratch-gui/develop/compatibility-testing.html#239873312

<img width="978" alt="screen shot 2018-08-23 at 1 50 40 pm" src="https://user-images.githubusercontent.com/1088291/44542690-8ee1a000-a6db-11e8-9a96-911ec2207941.png">

[2018-08-21 21:08] TheLogFather commented on #1490
For the sake of completeness, helping to ensure that issues get linked up for easier reference in the future, I'll link this here (it's the github issue for the backdrop modulo bug in the Scratch 2 code that can cause an exception in the player, leading to the hang):
https://github.com/LLK/scratch-flash/issues/1321

I'm not aware of any projects that actually make use of this bug (and I would be r

[2018-08-21 21:21] joker314 commented on #1418
("character" means "JavaScript string of length 1")

**summary**: almost all modern languages are not affected by this bug. Lots (hopefully most common) Chinese, Japanese, and Korean characters are not affected. Other Chinese, Japanese, and Korean characters _are_ affected.

Unicode is split into 17 planes. "Plane 0" (or BMP - Basic Multilingual Plane) contains most modern scripts. (The below list

[2018-08-21 21:35] chrisgarrity commented on #1428
We have other definitions for obsolete blocks in the scratch-blocks messages file. However this one is an oddball because we have the same block (and same message), but just without the menu. We may just need to add new messages for the alternate form of the block and a menu, but I think I'd need to understand how the 2.0 import works to know for sure if that'll work.

[2018-08-22 17:52] kchadha opened #1513 "Timer monitor does not import correctly."
### Expected Behavior

Timer monitor should get imported from 2.0 project.

### Actual Behavior

Timer monitor does not get imported correctly from 2.0 project.

### Steps to Reproduce

1. Open a 2.0 project
2. Click the checkbox in the toolbox for the timer monitor.
3. Save the project
4. Open the project in 3.0, and observe that there is a monitor that says "timer" on the stage, but it is empty,

[2018-08-22 18:48] BryceLTaylor opened #1514 "Monitors for local variables should not wrap"
Monitors for long variable names should not wrap onto new lines like in 2.0.  They should also be able to go off the edge of the screen, like in 2.0

![monitorlongvariablename](https://user-images.githubusercontent.com/1088291/44483803-0b13af00-a61a-11e8-8eb3-71c9f98a6341.gif)

In 3.0 they wrap onto multiple lines and should not.  They also snap to the edge of the screen and can not go off the edg

[2018-08-22 19:53] #1456 closed, assigned to ericrosenbaum, evhan55

[2018-08-22 19:54] rachel-fenichel commented on #1496
Loading the same stack in the vertical playground (create it, export to xml, clear or refresh, import from XML) doesn't have this problem, so I'm guessing there's a fun interaction with how the vm tracks shadow blocks when blockly is ignoring them.

[2018-08-22 20:14] evhan55 opened #1519 "WeDo2: Warn user to download latest Scratch Link in case of connection errors? (In various troubleshooting UI)"
WeDo2 extension does not work with **Scratch Link API 1.0**, it only works with **Scratch Link API 1.1** and above.  In the case of a user using Scratch Link API 1.0, the error modal might try to give some suggestions, such as:

- Make sure you have the latest Scratch Link
- Make sure Scratch Link is running
- Make sure bluetooth is on
- Check batteries

The WeDo2 landing pages / help pages should

[2018-08-22 20:31] #1504 closed, assigned to evhan55

[2018-08-22 20:31] #1510 closed, assigned to evhan55

[2018-08-22 20:33] BryceLTaylor opened #1520 "Hacked Block: A variable reporter dropped into a non-droppable block doesn't run like in 2.0"
In Scratch 2.0 you could drop a variable into a non-droppable block, such as in the list name in the `item _ of [list name]`  and `length of [list name]` blocks.
![hackedblocklengthof2](https://user-images.githubusercontent.com/1088291/44487640-c7727280-a624-11e8-953b-90c1013e01d3.png)
![hackedblockitem_of2](https://user-images.githubusercontent.com/1088291/44489029-5634be80-a628-11e8-9106-92cc280

[2018-08-22 20:42] BryceLTaylor commented on #1520
Thanks to @mr-dave2 for helping track this one down.

[2018-08-22 20:42] joker314 commented on #1520
This might be tracked in #1030

[2018-08-22 21:23] kchadha commented on #1496
@rachel-fenichel, you're right. The VM is definitely doing something weird with shadow blocks. The XML that's being emitted for a `move (x position) steps` stack has two shadow blocks, one in the right place (consistent with the XML for the same stack in the vertical playground) and one shadow block at the same level as the move steps block... I will file a separate issue for this...

[2018-08-22 21:30] #1404 closed, assigned to kchadha

[2018-08-22 21:45] #1492 closed, assigned to evhan55

[2018-08-22 22:04] ericrosenbaum opened #1521 "WeDo2 motor does not work until re-plugged in on Windows"
### Expected Behavior

If you connect to a WeDo 2. 0 that already has a motor plugged in, the motor blocks should work.

### Actual Behavior

On Windows, if you have a WeDo 2.0 with a motor already plugged in to one of the ports, the motor blocks do not work. If you unplug and the re-plug in the motor, it will work. The sensor inputs work as expected.

### Steps to Reproduce

- Plug a motor into y

[2018-08-22 23:10] #1496 closed, assigned to thisandagain

[2018-08-23 18:05] #1452 closed, assigned to kchadha

[2018-08-23 21:08] evhan55 opened #1523 "WeDo2 motor blocks do not work correctly with two motors plugged in"
regression

[2018-08-24 00:37] apple502j opened #1525 "Missing micro:bit features"
These are in MakeCode but not in Scratch 3.

* (temperature)
* (compass)
* (acceleration)
* (magnetic force)
* plot/unplot () () - It's so hard to make a binary number just for flashing ONE CELL.
* (point () ())
* set brightness ()
* (brightness)

### Steps to Reproduce
Open MakeCode https://makecode.microbit.org/ and Scratch 3.0 with micro:bit extension.

### Operating System and Browser
any, sin

[2018-08-24 00:42] apple502j opened #1526 "Hiragana and Katakana are equal!?"
### Expected Behavior
They shouldn't be equal. It's not capitalization, and they are different letters.

### Actual Behavior
あ = ア

### Steps to Reproduce
Use block <(あ) = (ア)>

### Operating System and Browser
Windows 10, Firefox 61.0.2

[2018-08-24 01:10] apple502j commented on #1526
I can definitely say this -  scratch-vm/src/util/cast.js Lie 121
It is localeCompare that makes the problem.

[2018-08-24 01:26] joker314 commented on #1526
@apple502j you say "definitely", but `"あ".localeCompare("ア")` results in `-1`, which is not 0 -- a sign of inequality. Do you have some evidence to suggest the contrary?

[2018-08-24 02:09] joker314 commented on #1526
Unable to reproduce with Chrome on Windows on https://beta.scratch.mit.edu. Upon clicking, the block shows a bubble with the text "false".

[2018-08-24 02:19] towerofnix commented on #1526
@joker314 Likewise here on Firefox 62.0b19 / Linux:

![The "=" block with the appropriate inputs and a "false" output bubble](https://user-images.githubusercontent.com/9948030/44561388-fa069300-a72a-11e8-8e0e-d0d24f5d80ce.png)

[2018-08-24 03:47] Kenny2github commented on #1526
Chrome 68.0.3440.106 Windows 10.0.17134.228
![image](https://user-images.githubusercontent.com/28599280/44563984-66b57800-a793-11e8-91bf-9c682245b243.png)

[2018-08-24 04:46] apple502j commented on #1526
@joker314 @towerofnix @Kenny2github I also found why you can't reproduce - It is a problem when you use Firefox in Japanese. The second argument of localeCompare is missing, so it uses your browser's language first.

Example:
When I ran `"あ".localeCompare("ア","en")`, it returned -1.
But when I ran `"あ".localeCompare("ア","ja")` it returned 0

I set the browser language to Japanese, so the default i

[2018-08-24 08:53] joker314 commented on #1526
https://help.adobe.com/en_US/FlashPlatform/reference/actionscript/3/String.html#localeCompare()

I believe it's the same as `<` and `>`, because ECMA prescribes that as the fallback when locale-based sorting is unsupported. However, I might be completely mistaken!

[2018-08-24 17:50] LiFaytheGoblin commented on #1514
Also in 216897461

[2018-08-24 19:25] kchadha opened #1529 "Restoring a costume or sound should switch to corresponding editor"
### Expected Behavior

Restoring a costume or sound while not in the corresponding (costume/sound) tab, should switch back to the correct tab.

### Actual Behavior

It currently doesn't. The sound/costume does get imported though.

### Steps to Repro:
1. Delete a sound
2. Go to code tab
3. Undelete sound with the edit menu
4. Currently you stay in the code tab on undelete, but it should navigate y

[2018-08-24 20:10] #1521 closed, assigned to ericrosenbaum, evhan55

[2018-08-24 21:15] kchadha opened #1530 "VM is generating extra shadow blocks at the top level when serializing workspace to XML."
The behavior described in the title causes errors when the XML is parsed by scratch-blocks.
This was the problem behind the regression in #1496.

Steps to reproduce (while *locally* testing gui):
1. Drag out a command block with a reporter input.
2. Plug in a reporter.
3. Switch to the stage
4. Put a breakpoint at the end of the `emitWorkspaceUpdate` function in src/virtual-machine.js
5. Switch ba

[2018-08-27 15:10] #1395 closed, assigned to picklesrus

[2018-08-27 18:56] thisandagain commented on #1526
/cc @chrisgarrity

[2018-08-27 18:56] thisandagain commented on #1526
/cc @kchadha

[2018-08-27 18:57] thisandagain commented on #1513
/cc @rschamp @mzgoddard

[2018-08-27 19:18] thisandagain commented on #1520
Tracking in https://github.com/LLK/scratch-vm/issues/1030

[2018-08-27 19:18] #1520 closed, assigned to nobody

[2018-08-27 19:50] ericrosenbaum commented on #763
fixed!

[2018-08-27 19:50] #763 closed, assigned to ericrosenbaum, cwillisf

[2018-08-27 19:58] ericrosenbaum commented on #572
fixed!

[2018-08-27 19:58] #572 closed, assigned to ericrosenbaum, cwillisf

[2018-08-27 19:59] #615 closed, assigned to ericrosenbaum, cwillisf

[2018-08-27 20:46] ericrosenbaum commented on #1523
When two motors are plugged in, the following things currently do not work correctly:
- Motor blocks with the "motor" or "all motors" option selected should affect both motors (this affects all five motor blocks)
- The stop button should stop both motors

[2018-08-27 20:49] ericrosenbaum opened #1531 "Wedo2 sometimes drops commands"
### Expected Behavior

All blocks that send commands to the WeDo 2.0 should take effect, including turning motors on and off, setting their direction and power, and setting the light color.

### Actual Behavior

While a forever loop is running that sends a steady stream of commands (such as forever set light color to random), clicking on a motor block to turn it on will sometimes not work.

We bel

[2018-08-27 21:28] ericrosenbaum opened #1532 "Add new hat block "when this sprite touches""
There's already code in the VM to support this new hat block, but adding it will require resolving these issues:

- [ ] https://github.com/LLK/scratch-gui/issues/2301 Should we re-trigger the "When Touching" hat while it's running?
- [ ] https://github.com/LLK/scratch-vm/issues/1220 "when touching" hat gets "stuck on" when used with clones
- [ ] https://github.com/LLK/scratch-gui/issues/2300 Touch

[2018-08-27 21:35] evhan55 commented on #1523
Related to #1531

[2018-08-28 14:07] griffpatch opened #1534 "Recursive Boolean Parameter Bug"
This is a VM bug in custom blocks - and took some tracking down! ;)

### Expected Behavior

When calling a custom procedure (custom block) recursively, the boolean parameter values should be correctly passed in, even if the value is an empty value (falsey). The values should be set to false, not left as true.

### Actual Behavior

"Empty" boolean parameters evaluate to the true state when called r

[2018-08-28 17:53] ericrosenbaum commented on #1295
@evhan55 yup, closing this one

[2018-08-28 17:53] #1295 closed, assigned to ericrosenbaum, evhan55

[2018-08-28 18:28] ericrosenbaum commented on #1202
Fixed by https://github.com/LLK/scratch-vm/pull/1467

[2018-08-28 18:28] #1202 closed, assigned to ericrosenbaum, picklesrus

[2018-08-28 18:40] ericrosenbaum opened #1535 "text2speech extension should trim input to 128 chars"
The server currently ignores input that is longer than this limit, so we should trim anything longer than that before sending.

[2018-08-28 18:42] ericrosenbaum opened #1536 "text2speech voice should be louder"
We should make the sounds produced by the text2speech extension somewhat louder, to match the typical level of Scratch sound library sounds.

[2018-08-28 18:58] evhan55 opened #1537 "Microbit: `setInterval` should be `setTimeout`"
The `setInterval` used for auto-disconnecting should probably be a `setTimeout` instead

[2018-08-28 19:24] thisandagain commented on #1534
/cc @rschamp @mzgoddard @cwillisf

[2018-08-28 19:26] thisandagain commented on #1537
/cc @ericrosenbaum

[2018-08-28 19:51] thisandagain commented on #1440
/cc @rschamp @mzgoddard

[2018-08-28 20:08] ericrosenbaum opened #1538 "wedo2 "set motor direction" block sometimes stops the motor"
### Expected Behavior

The WeDo 2.0 "set motor direction" block should never stop the motor.

### Actual Behavior

Sometimes you can get the extension into a state where the "set motor direction" block stops the motor.

### Steps to Reproduce

Click these three blocks in order:
- turn motor on for 1 sec
- (wait for this block to finish)
- turn motor on
- set motor direction to reverse

The motor w

[2018-08-28 20:10] ericrosenbaum commented on #1538
I think the problem is that, when the "reverse" block runs, the motor object still has a value set for _pendingTimeoutDelay (which should have been cleared earlier). It tries to calculate the remaining time in the delay, but it ends up being negative, so it stops the motor.

[2018-08-29 13:42] LiFaytheGoblin commented on #672
Also visible in 2327569

[2018-08-29 13:51] LiFaytheGoblin opened #1541 "Vector text helvetica not appearing"
### Expected Behavior

In a 2.0 project (shared 6 Oct 2016, making use of vector editor), there are costumes with numbers in vector format. Most are in helvetica, the nine is in gloria. I would expect any costume to appear in 3.0 the way it appeared in 2.0.

### Actual Behavior

The helvetica numbers don't appear. The gloria number does. The issue #672 also has disappearing text, but for pixel gra

[2018-08-29 14:33] LiFaytheGoblin opened #1542 "Timing of calling clear block is off"
In this project: 59886728, the sun is not visible in 3.0. See the screenshot: When I remove the clear block from the script stack in the picture (it was before the first custom block), it shows that the sun gets drawn. Apparently without my modifications it might be cleared too quickly or at the wrong time. Other pen stuff renders well in this project.
So this could be an issue with: The broadcast

[2018-08-29 14:35] LiFaytheGoblin commented on #1542
Render is called at
<img width="722" alt="screen shot 2018-08-29 at 10 35 14 am" src="https://user-images.githubusercontent.com/5471273/44794802-4280df00-ab77-11e8-9af5-c3a0d2afc0ec.png">

[2018-08-29 14:38] LiFaytheGoblin commented on #1542
and further down in the same script
<img width="548" alt="screen shot 2018-08-29 at 10 37 23 am" src="https://user-images.githubusercontent.com/5471273/44794956-9b507780-ab77-11e8-8cac-4b733eb9a67a.png">

[2018-08-29 14:52] fsih commented on #1541
The numbers 0 through 8 are opening in the bitmap editor

[2018-08-29 16:07] LiFaytheGoblin commented on #1541
Interesting. In 3.0 they open in the bitmap editor but empty, in 2.0 they open in the vector editor, editable (for me)

[2018-08-29 16:54] evhan55 opened #1543 "EV3 motor block menu inputs not limited correctly"
### Expected Behavior

- make variable with value 'C'
- put variable into `motor (C) turn this way for '1' seconds`
- should make motor 'C' turn

### Actual Behavior

- motor 'A' turns instead

### Steps to Reproduce

(see above)

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_

### Notes

Internally, make menu args A/B/C/D instead of 0/1/2/3

[2018-08-29 18:09] LiFaytheGoblin opened #1544 "Touching color not working when sprite is off stage"
### Expected Behavior

In 2.0, when a sprite is partly off stage and touching parts of the stage that are there, but also not visible because they are off stage, the touching color block still detects the color being touched. This doesn't work in 3.0.

I think someone said that this won't be compatible in the future because auf speed issues.

### Steps to Reproduce

117737458

### Operating System

[2018-08-29 19:17] evhan55 opened #1545 "Remove 'Scratch Device Manager' object from the list of 'io Devices'"
If Scratch Device Manager is no longer used, it should be removed entirely.

[2018-08-29 19:46] LiFaytheGoblin commented on #1283
Related to this is how the effect should behave if it is at the 'edge', like in this case:
<img width="976" alt="screen shot 2018-08-29 at 3 45 16 pm" src="https://user-images.githubusercontent.com/5471273/44811407-a53ba000-aba2-11e8-9d56-d14b122bda72.png">

Project 242576633

[2018-08-29 20:07] LiFaytheGoblin opened #1546 "Say block text rendered differently"
### Expected Behavior
Well, sometimes it is not so good that the speech bubbles in 3.0 are different than in 2.0... Eg in this cool game which it breaks completely.

### Actual Behavior
<img width="978" alt="screen shot 2018-08-29 at 4 05 31 pm" src="https://user-images.githubusercontent.com/5471273/44812543-812d8e00-aba5-11e8-8fd4-3dbb2897202f.png">

### Steps to Reproduce
119801057

### Operatin

[2018-08-29 20:11] LiFaytheGoblin commented on #904
This also affects the wait block, it might be related. See 134129247 (costume changes faster in 3.0)

[2018-08-29 20:36] ericrosenbaum opened #1547 "Use token bucket style rate limiting in the micro:bit extension"
We should try replacing the current simple rate limiting approach in the micro:bit extension (while sending, drop other messages) with one based on the token bucket strategy, as we did for the WeDo [here](https://github.com/LLK/scratch-vm/pull/1540).

I expect this to improve the behavior of the LED display blocks, especially when rapidly sending them.

[2018-08-29 21:38] #1523 closed, assigned to ericrosenbaum, evhan55

[2018-08-29 21:38] #1531 closed, assigned to ericrosenbaum, evhan55

[2018-08-30 14:26] evhan55 commented on #1508
@ericrosenbaum Currently, any op-code yielding in the EV3 is done in the extension functions, not at the op codes / blocks functions.  This should probably be addressed/fixed whenever rate limiting is added to the EV3.

[2018-08-30 15:00] ericrosenbaum opened #1548 "In microbit extension, should the stop button clear the display?"
Currently, the stop button does not clear the microbit's LED display. We should consider making it do that.

[2018-09-02 19:39] fortuik commented on #1426
Hi, maybe I wasn't clear enough - The "Scratch Link" is not required for Linux, as the Google Chrome for Linux already provides the required functionality.
Following the described "Steps to Reproduce" the BT connection to Micro:Bit worked with the pre-beta on Linux.

[2018-09-04 14:03] iburning opened #1553 "How can i get a png from the canvas"
### Expected Behavior

I want to get the blob by using canvas.toBlob()

### Actual Behavior

But i got different size of blob every time. Sometime the blob is right size and can be convert to an image.

### Steps to Reproduce

I think, the canvas is rendering frequently, so i can not get the correct blob.

### Operating System and Browser

I use firefox 61.0.1 @ ubuntu 18

[2018-09-04 15:49] BryceLTaylor commented on #1408
I think what's happening here is that dropping the duplicated block clicks the stack, toggling it on or off.  Also, it only clicks it if you click on top of or below a block in the stack.  If the mouse cursor is to the side of the stack it won't toggle it's running state.

![clickstack](https://user-images.githubusercontent.com/1088291/45042380-8e7cc980-b038-11e8-9640-1e247d49ab4b.gif)

[2018-09-04 15:51] BryceLTaylor commented on #1371
I was unable to reproduce this today.  Closing this issue.

[2018-09-04 15:51] #1371 closed, assigned to ericrosenbaum, evhan55

[2018-09-05 11:11] apple502j commented on #1553
Not related to Scratch?

[2018-09-05 21:43] evhan55 opened #1556 "Fill out JSDocs for Microbit/EV3/WeDo2 extensions"
For easier reviews

[2018-09-05 23:14] ericrosenbaum opened #1557 "EV3 "button pressed?" block should return true/false"
### Expected Behavior

The EV3 extension's boolean block `button 1 pressed?` should report true or false.

### Actual Behavior

It reports numbers.

This is the same as the corresponding issue for microbit: https://github.com/LLK/scratch-vm/issues/1364

[2018-09-06 13:20] #1405 closed, assigned to ericrosenbaum

[2018-09-06 13:20] #1536 closed, assigned to ericrosenbaum

[2018-09-06 15:53] ericrosenbaum opened #1559 "Fix name of micro:bit block "when pin connected""
### Expected Behavior

The block text should be "when pin 0 connected"

### Actual Behavior

The block currently says "when pin 0 connected test"

[2018-09-06 17:12] ericrosenbaum commented on #1548
Per discussion, we decided to not clear the display when the stop button is pressed. We use the stop button to stop processes, but not (generally) to clear state.

[2018-09-06 17:12] #1548 closed, assigned to ericrosenbaum, evhan55, khanning

[2018-09-06 17:18] ericrosenbaum commented on #1345
Closing for now. We may revisit this one someday.

[2018-09-06 17:18] #1345 closed, assigned to nobody

[2018-09-06 17:29] ericrosenbaum commented on #1340
@khanning will proceed with this one. It will require a new microbit firmware version, so to maintain backward compatibility, we may need to introduce a new opcode for a new version of this block with the new behavior? Or! Maybe! the VM can actually predict the exact timing of the text scrolling and just yield for that amount of time.

[2018-09-06 17:34] ericrosenbaum commented on #1338
After discussion we've decided to keep the first one as is, and change the second one to "display text"

[2018-09-06 17:38] ericrosenbaum commented on #1396
After discussion we decided to leave as is (noting my objection that, under normal circumstances you can't "erase" pen)

[2018-09-06 17:38] #1396 closed, assigned to nobody

[2018-09-06 17:40] ericrosenbaum commented on #1337
After discussion, we decided to close for now. We may revisit this idea in the future.

[2018-09-06 17:40] #1337 closed, assigned to nobody

[2018-09-06 17:51] ericrosenbaum commented on #1336
After discussion, we decided that we should not add the 'A + B' option because we do not have a good way to make a hat block work that detects both buttons being pressed without also triggering the hats for individual buttons. There would be a way to do this a firmware change, using a short time window to detect it, but this would introduce other problems (especially the behavior of the correspond

[2018-09-06 17:51] #1336 closed, assigned to nobody

[2018-09-06 17:56] ericrosenbaum commented on #1525
Thanks for the suggestions @apple502j! We try to keep Scratch extensions balanced between simplicity and power, and that's how we arrived at the set of micro:bit features we currently have.

[2018-09-06 17:56] #1525 closed, assigned to nobody

[2018-09-06 18:46] ericrosenbaum opened #1560 "Change default value in EV3 "when brightness" hat block"
Currently, the default value is 50, but this seems like it might be too high.

[2018-09-06 20:57] ericrosenbaum opened #1561 "Translate extension language reporter gives incorrect results"
### Expected Behavior

The language extension's `language` reporter should report the name of the language the editor is currently set to, in that language. E.g. if you set the editor to spanish, the block reports "español".

### Actual Behavior

The result is incorrect for some languages. There are three types of issue:

- In some cases it reports a two-letter language code. e.g. In Abkhaz it sho

[2018-09-07 08:01] apple502j commented on #1561
I am sure it's duplicate, but I can guess third one happens when it's defined in Scratch (zh-TW, ja-HR, pt-BR, else...)

[2018-09-07 21:01] #1291 closed, assigned to ericrosenbaum, evhan55

[2018-09-07 21:01] #1292 closed, assigned to ericrosenbaum, evhan55

[2018-09-07 21:01] #1466 closed, assigned to evhan55

[2018-09-07 21:09] ericrosenbaum opened #1566 "Set default motor power for EV3 and WeDo2 to 50%"
Currently, we set the default motor power to 100%, but we should use 50%.

[2018-09-07 21:24] ericrosenbaum opened #1567 "EV3 motor position reporter gets inverted"
### Expected Behavior

When you continuously turn an EV3 motor with your hand a certain direction (e.g. clockwise), the motor position reporter values should always change in the same direction (e.g. increasing).

### Actual Behavior

Sometimes that position reporter values invert, so that as you turn the motor, the reported values first go down, then start going up.

This seems to be an error in

[2018-09-07 22:59] evhan55 commented on #1556
Nevermind, did it by hand

[2018-09-07 22:59] #1556 closed, assigned to evhan55

[2018-09-10 16:29] evhan55 commented on #1543
This is not going to be fixed, going to wait for https://github.com/LLK/scratch-vm/issues/709 to be implemented, instead.  This way, no EV3 motor menu args are droppable.

[2018-09-10 16:29] #1543 closed, assigned to evhan55

[2018-09-10 16:35] evhan55 commented on #1357
Can no longer reproduce, so closing.

[2018-09-10 16:35] #1357 closed, assigned to evhan55

[2018-09-10 16:48] evhan55 commented on #1384
As it turns out, this is not related to port addressing and was indeed necessary to avoid coasting prematurely.

[2018-09-10 16:48] #1384 closed, assigned to evhan55

[2018-09-10 16:49] evhan55 opened #1568 "EV3: _pollValues/_onMessage needs further documentation and cleanup"
The `_pollValues` and `_onMessage` methods needs a little more documentation of the compound commands generated and their arguments.

[2018-09-10 16:51] evhan55 commented on #1446
@nekketsuuu Thank you for the question, we will check it out!

[2018-09-11 15:15] evhan55 commented on #1505
Maybe try interpolating 30-100 > 10-100, 0 - 10 = 0

[2018-09-11 15:19] evhan55 commented on #1566
New verdict:
WeDo2 default = 100, block default = 100
EV3 default = 50, block default = 100

[2018-09-11 20:34] ericrosenbaum opened #1570 "Wedo2 turn motor for 0 sec sometimes turns the motor on briefly"
### Expected Behavior

In the WeDo 2.0 extension, running the "turn motor on for seconds" block set to zero seconds should not turn the motor on at all.

### Actual Behavior

Sometimes running `turn motor on for 0 seconds` causes the motor to turn briefly.

[2018-09-12 16:11] #1322 closed, assigned to nobody

[2018-09-12 19:10] evhan55 opened #1576 "Extensions: rename classes and clarify runtime handlers"
- Rename all extensions from `Scratch3[Name]Blocks` to `Scratch3[Name]Extension`
- Add peripheral handler functions to extension classes (i.e. having the extensions contain an instance of the peripheral for use in the runtime, etc., so that the peripheral doesn't directly get used by the runtime)
- Remove peripheral list from `runtime` and make all peripheral communication go through the extension

[2018-09-12 20:39] #1535 closed, assigned to ericrosenbaum

[2018-09-12 21:06] rschamp opened #1577 "Refactor asset instances to be held by VM, not Storage"
To prepare for incremental saving, stop storing lists of assets in scratch-storage, and instead hold these instances as a part of the costume and sound lists.

When a costume or sound is updated, replace the instance in the list rather than updating — this will help ensure atomic saves.

[2018-09-12 21:09] rschamp opened #1578 "Mark saved assets as "not dirty" after saving them"
After a project has been saved to the project and asset server, the assets that were uploaded should be marked with a flag to indicate that they don't need to be saved again.  When new asset instances are created, they should come with that flag either set or not set (depending on whether it's a dirty or clean flag), so that they can be easily collected for saving.

Goes along with #1577

[2018-09-12 22:10] #693 closed, assigned to cwillisf

[2018-09-13 15:22] ericrosenbaum opened #1581 "WeDo "when distance < 20"
### Expected Behavior

_Please describe what should happen_

### Actual Behavior

_Describe what actually happens_

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_

[2018-09-13 15:31] #1581 closed, assigned to nobody

[2018-09-13 15:31] ericrosenbaum opened #1582 "WeDo2 "when distance < 20" block triggers on project load"
### Expected Behavior

The LEGO WeDo hat block `when distance < 20` should trigger only when the sensor value changes from being greater than 20 to being less than 20.

### Actual Behavior

The hat block triggers immediately on project load.

### Steps to Reproduce

Load the "distance dino" starter project: https://beta.scratch.mit.edu/#239285001

[2018-09-13 15:35] ericrosenbaum commented on #1582
@cwillisf this is an odd one, because it appears that the distance value is always 0 when the peripheral is not yet connected. There might be some kind of race condition when edge-triggered extension hat blocks are loaded from a project?

[2018-09-13 15:39] ericrosenbaum commented on #1364
In a recent test we noticed that when pressing the microbit "B" button repeatedly, the reported value actually changed from 1 to 2, so we should make sure that the fix for this bug handles that situation as well.

[2018-09-13 18:43] evhan55 commented on #1364
Sounds good!

[2018-09-13 19:16] kchadha commented on #1451
@thisandagain, @BryceLTaylor, and I discussed and investigated this issue.

It looks like there are two problems here,

1) There seems to be some sort of rounding issue with the cat costume when calculating where to stop falling down... Scratch 3.0 is not rounding the y position of the cat, but Scratch 2.0 seems to be.

2) The larger issue seems to be that if the costume of a sprite is very small

[2018-09-14 20:42] ericrosenbaum commented on #1010
@thisandagain discussed this and we decided to replace setTimeout in each case with a system that uses the stack timer and yielding. We'll use `Number.isSafeInteger` to prevent the specific problem described in this issue.

[2018-09-17 08:44] apple502j commented on #1526
@thisandagain Question: Can't it be normal compare?
why localeCompare?

[2018-09-17 13:50] ericrosenbaum opened #1590 "Consider adding a way to detect that wedo2 has disconnected?"
We should consider whether to add a way to detect that a wedo2 has become disconnected (e.g. because the peripheral has gone out of range, or the battery has died or been removed). One way would be to send a request at some interval (e.g. to check the battery level), which would error in those cases.

[2018-09-17 15:06] evhan55 opened #1591 "EV3: gets stuck when attempting to pair on Windows"
### Expected Behavior

EV3 should pair successfully when pairing for the first time with a user's machine.

### Actual Behavior

EV3 is stuck forever, there is an hourglass graphic on the LED screen.

### Steps To Reproduce

I got here by trying to pair with the EV3 on a Windows Tablet, and after typing in the ‘1234’ pin, for some reason it didn’t let me click the ‘checkmark’ button when it showed

[2018-09-17 15:07] ericrosenbaum opened #1592 "WeDo2 and EV3 should not send motor command when motor power is 0"
### Expected Behavior

In the WeDo2 and EV3 extensions, when the power level for a motor is set to 0, motor commands for that motor should not be sent. The opcode function should bail out (but in cases where the block waits for some amount of time, it should still wait).

### Actual Behavior

We send motor commands with zero power, which can cause the motors to make a whining sound.

[2018-09-17 18:15] evhan55 commented on #1296
I don't this is really needed until the BLE/BT classes grow to be bigger and less manageable, but for now they feel ok to me.

[2018-09-17 18:15] #1296 closed, assigned to ericrosenbaum, evhan55

[2018-09-17 19:38] picklesrus commented on #1390
Minor update: The object returned by getInfo() looks okay to me... The menu is there and full of reasonable pairs of languages.
Another piece of minor info: once you try and load translate, all the other extensions fail in the same silent way.

[2018-09-17 22:15] #1440 closed, assigned to mzgoddard

[2018-09-18 18:03] #1506 closed, assigned to cwillisf

[2018-09-18 20:11] #1281 closed, assigned to rschamp

[2018-09-19 03:18] evhan55 commented on #1402
I wonder if this is related to https://github.com/LLK/scratch-link/pull/82
@ericrosenbaum @cwillisf,

or, at least, if it can be solved by reconnecting, now

[2018-09-19 15:24] #1338 closed, assigned to khanning

[2018-09-19 18:48] evhan55 commented on #1402
This might already be somewhat fixed by the 5 second 'alive' check in the microbit

[2018-09-19 18:52] ericrosenbaum commented on #1590
or: maybe Scratch Link can handle this (and we could remove the corresponding timeout check for microbit)

[2018-09-19 20:41] kchadha commented on #1349
It should be noted that the project mentioned in this issue has two problems:
1) As the issue states, a variable in the project and a list in the project share a name in the same scope (the global scope). While this is okay in Scratch 3.0 projects, this was assumed to not be allowed in Scratch 2.0 projects.
2) This project has an instance of a local variable sharing a name with a global variable a

[2018-09-19 20:45] rschamp opened #1601 "Add API for getting unsaved ("dirty") assets to be saved"
Currently we can save a single .sb3 archive, but we want an easy way to save the SB3 JSON separately from each of the assets that needs to be saved.

[2018-09-20 11:56] apple502j opened #1603 "(Sppech to Text) "Do not translate Google" is unnecessary"
Since the extension name is "Speech to Text", we needn't add that sentence to https://github.com/LLK/scratch-vm/blob/64a1d3e02b6aaaac9d6ec5e7299fc13e8199e136/src/extensions/scratch3_speech2text/index.js#L605

[2018-09-20 14:45] jojomoore2007 commented on #553
Fullscreen mode is impacted by this. Thanks!

[2018-09-20 19:00] ericrosenbaum opened #1605 "Change text2speech voice name from "monster" to "giant", and raise pitch"
Based on feedback on the Text to Speech extension from the team, we'd like to:

- Change the name of the "monster" voice to "giant"
- Raise its pitch slightly so that it is less distorted. Currently the playback rate is 0.7, but 0.85 seems good.

[2018-09-24 14:12] kchadha opened #1608 "Unattached variable reporters don't save/load"
### Expected Behavior

All blocks on a sprite's workspace should get saved and loaded correctly.

### Actual Behavior

Standalone variable reporters on the workspace don't save and load correctly.

### Steps to Reproduce

1. Open a new Scratch 3.0 project
2. Create a new variable
3. Drag the reporter for the new variable onto the sprite's workspace
4. Save the project using `File > Download to you

[2018-09-24 14:30] picklesrus commented on #1390
This turns out to be a problem related to the characters in the translation of the category label into Hebrew.

Here's text that makes it fail: "message": "תרגום \"גוגל\""

The escaped quotes are confusing the category menu label - everything that comes after it in the toolbox xml definition gets cut off.

I plugged the that message into a category name in the default toolbox in the scratch-blocks

[2018-09-24 14:42] kchadha opened #1609 "Unknown opcodes should translate to undefined blocks"
### Expected Behavior

Blocks with unknown opcodes are skipped when imported into 3.0. These blocks should be translated into 3.0 as no-op `undefined` blocks so that there is some visual indication that the blocks have been imported but no longer work. More details below.

There should be one `undefined` catch-all opcode per type of block (e.g. hat blocks, c blocks, e blocks, commands, and reporte

[2018-09-24 15:49] chrisgarrity commented on #1390
Moved to LLK/scratch-blocks#1721

[2018-09-24 15:49] #1390 closed, assigned to chrisgarrity, picklesrus

[2018-09-25 15:04] #1605 closed, assigned to ericrosenbaum

[2018-09-25 15:48] evhan55 commented on #1380
Is this related to rate limiting?

[2018-09-25 18:04] thisandagain commented on #1477
@fsih Would you mind scheduling a meeting for us all to discuss this? It would be nice to get this issue rolling. :-)

[2018-09-25 19:04] fsih commented on #1477
Possibly related issues
https://github.com/LLK/scratch-paint/issues/434
https://github.com/LLK/scratch-paint/issues/648
https://github.com/LLK/scratch-paint/issues/481

[2018-09-25 19:24] khanning commented on #1339
Closed with #1598

[2018-09-25 19:24] #1339 closed, assigned to khanning

[2018-09-25 19:24] khanning commented on #1340
Closed with #1599

[2018-09-25 19:24] #1340 closed, assigned to khanning

[2018-09-25 19:24] khanning commented on #1559
Closed with #1600

[2018-09-25 19:24] #1559 closed, assigned to khanning

[2018-09-25 21:33] #861 closed, assigned to ericrosenbaum

[2018-09-25 21:50] as-com commented on #1424
Since https://github.com/LLK/scratch-vm/pull/1329 was merged, the project now opens without crashing, but the drum block disappears. See the updated issue description...

[2018-09-25 22:03] towerofnix commented on #1424
Looks like the relevant code is [here](https://github.com/LLK/scratch-flash/blob/646523e6846ad0dd993213a38b46fe2ea511d026/src/sound/SoundBank.as#L103-L118). It doesn't look too complicated to implement in 3.0. (Edit - specifically, the algorithm is "Is it the play MIDI (1.4) drum block? If so, subtract 35 from the index.") (I'm working on this atm.)

Double edit: oops, yes, [there's a mapping for

[2018-09-25 23:17] towerofnix commented on #1424
I created a project to demonstrate some examples of how Scratch 2.0 approximates MIDI sounds: https://scratch.mit.edu/projects/248475643/

[2018-09-26 00:43] evhan55 commented on #1566
Closed via #1611

[2018-09-26 00:43] #1566 closed, assigned to evhan55

[2018-09-26 00:43] evhan55 commented on #1567
Closed via #1611

[2018-09-26 00:43] #1567 closed, assigned to evhan55

[2018-09-26 00:43] evhan55 commented on #1538
Closed via #1611

[2018-09-26 00:43] #1538 closed, assigned to evhan55

[2018-09-26 00:43] evhan55 commented on #1364
Closed via #1611

[2018-09-26 00:43] #1364 closed, assigned to evhan55

[2018-09-26 06:44] greenkeeper[bot] opened #1614 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.20.1` to `4.20.2`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Fwebpack-4.20.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project. It **might not

[2018-09-26 17:57] picklesrus commented on #1561
Also see https://github.com/LLK/scratch-gui/issues/2862. I think that might be an instance of this problem as well

[2018-09-26 18:18] picklesrus commented on #1252
Closing this for now in favor of https://github.com/LLK/scratch-vm/issues/1259 and because I'm not sure how the suspend/resume would interact with other blocks using the audio context.

[2018-09-26 18:18] #1252 closed, assigned to picklesrus

[2018-09-26 19:28] evhan55 opened #1615 "Prevent multiple hardware disconnect alerts"
### Expected Behavior

One alert is shown when hardware peripheral disconnects.

### Actual Behavior

In some cases, two, redundant alerts display.

### Cases to Consider:

- Preventing the VM from requesting the alert twice- it should only be when the socket closes
- Preventing the alert from getting sent if we were not already connected
- What about if you connect, disconnect, connect, disconnec

[2018-09-26 19:46] evhan55 opened #1616 "WeDo2: 'turn motor for 1 sec block' acts strange in forever loop"
### Expected Behavior

`forever > turn motor for 1 sec` should consistently turn the motor on and off every second

### Actual Behavior

`forever > turn motor for 1 sec` sometimes turns the motor for more than a second (e.g. 3 seconds before it stops and restarts)

[2018-09-27 21:06] ericrosenbaum opened #1620 "Text to Speech extension stops speaking after # or &"
### Expected Behavior

The text to speech extension should either attempt to speak any character it encounters, or skip it.

### Actual Behavior

If there's a hashtag or ampersand symbol (# or &), the speech stops at that point.

### Steps to Reproduce

Add a `speak` block and enter something like "one # two", and it will only say "one".

Note that after a quick exploration with @picklesrus it app

[2018-09-28 08:08] nekketsuuu commented on #1464
EV3 also needs this feature if it's possible.

[2018-09-28 08:11] nekketsuuu commented on #1560
Related: #1446
If a color sensor measures brightness by red light, the value 50 is not so high.

[2018-09-28 08:19] nekketsuuu commented on #1591
What version of your EV3 firmware? (Is it older than 1.4.2?) Also, do you use Scratch Link?

I've experienced a similar behavior in the past, when I connected an EV3 with old firmware to a Windows PC, using naive Bluetooth connection without Scratch Link.

[2018-09-28 17:47] ericrosenbaum commented on #1250
Closed by https://github.com/LLK/scratch-gui/pull/3205

[2018-09-28 17:47] #1250 closed, assigned to picklesrus

[2018-09-28 21:31] Mr-Dave2 opened #1622 "Mouse Down sensing blocked by Monitor"
### Expected Behavior

When the mouse is over a monitor and the mouse button is pressed the sense block for mouse down should report true.

### Actual Behavior

When the mouse is over a monitor and the mouse button is pressed the sense block for mouse down reports false.

### Steps to Reproduce

Drag out a forever block .
Click on the My Variable monitor.
Put into the forever block "set My Variabl

[2018-09-29 17:19] Mr-Dave2 opened #1623 "Extraneous local variable created via Hide/Show"
### Expected Behavior

Local variables that are not defined or referenced in a sprite should not be dynamically created for that sprite.

### Actual Behavior

It's possible for stacks in a sprite to create local variables in another sprite.

### Steps to Reproduce

Add a new sprite (such as "Ben") to a new project.
Create a local variable in Ben (such as "Local").
Create this stack in Ben:  When G

[2018-09-29 17:44] greenkeeper[bot] opened #1624 "An in-range update of webpack-cli is breaking the build 🚨"
## The devDependency [webpack-cli](https://github.com/webpack/webpack-cli) was updated from `3.1.1` to `3.1.2`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Fwebpack-cli-3.1.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack-cli is a devDependency of this project. I

[2018-09-30 05:01] Kenny2github commented on #1623
Reproduced on Windows 10 Chrome 69, Scratch 3. On Scratch 3, after clicking the mouse, the "Tera1: Button 1" monitor briefly shows up before being hijacked by "Sprite1: Button 1".

[2018-09-30 18:55] Mr-Dave2 opened #1625 "Color sensing and Costume import problem"
### Expected Behavior

The sensing block "Color X is touching Color Y" should produce the same result when Scratch 2 or Scratch 3 is used to run a project.

### Actual Behavior

The color sensing fails when the project is run under Scratch 3.

### Steps to Reproduce

See this project and the following test case:
This project: https://beta.scratch.mit.edu/#247847974 (from GAMER_IANXD and reported i

[2018-10-01 14:14] cor3ntin commented on #645
Any news on that ?

[2018-10-01 14:24] evhan55 commented on #1591
Thanks for the tip!  We will investigate, not quite sure what firmware we are using currently.

[2018-10-01 14:35] evhan55 opened #1626 "Add peripheral reconnect button to alerts"
As specified in https://github.com/LLK/scratch-gui/issues/2956

[2018-10-01 14:36] evhan55 opened #1627 "Move connection modal to redux"
Possibly necessary to help with alerts as specified in https://github.com/LLK/scratch-gui/issues/2956

[2018-10-01 14:37] #1626 closed, assigned to ericrosenbaum, evhan55

[2018-10-01 14:37] #1627 closed, assigned to ericrosenbaum

[2018-10-01 14:54] evhan55 commented on #1380
We believe this is resolved

[2018-10-01 14:54] #1380 closed, assigned to ericrosenbaum, evhan55

[2018-10-01 15:49] kchadha opened #1628 "Backdrop name monitor is not imported correctly"
### Expected Behavior

Monitor for 'backdrop name' reporter should get imported from 2.0

### Actual Behavior

Monitor label gets imported correctly, but has a blank value where the name should be.

### Steps to Reproduce

Try out this project:
https://beta.scratch.mit.edu/#249559537

#### Other Notes
Potentially related to #1513

[2018-10-01 16:09] kchadha opened #1629 "No stack glow for `when I start as a clone` hat"
### Expected Behavior

A stack of blocks should glow (yellow highlight around the stack) when it is triggered/running.

### Actual Behavior

Stacks with `when I start as a clone` hat do not have a stack glow when triggered.

Found by @carljbowman in a recent bug hunt.

[2018-10-01 17:41] chrisgarrity commented on #645
@cor3ntin translation is already supported for Scratch Team extensions. All the current extensions in the library are localized. This is backlogged so we can make sure that translation is also possible when we support 3rd party extensions. That's not planned until 2019.

[2018-10-01 17:47] cor3ntin commented on #645
@chrisgarrity Thanks! I was specifically asking about third party extensions. Do you have anything more precise than 2019? That would be really helpful as we are trying to port Thymio to Scratch 3 (Maybe you heard about it!)

In the meantime, how would you recommend third parties extensions to handle localization?

Thanks a lot !

[2018-10-01 18:14] picklesrus commented on #1095
This is working for me on an iPad now. It isn't fast, but the the fish follows my finger for a while.

[2018-10-01 18:14] #1095 closed, assigned to nobody

[2018-10-01 21:20] #1365 closed, assigned to picklesrus

[2018-10-01 22:05] thisandagain commented on #1542
@mzgoddard @kchadha Another order of execution issue to note.

[2018-10-01 22:43] thisandagain commented on #1547
@ericrosenbaum @evhan55 When did you folks want to give this a go?

[2018-10-01 23:05] evhan55 commented on #1547
@thisandagain : @ericrosenbaum and I did some minor triaging today and decided to go for this in November: https://github.com/LLK/scratch-vm/issues/1508.  Let us know if you prefer us to try earlier!

[2018-10-02 15:22] mzgoddard commented on #1076
<del>I can't confirm this bug. It seems to work for me.</del>

[2018-10-03 00:05] Mr-Dave2 opened #1633 "Compatibility wiki page does not mention new limit on list size"
### Expected Behavior

The [Scratch 3 compatibility page ](https://github.com/LLK/scratch-vm/wiki/Compatibility) should describe the new limit for the size of a list.

### Actual Behavior

Nothing about the new limit is mentioned.  Users have noticed the limit and in the forums mention this difference as an issue.  One user even read the compatibility wiki page [and pointed out the new limit as a

[2018-10-03 18:56] ktbee opened #1635 "Load videoOn and videoAlpha state from sb2 project's initial values"
### Expected Behavior

A sb2 project's saved video state (video on or off, transparency level) should be used when loading the project.

### Actual Behavior

Transparency and the `videoOn` setting aren't always applied to the project. Transparency issue first reported here for 3.0: https://github.com/LLK/scratch-vm/issues/1062

### Steps to Reproduce

Steps to reproduce transparency issue: https:/

[2018-10-04 04:09] Mr-Dave2 opened #1637 "Firefox is 17 times faster than Chrome at deleting items in a list"
### Expected Behavior

Deleting individual items in a list should take about the same amount of time when running under different browsers.

### Actual Behavior

Deleting the same number of items from a list (one at a time) takes about 17 times longer under Chrome than under Firefox.

### Steps to Reproduce

Run this program:  https://beta.scratch.mit.edu/#215021155  You can press "R" to see my re

[2018-10-04 12:53] towerofnix commented on #1637
On my computer, a 2013-ish iMac running Debian, I get these results:

* Firefox 63.0b11: 0.17 to fill, 0.17 to empty.
* Chromium 68.0.3440.75: 0.11 to fill, 5.46 to empty.

Yikes, you're definitely right. It's super slow on Chrome. (My results actually mirror yours identically: on FF, equal fill/empty; on Chrome, *faster* fill, but much slower empty.)

[2018-10-04 13:35] Kenny2github commented on #1637
![image](https://user-images.githubusercontent.com/28599280/46477393-267af800-c81d-11e8-84ad-4cd9c7a62ddc.png)
Chrome 69.0.3497.100 (Official Build) (64-bit) (cohort: Stable)
Windows 10.0.15063
Lenovo laptop bought a few weeks ago, 8GB RAM, Intel i5-8250U @ 1.60GHz 1.80GHz CPU

Unfortunately I don't have FF, but those are my Chrome results.

[2018-10-04 18:38] #1526 closed, assigned to nobody

[2018-10-04 18:48] ericrosenbaum opened #1638 "Hardware disconnection alerts appear when no device was connected"
### Expected Behavior

The disconnection alert should only show when a hardware device was connected and becomes disconnected.

### Actual Behavior

If you attempt to connect to a hardware device but Scratch Link is not running, or bluetooth is not enabled, alerts are displayed.

Note that If you have switched languages before doing this, you get two additional alerts for each time you have switch

[2018-10-04 21:46] ktbee opened #1639 "Need an event to alert extensions when targets are done being installed"
### Expected Behavior

Extensions can use an events listener to wait for when targets are installed, and then execute target dependent code accordingly.

### Actual Behavior

No `runtime` events indicate when all of the targets have finished installing and are ready to be used.

### Steps to Reproduce

In taking a look at https://github.com/LLK/scratch-vm/issues/1635, I found that there is a race

[2018-10-05 12:40] thisandagain commented on #1411
/cc @ericrosenbaum

[2018-10-05 13:11] #1614 closed, assigned to nobody

[2018-10-05 13:12] #1624 closed, assigned to nobody

[2018-10-05 13:50] chrisgarrity opened #1641 "Changing language when the ask block is waiting hangs the project"
### Expected Behavior
If language is switched while an ask block is waiting for an answer. The answer prompt remains visible and still accepts input.
NOTE: the prompt that the character says is data at this point (even if it's the default value!) and it will not change. The scratcher will need to use a new ask block if they want the default in the new language.

### Actual Behavior
If you switch l

[2018-10-05 15:31] evhan55 commented on #1638
Thanks @ericrosenbaum , I think this will need splitting up of hardware extension error types.
I propose this for now:

- **PERIPHERAL_DISCONNECT_ERROR**: for disconnect/read/write/send errors when we are already connected but can't talk to peripheral -> _triggers a disconnection alert in the GUI_
- **PERIPHERAL_REQUEST_ERROR**: for request/connect errors when we cannot connect to the peripheral a

[2018-10-05 15:38] ericrosenbaum commented on #1638
@evhan55 That looks good to me!

[2018-10-05 16:20] evhan55 commented on #1638
@ericrosenbaum
For your reference, there is a WebSocket connection red console error that can never be hidden from users:
https://stackoverflow.com/questions/31002592/javascript-doesnt-catch-error-in-websocket-instantiation

It is a case we will not be able to prevent from showing up in the console, I think.

[2018-10-05 17:25] #1247 closed, assigned to nobody

[2018-10-07 11:36] kyleplo commented on #1637
On my Chromebook, it took 0.9 seconds to fill, but 26 (!) seconds to empty.

[2018-10-07 21:07] griffpatch commented on #1637
Of course, if rather than adding to the list you insert to the beginning of
the list, then both the insert and delete are almost the same timings. And
if you delete the last item in the list rather than the 1st each time then
the delete list becomes the fast part :) - It's all down to those internal
list shifting operations. You'd think that would be pretty quick though?

On Sun, 7 Oct 2018 at 12:

[2018-10-08 21:32] benjiwheeler opened #1645 "There should be a way to check if the vm is started"
The vm provides a `start()` function which starts its execution timeout heartbeat.

But I don't see any simple way to tell if a vm object has already started -- something like `vm.started()` or `vm.isStarted()` or `vm.hasStarted()`.

That would be useful, e.g. if you do other things around the time that you start the vm.

[2018-10-09 11:16] wooden1985 opened #1646 "vendor.js too large, how to compress it?"
### Expected Behavior

_Please describe what should happen_

### Actual Behavior

_Describe what actually happens_

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_

[2018-10-09 12:53] picklesrus opened #1647 "Custom fields in extensions"
Got a report that Blockly.Field.register isn't working for field types that aren't yet defined. Seems to work okay to override existing types, but not new ones.

Needs more investigation.

---
Moved from LLK/scratch-blocks#1725
/cc @picklesrus

[2018-10-09 12:57] picklesrus commented on #1647
The problem is really when trying to use a custom field in an extension.  You can register it fine using the blocks register, but the VM doesn't know how to map the field to the correct thing.

[2018-10-09 14:26] mzgoddard commented on #1478
The projects in this issue have the same symptom due to 4 different bugs. In all of their cases the `when I receive` are kicking off threads.

In 169401431: Breathe does not disappear because there is a race condition in the wait blocks. There are 2 separate `when I receive` hats, the first that fires waits 0.4 seconds and then shows the Breathe text. The second `when I receive` hat hides the Brea

[2018-10-09 18:30] fsih opened #1650 "scratch-vm should not depend on "latest" scratch-svg-renderer"
https://github.com/LLK/scratch-vm/blob/develop/package.json#L74

scratch-vm should depend on a fixed version of scratch-svg-renderer. Right now scratch-svg-renderer dependency is only used to make the playground work, so the only potential issue is the playground unexpectedly beginning to fail. If we accidentally depend on it elsewhere (vm relies on GUI to hand it an instance of SVGRenderer, so it

[2018-10-09 21:14] thisandagain commented on #1637
/cc @mzgoddard @kchadha

[2018-10-09 21:14] benjiwheeler commented on #1637
Super weird, seems like we should get to the bottom of this!

[2018-10-10 03:00] #1053 closed, assigned to nobody

[2018-10-10 15:26] evhan55 opened #1651 "Hardware Extensions: JSDoc cleanup"
Some of the longer JSDocs comments in these extensions aren't actually valid for JSDoc generation.

[2018-10-10 18:41] chrisgarrity opened #1653 "Generate translations as part of 'test' step and split extensions into 'core' and 'other'"
Translation messages are extracted from extension sources by [format-message](https://github.com/format-message/format-message/tree/master/packages/format-message-cli) extract using the data passed to the `formatMessage`

The same message can be used in multiple places, but only the first definition will be extracted. If the same id is used with different `default` strings the extraction step will

[2018-10-10 18:42] evhan55 commented on #1638
Target Scratch Link no.: `1.1.2`

[2018-10-10 19:19] #1592 closed, assigned to evhan55

[2018-10-10 19:19] #1485 closed, assigned to evhan55

[2018-10-10 19:19] #1505 closed, assigned to evhan55

[2018-10-10 20:38] evhan55 commented on #1638
Language switching still an issue.  Filed GUI issue here:
https://github.com/LLK/scratch-gui/issues/3336

[2018-10-10 23:24] cwillisf commented on #1638
Target Scratch Link version 1.1.2 or newer on Mac / 1.1.3 or newer on Windows

Note that the difference between 1.1.2 and 1.1.3 is the way that the Windows build calculates the version number -- the change doesn't affect Mac builds :)

[2018-10-11 14:12] #1279 closed, assigned to chrisgarrity

[2018-10-12 18:57] thisandagain commented on #1615
I was able to get this to occur in my testing environment.

### Environment
Scratch Link 1.1.2 1b61617
macOS Version 10.14 (Build 18A391)
Chrome Version 69.0.3497.100 (Official Build) (64-bit)

### Repro Steps
- Connect LEGO WeDo 2.0
- Execute the "set light color to ()" block
- Press and hold the power button on the LEGO WeDo 2.0 to turn off the hub
- Execute the "turn (motor) on" block

### Refe

[2018-10-12 19:27] thisandagain opened #1656 "Custom Procedure blocks don't glow"
### Expected Behavior

If you click on a custom procedure block in the blocks pallet it should glow like every other block.

### Actual Behavior

The definition glows on the workspace but the block in the blocks pallet does not.

![notglowing](https://user-images.githubusercontent.com/1088291/45054438-fba15680-b05a-11e8-9a43-23d42c34a82f.gif)

The custom procedure block also doesn't glow if it is

[2018-10-12 19:36] #1553 closed, assigned to nobody

[2018-10-12 20:20] thisandagain commented on #1603
Happy to accept a PR for this.

[2018-10-13 00:44] joker314 commented on #1030
Scratch 3.0 has heavy validation on its JSON format. However, if we don't allow 'hacked' Scratch 3.0 files, we make it hard for users to remix projects in the Scratch 3.0 editor, if the projects they are remixing are using hacked blocks.

Should Scratch 3.0 validation be relaxed to match Scratch 2.0?

<hr>

I propose an additional mode, differing from the regular one, where reporters can be dragge

[2018-10-15 17:15] #1603 closed, assigned to nobody

[2018-10-15 17:16] #1076 closed, assigned to nobody

[2018-10-15 21:15] BryceLTaylor opened #1658 "Griffpatch's Tower Defense #1520040 doesn't load on Edge"
If you load project #1520040 on Edge it loads forever.  It should match its behaviors on other browsers, where it loads fairly quickly (a few seconds)

### Steps to Reproduce

Navigate to the project on Edge https://llk.github.io/scratch-gui/smoke/#15200040
Note: it hangs on the loading screen forever
If you load it on mac chrome it loads just fine.

### Operating System and Browser

Edge on Windo

[2018-10-15 23:55] evhan55 commented on #1615
I believe the issue @thisandagain is seeing would be resolved when these are resolved and merged in:

- https://github.com/LLK/scratch-link/issues/87: WeDo 2.0 can "go away" without causing any error
- https://github.com/LLK/scratch-vm/pull/1654: Differentiate peripheral errors: request vs. disconnect

Right now, two alerts are showing because of the issue resolved by PR #1654.
However, the alert

[2018-10-16 02:32] Mr-Dave2 opened #1659 "Scratch 3.0 takes 10 times longer to execute a simple loop"
### Expected Behavior

The time to run a simple loop with a single block should be the same, perhaps less, when run under Scratch 3.0.

### Actual Behavior

Depending on the browser that is used and use of the no-refresh option, the execution times, when run under Scratch 3.0 and using the same Browser and no-refresh option as Scratch 2.0, increased by a factor of 1.6 to 10.

### Steps to Reproduc

[2018-10-16 15:29] ktbee opened #1660 "Project extension state doesn't update when navigating to new project"
### Expected Behavior

When you navigate to a project, the extensions in use should be updated to match the extensions the project uses.

### Actual Behavior

When you go to a new project without a full page reload, the extensions in use aren't updated.

### Steps to Reproduce

1) Go to a project that doesn't use the video sensing extension (ex: 252188453), observe no video
2) Go to a project that

[2018-10-16 15:35] ktbee commented on #1660
This issue could potentially be helped by resolving #1639 so that a project's extensions can be updated when targets are installed

[2018-10-16 15:36] ktbee commented on #1660
Dupe! #1849

[2018-10-16 15:36] #1660 closed, assigned to nobody

[2018-10-16 15:39] kaaaaathy commented on #1615
Chatted with @evhan55 about this... looks like we are also getting stacked alerts in these cases:

(I don't have any hardware extensions connected, and Scratch Link was not running at the time)

1. When I open microbit from the extensions library:
![redundant alerts 2](https://user-images.githubusercontent.com/8203939/47027785-1674e980-d136-11e8-999c-c55a5c268794.gif)

2. When I click the orange a

[2018-10-16 18:35] BryceLTaylor opened #1661 "Should use math.round() for ghost effect"
### Expected Behavior

If you get the ghost effect to 99.9999 it should really use 100.

### Actual Behavior

Currently if your ghost effect value is 99.999999 it doesn't treat it as 100 in 3.0, but it does in 2.0.  This means you can click a sprite that is ghosted to close to 100 but not quite 100.  In 2.0 you click through that sprite.

This can be seen in this project:https://github.com/LLK/scr

[2018-10-16 20:35] BryceLTaylor opened #1662 "Geometry Dash does not load on iPad Safari"
If you try to run this project: https://llk.github.io/scratch-gui/develop/#105500895 on Safari on an ipad it takes you to a blank white page.  At the top of the page it says "A problem occurred with this webpage so it was reloaded."

### Steps to Reproduce

Navigate to that page

### Operating System and Browser

Safari on IOS

[2018-10-16 21:11] BryceLTaylor opened #1663 "On some browsers, Space Giraffe doesn't draw "star" sprite"
### Expected Behavior

All of the sprites that are supposed to appear do in Space Giraffe: https://llk.github.io/scratch-gui/develop/#247578672

### Actual Behavior

If you load the project on Edge on Windows or on Safarin on iPad (it works fine on Mac Safari) the stars won't appear.  Often the "neck" sprite doesn't appear either.

Sometimes after it's been run a few times the stars will appear.

[2018-10-16 21:23] BryceLTaylor opened #1664 "On ios, Space Giraffe runs very slowly"
### Expected Behavior

The project Space Giraffe, https://llk.github.io/scratch-gui/develop/#247578672, should run at a reasonable speed on all devices/browsers

### Actual Behavior

It runs very slowly on ios

### Steps to Reproduce

Load the project shown above
click the green flag
Note: after the "cover" sprite fades the giraffe head takes a long time to fall to the bottom.

### Operating Syste

[2018-10-16 21:24] BryceLTaylor commented on #1664
This may be related to this issue: https://github.com/LLK/scratch-vm/issues/1663

[2018-10-17 00:14] Mr-Dave2 opened #1665 "Resizing causes Touching mouse pointer sensing failure"
### Expected Behavior
A sprite should be able to sense the mouse pointer over its entire area even if it is resized.

### Actual Behavior

A sprite that is doubled in size can only sense the mouse pointer when it is over is original size area.

### Steps to Reproduce

Run this project in compatibility mode: https://beta.scratch.mit.edu/compatibility-testing.html#253064159  ([Scratch 3 link](https:

[2018-10-17 02:37] wooden1985 opened #1666 "how to create a project like blocky-game with scratch-vm?"
### Expected Behavior

_Please describe what should happen_

### Actual Behavior

_Describe what actually happens_

### Steps to Reproduce

_Explain what someone needs to do in order to see what's described in *Actual behavior* above_

### Operating System and Browser

_e.g. Mac OS 10.11.6 Safari 10.0_

[2018-10-17 08:00] apple502j commented on #1666
Not clear, should be closed

[2018-10-17 15:10] ktbee commented on #1433
Fixed in #1643

[2018-10-17 18:51] evhan55 opened #1671 "Close web socket before making a new one for hardware extensions"
From a test:

"I was connected to the EV3, then shut it down, restarted it, went to reconnect, and the scan never found the EV3 at all. Scratch Link showed 4 active sessions (seems to be the number of times I clicked “refresh” on the scanning step). Restarting bluetooth on the EV3 did not help. Restarting Chrome did not help. I was able to detect the same EV3 from a mac with Link 1.1.2. Restarting

[2018-10-17 19:02] greenkeeper[bot] opened #1672 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.20.2` to `4.21.0`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Fwebpack-4.21.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project. It **might not

[2018-10-17 19:44] #1638 closed, assigned to evhan55

[2018-10-17 22:02] ericrosenbaum opened #1673 ""Set language" menu in Text to Speech extension should accept dropped language names"
### Expected Behavior

In the Text to Speech extension, the `set language` block should let you drop a block that reports a language name onto it. This should work for language names in any language. For example, you should be able to use the “language” reporter from the Translate extension to set the Text to Speech language.

### Actual Behavior

Dropped arguments in the `set language` block are

[2018-10-18 10:05] apple502j opened #1674 "micro:bit hardware update"
See [this](https://support.microbit.org/support/solutions/articles/19000087020-micro-bit-motion-sensor-change)

TL;DR
Motion sensor has changed and Scratch Link might need update.

[2018-10-18 14:19] ericrosenbaum commented on #1674
Thanks @apple502j !

@khanning can you please look into this when you have a chance?

[2018-10-18 14:50] khanning commented on #1674
I'm on it! We should just have to recompile the firmware with the latest micro:bit DAL. I'm getting some samples of the new hardware so we can test this before releasing.

[2018-10-18 15:03] BryceLTaylor opened #1676 "Pen Extension doesn't load when importing projects, No blocks load in Sprite"
### Expected Behavior

If a project uses pen blocks the pen extension should load and the blocks should appear in the sprites that use the pen blocks

### Actual Behavior

When a 2.0 project loads that uses the pen blocks the Pen extension doesn't load.  Any sprite that uses pen blocks shows no blocks in the workspace.

### Steps to Reproduce

Load dolphins 3d https://llk.github.io/scratch-gui/dev

[2018-10-18 15:20] fsih commented on #1433
Reopening since #1643 was reverted

[2018-10-18 15:41] fsih opened #1677 "order-changes-backwards-2-broadcast-and-wait.sb2 test is flaky"
### Expected Behavior
Tests should not be flaky

### Actual Behavior
This test failed 3 out of 4 times on Travis
Tested locally and had 5/5 success rate

[code]
The cause is this subtest:

[code]

[2018-10-18 15:52] fsih commented on #1677
/cc @mzgoddard

[2018-10-18 15:54] BryceLTaylor commented on #1676
The PR #1643 is being reverted for now in this pr https://github.com/LLK/scratch-vm/pull/1675.

[2018-10-19 08:13] apple502j opened #1678 "Translate languages for Set language block (TTS Extension)"
### Expected Behavior
Language names should be in Japanese when I use Scratch in Japanese.

### Actual Behavior
It says "Japanese" instead of "日本語".

### Steps to Reproduce
1. Load TTS Extension
2. Set the language to japanese

### Operating System and Browser
On Windows 10 Firefox 62

[2018-10-19 08:17] apple502j opened #1679 "Kitten doesn't work in Japanese"
### Expected Behavior
With these blocks Scratch should speak "meow".
![image](https://user-images.githubusercontent.com/33279053/47206051-ab8c1280-d3c2-11e8-9dcf-7c23ea21dff0.png)

### Actual Behavior
It just says "こんにちは".

### Steps to Reproduce
Load TTS Extension and add those blocks.
`こんにちは`

### Operating System and Browser
On Windows 10 Firefox 62

[2018-10-19 09:01] lasiaz opened #1681 "can't connect micro:bit"
### Expected Behavior

connection micro:bit

### Actual Behavior

show error modal

### Steps to Reproduce

1. click micro:bit extension
2. show connection modal
3. click connect
4. show error modal

this is the error
error: {code: -32500, message: "Application Error",…}
code: -32500
data: "Unhandled error encountered during call: System.TypeLoadException: 找不到 Windows 运行时类型“Windows.Devices.Bluetoo

[2018-10-19 09:21] #1271 closed, assigned to rschamp

[2018-10-19 12:59] benjiwheeler commented on #1681
Just checking, are you installing and running the Scratch Link Windows application first?

[2018-10-19 13:06] lasiaz commented on #1681
Yes，can find micro:bit, but can’t connect.

[2018-10-19 17:23] evhan55 commented on #1615
Both of these cases seen by @thisandagain and @kathymakes have been resolved with https://github.com/LLK/scratch-vm/pull/1654.  There is a new issue to be opened about no alerts showing when the LEGO WeDo2 is powered down, which I will open.

[2018-10-19 17:23] #1615 closed, assigned to evhan55

[2018-10-19 17:24] evhan55 commented on #1615
@thisandagain 's test case is something to consider in https://github.com/LLK/scratch-vm/issues/1590

[2018-10-19 18:21] evhan55 commented on #1590
This is especially important for macOS because it seems on Windows the WeDo2 disconnect is detected (?), but not on macOS.

Oh macOS, one way to 'test' if you are still connected to a WeDo2 is to run a `set light to n` block, because it will then detect that the WeDo2 is unresponsive and trigger an alert and show the orange status button.  However, if you try to 'test' with a motor block with no m

[2018-10-19 19:29] ktbee opened #1682 "PicoBoard projects fail to load when using reporter blocks"
### Expected Behavior

PicoBoard projects aren't supported in Scratch 3.0, so its blocks shouldn't load.

### Actual Behavior

Project fails to load entirely, just get error that "Oops! Something went wrong" on the screen, and this error in the console:

[code]

### Steps to Reproduce

1) Find a project that uses PicoBoard reporter blocks in non-PicoBoard blocks (example: 116599254)
2) Try to load

[2018-10-19 21:32] towerofnix commented on #1679
The cause of this issue is [this line](https://github.com/LLK/scratch-vm/blob/204dc96b2fbc9475da320e1d357ab3be852d1fac/src/extensions/scratch3_text2speech/index.js#L468), which doesn't work with Japanese text.

There [are](https://gist.github.com/ryanmcgrath/982242) [ways](http://www.localizingjapan.com/blog/2012/01/20/regular-expressions-for-japanese-text/) to make a regex match Japanese letters,

[2018-10-19 22:26] apple502j commented on #1679
@towerofnix  Splitting by white space doesn't work in Japanese either, since JA does not use white space to divide words. We have to check by length of the string.

[2018-10-21 11:21] kyleplo commented on #1663
Can’t repro on iPad Pro Chrome

[2018-10-21 11:22] kyleplo commented on #1664
Can’t repro on iPad Pro Chrome

[2018-10-21 12:03] aoloe opened #1684 "no keyboard events after a sprite has been cloned"
i have a script that:

- sets the "running" variable to "no"
- starts a clone
- uses the space key to switch the value of running between "yes" and "no"

### Expected Behavior

when i press space the value should switch between "yes" and "no"

### Actual Behavior

the value does not change

### Steps to Reproduce

as soon as "create a clone of myself" is added to the green flag block, and the prog

[2018-10-21 13:13] Mr-Dave2 commented on #1684
I tried this under Scratch 2 and got the same behavior.  The stack with 'When SPACE key is pressed' is executed by both the original sprite and its clone.  One of them sets the variable to yes and the other setting it back to  no. I added some different wait times to your program so the effect could be seen.
![space with wait](https://user-images.githubusercontent.com/35544966/47267325-c3b97a00-d5

[2018-10-21 16:03] aoloe commented on #1684
yes, i also did try it in scratch 2.0 and got the same result

with your explanation i now understand well why this happens.
(and why it works when i use the "click on sprite")

i have to think a bit about it (and how to solve this), but i fear that there is nothing that can be changed in scratch to implement my idea "this way".
the behavior is "surprising" for the programmer (which is not so good

[2018-10-22 15:54] ericrosenbaum opened #1687 "Peripheral scan timeout is not correctly reset"
### Expected Behavior

When you are scanning for devices, the scan should run for the same amount of time each time.

### Actual Behavior

Sometimes the scan times out early, when you scan multiple times in a row. This may be because the timeout is not being cleared correctly.

### Steps to Reproduce

- Add the microbit extension
- Press the "refresh" button several times
- Wait for the scan to ti

[2018-10-22 20:29] ktbee opened #1689 "Need tests to ensure current extensions load"
### Expected Behavior

If a code change prevents an extension from loading, a failed test should indicate there is an issue.

### Actual Behavior

No test necessarily covers the general case of ensuring all current extensions load.

### Steps to Reproduce

An example case where a PR passes automated testing, but breaks the Pen extension in Scratch 3: https://github.com/LLK/scratch-vm/issues/1676

[2018-10-23 01:02] evhan55 commented on #1671
Also to fix with this issue: don't disconnect from socket if it wasn't connected to in the first place.

[2018-10-23 01:37] evhan55 commented on #1671
Currently working on these two issues and have made this progress:

- **micro:bit [BLE]**: Scan for peripheral multiple times, uses same web socket now and doesn't create multiple web sockets
- **WeDo2 [BLE]**: Closing the connection modal if you don't initially scan for the peripheral doesn't give a console error.  Scanning for a peripheral once connects to the one first found, no multiple web so

[2018-10-23 02:42] Mr-Dave2 commented on #1663
I tried this sequence four times and each time at least one of three project had a sprite with a costume that did not show on the stage.

On my IPad Pro, iOS 12.0.1 and using Safari,
Clear the safari history and website data,
Start Safari and access these three URL’s

https://beta.scratch.mit.edu/#247578672 (Space Giraffe - one or more Star costumes were not shown)
https://beta.scratch.mit.edu/#11

[2018-10-23 10:10] weijiahui1 opened #1690 "Scratch-vm and scratch-gui run the same .sb3 files with different results？"
### Expected Behavior

Same operation effect

### Actual Behavior

Operation results are different.

### Steps to Reproduce

1. Scratch-vm the file running target file after packaging.
![image](https://user-images.githubusercontent.com/25278544/47353312-87943e00-d6ee-11e8-9843-3213afda77d3.png)

2. scratch-gui the file running target file after packaging.
![image](https://user-images.githubusercon

[2018-10-23 15:46] thisandagain commented on #1690
See comments in https://github.com/LLK/scratch-gui/issues/3464

[2018-10-23 15:46] #1690 closed, assigned to nobody

[2018-10-23 15:47] #1684 closed, assigned to nobody

[2018-10-23 15:50] thisandagain commented on #1681
/cc @cwillisf @evhan55 @ericrosenbaum

[2018-10-23 15:51] thisandagain commented on #1679
/cc @ericrosenbaum

[2018-10-23 15:52] #1672 closed, assigned to nobody

[2018-10-23 15:56] #1666 closed, assigned to nobody

[2018-10-23 15:57] thisandagain commented on #1666
Please provide more information when asking questions so we can help you.

[2018-10-23 15:58] thisandagain commented on #1665
/cc @ktbee @kchadha

[2018-10-23 15:59] thisandagain commented on #1678
/cc @ericrosenbaum

[2018-10-23 16:00] thisandagain commented on #1659
/cc @mzgoddard @kchadha

[2018-10-23 16:08] #1646 closed, assigned to nobody

[2018-10-23 16:09] thisandagain commented on #1646
Please fill out issue templates and provide sufficient information for us to help identify and resolve your issues.

[2018-10-23 16:11] thisandagain commented on #1633
Good catch! Thanks @Mr-Dave2

/cc @kchadha

[2018-10-23 16:37] thisandagain commented on #1625
/cc @ktbee @kchadha

[2018-10-23 16:37] thisandagain commented on #1625
@ktbee This one is related to a few other issues we have filed related to differences in tolerances for touching color. These blocks are used widely so this is likely to be high impact.

[2018-10-23 16:39] thisandagain commented on #1623
/cc @kchadha

[2018-10-23 16:40] thisandagain commented on #1622
/cc @ktbee @kchadha @paulkaplan

[2018-10-23 16:41] thisandagain commented on #1622
@ktbee We don't see this use case all that often, so this is likely to be low impact and is related to the choice to render monitors in the GUI.

[2018-10-23 17:28] cwillisf commented on #1681
@lasiaz, which version of Windows 10 do you have? Maybe 10.0.14393 or 10.0.15063?

[2018-10-23 19:11] #1410 closed, assigned to nobody

[2018-10-23 19:13] #1534 closed, assigned to nobody

[2018-10-23 19:59] paulkaplan commented on #1622
@thisandagain we could probably forward click events through the dom elements if we wanted to support this without rendering monitors in canvas

[2018-10-23 20:46] thisandagain commented on #1622
@paulkaplan Yup! I was thinking / hoping the same.

[2018-10-24 13:45] BryceLTaylor commented on #1382
I can not reproduce this issue.

[2018-10-24 13:45] #1382 closed, assigned to BryceLTaylor

[2018-10-24 14:31] towerofnix commented on #760
BTW, looks like this is [still an issue](https://llk.github.io/scratch-gui/develop/#184450398)?

[2018-10-24 15:51] greenkeeper[bot] opened #1692 "An in-range update of arraybuffer-loader is breaking the build 🚨"
## The dependency [arraybuffer-loader](https://github.com/pine/arraybuffer-loader) was updated from `1.0.6` to `1.0.7`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Farraybuffer-loader-1.0.7).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

arraybuffer-loader is a direct dep

[2018-10-24 16:32] cwillisf commented on #1671
If it's not too difficult to implement, I would suggest:

- Every time you send a `discover` request, it happens on a `new Websocket(...)`
- If the user closes the connection modal before you `connect`, close and "forget" the Websocket (with `{ mySocket.close(); mySocket = null; }` or similar)

Continuing to use the same Websocket for future discover requests means reusing the same Scratch Link se

[2018-10-24 16:37] evhan55 commented on #1671
Thank you @cwillisf , makes sense, sorry about not noticing the docs, I will try it!

[2018-10-24 16:44] cwillisf commented on #1671
@evhan55 no worry about the docs -- that particular point is pretty subtle. I was actually going to write something like "the docs are ambiguous on this point" at first, but when I went to grab a link for the relevant section I happened to re-read it and noticed that the docs imply (but don't explicitly state) that `discover` isn't allowed in the "discovery" state.

[2018-10-24 16:55] thisandagain commented on #760
@mzgoddard @ktbee @kchadha Any thoughts on this?

[2018-10-24 17:06] #1692 closed, assigned to nobody

[2018-10-24 18:28] greenkeeper[bot] opened #1694 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.22.0` to `4.23.0`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Fwebpack-4.23.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project. It **might not

[2018-10-24 19:50] paulkaplan opened #1695 "Touching color does not work with the default purple color"
### Expected Behavior

_Please describe what should happen_

On this project, when you press "a" and the cat moves over the purple, it should "say <true>" but it says false. Note how the other touching color stacks work fine, just not the paint editors default purple color... Very bizarre.

![image](https://user-images.githubusercontent.com/654102/47457246-9c330d80-d7a4-11e8-9f9c-46792fd28a5d.png)

[2018-10-24 21:10] kchadha commented on #760
I think this issue is re-fixed with the changes in #1683. Testing the changes in that PR locally, the project that @towerofnix posted seems to be performing the same as in 2.0.

[2018-10-24 21:14] kchadha commented on #1695
@paulkaplan, I don't think the changes I mentioned are related to this issue =/

[2018-10-24 21:16] kchadha commented on #1433
Fixed with #1688.

[2018-10-24 21:16] #1433 closed, assigned to ktbee

[2018-10-25 04:53] ZenithRogue opened #1698 "Clicking 'New' does not clear canvas"
After loading with the pen tool, clicking 'File>New' to reset the project, will **not** clear the canvas.

load this [example](https://llk.github.io/scratch-gui/develop/#248744218), run it (in turbo), and then click File>New

[2018-10-25 13:21] TheLogFather opened #1699 "Scratch 3's treatment of ±Infinity isn't the same as Scratch 2"
### Expected Behavior

In Scratch 2 the following expressions are all true:
< ( 1 / 0 ) = [Infinity] > where the right side is a string
< (var) = [Infinity] > when var was set to 1/0 (i.e. Infinity) and right side is a string
< [list v] contains [Infinity] > when it contains a numerical infinity (e.g. from 1/0)
< (var) = (var) > when var is ±Infinity (numerical, e.g. from ±1/0)
etc...

### Actual

[2018-10-25 13:39] Kenny2github commented on #1699
To be mathematically accurate...
1/0 != Infinity. 1/0 is undefined, and should either be an exception (which wouldn't apply to Scratch) or NaN.
Numerical infinity does not equal infinity, as there can be multiple kinds of infinity. Consider the infinite series of natural numbers (i.e. 1, 2, 3...) vs the infinite series of even natural numbers (i.e. 2, 4, 6...). These are both infinity, but they ar

[2018-10-25 13:51] TheLogFather commented on #1699
I don't think 'mathematical consideration' is really relevant to what I said above.

It was simply "the behaviour in 3 is inconsistent with 2".

It's worth noting that we're not quite talking about mathematics here. Some of this is really computational arithmetic (which is guided by mathematical principles and concepts, but it is a bit different), and some of it is how Scratch hides type from Scra

[2018-10-25 14:08] TheLogFather commented on #1699
I think part of the issue here is that Scratch, most of the time, tries to do its best to hide the concept of 'type' from inexperienced coders. (The main place that didn't hold was for input boxes, where a round-end one was for numerical values, while square-end was more 'generic' – and clearly the hexagonal slot was for booleans, but you can't type into that.)

This 'philosophy' is generally hand

[2018-10-25 17:47] joker314 commented on #1699
Okay, I've figured out what's going on. Both Scratch 3.0 and Scratch 2.0 compare things by passing it `(a, b)` to a function:

- if the return value is negative, `a < b`
- if the return value is 0, `a = b`
- if the return value is positive, `a > b`

Notice that this bug only happens when you spell Infinity in a case-sensitive way
[code]

The reason is that both versions will attempt to cast both a

[2018-10-25 20:47] thisandagain commented on #1483
/cc @ktbee

[2018-10-25 22:32] fsih commented on #1249
@paulkaplan @kchadha can I get help understanding the repro steps? I built the stack of blocks, and it seems to do nothing when I click the sprite in either 2.0 or beta.

[2018-10-26 00:53] Mr-Dave2 commented on #1249
@fsih Are you clicking and holding the mouse down?  My test case is here: [Scratch 2 link](https://scratch.mit.edu/projects/227085207) and [Scratch 3.0 link](https://beta.scratch.mit.edu/#227085207) .

The post in the forum that mentions problems with actual projects is [here](https://scratch.mit.edu/discuss/topic/299791/?page=157#post-3129081) .

And [this project](https://beta.scratch.mit.edu/co

[2018-10-26 07:05] TheLogFather commented on #1699
Ah, nice catch!

I hadn't tried "infinity", with lower-case "i", so that would certainly have been a useful indicator if I'd noticed it.

Also, I'd not noticed that this bug means even using strings on both sides would fail in Scratch 3  (because it ends up casting the string "Infinity" into a numerical value, as you showed above).

So <"Infinity" = "Infinity"> is false!

(Using lower-case "i" wor

[2018-10-26 14:17] fsih commented on #1249
@Mr-Dave2 thanks! I see, you have to be in player mode (as opposed to editor mode)

[2018-10-29 03:45] towerofnix commented on #672
Another case where this is particularly noticeable (e.g. in the buttons at the main menu, and during some slides): https://scratch.mit.edu/projects/257694182/

[2018-10-29 14:33] kchadha opened #1704 "Project with hacked blocks fails to load - #55574144"
### Expected Behavior

2.0 projects should load in Scratch 3.0.

### Actual Behavior

This project does not load, immediately gets an oops page:
55574144

Errors in the console:
[code]

This error is suspiciously similar to one that was previously fixed in #1562

### Steps to Reproduce

Try loading the project above.

cc/ @thisandagain, @BryceLTaylor, @ktbee, @mzgoddard

[2018-10-29 15:28] mzgoddard opened #1705 "Review Cast.toNumber performance"
### Expected Behavior

Cast.toNumber should perform its job as quickly as possible with reasonable code complexity.

### Actual Behavior

Cast.toNumber likely loses some performance by relying on `Number()` to do most of its work. `Number()` forces whatever value is passed to be coerced into a Number even when it may already be a number.

### Steps to Reproduce

Use code like testing `if (typeof v

[2018-10-29 15:39] #1490 closed, assigned to nobody

[2018-10-29 16:26] mzgoddard opened #1706 "Cache blocks with isMonitored into an object to iterate over"
### Expected Behavior

Running threads for monitored blocks should run quickly.

### Actual Behavior

Every frame all monitor threads are executed. To do this the monitorBlocks Blocks instance in Runtime iterates all of monitorBlocks' blocks and if it isMonitored, executes runtime.addMonitorScript on it. Like other caches in Blocks we can cache this filtered set of blocks so we only loop actively

[2018-10-29 16:36] mzgoddard opened #1707 "Cache script blocks for allScriptsDo"
### Expected Behavior

Quickly loop over script blocks filtered by uses of allScriptsDo, like filtering by opcode.

### Actual Behavior

Every frame, Runtime starts threads for all edge hats. This currently loops over all script blocks, the top block of a command block list, for all targets. Doing this the inner function passed to allScriptsDo filters by opcode so only edge hats are started. The o

[2018-10-29 17:21] mzgoddard opened #1708 "Cache connections from a block to its next, branch and procedure siblings"
### Expected Behavior

Quickly iterate around block connections.

### Actual Behavior

Stepping through command, branch, and procedure blocks in Sequencer.stepThread means regularly doing member lookups in Blocks to find information like the next block or one of its branches. Like the execute cache that saves regular lookups in execute.js we can cache the block connection graph for sequencer.js an

[2018-10-29 17:45] adroitwhiz commented on #1637
It appears that in Chrome, Array.prototype.splice(0, 1) (executed here when Scratch deletes the first element of a list) becomes much slower after the size of the list reaches 50856 items (this might vary across machines, not sure). No idea why this happens.
You can test this for yourself with the following benchmark:
[code]

[2018-10-29 18:36] thisandagain commented on #1699
Oh boy. I remember dealing with this in Scratch 2.0. Thanks for filing this @TheLogFather.

[2018-10-29 18:37] thisandagain commented on #1699
/cc @ktbee @kchadha

[2018-10-29 18:41] joker314 commented on #1679
Is the source code for the synthesis server publicly available, out of interest?

[2018-10-29 18:44] #1694 closed, assigned to nobody

[2018-10-29 18:48] thisandagain commented on #1679
@joker314 It is not.

[2018-10-29 18:53] fsih commented on #1679
@ericrosenbaum It might make sense to have different treatment for each language for meow? Different languages seem to say different punctuation marks (like Italian saying "semicolon"), and that way you could adapt for whether a language uses spaces, and translate "meow"

[2018-10-29 19:05] #1249 closed, assigned to paulkaplan

[2018-10-29 19:13] adroitwhiz commented on #1637
Looking further into this, it appears that V8 treats some arrays as "dictionary mode" and others as "fast mode" using some optimization voodoo. The former uses a dictionary-like structure for storing array values, and the latter is a more traditional array. Ironically, "fast mode" arrays delete lower-indexed elements much slower, as they have to shift all subsequent elements backwards, whereas "di

[2018-10-30 00:09] Mr-Dave2 commented on #1704
I was wondering if it would help to carry forward the comment from the original issue that this is just a collection of hacked blocks.  Maybe even change the title "Project with hacked blocks fails to load - 55574144".
![hacked block project](https://user-images.githubusercontent.com/35544966/47687111-a726dd00-dbac-11e8-8aa1-e945b5bcc60e.png)

[2018-10-30 00:23] joker314 commented on #1704
We're tracking hacked blocks in #1030, I believe.

[2018-10-30 14:51] ktbee commented on #1682
This bug is potentially similar to https://github.com/LLK/scratch-vm/pull/1524

[2018-10-30 15:19] #1577 closed, assigned to rschamp

[2018-10-30 15:26] mzgoddard commented on #1659
This might be improved by #1683.

[2018-10-30 15:41] #1477 closed, assigned to thisandagain, rschamp, kchadha, fsih, cwillisf

[2018-10-30 16:03] TheLogFather commented on #1704
Might be worth noting that https://scratch.mit.edu/projects/148155722/ also fails to load.

It's a very simple project, so should be easy to debug.

It contains something which *looks* as though it was 'hacked' (the variable in a custom block boolean slot), but actually was not (–it's possible to do that within the Scratch editor itself, as explained in the project, though it's probably not by an

[2018-10-30 16:18] picklesrus opened #1710 "Project 16795490 runs slowly on android tablet"
16795490 performance degrades significantly when you drag (rather than tapping) on an Android tablet.

[2018-10-30 19:26] #1639 closed, assigned to ktbee

[2018-10-30 19:57] fsih commented on #1477
Remaining bugs https://github.com/LLK/scratch-paint/issues/481 and https://github.com/LLK/scratch-paint/issues/736 appear to be limited to less common browsers and have been backlogged for now.

[2018-10-31 14:01] picklesrus opened #1712 "Sound recorder tab says we don't have permission, but the system dialog never asked"
### Expected Behavior

Either the browser dialog should ask, or the sound recorder should let us record.

1. On Android Tablet, click the "record sound" option on the play sound block's dropdown.
2. That should take you to the sound recorder.
3. The sound recorder looks like the screenshot below, but the browser didn't ask for permission:
![screen shot 2018-10-31 at 9 59 18 am](https://user-images

[2018-10-31 14:06] fsih commented on #1479
The track here is drawn as two overlapping strokes, so I think this issue is the same as this one: https://github.com/LLK/scratch-render/issues/233

but it's very exaggerated because of how zoomed in the track is.

[2018-10-31 14:29] fsih commented on #1541
The costumes are showing in the bitmap editor because the SB2 file has costumes with MD5s that end in .png, which causes us to interpret it as a bitmap.

[code]

The issue seems to be the mysterious text layer. In addition to a PNG, the costume defines everything needed to display a text element, which is interpreted in Scratch 2 as a vector costume with text, apparently. @kchadha says we are not

[2018-10-31 14:36] BryceLTaylor commented on #1507
I'm unable to reproduce this.  I'll close it for now and keep my eye out for regressions.

[2018-10-31 14:37] fsih opened #1713 "Assets are getting IDs renamed"
### Expected Behavior
Asset MD5s should stay the same

### Actual Behavior
Something is changing asset IDs when loading SB2s in scratch 3.

### Steps to Reproduce
1. I downloaded the project https://scratch.mit.edu/projects/124310159/#editor
2. I uploaded it to Scratch 3
3. I downloaded the SB3
The SB3 contains files named
797b03bdb8cf6ccfc30c0692d533d998.png
a8da90eb371d3fe456046a1e0cc71b54.png
T

[2018-10-31 14:38] fsih commented on #1541
We also found a possibly unrelated issue with the IDs changing: https://github.com/LLK/scratch-vm/issues/1713

[2018-10-31 14:54] kchadha commented on #1541
😂😅🤔

[2018-10-31 14:59] fsih commented on #1541
Maybe whenever sb2 files contain more arguments that we don't parse, we should log that somehow? I wonder if there are other things.

[2018-10-31 15:36] thisandagain commented on #1541
Next steps are to investigate exactly how 2.0 is interpreting the text layer and make modifications to 3.0 to convert / handle this situation in the same way.

[2018-10-31 15:45] thisandagain commented on #1480
@ktbee Let's discuss this one at our next check-in.

[2018-10-31 18:11] towerofnix commented on #1541
BTW, this is a duplicate of my old issue #672, which has a lot more information.

[2018-10-31 18:31] fsih commented on #1541
That's great @towerofnix, thanks for all the info!

[2018-10-31 18:31] #1541 closed, assigned to fsih

[2018-10-31 19:27] ericrosenbaum opened #1714 "Save the Minifigs project does not load"
This version does not load in 3.0:
https://llk.github.io/scratch-gui/develop/#10118726

This version does load- the only change was to add a shape to the background:
https://llk.github.io/scratch-gui/develop/#258472899

cc @kchadha

[2018-10-31 19:34] joker314 commented on #1386
Note to anyone trying to do this:
- list monitors are rendered in LLK/scratch-gui
- the behaviour of 'flashing' is implemented in LLK/scratch-gui#3585 (though it deals with boxes around sprites rather than list indices), so it might be a useful reference for you

[2018-10-31 20:38] fsih commented on #672
We've decided that since 1.4 projects would have been created so long ago, it's more important to preserve what they looked like than keep them editable, so we agree with your intended behavior of pre-flattening.

That said @towerofnix it looks like you've made really good progress on the fix for this. Would you like to make a pull request for it, and I'll help review it? I can also pick up where

[2018-10-31 21:28] ktbee opened #1715 "Add tests to confirm the translation and videoSensing extensions load"
### Expected Behavior

We have tests that check that all extensions load thanks to #1700

### Actual Behavior

We have tests for loading most extensions in `test/integration/load-extensions.js` with test projects in `test/fixtures/load-extensions`, but not for the `translation` and `videoSensing` extension.

### Steps to Reproduce

If you add an example test project file to `test/fixtures/load-ext

[2018-10-31 21:40] Mr-Dave2 commented on #1714
I was wondering, even though you wrote this project, if you had remembered that this was a Scratch 1.4 project.

 $ grep scratch-version project.json
                "scratch-version": "1.4 of 30-Jun-09",

[2018-10-31 21:52] picklesrus opened #1717 "Day of Week option in Current sensing block doesn't import from sb2 properly"
Scratch 3.0 expects the value of the menu to be "DAYOFWEEK" and scratch 2 provides it as "day of week".  The spaces seem to be the problem.

Notice that the value of Current day of week monitor is 0 on a project imported from sb2:
https://beta.scratch.mit.edu/#258701696

cc/ @kchadha

[2018-10-31 23:25] towerofnix commented on #672
@fsih I actually made a PR for this a while ago, #915. It was closed due to the codebase not being 110% stable back then (e.g. scratch-svg-renderer was just being made), and it would have taken some fairly significant steps to move forward at the time (e.g. changes to scratch-storage). But since it's been a while it's probably worth re-investigating. The code might be reusable. Definitely should c

[2018-11-01 01:41] fsih commented on #672
Thanks @towerofnix, I will work on this then!

[2018-11-01 13:05] griffpatch commented on #760
Another test project you can use to test this project with a FPS counter:
https://llk.github.io/scratch-gui/develop/#258800864

[2018-11-01 14:20] ktbee commented on #1676
The original issue that broke the pen extension is fixed in #1693 and we now have tests for catching when the pen extension breaks as well in #1700

[2018-11-01 14:20] #1676 closed, assigned to ktbee

[2018-11-01 14:21] ktbee commented on #1689
Closed in #1700

[2018-11-01 14:21] #1689 closed, assigned to ktbee

[2018-11-02 03:00] #1698 closed, assigned to nobody

[2018-11-02 03:00] ZenithRogue commented on #1698
moved to scratch-gui

[2018-11-02 12:49] apple502j opened #1721 "Forever create clone is buggy"
https://scratch.mit.edu/projects/10211954/
https://llk.github.io/scratch-gui/develop/#10211954

3.0 makes the browser (almost) frozen.
2.0 does not.

[2018-11-02 12:59] #1500 closed, assigned to nobody

[2018-11-02 19:58] #1705 closed, assigned to mzgoddard

[2018-11-02 22:19] greenkeeper[bot] opened #1724 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.23.1` to `4.24.0`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Fwebpack-4.24.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project. It **might not

[2018-11-03 05:05] apple502j opened #1725 "Translate "Scratch lost connection to...""
This message is used for alerts.

[2018-11-05 17:08] BryceLTaylor opened #1726 "Mouse X and Mouse Y should be rounded to integer positions"
### Expected Behavior

The `mouse x` and `mouse y` blocks should round to integer positions to match the behavior of Scratch 2.0.

### Actual Behavior

`mouse x` and `mouse y` report non-integer positions.  This causes problems with any conditional statement involving `mouse x = [an integer]` such as in this project:

https://scratch.mit.edu/projects/259790850

### Steps to Reproduce

Load this pr

[2018-11-05 20:38] paulkaplan opened #1728 "vm.setVariableValue should update cloud vars also"
The GUI needs to update variables directly sometimes (e.g. the slider monitors) and it uses the public `vm.setVariableValue` method to do that (or at least it will, pending https://github.com/LLK/scratch-gui/pull/3652/files). But those functions do not update the cloud data IO device.

This will fix the issue reported in https://github.com/LLK/scratch-gui/issues/3647

[2018-11-06 10:28] ghost opened #1729 "On matter of scoping and tail call optimization."
As seen by this project, scratch 3.0 uses dynamic scoping as opposed to static scoping: https://scratch.mit.edu/projects/259998618/
This is an issue as it is (1) different from scratch 2.0, which may lead to incompatibility, and in addition, it makes it much harder for tail call optimization to be implemented.
Also, I would like to request that tail call optimization be implemented, as as scratch

[2018-11-06 15:29] BryceLTaylor opened #1731 "Extensions should unload if you change projects"
### Expected Behavior

If you have a project open that has extensions added and you open a new project that does not have those extensions, the extensions should not be loaded in the new project.

The new project could be loaded by:  file>new, uploading a project, or changing the url.

### Actual Behavior

When you get to the new project the extensions from the old one are still loaded.

### Steps

[2018-11-06 16:11] ericrosenbaum opened #1732 "Volume is not applied until after the beginning of each music extension note"
### Expected Behavior

When you set the volume, then play a note using the "play note" block, the note should play at that volume.

### Actual Behavior

Currently, we appear to be applying the volume a short time after the note starts. As a result, if you set the volume to 0, then play notes, you hear a very short, full volume version of each note.

At intermediate volumes, you hear a very short,

[2018-11-06 16:35] towerofnix commented on #1729
In my view, dynamic scoping is neat - but less important than tail-call optimization, because TCO probably enables more types of programming than dynamic scoping (which can partially be worked around via variables or lists), and dynamic scoping hypothetically causes incompatibilities. (But I'd be surprised if there exists a project which relies on the value of a custom block's nonexistent input th

[2018-11-06 19:13] ericrosenbaum opened #1733 "Default input to the "speak" block should be localized"
### Expected Behavior

When you have the editor set to (e.g.) japanese, and then you add the text to speech extension, the default input to the "speak" block should be in japanese. This should work for any language currently supported by the text to speech extension, and other languages should default to the English "hello".

The code shown here should accomplish this (and did work, when I was tes

[2018-11-06 19:43] chrisgarrity commented on #1678
Note: this should use the languages names module used by the translation extension for consistency.

[2018-11-06 19:54] joker314 commented on #1729
Regarding dynamic scoping only:

<hr>

I would've thought dynamic scoping was removed in #1640, where an extra `return null;` is added to engine/threads.js

#### Old behaviour
Traverse the call stack until we find a custom hat which has a parameter with the correct name (dynamic scoping)

#### New behaviour
Traverse the call stack until we find **any** custom hat (static scoping)

<hr>

Procedures

[2018-11-06 20:07] ericrosenbaum opened #1734 "Music extension instruments should have equal loudness"
Reported by @robomandude (moved from https://github.com/LLK/scratch-audio/issues/108):

### Expected behavior

All the instruments in Scratch 3 should sound _similar_ to their Scratch 2 counterparts, if not identical.
None of the instruments should be substantially louder or softer than the other instruments.

### Actual behavior

Some of the instruments are very quiet compared to the others in Sc

[2018-11-06 20:09] ericrosenbaum commented on #1734
Note that you can find the mp3 files of all the instrument and drum samples here: https://github.com/LLK/scratch-vm/tree/develop/src/extensions/scratch3_music/assets

[2018-11-06 20:31] towerofnix commented on #1386
Note that you the highlighted item is also automatically scrolled to.

Also, while working with the linked project, **do not** click the list items; this prevents the "when key pressed" hat block from detecting input.

[2018-11-06 22:57] joker314 commented on #1729
Problem has been idenitified by imfh and towerofnix on the forums.

When a custom block has no parameters, its frame's `params` object is `null`.

Back when Scratch 3.0 had dynamic scoping, we would--for efficiency--`continue` traversing the stack frames if we got `null`, because `null` means the custom procedure has no arguments, and hence can't contain an argument we're referencing. (thanks to i

[2018-11-06 23:19] towerofnix commented on #1729
BTW, if we always return null after the topmost stack frame, shouldn't we get rid of the `for` loop and just do `const frame = this.stackFrames[this.stackFrames.length - 1]`?

[2018-11-06 23:27] joker314 commented on #1729
Note: towerofnix's idea [is what scratch-flash does](https://github.com/LLK/scratch-flash/blob/develop/src/interpreter/Interpreter.as#L755-L763), but scratch-flash doesn't even _touch_ the stack frame. If you don't need to look through the call chain, you can just use the active thread's parameters rather than the last stack frame's parameters. (These two are the same set of parameters if you're i

[2018-11-07 01:58] greenkeeper[bot] opened #1738 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.1.2` to `7.1.5`.
- The `devDependency` [@babel/preset-env](https://www.npmjs.com/package/@babel/preset-env) was updated from `7.1.0` to `7.1.5`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Fmono

[2018-11-07 07:48] apple502j commented on #1734
Why don't you copy sounds from 2.0?

[2018-11-07 07:55] apple502j commented on #1678
@chrisgarrity Then how do we handle Spanish (Europian) and Spanish (Latin America)?

[2018-11-07 15:43] towerofnix opened #1739 "Dropping blocks into another sprite should position them within viewport"
### Expected Behavior

Dragging blocks in from one sprite into another should place them within the visible area, perhaps in a similar way to LLK/scratch-blocks#1677. (Not sure if this issue should be in scratch-blocks, but I think it may be related to the [`shareBlocksToTarget`](https://github.com/LLK/scratch-vm/blob/eef1885fadd806721f5c4f11136ba1efdff60336/src/virtual-machine.js#L1111) function.

[2018-11-07 21:06] joker314 commented on #1729
Regarding ***tail-call optimisation***.

Normally, when we do tail-call optimisation in other programming languages, we say that if a recursive call is made at the end of a function, these two things are the same:

- returning to after the call was made and running the non-existent rest of the script ("do nothing")
- not returning at all ("do nothing")

And, so, to be memory efficient, we can do t

[2018-11-07 23:14] benjiwheeler commented on #1725
And keep in mind right-to-left considerations.

[2018-11-08 00:42] apple502j commented on #1725
https://github.com/LLK/scratch-vm/blob/develop/src/io/ble.js#L177
Maybe formatMessage with values is fine here.

Also
https://github.com/LLK/scratch-vm/blob/develop/src/io/bt.js#L120

[2018-11-08 03:51] kchadha commented on #1714
This issue is one I investigated a while ago. In Scratch 1.4, it was possible to have an empty background and this gets saved in the sb2 json when the project gets converted.

The sb2 json has values/formats for values that Scratch 3.0 import code does not expect e.g.

[code]

[2018-11-08 16:48] ericrosenbaum opened #1743 "Dropped sprite names that are numbers do not work"
### Expected Behavior

It should be possible to drop a variable that reports a number onto an input that expects a sprite name in order to select a sprite with a name that is a number.

This bug affects any block that accepts a sprite name as an input:
- Go to
- Glide to
- Point towards
- Create clone of
- Distance to
- X position of

For example, here the bananas are a sprite named "3" and droppi

[2018-11-08 16:57] Robomandude commented on #1734
[Sawtooth-Sample.zip](https://github.com/LLK/scratch-vm/files/2562688/Sawtooth-Sample.zip)
I spent 20 or so minutes in Audacity generating a sawtooth sample that has similar amplitude and envelope characteristics to the Synth Lead sample currently in use.  Think you could use that?

[2018-11-08 18:10] ericrosenbaum commented on #1743
I'm not sure whether the runtime's getSpriteTargetByName function should do a cast to string itself, or if each block implementation should do the cast. We generally do casting like this in the block implementations, but obviously that is error prone already, where we miss cases (e.g. the current bug). cc @cwillisf

[2018-11-08 18:47] ericrosenbaum opened #1744 "When reconnecting to EV3, I got "Oops, looks like something went wrong""
With this console error:

[code]

I was able to recover by clicking "try again," and successfully connected.

[2018-11-08 19:44] #1717 closed, assigned to nobody

[2018-11-08 20:21] #1671 closed, assigned to evhan55

[2018-11-08 20:27] kchadha opened #1745 "Visible extension monitors don't load when imported from 2.0 when there are no blocks from that extension in the project"
### Expected Behavior

Visible monitors should load.

### Actual Behavior

Visible extension monitors don't load when imported from 2.0 when there are no blocks from that extension in the project (e.g. a project that has a visible video monitor but doesn't have any video blocks in the project)

### Steps to Reproduce

Load 260787219 or 260788039 in Scratch 3.0 and observe that there is no monitor

[2018-11-08 20:31] #1687 closed, assigned to evhan55

[2018-11-08 20:58] spectranaut opened #1746 "Numeric Infinity (1/0) turns into "0" when saving to sb2 format"
### Expected Behavior

In scratch 2: You should be able to save the value (1/0) (constructed using the `() / ()` operator block). The value is listed as `Infinity` in the list or variable.

### Actual Behavior

In scratch 2: You cannot save the value (1/0) (constructed using the `() / ()` operator block). The value is listed as `Infinity`, then is turned into `0` in the sb2 creation.

### Steps to

[2018-11-08 21:34] ericrosenbaum commented on #1744
cc @evhan55 @cwillisf

[2018-11-08 21:38] kchadha commented on #1745
Discussed offline with @ericrosenbaum, and we decided that for video sensing monitors we will just continue to ignore them completely since they are not a viable monitor in 3.0.

We should fix this issue for tempo though.

[2018-11-08 23:04] joker314 commented on #1746
Hmm -- cool bug! I might be mistaken, but I don't think this affects Scratch 3.0: fixing the bug won't break (nor fix) existing projects; and we can't turn the 0s back into Infinities because what if the user actually put a 0? Do you agree?

[2018-11-09 04:45] towerofnix commented on #1659
Here are my results now (just Firefox):

![A chart displaying: "Time to run loop (sec)" = (2.0, 0.3s), (3.0, 1s); "Run loop with no screen refresh (sec)" = (2.0, 0.13s), (3.0, 0.65s).](https://user-images.githubusercontent.com/9948030/48243633-b6c9d100-e3b7-11e8-8a60-9f8a7be890be.png)

Old (@Mr-Dave2's results):

| 2.0 | 3.0 | 3.0 vs 2.0 |
| --- | --- | --- |
| 0.77 | 4.98 | 650% |
| 0.23 | 2.31 |

[2018-11-09 16:26] spectranaut commented on #1746
@joker314 it might just be something to keep in mind when people are implementing scratch 3 saving! I agree probably not worth fixing in scratch 2 :)

[2018-11-09 20:24] evhan55 commented on #1744
@ericrosenbaum  Do you remember the STR by any chance?  Also, was this only Windows?

[2018-11-09 21:55] ericrosenbaum commented on #1744
I don't have the steps to repro for this one, sorry. It was on Windows. It definitely occurred after disconnecting though, so it could be related to the Scratch Link crashes I was seeing. Not sure.

[2018-11-10 06:50] TheLogFather commented on #1746
Duplicate of https://github.com/LLK/scratch-flash/issues/1290
(Though I guess it's worth having the compatibility discussion, since I can't see an obvious reason why Scratch 3 should save ±Infinity as zero, unless someone can conjure up some plausible case why Scratch 2 behaved in this way, and why Scratch 3 needs to follow on and be compatible.)

[2018-11-11 20:16] ericrosenbaum commented on #1507
I was just able to repro this, finally. It happens when you have an edge-triggered hat in a sprite, then duplicate the sprite, then change the input on the edge-triggered hat in the duplicate (e.g. from "when tilted left" to "when tilted right"). Now, when either hat has a true condition, it triggers continuously (i.e. the stack is started 30 times per second, rather than the expected single time)

[2018-11-11 21:36] kchadha commented on #1513
Closed in #1742

[2018-11-11 21:36] #1513 closed, assigned to nobody

[2018-11-11 21:36] kchadha commented on #1628
Closed in #1742

[2018-11-11 21:36] #1628 closed, assigned to nobody

[2018-11-12 00:47] peterhigginson opened #1749 ""My blocks" parameters are not separate"
### Expected Behavior

The parameters you create should be numbered 1, 2 etc. as Scratch 2 does

### Actual Behavior

There is no difference and the value given is always the 2nd (I only tried 2 - I assume the last).

### Steps to Reproduce

Create a block in my blocks. Add two "numbers or text". Note the results are not identified differently.
Add to the block "say ... for 2 seconds" twice and co

[2018-11-12 20:23] beakutis opened #1751 "With BLE device, cannot access unadvertised services"
### Expected Behavior

When connection to a BLE device is discovered and established, access to any GATT service named in "service" or "optionalServices" should be allowed.

### Actual Behavior

Unable to access any characteristic listed under "optionalServices" unless the service is explicitly part of the advertising packet/advertisement data. In need of a way to access services listed as "option

[2018-11-13 00:49] greenkeeper[bot] opened #1752 "An in-range update of tap is breaking the build 🚨"
## The devDependency [tap](https://github.com/tapjs/node-tap) was updated from `12.0.2` to `12.1.0`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Ftap-12.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

tap is a devDependency of this project. It **might not break your p

[2018-11-13 01:09] rdococ commented on #597
I'm just some dude from the internet (well, I do use Scratch regularly) giving my 2 cents.

I agree that if script-local variables are going to be added, they should be added right. That is to say, they should be intuitive and easy to grasp for newer Scratchers.

**Appearance:** I think that the block to create a script-only variable should be called "create a script-only variable named (my variab

[2018-11-13 01:22] evhan55 commented on #1557
I just re-tested this, and it's already working as expected.
Seems to have been addressed in https://github.com/LLK/scratch-vm/pull/1555/, for some reason.
Closing this issue.

[2018-11-13 01:22] #1557 closed, assigned to evhan55

[2018-11-14 15:54] #1745 closed, assigned to kchadha

[2018-11-14 15:54] ericrosenbaum opened #1756 ""Play note" blocks in imported projects do not have the note picker"
### Expected Behavior

All "play note" blocks should display the note picker field when you click the note input.

### Actual Behavior

"Play note" blocks in projects imported from 2.0 do not display the note picker field.

[2018-11-14 16:43] kchadha opened #1758 "Monitors (and monitored variables) from old projects are kept around across project loads"
### Expected Behavior

Loading a new project should not keep around variables from an old project.

### Actual Behavior

Loading a new project (via file upload) after having a project with monitors checked previously,
keeps around the variables from the old project in the new project. This is because the monitorBlocks container is not getting cleared out when clearing the VM runtime.

### Steps to

[2018-11-14 17:39] mrjacobbloom commented on #597
Hm... I think a lot of these cases would also be covered by blocks that let you set/change procedure arguments. In that case, the scoping would be obvious and the `create script variable` block would be unnecessary. The problem is that it would lead to extra args on procedures, which would definitely get confusing.

Also, in either this situation or the script-scoped variables, I don't know what t

[2018-11-14 18:23] #1501 closed, assigned to kchadha

[2018-11-14 18:29] #1674 closed, assigned to khanning

[2018-11-14 19:16] #1706 closed, assigned to mzgoddard

[2018-11-14 19:55] #1756 closed, assigned to ericrosenbaum

[2018-11-14 20:02] #1221 closed, assigned to nobody

[2018-11-14 20:14] joker314 commented on #1699
(Click on the arrows to expand)

<details>
<summary>There are actually two differences in implementation between 2.0/3.0, and both of these changed slightly, which is why Infinity managed to have this bug. This section is just a slight correction regarding that</summary>
<hr>
My analysis was slightly out (both filed PRs still resolve the issue though). In Scratch 2.0, we make sure there's at least

[2018-11-14 23:15] towerofnix opened #1761 "Extension blocks mess up overall script spacing of imported projects"
In general, when you open a project, its block layout should be pretty much the same as in 2.0. Since 3.0's blocks are rather larger than 2.0, there is code to multiply the positions so that blocks are still readable and generally don't overlap each other: https://github.com/LLK/scratch-vm/blob/26ced0dd5806b68d47008a4dd44964717e19714c/src/serialization/sb2.js#L40-L44

The problem is that some bloc

[2018-11-15 00:25] picklesrus opened #1762 "Sensing of block will evaluate a list in the first menu."
This isn't quite an issue yet, but it is about to be once #1425 and https://github.com/LLK/scratch-gui/issues/2389 are fixed.

The problem is this code doesn't check the variable types and it probably should:
https://github.com/LLK/scratch-vm/blob/develop/src/blocks/scratch3_sensing.js#L316

### Expected Behavior

Variables should show up in the first menu of the sensing of block (they don't yet,

[2018-11-15 00:51] towerofnix commented on #1762
BTW, should it be joined by space instead of `,`? I.e, shouldn't it be evaluated [the same way](https://github.com/LLK/scratch-vm/blob/26ced0dd5806b68d47008a4dd44964717e19714c/src/blocks/scratch3_data.js#L93-L124) as clicking that corresponding list block?

[2018-11-15 10:31] #1601 closed, assigned to nobody

[2018-11-15 11:35] #1578 closed, assigned to rschamp

[2018-11-15 16:32] picklesrus commented on #1762
@towerofnix I think the intent was to disallow lists in this menu. It isn't easy to do so (you can't just pick one from the menu), but it is possible.  In scratch 2.0, if you do manage to get a list selected in that menu, it evaluates to 0 and I think that's behavior we want to keep in 3.0.

[2018-11-15 18:20] kchadha commented on #1714
@mzgoddard, just wanted to make sure you're aware of this issue

[2018-11-15 20:50] #1242 closed, assigned to ktbee

[2018-11-16 03:42] kchadha opened #1788 "Investigate errors and warnings in Griffpatch's Tower Defence"
There are lots of errors/warnings that remain when interacting with the following project (e.g. running the project, switching sprites, etc.)

https://llk.github.io/scratch-gui/develop/#15200040

Some of these are variable conflicts:
![image](https://user-images.githubusercontent.com/1786240/48596510-542c8400-e927-11e8-9702-b9e2fe506563.png)

and some of these are warnings about comments:
![image]

[2018-11-16 15:03] towerofnix commented on #786
I can't reproduce this anymore. Tested with directly clicking "ask (answer/timer) and wait" as well as attaching a "when key pressed" block and pressing that key.

[2018-11-17 14:17] greenSnot commented on #597
Could we do it just simply by:
[code]
Here's an example, variable block uses string input(static, can't be modified on runtime) instead of dropdown. It might be better.
https://greensnot.github.io/ZeusPlayground/dist/

[2018-11-18 19:02] evhan55 opened #1764 "Unhandled console error when bluetooth is turned off while micro:bit/WeDo2 are connected"
### Expected Behavior

Turning off bluetooth when micro:bit or LEGO WeDo2 is connected should give a GUI alert, and no errors in the console

### Actual Behavior

Turning off bluetooth when micro:bit/WeDo2 is connected gives GUI alert, **and** errors in the console:
[code]

### Steps to Reproduce

1. Load micro:bit/WeDo2 extension and connect to micro:bit/WeDo2
2. Turn off bluetooth on the OS
3. S

[2018-11-18 19:40] Mr-Dave2 opened #1765 "Lag noticed in Cat Platformer game"
### Expected Behavior

Game playing should have the same rate of motion as when played under Scratch 2

### Actual Behavior

The game lags much more frequently when run under Scratch 3

### Steps to Reproduce

Play this game through level 10.  Since the amount of noticible lag in a game is subjective I’ve added some measurements that, for me at least, quantified what I felt as I played the game.

[2018-11-19 16:01] kchadha opened #1766 "Uploading a sprite should check for conflicting variable IDs"
### Expected Behavior

No two distinct variables in a given project should have the same ID.

### Actual Behavior

Downloading and then uploading a sprite with local variables also duplicates variable IDs.  If the sprite is uploaded into the same project it was downloaded from, this will cause problems with variable monitors (when we start exporting variable monitors in sprites).

E.g. `Sprite1` h

[2018-11-19 20:04] cwillisf opened #1767 "Dispatch test fails on Node 11 (Travis)"
### Expected Behavior

Unit tests should pass on Travis CI.

### Actual Behavior

When Travis CI runs unit tests, it runs the tests under both Node 8 and Node 11. The tests succeed on Node 8 but fail on Node 11.

### Steps to Reproduce

1. Install Node.js version 11 (tested with 11.2.0)
2. Run `npm run tap:unit` in `scratch-vm`

[2018-11-19 22:06] #1767 closed, assigned to cwillisf

[2018-11-20 00:43] cwillisf opened #1769 "SB3 Monitors test fails on Node 10 on Travis CI (and Linux in general)"
### Expected Behavior

Unit tests should pass on Travis CI.

### Actual Behavior

One of the tests in `test/integration/monitors_sb3.js` fails on Travis CI and in other Linux environments:
[code]

### Steps to Reproduce

On a Linux or WSL system:
1. Install Node 10 (tested with Node 10.13.0)
2. Clone this repository
3. `npm i`
4. `./node_modules/.bin/tap test/integration/monitors_sb3.js`

### Oper

[2018-11-20 02:01] evhan55 commented on #1764
May or may not be related to #1744

[2018-11-20 07:03] QinJhonny opened #1771 "when the block "when loudness" or "when timer > 10" is dragged to the workspace, the project running status will turn to be true"
### Expected Behavior

the project running status will turn to be true only after the green flag is clicked just as what scratch2.0 does.

### Actual Behavior

when the block "when loadness/when timer > 10"  is dragged to the workspace,  the project running status will  turn to be true. You could see the green flag button is active.  right now my project use only one button for  toggling start and

[2018-11-20 13:59] rdococ commented on #597
The 'set' and 'change' blocks could have an unevaluated variable reporter input, which Scratchers could drag variables and parameters into.

[2018-11-20 15:12] rdococ opened #1772 "Feature request: Re-evaluate custom block arguments"
Let's say that a Scratcher decides to experiment with the custom blocks feature. Maybe they're trying to program a collision system, and need sprites to move without screen refresh until certain conditions, such as "not touching ground?". So they try this.

![scratchblocks](https://user-images.githubusercontent.com/3169568/48779664-ffdf2680-eccf-11e8-8e94-6019f93d6591.png)

They press the green fl

[2018-11-20 16:33] fsih opened #1773 "Sprites and costumes added from library upload in different ways"
### Expected Behavior
A costume added from the library should look identical in the paint editor and on stage whether it's added as a costume or as one costume in a sprite

### Actual Behavior
Costume and sprite upload follow different flows that result in the SVGs being different. The added costume may look cut off or be positioned differently.

Here is abby-d added as a sprite vs costume
<img wi

[2018-11-20 16:43] fsih commented on #1773
@kchadha proposes instead of basing the way we upload off of whether the file is a .sb2, https://github.com/LLK/scratch-vm/blob/develop/src/serialization/sb2.js#L455 , we instead look at the SVG in loadCostume to figure it out. We may be able to use the "Exported by Scratch" comment in the Scratch 2 svgs.

[2018-11-20 17:48] #1769 closed, assigned to cwillisf

[2018-11-20 18:25] #1425 closed, assigned to picklesrus

[2018-11-21 18:18] #672 closed, assigned to fsih

[2018-11-24 14:07] owenliang opened #1776 "playground example is not working with keyboard."
I am trying to convert sb2/sb3 to html5 player with scratch-vm, but i found something strange described below.

"scratch-vm/src/playground/benchmark.js" is not working with postIOData("keyboard")：

[code]

"scratch-vm/blob/develop/src/io/keyboard.js"  is now using data.key and _keyStringToScratchKey：

[code]

as a result,  my codes do like this for up:

[code]

is this a problem or not , thanks.

[2018-11-26 01:46] benjiwheeler commented on #1758
Also see related issue: https://github.com/LLK/scratch-gui/issues/3427

Seems to me this is likely the same issue

[2018-11-26 03:57] TongDaDa opened #1777 "How to register a event on the scratch-block-select-component to my business?"
Hi 😊, I very favor scratch!

Summary 🔥:

I'm a green hand, but now I encounter a question that maybe change the codes in the `scratch-vm`, I want to listen to the keyboard event on the block that has keyboard listing function in my application, but I don't know how to modify and where to modify this `scratch-vm` right?

What do I want to do? 😢

We need to be compatible with wireless users. The use

[2018-11-26 16:46] #1407 closed, assigned to nobody

[2018-11-26 16:46] #1732 closed, assigned to nobody

[2018-11-26 23:12] evhan55 commented on #1681
Is this related to https://github.com/LLK/scratch-link/issues/97?

[2018-11-27 02:08] #1777 closed, assigned to nobody

[2018-11-27 02:10] TongDaDa commented on #1777
I solve the above question although you don't reply to me...

[2018-11-27 04:12] benjiwheeler commented on #1777
Glad that you found a solution!

We would never make fun of you -- Scratch users and contributors speak many different languages. What matters is that we try to understand and help each other!

If you can, I would love to know what your solution was. It might help someone else.

[2018-11-27 04:42] TongDaDa commented on #1777
Thanks, I use the blockListen function in `scratch-vm` project. it may be a hook for scratch-blocks. @benjiwheeler

[2018-11-27 04:46] TongDaDa commented on #1777
So, I intend to register a hook to my business modules from the `scratch-vm` module so that I can listen to the blocks all event, I can judge the event type to do something.  @benjiwheeler

[2018-11-27 05:52] #1776 closed, assigned to nobody

[2018-11-27 13:17] chrisgarrity opened #1780 "Speaking an unrecognized language doesn't do anything"
### Expected Behavior
"speak 안녕" should make a sound. It's an unrecognized language, but doing nothing seems broken.

### Actual Behavior
When speak is given input in glyphs the language doesn't recognize it's just silent.

There are several languages that Scratch supports that we don't have in the supported language list for the text to speech extension because they don't have male and female voi

[2018-11-27 16:28] evhan55 commented on #1744
We are thinking this was Windows 1803

[2018-11-27 20:06] #1764 closed, assigned to evhan55

[2018-11-28 13:55] thisandagain commented on #1658
/cc @ktbee @kchadha

[2018-11-28 13:57] thisandagain commented on #1662
/cc @ktbee @kchadha

[2018-11-28 13:58] thisandagain commented on #1664
/cc @mzgoddard @kchadha

[2018-11-28 15:33] thisandagain commented on #1695
@ktbee Could you prioritize this issue?

[2018-11-28 16:08] thisandagain commented on #1710
/cc @mzgoddard

[2018-11-28 16:26] thisandagain commented on #1712
/cc @ericrosenbaum

[2018-11-28 16:26] thisandagain commented on #1713
/cc @colbygk @rschamp

[2018-11-28 16:28] thisandagain commented on #1714
/cc @ktbee

[2018-11-28 16:53] rschamp commented on #1752
Flaky tests caused this, not real.

[2018-11-28 16:53] #1752 closed, assigned to rschamp

[2018-11-28 17:00] thisandagain commented on #1721
Resolved.

[2018-11-28 17:00] #1721 closed, assigned to nobody

[2018-11-28 17:04] #1724 closed, assigned to nobody

[2018-11-28 17:05] thisandagain commented on #1725
/cc @chrisgarrity

[2018-11-28 17:12] thisandagain commented on #1729
/cc @kchadha @mzgoddard @ktbee

[2018-11-28 17:23] thisandagain commented on #1733
/cc @chrisgarrity

[2018-11-28 17:24] #1738 closed, assigned to nobody

[2018-11-28 17:28] picklesrus opened #1787 "Unify options in the sensing_of block menus"
The code for what goes in the sensing_of block menus is spread across scratch-gui and scratch-vm in a brittle way. If we change one, there's no way to notice that we need to change the other.

We should find a way to share the options so that if we change them, they only have to change in one place.

Here's one suggestion on how to do this:
Maybe we can keep track of the sprite menu options and th

[2018-11-28 17:31] thisandagain commented on #1743
/cc @kchadha @ktbee

[2018-11-28 17:45] thisandagain commented on #1746
/cc @kchadha @ktbee

[2018-11-28 17:53] thisandagain commented on #1749
/cc @paulkaplan

[2018-11-28 17:54] thisandagain commented on #1751
Moved to LLK/scratch-link#99

[2018-11-28 17:54] #1751 closed, assigned to nobody

[2018-11-28 18:28] thisandagain commented on #1788
/cc @ktbee (This is rather low priority)

[2018-11-28 18:35] thisandagain commented on #1765
/cc @mzgoddard @kchadha

[2018-11-28 18:45] towerofnix commented on #1739
Okay, I'm working on fixing this. I see that we'll need to get the data of where the workspace is scrolled to in the target to do this. That data is stored in [`scratch-gui/src/containers/blocks.jsx`](https://github.com/LLK/scratch-gui/blob/develop/src/containers/blocks.jsx). I'll pass that data through calls to `shareBlocksToTarget` in [`scratch-gui/src/containers/target-pane.jsx`](https://github

[2018-11-28 18:48] thisandagain commented on #1771
/cc @rschamp @paulkaplan Related to conversation earlier this week.

[2018-11-28 18:55] thisandagain commented on #1780
/cc @ericrosenbaum

[2018-11-28 19:05] fsih commented on #1773
@thisandagain suggests that we upload all costumes (but not backdrops) as sb2 for now, and look at fixing this issue more cleanly after launch.

[2018-11-28 20:12] #1762 closed, assigned to picklesrus

[2018-11-28 20:35] ktbee opened #1789 "Implement a way to pass state to extension for loading"
### Expected Behavior

Extensions should have the state they need to load successfully.

### Actual Behavior

Sometimes extensions need state that is stored on the target ([as is the case for the video sensing extension](https://github.com/LLK/scratch-vm/pull/1741)), but targets aren't installed until after extensions are installed. This is a particular issue for the future when extensions become

[2018-11-28 22:22] cwillisf commented on #1681
I'm starting to think this might be due to the issue discussed here: https://stackoverflow.com/a/43673775

I think it's likely that LLK/scratch-link#97 is this same issue.

TL;DR, if I understand correctly: there's a bug, or at least an inconsistency, with the way that Bluetooth security works in desktop vs. WinRT/WPF-style applications. Since Scratch Link is written in C# it tries to use the WinR

[2018-11-29 16:02] ktbee commented on #1695
@thisandagain sure thing!

[2018-11-29 16:04] ericrosenbaum commented on #922
I just stumbled onto this again, and discussed briefly with @rschamp @BryceLTaylor and @thisandagain. Basically, because Scratch 3.0 can e.g. concatenate strings very fast, you can very quickly get a result like this- a variable containing a string almost 300 million characters long!

![screen shot 2018-11-29 at 11 00 43 am](https://user-images.githubusercontent.com/567844/49234623-6813c380-f3c6-1

[2018-11-29 16:16] ericrosenbaum commented on #922
Here's a better repro. It maxes out immediately with the console error, at a little over 900 million characters:

![screen shot 2018-11-29 at 11 13 26 am](https://user-images.githubusercontent.com/567844/49235441-1c621980-f3c8-11e8-93d2-46019fbc48b2.png)

[2018-11-29 16:41] ericrosenbaum opened #1792 "Consider limiting the Makey Makey extension's number of key sequences"
The current behavior of the Makey Makey extension's `when keys pressed in order` block is that any sequence it checks for gets added to the object `this.sequences`, which is checked on each key press. You can drop a variable onto the hat block containing a custom sequence, and it gets added to `this.sequences`.

@rschamp  pointed out that sequences are added but never removed. This creates a poten

[2018-11-29 17:25] benjiwheeler commented on #1792
I think it's important to limit this functionality now, before anyone uses it. Otherwise, we might be stuck supporting it forever!

Could the last sequence used by this hat block be stored as a property on it, and then when we evaluate it to add a new sequence, we first remove the old one from `this.sequences`? Or, could the values we store in `this.sequences` contain a reference or id that points

[2018-11-29 18:17] ericrosenbaum commented on #1792
@benjiwheeler re: limiting it now, I think any limit we place on it will be non-onerous (e.g. would only break a project that uses more than 100 unique sequences... which maybe will never happen anyway?)

re: storing references to hats etc., in general the extensions do not access properties of blocks themselves, and that is probably good for future compatibility. It might be worth considering tho

[2018-11-29 19:31] #1699 closed, assigned to nobody

[2018-11-29 21:45] fsih opened #1794 ""Infinity" is sometimes interpreted as a number in 3.0 where it is interpreted as a string in 2.0"
### Expected Behavior
Blocks in Scratch 2 and 3 behave the same except for intentional differences

### Actual Behavior
The switch to costume block interprets "Infinity" as a number in 3.0, and switches to the first costume. In 2.0 it is always considered a string, and the costume does not switch unless there is a costume named "Infinity"

There are probably other blocks that are affected in a sim

[2018-11-29 21:49] ZenithRogue commented on #1772
Forum topic here: https://scratch.mit.edu/discuss/topic/230046/

[2018-11-29 22:47] joker314 commented on #1794
Maybe, but I don't think so. Anything using the `Interpreter.asNumber` would be detectable using
[code]

The results I got were:
- Looks blocks (costumes and backdrops: hence, 2 matches)
- Operator blocks (comparisons take two inputs: 2 matches)
- Extension manager

The extension manager uses it to parse a response when polling an extension. I don't know exactly how it works, but I don't think it

[2018-11-30 01:30] towerofnix commented on #1772
For what it's relevant, this has (very) long been implemented into [Snap<i>!</i>](https://snap.berkeley.edu/). The specific way it's been done is rather out of the current scope of Scratch 3.0 (since, for example, we definitely don't have first class reporters), but it just goes to show that the idea has existed and been used before.

FWIW, this would also certainly apply to non-boolean (i.e. "tex

[2018-11-30 02:52] Kenny2github commented on #922
Is it necessary to add this limit? It would be nice to not have to use weird hacks to join things over 10240 characters in length.

[2018-11-30 03:07] mrjacobbloom commented on #922
The hack in 2.0 to make really long strings/numbers was to make a list of single-character items and use the list reporter to stringify it. Since the limitation on list length in 3.0 is 200k, if we really need a cap on variable length maybe that'd be an appropriate one, since it's the same length that that old hack would cap out at anyway.

I doubt any 2.0 projects depended on the join block's 102

[2018-11-30 19:53] ktbee commented on #1695
@paulkaplan, do you remember how you chose the color value for the touching color block? I found the behavior you described, but noticed the color values were very slightly different between the fill color of the block and the touching color block value:

![backdrop-fill-color](https://user-images.githubusercontent.com/7991694/49311113-337b3700-f4ae-11e8-8112-a422684aa4c1.png)

![touching-boolean-

[2018-12-01 07:42] greenkeeper[bot] opened #1796 "An in-range update of docdash is breaking the build 🚨"
## The devDependency [docdash](https://github.com/clenemt/docdash) was updated from `1.0.0` to `1.0.1`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Fdocdash-1.0.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

docdash is a devDependency of this project. It **might not br

[2018-12-03 09:37] apple502j opened #1798 "Clones inherit "For this sprite only" list"
### Expected Behavior
Like variables are, "for this sprite only" lists should be independent on each clone.

### Actual Behavior
They share the same list.

### Steps to Reproduce
I made a simple project to test it.
![image](https://user-images.githubusercontent.com/33279053/49365536-6c274480-f72a-11e8-9768-da61622969ad.png)
[LocalListBug.zip](https://github.com/LLK/scratch-vm/files/2638846/LocalLi

[2018-12-03 14:45] ntlrsk opened #1800 "EV3: Move "motor position" block down to reporters"
Recommend moving EV3 **motor position** reporter block down with other reporters.  We have seen confusion about the "motor position"block - people thinking it would set the motor position. It would help to move it down to the other reporters, suggesting below brightness.

![image](https://user-images.githubusercontent.com/4721032/49379958-7de2fa80-f6de-11e8-9cb0-8e39ef49e908.png)

[2018-12-03 17:27] paulkaplan commented on #1746
For some more context, this actually is a problem for saving scratch3 projects:

In Scratch3, the variable gets serialized using JSON.stringify, which does not work with values like `Infinity` or `NaN` (see [here](https://stackoverflow.com/questions/1423081/json-left-out-infinity-and-nan-json-status-in-ecmascript) for why), so they get serialized to `null`, which then makes the parser fail. that m

[2018-12-03 18:15] thisandagain commented on #1746
Thanks @paulkaplan and @ericrosenbaum. I'm raising the priority of this to "critical" and pushing it up in the compatibility project backlog.

/cc @ktbee @kchadha

[2018-12-03 18:44] kchadha commented on #1746
How should we solve this problem? Do we want to do the same thing as scratch 2 and serialize Infinity and NaN as 0?

[2018-12-03 18:52] paulkaplan commented on #1695
@ktbee my steps to repro are the following:
1. Switch to the stage
2. Open the costumes tab
3. Click the rectangle tool
4. Make a big rectangle around the middle of the project
5. Switch to the cat
6. Drag out the "touching color" block
7. Use the eyedropper tool to choose the purple value from the stage
8. Click the block, it says "false"

The color in the "fill" dropdown is 72
![image](https://u

[2018-12-03 19:01] thisandagain commented on #1746
@kchadha That seems like the right way to resolve the issue IMO.

[2018-12-03 20:52] #1545 closed, assigned to ericrosenbaum

[2018-12-03 22:33] thisandagain commented on #1800
/cc @ericrosenbaum

[2018-12-03 22:41] thisandagain commented on #1798
/cc @ktbee @kchadha

[2018-12-03 23:02] kchadha commented on #1623
@thisandagain I think this is probably critical as it can mess up project state pretty badly

[2018-12-04 02:35] Kenny2github commented on #1746
But then Infinity and NaN get weird when stored... why not use a custom serializer or at least a third-party one that handles such values properly?

[2018-12-04 04:02] Mr-Dave2 commented on #1798
Just wanted to add a couple of things:

The videobob's problem program is here: https://scratch.mit.edu/projects/204520399/
It fails under the Current Scratch 3.0: https://llk.github.io/scratch-gui/develop/#204520399
It Works under an older Scratch 3.0: https://llk.github.io/scratch-gui/polly/#204520399

I made another case study: Scratch 2 link: https://scratch.mit.edu/projects/263635669
Fails un

[2018-12-04 10:00] greenkeeper[bot] opened #1805 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.26.1` to `4.27.0`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Fwebpack-4.27.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project. It **might not

[2018-12-04 13:15] apple502j commented on #1030
I am working on the "Overriding Custom Procedure Menu Options" one. Hopefully some fixes on sb2.js seems working.

[2018-12-04 13:34] gabrielcbe commented on #1798
IDK if I should post this here or open a new one, I had a similar problem with the variables inheriting the variables from other sprites  even after creating them as "For this sprite only".

[2018-12-04 13:46] gabrielcbe opened #1806 "Switching languages causes Loaded projects to vanish"
### Expected Behavior

Switching languages should keep the loaded project and only translate the blocks used.

### Actual Behavior

Switching languages after loading a project causes the UI to give back a blank project, not the one you had open.

### Steps to Reproduce

Open Scratch > Load a project form your computer > Switch language from english to any other language (e.g. Portuguese)

after sw

[2018-12-04 14:31] Mr-Dave2 commented on #1798
Just a nit about the title.  "Clones inherit "For this sprite only" list" could be taken to describe what they are supposed to do.  It's immediately clear what you meant from your expected behavior text so perhaps, just for the sake of clarity, that could be the title? ("for this sprite only" lists should be independent on each clone).

[2018-12-04 15:20] #1805 closed, assigned to nobody

[2018-12-04 15:20] thisandagain commented on #1806
@BryceLTaylor Can you reproduce this?

[2018-12-04 15:39] rschamp opened #1807 "Task queue tests are flaky"
### Expected Behavior

_Please describe what should happen_
`npm test` should consistently pass

### Actual Behavior

_Describe what actually happens_
The task queue unit tests sometimes pass, and sometimes fail. Most of the time on Travis they seem to fail.

[2018-12-04 15:52] BryceLTaylor commented on #1806
I sure can!  On mac chrome as well.  It has to be a project that you load with File>upload from your computer.
If the project is loaded from a 2.0 project from production it changes languages normally.

[2018-12-04 15:55] rschamp commented on #1796
Not real, this is due to a flaky test.

[2018-12-04 15:55] #1796 closed, assigned to rschamp

[2018-12-04 16:19] kchadha commented on #1677
Resolved in #1740.

[2018-12-04 16:19] #1677 closed, assigned to nobody

[2018-12-04 16:23] benjiwheeler commented on #1806
FYI tracking this in https://github.com/LLK/scratch-gui/issues/3892 , should we close this issue in favor of that?

[2018-12-04 16:37] ericrosenbaum opened #1810 "Consider changing “when distance < 5” hats to “when distance is close”"
The WeDo and EV3 extensions both have "when distance" hats. They are slightly different from each other, and both are potentially confusing.

WeDo: `when distance [<, >] 50`

EV3: `when distance < 5`

The WeDo hat lets you choose less than or greater than (this is a pre-existing block in scratch 2). The EV3 hat has a smaller default value (because the sensor has a larger physical range).

We have

[2018-12-04 16:42] ericrosenbaum opened #1811 "In EV3 extension, consider using icons for "this way" and "that way""
We have noticed that the EV3 motor blocks to turn each direction ("this way" and "that way") look very similar to each other, which can be confusing:
![screen shot 2018-12-04 at 11 38 31 am](https://user-images.githubusercontent.com/567844/49457690-4301c500-f7b9-11e8-8643-a259edf494d2.png)

We should consider using icons, as in the "turn" blocks:
![screen shot 2018-12-04 at 11 38 45 am](https://us

[2018-12-04 17:08] thisandagain commented on #1806
@benjiwheeler Yup! That's a better description. Thanks.

[2018-12-04 17:08] #1806 closed, assigned to chrisgarrity

[2018-12-04 19:34] benjiwheeler commented on #1811
I think this is a great idea. I did some Scratch 3.0/EV3 with my daughter (7 years old) recently and my impression was that "this way"/"that way" was distracting because it was hard to guess what it meant.

[2018-12-04 20:44] kyleplo opened #1813 "Add play note to Lego Wedo"
### Expected Behavior

There should be a play note block, like in Scratch 2.0

### Actual Behavior

There isn't

### Steps to Reproduce

Look in the Wedo toolbox

### Operating System and Browser

All

[2018-12-04 20:48] picklesrus commented on #1403
Resolved by #1434

[2018-12-04 20:48] #1403 closed, assigned to nobody

[2018-12-04 20:52] kyleplo opened #1814 "Add more intuitive way of color selection for Wedo"
### Expected Behavior

There should be color picker, and also a way to turn the light off.

### Actual Behavior

You just enter a number

### Steps to Reproduce

Try it

### Operating System and Browser

All

[2018-12-04 21:02] ericrosenbaum commented on #1813
We decided to make the existing WeDo 2.0 "play note" block into a legacy block which is hidden from the palette. This was mainly because the WeDo speaker is so quiet that the sound from this block is often inaudible.

[2018-12-04 21:02] #1813 closed, assigned to nobody

[2018-12-04 21:08] ericrosenbaum commented on #1814
This would be nice to have. We've thought about it (see e.g. https://github.com/LLK/scratch-vm/issues/667). One challenge is that the "set light color" block with a number input exists in Scratch 2.0, so we need to keep it around, and one with a color picker instead would be an additional block. We try to keep extensions fairly small, so we haven't added it. It's also not clear that the existing H

[2018-12-04 21:32] picklesrus commented on #1788
Tracking in #1376

[2018-12-04 21:32] #1788 closed, assigned to nobody

[2018-12-04 21:33] picklesrus commented on #1376
Here's another project (from the bug listed above) that seems to be causing problems: https://llk.github.io/scratch-gui/develop/#15200040

[2018-12-04 21:55] picklesrus commented on #1349
Resolved in #1586. Note that number 2 in the comment above is being tracked in #1379

[2018-12-04 21:55] #1349 closed, assigned to kchadha

[2018-12-05 12:27] apple502j commented on #1030
This is still wip, but:
https://github.com/apple502j/scratch-vm/tree/hacked-semi

[2018-12-05 13:28] #1746 closed, assigned to nobody

[2018-12-05 16:51] kchadha opened #1817 "Extension state does not load from 3.0 project when there are no blocks for that extension in the project"
### Expected Behavior

- Project state should be maintained across save and load

### Actual Behavior

When using the video extension and turning the video on from the toolbox without dragging any video blocks to any of the sprites' or stage's workspaces, saving and loading the project does not preserve video state.

### Steps to Reproduce

1. Create a new project in 3.0
2. Load the video sensing

[2018-12-05 17:12] kyleplo commented on #1814
I think a grid would be good, and also a way to turn the light off.

[2018-12-05 17:45] #1620 closed, assigned to ericrosenbaum

[2018-12-05 19:33] #1635 closed, assigned to ktbee

[2018-12-05 19:33] #1062 closed, assigned to ktbee

[2018-12-05 19:45] greenkeeper[bot] opened #1820 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.27.0` to `4.27.1`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Fwebpack-4.27.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project. It **might not

[2018-12-05 20:00] kchadha commented on #1731
This can be done by resetting the runtime's `_blockInfo` array when it is being disposed, but this does not help to clear out extension specific state/modifications to the project (e.g. the video display on the stage for the video sensing extension). For that each extension will need to have a `dispose` function, react to the RUNTIME_DISPOSED event, or have some other method of clearing its "state

[2018-12-06 04:51] kchadha commented on #1633
Documented here: https://github.com/LLK/scratch-vm/wiki/Compatibility#list-item-limit

[2018-12-06 04:51] #1633 closed, assigned to kchadha

[2018-12-06 10:32] #1623 closed, assigned to paulkaplan, picklesrus

[2018-12-06 10:32] #1608 closed, assigned to paulkaplan

[2018-12-06 14:21] #1798 closed, assigned to nobody

[2018-12-06 15:48] chrisgarrity opened #1824 "revisit Video Sensing motion sensitivity"
The current `when video motion > 10` default can be triggered when there is no 'motion' in some situations.

At a workshop at the Flagship Clubhouse, there was a project with two sprites with the webcam positioned so that they were in front of a blank (off white) wall. The `when video motion > 10` would trigger even if there was no apparent motion. At `>50` it stopped triggering randomly.

Potenti

[2018-12-06 16:05] #1820 closed, assigned to nobody

[2018-12-06 19:06] greenkeeper[bot] opened #1826 "An in-range update of scratch-l10n is breaking the build 🚨"
## The devDependency [scratch-l10n](https://github.com/LLK/scratch-l10n) was updated from `3.1.20181129221712` to `3.1.20181206185857`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Fscratch-l10n-3.1.20181206185857).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

scratch-l10

[2018-12-06 19:31] ktbee commented on #1695
@paulkaplan that's a good question, I had initially thought eye dropper rounding was the issue as well. However, I think I've traced the discrepancies to being something in scratch-blocks. I found that the `change` event was firing on the color picking block even when I just clicked on the color and didn't change any values in the UI.

I demoed the issue in the gif below. I have [a console stateme

[2018-12-06 20:17] ktbee commented on #1682
closed via #1716 !

[2018-12-06 20:17] #1682 closed, assigned to ktbee

[2018-12-06 20:52] rschamp commented on #1807
Builds after #1804 still sometimes fail, so this is still an issue. Fixed temporarily with #1808.

[2018-12-06 21:50] kyleplo opened #1827 "NXT inputs do not work in EV3 extension"
### Expected Behavior

NXT inputs (touch, color, distance sensors) should work when plugged into the EV3

### Actual Behavior

The only blocks that work are motor blocks (including motor angle) and play beep.

### Steps to Reproduce

Try using an input block with an NXT touch, color or distance sensor.

### Operating System and Browser

Windows 10 Chrome 70

[2018-12-06 22:24] #1681 closed, assigned to evhan55, cwillisf

[2018-12-07 15:24] #1728 closed, assigned to paulkaplan, kchadha

[2018-12-07 17:56] ericrosenbaum opened #1828 "Sending motor commands very fast to EV3 causes unresponsive state"
### Expected Behavior

It should be possible to safely run Scratch code that tries to send tens of thousands of motor commands per second to an EV3. It is fairly simple to do this inadvertently.

### Actual Behavior

This program sends tens of thousands of broadcast messages per second, each of which triggers a motor command:

![screen shot 2018-12-07 at 12 49 14 pm](https://user-images.githubuser

[2018-12-07 17:59] evhan55 commented on #1828
Eric said he saw this on Mac, Chrome, Scratch Link 1.1.11

[2018-12-07 20:02] picklesrus opened #1829 "Clarify what "dispose" means for the runtime"
The purpose of Runtime's dispose isn't well defined.

Here are a few examples, though there are likely more:
- It doesn't stop the stepping loop for threads, (is this an oversight or intentional?)
- It only clears some monitor blocks because of toolbox block recycling (See discussion in #1818)

[2018-12-07 20:08] #1758 closed, assigned to picklesrus

[2018-12-07 20:30] #1826 closed, assigned to nobody

[2018-12-10 20:58] benjiwheeler commented on #1731
Note that any hardware should be set to disconnect as well. Currently, it stays connected.

[2018-12-11 19:07] kchadha commented on #1450
I tested all the projects mentioned in this issue, and don't get the BSOD for any of them except for the one that is a .sb file.

[2018-12-11 19:07] #1450 closed, assigned to nobody

[2018-12-11 19:11] kchadha commented on #1704
Fixed with https://github.com/LLK/scratch-gui/pull/3961

[2018-12-11 19:11] #1704 closed, assigned to kchadha

[2018-12-12 07:45] greenkeeper[bot] opened #1835 "An in-range update of tap is breaking the build 🚨"
## The devDependency [tap](https://github.com/tapjs/node-tap) was updated from `12.1.0` to `12.1.1`.

🚨 [View failing branch](https://github.com/LLK/scratch-vm/compare/develop...LLK:greenkeeper%2Ftap-12.1.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

tap is a devDependency of this project. It **might not break your p

[2018-12-12 13:28] #1835 closed, assigned to nobody

[2018-12-12 15:16] ericrosenbaum opened #1836 "Consider adding "last key pressed" reporter to Makey Makey extension"
We could add a reporter block that contains the name of the most recently pressed keyboard key. So for example it would report the string "a", "space", "up arrow", etc.

This would be helpful when debugging Makey Makey projects. It also seems like it would be useful beyond Makey Makey, for projects that let users interactively type in words (especially when combined with the existing "when any key

[2018-12-12 16:49] ZenithRogue opened #1837 "Add <is the pen down?> block"
I was playing around in the ```lib.min.js``` file in the gui, and it only took me a few lines of code to include a ```<is the pen down?>``` block to the pen extension. This has been a long requested feature on the Scratch forums, and is incredibly easy to implement.

I haven't found any issues with it so far, and works correctly across all sprites AFAIK

**Block definition:**
[code]
**Block functi

[2018-12-12 17:11] #1695 closed, assigned to kchadha

[2018-12-12 17:54] mzgoddard commented on #1729
@joker314 I opened a [PR](https://github.com/LLK/scratch-vm/pull/1839) for a small change related to your [Nov 6th comment](https://github.com/LLK/scratch-vm/issues/1729#issuecomment-436439992). Though instead of returning `null` when we don't see `params` on the stack frame, the stack frame will have `params` initialized for each "procedure" stack frames. Stack frames are used for a few things ot

[2018-12-13 02:12] kchadha opened #1844 "Make utility for common integration test setup"
@mzgoddard [noted](https://github.com/LLK/scratch-vm/pull/1834#discussion_r241077186) that code snippets like the one below are used throughout several integration tests. Make a common utility to abstract this out for easy test setup.

[code]

[2018-12-13 02:13] #1495 closed, assigned to kchadha

[2018-12-13 02:13] #1507 closed, assigned to kchadha

[2018-12-13 02:29] evhan55 opened #1845 "Hardware Extensions: sometimes device doesn't disconnect when Scratch disconnects from it"
### Expected Behavior

When I click 'Disconnect' in the connect dialog while a WeDo2 is connected, the status icon should turn orange and the WeDo2 LED should turn off and go into 'disconnected' mode, and no data should be sent or received

### Actual Behavior

Sometimes, when I click 'Disconnect' in the connect dialog while a WeDo2 is connected, the status icon does turn orange, but the WeDo2 LED

[2018-12-13 14:40] evhan55 commented on #1547
This is duplicated here: https://github.com/LLK/scratch-vm/issues/1508

[2018-12-13 14:40] #1547 closed, assigned to ericrosenbaum, evhan55

[2018-12-13 16:27] #1726 closed, assigned to kchadha

[2018-12-13 20:59] #1714 closed, assigned to kchadha

[2018-12-13 22:46] Mr-Dave2 commented on #1077
Just wanted to add another user's program that appears to be affected by this.  -ShadowOfTheFuture- reported in this post https://scratch.mit.edu/discuss/topic/308114/?page=14#post-3346362 that stacks in this program don't show up:

https://scratch.mit.edu/projects/269991846/
https://beta.scratch.mit.edu/#269991846

This time it looks like the problem list name is [G][P]"echo"

[2018-12-14 02:56] MaggieLu opened #1846 "run project(with forever block) causes high CPU usage in Chrome"
### Expected Behavior

Lower CPU usage in browser when running a project with a forever block

### Actual Behavior
When running a project which contains a forever block and few other blocks, the CPU usage is always around 80%. At the same time, if I do other actions (e.g. switch sprites, switch block categories in the toolbox), the CPU usage can be higher than 95%. (It reaches 100% once occasional

[2018-12-14 09:13] apple502j opened #1847 "Makey Makey blocks are not translated"
The menu item is translated but the block itself is not.

[2018-12-14 12:52] TheLogFather commented on #1846
This is a consequence of the way Scratch schedules script execution when there are no (potential) changes to anything on-screen.

In that case, you're asking Scratch to do 'pure computation', and it doesn't need to waste any time trying to update any on-screen changes, so it runs scripts as if it's in turbo mode.

As an example, create the following:

when GF clicked
set [counter v] to [0]
forever

[2018-12-14 13:22] thisandagain commented on #1847
/cc @ericrosenbaum @chrisgarrity

[2018-12-14 17:54] kchadha opened #1848 "Stopping other scripts while asking a question that was overridden with a say bubble should not clear bubble"
### Expected Behavior

In Scratch 2.0, say bubbles are treated differently from ask bubbles. Say bubbles do not get cleared when running `stop other scripts in this sprite` but ask bubbles do.

### Actual Behavior

#1831 fixes an issue where the ask bubble wasn't getting cleared after stoping other scripts, but this change introduces a subtle issue described below.

If a sprite is currently asking

[2018-12-14 18:24] thisandagain commented on #1848
/cc @ktbee

[2018-12-14 21:31] TheLogFather commented on #1848
I would question whether the desired option here is making the behaviour completely compatible with Scratch 2...

As I mentioned in https://github.com/LLK/scratch-gui/issues/3932#issuecomment-445558980, I think there's an inconsistency in Scratch 2 in that, while "stop other scripts in sprite" does remove a bubble for an ask block that was still running, it doesn't for a say/think block *that was

[2018-12-15 03:16] towerofnix commented on #1836
I think this is a similar (if not the same) discussion topic as LLK/scratch-blocks#1685 - it would be useful to have the names be visually translated so that they make sense to users unfamiliar with English, but it could cause issues with programming Scratch projects (e.g. "if (last key pressed) = space", or doing something like "add (last key pressed) to (secret code)" and "when (secret code) pre

[2018-12-16 13:00] kyleplo opened #1851 "Move current language to dropdown option"
### Expected Behavior

"language" is a separate block

### Actual Behavior

It should be a dropdown option. Otherwise, Scratchers might discriminate others by not allowing a project to be run by people who speak certain languages, like this:

![image](https://user-images.githubusercontent.com/31634240/50053772-a1f40200-0108-11e9-832d-526508d9c43b.png)

But if it were in a menu, this would be impos

[2018-12-16 16:55] towerofnix commented on #1851
Agreed - I'm just worried that if there are existing projects that use this block, or tutorials and the like, they would be broken / require updating, and we might be too close to release to have the time to make any required changes.

[2018-12-17 19:12] kchadha commented on #1848
It should be noted that this bug will not manifest itself until #1831 is merged (it isn't yet).

[2018-12-17 20:48] BryceLTaylor opened #1855 "Ask prompt disappears when switching to project page and never comes back"
@kchadha writes:
Click “Ask and wait” in editor mode, switch to project page view, question prompt and ask bubble gets cleared, switch back to editor mode, see that the `ask and wait` block in the toolbox is still glowing

### Steps to Reproduce

Create a new project
Drag an Ask and Wait sensing block onto the workspace (optional)
Click an Ask/Wait block on either the workspace or the blocks palle

[2018-12-18 16:46] knandersen opened #1858 "Kitten 'meow' for Danish, Dutch and Icelandic doesn't sound right."
### Expected Behavior

With the Text-to-Speech extension, using the Kitten voice in Danish, Dutch, and Icelandic, the 'meow' doesn't sound right.

### Actual Behavior

In Danish, the meow sounds more like 'me-u' and feels truncated.
In Dutch, the meow sounds more like 'me-um'.
In Icelandic, the meow sounds more like 'me-uf'.

For an example of how 'meow' is pronounced in Danish, see: https://youtu